[2016-10-14 13:17] punker76 commented on #2703
@alex-nicholas Can you create a short app for this scenario?

[2016-10-14 13:50] punker76 commented on #2702
@p76984275 I don't know what happens if we only change the `Product version` on every build and leave the other always the same...

Is the 1.4.0 with same product version 1.4.0 greater than a dll with 1.4.0 and 1.4.0.xyz as product version?

![2016-10-14_15h46_27](https://cloud.githubusercontent.com/assets/658431/19389808/ae42dc7e-9225-11e6-8d60-8af8f0a13c47.png)

[2016-10-14 14:17] punker76 commented on #2702
@p76984275 ...or something like this...

![2016-10-14_16h17_04](https://cloud.githubusercontent.com/assets/658431/19390744/b77f1236-9229-11e6-90de-d3030cf9ca23.png)

[2016-10-14 14:24] punker76 commented on #2702
@p76984275 ...and finally this... `Assembly Version` always 1.x.0 for pre-release and for the stable version all the same => 1.x.0

![2016-10-14_16h23_08](https://cloud.githubusercontent.com/assets/658431/19390928/a2f2778a-922a-11e6-9762-a34ef3b372ed.png)

[2016-10-14 14:32] punker76 commented on #2702
@p76984275 -> MahApps.Metro 1.4.0-ALPHA021

[2016-10-14 22:49] sleman commented on #2694
Unfortunately I need that setting or else taskbar shows when app is fullscreen.

[2016-10-16 12:19] punker76 commented on #2697
@avechuche I think this is not related to MahApps.

[2016-10-16 12:19] #2697 closed

[2016-10-17 08:46] p76984275 commented on #2702
@punker76 Sorry for not replying you sooner.

The issue is caused by the file version (**AssemblyFileVersion**) which is used in deployment. Windows Installer will check it when performing upgrading.

1.4.0-alpha21 is not a valid AssemblyFileVersion format which caused the file version to be 0.0.0.0 :
![2016-10-17_14-48-03](https://cloud.githubusercontent.com/assets/14271763/19427807/d6bfb532-9478

[2016-10-17 09:12] punker76 commented on #2702
@p76984275 First approach is now live -> MahApps.Metro.1.4.0-ALPHA022

[2016-10-17 09:12] #2702 closed

[2016-10-17 12:52] jumulr commented on #1970
Hi, using **Visual Studio 2015 update 3, .Net 4.6.2** i get those two errors, alternatively and randomely :
- The type BorderlessWindowBehavior from assembly MahApps.Metro was created with a previous version of Blend SDK which is not supported in a Windows Presentation Framework 4 project.
- Can't add an instance of type 'BorderlessWindowBehavior' to a collection of type 'BehaviorCollection'. Only

[2016-10-17 13:53] jumulr opened #2705 "Mahapps' behaviors broken starting from .Net 4.5"
Hi, using **Visual Studio 2015 update 3, .Net 4.6.2** i get those two errors, alternatively and randomely :

-  The type BorderlessWindowBehavior from assembly MahApps.Metro was created with a previous version of Blend SDK which is not supported in a Windows Presentation Framework 4 project.
-     Can't add an instance of type 'BorderlessWindowBehavior' to a collection of type 'BehaviorCollection'

[2016-10-17 13:56] punker76 commented on #2705
@jumulr The Templates are very old, so have you tried to create an app without them? Only using NuGet and the Quick start?

[2016-10-18 13:43] jumulr commented on #2705
Yes i tried, i mentioned the templates so you can reproduce it.
Anyway, it turns out to be a Visual Studio 2015 installer issue related to [this one ](https://connect.microsoft.com/VisualStudio/feedbackdetail/view/755407/xaml-designer-will-not-display-when-using-blend-sdk-behaviors).
Everything is working fine now !

[2016-10-18 13:43] #2705 closed

[2016-10-18 19:27] xmedeko opened #2706 "MetroWindow GlowBrush more blur in 1.3.0"
We have upgraded MahApps from 1.1.2 to 1.3.0 and use `MetroWindow` with:

[code]

When the window is active, then the top window border is more blur in with the 1.3.0 than with the 1.1.2, see the images:
Top window border for **1.1.2** (I like more):
![glow_1_1_2](https://cloud.githubusercontent.com/assets/1101801/19492837/a8da5df6-9578-11e6-92e2-4e31d8607df7.png)

Top window border for **1.3.0**

[2016-10-19 09:08] feinstein opened #2707 "Enhance TextBoxHelper.ClearTextButton to Esc Key as well"
## What steps will reproduce this issue?

No real issue, it would be just a nice addition to have the `TextBoxHelper.ClearTextButton` to also trigger a `Clear` by hitting the `Esc` key, or another boolean configuration flag to signal this intent.
### Expected outcome

_Write expected outcome here_
##
### Environment
- MahApps.Metro **v1.3.0**
- Windows **10**
- Visual Studio **2015**
- .NET Framew

[2016-10-19 11:34] amithasan commented on #2635
Thank you very much.

[2016-10-19 19:07] vladano opened #2708 "Set MetroTabItem ControlsHelper.HeaderFontSize using code"
## What steps will reproduce this issue?

I add additional button on TabControlExamples.xaml from MetroDemo
    <Button Click="AddNewTab_Click">Add New Tab</Button>

On click event I try to add additional MetroTabItem using code to existing MetroTabControl
[code]

[code]

I don't know how to set value for HeaderFontSize using code ?
In XAML that can be set using Controls:ControlsHelper.HeaderFontS

[2016-10-20 20:19] vladano commented on #2708
I find the "work around" solution ... Not perfect but working
Inside TabControlExamples.xaml I add MetroTabControl.Resources

[code]

[code]

[2016-10-20 20:19] #2708 closed

[2016-10-21 07:35] AndrzejKl commented on #2708
try to add this:
[code]

[2016-10-23 09:51] Nfactor26 opened #2709 "Getting a red line across window when Document is not active for Avalon Dock"
## What steps will reproduce this issue?

Create a metro window and host AvalonDock inside it.

[code]

If one of the document is initially selected and then i select an anchorable tool ,
there is a red border just above the docking manager , across entire window.

**_Write problem description here_**

When inspected with visual studio live navigator, i noticed the following hierarchy:
![image](ht

[2016-10-24 15:09] kamilkosek opened #2712 "TextBox "Auto" Watermark-text"
## What steps will reproduce this issue?

Not a real issue but a question.
Would it be possible to automatically set the watermark text to the bound property name ?
Or even better, take automatically the value of the Display-Attribute from the property as the Watermark text.
Lets say I got this Model

[code]

and on the textbox looks e.g. like this

[code]

All the best,
Kamil

[2016-10-24 20:18] punker76 commented on #2480
Added with https://github.com/MahApps/MahApps.Metro/pull/2704

[2016-10-24 20:18] #2480 closed

[2016-10-26 01:10] h82258652 commented on #2591
@punker76 still here? Maybe I should open another issue?

[2016-10-26 12:36] muriloebsantos opened #2713 "Weird animation on combobox with only one item"
## What steps will reproduce this issue?
Load a combox with only one item
Click on the combox to show the items

### Expected outcome

It will open the combobox with one animation that will increase the text legiblity. When it just opens it's difficult to read the content, it seems like I'm not wearing my glasses.

http://stackoverflow.com/questions/40262033/remove-combobox-animation-on-mahapps

I

[2016-10-26 13:02] punker76 commented on #2713
@muriloebsantos This is a known problem of WPF itself https://blogs.msdn.microsoft.com/text/2010/01/14/cleartypehint/ or http://stackoverflow.com/a/508596/920384
I will look and add this to MahApps as possible as soon for 1.4.0.

[2016-10-26 21:09] maciz84 commented on #1620
I still think this should be a feature out of the box the need to use this control in a usercontrol is very common

[2016-10-26 21:19] maciz84 opened #2714 "Flyouts in a view/usercontrol"
Hi Guys,

I know this wasn't possible a year ago but I honestly believe that the Flyout control needs to be available to be used in a view/usercontrol. Using it only in a windows is very limiting.

Is this still the case and so is there any future possibility in this happening.

Currently I am using an expander in my view to mimic it and it ain't great :(

[2016-10-27 09:11] thoemmi commented on #2714
The scope of flyouts is still the window. I assume you already read @flagbug's [comment](https://github.com/MahApps/MahApps.Metro/issues/1620#issuecomment-65072244):

[2016-10-27 09:17] punker76 commented on #2558
I think this is the same problem what we already issued... https://github.com/MahApps/MahApps.Metro.Resources/issues/1

[2016-10-27 09:17] #2558 closed

[2016-10-27 09:19] punker76 commented on #2578
I close this, cause it's a followed issue from this https://github.com/MahApps/MahApps.Metro/issues/2558

[2016-10-27 09:19] #2578 closed

[2016-10-27 13:33] starkna opened #2715 "Center mouse click crashes applications on some PCs with an Arithmetic Overflow Exception"
## What steps will reproduce this issue?

This issue has occurred on several of our customer PCs when running our application as a 64-bit process.  I cannot personally reproduce the issue, but the customers have verified the fix below resolved the problem for them.

An arithmetic overflow exception occurs, and the stack trace indicates the problem stemming from the Utilities.cs file, specifically

[2016-10-27 15:36] mertens3d commented on #992
@remcoros, Thanks. This was driving me crazy.

[2016-10-27 20:52] robertmuehsig opened #2716 ""ModernUI" control styles"
This issue is a result of a short discussion with @punker76. We are using the [ModernUI](https://github.com/firstfloorsoftware/mui) package in a couple of our WPF projects, because of the elegant look of (some) input controls and (TBH) I prefer some of the styling over the current MahApps styled controls.

Jan told me to list the controls I like from ModernUI and maybe he could do something in the

[2016-10-27 20:52] punker76 commented on #2715
@starkna I changed it and check now for 64 bit process. So check 1.4.0-ALPHA025 to test it out.

[2016-10-27 20:52] #2715 closed

[2016-10-27 21:39] remcoros commented on #992
@mertens3d I knew this would help someone, someday. cheers

[2016-10-27 22:12] #1709 closed

[2016-10-27 23:03] #2497 closed

[2016-10-28 12:42] Prodigio opened #2717 "Tiny cosmetical bug"
It's just a really tiny UI bug. But small issues are important as well. :)

Open a drop down menu with more than one item. Hit Tab so a dashed border will appear around an item. Hit enter to select it. The drop down will collapse again and the dashed border will stay. If you now hover with your mouse over the arrow, so that it'll change it's color, the mouse over color and the dashed border touch

[2016-10-28 12:45] punker76 commented on #2717
@Prodigio Do you mean a ComboBox?

[2016-10-28 12:57] punker76 commented on #2717
@Prodigio Please try v1.3.0

[2016-10-28 13:45] yeasin90 opened #2718 "DateTimePicker combo boxes not populating on Edit Template"
## What steps will reproduce this issue?

Added DateTimePicker.
[code]
Edit default template of DateTimePicker :
![untitled](https://cloud.githubusercontent.com/assets/8789577/19808298/0cdc4024-9d46-11e6-9508-01c8a6c81d1e.png)

When I ran project, Hour-Minute-Second combobox is not working (I didn't changed anything in the generated template) :

![untitled2](https://cloud.githubusercontent.com/ass

[2016-10-28 13:50] punker76 commented on #2718
@yeasin90 I don't know what Blend is doing here. But you can grab the style from this file https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro/Themes/DateTimePicker.xaml

[2016-10-28 14:12] yeasin90 commented on #2718
@punker76 thanks for the solution, getting a build error :( :(
![untitled3](https://cloud.githubusercontent.com/assets/8789577/19809355/c9892850-9d4a-11e6-802c-5eecacaa6548.png)

[2016-10-28 14:16] Prodigio commented on #2717
@punker76 Yes I meant the ComboBox. I tried v1.3.0; issue is still present.

Here's a picture of it.
[http://pasteboard.co/kqozXb2CJ.png](url)

[2016-10-28 14:19] punker76 commented on #2718
@yeasin90 uups, it's internal, I'll change this. but maybe you don't need completely re-style the control, so delete the Controltemplate stuff...

[2016-10-28 14:24] punker76 commented on #2717
@Prodigio This is not a bug, it's a feature... the FocusVisualStyle. It's normal behavior of a ComboBox...

![2016-10-28_16h23_23](https://cloud.githubusercontent.com/assets/658431/19809745/e29a01c2-9d2a-11e6-93c6-00bb9ec5e109.png)

![2016-10-28_16h23_32](https://cloud.githubusercontent.com/assets/658431/19809746/e3ee50be-9d2a-11e6-8f74-ed2c0be938e9.png)

[2016-10-28 14:24] boatschl opened #2719 "ShowMessageAsync Bounds issue"
## What steps will reproduce this issue?

First of all I love your work, its awesome!
I frequently use ShowMessageAsync() for popups.
Today I noticed that if you have a window (not maximized) and move said window out of the visible screen, the popup still takes the window's width as its size, but is moved into the visible part of the screen.
Happens when moving the window out in Y direction as wel

[2016-10-28 14:27] punker76 commented on #2719
@boatschl Do you mean the external Message? Can you make a screenshot?

[2016-10-28 14:35] Prodigio commented on #2717
@punker76 Well my picture is looking different to yours.

[2016-10-28 14:38] punker76 commented on #2717
@Prodigio The screenshots are from a normal Combobox. But the v1.3.0 MahApps style looks similar. It seems yours is from 1.2.4?

[2016-10-28 14:47] yeasin90 commented on #2718
@punker76 OK, thanks :) . Adding the style solved the issue.  Probably Blend generates something which was conflicting

[2016-10-28 14:47] #2718 closed

[2016-10-28 14:47] punker76 commented on #2717
@Prodigio It could also a inner Control imside DataTemplate that get the focus

[2016-10-28 14:50] Prodigio commented on #2717
@punker76 Mine is from a normal ComboBox too. Unfortunately no, it's v.1.3.0.

Back to german: Es ist direkt nach dem Grid eingefügt. Kein DataTemplate o.ä. umschweift es.

[2016-10-28 17:07] yeasin90 opened #2720 "DateTimePicker does not hides for Date Change"
## What steps will reproduce this issue?

In **DateTimePicker**, If just change Only Date and click in any blank space of the screen - DateTimePicker panel does not hides. But if I change first Date then Time and click in blank space, DateTimePicker panel gets hide.

[code]
This issue also exist in the samples

### Expected outcome

DateTimePicker panel should hide when clicking on blank space of

[2016-10-28 20:28] #2720 closed

[2016-10-28 20:31] punker76 commented on #2717
@Prodigio You can prevent this focus style by setting `FocusVisualStyle="{x:Null}"` on the Combobox.

[2016-10-28 20:31] #2717 closed

[2016-10-28 21:59] #2713 closed

[2016-10-28 22:02] punker76 commented on #2713
@muriloebsantos Please try 1.4.0-ALPHA026 for this issue. You must set `RenderOptions.ClearTypeHint="Enabled"` for the ComboBox to enable this for the scrollviewer content presenter. Please let me know if this works. Thx.

[2016-10-28 22:04] punker76 commented on #2709
@Nfactor26 Can you create a short sample (on github)? This makes it easier to debug and find the problem. Thx!

[2016-10-28 22:10] punker76 commented on #2714
@maciz84 I think Flyouts should live at the Window level. You can access Flyouts with MVVM from UserControls. If you need a easier way to do this then you can use the [TinyLittleMvvm](https://github.com/thoemmi/TinyLittleMvvm) from @thoemmi which contains a easy interface for this.

[2016-10-28 22:10] #2714 closed

[2016-10-28 22:19] punker76 commented on #2712
@kamilkosek I think that's not so easy. Cause for this it's necessary to look at the binded property for the DisplayAttribute. I don't know yet how we can do this in an easy way.
/cc @thoemmi

[2016-10-28 22:20] #2703 closed

[2016-10-28 22:25] punker76 commented on #2682
@akusmin Can you post your Xaml codde for this DataGrid? It seems you doing something wrong  with the column styles.

[2016-10-28 22:28] punker76 commented on #2681
I don't think that this is an MahApps issue, so I close it for now.

[2016-10-28 22:28] #2681 closed

[2016-10-28 22:29] #2673 closed

[2016-10-28 22:32] punker76 commented on #2672
@lasikye I don't understand your last comment with the ShowCloseButton. Can you explain this in more details? Maybe a Screenhot?

[2016-10-28 22:32] #2631 closed

[2016-10-28 22:34] punker76 commented on #2388
@pfattisc I tested this on different machines with different multi monitors and all works... I don't really know what's going wrong at your hardware setup :-(

[2016-10-28 22:37] #2035 closed

[2016-10-28 22:37] #2655 closed

[2016-10-28 22:39] punker76 commented on #2653
@JobaDiniz Please try latest 1.4.0 alpha, cause it contains some changes for the control. Thx!

[2016-10-28 22:42] punker76 commented on #2647
I move this to https://github.com/ControlzEx/ControlzEx/issues/18

[2016-10-28 22:42] #2647 closed

[2016-10-28 22:43] #2565 closed

[2016-10-28 22:44] #2566 closed

[2016-10-28 22:48] punker76 commented on #1443
@dealproc Is this still an issue for you if you try the 1.3.0?

[2016-10-29 01:55] yeasin90 commented on #2720
Taking an update from Nuget - would fix it i think :)

[2016-10-29 07:02] maciz84 commented on #2714
Fair enough I won't ask this question again. Thank you guys

[2016-10-29 08:06] akusmin commented on #2682
@punker76 , here it is:
[code]

[2016-10-29 09:15] xxMUROxx commented on #2712
@punker76 Yes it is possible and easy to implement. I am working on a PR. But the requested feature is NET45 only

[2016-10-29 09:55] punker76 commented on #2712
@xxMUROxx Getting the DisplayAttrubute and Binding should be also available in .Net 4, or not? What restriction is it?

[2016-10-30 03:57] robinne opened #2724 "Trying to override Flyout HeaderTemplate"
I want to move the Close button of a flyout from the left to the right side. I think I need to override the TemplateHeader in order to do this. I've tried copying the master code of the flyout based on https://github.com/MahApps/MahApps.Metro/issues/2100 just to see if I can get that to work, and I cannot. The button text shows "M1" and does not do anything. So, below I've tried something very sim

[2016-10-31 02:41] avechuche opened #2725 "Flyout - 2 issues"
## What steps will reproduce this issue?

    <mahApps:MetroWindow.Flyouts>
        <mahApps:FlyoutsControl>
            <mahApps:Flyout Position="Bottom"
                            AutoCloseInterval="3000"
                            IsOpen="{Binding IsOpen}"
                            IsAutoCloseEnabled="True"
                            ExternalCloseButton="Left">
            </mahApps:Flyout

[2016-10-31 04:10] vinsticSmith opened #2726 "How to set splitbutton's background color when IsEnabled=False ?"
I tried Style and ButtonStyle but none of them worked, the background color is still gray.
![image](https://cloud.githubusercontent.com/assets/16721670/19844023/0cf505d6-9f63-11e6-9b64-c3e5365f5858.png)

[2016-10-31 08:07] boatschl commented on #2719
Hi,
here is the screenshot: http://imgur.com/a/ApNpy
I moved the main window 50% out of the screen to the right, thus you see parts of my desktop. I use this code:

private static MahApps.Metro.Controls.MetroWindow Wnd()
{
    return System.Windows.Application.Current.MainWindow as MahApps.Metro.Controls.MetroWindow;
}
public static Task<MessageDialogResult> ShowMessageBoxOkCancel_Async(string mes

[2016-10-31 10:27] Evangelink commented on #2726
You can create your own style based on MahApps style (using the BasedOn property) and then use Triggers (<Trigger Property="IsEnabled" Value="False">) to change the Background property to whatever color you want.

[2016-10-31 13:07] Deadpikle opened #2727 "Maximizing Window Fails on Rare Occasions"
## What steps will reproduce this issue?

You just need to keep maximizing and unmaximizing the window until the bug occurs. Eventually, the maximized window will not fill the whole screen -- at least visually. If you unfocus the window and then come back to it, the window will display correctly.

Screenshot:
![maximize bug one](https://cloud.githubusercontent.com/assets/5092399/19854938/1e3b01e4-

[2016-10-31 15:13] Deadpikle commented on #2727
Believe it or not, I think this bug happens because I have Windows animations turned off. When I turn animations back on, I cannot replicate the issue.

[2016-10-31 15:23] Deadpikle commented on #2727
![Bug GIF](https://cloud.githubusercontent.com/assets/5092399/19859630/5991dcae-9f5c-11e6-9386-055da188c200.gif)

[2016-10-31 17:18] muriloebsantos commented on #2713
Unfortunately it didn't work. I updated the package and I set RenderOptions.ClearTypeHint="Enabled"

[2016-10-31 17:21] punker76 commented on #2713
@muriloebsantos The ClearType or the animation? The animation is not affected by this

[2016-10-31 17:24] muriloebsantos commented on #2713
Sorry, the animation.

[2016-10-31 17:28] punker76 commented on #2713
@muriloebsantos Animation is controlled by SystemParameters.ComboBoxPopupAnimationKey

[2016-10-31 17:36] muriloebsantos commented on #2713
You gave me keyword I needed! Then I search on stackoverflow and found the solution: http://stackoverflow.com/a/25502880/3517029

 <Controls:MetroWindow.Resources>
        <PopupAnimation x:Key="{x:Static SystemParameters.ComboBoxPopupAnimationKey}">None</PopupAnimation>
    </Controls:MetroWindow.Resources>

[2016-10-31 22:21] TheBottleGit opened #2728 "Problem With Flat Button Animation"
## What steps will reproduce this issue?

I change background and foreground for a flat button.

### Expected outcome

Animation don't work.

How to make animation like a flat button?
--
### Environment

- MahApps.Metro __v1.4.0-ALPHA026__
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.5__

[2016-10-31 22:39] TheBottleGit commented on #2728
Template:
[code]

App.xaml : `<ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/FlatButton.xaml" />`

[2016-11-01 13:58] Deadpikle opened #2729 "[Enhancement] Don't remove window border if MaxWidth/MaxHeight < Resolution on maximize"
## What steps will reproduce this issue?

1) Set MaxHeight/MinHeight to < resolution of monitor
2) "Maximize" application by dragging to top of screen or by clicking the maximize button
3) Window border is gone!

If MaxWidth/MaxHeight is < the current resolution of the monitor, the application can still be "maximized" by dragging the window to the top of the monitor. This happens in stock WPF apps

[2016-11-02 08:04] dealproc commented on #1443
That job has long since passed on... Will take a look at this however, as I believe i still have use cases for this. I'll close this case, for now, and re-open if necessary.

[2016-11-02 08:04] #1443 closed

[2016-11-02 08:46] punker76 commented on #2728
@TheBottleGit If you mean the mouse over action, then it seems this is a bug for the button itself. I found this and can confirm that it's not working if you set the Background on the Button itself. [MSDN link](https://social.msdn.microsoft.com/Forums/vstudio/en-US/bfb9d5d0-c526-4c34-b675-84020d2de189/buuton-ismouseover-trigger-not-working?forum=wpf) Craziness, yes.

This works sample works for me

[2016-11-02 08:46] #2728 closed

[2016-11-02 09:20] punker76 commented on #2726
@vinsticSmith @Evangelink Just noticed and tested that it's not so easy to override the SplitButton style and should be changed in future

[2016-11-02 09:29] punker76 commented on #2719
@boatschl but your screenshot uses the external variant of the message dialog... cause I cannot reproduce this issue with the normal message box which is always shown inside the window.

[2016-11-02 10:06] punker76 commented on #2724
@robinne Here is an example how to override the `HeaderTemplate`. It inverted the Button and Text for Left and Right Flyout.

[code]

You can use this template like in the following sample and can also bind to your command which is executed if you click the close button.

[code]

[2016-11-02 10:06] #2724 closed

[2016-11-02 14:03] collegedude commented on #2542
Hi,
I cannot enable the "select all on focus" for NumericUpDown control, it won't work neither with latest release 1.3 nor 1.4.0-ALPHA026 
`<NumericUpDown metro:TextBoxHelper.SelectAllOnFocus="True" SelectAllOnFocus="True" />`
Do you have any ideas?
Thanks,
collegedude

[2016-11-02 14:16] punker76 commented on #2542
@collegedude You need only `metro:TextBoxHelper.SelectAllOnFocus="True"` the other one is obsolete. It works at the main demo.

[code]

![2016-11-02_15h16_24](https://cloud.githubusercontent.com/assets/658431/19932174/548e601a-a10f-11e6-955b-00d87018078f.png)

[2016-11-02 15:22] collegedude commented on #2542
Hi again,
Thank you! The demo application is in fact working, but not my own application (also with MetroWindow). I will try to reproduce the problem with the demo application...
I have added both, the obsolete property and the TextBoxHelper, just to show that they are both not working.

[2016-11-02 19:41] alinateghi opened #2732 "NumericUpDown Parent Click Event"
Hello

I used this control in a button. Button has click event so when i try to use up/down buttons, button event fired too. also when i touch other part this issue happen expected the textbox of it.

So, how can prevent parent event ?!

Thanks,
Ali
- MahApps.Metro __v1.3__

[2016-11-02 20:46] punker76 commented on #2732
@alinateghi You can handle/prevent this at the Button's click event.

[code]

![buttonclick2](https://cloud.githubusercontent.com/assets/658431/19946817/bcdf6f7a-a145-11e6-9657-f969b02486ce.gif)

[2016-11-02 20:46] #2732 closed

[2016-11-02 20:53] Trakcf opened #2733 "Flyout IsPinned = False"
When a Flyout is not pinned clicking elsewhere in the window will close the Flyout but the click event is captured and not passed on to the button or textbox or what have you that is being clicked.

I think [#1517](https://github.com/MahApps/MahApps.Metro/issues/1517) was about this same issue but it never really got resolved.  In FlyoutsPreviewMouseDown it has "e.Handled = true;"  which seems to

[2016-11-02 20:56] avechuche commented on #2725
1) Answered by @punker76 on StackOverflow. I need to use "IsPined=false".
2) It is possible that when you display the "flyout", the control that had the focus, do not lose it?

[2016-11-02 20:57] punker76 commented on #2733
@Trakcf Can you maybe create a short sample which demonstrates this issue? I checked the sample at the Flyout demo and can't reproduce this one... thx!

[2016-11-02 21:10] Trakcf commented on #2733
I just added the "flyout.IsPinned = false;" line to ToggleFlyout in the demo so it is now
[code]

Then in the flyouts demo window alternate clicking on Show 1 and Show 3, with the current code the progression goes: Click Show 1 -> Flyout 1 Displays -> Click Show 3 -> Flyout 1 Hides -> Click Show 3 Again -> Flyout 3 Displays.

The Show 3 button click is getting swallowed making you click it twice.

[2016-11-02 21:14] punker76 commented on #2733
@Trakcf You should  use and set `IsPinned="False"` in Xaml or in code behind if you create a Flyout completely there.

[2016-11-02 21:23] Trakcf commented on #2733
I just put it there for ease in example.  Putting the IsPinned in the Xaml has the same results when testing with and without the Handled.  I can come up with a full example later if you want one all in the xaml.

[2016-11-02 22:53] Trakcf commented on #2733
OK, I just gutted the FlyoutDemo.xaml file since I figured you would have that around for easy testing, replaced all the body of the MetroWindow with as follows,

[code]

Current version goes
Click Show 1 and Flyout 1 Displays
Click Show 2 and Flyout 1 Dissapears (only FlyoutsPreviewMouseDown handles the event)
Click Show 2 again and Flyout 2 Displays

e.Handled in FlyoutsPreviewMouseDown commente

[2016-11-03 09:33] vinsticSmith commented on #2726
@punker76 Can you give me some example code to solve it temporary？thanks a lot

[2016-11-03 12:40] Evangelink commented on #2726
@vinsticSmith I am sorry I have just assumed that you were new to styling....But actually the control is having some problems. I am just gonna try to find a good solution and post it here (except if @punker76  has some time today).

[2016-11-03 12:44] punker76 commented on #2726
@vinsticSmith I would not say `problems` ;-) It's more unfortunately styling. I have already an idea for later changes

[2016-11-03 14:24] Evangelink commented on #2726
@vinsticSmith I guess that if you need something in the meantime you are going to need to do some copy/paste code.

1/ Copy/paste the following piece of code:
[code]

2/ Change the key (`x:Key="ButtonDropDownStyle" `) to something else (for example: `x:Key="CustomButtonDropDownStyle" `).

3/ Either change the background color directly in the trigger:
[code]
or use the following:
[code]

4/ Sets th

[2016-11-03 17:38] kopacz0 opened #2734 "Mahapps UI is locked in Dialog Window after re-login"
Mahapps UI in Dialog Window is locked when user  re-signs in.
### **Steps to Reproduce**
In order to reproduce please use the below sample app:
- Open Dialog Window from the Main window by clicking "Display Window" button
- The dialog window is displayed
- Lock out using Windows+L button
- Login again
- Try to enter any text to textbox

Per the attached example. User is not able to enter any text

[2016-11-04 10:54] pfattisc opened #2735 "MetroWindow.ShowMetroDialogAsync odd behaviour with provided DialogSettings"
## What steps will reproduce this issue?
Calling
[code]

does not use the provided DialogSettings **myDialogSettings**. Instead the DialogSettings of the base class of **myDialog** are used (and these are by default AnimateHide = AnimateShow = true)

### Expected outcome

I think the provided DialogSettings should be used. More over I think that the provided DialogSettings **myDialogSettings** sho

[2016-11-04 11:02] pfattisc commented on #2388
@punker76 never mind, this is no showstopper at all, plus this might have various reasons despite from MahApps. In a few days the hardware is changed (and new OS) so maybe this will fix it...

[2016-11-04 11:02] pfattisc commented on #2388
@punker76 never mind, this is no showstopper at all, plus this might have various reasons despite from MahApps. In a few days the hardware is changed (and new OS) so maybe this will fix it...

[2016-11-04 12:34] punker76 commented on #2388
@pfattisc I close this for now. Open it again if it's then still an issue... thx.

[2016-11-04 12:34] #2388 closed

[2016-11-04 14:16] boukenka opened #2736 "Failure to compile the project (Version 1.3.0.0) with Visual Studio"
Hello,

I have downloaded MahApps.Metro.1.3.0.0.nupkg and Source code (zip).
I am using Windows 7 and Visual Studio 2013.
.NET Framework 4.0, 4.5, 4.5.1, 4.5.2, 4.6 and 4.6.1 are installed.

I have opened the project from the ZIP and install the package (nupkg) without problem.
When I try to build the project, I get 68 errors and 1 warning (The 'packages' element is not declared).
I get that type

[2016-11-04 14:19] punker76 commented on #2736
@boukenka You need VS 2015 if you want to use C# 6 features. You can take the Community edition -> it's free

[2016-11-04 14:36] cavando commented on #2734
I am having the same issues, has this been looked at yet?

**Environment:**

- MahApps.Metro 1.3.0 stable

- Visual Studio 2013 Professional

- .NET Framework 4.0

[2016-11-04 16:01] boukenka commented on #2736
Thanks for the answer. I have installed VS2015 and install the package.
But now I am getting other type of errors.

Error	CS0121	The call is ambiguous between the following methods or properties: 'MahApps.Metro.Controls.Extensions.BeginInvoke(System.Windows.Threading.DispatcherObject, System.Action, System.Windows.Threading.DispatcherPriority)' and 'MahApps.Metro.Controls.Extensions.BeginInvoke(Sy

[2016-11-04 16:03] boukenka commented on #2736
I have a total of 265 errors and 1615 warnings. Could you please let me know how to solve it please.

[2016-11-06 11:59] Nfactor26 commented on #2709
@punker76  Please find the sample project @ [https://github.com/Nfactor26/Sample_Repro_Bug_2709_MahApps_Metro/](url).
Sorry for the delay in uploading it.

[2016-11-06 17:14] thoemmi commented on #2709
Did you notice the errors in the debug window? I tried your sample code and get these errors during execution:
[code]

[2016-11-06 18:00] Nfactor26 commented on #2709
Yes...I just tried it and  noticed if i try to pin/unpin any tools pane , i get an exception in visual studio and the app will stop on trying to continue with the same error details you are getting . Strangely , this never happened with the actual app i am working on and hence did not catch my attention . I changed the binding of active item for avalon dock in xaml to default from two way and that

[2016-11-06 18:00] #2709 closed

[2016-11-07 02:29] vinsticSmith commented on #2726
@Evangelink @punker76 In fact, I'm new to WPF... I tried to read the source code and improve it but failed. Anyway, thanks a lot for all youve done and advice.

[2016-11-07 12:37] boukenka commented on #2736
Hello, Is there someone who could answer to me?

[2016-11-07 12:41] punker76 commented on #2736
@boukenka It looks like you referenced the compiled dll and the source project in your solution. Make sure you do only one of them.

[2016-11-07 12:42] boukenka opened #2737 "Design for textbox"
Hello,

Since the release of 1.3.0, the textboxes have in their low border (horizontal) like a shadow.
It was not present before (in the 1.2.4). How can I make that this change of design for
textbox is no present (meaning that the 'shadow' is removed)? I have put a 'RED' color to show it (Normally the original color replaced by the 'RED' is E5E5E5)
![textbox](https://cloud.githubusercontent.com/as

[2016-11-07 13:23] boukenka commented on #2736
Thanks. It is solving the issue.

I have just a remark. When the 'MahApps.Metro.1.3.0.0.nupkg' package is applied, it creates reference of 'MahApps.Metro' in the 'MahApps.Metro.NET45' project.
![metro package](https://cloud.githubusercontent.com/assets/16502423/20059281/b794414a-a4f5-11e6-8924-7f03ccbd6ebe.png)

[2016-11-07 13:25] punker76 commented on #2736
@boukenka You don't need the Nuget package if you compile the source of MahApps.

[2016-11-07 13:25] #2736 closed

[2016-11-07 14:45] sagevpremium opened #2738 "Mahapps icons"
Hi,

i don't know how to dynamic change icons in <Controls:MetroWindow.LeftWindowCommands>.

I have somethink like that:

` <Rectangle.OpacityMask>
                            <VisualBrush Stretch="Fill" Visual="{Binding myIcon}" />
                        </Rectangle.OpacityMask>`

But how change it in ViewModel?

Thx for help :)

[2016-11-07 15:03] fussmonkey commented on #2734
We see the same issue, if the window is visible when locking the workstation and logging back in, the UI is unresponsive. If I close the window and re-open it, the entire UI is actually transparent, except for the border.

I can fix the issue by minimizing all windows on my workstation (Win+D). At that point, if I open the windwo again the UI seems back to normal (until the next time I lock the ma

[2016-11-07 16:50] boukenka commented on #2737
I wanted to update my application with the last version (from 1.2.4 to 1.3.0). But with that problem, I will wait until there is a solution for the 'shadow' border of the textbox.

[2016-11-08 13:29] Lillifee opened #2739 "InteropDemo - WindowsFormsHost - Win7Aero flicker"
Hello,

first of all thx for the MahApps it's really great!
I was searching a while but i think I've found the issue which causes me transparent flicker in the interop demo while resizing with the Windows 7 Aero theme. I already saw the solution from DwayneNeed with the interop:AirspaceDecorator and some posts.. but i want to go for the first solution in from issue 1093.

It seems that the animati

[2016-11-08 16:22] omp-git opened #2740 "show PasswordBox content"
I use PasswordBox control in my login form.
but i dont able to show it`s content
i use PasswordChar = '\0'; not work Correctly
does Material Design have tools for show password box characters ?

[2016-11-08 16:37] punker76 commented on #2737
@boukenka Can you maybe post a little bit more Xaml code around your TextBox?

[2016-11-08 21:38] punker76 commented on #2739
@Lillifee Adding/using animations is not the solution to avoid flickering with WindowsFormsHost or WebBrowser. So please use the DwayneNeed dll. I will update the Interop demo with this one.

[2016-11-08 21:38] #2739 closed

[2016-11-08 22:35] punker76 commented on #2739
@Lillifee FAQ is now updated https://github.com/MahApps/MahApps.Metro/wiki/FAQ

[2016-11-09 09:15] Rivolvan opened #2741 "AutoComplete TextBox"
Is there a way to add autocomplete functionality to the MahApps TextBox by using attached properties? Because if I will use another framework just for this, i think it's overkill and the style will not be coherent with MahApps.

--
### Environment

- MahApps.Metro v1.3.0
- Windows 10
- Visual Studio 2015
- .NET Framework 4.5.1

[2016-11-09 15:00] thoemmi commented on #2741
Thanks for your request, this was already asked in #2625.

[2016-11-09 15:00] #2741 closed

[2016-11-09 15:58] Rivolvan commented on #2625
Is it necessary to make a new control or can we add this functionality through **attached properties**? After all, an `AutoCompleteBox`/`AutoSuggestBox` is just a glorified `TextBox`.

[2016-11-10 03:23] gkinsman opened #2742 "Opening new window with IWindowManager (caliburn) sometimes shows only glow border"
## What steps will reproduce this issue?
This is an intermittent issue, but usually only occurs after the app has been open for some time.
I have my main application window open, and on calling this:

[code]
_sometimes_ only a glow border will appear. Most of the time it works.

Once it stops working, the app needs to be restarted. The visual tree is still intact, and controls can be interacted wi

[2016-11-10 11:26] jmecosta opened #2743 "non reloading mtero tab controls"
Hi,

i am using a metro tab control, works really well. Now i have added a Cef control to one of the tabs so i can display some html pages on it.

Now when i change tabs, the content of each tab is reloaded locking out the ui when it reloads. I have implemented this: http://stackoverflow.com/questions/9794151/stop-tabcontrol-from-recreating-its-children

But from the code

[code]

It always return

[2016-11-10 12:39] Evangelink commented on #2738
Which version of MahApps are you using?
I would not recommend doing a binding like this because it will force your ViewModel to expose a property with a strong view type. Instead I would recommend to expose a property of some enum type and use a converter to map the enum value to some icon.

[2016-11-10 14:05] punker76 commented on #2738
@sagevpremium @Evangelink I would recommend to use the IconPacks :-D More power in an easy way https://github.com/MahApps/MahApps.Metro.IconPacks

[2016-11-10 14:07] punker76 commented on #2738
@sagevpremium With the IconPacks you can have a property in your ModelView with where you can bind and the set a different Icon with the give enum kind.

[2016-11-10 15:47] boukenka commented on #2737
Hello,

Here is a project to reproduce the problem. Hope it helps.
PS: Please rename 'TXT' to 'zip'.

[Metro130.TXT](https://github.com/MahApps/MahApps.Metro/files/583771/Metro130.TXT)

[2016-11-11 00:03] avechuche opened #2744 "Flyout IsPinned = False/True"
## What steps will reproduce this issue?

1) When IsPinned="False" and ExternalCloseButton="Left", two clicks are required to give focus to a control (textbox in this case), 1 to close flyout, and 1 to focus control.

2) When "IsPinned = True", and a control has the focus, when the flyout automatically close, the control loses focus.

### Expected outcome

1) Is it possible that with a 1 click, cl

[2016-11-12 14:49] punker76 commented on #2737
@boukenka I got it and will fix it in 1.4

[2016-11-14 17:28] Trakcf commented on #2744
1 is the same as my [#2733](https://github.com/MahApps/MahApps.Metro/issues/2733)
Handled needs to not be set when mouse is clicked outside the flyout, what needs to change is as follows but I had just wanted to check and see if that Handled was in there for any specific reason.

[code]

[2016-11-15 05:29] gkinsman commented on #2734
#2742 is a duplicate of this and an issue I'm seeing too 😃.

To add some more information:

- I've found that width doesn't trigger this bug, but height does. Keeping the window height below ~350px fixes the problem, and makes controls visible/usable again.
- Large memory spikes can occur after some time when the window remains active. The memory doesn't seem to be used by the process itself, but

[2016-11-15 05:41] #2742 closed

[2016-11-15 05:42] gkinsman commented on #2742
Duplicate of #2734

[2016-11-15 19:44] Anapher opened #2745 "Why change App Style in Flyout if the theme Adapt is chosen?"
I don't get why this line is necessary:
https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro.Shared/Controls/Flyout.cs#L355

It just changes the current theme to the current theme. My problem is that i made my own themes and this is destroying everything because it overrides my theme. Would it be possible to remove that line?

[2016-11-16 00:53] matjacques opened #2746 "WindowCommands - Toggle Button And Button Access Key Not Underlined When Pressing Alt"
After the update from the version 1.2.4 to 1.3.0, the access key is no more underlined when pressing the Alt key. This only happens for buttons inside the RightWindowCommands and LeftWindowCommands. However, the action associated with the access key is correctly executed when the Alt+key combination is pressed. All buttons outside these zones properly display the underlined access key.

For exampl

[2016-11-16 02:03] gkinsman commented on #2734
http://discussions.citrix.com/topic/280158-wpf-rendering-issue-after-unlocking-computer/

[2016-11-16 02:55] gkinsman commented on #2734
I've found a workaround for this:

[code]

It appears to be some kind of driver issue in windows that's causing hardware rendering to fail when the shell environment is restored. Forcing software rendering for that window solves the issue for me.

[2016-11-16 13:09] Cicciomnz commented on #2542
Hello everyone,

i want to say thanks for your effort for this amazing work.
Like @collegedude say, the attached property Controls:TextBoxHelper.SelectAllOnFocus is working fine on the application demo, but i cannot use it in my own applications.

Also, the control won't take focus even if i simply click on it, but just when you click the contained value.

[2016-11-16 13:24] collegedude commented on #2542
Hello @Cicciomnz,
In my case it works if I add the following line in every UserControl that makes use of the TextBoxHelper:
[code]

[2016-11-16 14:25] balbinott opened #2747 "Image/Icon on showMessageAsync"
Im sorry for posting this here...
Is possible to load a image/icon on a ShowLoginAsync for example ? Like if was the title ?
thanks in advance and congratulations for this awesome toolkit!

[2016-11-16 15:05] Cicciomnz commented on #2542
It works! Thanks a lot @collegedude

[2016-11-16 15:14] punker76 commented on #2542
@Cicciomnz @collegedude It should also work if this resource is added in App.xaml

[2016-11-16 15:32] punker76 commented on #2542
@Cicciomnz @collegedude

[MahAppsAndIconPacks.zip](https://github.com/MahApps/MahApps.Metro/files/595037/MahAppsAndIconPacks.zip)

![numupdown](https://cloud.githubusercontent.com/assets/658431/20352794/e7b84d92-ac18-11e6-926f-d182687f691f.gif)

[2016-11-16 15:33] punker76 commented on #2542
@Cicciomnz

That's the behavior of all TextBoxHelper stuff like clear button or search button on TextBoxes.

[2016-11-16 21:31] bbday opened #2748 "Access Denied"
I use last app version on wpf i have this problem sometimes 1 for day when i run app on virtual server (i dont' have this issue in my local pc)

E_ACCESSDENIED
   at Standard.HRESULT.ThrowIfFailed(String message)
   at Standard.HRESULT.ThrowLastError()
   at MahApps.Metro.Controls.GlowWindow.GetRelativeMousePosition()
   at MahApps.Metro.Controls.GlowWindow.WndProc(IntPtr hwnd, Int32 msg, IntPtr w

[2016-11-16 21:43] punker76 commented on #2748
@bbday It seems like you don't have the rights at this virtual server to use methods from user32.dll. What is this virtual server? I think this is not related to MahApps.

[2016-11-17 09:40] #2746 closed

[2016-11-17 09:40] punker76 commented on #2746
@matjacques The fix will be available in 1.4.0

[2016-11-17 15:37] bbday commented on #2748
It is vultr vps

[2016-11-17 15:40] punker76 commented on #2748
@bbday Ok, and as I said before, it's maybe not a bug by MahApps

[2016-11-17 16:33] matjacques commented on #2746
@punker76 Thanks! You're awesome :)

[2016-11-17 18:23] #2744 closed

[2016-11-17 18:44] punker76 commented on #2733
->#2744

[2016-11-17 18:44] #2733 closed

[2016-11-18 10:30] #2737 closed

[2016-11-18 10:31] punker76 commented on #2737
@boukenka The fix will be available in 1.4.0

[2016-11-18 11:18] #2678 closed

[2016-11-18 11:18] punker76 commented on #2678
@robertorp This feature will be available in 1.4.0

[2016-11-18 11:21] punker76 commented on #2488
@smygarn You can do this now with the MarkupExtension from the [MahApps.Metro.IconPacks](https://github.com/MahApps/MahApps.Metro.IconPacks#markupextension-only-for-wpf)

[2016-11-18 11:21] #2488 closed

[2016-11-18 11:29] boukenka commented on #2737
@punker76 Thank you

[2016-11-18 11:31] #2435 closed

[2016-11-19 10:20] bernd70 opened #2749 "SplitButton/DropDownButton not behaving as expected"
Hi,

to my understanding a split button is a button which can be pressed on the left part for the primary action and on the right part it can be dropped down (ilke a ContextMenu) for an arbitrary number of secondary actions.

But with the MahApps SplitButton the button does change its content to the selected.
And the DropDown Button just behaves like a ContextMenu and misses the Split part.

My ex

[2016-11-19 15:54] #2712 closed

[2016-11-19 18:30] #2653 closed

[2016-11-19 20:45] jumulr commented on #2508
It might be nice to implement pushback as well. You know, when you swipe less than the half and so don't slide to the next item, just get pushed back at the beginning of the current one.
It is labeled 'Help wanted', may i help ? How ?

[2016-11-19 22:22] #2738 closed

[2016-11-19 22:25] #2672 closed

[2016-11-19 22:26] #2694 closed

[2016-11-19 22:35] #2734 closed

[2016-11-19 22:42] punker76 commented on #2734
@kopacz0
@cavando
@fussmonkey
@gkinsman

I think I fixed this with cafa38c9c4aac459e505ffe25987375ba1c09336
Please test and try latest pre-release 1.4.0-ALPHA029
Thx!

[2016-11-19 23:40] punker76 commented on #2356
@xardison Please try latest version 1.3.0. There are some changes to the DataGrid style which maybe fix your issues. I'll close this now, feel free to re-open it if you still get errors. Thx

[2016-11-19 23:40] #2356 closed

[2016-11-20 00:03] #2338 closed

[2016-11-20 00:05] punker76 commented on #2338
@gigios There is a coerce value callback for the ShowTitleBar property which causes your binding

[code]

[2016-11-20 00:12] #1848 closed

[2016-11-20 00:22] punker76 commented on #1765
@ToBiMaR You can e.g. set the margin of the `FlyoutsControl` to the height values of the title bar and status bar...

[code]

[2016-11-20 00:22] #1765 closed

[2016-11-20 00:25] #2350 closed

[2016-11-20 00:31] punker76 commented on #2740
@omp-git You can show a Password in clear text with the `MetroButtonRevealedPasswordBox` or `Win8MetroPasswordBox` style.

[2016-11-20 00:31] #2740 closed

[2016-11-20 00:37] punker76 commented on #2743
@jmecosta You need to re-style the TabControl style like in http://stackoverflow.com/a/9802346/920384 for the MahApps one. Cause the `PART_ItemsHolder´ is not the default name for the TabControl style. I will enhance the `TabControlEx` in [ControlzEx](https://github.com/ControlzEx/ControlzEx) to make it possible that it works for different styles too...

[2016-11-20 00:37] #2743 closed

[2016-11-20 10:58] #2604 closed

[2016-11-20 13:49] Alkalinee commented on #2716
TextBox and ComboBox are easily adjustable with this code:
[code]
TextBox:
![test](http://fs5.directupload.net/images/161120/ifpv8p64.png)

ComboBox:
![test](http://fs5.directupload.net/images/161120/foq89eh3.png)

That also looks a lot better in the dark theme, IMO the dark theme needs a rewrite anyways because some colors are just too bright.

[2016-11-20 15:06] punker76 commented on #2716
@Alkalinee It's not only to change color, there are also some style changes... all in progress :-D and coming soon

[2016-11-21 12:25] jmecosta commented on #2743
@punker76 thanks for the help, i will keep an eye on controlzEx for your chnages

[2016-11-22 08:12] h82258652 commented on #2508
Thanks @jumulr response, it sound like awesome. I don't have any gesture experience about wpf.
Hope to see the PR.

[2016-11-22 22:57] #2216 closed

[2016-11-23 15:08] DavidIQ opened #2752 "Unable to change the MessageDialog highlighted button"
## What steps will reproduce this issue?

Set DefaultButtonFocus to something other than the Affirmative button for MessageDialogSettings and call the MetroWindow's ShowMessageAsync.

### Expected outcome

Highlighted button is set to the default button. Why? Because users are under the impression that the highlighted button is what will be selected when they hit the Enter key. This does not seem

[2016-11-23 16:57] bbday commented on #2748
Problem it is with Remote Desktop if i use teamviewer i don't have this problem.

[2016-11-23 18:39] DavidIQ commented on #2752
For now this is what I have come up with, which seems to be working as desired:

Create a ResourceDictionary file with the following:
[code]
Then load the resource into the MetroDialogSettings object that is being passed to the ShowMessageAsync method:
[code]

@punker76 Might have been better to post this at StackOverflow maybe, unless you still feel this should be something in the base.

[2016-11-23 22:27] #2752 closed

[2016-11-23 22:28] punker76 commented on #2752
@DavidIQ The style is now set to the selected default button in code behind. Available in 1.4.0

[2016-11-23 22:30] DavidIQ commented on #2752
Great, thanks @punker76

[2016-11-25 15:00] magla42 opened #2753 "Race condition in ShowMetroDialogAsync/HideMetroDialogAsync"
## What steps will reproduce this issue?
We have a MetroDialog that when closed triggers an asynchronous operation that causes another MetroDialog to briefly get shown and then removed again.
_Flashing dialogs like that is of course not a desireable behavior on our applications part and we are on it, but it uncovered a race condition in MahApps that I think ought to be fixed._

Depending on timing

[2016-11-25 15:12] punker76 commented on #2753
@magla42 Can you create a short repo which shows exactly this issue?

[2016-11-25 15:25] magla42 commented on #2753
I think I can do that. Probably won't be today though...

[2016-11-25 22:02] #2687 closed

[2016-11-25 22:02] punker76 commented on #2687
@dartvalince The usage of the SecureString will be  available in 1.4.0

[2016-11-27 06:30] BornToBeRoot opened #2754 "ToggleSwitch IsChecked Binding not working as expected"
## What steps will reproduce this issue?

I have binding with the IsChecked property, but it will not be trigger when

[code]

Code behind
[code]

ViewModel
[code]

### Expected outcome

The value should be updates to true or false when i click / switch the toogleswitch

--
### Environment

- MahApps.Metro 1.3.0
- Windows 10
- Visual Studio 2016
- .NET Framework 4.6

[2016-11-27 18:00] thoemmi commented on #2754
Your view model is wrong. You're returning in the setter if the value **is** different. Instead you have to return is the new value is the same as the old one:
[code]

[2016-11-28 04:06] ToMer-K opened #2755 "MetroAnimatedTabControl first tab font not changing"
## What steps will reproduce this issue?
When using MetroAnimatedTabControl and specifying a font in the FontFamily property the first tab has the default font instead of the new font.   In the designer window all the tabs have the new font, the problem is at execution time.   For example:
[code]

### Expected outcome
![image](https://cloud.githubusercontent.com/assets/18401157/20655980/510b44fc-b

[2016-11-29 15:26] economypowers opened #2756 "Flyout Position top element focus inhibited by title bar"
## What steps will reproduce this issue?

Create a window with a Flyout  position "Top" with a grid inside that has a control in the top row.

If you have a control that is in the top row of a grid inside a Flyout, the title bar is in the way causing issues with the control getting focus.

In the simplest example, I use a ComboBox and can only click into the list at the barest strip of the bottom

[2016-11-29 17:57] BornToBeRoot commented on #2754
Ohh my god... i have a large view model and this was the only one where i used `!=`...

Just forget my post 😃

Thanks!

[2016-11-29 17:57] #2754 closed

[2016-12-01 12:12] magla42 commented on #2753
Here is a very small project that on my computer easily repeats the problem.
[MahAppsRace.zip](https://github.com/MahApps/MahApps.Metro/files/624471/MahAppsRace.zip)

You open a CustomDialog with the button in the title bar, and when you close the dialog another CustomDialog is shown a (ridicilously) short time while the first dialog is closing. Almost every time this causes the HideMetroDialogAsy

[2016-12-02 21:38] chrism00ch opened #2757 "Checkmark in ContextMenu MenuItem not rendering"
## What steps will reproduce this issue?

To reproduce this issue, I created a simple project containing a window with a button and a context menu. For each menu item in the context menu, I set the IsCheckable property to true. The properties are properly set with MenuItem clicks, however, the check mark is not rendered when IsChecked is set to true. I've attached the project where I reproduced th

[2016-12-02 22:54] chrism00ch commented on #2757
I was able to get the check mark to show up by changing the Fill Property of the GlyphPanel to Black from UnsetValue using Snoop. I am unsure why, but the CheckMarkFill DynamicResource is not being set properly.

[2016-12-02 23:03] chrism00ch commented on #2757
I was able to work around this issue by manually setting the application scope resource to a brush that I desired. A possible production ready solution until this is fixed would be to create a static class that edited resources wherever the application entry point was.

``
Application.Current.Resources["CheckmarkFill"] = Brushes.Black;
``

[2016-12-03 20:38] punker76 commented on #2757
@chrism00ch You forgot to add the complete MahApps resources. https://github.com/MahApps/MahApps.Metro#a-short-how-to
Maybe you not followed the quick start guide http://mahapps.com/guides/quick-start.html

So with these resources your problem should be fixed.

[code]

![2016-12-03_21h38_03](https://cloud.githubusercontent.com/assets/658431/20862057/cd7f90da-b9a0-11e6-80bc-4d02ea3eeb11.png)

[2016-12-03 20:38] #2757 closed

[2016-12-04 02:52] LuisHCK commented on #2734
I'm upgrade the nuget package to **1.4.0-ALPHA035** and I still have the same bug when re-login.

**Environment:**
- MahApps.Metro 1.4.0-ALPHA035
- VS Comunity
- .NET Framework 4.5.2
![version](https://cloud.githubusercontent.com/assets/5175137/20863719/c57f5886-b999-11e6-89b1-3c3eaa6b8760.png)
_Note: I tried to resize the window. This is the result_

[2016-12-04 02:59] LuisHCK commented on #2734
@gkinsman sorry for the noob question, but where i put this?
[code]
thank you

[2016-12-04 05:49] punker76 commented on #2734
@LuisHCK it looks like you don't use the MetroWindow...

[2016-12-04 08:49] gkinsman commented on #2734
Ah, @LuisHCK I'm using it with Caliburn, so I have a window manager. If you use plain mahapps you'll obviously need to override the loaded event in your MetroWindow as you have :)

[2016-12-06 09:08] punker76 commented on #2756
@economypowers This will be fixed in 1.4.0. The draggable area is now really only the header (the complete header now) of the Flyout itself.

/cc @thoemmi Now the complete header area is allowed to drag the window. I think this is a better solution instead to restrict it to the TitleBarHeight.

[code]

![2016-12-06_10h03_05](https://cloud.githubusercontent.com/assets/658431/20919275/389f3202-bb9b-

[2016-12-06 09:08] #2756 closed

[2016-12-06 09:16] punker76 commented on #2628
@xxMUROxx Can you look at this?

[2016-12-06 10:42] thoemmi commented on #2756
LGTM. The code is much simpler now 👍

[2016-12-06 11:17] economypowers commented on #2756
Thank you for the wonderfully fast response. I will  be looking forward to the next release.

[2016-12-06 11:35] punker76 commented on #2756
@economypowers You can use and test pre-release 1.4.0-ALPHA036

[2016-12-06 21:14] #2755 closed

[2016-12-06 21:14] punker76 commented on #2755
@ToMer-K This is fixed now and will be available in 1.4.0

[2016-12-07 07:10] bhaidar commented on #999
@remcoros I might be missing something in here. Where do you specify the UserControl that should appear inside the Flyout? In case of multiple Flyouts, how do you specify that? Thanks

[2016-12-07 16:01] punker76 commented on #2213
@fpawel I close this for now, cause I can't reproduce this with the current source. If it's raising again, please add a short application (or put it on Github). Thx.

[2016-12-07 16:01] #2213 closed

[2016-12-08 07:24] nasheayahu opened #2759 "UserControl Only?"
Just wanted to know if you can use it in a UserControl only without defining it in the Main Application Window, because I'm using a combination of WPF Ribbon as the Main Window handler, Material Design In XAML for the body.  I would like to include MahApps.Metro, but there is no way to use it with the Ribbon.
--
### Environment

- MahApps.Metro __v1.3.0__
- Windows __8, 10__
- Visual Studio __2015

[2016-12-08 07:54] punker76 commented on #2759
@nasheayahu It's also possible to add the resources only at the UserControl...

[2016-12-08 15:53] nasheayahu commented on #2759
Thanks, just what I wanted to hear and I appreciate your help....

[2016-12-08 16:19] chrisklepeis opened #2760 "DatePicker SelectionBackground doesn't match accent color"
I have my accent color set to Steel. When set to steel, and text is selected in a TextBox, the SelectionBackground is changed from the default WPF uses.

When selecting the date text in a DatePicker, using the steel account color, the SelectionBackground remains blue.

I think the expected behavior is that the DatePickers SelectionBackground would match the set accent color theme.

[2016-12-08 17:09] nicolaschiret opened #2761 "invalid property path error with AccentedSquareButtonStyle"
## What steps will reproduce this issue?

After update Mahapps.Metro to 1.4.0alpha036, on buttons where I defined style with this:
 Style="{StaticResource AccentedSquareButtonStyle}"

Visual Studio rise this error on my xaml file:
Invalid property path. 'ControlsHelper' doesn't have a public property named 'ContentCharacterCasing'.

The designer can't display the button but when I run my project,

[2016-12-08 19:35] nicolaschiret commented on #2761
ok solved, after mahapps update the old mahapps package was not deleted. I manually delete it and reload visual studio then the error has gone.

[2016-12-08 19:35] #2761 closed

[2016-12-09 11:31] punker76 commented on #2759
@nasheayahu Just put the resources of MahApps inside the UserControl Resources tag...

[2016-12-09 12:01] #2760 closed

[2016-12-09 12:01] punker76 commented on #2760
@chrisklepeis This will be available in 1.4.0 (and pre-release)

[2016-12-09 12:04] punker76 commented on #2692
@Dinevv The VS styles uses such a menu, so please take a look to the [source](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro/Styles/VS/Menu.xaml). I think you can create your own style with the help from this style.

![image](https://cloud.githubusercontent.com/assets/658431/21048474/d9b65b0e-be0f-11e6-9ecb-360f14a78ce7.png)

[2016-12-09 12:04] #2692 closed

[2016-12-09 12:06] punker76 commented on #2691
@dukus I don't know what TeamViewer does which causes this issue. Do you tested the latest version too? But I will close this issue. Thx

[2016-12-09 12:06] #2691 closed

[2016-12-09 13:33] dukus commented on #2691
This not related to TeamViewer, this related to case when no monitor attached to the pc, "normal"  wpf windows is rendered correctly

[2016-12-10 17:21] j-maly opened #2762 "ToggleSwitch - commands triggered wrongly when grid is virtualized"
## What steps will reproduce this issue?

I put ToggleSwitches in standard WPF DataGrid. The grid uses row virtualization. I have also set CheckedCommand/UnCheckedCommand.
Now when the grid is rendered and I scroll in the grid, the check/unchecked commands get called.
I suspect this is caused by virtualization - when an already rendered control gets reused for another row which has the toggle set

[2016-12-12 08:17] xxMUROxx commented on #2628
@punker76 both reported issues are not reproducible. I have validated with current `dev-branch`
![numericupdown](https://cloud.githubusercontent.com/assets/4341039/21092276/a9c75dc4-c04b-11e6-8cd1-75758c463deb.gif)
![numericupdown-1](https://cloud.githubusercontent.com/assets/4341039/21092275/a9c41fce-c04b-11e6-8474-a940fd6cdfd5.gif)

[2016-12-13 11:45] robertmuehsig commented on #2468
I had the same problem and discovered that I missed to include

    <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Accents/BaseLight.xaml" />

in the App.xaml

Without this reference the dialog will always appear in the "default" light theme with blue as the color.

[2016-12-13 20:41] BornToBeRoot opened #2764 "Flyout - Border not shown"
## What steps will reproduce this issue?

Flyout Border not shown

![image](https://cloud.githubusercontent.com/assets/16019165/21158197/87585d88-c17c-11e6-9c9f-8e1b5a260f3e.png)

I've set BorderBrush and Thickness but it dont show anything

![image](https://cloud.githubusercontent.com/assets/16019165/21158235/ae224dd4-c17c-11e6-8f20-18b0eb6c17fd.png)

### Expected outcome

A red border around the

[2016-12-14 23:11] nasheayahu commented on #2759
Thanks again, nice flexibility!..  And just figured out how to create my own Back Stage window using Material Design Tool Kit..

I'm having fun now!...

[2016-12-15 10:30] robertorp opened #2765 "Suggestion new (controls HelperTextBox) component for filter"
## What steps will reproduce this issue?
Not a problem is a suggestion
_Write problem description here_

### Expected outcome

_Write expected outcome here_
TextBox accept layout for filter and others utilities
image by  gmail
![sugestion](https://cloud.githubusercontent.com/assets/10251705/21220322/78fa4930-c29f-11e6-9c6a-9f872e4cb0f9.png)

--
### Environment

- MahApps.Metro __v?.?.?__
- Windows

[2016-12-15 12:31] BornToBeRoot commented on #2764
I found a workaround...

If you set  CloseButtonVisibility & TitleVisibility to Collapsed and then add a border around your content...

![image](https://cloud.githubusercontent.com/assets/16019165/21224019/74ec7766-c2ca-11e6-8f9c-c806f7745594.png)

[code]

Disadvantage:

- You have to create your own title and close-button

Would be nice that we can use the properties of the flyout to set a border

[2016-12-15 16:48] anthony1969 opened #2766 "Flyout - Strange issue with a listview"
Hi,
installing the new version of MahApps i've find a very strange behaviour while using a usercontrol that simply contains a listview. The content of the flyout look like this:

            <mhControls:Flyout Position="Top" IsOpen="{Binding IsOpen}" IsModal="False" Theme="Accent" Margin="0,17,0,0">
                <StackPanel Orientation="Vertical">
                    <TextBlock Text="My sources

[2016-12-15 17:18] punker76 commented on #2766
@anthony1969 can you test the latest pre-release too? Thx

[2016-12-15 20:51] #2766 closed

[2016-12-16 06:18] feinstein opened #2767 "Button Border not Transparent when Focused."
## What steps will reproduce this issue?

Place a `Button` inside a Flyout with some backgound color (mine id Cobalt Accent). When the `Button` has Focus, it's possible to see some of the white background coming off the corners of the border:

![image](https://cloud.githubusercontent.com/assets/8120472/21253477/31690c6c-c346-11e6-9131-48582af0bb2f.png)

### Expected outcome

No white background on

[2016-12-16 10:56] #2767 closed

[2016-12-16 10:58] punker76 commented on #2767
@feinstein This will be fixed in upcoming 1.4.0. The `ToggleButton` had the same issue and is now also fixed.

![image](https://cloud.githubusercontent.com/assets/658431/21260583/f0da60ba-c386-11e6-8f8a-96c4850d557d.png)

![image](https://cloud.githubusercontent.com/assets/658431/21260586/f34c310c-c386-11e6-85a3-ed629e6736ed.png)

![image](https://cloud.githubusercontent.com/assets/658431/21260587

[2016-12-16 13:06] feinstein commented on #2767
@punker76 will #2458 be fixed as well?

[2016-12-16 13:11] punker76 commented on #2767
@feinstein No, cause this would be a visual breaking change

[2016-12-16 13:12] punker76 commented on #2767
@feinstein And why fixing? It's not a bug, it's in this case a feature (IsKeyboardFocusWithin). If you don't like it (and for a workaround), create a copy and remove this lines.

[2016-12-16 18:44] feinstein commented on #2767
@punker76 oh, ok, I got the impression it was a clicked state and not a IsKeyboardFocusWithin state, I will close the other issue then.

[2016-12-16 18:45] #2458 closed

[2016-12-18 19:00] RichiCoder1 opened #2770 "Increase Win10 ToggleSwitch Default Margins"
Increase the Header and Content default margins up from 2 & 3 to something closer to 9 to match the spacing on Windows 10 toggles.

![Example](https://i.imgur.com/tJgY4jA.png)

[2016-12-20 08:55] #1890 closed

[2016-12-20 08:55] #2090 closed

[2016-12-20 08:55] #2346 closed

[2016-12-20 09:11] #2055 closed

[2016-12-20 09:26] #2725 closed

[2016-12-20 09:28] punker76 commented on #2762
I think this is a common problem of such controls (including checkbox columns), so a custom column could maybe fix this.

[2016-12-20 13:21] EmmaHansson opened #2771 "Wrong dotted line in TabControl"
1. Add metro TabControl
2. Add two tab items and name them
3. Add content in Grid control for each tab item

In result you can see a dotted horizontal line. It disappears only when I click twice to same tab.

### Expected outcome

No dotted line

### Environment

- MahApps.Metro __v1.3.0.0
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.6.1

![image](https://cloud.githubusercontent.

[2016-12-20 13:28] punker76 commented on #2771
@EmmaHansson It's not a bug, it's a feature of WPF. You use `ContentControl ` to show your view models and this `ContentControl ` shows a focused rectangle. So you can disable this...

[code]

[2016-12-20 13:28] #2771 closed

[2016-12-21 13:24] tusharjain28 opened #2773 "Double Click on title bar of the Metro Window"
Double Click on title bar of the Metro Window

When i double click on the  title bar of the Metro Window, the window resizes

### Expected outcome

The Metro window should not resize on double click on the  title bar of the Metro Window

I have the code to use the windows Hook (Win32 API) to disable resizing but that code disables it for both double click on the  title bar of the Metro Window  as

[2016-12-21 15:00] BornToBeRoot commented on #2244
I have the same problem as @yoker when opening the context from a notify icon

[code]

@punker76  maybe you can re-open the issue

[2016-12-21 15:07] punker76 commented on #2244
@BornToBeRoot Please create a new issue. And a short app with this scenario would be cool. Thx

[2016-12-21 16:11] punker76 commented on #2244
@BornToBeRoot The trick is to set the `PlacementTarget` too at the click event...

private void Button_Click(object sender, RoutedEventArgs e)
{
    menulabel.ContextMenu.PlacementTarget = sender as UIElement;
    menulabel.ContextMenu.IsOpen = true;
}

![contextmenu](https://cloud.githubusercontent.com/assets/658431/21396441/8d33b58e-c7a0-11e6-8cd6-1bcdec150655.gif)

[2016-12-21 16:25] BornToBeRoot commented on #2244
@punker76 This wont fix it... the background is still white when changing the theme to dark.

![image](https://cloud.githubusercontent.com/assets/16019165/21396928/28fed092-c7a2-11e6-86c4-d4dcd7a8182a.png)

Only restarting the application fix it.
![image](https://cloud.githubusercontent.com/assets/16019165/21396984/571f05aa-c7a2-11e6-8262-b0a7682e295f.png)

[2016-12-21 20:50] punker76 commented on #2244
@BornToBeRoot PR added to your app.

[2016-12-21 21:22] #2261 closed

[2016-12-21 21:23] punker76 commented on #2261
@ZhiCeYang This will be possible with 1.4.0. You can then disable the ContextMenu.

[code]

[2016-12-22 09:17] Sankey28 opened #2776 "I want to make tiles selection like Windows 8 tiles"
###Problem
I want to change the color of tiles which are selected, but I am not able to Select tiles and add tick mark to them.

### Expected outcome
I want to make Mahapps.Metro tiles look like Windows 8 tiles after selection.
--
### Environment

- MahApps.Metro: V.1.3.0
- Windows: Windows 7
- Visual Studio: VS2015 Community
- .NET Framework: 4.5.2

[2016-12-22 16:31] realies opened #2777 "FlatSlider does not stretch horizontally"
Using a FlatSlider style on a slider with `HorizontalAlignment="Stretch"` does not work. Stays fixed to the width property instead.

Can be replicated with `<Slider Style="{StaticResource FlatSlider}" HorizontalAlignment="Stretch" />`

MahApps.Metro 1.3.0-ALPHA186
Win10x64, VS2015, .NET 4.5

[2016-12-22 20:28] #2735 closed

[2016-12-22 20:43] punker76 commented on #2777
@realies this is already fixed in finaly 1.3.0

[2016-12-22 20:43] #2777 closed

[2016-12-22 20:44] punker76 commented on #2776
@Sankey28 Can you explain this a little bit more? Maybe with some screenshots or a sample app?

[2016-12-23 06:14] Sankey28 commented on #2776
![temp](https://cloud.githubusercontent.com/assets/24712341/21448109/b5134cc6-c904-11e6-8381-b42c56845ded.png)
These are my tiles. I want to selected multiple tiles, just like Windows 8 tiles shown below.
![windows-8-selecting-multiple-tiles1](https://cloud.githubusercontent.com/assets/24712341/21448110/b513a9b4-c904-11e6-9765-03bb6bd1f5d6.png)

After selecting these tiles, I want to loop through

[2016-12-23 19:39] yuwenhuisama opened #2778 "Build demo project with Visual Studio 2017 RC and it reports error."
When I use Visual Studio 2017 RC to build demo project it reports error to me, and the component cannot show in the design window correctly either.

--
### Environment

- MahApps.Metro __v1.4.0__
- Windows  10
- Visual Studio 2017RC
- .NET Framework 4.5

[2016-12-24 20:38] relseah opened #2779 "Validation template bug in flyout"
## What steps will reproduce this issue?

The flyout contains multiple textboxes with attached validation. If the flyout opens the validation template will be instantly shown and not after the first invalid input. Also the message is display on the other side of the screen. After an invalid input with open flyout everything works normal again.

### Environment

- MahApps.Metro __v1.4.0__
- Windows

[2016-12-24 23:21] fjlaga opened #2780 "External Dialogs not visible with MainWindow set to IgnoreTaskbarOnMaximize"
## What steps will reproduce this issue?

This issue is happening in my application after I upgraded to 1.4.0. It is reproducible in the demo app by following these steps:

1. Run the MahApp.Metro Demo .Net45
2. Select the Window > Ignore Taskbar on Maximize option
3. Maximize the main window
4. Select Dialogs > Show ShowInputDialog Externally

The main window will dim and disable, the ShowInputDi

[2016-12-25 10:32] wangGuangXu opened #2781 "可不可以添加一个grid全选的功能"
不知道基于什么原因，我发现你们外国人好像没有喜欢在Grid上做全选操作，不知道可不可以为中国人设计一个Grid上全选的功能

[2016-12-26 07:28] ye4241 commented on #2781
（你用中文谁会搭理你的啊，我猜你可能问题是DataGrid的全选吧）
自己实在这种个性化的需求的吧，用WPF的CommandBindings。
http://stackoverflow.com/a/9499537

[2016-12-26 08:18] wangGuangXu commented on #2781
我好奇的是外国人平常不这么操作吗？我其实不在于有人回答我，只要引起外国人重视就可以了。

[2016-12-26 08:45] winnerlbm commented on #2781
建议将问题翻译为英文之后再发送。

winnerlbm@163.com

发件人： 王光旭
发送时间： 2016-12-26 16:18
收件人： MahApps/MahApps.Metro
抄送： Subscribed
主题： Re: [MahApps/MahApps.Metro] 可不可以添加一个grid全选的功能 (#2781)
我好奇的是外国人平常不这么操作吗？我其实不在于有人回答我，只要引起外国人重视就可以了。
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-12-26 09:31] #2781 closed

[2016-12-27 05:10] fjlaga commented on #2780
I've found the cause and a fix for this issue...

The fix for #2694 set the Z-Order of a window to HWND_BOTTOM, HWND_TOP, then blindly set it to HWND_NOTOPMOST. If the window is an external dialog, this is no good. The Z-Order of an external dialog must be set to be after the Owner window.

I've fixed this by adding the following at line 377 in BorderlessWindowBehavior.cs:

`// #2780 Don't blindly

[2016-12-27 15:11] avechuche opened #2782 "EventTrigger in NumericUpDown not work"
## What steps will reproduce this issue?

I need to run a command every time I change the value of numericUpDown. I Try this but I can not make it work.

[code]

[code]

I tried with each EventName (TextChanged, OnTextChanged, ValueChanged, OnValueChanged)

--
### Environment

- MahApps.Metro v1.4.0
- Windows 7
- Visual Studio 2015
- .NET Framework 4.0

[2016-12-27 17:26] avechuche opened #2783 "Some Enhancements for NumericUpDown"
## What steps will reproduce this issue?

1) When someone edits and leaves the field empty (validation template error appear), by default it would have to show the configured minor number (if there is one)

2) If you change the value by keyboard, you can exceed the limit and when the control loses focus, it corrects it. Is it possible that when you reach the limit (major or minor) no longer enter

[2016-12-28 17:30] yuwenhuisama opened #2785 "Vailidation tooltips does not show."
## What steps will reproduce this issue?

When using VSDemo template, Error data's Vailidation Tooltip does not show while red rect does.

--
### Environment

- MahApps.Metro v1.4.0
- Windows 10
- Visual Studio 2017
- .NET Framework 4.5

[2016-12-29 04:01] aminbc opened #2786 "[1.4] Resource Dictionary is not loaded"
## What steps will reproduce this issue?

When using 1.4 ResourceDictionary is not loaded using WPF User Control library project (DLL), it works fine when running as standalone (exe)

### Expected outcome

ResourceDictionary is loaded correctly in DLL project

--
### Environment

- MahApps.Metro __v1.4
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.6.1__
- MaterialDesignThemes

[2016-12-29 09:05] ye4241 commented on #2786
try this code, create a new application or set app to Application.Current, then add merged dictionaries into resources.
[code]

or
just add to UserControl.Resources as MergedDictionaries.

[2016-12-30 08:13] aminbc commented on #2786
It is already set as merged dictionary

Forget to mention that It works fine if the DLL is called from my standalone WPF exe and the resourceDictionary from dll is applied correctly.
It does not work when I called the dll from another system (Winform).

The same codes is working find on 1.3 only does not work when I upgraded to 1.4

[2016-12-30 08:37] punker76 commented on #2786
@aminbc A sample would be helpful.

[2016-12-30 09:11] punker76 commented on #2786
@aminbc Can you show us the errors? So I or @ButchersBoy can fix it. Thx

[2017-01-02 12:09] GovindRulz opened #2787 "Close button and minimise button is missing"
I created a generic base class inheriting the metro window , so that the class could be reused across the project eliminating tones of code.

the issue i face is that when i inherit this class to my new window class everything works except that the close and minimise button are not there and im not able to move the window using my mouse
--
### Environment

- MahApps.Metro __v1.4.0__
- Windows __7_

[2017-01-03 02:16] aminbc commented on #2786
@punker76 sorry just got back to my laptop access

I uploaded the test project here: https://drive.google.com/file/d/0B8VnXkYcQ2KvX1pBaGxmck5CcjQ/view?usp=sharing

When you run the Winform project it will crash cause resource dic is not loaded
If you change the Mahapp to V1.3 it will works fine. Thanks

[2017-01-03 04:18] GovindRulz commented on #2787
I must add that , the Window commands work too , its just that my close button is not there

[2017-01-04 04:55] ptownsend1984 opened #2788 "MetroDataGridCheckBox cell can be changed when IsReadOnly via keyboard + space"
## What steps will reproduce this issue?

Simple to reproduce. Run the MahApps.Metro.Demo.NET45 application and go to the DataGrid tab. Click on a row in the top Album grid's ISSELECTED column. Press TAB then SPACE. The checkbox will toggle once it has focus. Setting the DataGrid to IsReadOnly explicitly in DataGridExamples.xaml doesn't help.

### Expected outcome

Should not be able to toggle the

[2017-01-04 14:45] xmedeko opened #2790 "System.UnauthorizedAccessException at GlowWindow.WndProc"
I've got an error log from some machines:

System.UnauthorizedAccessException: E_ACCESSDENIED
at Standard.HRESULT.ThrowIfFailed(String message) in d:\projects\git\MahApps.Metro\MahApps.Metro\Microsoft.Windows.Shell\Standard\ErrorCodes.cs:line 616
at Standard.HRESULT.ThrowLastError() in d:\projects\git\MahApps.Metro\MahApps.Metro\Microsoft.Windows.Shell\Standard\ErrorCodes.cs:line 625
at MahApps.Me

[2017-01-04 14:52] punker76 commented on #2790
@xmedeko There is maybe something not allowed at this machines. I don't know what it is. MahApps uses some dll calls, but I think these calls are correct...

e.g.

[code]

[2017-01-04 16:38] xmedeko commented on #2790
Thanks for the info. I'm closing the issue and write a new one if I get more information (if the user contact our tech. support.).

[2017-01-04 16:38] #2790 closed

[2017-01-04 20:05] Nkmol opened #2791 "Binding DateTimePicker DisplayDateEnd and DisplayDateStart"
## What steps will reproduce this issue?

[code]

**ViewModel binding:**
[code]

Whenever I update one of these bindable properties, the `DateTimePicker` will not update the [`DisplayDateEnd`](https://github.com/MahApps/MahApps.Metro/blob/21dfea15048661627da6cffce3548c42122938af/src/MahApps.Metro/MahApps.Metro.Shared/Controls/TimePicker/DateTimePicker.cs#L70) and [`DisplayDateStart`](https://githu

[2017-01-04 20:06] xmedeko opened #2792 "Win32Exception on closing window"
I have reports of a bug in our app similar to https://github.com/ControlzEx/ControlzEx/issues/13 :

[code]

@batzen May you write, please, how have you reproduced the bug for the ControlzEx? May the same fix be applied to the MahApps, too? Thanks.

Environment

- MahApps.Metro __v1.3.0__
- Visual Studio __2015__

[2017-01-04 21:07] batzen commented on #2792
Closing a maximized window was enough, as far as I remember.

[2017-01-04 21:17] xmedeko commented on #2792
Hm, works fine on my machine. Do you remember the bug in the ControlzEx appeared always or with some HW + OS configuration only? Thanks.

[2017-01-04 21:34] punker76 commented on #2792
@xmedeko I think the error can be reproduced with this setting...

- start the app maximized
- move the app with shift+win+left right arrows to another monitor
- try to move again to previous monitor or close it

the error happens in this method by calling the `SetWindowPos`

[code]

[2017-01-04 22:48] #2787 closed

[2017-01-05 07:25] xmedeko commented on #2792
I cannot simulate it either this way. (Have 32-bit Win 10). Do you got the `Win32Exception`? Our users often use maximized windows and more screens, so the scenario you've described is probably the source of the problem.

[2017-01-05 09:05] batzen commented on #2792
A full StackTrace would help telling you what causes the issue in your case.

[2017-01-05 12:06] realies opened #2794 "Text filled button helper for TextBox"
I though this was already implemented, but just found out that TextBoxHelper.ButtonContent stands for the text character of the icon font. Is it possible to have an option for text filled buttons within textboxes?

[2017-01-05 12:11] panhans opened #2795 "NumericUpDown Watermark is shown twice when using floatingwatermark for textboxes"
## What steps will reproduce this issue?

[code]

### Expected outcome

Only one watermark for the numericUpDown control

--
### Environment

- MahApps.Metro __v1.4.0__
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.6.1__

[2017-01-05 12:16] punker76 commented on #2794
@realies Yes, you have several capabilities to get this

- use the `TextBoxHelper.ButtonFontFamily` attached property to change the font for the content
- or use the `TextBoxHelper.ButtonContentTemplate` attached property to change the template for the content, so you can put in what you want (TextBlock, etc)

You can also change the font of the content with the `TextBoxHelper.ButtonFontFamily` at

[2017-01-05 12:16] #2794 closed

[2017-01-05 20:29] #2795 closed

[2017-01-05 20:44] #2788 closed

[2017-01-05 20:51] punker76 commented on #2791
@Nkmol Do you implement the `INotifyPropertyChanged` interface for your ViewModel? It doesn't seems so.

[2017-01-05 21:23] #2785 closed

[2017-01-05 22:03] #2780 closed

[2017-01-05 22:07] punker76 commented on #2773
@tusharjain28 I think this behavior is not common and should not be handled by MahApps. Why do you want to prevent the double click to maximize/restore the window but allow it via the max/restore button?
/cc @thoemmi

[2017-01-05 22:09] punker76 commented on #2719
@boatschl Any news?

[2017-01-06 10:38] Nkmol commented on #2791
@punker76 Thanks for your reaction!
I am using MVVM Light and my ViewModel uses the `ViewModelBase` which uses the `INotifyPropertyChanged` interface: `public class InspectionViewModel : ViewModelBase, ICreateUpdatePopup`.

Other bindings, for example with a `TextBox.Content`, works fine.

With kind regards,
Nkmol

[2017-01-06 12:43] xmedeko commented on #2792
I would like to have full stacktrace, but we use [CSharpAnalytics](https://github.com/AttackPattern/CSharpAnalytics/issues/39) and [it's bug 39](https://github.com/AttackPattern/CSharpAnalytics/issues/39) cuts the stacktrace. (We should switch to some other, maintained project.)

Since the source code of MahApps and ControlzEx seems similar to me in the ``Microsoft.Windows.Shell`` namespace, and I

[2017-01-06 17:23] thoemmi commented on #2791
Are sure the `INotifyPropertyChanged.PropertyChanged` event is raised? If not, use a backing field for the property and change your properties like this:
[code]

[2017-01-06 17:29] thoemmi commented on #2773
Double-clicking a window's title to maximize it is standard behavior in Windows. Therefore I think @tusharjain28 expected outcome is wrong.

[2017-01-06 17:46] tusharjain28 commented on #2773
Thoemmi,
I know its a standard behaviour in Windows to maximize the application on clicking the title bar, but due to the nature of our application , we wanted to some how restrict it.
Anyhow thanks for your comments, we can close the issue.

[2017-01-06 17:46] #2773 closed

[2017-01-06 19:13] Insire commented on #2791
If there is not some compiletime magick implemented like fody, then those properties wont notify the UI about changes. Throwing the mvvm light viewmodelbase doesnt change that. you have to actually invoke the event for updates to show. @thoemmi approach is a good start, even though i dont recommend using expressions for triggering INPC, but either CallerMembername or the use of nameof().

[2017-01-08 11:27] xmedeko commented on #2792
I've just got a stack trace from one user. I have updated the first post with this full stack trace.

[2017-01-08 13:58] thoemmi commented on #2791
@Insire  :+1: for `nameof()`, but I never liked `CallerMembername` because you don't see it on the caller side.

[2017-01-08 14:03] batzen commented on #2792
I guess, you don't know what the user did to cause the exception, right?

[2017-01-08 15:54] xmedeko commented on #2792
I guess he closed a ``MetroWindow``, which is opened maximized (``WindowState.Maximized``) on the secondary screen. (A user can change the window size, position and size manually then, but I guess he didn't do it.).

I have tried a few similar situations, but have no luck to get the exception. I have contacted the user to send OS and HW info and some more informations about the problem and will po

[2017-01-09 08:15] fjlaga commented on #2780
@punker76  Thanks for applying the fix based on my comments...unfortunately, the fix was not quite right and there is some other issues now when external dialogs are shown. I should have been more clear in my message. Better yet, I should have just made a Pull Request.

I have cloned the repo, created a branch, committed my changes to fix this...but I can't seem to push my changes and create a pul

[2017-01-09 08:18] punker76 commented on #2780
@fjlaga https://help.github.com/articles/about-pull-requests/

[2017-01-09 08:21] punker76 commented on #2780
@fjlaga I don't see other issues, tested all external dialogs...

[2017-01-09 08:57] xmedeko commented on #2792
Users OS and HW:
- NVIDIA GeForce GTX 750 Ti, memory: 2 GB, video mode: 1920 x 1200
- Microsoft Windows 7 Ultimate K 6.1.7601, arch: 64-bit, Locale: 0412 - ko-KR
- .NET CLR: 4.0.30319.42000, version: 4.6.01055 (394271)

Will update this post when I gent more info about user's behaviour.

[2017-01-09 08:57] xxMUROxx commented on #2782
@avechuche Have you tried `ValueChanged` as `EventName` insted of `OnValueChanged`?

[2017-01-09 09:33] xxMUROxx commented on #2782
@avechuche I have tested it with `ValueChanged` and it worked

[2017-01-09 10:25] thoemmi commented on #2782
Yeah, the event is named `ValueChanged`, see [NumericUpDown.cs](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro.Shared/Controls/NumericUpDown.cs#L27).

[2017-01-09 14:20] avechuche commented on #2782
Yes, it was my mistake, the binding path was wrong. Please close de "bug"

[2017-01-09 14:24] #2782 closed

[2017-01-09 16:48] fjlaga commented on #2780
@punker76 There are no other issues in the demo app. I am seeing issues in my app where we use external dialogs much more. There are two issues with the fix you submitted:

1. You removed two calls to SetWindowPos which were for fix #2694. These calls set the z-order to HWND_BOTTOM, then to HWND_TOP, before setting it to HWND_NOTOPMOST. My fix was to replace only the last SetWindowPos call to use

[2017-01-09 17:12] punker76 commented on #2780
@fjlaga It would be very helpful if you can create an app with such a 'tooltip' to reproduce this. I don't know if it's a good idea to use dialogs as tooltips, but a sample could be help to look what's going on...

1. to this point, I was the author of the fix...
2. create a sample to show your custom dialog tooltip, so we can look to this problems

thx

[2017-01-10 20:53] Dirkster99 opened #2800 "async/await is difficult to incorporate in older projects unless complete solution is adjusted..."
Hi I am interested in the ContentDialog that is available in MahApps.Metro, so I refactored this portion of the library into a service based architecture only to find out that the async methods cannot be used in conjunction with normal synchronous methods as I had previously implemented and wanted to continue to use in my existing projects:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/6

[2017-01-11 00:28] fjlaga commented on #2780
@punker76 I haven't had time to create a sample app that demonstrates the error. I have cloned the repo and made the changes that will fix it. The changes are minor and I think they can simply be reviewed without a sample app. My problem is when I try to push my changes I am denied access.

Error encountered while pushing to the remote repository: Response status code does not indicate success: 40

[2017-01-11 06:48] pfattisc commented on #2800
@Dirkster99 you could use the WaitWithPumping method from [here](https://social.msdn.microsoft.com/Forums/en-US/163ef755-ff7b-4ea5-b226-bbe8ef5f4796/is-there-a-pattern-for-calling-an-async-method-synchronously?forum=async).
Have a look at Stephen Toub's answer.

[2017-01-11 08:28] punker76 commented on #2780
That's not the point. Yes I can review it, but you say that you get issues at your app and not at the main MahApps demo. So how can I find out what's going on? Maybe it's easy enough, maybe it has some other side effects...

It seems you didn't forked the repo.

To create a PR you must do the following steps

- fork the repo
- clone your fork to your local disk
- create a branch `Fix-for-XYZ`
- ma

[2017-01-11 17:36] Dirkster99 commented on #2800
Thanks a lot the solution works great for me - I think this issue is resolved :-)

[2017-01-11 17:36] #2800 closed

[2017-01-11 20:49] Nkmol commented on #2791
@Insire and @thoemmi I feel so stupid for this simple mistake, thank you both for taking the time to help me! Time for "Back to basic" 😄

Thanks!

[2017-01-11 20:49] #2791 closed

[2017-01-12 13:57] MrCroix opened #2801 "Visual Studio 2015 - XAML errors for all Metro* resources"
I'm not certain of the precipitating cause of my errors.  I've been using MahApps Metro for about a year without any issues but very suddenly, possibly after upgrading from 1.2.x to 1.4.1, I see XAML errors stating "The resource "[metro resource here]" could not be resolved.".

My googling this suggests the following:

Ensure the App.xaml contains the metro merged dictionaries correctly.  Check. (

[2017-01-12 21:14] fjlaga commented on #2780
Ah…fork me!

Ok, I think I got it right this time. Pull Request created.

-Frank

Frank Lagattuta
Phone  530-231-3102
Mobile 530-902-1278
Email     flagattuta@gsdx.us<mailto:flagattuta@gsdx.us>
Web       www.gsdx.us<http://www.gsdx.us/>

CONFIDENTIALITY NOTICE
This message and any files or text attached to it are intended only for the recipients named above and contain information that may be conf

[2017-01-13 12:05] punker76 commented on #2801
@MrCroix VS is sometimes... nah, ok, try these steps

1. override MahApps styles after original styles
2. clear the VS shadow cache `C:\Users\<USER>\AppData\Local\Microsoft\VisualStudio\14.0\Designer\ShadowCache`
3. cleab obj/bin folders
4. build all and look if it's now working

[2017-01-13 12:05] #2801 closed

[2017-01-13 12:08] punker76 commented on #2778
@yuwenhuisama We should wait for the final release and look if it's working then...

[2017-01-13 12:08] #2778 closed

[2017-01-13 15:26] MrCroix commented on #2801
Can you tell me what you mean by "override MahAps styles after original styles".

And

Yes, I know this isn't MahApps metros fault but it is still a problem.

[2017-01-13 15:44] MrCroix commented on #2801
I tried everything else, no effect, still broken.

[2017-01-13 16:02] MrCroix commented on #2801
Oh, and, thank you.

[2017-01-13 16:03] punker76 commented on #2801
@MrCroix Sorry about this nasty issue with your VS.

In your screen first screenshot you change TextBox style inheirted from MahApps `MetroTextBox`. This should be done after defining the resources from MahApps, not before.

Do you cleared the shadowcache? Also check your references if they correct with the dlls in the output.

Sorry, I don't know what's going wrong on your machine... (do you have

[2017-01-14 00:19] tomerdomshlak opened #2804 "TransitionsEnabled=false NullpointerException"
## What steps will reproduce this issue?

Create a MetroTabControl with 2 tab items, each of them is a MetroContentControl.
Set only the first tab's TransitionEnabled property to "false" is fine, but when setting it "false" for the second - a null reference exception is being thrown.

I'm trying to get rid of the animation for both tab's contents, because it doesn't look well with my color scheme.

[2017-01-14 10:21] bbday commented on #2748
It is a ramdon problem, sometimes happen sometimes not, alwasy only with remote desktop not with teamviewer. is it possible add something try / catch inside mapapp dll to not trigger exception, cause then app crash, i wanna just ignore error.

[2017-01-14 10:24] punker76 commented on #2748
@bbday I will surround it with a MahAppsException

[2017-01-15 16:26] manne opened #2805 "Accent colors in cyan accent are lightened with the alpha channel"
## What steps will reproduce this issue?
1. Use the **cyan** accent
2. put an image to the window
3. add a control with the background of `AccentColor3` over the image
![image](https://cloud.githubusercontent.com/assets/80180/21964155/15e2d478-db47-11e6-98e5-e38d8d9d2c4e.png)

### Expected outcome
The control has got the wanted color (lightened cyan) without seeing the image.
![image](https://clou

[2017-01-16 21:22] PFCKrutonium commented on #2258
Based on the fact that I can't seem to do what was suggested as a fix: There wasn't one...

[2017-01-16 21:59] Dirkster99 opened #2806 "Async Content Dialog is not always blocked"
I was able to complete my MsgBox service with the same API as in my previous modal dialog version  ([Link](https://www.codeproject.com/Tips/682283/WPF-MessageBox-Service)), except the new one is build with the design from MahApps.Metro: [Link](https://github.com/Dirkster99/MDemo).

I have found a minor issue in this process which is that you can use key down or ALT Key to have the focus wander off

[2017-01-17 14:15] MrCroix commented on #2801
Moving the one MetroTextBox reference above or below the resource declarations makes no difference.  Must be a two pass compile.

Yes, Visual Studio 2015 Update 3.

Still have the errors.

[2017-01-17 19:23] bradley-dotnet commented on #2515
This issue is still present, and seems to occur even without the converter; just a bound value in a data template breaks it.

[2017-01-18 05:22] lasikye opened #2807 "#2287 - How to achieve the draggale anywhere function after R1.2"
Based on the fix of #2287, as  @punker76 commented on Jan 23, 2016 - 'If you have controls in your window which are hittest visible, so there is no chance to drag the window.'

I`m using the latest release 1.4.1 and want to make the window draggale anywhere function even there are hittest visible controls in the window. Does anyone have a good idea ?

[2017-01-18 07:41] Sneha-123 opened #2808 "3D effects in tiles in xaml"
I am using MahApps.metro for creating tiles in wpf xaml but I need these tiles to give a 3D effect.

Can anyone provide me piece of code for 3D effects on these tiles.

My code is:

[code]

### Environment
- Windows 10
- Visual Studio 2015

[2017-01-18 08:42] MLanghof opened #2809 "Content of expander with margin is cut off"
## What steps will reproduce this issue?

Run current version of https://github.com/MLanghof/ExpanderBugRedux.
Open the expander.
Result: The expander content is cut off.

Additionally, if the window is horizontally resized until the expander content no longer fits the window width, it is displayed properly. Also see this gif:

![2545f2830f579d52d744d8ba11ec97e0](https://cloud.githubusercontent.co

[2017-01-18 11:46] punker76 commented on #2809
@MLanghof Thx for the repo sample. I tested with latest MahApps v1.4.1 and get the same result (maybe a clipping stuff), cause you set the Margin of the inner Grid to `-107,0,0,0`. I know you do this to simulate a popup dropdown, but It's better to set the Padding of the Expander to this value...

[code]

![expander](https://cloud.githubusercontent.com/assets/658431/22062843/240e5eb4-dd7c-11e6-8fd

[2017-01-18 16:15] oriolmortem opened #2810 "WPf Datagrid with NumericUpDown control as a column: why when the grid is empty and I put values before complete the edit of the row, these values pass to the next line?"
## What steps will reproduce this issue?

When my datagrid is empty...
![image](https://cloud.githubusercontent.com/assets/4039341/22071170/5760bc68-dd6c-11e6-9401-17625472936e.png)

And I put some values on the NumericUpDown controls -but I don't finish to complete the row-
![image](https://cloud.githubusercontent.com/assets/4039341/22072015/f7a12544-dd6e-11e6-8bf6-8e531220f8cd.png)

ThenI put an

[2017-01-18 17:48] MLanghof commented on #2809
Well, feel free to close this, depending on how much of a bug you think it is.

[2017-01-18 18:18] punker76 commented on #2809
@MLanghof glad to help

[2017-01-18 18:18] #2809 closed

[2017-01-18 19:20] punker76 commented on #2810
@oriolmortem How do you implemented your view model? Can you show us some Code? A short sample would be useful. Thx

[2017-01-21 09:41] hausenism opened #2811 "MetroWindow Maximized Wrongly"
## What steps will reproduce this issue?

Create a new wpf application project.
Change the default MainWindow class to inherit MetroWindow.
Run the project.
(double click the titlebar or click on buttons) Maximize and Restore the MainWindow several times.

### Expected outcome

(this won't always happen) The MainWindow is maximized but displayed strangely as below screenshot.

![image](https://clo

[2017-01-21 09:45] punker76 commented on #2811
@hausenism Can you retest it with v1.4.1? thx

[2017-01-21 09:49] hausenism commented on #2811
@punker76 Sorry, my test was on __1.4.0__

I will retest it with v1.4.1

[2017-01-21 10:00] hausenism commented on #2811
@punker76 , I just update submodule to v1.4.1, and the problem still exists.

[2017-01-21 10:01] punker76 commented on #2811
@hausenism OK, thx

[2017-01-21 10:02] punker76 commented on #2811
@hausenism another question. is this running on a VM?

[2017-01-21 10:05] hausenism commented on #2811
@punker76
No. I use Teamviewer to connecto to my remote desktop.
Our test manager find the problem on her desktop a few days ago.

[2017-01-22 15:29] Deadpikle commented on #2811
@hausenism Related to #2727 ? Are Windows animations turned off? (Due to the remote session, I'm guessing they are.)

[2017-01-22 15:57] hausenism commented on #2811
@Deadpikle Yes, you are right, my windows animations are turned off.

[2017-01-22 17:29] half-evil commented on #2675
I've got the same issue.
If I apply the style ElementStyle="{DynamicResource MetroDataGridCheckBox}" , then I get no change notification. if I only apply the style EditingElementStyle="{DynamicResource MetroDataGridCheckBox}", then I get the change notification. But the visible style of the box changes through the editing process. The initial visual state is a standart WPF checkbox, after a click

[2017-01-23 21:49] sbrett9 commented on #2515
For me this seem to occur if the following are true.

A) The NumericUpDown is part of a DataTemplate
B) The Value is bound to a property of the data context of the DataTemplate
C) Maximum and/or Minimum values have been set in the xaml.

After looking through the source for 1.30 (as that is what I am currently dedicated to), i found that there seems to be issues with the order the Max, Min and Val

[2017-01-24 01:27] draco1023 opened #2812 "Font family in Flyout.xaml and MetroNavigationWindow.xaml"
## What steps will reproduce this issue?

_Simplified Chinese is not displayed the right way using Segoe UI (Symbol) as described in issue [2033](https://github.com/MahApps/MahApps.Metro/issues/2033) on Windows 7/8._
_Most font family settings can be modified by override the resource keys in Styles/Fonts.xaml._
_Except [https://github.com/MahApps/MahApps.Metro/blob/984ecf4aa1b778d40b3a041d95b788eb

[2017-01-24 07:55] punker76 commented on #2812
@draco1023 Thx for pointing to this. Will remove this, cause this buttons uses icons inside...

[2017-01-24 14:46] AlanWills opened #2813 "ControlTemplate and Style are not applied to the CustomDialog"
## What steps will reproduce this issue?

I have a custom message window using the CustomDialog control with the following XAML:

[code]

and the Style is copied from this stack overflow question:

http://stackoverflow.com/questions/30751663/how-to-change-mahapps-metro-dialog-content-template-width

[code]

### Expected outcome

Changing the style is echoed in the designer - when I change the back

[2017-01-24 14:47] AlanWills commented on #2813
Oh god, sorry about the formatting - I don't know how to make it appear in true XML layout.

[2017-01-25 10:33] aplocher opened #2815 "Layout issue with TabControl w/ TabStripPlacement Left, TabControlHelper.IsUnderlined="True""
## What steps will reproduce this issue?

![2017-01-25_02h29_25](https://cloud.githubusercontent.com/assets/1132447/22287034/2f23f3b6-e2a6-11e6-89ba-2ffe7ca68308.png)
[code]

### Expected outcome

I believe the "underlines" (or in this case, side-lines) should line up when you have a TabControl with IsUnderlined = True and the TabStripPlacement=Left.  I actually really like the idea of the lines b

[2017-01-25 12:33] ivanbojan opened #2816 "Proper usage of the Demo Project and how to move it from on to another pc and keep the functionality of the project ?"
Hello everyone,

I am quite new with the framework so I have downloaded the demo project with all the src files.
I have run it successfully on my notebook to check how things work and everything is fine.
When I try to move it to my pc and added it to my TFS on another pc I copy - paste the whole folder.
I try to run the solution but I am Constantly getting errors that namespaces are missing.

Is t

[2017-01-25 13:34] thoemmi commented on #2816
Is there a reason why you don't use the NuGet package in your project?

[2017-01-25 13:36] ivanbojan commented on #2816
I have tried using nuget (Manage nuget Packages & Console as well) but no luck.
Is this anyhow connected to .paket folder with dependencies ?!

I have ran the cmd file on my notebook but is not possible to run it again on the the other PC.

[2017-01-27 04:44] Symfony2 opened #2817 "TransitioningContentControl's TransitionCompleted event fires twice"
## What steps will reproduce this issue?

Subscibe no event and put break point  ))
TransitionCompleted  event fires twice
### Expected outcome
I expect event fire only once after transition complete

--
### Environment

- MahApps.Metro  <package id="MahApps.Metro" version="1.4.1" targetFramework="net452" />
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.2__

[2017-01-27 07:59] p3root opened #2818 "DatePicker throws Exception"
## What steps will reproduce this issue?

Use DatePicker

### Expected outcome

That I have an DatePicker

--
### Environment

- MahApps.Metro __v1.4.1__
- Windows __10__
- Visual Studio __2015
- .NET Framework __4.6.1__

### Error

DatePicker throws exception:
{"Add value to collection of type 'System.Windows.Interactivity.BehaviorCollection' threw an exception."}
{"Cannot add instance of type 'D

[2017-01-27 08:02] punker76 commented on #2818
@p3root Can you create a short app which reproduces this error? thx

[2017-01-27 09:37] p3root commented on #2818
[WpfApplication1.zip](https://github.com/MahApps/MahApps.Metro/files/734825/WpfApplication1.zip),

It's a plugin based Application. I know that in there shouldn't be all depending libs in the plugin folder, but the error occures when the mahapps.metro.dll gets loaded a second time.

[2017-01-27 09:42] tomanye opened #2819 "I can't run The Demo"
MahApps.Metro Samples Can't run to see new Futures  > 59 error Counts

[2017-01-27 09:51] oliverw commented on #2819
Again, in english?

[2017-01-27 09:58] punker76 commented on #2818
@p3root thx for the sample. the problem is that the mahapps dll is already loaded in the current domain. try the following code which should work...

[code]

[2017-01-27 10:01] punker76 commented on #2819
@tomanye https://github.com/MahApps/MahApps.Metro/blob/develop/.github/CONTRIBUTING.md#bug-reports

[2017-01-27 10:01] #2819 closed

[2017-01-27 10:01] p3root commented on #2818
@punker76 Thanks, but I changed it that only the plugin assemblies are located in the plugin folder.

But anyway, why does the crash occure when loading the assembly twice?

[2017-01-27 10:04] punker76 commented on #2818
@p3root your zip contains the mahapps dlls also at plugins folder

![2017-01-27_11h03_39](https://cloud.githubusercontent.com/assets/658431/22367158/633451b0-e480-11e6-821f-b27f86946de7.png)

[2017-01-27 10:07] p3root commented on #2818
@punker76 : I know, to demonstrate the issue. I changed it as I found out that this makes problems.

[2017-01-27 10:08] punker76 commented on #2818
@p3root loading a assembly twice is not good, as you see ;-)

[2017-01-27 10:08] #2818 closed

[2017-01-27 14:25] RyadaProductions opened #2820 "MahApps.Metro's borderlesswindowbehavior does not work with stickywindows."
## What steps will reproduce this issue?

StickyWindow library does not work in combination with MahApps.Metro custom border when you are dragging the form, resizing the form works like it should, Disabling BorderlessWindowBehavior makes it work but only when dragging the normal windows border, MahApps.Metro doesn't seem to raise the events Stickywindow needs when dragging.
Library can be found he

[2017-01-27 15:46] frankie-123 opened #2821 "SplitButton with custom style does not allow popup to stay open"
## What steps will reproduce this issue?

I have created a sample application which demonstrates using a custom style for a SplitButton with a ContextMenu. This pattern was working for my application using v.1.1.2 of MahApps. However, in v1.4.1, after clicking the dropdown button, the OnIsKeyboardFocusWithinChanged method within SplitButton.cs immediately closes the popup that contains the Context

[2017-01-27 20:51] #2585 closed

[2017-01-27 21:16] #2817 closed

[2017-01-28 10:39] xxMUROxx opened #2823 "Issue with ClearTextButton on TextBox"
There is an issue if clicking on ClearTextButton in TextBox and continuing writing text. When the user types `Space` then the Button is clicked again

![cleartextbuttonissue](https://cloud.githubusercontent.com/assets/4341039/22396003/1d5cb00a-e54e-11e6-8a5c-a1cb33f51dde.gif)

### Environment

- MahApps.Metro v1.4.1

[2017-01-28 17:46] #2804 closed

[2017-01-28 18:36] #2823 closed

[2017-01-28 21:57] #2815 closed

[2017-01-28 22:14] #2770 closed

[2017-01-28 22:16] punker76 commented on #2770
@RichiCoder1 It's possible with v1.4.2 to change this via `Padding` property. I will change this finally in 1.5.0 or later, cause it's a breaking change (not hard but ui). So do this and you got it...

[code]

[2017-01-29 01:11] sooqua opened #2824 "Can't compile with VS2015"
## What steps will reproduce this issue?
1. git clone https://github.com/MahApps/MahApps.Metro.git
2. Open .\MahApps.Metro\src\MahApps.Metro.sln
3. Press Build -> Build Solution

### Expected outcome
Everything compiles. Especially the "demo application".

### Actual outcome
1>------ Build started: Project: MahApps.Metro.NET40, Configuration: Debug Any CPU ------
1>C:\Program Files (x86)\MSBuild\1

[2017-01-29 01:13] sooqua commented on #2824
### Actual outcome
1>------ Build started: Project: MahApps.Metro.NET40, Configuration: Debug Any CPU ------
1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1820,5): warning MSB3245: Could not resolve this reference. Could not locate the assembly "JetBrains.Annotations". Check to make sure the assembly exists on disk. If this reference is required by your code, yo

[2017-01-29 01:21] sooqua commented on #2824
Also I get this output from IntelliSense:
[Failure] Could not find a part of the path 'C:\Users\sooqua\Documents\Visual Studio 2015\Projects\MahApps.Metro\src\paket-files\ControlzEx\ControlzEx\src\ControlzEx\KeyboardNavigationEx.cs'.
[Failure] Could not find a part of the path 'C:\Users\sooqua\Documents\Visual Studio 2015\Projects\MahApps.Metro\src\paket-files\ControlzEx\ControlzEx\src\ControlzEx\

[2017-01-29 01:34] sooqua commented on #2824
Ok I found this paket.dependencies file. Everything seems clear now. It needs to be somehow documented though...

[2017-01-29 01:34] #2824 closed

[2017-01-29 08:59] oliverw opened #2825 "Shorten Dialog Show/Hide animation duration"
I would like to shorten the Dialog Show/Hide animation duration significantly while not resorting to <code>MetroDialogSettings.AnimateHide = false</code>. What is the recommending approach to accomplish this?

[2017-01-30 13:31] #2748 closed

[2017-01-30 16:54] oliverw commented on #2591
Confirmed. Not fixed in 1.4.1

[2017-01-30 20:22] punker76 commented on #2591
@oliverw Got it. Will be fixed in 1.4.2

[2017-01-30 20:22] #2591 closed

[2017-01-31 05:44] ryanknopf opened #2828 "Need Help, Closing a Custom Dialog"
## What I've Got

Kind of a WPF and MahApps newb here (tho it's been a pretty intuitive breeze up to this point) so please bear with me.

I've written a simple app in MahApps (very helpful!) that is a basic single window UI with a slew of slider/button controls of various types and simple callbacks in the MainWindow code behind to interact with a serial interface.  We wanted to add a simple dialog

[2017-02-01 16:00] bbday opened #2830 "GetPhysicalCursorPos"
i Use remotedesktop, how i can fix it?

Uups, this should not happen! Sorry for this exception! Is this maybe happend on a virtual machine or via remote desktop? Please let us know, thx.
   at MahApps.Metro.Controls.WinApiHelper.GetPhysicalCursorPos()
   at MahApps.Metro.Controls.WinApiHelper.GetRelativeMousePosition(IntPtr hWnd)
   at MahApps.Metro.Controls.GlowWindow.WndProc(IntPtr hwnd, Int32 m

[2017-02-01 18:47] thoemmi commented on #2830
What's the version of your operating system? `GetPhysicalCursorPos` is available since Windows Vista/Windows Server 2008.

[2017-02-01 19:00] punker76 commented on #2830
@thoemmi this is also interesting http://stackoverflow.com/questions/20142166/explain-errors-from-getkeystate-getcursorpos

[2017-02-01 19:29] thoemmi commented on #2830
Ok, so it seems to be general issue with remote desktop then 😒

[2017-02-01 21:45] dsmprojects opened #2831 "AccentColorBrush could not be resolved using 1.4.2.0 but works fine with 1.1.2.0"
## What steps will reproduce this issue?
Followed the example steps to add GlowBrush and it would not resolve AccentColorBrush.
The rest of the example worked fine.

I found an example code on codeproject and referenced the older MahApp.Metro.dll in my project and then it resolved GlowBrush.

Is there a new step needed so VS can resolve in the newer version?
--
### Environment

- MahApps.Metro __v

[2017-02-01 21:49] punker76 commented on #2831
@dsmprojects Can you show me your window xaml where you defined the brush? And do you put all necessary resources to the App.xaml?

[2017-02-01 21:56] dsmprojects commented on #2831
<controls:MetroWindow x:Class="WpfMetroLike.MainWindow"
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:controls="http://metro.mahapps.com/winfx/xaml/controls"
        GlowBrush="{DynamicResource AccentColorBrush}"

        Title="Metro WPF" Height="350" Width="525" ResizeMode="CanResizeWithGrip" Bor

[2017-02-01 21:59] dsmprojects commented on #2831
[WpfMetroLike.zip](https://github.com/MahApps/MahApps.Metro/files/746287/WpfMetroLike.zip)

[2017-02-01 22:04] punker76 commented on #2831
@dsmprojects Make sure that all file names are Case Sensitive!

It should be

[code]

all other looks good

[2017-02-01 22:06] punker76 commented on #2831
@dsmprojects http://mahapps.com/guides/quick-start.html#using-built-in-styles

[2017-02-02 05:02] chuuddo opened #2832 "Wrong window maximize on two monitor systems."
## What steps will reproduce this issue?

I have two monitors and after update from v1.4.1 to v1.4.2 window maximizing start ignore taskbar with z-order behind tasbar (see screenshots). On one monitor systems this issue not reproduced.

v.1.4.1 two monitors maximized window.
![screenshot_1](https://cloud.githubusercontent.com/assets/526086/22537617/7bf2c67e-e925-11e6-87ca-c5e9611ce721.png)

v.1.4.

[2017-02-02 06:08] punker76 commented on #2832
@chuuddo your screenshots seems to be the same? Damn, maybe I fixed to much...

[2017-02-02 06:19] chuuddo commented on #2832
@punker76 look at ActualHeight on screenshots. If maximized right it should be 1080-TaskbarHeight on FullHD resolution.

Code of window on screenshots.

[code]

[2017-02-02 06:31] punker76 commented on #2832
@chuuddo OK, but in both screenshots the maximization is wrong...

[2017-02-02 07:01] chuuddo commented on #2832
@punker76 dont understand why maximization is wrong on both sreenshots.
I think in 1.4.1 maximization work right. All screenshots made on two monitor system.
![screenshot_5](https://cloud.githubusercontent.com/assets/526086/22539936/b9a85298-e936-11e6-98dc-7f7c43d3d167.png)
![screenshot_6](https://cloud.githubusercontent.com/assets/526086/22539938/b9aa6f7e-e936-11e6-8c4e-461da11d6300.png)
![screen

[2017-02-02 07:43] dontbyte opened #2833 "ShowMessageAsync() hidden by hosted process"
## What steps will reproduce this issue?

Set parent of a process to a WPF container via SetParent() and show async message dialog.

### Expected outcome

Message dialog is hidden by the hosted process. Can't be closed anymore because message dialog is not accessable.

### Environment

- MahApps.Metro __v1.4.2.0__
- Windows __7__
- Visual Studio __2015__
- .NET Framework __4.5__

[2017-02-02 07:48] punker76 commented on #2833
@dontbyte I don't know if this right what you do with SetParent. I never seen and do this. Can you create a short app with this? thx

[2017-02-02 08:04] punker76 commented on #2832
@chuuddo Can you try this one? I think I optimized to much in last release 😁
[MahApps.Metro.zip](https://github.com/MahApps/MahApps.Metro/files/747112/MahApps.Metro.zip)

[2017-02-02 08:14] chuuddo commented on #2832
@punker76 it works fine, like in 1.4.1!

[2017-02-02 08:15] punker76 commented on #2832
@chuuddo Thx for clarifying the problem and testing!

[2017-02-02 08:23] dontbyte commented on #2833
Here you go (quick and dirty):

[MahAppsIssue.pptx](https://github.com/MahApps/MahApps.Metro/files/747155/MahAppsIssue.pptx)
Change file type .pptx to .zip. I wasn't able to upload the zip file due to unsupported file tye..

At the bottom are 2 buttons, first button host child process to the WPF control and second button opens async message dialog.

[2017-02-02 10:56] brianshansen opened #2834 "TabItem"
Hi

I have a tabcontrol, where I want the tabs that are disabled to be red how to do I do?
Have made this style to bind tabheader and the enable properties

        <Style TargetType="{x:Type TabItem}" BasedOn="{StaticResource MetroTabItem}">
            <Setter Property="Header" Value="{Binding TabHeader}"/>
            <Setter Property="IsEnabled" Value="{Binding IsEnabled, UpdateSourceTrigger=P

[2017-02-02 11:37] punker76 commented on #2834
@brianshansen You can use a trigger for this and change e.g. the background of your item or you use a converter which binds to IsEnabled and converts it to a background...

[2017-02-02 11:37] #2834 closed

[2017-02-02 11:46] punker76 commented on #2833
@dontbyte Your sample is really hacky :-D I don't know if we can / should support this. The main reason is in my view the z-order of the processes itself... /cc @thoemmi

[2017-02-02 11:47] #2831 closed

[2017-02-02 11:49] punker76 commented on #2811
duplicate to #2727

[2017-02-02 11:49] #2811 closed

[2017-02-02 12:29] gordon771 opened #2835 "ShowMessageAnsync() causes exception"
## What steps will reproduce this issue?

Following exception is thrown in ShowMessageAsync() after update from MahApps.Metro V1.3.0 to V1.4.2:
[code]
The ShowMessageAsync() has to be shown in a sub MetroWindow. The sub window is running within his own thread and Dispatcher context:

[code]

So the access to the applications main window (System.Windows.Application.get_MainWindow()) is problematic.

[2017-02-02 12:34] punker76 commented on #2835
@gordon771 Can you provide your app or create a short sample? Would be helpful. thx

[2017-02-02 13:49] bbday commented on #2830
Windows Server 2012 but i have same issue with W10

[2017-02-02 16:16] BornToBeRoot commented on #2832
When will you release 1.4.3 ? This happens on systems with 1 Monitor too.

I dont want to go back to 1.4.1 :smile:

[2017-02-02 16:54] punker76 commented on #2832
@BornToBeRoot this evening (de)

[2017-02-02 20:17] #2832 closed

[2017-02-02 21:20] #2830 closed

[2017-02-03 00:45] ryanknopf commented on #2828
I figured this out for those reading.  It was really simple actually.  I just needed to add a "click" callback from the close button of my custom dialog window to a callback method of my MainWindow class from within the same scope as my MainWindow instance.  This code snippet looks like:

[code]

[2017-02-03 06:15] #2828 closed

[2017-02-03 10:53] xxMUROxx opened #2838 "DateTimePicker: After selecting date => control closes if time is selected"
If a date is selected then selecting the time closes the control.

![datetimepicker](https://cloud.githubusercontent.com/assets/4341039/22588677/2ab6bf1c-ea07-11e6-9350-ddc8a1843cc9.gif)

@xxMUROxx _memo for me_

[2017-02-03 11:49] ivanbojan opened #2839 "Questions about the - Demo Application ( A toolkit for creating Metro / Modern UI styled WPF apps)"
Hello,

first of all I would like to say thank you for the great open source that you have developed so far, it will really help me my project to look professional. I have founded thanks to the Pluralsight tutorial (https://www.pluralsight.com/courses/mahappsdotmetro-creating-modern-wpf-apps) about the framework done by Mark Heath.

I have downloaded the demo application from Git (https://github.c

[2017-02-03 15:42] gordon771 commented on #2835
Hi,

I created a small VS project where you can reproduce the exception. How can I provide it to you?

[2017-02-03 15:49] punker76 commented on #2835
@gordon771 put it on GutHub or drop a zip here as comment

[2017-02-03 15:58] gordon771 commented on #2835
Here it comes...
[MahAppsProblem.zip](https://github.com/MahApps/MahApps.Metro/files/750916/MahAppsProblem.zip)

[2017-02-03 22:44] thoemmi commented on #2833
I guess this is an airspace issue: you're showing a notepad window (with its own Window handle) in front of the WPF window. The dialog is shown inside the WPF window, and therefore is displayed behind notepad.

If you want to show the message box in front of Notepad, use `ShowModalMessageExternal`:
[code]

[2017-02-03 22:50] thoemmi commented on #2839
If you don't have any experience with WPF, don't start with MahApps.Metro. Instead, create a plain vanilla WPF project and learn that framework.

If you later want to apply this library, you don't have use MahApps.Metro's sources directly. Instead, follow the [Quick Start guide](http://mahapps.com/guides/quick-start.html) to get the nice Metro style.

[2017-02-03 22:50] #2839 closed

[2017-02-03 23:47] thoemmi commented on #2816
The paket stuff is required only if you're compiling MahApps.Metro by yourself.

In your own project you only need to follow the [Quick Start guide](http://mahapps.com/guides/quick-start.html).

[2017-02-03 23:59] thoemmi commented on #2747
MahApps.Metro provides a couple of standard dialogs, like Input, Login, Message or Progress. If you want to diverge from the defaults, you have to create your own custom dialog. Nevertheless you can take the default dialogs as a template.

[2017-02-03 23:59] #2747 closed

[2017-02-04 00:04] thoemmi commented on #2640
I'm not sure I get your question. After calling `HideMetroDialogAsync` your viewmodel should have all the information as required.

[2017-02-04 00:10] thoemmi commented on #2630
The `ProgressDialogController` is only for convenience, just like the other default dialogs like Login, Input etc.
If your requirements include special handling, I recommend to replicate the default dialogs from MahApps.Metro and change them to match your demands.

[2017-02-04 00:10] #2630 closed

[2017-02-04 00:18] thoemmi commented on #2428
Like I said in my first answer, I don't think that **Changes** and **History** are tabs but custom styled radio buttons.
Is this still an issue?

[2017-02-05 16:44] #2835 closed

[2017-02-05 16:51] #2838 closed

[2017-02-05 20:04] adragoner opened #2841 "Modal flyout issue"
## What steps will reproduce this issue?

Flyout with `IsModal=true` doesn't block other window commands (left or right) to be executed.

### Expected outcome

All window interactivity except the flyout is disabled.

[2017-02-06 00:03] punker76 commented on #2841
@adragoner You can additionally set `LeftWindowCommandsOverlayBehavior`, `RightWindowCommandsOverlayBehavior` and `WindowButtonCommandsOverlayBehavior` to prevent execution by mouse (menus and key shortcuts still works, but this is already issued)

[2017-02-06 20:44] saltypoison opened #2842 "Custom Dialog Storyboard Error"
Hello,

It is very likely this is user error, but I would like to submit it just in case it is not.  When I create a custom dialog and I go to close it, I am getting the error below:

`"Unable to find the dialog closing storyboard. Did you forget to add BaseMetroDialog.xaml to your merged dictionaries?"`

I've isolated it to it happening when I am adding the Bool to Vis converter in the dialog (th

[2017-02-06 21:08] #2428 closed

[2017-02-06 21:09] di48l069 commented on #2428
This has been resolved thanks @thoemmi

[2017-02-06 21:25] tpatel11 opened #2843 "calling MetroWindow from different class"
I am trying to call the **MetroWindow** from a class (inside the same project - inheriting **_DialogDebuggerVisualizer_**).
I am using ShowDialog() method to popup the window.
Problem is, when I am using ShowDialog method to show the form, it is not loading the metro style, it is just a black form with normal UI controls. UI stays plain old WPF style and not the metro style.
If I directly try to s

[2017-02-06 21:38] punker76 commented on #2842
@saltypoison -> https://github.com/saltypoison/MahAppsStoryboardErrorExample/pull/1

The resources for the dialogs and custom dialogs are set in code behind, so if you reset this in xaml you will get this warning. To add additional resources put it to another resources tag inside a container.

[2017-02-06 22:04] saltypoison commented on #2842
Thanks for looking at it!

When I added it to app.xaml I still received an error that was resolved when switching it from `DynamicResource` to `StaticResource`

Would it be best practice to add converters like that to app.xaml, or is it a special case with the custom dialog?

[2017-02-07 00:08] #2842 closed

[2017-02-07 05:42] ivanbojan commented on #2839
@thoemmi can you please answer my questions if possible.
Maybe @punker76 can help with this ?!

[2017-02-07 08:09] thoemmi commented on #2839
As I said, you don't have to copy the MahApps.Metro sources. Just create a new WPF application, and then follow the [Quick Start guide](http://mahapps.com/guides/quick-start.html). You have to reference MahApps.Metro only in your presentation layer, it's a control-only library. Your DAL and BL should not be affected by MahApps.Metro.

[2017-02-07 13:46] dontbyte commented on #2833
Works great, thank you thoemmi!

[2017-02-07 13:48] #2833 closed

[2017-02-08 09:17] punker76 commented on #2843
@tpatel11 seems like you must put all necessary resources inside the resource tag of the window itself.

[2017-02-08 10:04] Schabili opened #2844 "No Uniformstretch(dynamically) for VisualBrushes/Icons in TabItems since Metro v1.4.2"
## Issue
Since MahApps.Metro v1.42 the VisualBrush in the opacityMask for the MetroTabItem lost its _Stretch_-behavior when the size of the Item gets smaller by resized window, starting from the second item.

## Screenshots
#### MainWindow after starting
![1](https://cloud.githubusercontent.com/assets/25631691/22729731/4af69820-ede4-11e6-89ec-971660f0b6d1.png)

#### Resized window using MahApps.Me

[2017-02-08 11:25] csabar commented on #2319
Unfortunately it is not Per-Monitor DPI-Aware. But it would be fine to have built in support. I found a project which adds this functionality to MahApps.Metro: https://github.com/circuitdiagram/CircuitDiagram.DPIWindow

[2017-02-08 12:59] JobaDiniz opened #2845 "RichTextBox with ClearTextButton and Watermark"
It seems `metro:TextBoxHelper.Watermark` and `metro:TextBoxHelper.ClearTextButton` doesn't not affect `RichTextBox`.

Is there a way to fix that?

[2017-02-08 13:00] punker76 commented on #2845
@JobaDiniz That's correct

[2017-02-08 13:10] JobaDiniz commented on #2845
I'm using `RichTextBox` only because I need to manipulate text position and ranges, but nothing fancy... my `RichTextBox` is just like an ordinary `TextBox`.
In fact, I'm interesting specially in the `TextBoxHelper.ButtonCommand`, `TextBoxHelper.ButtonContent` and `MetroButtonTextBox` style.

I just wanted that my `RichTextBox` looked like

![capture](https://cloud.githubusercontent.com/assets/165

[2017-02-08 14:23] tpatel11 commented on #2843
Yes, you are right. I figured out that I have defined all of the styles in App.xaml where as I should have done that in window.Resources.

[2017-02-08 14:23] #2843 closed

[2017-02-08 14:23] amkuchta opened #2846 "HamburgerMenu Themes"
Not necessarily an issue, but more of an enhancement request - it would be great to be able to apply themes to the `HamburgerMenu` control similar to those found for the `Flyout` control:

* Inverse
* Accent
* Dark
* Light
* Adapt

In the meantime, is there an easy way to get an `InverseForegroundColorBrush` or `InverseBackgroundColorBrush` to use with the control?

[2017-02-10 09:08] matej89 opened #2848 "HamburgerMenu Command MVVM"
Hi,

I use hamburger menu and now I have the problem how to set viewModel to ItemsSource.

My item source are:
[code]

Thank you.

Regards,
Matej

[2017-02-10 09:47] punker76 commented on #2848
@matej89 there are 2 options for you to set the selected content on the right side for the HamburgerMenu

1. use the `ItemClick` and `OptionsItemClick` events

[code]

and

[code]

2. with binding and a converter

[code]

and

[code]

You can find some more infos here

- http://jkarger.de/2017/02/06/mahapps-hamburgermenu/
- sample repo https://github.com/punker76/code-samples/tree/master/MahAppsMe

[2017-02-10 11:01] matej89 commented on #2848
Hi,

thanks @punker76 . I understand this. But I don't know how to call method on viewmodel. In below I send you example how I want to do this hamburger menu.

When click on item one I want to call method in viewmodel class.
Method:
private void test()
  {
  ChangeContentView = new ViewCaseReviewDebtViewModel(_messagingService, _frontRepository, test);
  }

When click on item two I want call anoth

[2017-02-10 15:51] punker76 commented on #2848
@matej89 You can use the loaded event of your views
[code]

[2017-02-10 20:37] avechuche opened #2850 "IsModal for MetroWindows"
This is not a problem, but could you add the "IsModal" option to the main window? Today I am using the "IsModal" of the Flyouts (with 0px high and 0px wide) but it is not "the right thing". If possible, like the "IsModal" used by customDialog, these prevent interaction with the maximize, minimize, and close buttons. The "IsModal" version of the flyouts let them use them. Thx!

[2017-02-11 08:30] tomanye commented on #2848
@punker76 I share  @matej89 issues  Because I hate Code Behind .

[2017-02-11 11:23] thoemmi commented on #2848
@tomanye, @matej89 Would dependency properties like `ItemCommand` and `OptionsItemCommand` help you in your scenarios?

[2017-02-11 11:54] tomanye commented on #2848
@thoemmi can u give me simple example

[2017-02-11 12:04] thoemmi commented on #2848
I mean instead of the normal events
[code]
adding bindable commands, like
[code]
This would enable you to handle the commands in your viewmodel.

[2017-02-11 12:12] matej89 commented on #2848
@thoemmi this is what I want.
@tomanye I also hate code behind.

Thank you for help.

[2017-02-11 13:14] punker76 commented on #2848
@thoemmi added to https://github.com/MahApps/MahApps.Metro/pull/2847

[2017-02-11 14:54] tomanye commented on #2848
@thoemmi but those  Commands not shipped with HamburgerMenu

[2017-02-11 16:10] thoemmi commented on #2848
@tomanye That was just a proposal, it's not implemented yet.

[2017-02-13 03:22] ryanknopf opened #2852 "ToggleSwitch IsChecked OneWay Binding Is Broken By User Interaction"
Hello all,

I'm having an issue in which I'm trying to use a ToggleSwitch to represent the connection status of a communication interface that is handled in a separate thread.  I've bound the ToggleSwitch IsChecked property to a boolean property in my View Model.  The idea is that the binding is OneWay, such that when the user clicks the ToggleSwitch it triggers a "Click" event but the IsChecked v

[2017-02-13 08:33] SkyEngine-OSP opened #2853 "Writing WindowCommand Controls programatically"
is there any possible way to write the WindowCommand Controls programmatically or from the code behind ? like for example, if a specific user type logged in, specific WindowCommand Controls will be rendered and/or the user's name will appear on the right side etc etc.

- MahApps.Metro __v1.4.3__
- Windows OS __8.1__
- Visual Studio __2015
- .NET Framework __4.6.2__

[2017-02-13 21:00] Deadpikle opened #2855 "Maximize Window with Animations On and Max Width/Height Fails"
## What steps will reproduce this issue?

If Windows (system) animations are turned *on* and `MaxWidth`/`MaxHeight` of the `MetroWindow` are < the screen width/height, the window has a little gap between the top of the left of the application window and the user's screen. This happens when you "maximize" the window by dragging it to the top of the Windows screen or by clicking the maximize button

[2017-02-13 21:34] Deadpikle commented on #2855
If there needs to be a check as to whether Windows animations are turned on or off (http://stackoverflow.com/a/37672048/3938401):
[code]

[2017-02-13 22:01] BornToBeRoot opened #2856 "[Question or Bug] ShowMessageAsync Highlight Buttons"
The colors of the buttons should be swapped.

## What steps will reproduce this issue?

When calling the follwing code:

[code]

MetroDialogStyles.xaml
[code]

It looks like this:

![image](https://cloud.githubusercontent.com/assets/16019165/22905191/b54538f8-f23f-11e6-8caa-a01ccbf76dac.png)

Shouldn't be the OK-Button highlighted?

### Expected outcome

The "OK" Button should be highlighted...

#

[2017-02-13 22:05] Deadpikle commented on #2856
Try setting the `DefaultButtonFocus` to `MessageDialogResult.Affirmative`.

[2017-02-13 22:07] thoemmi commented on #2856
Like @Deadpikle said. The default value for `MetroDialogSettings.DefaultButtonFocus` is `MessageDialogResult.Negative`, see
https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro.Shared/Controls/Dialogs/BaseMetroDialog.cs#L394

[2017-02-14 07:59] xmedeko commented on #2792
I've probably found the problem. We have the {{MetroWindow}} shown fullscreen without decorations:
[code]
The user can switch off the fullscreen:
[code]
However, during this fullscreen switch off the window is first time a little bit smaller than maximized and in a moment it enlarges to the maximized size. A kind og transition state. When the user clicks the close button in this transition state,

[2017-02-14 10:21] punker76 commented on #2848
@matej89 @tomanye another way without that we implement such commands is to use the interactivity stuff

[code]

/cc @thoemmi

[2017-02-14 14:39] punker76 commented on #2853
@SkyEngine-OSP You can handle this also by using flags in your view model and bind to it to set the visibility of your window command controls (buttons), so you don't need to create these controls in code behind.

[2017-02-14 14:41] punker76 commented on #2850
@avechuche Seems like it's the same issue as here #2841

[2017-02-14 14:41] #2850 closed

[2017-02-14 15:12] Deadpikle commented on #2855
Just leaving a note here as a research that this does *not* exist in 1.0.0, but does exist in 1.1.

[2017-02-14 15:58] thoemmi commented on #2848
That should do the trick, as `System.Windows.Interactivity` is required anyway.

However, standard controls like `Button` or `MenuItem` support `ICommand` out of the box, so why not `HamburgerMenu `or `HamburgerMenuItem` as well? (By the way, I don't like the `HamburgerMenuItem.Tag` property, it reminds me of my WinForms days too much 😉)

[2017-02-14 16:48] avechuche commented on #2850
@punker76 Sir, I edited the description to make it more understandable. Can you check it? Thank you!

[2017-02-14 19:36] punker76 commented on #2848
@thoemmi thx, you're right, the commands could be useful (Command on MenuItem and ItemCommand and OptionsItemCommand on the HamburgerMenu itself). The tag property comes from the UWP toolkit code, I will add another property called `Content` which should be obvious, and sign the Tag property as obsolete (you know, it's a breaking change).

[2017-02-15 07:58] tomanye commented on #2848
@punker76 thanks , it Worked

[2017-02-16 00:37] avechuche commented on #2841
These options do not work if the Flyout does not pass over the controls.

![1](https://cloud.githubusercontent.com/assets/11781418/23001975/f0db0784-f3c6-11e6-8ce6-7a283ec4db0e.gif)

[2017-02-16 16:22] amkuchta opened #2857 "HamburgerMenuItem Scrolling"
## What steps will reproduce this issue?

_If the window is sized to be smaller than the height of the `HamburgerMenu`, `OptionsListView` overlaps `ButtonsListView`_

### Expected outcome

_Ideally, the `PaneRoot` would not be allowed to have a height smaller than is required to show all of the items in the pane.  My suggestion is to use a `DockPanel` wrapped in a `ScrollViewer` to host the `ListB

[2017-02-16 17:20] BornToBeRoot commented on #2856
Thanks!

This would be great in the documentation😃

[2017-02-16 17:20] #2856 closed

[2017-02-16 17:33] punker76 commented on #2857
@amkuchta I think the options menu of a HamburgerMenu should not have too many items, so it can be always visible and overlap the normal menu items. The scrollbar of normal menu item listbox is shown if there are many items. So IMO we should leave this as it is (and how it works in the UWP Community Toolkit). If you need other implementation you can create your own HamburgerMenu style with your sp

[2017-02-16 17:42] amkuchta commented on #2857
@punker76 I'll look into rolling my own.  I am gonna look into opening a similar issue on the UWP Toolkit Community repository as well - I don't see why the options menu takes precedence over the normal menu items.  I also think that the `VerticalScrollBar` should be on the left instead of the right so that it is always visible when the lists are too long... but that is just me being picky

[2017-02-17 02:44] amkuchta commented on #2857
@punker76 I just did a PR for the UWP Community Toolkit to correct this - would you like me to apply the same fix here?

[2017-02-17 08:37] yeasin90 opened #2859 "RangeSlider with more than 2-thumbs"
Hi,

In current samples, there are two thumbs in RangeSlider. Is there any option/way to put more than two thumbs on RangeSlider?

It will be great to have this on up-coming version :) (if not available for now)

[2017-02-17 15:37] HashemKalan opened #2860 "Crash Mahapps In Release"
Hello When I Run Project On My PC It's Work
But When I Run It On Client PC It's Crashed
Here is the Message:

Problem signature:
  Problem Event Name:  CLR20r3
  Problem Signature 01:  DoctorNobatDehi.exe
  Problem Signature 02:  1.0.0.0
  Problem Signature 03:  58a712cd
  Problem Signature 04:  MahApps.Metro
  Problem Signature 05:  1.4.3.0
  Problem Signature 06:  5893a46a
  Problem Signature 07

[2017-02-17 19:36] punker76 commented on #2860
@HashemKalan That's odd. Can you try catch all exceptions? So maybe you can see what's really happen. Is this running on a normal pc? Or is it running over remote desktop? Has the user really the same .Net Framework? And hat about the user rights?

Found this, but don't know if it can help http://hasstoppedworking.com/fix-clr20r3-event-issues/

[2017-02-19 10:54] Dirkster99 commented on #2806
I have deleted the linked repo above since it was just another development version. The repo to use now is called MLib since thats the name of the framework I've created based on your work:
https://github.com/Dirkster99/MLib

I also tried to summarize relevant information in this article here:
https://www.codeproject.com/Articles/1170500/A-ContentDialog-in-a-WPF-Desktop-Application

[2017-02-19 21:27] #2848 closed

[2017-02-20 02:02] ThatPerfectMan opened #2861 "TimePicker get 24 hours selection mode ?"
as foremost

[2017-02-20 02:58] #2861 closed

[2017-02-20 07:55] mahdi-ataollahi opened #2862 "Flyout close button icon is incorrect when setting flow direction right to left"
Hello, when I use flyout in a Right-to-left window, the close button's icon keeps its direction like Left-to-right mode. It's should change. Just look at this a simple code:
`<UserControl FlowDirection="RightToLeft">`
`    <Controls:Flyout IsOpen="True"/>`
`</UserControl>`

**Left to right**
![image](https://cloud.githubusercontent.com/assets/7458725/23116294/147767a0-f75f-11e6-94f6-391be48e319d.p

[2017-02-20 09:53] punker76 commented on #2859
@yeasin90 What is your intention to need this?
/cc @thoemmi I think we should leave this as is with 2-thumbs.

[2017-02-20 09:53] #2853 closed

[2017-02-20 15:13] thoemmi commented on #2859
@punker I second that. This would be a new control, as having `LowerValue` and `UpperValue` wouldn't make sense anymore.

[2017-02-20 18:53] shaggygi opened #2863 "Proposal: Timeline Control"
Would be nice to have a timeline control similar to this one...

http://wpftoolkit.codeplex.com/wikipage?title=TimelinePanel&referringTitle=Home

[2017-02-20 22:37] freMea commented on #1695
Hi,

Same issue.

A release page with working demo would be useful to learn and see all the features in live. Source demo as if they were created by anyone using nuget package would be even more useful to learn.

1. I cloned to VS 2015, chosen Master Branch and opened the solution (I think I get the Master Branch like that, don't I ?).
2. Then I Restore NuGet Pakages for solution: `All packages ar

[2017-02-21 06:57] yeasin90 commented on #2859
@punker76  I wanted to have a vertical slider to control more than two values say : A1, A2, A3.... where A1 < A2 < A3 ......

[2017-02-21 07:19] punker76 commented on #2859
@yeasin90 I think this is already possible. You can handle this with the `Minimum`, `Maximum` and the `TickFrequency` or `Ticks` property.

[code]

[2017-02-21 08:15] yeasin90 commented on #2859
@punker76 : thanks for the suggestion - i am giving it a try. Actually i wanted to add a Thumb for each value, like for A1, A2, A3 etc, so that Thumb for A1 does not exceed Thumb for A2....so on and so forth

[2017-02-21 21:12] punker76 commented on #2860
@HashemKalan Any news for your issue? Did you tried to get more information for this exception?

[2017-02-22 00:07] defunky opened #2864 "Visual Studio Theme Context Menu"
By creating a context menu with VS theme, the style applied seems to be broken Menu/Menu Item seem to be fine though

![image](https://cloud.githubusercontent.com/assets/17749501/23190915/ce307f72-f892-11e6-988e-791389129bab.png)

[2017-02-22 07:05] punker76 commented on #2864
@defunky Please, can you post a full repo on GutHub to investigate this issue? Thx

[2017-02-22 13:18] Bitexirtz opened #2865 "[Feature request]Enable/Disable of Hamburger Menu Item"
As shown on the screenshot, I would like to request for enabling/disabling the hamburger menu item.
Thank you very much.

![hamburger item](https://cloud.githubusercontent.com/assets/7827862/23212995/2ebfc508-f944-11e6-8789-d5695684b146.png)

[2017-02-22 16:26] andy294 opened #2866 "Validation-Popup won't be opened after closing by mouse left button down"
## What steps will reproduce this issue?

* Open MahApps.Metro.Demo.Shared\App.xaml
* Change the Property 'CloseOnMouseLeftButtonDown' of the 'MetroValidationPopup'-Style to 'true'
* Start the MahApps-Metro-Demo-Application
* Open the 'text'-Examples-View
* Go to the TextBox with the watermark 'Number smaller than 10' and enter a number smaller than 10 (The validation popup is visible)
* Click wit

[2017-02-22 19:29] avechuche commented on #2865
I think with the new implementation of Command you can disable it

[2017-02-22 21:23] #2866 closed

[2017-02-22 21:25] punker76 commented on #2859
@yeasin90 So why not style this custom slider from the link?

[2017-02-22 21:27] punker76 commented on #2846
I think this would be too much. The upcoming 1.5.0 has 2 new brushes to handle the background and foreground for the items.

[2017-02-22 21:27] #2846 closed

[2017-02-22 22:25] Bitexirtz commented on #2865
We already tried 1.5.0-alpha002 but it seems that the ICommand is to wire only an event. You can respond to the event but disable the menu item it not possible.
I may be wrong but anywone who could help me on this?
Thank you.

[2017-02-24 01:09] #2863 closed

[2017-02-25 02:42] amkuchta commented on #2846
@punker76 just updated to the latest pre-release; 👍 for the brush for look of the HamburgerMenu with the new BackgroundBrush - it looks great, and helps distinguish the HamburgerMenu from the rest of the window

[2017-02-25 11:32] #2860 closed

[2017-02-26 18:13] steevcoco opened #2870 "MahApps Not Thread Safe But Should Be [Test Case]"
This issue was posted before, and closed. We feel that it should be opened and resolved.

The issue is in running windows on dedicated STA Threads --- note that the issue is NOT in trivial WPF Threading, as in "invoke on the Window's Thread", but it is in resource isolation that ALLOWS multiple STA Thread Windows to run: WPF ALLOWS for a resource chain that can INTERRUPT App.xaml access.

Correctl

[2017-02-26 23:15] #2870 closed

[2017-02-27 21:23] amkuchta opened #2871 "SplitButton CornerRadius"
## What steps will reproduce this issue?

_Creating a custom-styled `SplitButton` and applying `CornerRadius` does not have any effect:_

[code]

### Expected outcome

_`CornerRadius` should be set for all corners to a value of "3"_

### Repo

_https://github.com/amkuchta/Vulnerator/tree/code_cleanup_

### Environment

- MahApps.Metro __v1.5.0.0__
- Windows OS __10__
- Visual Studio __2015__
- .NE

[2017-02-28 00:43] makingbloke commented on #2657
In the end I used something based on this ButtonStyle="{StaticResource {x:Static ToolBar.ButtonStyleKey}}" if anyone is interested :)

[2017-02-28 04:24] zredb opened #2872 "System.UnauthorizedAccessException at GlowWindow.WndProc #2790 is occured on my computer"
I've got an error log from my machine:
Occurrence time:2017-02-28 10:50:00,773    Method name:App_DispatcherUnhandledException
System.UnauthorizedAccessException: E_ACCESSDENIED
   at Standard.HRESULT.ThrowIfFailed(String message)
   at MahApps.Metro.Controls.GlowWindow.GetRelativeMousePosition()
   at MahApps.Metro.Controls.GlowWindow.WndProc(IntPtr hwnd, Int32 msg, IntPtr wParam, IntPtr lParam,

[2017-02-28 15:52] steevcoco commented on #2870
This worked to a large degree; however, I still have an issue.

I have made a build with the latest code from GitHub, which has the changes to Colors.xaml. It was working until I added a shared style to an STA window. I get:

InvalidOperationException: Cannot access Freezable 'System.Windows.Media.SolidColorBrush' across threads because it cannot be frozen.

There is a GroupBox Style defined in Ap

[2017-02-28 20:41] punker76 commented on #2872
@zredb Please can you try the latest release 1.4.3? Thx.

[2017-03-01 14:00] madalilng opened #2873 "designer view different from debug view"
hello i have this issue first i thought it only exist in vs2015 community
then i try to install vs2013 community too and the issue seems to exist too..
my problem was in design mode it shows black panel while in debug mode the metro ui shows..
its hard to design where you cant see what you are designing .. anyone can help please thanks.
here's the screenshot for more info.

![bug](http://i.imgur.c

[2017-03-01 14:26] punker76 commented on #2873
@madalilng This is not a bug by MahApps. This is usual view of a Window in the VS designer (it's also happen with normal Window).

[2017-03-01 14:26] #2873 closed

[2017-03-02 05:42] madalilng commented on #2873
o okay .. how can i change that to follow mahapps design, is there a way?

[2017-03-02 15:00] ksobon opened #2874 "How to prevent selected row background override when setting cell style"
I am setting a cell background style with a `DataTrigger` but when the cell is selected it changes its background color to this Blue one:

![image](https://cloud.githubusercontent.com/assets/529781/23512473/abbff24a-ff2e-11e6-9435-14e3ad495ec4.png)

When I just hover over it looks good:

![image](https://cloud.githubusercontent.com/assets/529781/23512520/dbcfee90-ff2e-11e6-881e-ab3b7e1c93ba.png)

[2017-03-02 18:49] ksobon opened #2875 "DataGrid check box column style not applied"
I followed this suggestion: http://mahapps.com/controls/datagrid.html and added a `DynamicResource` style to my checkbox column, but its not working as expected. What am I missing?

[code]

Full user control XAML:

[code]

[2017-03-02 19:16] manprit-sahota opened #2876 "Error is showing in vertical orientation."
I have implemented logic to validate my model and while validating, it is working as expect. The only think that is not working is that, the orientation of error message is vertical which is surprising. Look as the attached image:
![orientation](https://cloud.githubusercontent.com/assets/19249055/23522884/b04fb83c-ffaa-11e6-9637-6ba500a6a749.png)

I don't know what is problem with this.
### Enviro

[2017-03-02 21:34] punker76 commented on #2876
@manprit-sahota maybe the same like this? https://github.com/MahApps/MahApps.Metro/issues/2536
How do you implemented the error stuff?

[2017-03-03 06:21] zredb commented on #2872
@punker76  Would tell me what changed for this bug in 1.4.3?

[2017-03-03 06:28] punker76 commented on #2872
@zredb https://github.com/MahApps/MahApps.Metro/commit/41fd0a491610fc6daf6c80fe4d5a7d97322db640

[2017-03-03 13:09] Blinxar opened #2877 "Can't bind to ShowTitleBar"
## What steps will reproduce this issue?
I've bound the `ShowTitleBar` property on my window to a property on my view model

`ShowTitleBar="{Binding ShowTitleBar}"`

[code]
The property on the window does take the initial value of the property on the view model, however, updating the property on the view model doesn't update the window.

Using snoop, there's no reference to the binding on the Show

[2017-03-03 15:14] #2877 closed

[2017-03-03 20:27] makingbloke commented on #2874
I had the same issue recently. You need to base your style for the cell on MetroDataGridCell not DataGridCell. I'm modifying the style in code so in my case I just added the following:

<Style TargetType="DataGridCell" BasedOn="{StaticResource MetroDataGridCell}" />

Cheers

[2017-03-03 21:49] punker76 commented on #2874
@makingbloke Yes, that's correct. 👍

[2017-03-03 21:49] #2874 closed

[2017-03-04 12:57] #2871 closed

[2017-03-04 12:57] punker76 commented on #2871
This will be available in 1.5.0

[2017-03-04 12:57] punker76 commented on #2877
This will be fixed in 1.5.0

[2017-03-04 13:10] #2862 closed

[2017-03-04 13:10] punker76 commented on #2862
This will be fixed and available in 1.5.0

[2017-03-04 20:12] sooqua opened #2878 "ripple effect on click"
Is there any plans to add the "ripple" click effect on each control? (or at least the button)
I'm jealous that almost every other material ui library has it (MaterialDesignInXaml, material-ui, etc.) and we don't.

[2017-03-04 20:33] #2816 closed

[2017-03-05 12:13] maks991 opened #2879 "[Feature request] Ticks property for the RangeSlider"
I've noticed that **RangeSlider** doesn't have the **Ticks** property. I need ability to specify custom snapping points that can be changed dynamically through binding. So I really need [Ticks](https://msdn.microsoft.com/en-us/library/system.windows.controls.slider.ticks(v=vs.110).aspx) property like in the standard [Slider](https://msdn.microsoft.com/en-us/library/system.windows.controls.slider(v

[2017-03-05 12:48] maks991 opened #2880 "RangeSlider: Inadequate snapping to ticks"
At now snapping to ticks in the **RangeSlider** doesn't work as it should. As soon as I start moving thumb it goes crazy jumping in an unpredictable way. I use MahApps.Metro v1.4.3.

**XAML**

[code]

**VIDEO**

Also I recorded the video that demonstrates the problem (you can watch it in your browser, you don't need to download it): [RangeSliderGoesCrazy.mp4](https://www.dropbox.com/s/t9tsoj8uklhb

[2017-03-06 12:19] kermitthegreat opened #2881 "Window keeps titlebar open in lower left corner on minimize"
Hi,

my window is designed like this:

[code]

i have a scenario in which i want to be able to minimize the window, and open it up by some messageloop sent by a different process.

whenever i set the window to minimized, some part of the header gets stuck in the lower left corner of my screen's working area.

due to limitations of the program, i can't make the window invisible, because it is a dia

[2017-03-06 12:23] punker76 commented on #2881
@kermitthegreat If you use `ShowInTaskbar="False"` and minimize the window then this is the normal behavior...

[2017-03-06 12:24] kermitthegreat commented on #2881
oh ok, do you know of some work around for this?

[2017-03-06 12:31] punker76 commented on #2881
@kermitthegreat Try using the `Hide` and `Show` method...

[code]

[2017-03-06 14:39] SmithsonianDSP commented on #2818
I started running into a similar problem, except that it wasn't throwing an exception during runtime; for me, it was throwing an exception in the designer and would only load a red error icon in place of the DatePicker control in the Designer preview,

This thread was one of the first results that Google returned (and the one that seemed most relevant) to the problem I was having, however, I _**wa

[2017-03-06 17:36] amkuchta commented on #2857
@punker76  poke :point_right:

[2017-03-06 17:53] amkuchta commented on #2871
@punker76 Thanks!  Did this make the cut for `1.5.0_alpha006`, or do I need to wait for `007`?  Just updated to `006`, and it still isn't working, which is why I am asking.

[2017-03-07 18:29] magla42 opened #2882 "Titlebar Close command does not work with ShowDialogsOverTitlebar=False"
## What steps will reproduce this issue?

With the MetroWindow.ShowDialogsOverTitlebar flag set to False, the title bar Close button, as well as the Close menu item in the title bar context menu does nothing. Minimize, Maximize, Move, Size etc works fine.

### Expected outcome

I am not entirely sure what the desired behavior would be, but it should either work, i.e., close the window, or the Clos

[2017-03-08 00:33] steevcoco opened #2883 "Can Reproduce BindingExpression path error: ... property not found ... On DropDownButton"
I have a simple test case on GitHub:

https://github.com/steevcoco/MahAppsTests

It's a WPF XAML App. It uses a DropDownButton in a DataTemplate. The template does not set the ItemTemplateSelector, ItemStringFormat, or other properties; yet the XAML throws abundant Binding traces during execution:

BindingExpression path error: 'ItemTemplateSelector' property not found on 'object' ''ContentPresent

[2017-03-08 13:09] punker76 commented on #2882
@magla42 this was introduced by https://github.com/MahApps/MahApps.Metro/issues/2409
maybe we can allow this if `ShowDialogsOverTitleBar=False` /cc @thoemmi

[2017-03-08 14:22] punker76 commented on #2872
@zredb Any news for this?

[2017-03-09 02:05] amkuchta opened #2884 "[Feature Request] Watermark Trimming"
## What steps will reproduce this issue?

_Currently, any watermark applied to a `TextBox` or `ComboBox` control will not trim when the control becomes too short to display the information_

### Expected outcome

_Text should trim at the character/word level, followed by a set of ellipses_

[2017-03-09 07:29] thoemmi commented on #2882
I agree. Either the Close button is enabled and working, or disabled if it's not allowed.

Ideally there would be an option in `MetroDialogSettings`, if the Close button should be enabled or not 😉

[2017-03-09 14:23] #1938 closed

[2017-03-09 14:24] punker76 commented on #1938
@Pekshev I retested this issue with the latest source and can not see any difference now between normal window and mahapps window.

![sizetocontent_normal](https://cloud.githubusercontent.com/assets/658431/23754217/7eec5958-04dc-11e7-9c6e-7db36d23ef7d.gif)

![sizetocontent_mahapps](https://cloud.githubusercontent.com/assets/658431/23754219/82e6d4f2-04dc-11e7-9a02-c49f99c42aa7.gif)

[2017-03-09 14:35] amkuchta opened #2885 "[Bug] Badged Control Causes Window Loading to Hang"
## What steps will reproduce this issue?

_Wrapping a `TextBox` in a `Badged` control (bound to the `TextBox`'s `Text.Length` property) causes the window to hang when loading - the `GlowBoarder` will load, but nothing else.  Code Snippet provided below:_

[code]

### Expected outcome

_Window should load and the badge should show the length of the text in the named `TextBox`_

### Repo

_https://g

[2017-03-09 14:36] amkuchta commented on #2885
@ButchersBoy this one might interest you, since you implemented the `Badge` Control

[2017-03-09 15:27] davericardo opened #2886 "NumericUpDown: HasDecimals=False & using a bound StringFormat allows to enter a decimal point"
I want to show a unit e.g. 's' in the NumericUpDown:

<mahControls:NumericUpDown Value="{Binding Value, Mode=TwoWay}" StringFormat="{Binding ValueUnit}" HasDecimals="False" />

In this case I am allowed to enter a decimal point. But if I don't use a binding for StringFormat property

<mahControls:NumericUpDown Value="{Binding Value, Mode=TwoWay}" StringFormat="{}{0} s" HasDecimals="False" />

it w

[2017-03-13 13:42] amkuchta opened #2889 "[Feature Request] Watermark Wrapping"
## What steps will reproduce this issue?

_Similar to #2884, any watermark applied to a `TextBox` or `ComboBox` control will not wrap when the control becomes too short to display the information_

### Expected outcome

_The watermark should follow the same behavior as the `TextBox` - that is, if the `TextBox` has `TextWrapping="Wrap"`, the watermark should have the same setting_

[2017-03-13 13:43] amkuchta commented on #2884
Personally, I think that the watermark should follow the same setting as the `TextBox` instead of having to set a separate property (if possible) @xxMUROxx, thoughts?

[2017-03-13 13:53] panhans opened #2890 "Validation adorner is visible when parent has height = 0"
## What steps will reproduce this issue?

- take a toggle button
- trigger a double animation for the height of another element
- this element contains e.g. a textbox which validates some data and throws a validation error
- collapse the element using the toggle button, which sets the height to 0

[code]

### Expected outcome

Nothing. If all is fine everything is hidden because height is 0

### E

[2017-03-13 14:05] #2066 closed

[2017-03-13 14:14] punker76 commented on #2066
Here some Infos about this issue:

- MahApps use always `WindowStyle="None"` (it is explicit set in `BorderlessWindowBehavior`
- MahApps enhanced the WindowChrome and WindowChromeWorker to achieve the animation of the window itself together with the `WindowStyle="None"` setting
- This causes the window height issue
- The `BorderlessWindowBehavior` has now a fix to solve this
- It's recommended to

[2017-03-13 14:19] #2792 closed

[2017-03-13 14:21] punker76 commented on #2890
@panhans You should set the Visibility of this details grid too.

[2017-03-13 15:00] #2886 closed

[2017-03-13 15:07] punker76 commented on #2890
@panhans You can try put your details grid inside a AdornerDecorator. But child elements don't get hidden visibility if you set the Height of the parent.

[code]

[2017-03-13 15:14] panhans commented on #2890
@punker76 If I don't let the textbox inherit from the MetroTextBox I don't get this issue. So in this case the red border disapear when set height of parent to zero.

[2017-03-13 15:32] punker76 commented on #2885
@amkuchta I can't start your Vulnerator sample, so I extracted the view and put it into the main demo and can not reproduce what you say. So please, try to figure it out if this is really the problem of the badged control, try to create a short sample app which reproduces your issue, thx

![badged_test](https://cloud.githubusercontent.com/assets/658431/23861551/b548e0b2-080a-11e7-87c1-b2ae58b6eac0

[2017-03-13 16:08] amkuchta commented on #2885
@punker76 to get the Vulnerator app to build, try copying the `x86` and `x64` folders from the main "Vulnerator" folder into "/bin/Debug".  I think that should solve your issues.

[2017-03-13 16:29] amkuchta commented on #2885
@punker76 new info - I am now getting an exception (had to disable "Just My Code"):

_"Exception = 'BadseScaleTransform' name cannot be found in the name scope of 'System.Windows.Controls.ControlTemplate'."_

[2017-03-13 17:44] uuuus opened #2891 "Custom TabItem disappear after click"
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-03-13 18:04] #2891 closed

[2017-03-13 18:28] xxMUROxx commented on #2884
Yes, that would be a good option@punker76Am 13.03.2017 14:43 schrieb Alex Kuchta <notifications@github.com>:Personally, I think that the watermark should follow the same setting as the TextBox instead of having to set a separate property (if possible) @xxMUROxx, thoughts?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-03-14 14:38] #2876 closed

[2017-03-14 14:38] #2872 closed

[2017-03-14 14:43] #2881 closed

[2017-03-15 15:51] Ziriax opened #2893 "Unwanted window dragging and mini/maximizing"
First of all thanks a lot for this great library!

I have a question, maybe an issue.

I placed a button on the titlebar. When the button is disabled, double clicking on it will  mini/maximizing the window. Also when dragging the disabled button, the window also drags.

The same happens for flyouts that cover  the titlebar. Double clicking resp dragging on the flyout in the titlebar region  mini/m

[2017-03-15 20:20] punker76 commented on #2893
@Ziriax

yes, the titlebar is the control which handles double click and dragging. so if you put e.g. buttons on it and this buttons are disabled the titlebar wins. to prevent this you can put your button on the left or right window commands.

yes, that's correct, this is a feature of MahApps.

[2017-03-16 15:01] #2885 closed

[2017-03-16 16:40] Speuline commented on #510
No news? This control would be very helpful :'(
The feature was abandonned?

[2017-03-17 01:10] amkuchta opened #2895 "[RFC] [Enhancement] Proposed TabControlHelper.IsUnderlined Change"
### Description
Since the TabControl got an underline a while back, I have wanted to update it to have an underline all the way across, but wasn't able to get around to it.  I wanted to put the idea to a vote and see how the community at large feels.  If you like it, please 👍 .  If you would prefer to keep the underline how it is, please 👎 .  As always, @punker76 and the rest of the contributors,

[2017-03-17 01:34] amkuchta commented on #2805
This has a detrimental effect on my proposed updates to `TabControlHelper.IsUnderlined` (see #2895).  You can see the border through the underline box:

![cyantransparent](https://cloud.githubusercontent.com/assets/6255186/24025339/20b7069e-0a90-11e7-953d-edc7940889f7.png)

I agree that this needs to be fixed.  I bungled a recent PR (added commits that should have gone into a separate pull), so I

[2017-03-17 01:36] amkuchta commented on #2884
@xxMUROxx once I get #2892 done and approved / rejected, I will look at tackling this and #2889 (I added commits to the above PR that shouldn't have been there 💩 , so now I want to get it taken care of before I tackle anything else)

[2017-03-17 04:09] amkuchta opened #2896 "[Suggestion] MetroDemo Re-Organization"
With all of the awesome enhancements, MetroDemo has gotten a bit... unruly.  I propose restructuring the examples so that they are easier to follow and better give users an idea of how to implement controls.  Some suggestions:

- More `CheckBoxes` / `ToggleSwitches` to control DependencyProperties
- `HamburgerMenu` for navigation instead of `TabControl`
- A tiny editor to help users grab WPF snipp

[2017-03-17 07:36] xxMUROxx commented on #2884
@amkuchta You can remove the commits that are wrong on the branch representing the PR. Then you can `git push -f` to update the PR. Since no merge is done yet, there is no problem if you rewrite history.

[2017-03-17 13:24] amkuchta commented on #2895
@flagbug @Amrykid @laicasaane @Malavos @DylanDoppelt @100GPing100 since you guys all had some input for the original underline, I am especially interested in hearing what you have to say about this

[2017-03-17 13:26] punker76 commented on #2895
@amkuchta I'll look what we can do

[2017-03-17 13:28] amkuchta commented on #2895
@punker76 I can handle this one if you'd rather assign me to it.  I already started working it in on my side, and can take this off of your plate

[2017-03-17 13:29] amkuchta commented on #2895
I'm trying to pull my weight 😆

[2017-03-17 14:00] 100GPing100 commented on #2895
As long as it stays optional and does not break any current features I'd say why not :+1:

[2017-03-17 15:57] amkuchta commented on #2895
@punker76 I'll work this on https://github.com/amkuchta/MahApps.Metro/tree/underlined_tabcontrol_enhancement.  You'll see a PR for it sometime this weekend.

[2017-03-17 16:01] amkuchta commented on #2884
@punker76 do you want me to roll this and #2889 into #2898 (I would rename the PR to "Watermark Enhancements", but this seems to fit there), or are you actively working it now?

@xxMUROxx thanks for the advice - I separated the PR, so now I can work this without any guilt 😄

[2017-03-17 23:40] DavidNgugi commented on #2896
That will be awesome

[2017-03-18 03:24] lasikye opened #2900 "[Suggestion Request] Metro Style Charts Framework working with Mahapps."
Hi Guys.

I`m looking for a metro style charts framework which can work with Mahapps perfectly.

By right, I have found one named 'WPF Metro UI Charts' (http://gamandelkowcharts.codeplex.com/), but I don`t kown whether it can work good because it has stopped updating since Oct 8, 2015.

 Can anyone give me some suggestions ?

[2017-03-18 11:21] punker76 commented on #2805
@manne how do you get these values? and what's with the other accent colors?

[2017-03-18 13:01] MoiraG commented on #2900
my favourite: https://github.com/beto-rodriguez/Live-Charts

[2017-03-18 13:41] amkuchta commented on #2900
I second [LiveCharts](https://github.com/beto-rodriguez/Live-Charts) - I have started integrating it with my app, and I love the layout / design.  Additionally, it is also _very_ actively maintained, which is important - they even have a Gitter room that is always in use.

[2017-03-18 13:44] amkuchta commented on #2896
I'm gonna give it a go @DavidNgugi  - progress can be watched [here](https://github.com/amkuchta/MahApps.Metro/tree/metrodemo-rework)

[2017-03-19 01:21] amkuchta commented on #2884
@xxMUROxx I mixed the `TextBox` and `TextBlock` controls up... `TextBox` does not have a `TextTrimming` property.  I am integrating a new DependencyProperty to handle this.

[2017-03-19 14:58] amkuchta commented on #2884
@xxMUROxx @punker76 So, if I have both `TextTrimming` and `TextWrapping` set for the watermark, `TextWrapping` overrides `TextTrimming`.  Should we keep it this way, or should I make `TextTrimming` the dominant behavior?

[2017-03-19 20:54] bboxstart commented on #2302
@punker76 This works fine when not using MVVM. However, when using MVVM One would like to have control of cancelling the close action in the command body and not in a code behind event.

[2017-03-19 21:39] thoemmi commented on #2302
@kmetic As far as I can see you have two options:
* `MetroTabItem.CloseTabCommand`<br>However, you can cancel the closing of tab; this command is executed if the tab is about top be closed.
* `MetroTabControl.CloseTabCommand`<br>If this property is set on the tab control, you are responsible for removing the tab from the Tabs collection, but I guess that's what you try to achieve.

[2017-03-19 22:21] bboxstart commented on #2302
@thoemmi Thanks. I already read about the CloseTabCommand on the TabControl, but was under the impression that it was the predecessor of the command on the tab itself. I indeed need to remove the tab from the collection myself, so I guess that this will be the solution for my situation. I will try it tomorrow.

[2017-03-20 16:10] nikhilSulibhavi opened #2901 "MahApps.Metro Compatibility issues with Windows 7 and Windows 10"
I am using Visual studio 2015 Professional (running in Windows 7) to build a WPF application with MetroUI (MahApps.Metro). I installed the MahApps.Metro.dll for the application through NuGet Manager. The behaviour I observed is that, the application built in Windows 7 OS does not work in Windows 10 and vice versa. When I remove MahApps.Metro.dll dependency from the application, then the applicatio

[2017-03-20 19:14] manne commented on #2805
@punker76 I used the [RGB/Hexadecimal Tint Calculator](http://www.brandwares.com/RGBTintCalculator.php)
Entered the values
* Accent base color (1.), without the alpha channel
* Percentage of the accent color (2.) (80%)

End got the result 3.
Verified that the returned color is the "same" color as in the xaml.

Repeated the previous steps with the remaining accent colors.

![image](https://cloud.gi

[2017-03-20 19:22] punker76 commented on #2805
@manne thx :-D I found this too, this works maybe fine for the light theme, but for the dark theme with a dark background the colors are now different, cause the alpha channel is gone. I think I will not do this change for all colors. If someone (like you) need non alpha channel accent colors then you can create your own accent resource dictionary.

[2017-03-20 21:12] bboxstart commented on #2302
@thoemmi I implemented the MetroTabControl.CloseTabCommand. It is worth mentioning that I also needed to use MetroTabItem.CloseTabCommandParameter (on the TabItem, there is none on the TabControl). I was not able to use the CloseTabCommand without parameter by using the selected tab item property on my view model, because that one did not update (when closing another tab than the selected one) bef

[2017-03-20 22:49] thoemmi commented on #2302
You're right: the parameter for `MetroTabControl.CloseTabCommand` is the tab's `CloseTabCommandParameter`, if it's not `null`; otherwise it's the tab itself. Maybe you should consider to change `CloseTabCommandParameter`'s value to somewhat supporting all your requirements.

[2017-03-21 07:24] bboxstart commented on #2462
I just encountered this behaviour this week. Using the event is no solution when applying MVVM. However, I was able to work-around this by using the CloseTabCommand on MetroTabControl instead of the same parameter on MetroTabItem. You then still can use the CloseTabCommandParameter on the MetroTabItem.

However, I do support @lagwagon667 on:
- Using CanExecuteCommand is not a solution when you wou

[2017-03-21 07:26] bboxstart commented on #2302
@thoemmi I pass the ViewModel as the Command parameter. All my view models implement the same interface.

[2017-03-21 07:52] thoemmi commented on #2302
I guess you have binded an `ObservableCollection` of your viewmodels to `MetroTabControl.ItemsSource`. If the user of your application confirms the closing of tab, why can't you just remove the viewmodel from that collection?

[2017-03-21 17:59] smzuber commented on #2848
Hi,

I am using alpha version and I tried the above mentioned idea to use event triggers but that does not seem to work. Any idea what I am doing wrong ?

<metro:HamburgerMenu
         x:Name="HamburgerMenuControl"
         DisplayMode="CompactInline"
         Foreground="White"
         IsPaneOpen="False"
         ItemTemplate="{StaticResource MenuItemTemplate}"
         OptionsItemTemplate="{Sta

[2017-03-21 19:06] FaridAghili commented on #2878
Ripple effect is used in Material design, not in Metro (AFAIK).

[2017-03-21 21:14] punker76 commented on #2901
@nikhilSulibhavi Did you also include the `System.Windows.Interactivity.dll` (which also comes with MahApps NuGet)?

[2017-03-21 21:15] #2900 closed

[2017-03-21 21:16] #2878 closed

[2017-03-22 07:14] matej89 commented on #2848
Hi,

I didn't implemented command yet, but I will. In below I change the some
code, please check and let me know if working.

<metro:HamburgerMenu
x:Name="HamburgerMenuControl"
DisplayMode="CompactInline"
Foreground="White"
IsPaneOpen="False"
ItemTemplate="{StaticResource MenuItemTemplate}"
OptionsItemTemplate="{StaticResource OptionsMenuItemTemplate}"
PaneBackground="#FF444444">
<i:Interaction.Tr

[2017-03-22 09:31] punker76 commented on #2893
@Ziriax Can I close this? Or do you need more help?

[2017-03-22 09:45] n00bje opened #2903 "1 pixel space between ComboBoxItems closes ComboBox"
I have a **very minor** issue with the MetroComboBox that's not present in the default ComboBox.

There's a 1 pixel gap between each ComboBoxItem which when clicked causes the ComboBox to close without selecting an item. This is particularly annoying during testing when you just want to select any item in the list but happen to misclick on the gap.

![image](https://cloud.githubusercontent.com/ass

[2017-03-22 10:11] punker76 commented on #2903
@n00bje I'm with you, cause the ListBox or ListView doesn't have such gap fix... I'll remove this.

[2017-03-22 13:10] panhans opened #2904 "TextBoxHelper.IsClearTextButtonBehaviorEnabled can not be attached to a textbox"
## What steps will reproduce this issue?

[code]

### Expected outcome

No warning and no clear behaviour ;)

### Environment

- MahApps.Metro __v1.4.3__
- Windows OS __10__
- Visual Studio __2015__
- .NET Framework __4.6__

[2017-03-22 13:27] panhans commented on #2890
@punker76 sorry for pushing that topic. But maybe I have a simpler way to demonstrate that issue:

[code]

And the Validation-Rule:

[code]

Then let validate your input and see what I want you to explain. :)

[2017-03-22 15:18] #2895 closed

[2017-03-22 21:36] bboxstart commented on #2302
@thoemmi That's exactly what I do. I do pass the Viewmodel as command argument, so that I know which view model to remove from the collection. Everything works fine right now.

[2017-03-22 22:24] punker76 commented on #1872
@jammerxd I made some changes for the underline stuff (latest source for 1.5.0), so please look at the latest code. I think you can create your own style for the TabItems to get what you need. Just let me know if you need some help for it.

[2017-03-22 22:24] #1872 closed

[2017-03-22 22:27] punker76 commented on #2904
@panhans The `IsClearTextButtonBehaviorEnabled` is a style helper attached property and should not use from outside. (maybe it's better to put it on the new updated documentation)

[2017-03-22 22:27] #2904 closed

[2017-03-22 22:51] thoemmi commented on #2302
Nice to hear that. Can this issue be closed then?

[2017-03-23 06:50] bboxstart commented on #2302
@thoemmi This issue already is closed for a while  :) I commented to provide some background info.

[2017-03-23 08:29] thoemmi commented on #2302
🤦‍♂️ 😉

[2017-03-23 11:11] amkuchta opened #2906 "XamlStyler Configuration File Format Update"
XmlStyler now has the ability to support a per-project or per-solution style via the use of `Settings.XamlStyler` files - create a file for each project or solution, then drop it into the file structure.  I recommend moving to this instead of globally overriding the default settings via the current *.vssettings file - I moved all of the settings to the appropriate file, which is attached.  Going d

[2017-03-23 11:15] amkuchta commented on #2906
Change: `ReorderSetters` would need to be changed from `TargetNameThenProperty` to `3`

[2017-03-23 12:33] smzuber commented on #2848
That didnt't work either. I dont have access to code behind, so I have to do this in XAML only. Thanks

[2017-03-23 14:40] C1rdec opened #2907 "MetroTabControl & Caliburn.Micro binding issue."
The binding is lost inside a MetroTabControl.
I've overridden `ViewModelBinder.HandleUnmatchedElements` of Caliburn Micro and there's 5 elements unmatched.

As soon as I add a regular TabControl in the Xaml the binding of the MetroTabControl is fixed and those 5 unmatched elements are gone.

Here is a simple repo : https://github.com/C1rdec/Mahapps.SimpleRepo.TabControl

The ViewModelBinder.Handle

[2017-03-23 15:04] punker76 commented on #2907
@C1rdec Is fixed (take current alpha) and will be available in 1.5.0.

[2017-03-23 15:04] #2907 closed

[2017-03-23 21:55] #2903 closed

[2017-03-23 21:56] punker76 commented on #2903
@n00bje This fix will be available in 1.5.0 (and alpha)

![mahapps_combobox](https://cloud.githubusercontent.com/assets/658431/24272078/efad5ee0-101b-11e7-96a8-ab6e10658916.gif)

[2017-03-23 21:56] obrana-boranija opened #2908 "Is it possible to load User Control in Flyout"
As title says:
Is it possible to load user control in flyout?

Do we have an example anywhere. I'm googleing it for a couple of days, but i cant find anything that might help...

Thanks in advance.

[2017-03-23 22:23] punker76 commented on #2908
@obrana-boranija Have you tried this one?

[code]

[2017-03-23 22:54] #2908 closed

[2017-03-23 22:55] #2893 closed

[2017-03-23 22:57] punker76 commented on #2890
@panhans Please create a simple app which demonstrates your issue, so I can better debug this one. thx

[2017-03-23 23:00] punker76 commented on #2875
@ksobon Please create a simple app with your custom DataGrid style to demonstrate this issue. thx

[2017-03-23 23:38] obrana-boranija commented on #2908
Well... yes, but i'm trying to open it from another user control... i just saw that i forgot to mention it...

And that is exact problem... So, i cant use <Controls:MetroWindow.Flyouts>

[2017-03-23 23:50] obrana-boranija commented on #2908
My mistake... I forgot to add Row Span... Actually it was showing only in grid row 0 which height is only 25...

I couldn't see that flyout :)

                    <Controls:FlyoutsControl Grid.RowSpan="4" >
                        <Controls:Flyout x:Name="Flyout">
                            <local:ArtikliDodajNovi />
                        </Controls:Flyout>
                    </Controls:Flyou

[2017-03-24 13:06] iXab3r commented on #2515
There is some bizarre behavior regarding conversion. I was using version 1.1.2.0 beforehand, yesterday I've decided to update to 1.4.3 and all my NumericUpDown usages broke - changes were not propagated from controls to viewmodels.

I have used same approach with Converter="{StaticResource ConverterKey}" for my Value binding and it appears that replacing StaticResource usage with in-place instanti

[2017-03-24 16:18] #2841 closed

[2017-03-24 16:20] punker76 commented on #2841
@adragoner All title bar commands now behind the overlay if a Flyout is modal (available in 1.5.0 and alpha). The functionality are still there like Alt+F4, so you must handle this by yourself.

[2017-03-24 23:45] punker76 commented on #2337
@coussej Hi, I know it's late, but if this still an issue then please test the latest 1.5.0-alpha014. Thx.

[2017-03-25 23:36] #2337 closed

[2017-03-25 23:54] punker76 commented on #2490
Please test the latest 1.5.0-alpha015. This should be fixed now.

[2017-03-25 23:54] #2490 closed

[2017-03-26 14:59] BornToBeRoot opened #2909 "Question - How can i use an icon from an icon pack in the code behind?"
[code]
I need it as canvas for my application list... this list is bound in different windows.

This won't work with icons from the pack...
`Application.Current.Resources["appbar_network"] as Canvas`

[2017-03-27 08:02] punker76 commented on #2909
@BornToBeRoot The PackIconXYZ are controls, so you can't cast it to Canvas. You can add it to a canvas like

[code]

[2017-03-27 08:02] #2909 closed

[2017-03-27 08:02] #2901 closed

[2017-03-27 08:40] BornToBeRoot commented on #2909
Thx, i will try it :+1:

[2017-03-27 11:49] a516117636 opened #2910 "WPF How to use MahApps.Metro MessagBox in UserControl"
In UserControl,I can not use the method ShowMessageAsync().What can I do to use it.

[2017-03-27 13:20] punker76 commented on #2910
@a516117636 You have 2 options to do that

1) Find the parent MetroWindow and call it with the ShowMessageAsync method. You can use the `TryFindParent` method located in the `TreeHelper` class.
2) Use the DialogCoordinator  described [here](https://dragablz.net/2015/05/29/using-mahapps-dialog-boxes-in-a-mvvm-setup/) This isn't currently shown in the latest docs, but will be coming soon.

[2017-03-27 13:20] #2910 closed

[2017-03-27 14:52] #2883 closed

[2017-03-27 19:27] bluesaka111 opened #2911 "[Suggestion] MahApp.Metro as new project template"
One suggestion:

- A new project template to create new WPF base application from scratch that feature a centralize project that contains MahApp files (class base project)(MahApp source) name MahAppStyle and a... let call it MahApp Window App that auto add a reference to MahAppStyle.

Thanks~!

[2017-03-27 21:43] #2683 closed

[2017-03-27 21:44] punker76 commented on #2683
@shaggygi It's available in next 1.5.0 release with a new LoginSettings proiperty.

[2017-03-27 21:45] shaggygi commented on #2683
@punker76 as always, thanks 👍

[2017-03-28 01:16] jimbobsmith commented on #2683
how about having a TextBox  attached property to force all caps on the text?

[2017-03-28 03:12] amkuchta opened #2912 "[Enhancement] Create ToggleButton Styles to Match Button Styles"
Working on a new MetroDemo, I have noticed that there are not `ToggleButton` styles for each of the `Button` Styles available.  For continuity within users' applications, MahApps.Metro should offer the same styles for both types of buttons.  Current style status:

- [x] Default
- [x] Flat
- [x] Circle
- [ ] Square
- [ ] Accented Square
- [ ] Highlighted Square
- [ ] Accented
- DropDownButton?
- Sp

[2017-03-28 05:28] GaneshSingaravelu opened #2913 "How to use Mahapps Progress Dialog Box in WPF Page?"
Hi,

User can upload the excel sheet through WPF page. It takes some time to process the data. So i want to show Progress Dialog box in WPF page. Please let me know the solution to achieve this.

Note : I'm not using MVVM architecture.

### Expected outcome

Need to show progress bar in WPF Page.

### Environment

- MahApps.Metro __1.4.3
- Windows OS __ Windows 7
- Visual Studio __2013
- .NET Fram

[2017-03-28 13:12] amkuchta commented on #2912
@punker76 I noticed that the same issue applies for `DropDownButton` and `SplitViewButton` controls - should I create a separate issue for those, or would you like me to update this one to include them?

[2017-03-28 13:19] punker76 commented on #2912
@amkuchta I included them, but make this on hold. I'm not sure if this is really needed to make square and accented styles for DropDownButton or SplitViewButton, cause these controls a little bit different to normal Buttons / ToggleButons.

[2017-03-28 13:46] punker76 commented on #2852
@ryanknopf Here is an example which could work for you (not tested)

[code]

Don't forget to set the MahApps ToggleSwitch style to it when you use it in Xaml.

[2017-03-28 13:46] #2852 closed

[2017-03-28 14:24] amkuchta commented on #2912
@punker76 I know that from personal use, I have a `SplitViewButton` lying next to a standard button, and I ended up rolling my own style to  match the two.  For me, having that similar styling helps to show the users that it is still a `Button`-type of control, not a `ComboBox` (and it just looks cleaner in my application).  Maybe once 1.5.0 is out, we could put this up to a vote using Gitter?

[2017-03-28 15:23] a516117636 commented on #2910
Thanks for you reply!

[2017-03-28 23:04] #2857 closed

[2017-03-30 05:54] Marco-MUC opened #2915 "System.ArgumentException: Width and Height must be non-negative."
## Repro Requirements
A screen where orientation can be changed from landscape to portrait mode in Windows.

## What steps will reproduce this issue?
- start the Demo application: MahApps.Metro.Demo.NET40 or NET45 which is included in the repository
- change orientation of screen to portrait
- maximize the Demo Application
- wait until timer will reset the orientation back to landscape (or reset m

[2017-03-30 06:36] punker76 commented on #2915
@Marco-MUC Can you maybe proviede a stracktrace? thx.

[2017-03-30 07:05] Marco-MUC commented on #2915
There is no stacktrace. The stacktrace only states [external]
see:
![screenshot1](https://cloud.githubusercontent.com/assets/26785019/24491474/b7b6ec0c-1527-11e7-8701-6042e535efde.png)

[2017-03-30 11:34] punker76 commented on #2915
@Marco-MUC I can't reproduce this under my Win10 machine™. If I have time then I will create a Win 7 VM to test this. For the stack trace, maybe you should switch on the exceptions, otherwise you can see it on the main thread.

[2017-03-30 13:09] Marco-MUC commented on #2915
I tried to reproduce the bug with Windows 10 and I was unable to reproduce it, also. It looks like there is some kind of hardware combination necessary, because I'm also unable to reproduce this bug with 3 monitors on Windows 7. But we have seen this bug on different machines with different hardware.

According the StackTrace:
The exception will be thrown in Main Thread. It looks like someone trie

[2017-03-30 13:15] punker76 commented on #2915
@Marco-MUC thx. I'll try to find it out.

[2017-03-30 13:40] punker76 commented on #2915
@Marco-MUC Can you try to reproduce this with these scenarios and a simple app (only a MetroWindow)?

- with a BorderBrush
- with a GlowBrush

thx.

[2017-03-31 05:35] Marco-MUC commented on #2915
@punker76 I've tracked it down to the following statement in the csproj file:
`<Prefer32Bit>false</Prefer32Bit>`
If this one is added to the project the error occurs. Otherwise the application can be maximized and minimized without having problems.

To identify that, I've created a new WCFApplication and added only MahApps as NuGet package and changed Window to MetroWindow. But this application wa

[2017-03-31 05:48] Marco-MUC commented on #2915
Addendum:
Our application runs in 32Bit but also has the problem.

[2017-03-31 07:09] punker76 commented on #2915
@Marco-MUC would be nice if you test the brush stuff. thx. is your win os also 32bit or 64bit win 7?

[2017-03-31 07:37] Marco-MUC commented on #2915
@punker76:
added
`GlowBrush="Aqua"`
-> same Problem

added
`BorderBrush="Aqua"`
(and removed GlowBrush)
-> same Problem

OS is 64bit

[2017-03-31 13:57] ndavis10 commented on #2675
With both the ElementStyle and EditingElementStyle set to MetroDataGridCheckbox, I was able to get data binding from the checkbox to work by adding "UpdateSourceTrigger=PropertyChanged" to the DataGridCheckBoxColumn.

### Environment

* MahApps.Metro v1.4.3
* Windows 10
* Visual Studio 2015
* .NET Framework 4.5.1

[2017-04-03 14:17] #1835 closed

[2017-04-03 14:21] punker76 commented on #1835
@barbeque I added a `TransitionCompleted` event to `MetroContentControl` and `WindowTransitionCompleted` event to `MetroWindow` which will be fired after the loaded Storyboard is completed. So you can subscribe to this event and can fire `InvalidateVisual()` (@petvetbr suggested this in #2394). This will be available in 1.5.0.
/cc @kjeremy

[2017-04-06 06:28] punker76 commented on #2913
@GaneshSingaravelu This is currently not possible, the Dialogs need always a MetroWindow. I'll create something like a DialogManager and some Interfaces in the future to use Dialogs in Pages and UserControls...

[2017-04-06 14:33] #2332 closed

[2017-04-06 14:34] punker76 commented on #2332
@bradley-dotnet It's late, but never too late :-D This is fixed now and available in 1.5.0 (and pre-release)

[2017-04-06 20:35] #2726 closed

[2017-04-08 12:03] #2434 closed

[2017-04-08 12:04] punker76 commented on #2434
@GAMP It's never too late to fix Issues :-D This is now fixed and available in 1.5.0

[2017-04-08 13:07] punker76 commented on #2890
@panhans I get the same error with the standard window style, but I can confirm this issue is fixed if you set the Visibility of your details grid too.

[code]

![mahapps_textbox_error](https://cloud.githubusercontent.com/assets/658431/24829154/fb4a7bae-1c6c-11e7-8654-235c2244c939.gif)

[2017-04-08 13:07] #2890 closed

[2017-04-10 07:22] xue-blood opened #2919 "Can I making the slider slide with one click anywhere on the slider?"
Hey guys,

I am trying to get the Slider to behave like this:
If the user clicks (mouse down) on the slider somewhere the thumb is moved to the location of the click immediately
when the user clicked on the slider and he moves the mouse, the thumb is sliding with the cursor...
1.
Apparently there is a property called "IsMoveToPointEnabled" that if set to True causes the RepeatButton behaviour of t

[2017-04-10 10:36] punker76 commented on #2762
@j-maly I tried to make a `DataGridToggleSwitchColumn` but get the same result, that the `IsChecked` property is set if the row is coming in to the view. I saw by inspected the `DataGridCheckBoxColumn` that this is also happening there, except the commands cause the CheckBox doesn't has this, but the `IsChecked` property is also set an unset like the ToggleSwitch. So I came to the point that this

[2017-04-10 11:04] punker76 commented on #2762
@j-maly The only way is to change these commands from value changed commands to only user changed commands (when the user clicked on it), but this is a breaking change.

[2017-04-11 08:08] punker76 commented on #2919
@xue-blood Have you tries to look at SO? You're right this is the default behavior of a Slider, cause there are different Controls, the Thumb and the 2 Repeat Buttons which handles the increase and decrease change.

[2017-04-11 08:08] #2919 closed

[2017-04-11 19:17] #2627 closed

[2017-04-12 22:02] #2865 closed

[2017-04-12 22:02] punker76 commented on #2865
@Bitexirtz This will be available in 1.5.0

[2017-04-13 09:54] #2906 closed

[2017-04-13 09:55] punker76 commented on #2906
XamlStyler settings now up to date (both added, the XamStyler.Settings and vs settings files)

[2017-04-13 09:58] #2859 closed

[2017-04-13 09:58] #2875 closed

[2017-04-13 12:00] #2880 closed

[2017-04-13 12:35] #2812 closed

[2017-04-13 12:54] #2764 closed

[2017-04-13 14:52] punker76 commented on #2745
@Alkalinee Woul dbe nice if you can test the latest source or/and the upcoming 1.5.0

[2017-04-13 15:43] punker76 commented on #2682
@akusmin This is a nasty issue with the DataGrid itself. You must set the alternating background with a Style instead directly at the DataGrid.

[code]

[2017-04-13 15:43] #2682 closed

[2017-04-13 15:44] #2675 closed

[2017-04-13 15:45] #2657 closed

[2017-04-13 15:48] #2640 closed

[2017-04-13 15:52] punker76 commented on #2628
@AndrzejKl If this is still an issue for you, then please create a short app which demonstrates this one. thx.

[2017-04-13 15:52] #2628 closed

[2017-04-13 16:19] punker76 commented on #2624
@Prodigio If this still an issue then reopen it, maybe with a screenshot. thx

[2017-04-13 16:19] #2624 closed

[2017-04-13 16:21] #2599 closed

[2017-04-13 16:24] punker76 commented on #2561
@williamwallace Can you please create a short app if this still an issue for you. Feel free to reopen it.

[2017-04-13 16:24] #2561 closed

[2017-04-13 17:05] #2515 closed

[2017-04-13 17:06] punker76 commented on #2515
@puchs Thx for the test app. This issue will be fixed and available in 1.5.0

[2017-04-13 17:18] #2136 closed

[2017-04-13 17:19] #2069 closed

[2017-04-13 17:38] olegsavelos commented on #2136
Thanks @punker76 !

[2017-04-13 17:42] #1929 closed

[2017-04-13 21:44] MurariAlex opened #2923 "NumericUpDown Decimal Wrong Behaviour"
## What steps will reproduce this issue?
In the metro demo, texts tab, numericUpDown section, enable HasDecimals, click and keep pressed the plus button of the numeric up down under the CultureInfo dropdown until the "Stringformat, Real Value" fields gets an strange value.
Disable the HasDecimal flag, the plus button doesn't work anymore, and I don't know if the strange value is a bug itself.

![i

[2017-04-14 04:03] xue-blood commented on #2919
@punker76  Yes you are right , so now I write a new slider inherit the default Slider.

[2017-04-14 07:27] sagevpremium opened #2924 "TitlebarHeight in MVVM"
Hi, i have short question:

How can I change TitlebarHeight dynamically in MVVM?
That's what i want to do:
I have one main window and user control's in it, and title bar must be visible with one user control in different cases must be hided.

How can I do it?
Thx for help

[2017-04-14 16:20] trangthancb opened #2925 "[Error] Textbox Select All On Focus"
Hi,
I have little problem when using TextBoxHelper.SelectAllOnFocus = "True"
When I click outside the text, the program can not select all the text in the textbox.
If I click on the text, the function will work perfectly,
http://imgur.com/a/EFMKL

Thank you, It's not a serious problem, you can ignore this request.

### Environment

- MahApps.Metro 1.5.0.23
- Windows OS 10 64bit
- Visual Studio 201

[2017-04-14 19:34] punker76 commented on #2924
@sagevpremium TitlebarHeight and ShowTitleBar are DependencyProperty of the MetroWindow, so you can simply bind to it via MVVM properties.

[2017-04-14 19:34] #2924 closed

[2017-04-14 20:22] punker76 commented on #2923
@MurariAlex This is caused by using `double?` for the Value. If you click the up or down button the Value is increased or decreased by 0.1 in this sample. A double uses floating-point arithmetic, which is approximate but more efficient, but produces e.g this `5.1 + 0.1 = 5.1999999999999993`. For exact (human) values the decimal type must be used, which is a breaking change for this control.

Add.

[2017-04-14 20:32] punker76 commented on #2925
I don't really understand what's wrong, just tested and it works. If I click on free space the text is completely selected. If I keep the mouse down I can change the selection by dragging the mouse.

[2017-04-15 06:05] trangthancb commented on #2925
Hi,

Thanks for your feedback
If the textbox has many lines, and each line is short. An error occurs when you click outside the text line (single click)
You can view photos described below:
http://i.imgur.com/cUsLoD0.png
If I click on the yellow dot (click outside the text line - the line of text has ended): I will get an error
And if I click on the blue point: everything is fine
You can review th

[2017-04-15 14:59] wornr opened #2926 "IsPaneOpen property in Hamburger Menu is not properly set after opening/closing pane"
Hello,

I'm trying to implement (with MVVM) auto closing hamburger pane after selection is done. To make this happen I've tried to bind IsPaneOpen to IsPaneOpened property in my view model.

`<mahApps:HamburgerMenu IsPaneOpen="{Binding IsPaneOpened}" ...>`

But it seems that IsPaneOpen is not setting my property properly when I open/close pane with this button.
![image](https://cloud.githubusercon

[2017-04-15 15:06] punker76 commented on #2926
@wornr The `IsPaneOpen` is not set automatically, this is in your hand e.g https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro.Samples/MahApps.Metro.Demo/MahApps.Metro.Demo.Shared/ExampleViews/HamburgerMenuSample.xaml.cs#L23-L27. The wrong documentation will be fixed.

[2017-04-15 15:16] punker76 commented on #2926
@wornr A short tipp, set the mode explicit: `IsPaneOpen="{Binding IsHamburgerMenuPaneOpen, Mode=TwoWay}"`

[2017-04-15 15:20] wornr commented on #2926
I didn't realize it's so simple. Now everything works like a charm. Thank for fast reply and help.

[2017-04-15 15:20] punker76 commented on #2926
@wornr ok, I will add `FrameworkPropertyMetadataOptions.BindsTwoWayByDefault` to this property.

[2017-04-16 09:52] punker76 commented on #2925
@trangthancb Can you try this without setting the MahApps style? The TextBoxHelper should work with normal TextBox too. I think this is not a bug, more the normal behavior of the SelectAll method.

[code]

[2017-04-16 10:32] trangthancb commented on #2925
Thanks you very much!
<TextBox Style="{x:Null}" **TextBoxHelper.SelectAllOnFocus = "True"** />
TextBoxHelper.SelectAllOnFocus = "True" not working if Style="{x:Null}"
I think it does not affect anything. Thanks for supporting me!
Love

[2017-04-17 06:36] Jehoel opened #2927 "Checkbox checkmark accent is hard to see against dark flyout"
My WPF application using MahApps.Metro uses a Flyout for the app's Settings UI. Most of the users use the default "Light" theme with the "Blue" accent color. The Flyout is `Modal="True"` and configured with the defaults). Under these conditions checkboxes in the flyout have checkmarks that don't stand-out very well:

![image](https://cloud.githubusercontent.com/assets/1693078/25081132/4ed4ad08-22f

[2017-04-17 10:16] a516117636 opened #2928 "How to add tooltip for every item in hamburger"
I want to show tooltip when the pane is closed because there is not any prompt message but a icon,I did not find the way,can you help me? Thanks!

[2017-04-18 08:53] punker76 commented on #2928
@a516117636 One way is to create your own menu item with a property which can you use at the DataTemplate to show a ToolTipp. I've update my samples, just take a look here https://github.com/punker76/code-samples/tree/master/MahAppsMetroHamburgerMenu

[code]

[code]

usage

[code]

[2017-04-18 08:53] #2928 closed

[2017-04-18 09:08] punker76 commented on #2927
@Jehoel The CheckBox and RadioBox uses the `HighlightBrush` brush for the check mark and pressed status. You can override these in your Flyout resources like this

[code]

(or whatever color you need)

Hope this helps.

[2017-04-18 09:24] anders9ustafsson commented on #2622
Since this feature still is not implemented, are there any quick fixes that I could use instead? For example, I am using `Culture` `sv-SE` which gives me a date-time format `yyyy-MM-dd HH:mm:ss`. However, I don't want to display the seconds. Is there any way I can accomplish this using the `Culture` property only?

[2017-04-18 09:41] punker76 commented on #2622
@anders9ustafsson As a workaround you can override the time pattern with at a custom CultureInfo, cause the DateTimePicker uses this to format the text

[code]

e.g.

[code]

then set this to the `Culture` property of the DateTimePicker.

/cc @xxMUROxx This should be easier to do in future release...

[2017-04-18 09:44] anders9ustafsson commented on #2622
@punker76 Thanks for the suggestion! I'll try it out.

[2017-04-18 12:04] Pekshev opened #2929 "Window border brush"
I'm update from version 1.1.2.0 to 1.5.0.0. I have in my code such part:
[code]
so, before update it work fine. Now dont work when set variant "AccentBorder"

[2017-04-18 12:22] punker76 commented on #2929
@Pekshev Mh, maybe a undocumented breaking change, so sorry for that. To fix this, set the BorderBrush and GlowBrush to `null` instead to `Brushes.Transparent`.

[2017-04-18 12:32] Pekshev commented on #2929
O, thx! It's work now

[2017-04-18 12:42] xxMUROxx commented on #2622
@punker76 I will provide a PR soon

[2017-04-18 12:57] xxMUROxx commented on #2662
Sorry, wrong ID-reference in PR and commit

[2017-04-18 14:06] MurariAlex opened #2931 "[Request]Win 10 Creators Update Hamburger Menu"
The new Win 10 hamburger menu style that came with Creators Update looks really cool too, this was taken from the new Windows Defender window.
The selection style is the difference, the foreground color of the icon and font changes, and there's the sidebar on the left of the icon.

Maybe we could have this style in MahApps.

![image](https://cloud.githubusercontent.com/assets/11204378/25134518/27b

[2017-04-18 14:54] #2926 closed

[2017-04-18 18:48] Pekshev opened #2932 "Size of litle window"
I made in my program litle help window. Here xaml:
[code]
Here screenshot from window constructor - http://prntscr.com/exz8jp
And here screenshot from workin program - http://prntscr.com/exz94y

[2017-04-18 19:10] Pekshev commented on #2932
So, i set SizeToContent="Manual" and add Width="86" Height="86" to my window. Now it's work for me, but you must to now about issue in my topic's variant

[2017-04-19 14:10] amkuchta commented on #2931
This is gorgeous, but I also like the ability to use the style that @punker76 created - perhaps this could be an option (e.g. `Style="{StaticResource CreatorsUpdateStyle}"), with the style being bound by default to the MahApps standard?  (This would mean moving the style for the MahApps standard to its own resource and either modifying the template to allow for the highlighting on the sidebar or c

[2017-04-19 23:32] avechuche opened #2933 "Hamburguer menu issue"
## What steps will reproduce this issue?

It is easy to reproduce (use Mahapps.Metro - Demo application)
1) Go to the "Hamburger" itemtab and click on one of the items (mushroom for example)
2) Click on the "About" button and click on "OK"
3) Go to other tabitem, for example "buttons"
4) Go again to the tabitem "Hamburger" and see how the image of the mushroom disappears

### Environment

- MahApp

[2017-04-20 07:26] Chintangandhi007 opened #2934 "Hamburgermenu with sub item"
Hamburgermenu with sub item

HI,

I Used the Hamburger menu and now i need to add sub item like bgpatterns.com. Is it Possible??

If Yes, then how with MahApps and I also need the menu at right side same as bgpatterns.com .

### Environment

- MahApps.Metro 1.5.0
- Windows OS 7,8,8.1,10
- Visual Studio 2015
- .NET Framework 4.5

[2017-04-20 09:59] #2933 closed

[2017-04-20 11:00] punker76 commented on #2932
@Pekshev This is limited by the window itself and happens also without the MahApps style. So setting the Height and Width is in this case the best option.

[2017-04-20 11:00] #2932 closed

[2017-04-21 01:33] avechuche commented on #2928
@punker76 Will this option be available in version 1.6.0? Thank you!

[2017-04-21 07:33] punker76 commented on #2927
@Jehoel Do you need more help?

[2017-04-21 07:34] punker76 commented on #2925
@trangthancb Did you tested with my last note? I think this isn't an issue by MahApps...

[2017-04-21 13:43] Raghava56 opened #2936 "How to add tasks to taskbar icon"
![taskicon](https://cloud.githubusercontent.com/assets/25173908/25280152/9794da1e-26c6-11e7-8d21-1d603b1491b0.PNG)
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creati

[2017-04-21 13:51] thoemmi commented on #2936
This has nothing to do with MahApps.Metro. Try searching for "windows jump list" at Google or whatever search engine you prefer.

[2017-04-21 13:51] #2936 closed

[2017-04-21 15:21] Pekshev opened #2937 "Fuzzy button outline"
After the upgrade from 1.1.2.0 to 1.5.0.23, some of the buttons began to look weird-as if blurred along the contour:
![screenshot_1](https://cloud.githubusercontent.com/assets/12638819/25284270/2cc9020c-26bf-11e7-8818-65399eb295ab.png)
On all buttons same style:
[code]