[2017-04-21 16:29] punker76 commented on #2937
@Pekshev From 1.1.2 to 1.5.0 is a big step. Can you give us a sample app with this? Or show us the complete Xaml of the window? Do you use a special DPI setting? Or other styles? thx

[2017-04-21 16:38] Pekshev commented on #2937
No problem. Demo project from screen - https://modplus.org/www/tmp/mpMsgTest.zip
i dont use anything else - only mahapps.metr.dll

[2017-04-22 10:11] trangthancb commented on #2925
Although it was not as expected but thank you very much
I think it's all right, the MahApps project is awesome!
Thank you!

[2017-04-22 12:10] #2925 closed

[2017-04-22 17:19] #2923 closed

[2017-04-22 23:34] fredericoregateiro opened #2938 "DataGridNumericUpDownColumn StringFormat binding"
## What steps will reproduce this issue?

StringFormat is not a dependencyProperty

### Expected outcome
Be able to use this on xaml:
StringFormat="{Binding SomeFormatNumber}"

### Environment

- MahApps.Metro: 1.5
- Windows OS: Windows 10
- Visual Studio: 2017
- .NET Framework: 4.5.2

[2017-04-23 06:14] a516117636 commented on #2928
thank you very much!

[2017-04-23 07:16] a516117636 opened #2939 "The Flyout control can not customize the border."
I set the BorderThickness and BorderBrush property,but  there is not any change.How can i change the border of flyout?Thank you!

[2017-04-23 10:05] olegsavelos opened #2940 "DataGridCheckBoxColumn IsReadOnly="False" not clickable"
It is impossible to mouse click/check DataGridCheckBoxColumn with the latest code bits.
In my case the datagrid itself is set to isreadonly=true and DataGridCheckBoxColumn isreadonly=false.

Here is the source
`     <DataGridCheckBoxColumn IsReadOnly="False"
                                        Binding="{Binding IsEnabled, UpdateSourceTrigger=PropertyChanged}"

[2017-04-23 10:29] fagenorn opened #2941 "NumericUpDown Increment Property not working as intended for Double"
## What steps will reproduce this issue?

Set the `interval` property of  `controls:NumericUpDown` to e.g. `0.5`. The value will not change when using +- buttons, mousewheel or arrows to increase value. Manually inputting a double in field works fine with `HasDecimals="True"`.

Current code:
[code]
![](http://i.imgur.com/pV6Gl7j.gif)

### Environment

- MahApps.Metro __v1.5.0.23__
- Windows OS __W

[2017-04-23 10:54] fagenorn commented on #2941
Issue dissapeared after restarting visual studio :/

[2017-04-23 10:54] #2941 closed

[2017-04-23 11:32] EmadDeveloper opened #2942 "GlowBrush is causing an error in Windows XP SP3"
Once I set the GlowBrush for the window, and run the application. Put the mouse on the edge for 1 second, this will crash the application. After debugging the error was talking about GlowWindow.

[System.EntryPointNotFoundException]	{"Unable to find an entry point named '**GetPhysicalCursorPos**' in DLL 'user32.dll'.":""}	System.EntryPointNotFoundException

the call stack is showing the error in G

[2017-04-23 14:14] thoemmi commented on #2942
[`GetPhysicalCursorPos`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa969464(v=vs.85).aspx) was introduced with Windows Vista.
MahApps.Metro doesn't support Windows XP anymore, and so does Microsoft for 3 years already.

[2017-04-23 14:14] #2942 closed

[2017-04-23 20:01] punker76 commented on #2939
@a516117636 You can set the border of a Flyout with v1.5.0

[code]

[2017-04-23 20:01] #2939 closed

[2017-04-23 20:24] punker76 commented on #2940
@olegsavelos This was a bug, cause `IsReadOnly` should mean read only. But you can set `IsReadOnly="False"` and  `DataGridHelper.EnableCellEditAssist="True"` for your column to enable this again.

[2017-04-23 20:24] #2940 closed

[2017-04-23 20:25] punker76 commented on #2937
@Pekshev Thx for the sample. I'll look for the style which is a older one.

[2017-04-24 04:41] a516117636 commented on #2939
That is so cool,THANKS!

[2017-04-24 05:17] Pekshev commented on #2937
I have old versions =)

[2017-04-26 09:09] lasikye opened #2944 "Custom dialog sometimes couldn`t hide correctly"
I implamented an custom dialog within viewmodel, but sometimes it called the function 'HideMetroDialogAsync' to close the dialog but useless. Here are the code below.

ViewModel
Class Contructor
[code]

Open function
[code]

Close function
```DialogCoordinator.Instance.HideMetroDialogAsync(this, bdPopupDialog);```

Additonal, I registered the dialog in view loaded event like below
```DialogPartici

[2017-04-26 14:38] Raghava56 opened #2945 "In DateTimePicker how to kept isReadOnly property for DateTimePickerTextbox ."
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-04-26 14:39] Raghava56 commented on #2945
implement textbox as a read only in DateTimePicker

[2017-04-26 18:45] tm69 opened #2946 "Flyout overlay WindowButtonCommands"
When update from 1.4.3 to 1.5.0 the flyout is over the commands

1.4.3
![noerror](https://cloud.githubusercontent.com/assets/28063419/25450986/86c7e9bc-2a75-11e7-954f-d2dbf0c1b56a.PNG)

1.5.0
![error](https://cloud.githubusercontent.com/assets/28063419/25451004/963c728c-2a75-11e7-9475-0d1514ee4b53.PNG)

- MahApps.Metro __v1.5.0.23
- Windows OS 10
- Visual Studio 2013
- .NET Framework 4.5

[2017-04-26 18:59] punker76 commented on #2946
@tm69 what type of Flyout is this? Top or Right? Do you use some of the overlay behaviors?

[2017-04-26 19:07] tm69 commented on #2946
The Flyout is Left, and yes i have IconOverlayBehavior="Always" in the window, but I just discover that happens when the Flyout is modal IsModal="True" if i set false the commands are visible again

[2017-04-26 19:12] punker76 commented on #2946
@tm69 ah, yes this was a fix. IsModal = means really modal... -> #2841

[2017-04-26 19:18] tm69 commented on #2946
@punker76 Thak you for you time :D

[2017-04-26 19:18] #2946 closed

[2017-04-26 19:34] #2945 closed

[2017-04-27 05:05] Raghava56 commented on #2945
`<DatePicker.Resources>
     <Style TargetType="DatePickerTextBox">
           <Setter Property="IsReadOnly" Value="True"/>
      </Style>
  </DatePicker.Resources>`

like this possible for DateTimePicker ?

[2017-04-27 11:59] Raghava56 commented on #2945
lt is working in new version.
thanks @punker76 Punker for your supporting

[2017-04-27 13:04] Eternal21 commented on #2824
Ran into the same problem.  For anyone else that gets tons of errors while trying to build the demo app.  Here are the steps (I also wish it was documented somewhere):
1. Download 'Paket for Visual Studio' extension ([here](https://marketplace.visualstudio.com/items?itemName=SteffenForkmann.PaketforVisualStudio)).
2. Open the MahApps.Metro solution.
3. Right click on paket.dependencies file in Sol

[2017-04-27 19:05] Jehoel commented on #2927
Sorry, I had my Github notifications turned off. I'll try this later tonight and let you know.

[2017-04-28 06:02] Jehoel commented on #2927
Using `AccentColor` is still too dark - and I noticed the other shades (e.g. `AccentColorBrush4`) are just differing opacity levels, so they're even harder to see on a black background.

I would like to reference the color used by the current FlyoutForegroundBrush`, however that color is defined by `StaticResource BlackColor` (which is actually white) which I cannot directly access (`{StaticResour

[2017-04-28 18:03] robertorp opened #2947 "TextBox Attribute Trim=true or TextBoxHelper.Trim=true"
## What steps will reproduce this issue?

_TextBox has the Trim = true attribute, the Trim = true attribute would implement the Changed event by doing a TrimStart () and would implement LostFocus that would do the Trim_
or helper TextoBoxHelper.Trim=true

### Expected outcome

_The text would have no spaces at the beginning or end_

Code example
[trimtextbox.txt](https://github.com/MahApps/MahApps

[2017-04-30 10:36] chaitanyavuddagiri opened #2949 "Button text is changing to lower case"
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-04-30 10:37] #2949 closed

[2017-05-01 12:55] amkuchta commented on #2947
@punker76 @robertorp I like the idea, perhaps something along the lines of `TextBoxHelper.Trimming` with options for `TrimBeginning`, `TrimEnd`, or `None`?  I know that @thoemmi has concerns with the `TextBox` style becoming too bloated - any thoughts?

[2017-05-01 18:51] sleman opened #2950 "Main window does not display with .NET 4.7 / Windows 10 Creators Update"
MahApp Main Window does not display at all with latest Windows 10 Creators Update: 460798 (.NET Framework 4.7). Tried searching online to see if anyone had this issue with WPF/.NET Framework but with no luck.

This seems to be a pretty major issue. Anyone know anything about it?

- MahApps.Metro 1.4
- Windows OS 10 Creators Update
- Visual Studio 2015
- .NET Framework 4.7

[2017-05-01 19:50] punker76 commented on #2950
@sleman Can you say what's going wrong? I can't reproduce it with these settings

- MahApps.Metro 1.5.0 (latest version)
- Windows 10 Creators Update 1703 15063.250
- VS 2017
- .NET Target Framework 4.7

[2017-05-01 20:24] sleman commented on #2950
Application window does not appear at all but clicking around proves that window exists. I turned off hardware acceleration and window appeared. I think issue might be related to 4.7 framework or display driver for Intel Graphics card.

[2017-05-02 06:54] punker76 commented on #2947
I think IMO this should not be added to MahApps. I know MahApps has a lot of other attached properties, but this functionality has nothing to do with the styling itself...
/cc @thoemmi

[2017-05-02 08:03] thoemmi commented on #2947
@amkuchta caught me 😉 I agree with @punker76, it's out of MahApps.Metro's scope.

(BTW, I would make it a behaviour, not an attached dependency property)

[2017-05-02 15:18] gerthermans opened #2951 "Window with showactivated=false and sizetocontent=WidthAndHeight is activated in Mahapps.Metro v1.5"
[HoverIssuemahapps.zip](https://github.com/MahApps/MahApps.Metro/files/970848/HoverIssuemahapps.zip)
### Issue
When SizeToContent is set on a wpf window it ignores the ShowActivated=false setting

### Steps to reproduce
Unzip the HoverIssuemahapps zip file
Open and run the solution
Move the mouse over the 'hover here' area
expected result:
Window1 stays active window as CheckWindow has ShowActivat

[2017-05-02 17:45] #2951 closed

[2017-05-02 17:46] punker76 commented on #2951
@gerthermans Is fixed now and will be available in 1.6.0

[2017-05-03 05:54] seb30 opened #2952 "NumericUpDown snap to interval"
It would be nice, if the value in a `NumericUpDown` snaps to the interval (manually entered and/or changed by the buttons).

- MahApps.Metro v1.5.0
- Windows OS 10
- Visual Studio 2017
- .NET Framework 4.6.2

[2017-05-03 09:32] oschwab opened #2953 "Can't run MahApps 1.5.0 Caliburn Demos on VS2015"
Hello,

I can't run Caliburn demo projects (4.0 and 4.5) from my VS2015 workstation.
Both fails on AppBootstrapper GetInstance method , finding no contract for **settings**

![image](https://cloud.githubusercontent.com/assets/2461647/25655128/1693c57e-2ff4-11e7-8841-bccd01bf7631.png)

### Environment

- MahApps.Metro 1.5.0
- Windows 10
- Visual Studio 2015
- .NET Framework 4.0 && 4.5

[2017-05-03 13:35] amkuchta opened #2955 "[Enhancement] MarkdownTextBlock"
In one o the recent releases to the UWP Toolkit, a `MarkdownTextBlock` control was introduced, and it looks pretty awesome.  Would anyone else find this useful (thought - it could be used in the MetroDemo rework to display a user guide)

[2017-05-03 17:57] avechuche commented on #2955
+1. Great idea

[2017-05-03 19:34] punker76 commented on #2953
@oschwab Saw this too after 1.5.0 release, but I'm not a good Caliburn user

[2017-05-03 19:38] oschwab commented on #2953
@punker76 I had an issue on my own project with flyouts after mahapps update ; as I used Caliburn sample as a basis, I tried to see how it was done in it, and **boom** !

[2017-05-03 20:00] punker76 commented on #2955
@amkuchta @avechuche  This is a huge control and can not add line by line from UWPCommunityToolkit. There is a lot of code which is only available now in UWP.

[2017-05-03 20:06] amkuchta commented on #2955
@punker76 I figured it would be a lot - I took a second to look at the code, and it is definitely intimidating.

If you want to say no to this, I completely understand.  I'd offer to take a shot at implementing, but I don't have the time right now to commit to it.

[2017-05-03 20:07] amkuchta commented on #2955
@punker76 you can also "on hold" this, if you want - maybe I can pick it up another time.

[2017-05-04 08:27] olegsavelos commented on #2940
That doesn't seem to work.
If IsReadonly=True on DataGrid it's impossible to override it and make DataGridCheckBoxColumn work.
I am using the latest source of MahApps.

[2017-05-04 10:00] a516117636 opened #2956 "property ToolTip of ProgressRing does not work"
### Environment

- MahApps.Metro __v1.5.0.23__
- Visual Studio __2015__
- .NET Framework __4.5.2__

[2017-05-04 13:51] a516117636 opened #2957 "How can I display the Metro MessageBox in a class"
How can I display the Metro MessageBox in a class?For example,I can use
`MessageBox.Show("", "");`
in a class(NOT in Window or UserControl),but can not use
`ShowMessageAsync("","")`,
Is there a way to implement that?THANKS!!

[2017-05-04 13:59] davericardo opened #2958 "NumericUpDown: If HasDecimals is set to false and StringFormat was bound, HasDecimals will be set to true after unloading and loading the control"
Prerequisites: Place the NumericUpDown control in an panel that uses virtualization and make it scrollable so that the NumericUpDown will be unloaded if it is not visible. Bind the Property StringFormat (e.g. '{0} s') with the corresponding ViewModel and set HasDecimals to false.

If the control is unloaded the StringFormat will be reset to an empty string. This causes that RegEx.IsMatch will retu

[2017-05-04 14:03] punker76 commented on #2958
@davericardo In which version?

[2017-05-04 14:22] davericardo commented on #2958
Sorry, in version 1.5.0.23.

[2017-05-04 19:11] HuaTrung opened #2960 "IS THERE ANYWAY TO CHANGE ONLY LOOK AND FEEL OF A CONTROL BUT STILL KEEP ANIMATION, TRIGGER OF IT ?"
Hi everyone, i'm a beginner. I have learnt WPF and used mahapps some time ago.So i have a issue "CHANGE ONLY LOOK AND FEEL OF A CONTROL BUT STILL KEEP ANIMATION, TRIGGER OF IT ". To more clearly, i want to override controltemplate but don't want override controltemplate.trigger.
Is there a way to implement that? Many thanks.

[2017-05-04 19:56] Eternal21 commented on #2953
Looks like caliburn can't locate viewmodels for the flyout views.  I got the project to run by commenting out all fly-outs inside OnInitialize() function.  Kind of defeats the purpose, since fly-outs are all there is to the demo.  I will look into actually fixing the problem when I get some spare time.

![image](https://cloud.githubusercontent.com/assets/9355996/25722342/e3b4fb48-30e1-11e7-9012-23

[2017-05-05 07:12] oschwab commented on #2953
I think it might be linked to this change :

_Change Flyout from ContentControl to HeaderedContentControl which has the correct properties for headers._

[2017-05-05 13:05] Eternal21 commented on #2953
There's a related stackoverflow question, with no answers so far: http://stackoverflow.com/questions/43735278/wpf-mahapps-metro-caliburn-micro-flyout-headeredcontentcontrol

[2017-05-05 13:37] oschwab commented on #2953
@Eternal21 We're both exactly at the same point ...

[2017-05-05 13:52] oschwab commented on #2953
@Eternal21  @punker76 Commenting the Binding to Header in ShellView.xaml makes the demo work again
![image](https://cloud.githubusercontent.com/assets/2461647/25748297/e263dca4-31aa-11e7-8181-4bd82cdb6608.png)

[2017-05-05 14:00] Eternal21 commented on #2953
Yes it does.  The only problem now is, it displays the path to viewmodel now instead of the header title.

[2017-05-05 14:36] JobaDiniz commented on #2960
why yelling like that? *chill out* man

[2017-05-05 15:11] HuaTrung commented on #2960
Just a question guy, writing it in upper case is my favorite. Sorry if it makes you frustrated.

[2017-05-05 15:18] Eternal21 commented on #2960
˙sʎnƃ ʎsɐǝ ʇᴉ ǝʞɐ┴

[2017-05-05 15:26] C1rdec commented on #2960
First this is not an issue an should be closed.
If you have any question regarding the Mahapps framework you should use the [Gitter](https://gitter.im/MahApps/MahApps.Metro)

Here is a [video ](https://www.youtube.com/watch?v=lY0RSBipZhw) of how to accomplish style inheritance in WPF.

[2017-05-05 17:19] avechuche opened #2961 "[Enhancement] WindowsCommandButtons separate styles"
Hi, is it possible to separate styles (windows 10) from minimize, maximize and close buttons? To be able to use it when UseNoneWindowStyle = "True".

[2017-05-06 07:31] mxsoftware opened #2962 "MetroStatusBar Style and Prism RegionManager"
I have problems with the MetroStatusBar style and Prism RegionManager.

When I open a window several times and this window contains a statusbar assigned through Prism RegionManager I get the following messages:

System.Windows.Data Error: 4 : Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='MahApps.Metro.Controls.MetroWindow AncestorLevel='1'.
BindingExpres

[2017-05-06 07:54] JerryJian opened #2963 "WindowCommands with ItemTemplateSelector not working"
## What steps will reproduce this issue?

1. Create a window.
2. Assign DataTemplateSelector to LeftWindowCommands.ItemTemplateSelecotr
3. The SelectTemplate method is not called

### Environment

- MahApps.Metro __v1.5.0.23__
- Windows OS __Win10 x64__
- Visual Studio __2017__
- .NET Framework __4.0__

[2017-05-08 04:45] seb30 commented on #2953
Hey guys, it's me.

[2017-05-08 04:52] seb30 commented on #2953
![unbenannt](https://cloud.githubusercontent.com/assets/28293949/25790643/c18e1b2c-33ba-11e7-803d-7d447c5af6a7.png)

This works, but only if 1 Flyout is opened. If you're going to open another one, only the Header of the old one will be visible.

[2017-05-09 01:17] HanbGao opened #2964 "[Suggestion] Theme Style Support Image"
# suggesting

### It is very nice that MahApps.Metro support change theme.I found it can support color but image.So I wish it can support most of kinds of image format,like gif.

[2017-05-09 07:21] BornToBeRoot commented on #2957
There is a support for viewmodels...

Window/UserControl.xaml
[code]

Window/UserControl.xaml.cs

[code]

And in your ViewModel add this:

[code]

[2017-05-09 07:25] punker76 commented on #2957
@BornToBeRoot Thx. Do you want to add this to the doc site? https://github.com/MahApps/mahapps.github.com/blob/master/controls/dialogs.md

[2017-05-09 07:25] #2957 closed

[2017-05-09 14:08] punker76 commented on #2964
@HanbGao The themes and accents of MahApps are resource dictionaries which contains several brushes and colors, so this has nothing to do with gif or somehting other.

[2017-05-09 14:08] #2964 closed

[2017-05-09 20:30] #2958 closed

[2017-05-09 21:03] #2963 closed

[2017-05-09 21:44] punker76 commented on #2962
@mxsoftware I would like to see this too, so can you create a short sample which demonstrates this issue? Big thx. (I maybe know what I can do to prevent this error)

[2017-05-09 22:14] punker76 commented on #2961
@avechuche No, cause if UseNoneWindowStyle is set to true the title bar will be collapsed and also if you use the WindowButtonCommands directly the UseNoneWindowStyle wins for all 3 buttons and collapse it. The only way is to add your own Button(s) or restyle the WindowButtonCommands.

[2017-05-09 22:14] #2961 closed

[2017-05-09 22:15] #2960 closed

[2017-05-09 22:24] #2956 closed

[2017-05-09 22:25] punker76 commented on #2953
It seems it is a generally problem of Caliburn and HeaderedContentControl and/or the sample must be rewritten to work correctly.

[2017-05-09 22:26] #2950 closed

[2017-05-09 22:27] #2947 closed

[2017-05-10 07:28] punker76 commented on #2927
@Jehoel If you have a dark Flyout you need the `WhiteColor` or `IdealForegroundColor` and vice versa, for light Flyout the `BlackColor`.

[code]
[code]
![image](https://cloud.githubusercontent.com/assets/658431/25887568/f3b9f464-3562-11e7-847d-3e4b090dab67.png)

[2017-05-10 07:28] #2927 closed

[2017-05-10 07:47] punker76 commented on #2952
@xxMUROxx WDYT?

[2017-05-10 09:03] xxMUROxx commented on #2952
@punker76

The idea is nice.

There are two concerns:

- This feature can only work if the `Value` is "adjusted" to the interval on `LostFocus`; otherwise the value is changed at any key stoke.
- The interval is 5 and the value entered is 4. To what value should 4 be "adjusted" 5 or 0? (I am no fan of introducing a `SnapDirection` property)

[2017-05-10 09:23] seb30 commented on #2952
In my opinion it should snap to 5 (or to the maximum). I've done the calculation in the past with `Math.Round(value / interval) * interval`.

[2017-05-10 09:25] xxMUROxx commented on #2952
@seb30 According your code you suggest to round to the "nearest possible interval"?

[2017-05-10 09:26] seb30 commented on #2952
Yes.

[2017-05-10 11:20] xxMUROxx commented on #2952
@punker76 I will implement a demo, then we can decide if this feature suits to the library.

[2017-05-10 11:43] #2938 closed

[2017-05-10 15:21] avechuche commented on #2961
@punker76 I think I explained wrong. What I want is that it is possible to make a style (Style={StaticResource Win10WindowCloseButton}, for example) for a button, so that it has the design of the button to close a window in Windows 10. Thx!

[2017-05-10 15:39] mxsoftware commented on #2962
It is difficult for me to prepare an example because it is embedded in a complex project.
If it can be helpful, I can test when resolved.
Keep in mind that I have currently been circumventing the problem.
Basically, in the style, you should verify that the Background is extracted from the Ancestor window only if the Ancestor window is different from the null value, the same for the IsActive proper

[2017-05-10 16:36] Jehoel commented on #2927
Perfect, thanks!

[2017-05-10 19:11] punker76 commented on #2961
@avechuche You have 2 options

1) at the `MetroWindow` level

[code]

2) or for all windows at the `App.xaml`

[code]

[2017-05-10 23:51] amkuchta commented on #2931
@punker76 I'm gonna take a swing at this one (dunno if you can assign it to me or not)

[2017-05-11 06:45] seb30 commented on #2952
Works great (for my needs, which I've tested)!

[2017-05-12 19:32] avechuche opened #2966 "[Only visual] PasswordBox bug"
1) It is nothing serious at all, but if it is not difficult it could be fixed. When you reveal a password, the cursor does not match.

2) This may be more "serious". If you type while you press the "Reveal password" button, SelectAllOnFocus (or double clic), it does not work correctly

![1](https://cloud.githubusercontent.com/assets/11781418/26013829/689bd65c-3730-11e7-8a70-154fdbb41ddc.png)

###

[2017-05-13 21:52] oshpak92 commented on #1386
The same problem. Workaround is to move resources to your App.xaml then exception should disappear.
[code]
For some reasons you can't add resources to your dialogs.

[2017-05-14 16:22] Dondor17 commented on #2873
Having the same issue. Not sure if its meant  to be this way.

[2017-05-15 21:32] #2622 closed

[2017-05-16 19:42] zsKengren opened #2967 "Flyout Left Adapt with Horizontal Alignment Stretch is not changing Theme of CommandButtons"
## What steps will reproduce this issue?
When setting a Flyout to Adapt, Position Left, and Horizontal Content Alignment Stretch, the command button are not changing theme to the inverted theme.

<Controls:Flyout Header="Adapt"
                             Position="Left"
                             Theme="Adapt"
                             HorizontalContentAlignment="Stretch">

![flyouts not wo

[2017-05-18 13:19] #2491 closed

[2017-05-18 13:20] punker76 commented on #2491
@deejay220989 With 1.6.0 you can now override all Watermarks with this style

[code]

[2017-05-18 14:11] walterbaccinelli opened #2968 "Change Background color for IsMouseOver Property"
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-05-18 14:15] #2968 closed

[2017-05-18 14:18] walterbaccinelli opened #2969 "Change MetroButton Background in IsMouseOver property"
Hello,
Is it possible to change the property Property="Background" from Value="DarkGray" to Value="{TemplateBinding Background}" in the setter property IsMouseOver of the MetroButton element?
In this way it will be possible to change this property also in the projects deploying MahApps.
Thank you

[2017-05-18 14:28] punker76 commented on #2969
@walterbaccinelli Changing this to `{TemplateBinding Background}` has then no effect, cause it's the same as you don't hover the button. You can override the Style to handle the mouse over and give it a different brush.

e.g. for the flat button:

[code]

[2017-05-18 14:28] #2969 closed

[2017-05-18 14:31] codenameUsernameisalreadytaken opened #2970 "How to open in the frame UserControlMy.xaml type Controls: MetroWindow?"
How to open in the frame UserControlMy.xaml type Controls: MetroWindow?

UserControlMy : MetroWindow

var fra = new Frame();
fra.Source = new Uri("UserControlMy.xaml", UriKind.RelativeOrAbsolute);

The program hangs when you insert into the frame xaml

[2017-05-18 14:35] punker76 commented on #2970
@codenameUsernameisalreadytaken I think you need this method

[code]

but it's not MahApps related issue.

[2017-05-18 14:35] #2970 closed

[2017-05-18 14:41] AlexGimo commented on #2969
I do not understand why it is not working if I override MetroButton

[2017-05-18 14:46] punker76 commented on #2969
@AlexGimo The `MahApps.Metro.Styles.MetroButton` style is a little bit different. The triggers are at the inner ControlTemplate. So for this you must override the style (until there is a better way).

[code]

[2017-05-18 15:28] AlexGimo commented on #2969
I added the line <Setter Property="Background" Value="Yellow"/> under your comment but nothing...

[2017-05-18 15:36] AlexGimo commented on #2969
forgot to paste the line :) <Setter Property="Background" Value="Yellow"/>

[2017-05-18 15:41] walterbaccinelli commented on #2969
@punker76  thank you, the solution in the last comment worked perfectly!

[2017-05-22 10:47] Dimigergo opened #2972 "ThemeManager.ChangeAppStyle from separate thread doesn't take effect every 4th time"
Hello!

When I call ThemeManager.ChangeAppStyle from a separate thread the application style is not changed every 4th time, and ThemeManager.IsThemeChanged is not called.

I have a small example to reproduce this issue.
[https://github.com/Dimigergo/MahappsThemeManager]

There is a log file, called "valami.log" which contains:

2017.05.22. 12:43:29 - Changing theme to Red
2017.05.22. 12:43:29 - Ch

[2017-05-22 19:40] garsia0 opened #2973 "Windows XP Compatibility"
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-05-22 19:47] thoemmi commented on #2973
Windows XP isn't supported anymore neither by Microsoft nor by Mahapps.Metro.

[2017-05-22 19:47] #2973 closed

[2017-05-22 20:49] garsia0 commented on #2973
private static bool _GetPhysicalCursorPos(out POINT lpPoint)
        {
            try
            {
                lpPoint.x = System.Windows.Forms.Cursor.Position.X;
                lpPoint.y = System.Windows.Forms.Cursor.Position.Y;
                return true;
            }
            catch
            {
                lpPoint = new POINT();
                return false;
            }

[2017-05-23 02:00] garsia0 commented on #2830
for fix rdp problem change api for
 private static bool _GetPhysicalCursorPos(out POINT lpPoint)
        {
            try
            {
                lpPoint.x = System.Windows.Forms.Cursor.Position.X;
                lpPoint.y = System.Windows.Forms.Cursor.Position.Y;
                return true;
            }
            catch
            {
                lpPoint = new POINT();

[2017-05-23 04:23] amkuchta commented on #2931
I'm taking a swing at this.  Wish me luck.

[2017-05-23 05:50] captainst commented on #2852
I came across the same problem. @punker76 unfortunately your code does not compile.

[2017-05-23 10:34] seb30 opened #2974 "MetroProgressBar // Value == Maximum // Resize window"
When resizing a window with a MetroProgressBar (MPB), where the `Value != Maximum`, then the behavior is fine. But if `Value == Maximum`, the desired size is wrong.

Expected behavior on resizing the window:
![metroprogressbar_issue_a](https://cloud.githubusercontent.com/assets/28293949/26350557/f316416a-3fb3-11e7-9f60-f37d38a64798.png)

Unexpected behavior on resizing the window:
![metroprogressb

[2017-05-23 12:10] punker76 commented on #2974
@seb30 Can you give me the complete Xaml code of this scenario?

[2017-05-23 12:31] seb30 commented on #2974
XAML pasting isn't working.

![image](https://cloud.githubusercontent.com/assets/28293949/26354342/7fc1c3fe-3fc4-11e7-9aa1-e69a3087f4d5.png)

[2017-05-23 12:33] seb30 commented on #2974
And Code behind is just

`
private void Button_Click(object sender, RoutedEventArgs e)
{
	if (_metroProgressBar.Value == _metroProgressBar.Maximum)
	{
		_metroProgressBar.Value = 50;
	}
	else
	{
		_metroProgressBar.Value = _metroProgressBar.Maximum;
	}
}
`

[2017-05-23 16:34] amkuchta commented on #2931
I've got the core requirement for this fully implemented (PR to follow this evening).  One of the things that I don't like is that the header over the content area is not there by default. I could build it into the template and make it so that users can bind their label (or whatever) to the title text, which would make the control easier to use but also breaks from how it is done in the UWP toolki

[2017-05-23 17:27] amkuchta commented on #2931
Boom.
![resizedcreatorsmenudemo](https://cloud.githubusercontent.com/assets/6255186/26367092/7570bb70-3fbb-11e7-92f4-af1b813b300b.gif)

[2017-05-24 05:13] yeasin90 opened #2976 "Interval label in slider"
Is it possible to have frequency interval labels like below (below is for 5 interval)
![sliderwithtickfrequency](https://cloud.githubusercontent.com/assets/8789577/26387772/f43d1c62-4071-11e7-8be3-be71f59c3517.jpg)

[2017-05-24 05:36] seb30 commented on #2974
It is no Mahapps problem. I was able to reproduce with normal WPF. This thread can be closed.

[2017-05-24 14:23] punker76 commented on #2976
@yeasin90 Here is a code snippet which could point you in the right direction...

[code]

[code]

with your own Style for the slider which contains the custom tickbars...

[code]

![image](https://cloud.githubusercontent.com/assets/658431/26408005/efe38df6-409c-11e7-880f-8d3a0985cc07.png)

[2017-05-24 14:23] #2976 closed

[2017-05-25 08:05] xxMUROxx opened #2977 "Badge must have a different look when disabled"
## What steps will reproduce this issue?

The Badge has no diffent appearance if the object itself or any parent visual element are disabled:

### Expected outcome

Badge should look different if disabled

|current|proposed|
|---|---|
|![badge-currentbehavior](https://cloud.githubusercontent.com/assets/4341039/26441569/4bc58d06-4131-11e7-8bcb-dc8655660588.PNG)|![badge-newbehavior](https://cloud.gi

[2017-05-26 19:18] thoemmi commented on #2977
Can a badge be disabled? It's not interactive anyway. The number shown on the badge is still relevant.

Anyway, **if** a different appearance is desired, I wouldn't change the opacity but the color. The button shining through the badge in your proposal looks strange. I would prefer a solid badge background, something gray-ish maybe.

[2017-05-26 19:59] FinlayDaG33k opened #2978 "can't change window title"
Hii there,

Today, I started to create a little application.
However, when I want to update the title from my window, it won't let me.

I have this code as mentioned in [this issue](https://github.com/MahApps/MahApps.Metro/issues/138):
[code]

It doesn't throw an error, but it just doesn't change the title.

Any suggestions?

Cheers

[2017-05-26 20:26] thoemmi commented on #2978
Can't you use the existing `DependencyProperty` `Title`?

[2017-05-26 21:21] FinlayDaG33k commented on #2978
if you mean using `this.title = "This Is My Title";` then no, the title doesn't seem to change.

[2017-05-26 21:22] thoemmi commented on #2978
Can you provide a small repro?

[2017-05-28 07:46] Lerosbeef opened #2979 "[Request]Win 10 Fluent Design Hamburger Menu"
Hi, similar to #2931 I'm trying to copy Microsoft Fluent Design/Project Neon transparent behind blur on the HamburgerMenu; tried with VisualBrush on PaneBackground, no success so far. Please help, MahApps.Metro is great, example : [ProjectNeon](https://twitter.com/MichaelGillett/status/861123430321721345)

![c_vh2imxsaeevic](https://cloud.githubusercontent.com/assets/28889975/26526917/4f0eb91a-438

[2017-05-28 13:55] Insighter2k commented on #1930
Hi everyone,

I still have this issue. Using the one from the msdn docs too.

[2017-05-28 23:32] amkuchta commented on #2979
@punker76 @thoemmi to my knowledge, "Acrylic" is UWP only - is that right?

[2017-05-28 23:34] amkuchta commented on #2977
I'm with @thoemmi (I'm glad I wasn't the only one who took issue with the button showing through).  I think a grey would be awesome, but it would have to be a different grey than the control that the badge adorns

[2017-05-29 06:28] xxMUROxx commented on #2977
@thoemmi since a badge has no command, yes it is not interactive. But it looks strange if the parent control is disabled and the badge has the bright color (accented if default).
I like your and @amkuchta's idea.

[2017-05-29 06:44] Lerosbeef commented on #2979
Thanks @amkuchta, I'd be happy with just a radial blur; it's for a client, so exit Windows Vista DwmEnableBlurBehindWindow and Windows 10 SetWindowCompositionAttribute.
That's why I gave a Windows 10 Mobile example, it just blurs the application behind, not the desktop.

[2017-05-30 10:00] prabhuashwin opened #2980 "[Request] Datagrid copy paste option from clipboard"
Need an option to do the below

- On selection of the whole grid/row need to copy the data to clipboard

- Upon copying this data to the excel or other file and making changes need to copy/paste back to the updated data to datagrid.

Currently i have done this using the below logic, wherein i have overridden the DataGrid class and using the same to do the above operation.

[code]

[2017-05-30 10:47] thoemmi commented on #2980
So you have a working solution? IMHO that's out of scope of MahApps.Metro.

[2017-05-30 11:30] prabhuashwin commented on #2980
Yeah just wanted to know if it is possible to integrate this to the application in the next build or release.

[2017-05-30 18:21] #2978 closed

[2017-05-31 22:47] benjaminwinokur opened #2981 "TryGetPhysicalCursorPos() throws exception"
## What steps will reproduce this issue?
Sometimes right clicking will cause application to crash (so far only on server 2003 32 bit)

System.EntryPointNotFoundException: Unable to find an entry point named 'GetPhysicalCursorPos' in DLL 'user32.dll'.
   at Standard.NativeMethods._GetPhysicalCursorPos(POINT& lpPoint)
   at Standard.NativeMethods.TryGetPhysicalCursorPos(POINT& pt) in d:\projects\git

[2017-05-31 22:54] benjaminwinokur commented on #2981
[SecurityCritical]
        [SuppressMessage("Microsoft.Performance", "CA1811:AvoidUncalledPrivateCode")]
        public static bool TryGetPhysicalCursorPos(out POINT pt)
        {
            // On windows server 2003, occasionally it will fail to find the entry point
            // Unable to find an entry point named 'GetPhysicalCursorPos' in DLL 'user32.dll'.
            // this allows the appli

[2017-06-01 06:18] thoemmi commented on #2981
Minimum supported systems for [`GetPhysicalCursorPos`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa969464(v=vs.85).aspx) are Windows Vista and Windows Server 2008. Microsoft's extended support for Windows Server 2003 ended July 14, 2015, and so did MahApps.Metro.

[2017-06-01 06:18] #2981 closed

[2017-06-01 06:37] #2980 closed

[2017-06-01 06:59] punker76 commented on #2776
I think you need a ListBox which holds your tiles (which comes from a collection bound to ItemsSource). So you can create a custom Style for the ListBoxItem which shows a Tile and handles the selection and focusing stuff.

[2017-06-01 06:59] #2776 closed

[2017-06-01 11:45] GhfDllT commented on #794
Hi all!

It seems I am having the same issue now (I am talking about black border). I am using version 1.5.0

[2017-06-05 20:29] batzen commented on #794
@GhfDllT You should not comment on old & closed issues. You get way better responses by opening a new issue and referencing the old one there.

[2017-06-06 10:35] anandkishore987 commented on #2966
I'm also facing the same problem. When you revel a password the cursor blink in middle.
Environment
*Win 10
*MahApps.Metro v1.5.0
* visual studio 2015
*.Net framework 4.5

[2017-06-07 19:46] ryanknopf opened #2983 "NumericUpDown Internal Text Doesn't Update When Expected"
Hey All,

Looking for any pointers I can get on a workaround for this issue.  I've tried nearly everything I can think of but am still following short of the desired result.  This is similar to issue num 2952.

## NumericUpDown Text Doesn't Update to Value on Lost Focus

I have a NUD (NumericUpDown) which is bound to a double type property (TwoWay, UpdatedSource on PropertyChanged, Converter conve

[2017-06-07 19:58] punker76 commented on #2983
@ryanknopf Can you try using the latest version 1.5.0?

[2017-06-07 21:28] Foxtrek64 commented on #2913
It's not a perfect solution, but here's what I do:

1. In my main window, I create the following method:
[code]
2. In your page configuration, do the following:
[code]
3. Build your button and add a click handler with the following code:
[code]

As stated, this is not a *perfect* solution, but it will get you what you're looking for.

This assumes that
1. The body of your MainWindow contains a Fra

[2017-06-07 22:18] ryanknopf commented on #2983
@punker76 Thanks for the quick response!  Looks like exactly the same behavior in 1.5.0.

[2017-06-09 07:52] honzasram opened #2985 "TimePicker 24hour format selection"
Hi. I'd like to set 24 hour format selection in TimePicker. So far I have to set if this is AM or PM, which is not pretty common in Czech format.

Environment

MahApps.Metro v1.5.0.23
Windows OS 10/7
Visual Studio 2015
.NET Framework 4.5.2

[2017-06-10 12:33] jamithiran commented on #2953
@seb30 , your suggestion (setting the content) finally brought the agony of many hours to and end but as you mentioned the second one has problems. It shows only the header.

The one that shows the content is usually the first flyout added in viewmodel. I'm referring to my development project in VS2017. Did you have any success in resolving this situation? I chose to use CM only because I could no

[2017-06-12 04:50] seb30 commented on #2953
Not really. In the end I'm showing only one Flyout and the other stuff in a dialog.

[2017-06-12 07:56] jamithiran commented on #2953
@seb30  Thank you for the reply. I have dropped the idea of using CM and going the normal way. Just to clarify to others on previous message, only the last added flyout shows the content and previous flyouts (1 or more)  ones the header.
Cheers

[2017-06-13 08:45] punker76 commented on #2985
@honzasram The AM/PM comes from the Cultures properties `DateTimeFormat.AMDesignator` and `DateTimeFormat.PMDesignator`.

[2017-06-14 11:12] honzasram commented on #2985
@punker76  Thank you for reply. However, I'm not pretty sure if I understand. What exactly should i add to code?

Even if I set up Culture to "cs-CZ" which uses 24 hour format by default, I Get this
![bez nazvu](https://user-images.githubusercontent.com/9151345/27129436-8bc06148-5102-11e7-9803-7f34def03ae4.png)

I want to get rid of AM/PM selector (in this case dop./odp.) and get all 24 hour to ho

[2017-06-14 11:58] punker76 commented on #2985
@honzasram Ok, you're right. I found the problem and will fix it in 1.6.0 (and alpha).

[2017-06-14 12:09] #2985 closed

[2017-06-14 13:06] punker76 commented on #2985
@honzasram You can test the latest alpha version.

[2017-06-14 18:21] MurariAlex opened #2986 "Closing Progress or Login Dialogs doesn't restore focus on Window/Flyout"
## What steps will reproduce this issue?

**For Flyouts and Progress Dialogs:**

1. Create a flyout and add an `InputBinding `to the `Escape` key that closes the flyout when pressed.
2. Show a progress dialog in the flyout (using the Flyout as the context for the Dialog) and close the progress dialog.
3. If you press the escape key, nothing happens, if you click on some element in the flyout, the

[2017-06-15 09:57] Brogie opened #2987 "Licence issues"
## What steps will reproduce this issue?

There are two licences in the root of the repo one is the MIT licence (LICENCE) and one is the Ms-PL licence (LICENCE+) both added at the same time in a commit named test 2 (commit dbb70247c5071141c4fee491c3dc3ae44a42d274), which one pertains to MahApps.Metro? I'm going to reference MahApps as MIT for now as that is what is shown on the header for the proj

[2017-06-15 12:08] nigel-sampson commented on #2953
I've dropped a work around in Caliburn-Micro/Caliburn.Micro#451 for the sample along with an explanation of what's happening.

Short story is that it appears that the `ItemTemplate` on the `FlyoutsControl` ends up as the `HeaderTemplate` of the `Flyout`. My gut says this part isn't related to Caliburn.Micro, but I need to spike a sample to test that out.

[2017-06-15 17:05] jamithiran commented on #2953
@nigel-sampson  Thanks Nigel. Your workout seems to fix it. Cheers

[2017-06-15 23:42] nigel-sampson commented on #2953
So I was able to recreate the problem outside of Caliburn.Micro with the following.

[code]

[code]
Which results in the following:
![flyout](https://user-images.githubusercontent.com/1256017/27206006-7aac7a9a-5288-11e7-87b2-6be2b498fe38.png)

As you an see the `ItemTemplate` of the `FlyoutsControl` is being applied to the `HeaderTemplate` of the child `Flyout`s. Can't see anything immediately obv

[2017-06-16 07:17] xxMUROxx commented on #2987
@Brogie There are some files licenced under Ms-PL. See https://github.com/MahApps/MahApps.Metro/blob/develop/LICENSE%2B#L5-L7
 The whole project is licenced under MIT

[2017-06-16 11:43] Eternal21 commented on #2953
I don't know if it's related, but from what I remember the problems began when the Flyout base class was changed from ContentControl to HeaderedContentControl a while back: https://github.com/MahApps/MahApps.Metro/commit/2874108dd9df3cc5f3198f09d1681a135554200b

[2017-06-16 19:10] TheProxyRE opened #2988 "Badge drawing issue when resized"
## What steps will reproduce this issue?

_When grid size is less than minimal size than badges fails to draw propperly_

### Expected outcome

Here is normaly how it look
![image](https://user-images.githubusercontent.com/12687236/27241202-18c315e6-52d8-11e7-9f78-aa7132345d3e.png)

And this is how it looks when resized
![image](https://user-images.githubusercontent.com/12687236/27241210-23522254-

[2017-06-19 20:46] ryanknopf commented on #2983
@punker76 I've narrowed down the issue a bit further (if the explanation is helpful):

When a user types a value of excessive precision into the NumericUpDown internal TextBox "e.g. 1.2345", OnTextChanged() is called as each character is typed ("2", then "3", then "4", etc.), and ValidateText() succeeds because even though the number is of greater precision than the interval desired by the user it

[2017-06-20 06:29] lasikye opened #2989 "DemoNET40 Crashed in windows 7 with .net framework 4.0"
When I run the Release 1.5.0 NET40 demo then click 'X' close button, it will crash with unhandled exception. ( I found earlier release version occured the same crash issue like 1.4.0, 1.4.1 etc.)
I caputed the event log as blow.

_Application: MetroDemo.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.IO.FileLoadExcepti

[2017-06-21 01:01] TwoBee opened #2990 "TextBox memory leak"
[code]
window minimize

### Environment

- MahApps.Metro __v1.4.3__
- Windows OS __8.1__
- Visual Studio __2013__
- .NET Framework __4.5__

[2017-06-21 18:28] batzen commented on #2972
As i just ported `ThemeManager` to Fluent.Ribbon i will have a look at this issue.

[2017-06-21 19:29] batzen commented on #2972
Ok, this is partially cause by a mistake you made and a "bug" in `ThemeManager`.

You add all themes you use in App.xaml whereas you only should add one. If you only add one, the issue is gone.

This kind of issue is caused because `ThemeManager` does not search through the merged dictionaries like wpf does. Which means that wpf searches/applies them in reverse order which means that the last dict

[2017-06-22 08:01] Dimigergo commented on #2972
Oh, thanks, it works in this way, so it is a good solution for me. :)

[2017-06-22 08:01] #2972 closed

[2017-06-22 18:41] alexjw90 commented on #1695
I had this issue as well and fixed it.

solution: clean/build each project (.proj) individually.

reason: the referenced .dll for each project is not yet created when you pull down the code, therefore the references are broken until you build the projects.

[2017-06-23 05:11] BlythMeister opened #2993 "Auto complete text box"
I would really like to include an auto complete text box in my app similar to how https://wpfautocomplete.codeplex.com works.
But I'm not sure how to get that example of auto complete to have all the mahapps styling.

Essentially, a text box which can provide suggestions based on entered data is what I am after 🙂

[2017-06-23 11:00] Blinxar opened #2994 "Badge in TabItem Header Getting Cropped"
## What steps will reproduce this issue?

I have headers set up like this:

[code]

**Issue 1**: If the header row of the TabControl isn't at least 40px then it seems like the badge will always be cropped (This means I have to set at least one TabItem to MinHeight="40").

**Issue 2**: The Badge is also cropping for seemingly random bits of text in the badged TextBlock.
E.g.
- 'Tab 1' doesn't crop

[2017-06-23 13:27] batzen commented on #2972
This issue will be fixed if #2992 is merged.

[2017-06-24 01:36] peererror opened #2995 "MahApps.Metro use Colour.xaml and Color.xam with new versions"
Hi All ,

I have user control dll which is built with MahApps.Metro 0.1.1 and host app that is trying to use it. The host app is using latest version of MahApps few years back there was a breaking change in MahApps which was renaming of Colours.xaml to Colors.xaml which is resourcedictionary this is  the only thing that is causing the issue . I dont have code of user control dll so i can't compile

[2017-06-26 13:33] bardospeter opened #2996 "Mahapps window steals focus"
## What is the issue?

MahApps window sometimes steals focus in our application. As it turned out, it can steal the focus in the official test app as well:

[Reproduction video](https://drive.google.com/open?id=0B-visWMOSK_xSjdMbGNSdHNHZkk)

## What steps will reproduce this issue?

1. Start MahApps.Metro.Demo.NET45
2. Click on VS button
3. Go back to main window
4. Maximize
5. Minimize
6. Maximiz

[2017-06-26 14:01] bardospeter commented on #2996
Sorry, made the link public now

[2017-06-26 15:13] mbagattini commented on #1772
Same issue, maybe totally unrelated: collision was with something in Fluent Ribbon; after renaming my resources everything is ok.

[2017-06-26 17:47] peererror commented on #2995
Please close the above issue I have resolved the issue

[2017-06-26 17:53] #2995 closed

[2017-06-27 13:32] DJmRek commented on #2285
Run into the same issue. Do you find any way to cahnge the position?

[2017-06-27 14:28] JerryJian commented on #2996
I encountered a lost-focus problem when I launch a metro window as dialog window (new MetroWindow().ShowDialog()). I remove GlowWindowBehavior in my metro window style.
Because I found that it will create 4 windows around the main window in order to implement shadow effect, and sometimes one of them will capture the focus. You can try to custom metro window style and remove GlowWindowBehavior.

[G

[2017-06-28 14:15] #2996 closed

[2017-06-28 14:16] punker76 commented on #2996
@bardospeter @JerryJian This is fixed now and will be available in 1.6.0 (also available in latest pre-release)

[2017-06-28 14:17] punker76 commented on #2990
@TwoBee Can you give us more information about this? Why should this a memory leak?

[2017-06-28 14:37] punker76 commented on #2987
@Brogie As @xxMUROxx  says, MahApps itself is licensed under MIT and uses code which is licensed under Ms-PL and compatible with the terms of MIT.

[2017-06-28 14:37] #2987 closed

[2017-06-28 14:43] TwoBee commented on #2990
@punker76 I am sorry! I can't compile source code for debugging. I am using is releases version that does not provide more information.

[2017-06-28 16:17] taori commented on #2285
@DJmRek I ended using a validationsummary to gather validation errors. Doesn't help you unfortunately.

[2017-06-28 19:51] punker76 commented on #2990
@TwoBee So, how can I help you? Where do you think is this memory leak? Have you tried the latest stabel version 1.5.0 (or pre-release of 1.6.0) instead the 1.4.3?

[2017-06-30 12:34] fredericoregateiro commented on #2993
+1

[2017-06-30 12:42] afreeman2 commented on #1488
can you rewrite code in vb plz?

[2017-07-03 21:31] makingbloke opened #3000 "Empty Watermark leaves blank border on date time controls"
With the DatePicker / TimePicker / DateTimePicker (and no custom styles applied) if I set the watermark to "" using TextBoxHelper.Watermark then I get a blank square on the control (as shown below). However, if I set the watermark to "{x:Null}" then the box does not get displayed
![screenshot1](https://user-images.githubusercontent.com/6209853/27808370-580b6b3a-603f-11e7-90ba-0b42f6ae4d7b.png)
.

[2017-07-04 03:40] JerryJian opened #3001 "DatePicker padding do not work"
## What steps will reproduce this issue?

`<DatePicker Padding="10"/>` not working, but wpf default style works.

### Expected outcome

Expect the same logic as the WPF default style

### Environment

- MahApps.Metro __v1.5.0.23__
- Windows OS __Win7 64Bit SP1__
- Visual Studio __2015__
- .NET Framework __4.0__

[2017-07-04 09:02] Pekshev opened #3003 "TextBox borders disappears on focus"
- MahApps.Metro __v1.15.0.23__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.5.1__
When I click on the textbox, then it has lost borders. When you hover the mouse, the same thing happens.
![screenshot_1](https://user-images.githubusercontent.com/12638819/27823120-afd5d4f6-60b0-11e7-80da-4650fda44d4e.png)
![screenshot_2](https://user-images.githubusercontent.com/12638819/2782312

[2017-07-04 11:42] #3000 closed

[2017-07-04 11:42] #3001 closed

[2017-07-04 12:06] punker76 commented on #3001
@JerryJian should be fixed now. you can test it with the latest pre-release.

[2017-07-04 12:06] punker76 commented on #3000
@makingbloke should be fixed now. you can test it with the latest pre-release.

[2017-07-05 03:00] stulzq opened #3004 "Can't compile all demos on VS2017"
### Environment

- MahApps.Metro __v1.6.0__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.5&4.0__

Today,I download MahApps.Metro-develop source code.I can compile MahApps.Metro,but I cant't compile MahApps.Metro'demo（MahApps.Metro.Caliburn.Demo & MahApps.Metro.Demo）
![image](https://user-images.githubusercontent.com/13200155/27847593-1164e368-6171-11e7-94cc-4116806532ad.png)

[2017-07-05 18:58] amkuchta opened #3005 "SplitView Inline Animation"
## What steps will reproduce this issue?

_Utilizing the `SplitView` control with an `Inline` or `CompactInline` pane does not animate in the same manner as `Overlay` or `CompactOverlay`_

### Expected outcome

_The Pane for the `SplitView` control should always slide out to the right or left_

### Repo

_Evident in MetroDemo_

### Environment

- MahApps.Metro __v1.6.0_alpha007__
- Windows OS __7/

[2017-07-05 20:41] makingbloke commented on #3000
Downloaded the pre-release last night and compiled it. "" still gives the default watermark and null clears it. (This is using the .Net 4.5 Demo).

[2017-07-05 20:45] makingbloke opened #3006 "Fix given in #3000 for watermark in DateTime picker doesn't work"
#3000 Downloaded the pre-release last night and compiled it. "" still gives the default watermark and null clears it. (This is using the .Net 4.5 Demo).

![capture](https://user-images.githubusercontent.com/6209853/27884169-3b067a74-61cb-11e7-8dea-abd782418663.PNG)

[2017-07-05 20:52] punker76 commented on #3006
@makingbloke Yes that's correct, cause the `DatePickerTextBox` has also a internal Watermark property which will be shown if you set the `TextBoxHelper.Watermark=""` use the the picker without any helper attached properties. It will show the `Select a date` term in your language.

[2017-07-05 21:50] makingbloke commented on #3006
Yes sorry, I see what you mean. My mistake :)

[2017-07-05 21:51] #3006 closed

[2017-07-06 04:05] ye4241 commented on #3004
you need restore/reinstall all packages with paket.

[2017-07-06 07:03] JerryJian commented on #3001
@punker76 Thanks

[2017-07-06 08:47] xxMUROxx commented on #2977
@punker76 what do you think?

[2017-07-06 19:08] mxsoftware opened #3007 "MahApps.Metro is not CLS compliant"
Some protected vars start with "_" char.

BadgedEx
        protected FrameworkElement _badgeContainer;

TimePickerBase
        protected DatePickerTextBox _textBox;

BaseMetroDialog
        public Task _WaitForCloseAsync()

in NtDll.cs
        struct OSVERSIONINFOEX can be internal
        static extern int RtlGetVersion([In, Out] ref OSVERSIONINFOEX version); can be internal

in AssemblyInfo.cs y

[2017-07-08 16:54] makingbloke opened #3008 "DateTimePicker not displaying Calendar correctly inside DataTemplate"
Hi,

Apologies if this is a bit obscure :) If I put a DateTimePicker inside a DataTemplate then when I dropdown the calendar all the days / time controls are blank.

![capture](https://user-images.githubusercontent.com/6209853/27987475-2bab4e78-6406-11e7-9573-666859ca39a1.PNG)

I've attached a simple sample project which demonstrates the problem: [DateProblemDemo.zip](https://github.com/MahApps/Ma

[2017-07-09 23:14] makingbloke commented on #3008
I'll close this one. After some research it looks like I was setting up something in the binding incorrectly. Switching to using a DataTemplateSelector class solved the issue.

[2017-07-09 23:14] #3008 closed

[2017-07-10 15:02] tigroux06 opened #3009 "Floating Watermak field doesn't fit according FontSize"
Hello,
I try to change the floating watermark fontsize by setting the resources like this
`    <Controls:MetroWindow.Resources>
        <System:Double x:Key="FloatingWatermarkFontSize">16</System:Double>
    </Controls:MetroWindow.Resources>`

But the height doesn't grow. So the text is truncate.

[2017-07-12 02:28] fahminlb33 commented on #1908
I'm facing the same issue. Click/Checked/Unchecked never get called.
Checked called only first time when app launches.

[2017-07-12 12:28] BittyGitty opened #3010 "HamburgerMenu ignores Focusable and IsHitTestVisible properties"
## What steps will reproduce this issue?

Add an HamburgerMenu, set Focusable=False, IsHitTestVisible=False.

### Expected outcome

Cannot focus to it with Tab key, as with all other controls.

This happens with everything contained in the hamburgermenu, both the 'menu' itself as with the content.

[2017-07-14 10:48] Krzychu87 opened #3011 "Datagrid - grouped items are not directly below column header."
Like in the title - grouped items in datagrid are not directly below column header (I use ICollectionView as data source).

![image](https://user-images.githubusercontent.com/30173721/28209352-78155f52-6892-11e7-85e1-65fa0dd9a66b.png)

- MahApps.Metro V1.5.0.23
- Windows 7
- Visual Studio Professional 2015
- .NET Framework 4.5.2

I tried so hard to upload my demo to GitHub, but with no success...

[2017-07-16 10:24] MajedDH opened #3012 "Validation red border still there until i empty the text box"
## What steps will reproduce this issue?

I have a custom `UserControl`  with custom `dependenecyProperties` that implements `IDataErrorInfo`, inside the control there are some `textboxes`  with values bound to it's `depenedency properties`.

When i use the control i bind to it some properties from the Viewmodel , in one specific case (i want to update something already in the Database) , the valu

[2017-07-19 07:17] Pekshev commented on #3003
Close this issue. Problem is not in the library

[2017-07-19 07:17] #3003 closed

[2017-07-19 07:26] Pekshev opened #3013 "ListView (ListBox) - Undeletable Top Padding"
In ListView and ListBox always the top padding. Why? How can i remove it?

![screenshot_3](https://user-images.githubusercontent.com/12638819/28355428-a5ec54de-6c6c-11e7-8373-a2b39350b0ff.png)

### Environment

- MahApps.Metro __v1.5.0.23__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.5.1__

[2017-07-21 06:09] lostmsu commented on #1964
In case you guys are still interested: I think this happens when graphics card driver is being updated.

[2017-07-25 02:01] tjubuntu opened #3015 "please publish MahApps.Metro base on .NETCore framework"
when i plan using MahApps.Metro  to devloping windows 8 metro app,i used vs2012,and .net framework is .NETCore,Version=v4.5,but MahApps.Metro not match. By the way the OS of computer is Windows 8 not 8.1 in our company . thanks!

[2017-07-25 08:10] punker76 commented on #3015
@tjubuntu MahApps is compiled for .NET4 and .NET45+ and I think it's currently not possible to compile for .NETCore

[2017-07-25 08:45] punker76 commented on #3012
@MajedDH The connection to your DataContext was wrong -> PR https://github.com/MajedDH/Mahapps.MetroIssue/pull/1

[2017-07-25 08:45] #3012 closed

[2017-07-25 09:55] thoemmi commented on #3015
WPF does not work with .NET Core.

[2017-07-25 09:55] #3015 closed

[2017-07-26 01:02] abo-github commented on #1731
I'm interessted in it, too. Can someone help?

[2017-07-28 09:43] khspace opened #3016 "GlowBrush bug"
If set MetroWindow owner to a Winforms window, after MetroWindow  has been dragged to other position  the glow of MetroWindow remain in original position.
![picture1](https://user-images.githubusercontent.com/20200828/28711957-eabbc260-73bb-11e7-9bdb-e55990375288.png)

[2017-08-01 12:46] fandisus commented on #1633
Good @thoemmi sir, can you please specify the namespace of Infrastructure:ContextMenuOnLeftClickBehavior

[2017-08-05 14:45] alexeygritsenko opened #3017 "SplitButton with custom ItemTemplate - Source change does not always update layout"
For example, I install a source with 1 element, then I reset it and install it with 3 elements. In this case, the control is not redrawn, and shows only 1 element, although there are 3 of them.

`splitButtonPlay.ItemsSource = null;
            splitButtonPlay.ItemsSource = buttonList;`

Full source sample bug project: https://yadi.sk/d/jCWvN8aT3Ljgo6

### Environment

- MahApps.Metro __v1.5__
- Wi

[2017-08-06 20:19] manprit-sahota opened #3018 "Submenu with Hamburger Menu"
Is it possible to have submenu with Hamburger menu control? I tried blog http://jkarger.de/2017/02/06/mahapps-hamburgermenu/ but it does not demonstrate the way of using sub menu. I want to integrate submenu like in web application so that I can click on any menu and it will list the submenus of that menu. Also wanted to know the limit of submenu hierarchy.

[2017-08-11 17:15] NourZohdy opened #3020 "Attach button to combobox without clearing selection"
I want to add button to ComboBox that allow me to handle command without clearing selection..
like the case in [This Scenario](https://github.com/MahApps/MahApps.Metro/issues/2597) but with ComboBox NOT TextBox

Do i miss specific style to set in ComboBox to achieve what i want ?

[2017-08-14 12:49] MajedDH commented on #3012
well, shouldn't the metro library update the validation after changing the data context( changing the data context in runtime ) ?

[2017-08-17 15:06] AndreasZChen opened #3022 "HideMetroDialogAsync sometimes fails to close dialog"
## What steps will reproduce this issue?

Attempting to call HideMetroDialogAsync and ShowMetroDialogAsync on two dialogs in rapid succession, with animations on, will sometimes cause HideMetroDialogAsync to never return and thus leave a dialog on the screen perpetually. This is a timing-based bug and can be somewhat difficult to reproduce.

I have done some debugging and have tracked the problem

[2017-08-18 18:38] sarat12 opened #3023 "Custom Dialog Theme Issue"
## What steps will reproduce this issue?

I have an app with settings custom dialog. I'd like to be able to change the app theme (Light/Dark) on the fly (using settings dialog). Also I want my dialog to change the theme as well. Everything works as expected when I'm doing it for the first time, but after I close the dialog and then trying to do that again - theme change only influenses on the wind

[2017-08-21 09:19] JerryJian opened #3025 "ComboBox popup border thickness problem"
## What steps will reproduce this issue?

_Set BorderThickness of ComboBox, affect the popup's border thickness._

### Expected outcome

_I personally expect popup's border thickness is set from a dynamic resource or hard coded to 1, 1, 1, 1 _

- MahApps.Metro __v1.5__
- Windows OS __7 SP1__
- Visual Studio __2015__
- .NET Framework __4.0__

[2017-08-22 09:00] ShannonZ commented on #2983
I met the same problem. How to solve it elegantly?

[2017-08-23 04:16] ShannonZ opened #3026 "NumericUpDown didn't update when lost focus, StringFormat has no effect to the content string"
# NumericUpDown didn't update

I‘ve wrote an simple solution to  demonstrate this issue [download code](https://drive.google.com/open?id=0B9QI8E5qFmuEYzhfcXRJb3V0SEU).

Value of  NumericUpDown(NUD) was bonded to the field of Model class
-`public float Age { set; get; } `
And the StringFormat of NUD was set as
-`StringFormat="{}{0:N6} ms"`

## if one typed something like "9.87654321" and tab to ano

[2017-08-23 07:11] punker76 commented on #3026
@ShannonZ I can not reproduce this with the v1.5.0 of MahApps.

![numericupdown_3026](https://user-images.githubusercontent.com/658431/29603061-fa07b6d0-87e2-11e7-8474-fc25839c492b.gif)

[2017-08-24 00:30] ShannonZ commented on #3026
just type more digits to call up the Horizotal Scrollbar of NUD.

[2017-08-24 00:40] ShannonZ commented on #3026
I have done this experiment in another two computers with VS2015 installed, but the problem is still exist.
Is is possible to relate with cultureinfo?

[2017-08-24 07:31] ShannonZ commented on #3026
![1](https://user-images.githubusercontent.com/7865691/29654815-4b2437a6-88e1-11e7-9499-abc36511f4b4.png)

[2017-08-24 07:47] Speuline commented on #510
Still no news? This feature would be great...

[2017-08-24 08:20] punker76 commented on #3026
@ShannonZ where/what is the code of this?

[2017-08-24 08:24] ShannonZ opened #3027 "How do i limit the number of digits input to a NumericUpDown control?"
How do I limit the number of digits input to a NumericUpDown control? Just like the MaxLength of a TextBox control.

Dig deeper, how do I limit the number of digits after '.' (dot) ?

[2017-08-24 08:29] ShannonZ commented on #3026
@punker76  The solution attached in the first floor has the same problem.
[Solution](https://drive.google.com/file/d/0B9QI8E5qFmuEYzhfcXRJb3V0SEU/view?usp=drive_web)

[2017-08-24 08:32] punker76 commented on #3026
@ShannonZ In this sample you set `StringFormat="0"` if I set it to `StringFormat="{}{0:N6} ms"` it works for me™.

[2017-08-24 08:39] ShannonZ commented on #3026
@punker76  Have you input enough digits? Have you seen the horizontal scrollbar?

[2017-08-24 08:46] ShannonZ commented on #3026
[The new](https://drive.google.com/open?id=0B9QI8E5qFmuEUnJHQzIwNEdSdUk)

[2017-08-24 08:50] ShannonZ commented on #3026
How to update the content of NUD programmatically?

[2017-08-24 08:51] punker76 commented on #3026
@ShannonZ to hide the scrollbars do this on your NumericUpDown
[code]

[2017-08-24 09:09] punker76 commented on #3026
@ShannonZ íf there is no other tabable control the tab doesn't work

[2017-08-24 09:34] ShannonZ commented on #3026
Can the problem be reproduce at your computer?
In my office, only if inputting excessive precision the content of NUD won't be update any more.
But the button(+/-) can work perfectly. Is it possible to call the Click callback of + programtocally? Succeeding with a calling of Click callback of -.

[2017-08-24 09:37] punker76 commented on #3026
@ShannonZ I'm investigating what's wrong with this

[2017-08-25 14:52] benjaminwinokur opened #3028 "SaveWindowPosition causes application to crash"
## What steps will reproduce this issue?

Opening application and it crashes as my applications Main() is executed. This crash is due to group/security policy settings on the system where my application is  running combined with `SaveWindowPosition="True"`.

### Expected outcome

I am not sure the proper way to fix the issue. In MahApps.Metro.Shared/Controls/WindowSettings.cs `LoadWindowState()`,

[2017-08-25 20:36] punker76 opened #3029 "StrongName signed assembly? Hey, it's 2017..."
MahApps v1.6.0 will not be strong-named.

Why?

Strong-named assemblies are only useful in some rare scenarios. If you need strong-named assembly then you can compile the source by yourself ore use the [Strong Namer](https://github.com/dsplaisted/strongnamer) from Daniel Plaisted @dsplaisted or [Strong-Name Signer](https://github.com/brutaldev/StrongNameSigner) from Werner van Deventer @brutaldev.

[2017-08-26 19:51] jtattreo commented on #3004
I also cannot build the solution. I followed the build instructions and ran .paket\paket restore, but it did not solve the problem. I just need the demo. Is there anywhere to get the demo from in binary format?

[2017-08-26 19:54] punker76 commented on #3004
@jtattreo A compiled demo is available at the release page https://github.com/MahApps/MahApps.Metro/releases

[2017-08-28 00:39] ShannonZ commented on #3026
@punker76  Has it been fixed？

[2017-08-28 01:03] ShannonZ commented on #3026
@punker76  Is there any  temporary solution?
Sorry to disturb you so frequently but I myself cannot solve it.

[2017-08-28 18:15] batzen commented on #2729
@Deadpikle This is now done in ControlzEx. And the default value for this even is true, because it's what WPF does by default.
Using ControlzEx is part of MahApps.Metro 1.6. The develop branch here already contains this.

[2017-08-28 18:16] batzen commented on #2855
@Deadpikle This should be fixed in the develop branch now, as it's using ControlzEx for the window chrome.

[2017-08-28 19:52] Deadpikle commented on #2729
@batzen Great! Thank you! 😀

[2017-08-28 19:52] #2729 closed

[2017-08-28 20:13] Deadpikle commented on #2855
@batzen Sweet! Thank you! 👍

[2017-08-28 20:13] #2855 closed

[2017-08-28 20:51] Deadpikle commented on #2727
@punker76 I am closing this as I am unable to replicate it with the latest MahApps -- the problem probably went away with the ControlzEx refactor I am guessing (although I cannot prove).

[2017-08-28 20:51] #2727 closed

[2017-08-29 08:36] svendu commented on #3027
By setting StringFormat property. By setting it to "0.00" two digits after the dot will be displayed.

[2017-08-30 00:42] ShannonZ commented on #3027
I want to limit the number of digits including both those before and after dot.

[2017-08-30 08:44] ShannonZ opened #3031 "NumericUpDown do not fire at certain conditions"
### FYI

_Link to the Repo_
![capture-1](https://user-images.githubusercontent.com/7865691/29863479-6aee22de-8da2-11e7-91df-385f5d950e3c.gif)

### Environment

- MahApps.Metro __v1.5.0__
- Windows OS __win7 x64__
- Visual Studio __2015__
- .NET Framework __4.5__

[2017-08-30 09:03] ShannonZ commented on #3027
@svendu  If you type enough number of digits( until you see the horizontal scrollbar), an overflow exception will be throw...

[2017-08-30 09:11] #3027 closed

[2017-08-30 12:45] #2962 closed

[2017-08-30 12:46] punker76 commented on #2962
@mxsoftware This is fixed now and will be available with 1.6.0 (and next 1.6.0-alpha011).

[2017-08-31 10:17] #3026 closed

[2017-08-31 10:50] punker76 commented on #2983
@ryanknopf Should be fixed now with bd5b84f7ce74d0d36494cb9168059930fadf4441, available in 1.6.0 (and upcoming alpha)

[2017-08-31 10:50] #2983 closed

[2017-08-31 10:51] punker76 commented on #3026
@ShannonZ Should be fixed now with bd5b84f7ce74d0d36494cb9168059930fadf4441, available in 1.6.0 (and upcoming alpha)

[2017-08-31 12:45] #2952 closed

[2017-08-31 14:06] punker76 commented on #3004
@stulzq Please try again with the latest source. I will close this for now. Feel free to re-open if this still an issue for you.

[2017-08-31 14:06] #3004 closed

[2017-08-31 14:08] punker76 commented on #2989
@lasikye Can you try it again with the latest source? thx

[2017-09-01 01:41] ShannonZ commented on #3031
Not fixed in V1.6.0 alpha 011

[2017-09-01 09:22] punker76 commented on #3031
@ShannonZ can you put this sample on GitHub?

[2017-09-01 14:28] FrankMarin commented on #1386
This works for me:
Add resources to a Grid, then you can use icons.

`<Grid.Resources>`
`            <ResourceDictionary>`
`                <ResourceDictionary.MergedDictionaries>`
`                    <ResourceDictionary Source="/Resources/Icons.xaml" />`
`                </ResourceDictionary.MergedDictionaries>`
`            </ResourceDictionary>`
`        </Grid.Resources>`

[2017-09-04 02:18] ShannonZ commented on #3031
I've done some trials and I find that this bug was produce by Softfluent.Windows.
Even though, I still update a demo to reproduce this issue.[demo](https://github.com/ShannonZ/playground.git)

[2017-09-04 09:54] thoemmi commented on #1633
`ContextMenuOnLeftClickBehavior` is not part of MahApps.Metro but written
in another project by mine. You can find the code here:
https://github.com/thoemmi/Solutionizer/blob/master/Solutionizer/Infrastructure/ContextMenuOnLeftClickBehavior.cs

Best regards
Thomas

On Tue, Aug 1, 2017 at 2:46 PM, Fandi Susanto <notifications@github.com>
wrote:

[2017-09-04 11:40] GhfDllT opened #3033 "TextBoxHelper.Watermark and TextBoxHelper.ClearTextButton are not working if a set a custom template for textbox"
I have the following style for my textboxes

[code]
TextBoxHelper.Watermark is set on views. But it wirks only if I delete  <Setter Property="Template">
Can anybodt tell me how to make it working?

[2017-09-04 12:28] thoemmi commented on #3033
You have to add the watermark to your style. Please see how [MahApps.Metro's style adds the watermark to `TextBox`es](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro/Styles/Controls.TextBox.xaml#L95-L106).

[2017-09-04 13:47] GhfDllT commented on #3033
Thank you! Looks cumbersome, but working well

[2017-09-04 14:08] #3031 closed

[2017-09-04 14:18] punker76 commented on #3031
@ShannonZ Please try MahApps.Metro 1.6.0-alpha012. One reason for not accepting the value was the string format (without braces), the other reason was a missing UpdateSourceTrigger=PropertyChanged in the template.

[code]

[2017-09-04 14:20] #3033 closed

[2017-09-04 16:50] evilbaschdi opened #3034 "GlowBrush="{DynamicResource AccentColorBrush}" is causing a ComponentModel Exception in UpdateCore"
testing the current alpha versions of mahapps.metro I currently resolve an error using a GlowBrush.
The error thrown is a "invalid window handle" in
MahApps.Metro\MahApps.Metro.Shared\Controls\GlowWindow.xaml.cs line 274.

At the moment I'm not able to reproduce that error in the sample apps contained in the mahapps.metro repository but with my own applications for example "TestUI" from https://gi

[2017-09-04 16:56] punker76 commented on #3034
@evilbaschdi Which alpha version did you use?

[2017-09-04 17:07] evilbaschdi commented on #3034
currently I'm using 012, it also happened with 009 until 011.
I think I just found the problem my selfe. There was a AllowsTransparency="True" in my code and I don't know why it is there. But with 1.5.0 that problem does not occur.

[2017-09-04 17:46] punker76 commented on #3034
@evilbaschdi MahApps uses now ControlzEx dll. The Problem is by NuGet which doesn't get always the highest dependency from ControlzEx for MahApps. This can be set in the NuGet package manager in VS (or you use the paket manager).

[2017-09-04 17:50] evilbaschdi commented on #3034
I know about that. And I've been on 3.0.66 (or what is the current) ControlzEz. I've even referenced the your repository directly for better debugging.

[2017-09-05 00:50] ShannonZ commented on #3031
Thanks!!! All is present as expected now.

[2017-09-05 10:49] mgnslndh opened #3036 "Add example of DropDownButton menu item command binding to demo"
_Please assign to me and I'll send a PR for this._

[code]

[2017-09-05 12:45] #3034 closed

[2017-09-05 13:16] punker76 opened #3037 "Should we remove install.ps1 from nuspec?"
The NuGet package of MahApps open up the [Quick-Start](http://mahapps.com/guides/quick-start.html) guide on installation and updating.

Some people don't want this, some people say this is a bad practice...

So please give a

- 👍 all is fine, nothing should be changed
- 👎 for removing

Thx

[2017-09-05 13:20] punker76 commented on #3034
@evilbaschdi This should be fixed now and is available with 1.6.0-alpha013

[2017-09-05 13:24] amkuchta commented on #3037
I'm all for removing it, but let's make sure that the quick start is easy to find on the home page (readme) or in the wiki.

[2017-09-05 13:25] punker76 commented on #3037
@amkuchta This should be the case right now.

[2017-09-05 14:56] kaijauk opened #3038 "Update from Version 0.13.1 to a higher one"
I wanted to finally update my MahApps.Metro with the NuGet Manager for my Project. In one WPF Window I use the FlipView Control and when I update Metro I always end up with an NullPointer Exception in the FlipView class, Method: FlipViewLoaded

It does not matter if I update to version 0.14 or 1.0.0 or 1.5.0 - it always crashes.

When I exclude the FlipView it starts but every window I call with .

[2017-09-05 15:17] punker76 commented on #3038
@kaijauk This is a big step :-D Can you provide the code and maybe a stack trace?

[2017-09-05 15:29] kaijauk commented on #3038
@punker76 yeah, i know :-D i totally forgot to do it the past two years so here i am haha :)

I can't provide the code of the FlipView Class because it is in the MahApps.dll, sometimes also an error in the WindowChromeWorker.cs shows up.

I have also installed AvalonDock and MVVM Light in my project.

When I want to start after the Update I first have to replace all "TextboxHelper" with "TextBoxHe

[2017-09-05 15:41] punker76 commented on #3038
@kaijauk this was a bug which is fixed now, so make sure you use the latest 1.5.0

[2017-09-05 15:49] kaijauk commented on #3038
@punker76 if I start debugging with the 1.5.0 version a dialog pops up requiring the path for the FlipView.cs...

[2017-09-05 15:50] evilbaschdi commented on #3034
yes, it's working now. thx!

[2017-09-05 17:24] punker76 commented on #3038
@kaijauk Are you using a custom style for this Flyout?

[2017-09-05 17:37] feinstein commented on #3037
👎 remove it, I always hated it, the quick start website is on the nuget and github websites, everyone knows it exists, and if someone doesn't, Google will surely show him when he searches for help. I think it annoys more than helps.

[2017-09-05 17:44] kaijauk commented on #3038
`<mah:FlipView BorderThickness="0" ItemsSource="{Binding ZukuenftigeSponsionen}" Focusable="False" IsBannerEnabled="False"
                              Template="{DynamicResource BirthdayFlipViewStyle}" x:Name="SponsionFLipView" SelectedItem="{Binding SelectedSponsionItem, Mode=TwoWay}">
                    <mah:FlipView.ItemTemplate>
                        <DataTemplate>

[2017-09-05 21:47] punker76 commented on #3038
@kaijauk This will be fixed in upcoming 1.6.0. The Flipview should now work against older styles too.

[2017-09-06 11:18] seb30 opened #3039 "NumericUpDown"
- MahApps.Metro v1.6.0-alpha013
- Windows OS 10
- Visual Studio 2017
- .NET Framework 4.7

NumericUpDown is bound to byte?, Minimum = 0 and Maximum = 255. If value decrements to 0, the Button is disabled, but with MouseWheel it is possible to decrement more.

![image](https://user-images.githubusercontent.com/28293949/30108824-336fe010-9304-11e7-871c-77f7c8a33323.png)

Next issue is, that the valu

[2017-09-06 11:49] punker76 commented on #3039
@seb30 Thx for testing the latest changes 👍

- I'll look for the MouseWheel stuff
- "..., that the value is parsed immediatly" I think this is now correct so. Isn't it?

[2017-09-06 11:52] seb30 commented on #3039
2nd point: I'm not sure, because now I got this ugly message from WPF. In alpha011 I was able to fill the whole NUD with 99999999999999999 and then changed the focus; the value was set to Maximum.

[2017-09-06 11:55] amkuchta commented on #3037
Looks like the overwhelming response is to kill it with :fire: :laughing:

[2017-09-07 07:13] mhspelt commented on #2619
Cool, thanks. Was a bit of a wait but glad you managed to include this!

[2017-09-07 10:07] kaijauk commented on #3038
@punker76 thank you very much! 👍  removing the style template worked! It starts now! :)

though every window I call with .ShowDialog() does not show up except in the taskbar.
The Dialogs are all MetroWindow-Objects.

Should I change them?

[2017-09-07 10:33] kaijauk commented on #3038
@punker76
okay I got something:

I made all Dialogs appear transparent with a workaround and used this method:

However, if I remove the "AllowsTransparency = true;" part, the dialog shows up again! :)

[2017-09-07 11:35] bplatypus opened #3040 "DataGrid virtualization broken when grouping activated"
Hi,

Can someone explain me why MahApps has this trigger in MetroDataGrid style (Controls.DataGrid.xaml)?

`
        <Style.Triggers>
            <Trigger Property="IsGrouping" Value="True">
                <Setter Property="ScrollViewer.CanContentScroll" Value="False" />
            </Trigger>
        </Style.Triggers>
`

This is breaking virtualization when grouping is activated. From framework

[2017-09-07 11:45] punker76 opened #3041 "Should we drop the .Net 4 support?"
You know MahApps.Metro comes with .Net 4 and .Net 4.5, but it was always been laborious.

So should we

👍 drop this
👎 leave this

.Net 4 support?

IMO I think this can be dropped...

Thx

[2017-09-07 11:57] feinstein commented on #3041
👍 drop it, but mark the lastest version with .NET 4.0 support with a tag, so if anyone needs it, he can easily use it.

[2017-09-07 12:07] amkuchta commented on #3041
I agree. Drop it, but tag the last 4 release.

[2017-09-07 14:24] thoemmi commented on #3041
Microsoft's support for .NET 4, 4.5, and 4.5.1 ended January 12, 2016 ([Source](https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/)). That's almost 20 month ago. Therefore I'd say drop it.

[2017-09-07 14:27] thoemmi commented on #3041
BTW, there are still requests for [Windows XP support](https://github.com/MahApps/MahApps.Metro/issues?utf8=%E2%9C%93&q=label%3A%22XP%20is%20dead...%22) coming, so tagging the last .NET 4 version would be relieving. 🙄

[2017-09-07 17:17] GCores opened #3042 "NumericUpDown Focus doesn't work if set through FocusManager"
Trying to set focus to NumericUpDown through  FocusManager doesn't work. E.g.:

`FocusManager.SetFocusedElement(GridControl, NumericUpDownControl);`
`<Grid Name="GridControl" FocusManager.FocusedElement="{Binding ElementName=NumericUpDownControl}">`

but setting it  like this does:

`NumericUpDownControl.Focus();`

### Environment

* MahApps.Metro v1.5.0
* Windows OS 10
* Visual Studio 2017
* .NET

[2017-09-07 20:27] jogibear9988 commented on #3041
increase the major when you drop support...

[2017-09-07 20:31] punker76 commented on #3041
@jogibear9988 Yes, v1.6.0 will be the last version with .Net 4.0 support. So v2.0 will drop this... that's the plan.

[2017-09-08 00:34] ShannonZ commented on #3041
Drop it. Don't make large library to implement compatibility.

[2017-09-08 06:57] ghiboz commented on #3041
Drop it! 👍

[2017-09-08 09:12] ShannonZ opened #3043 "Width parse error"
Source code for this issue [github](https://github.com/ShannonZ/playground.git)

- Reproduce
![capture-8](https://user-images.githubusercontent.com/7865691/30194814-097af5c6-9488-11e7-8ce8-f2862a0ad759.gif)

- Expected Results
The width of editor in different tab items should be corrected!
If I use a standard WPF TabControl, like this:

    <TabControl>
        <TabItem  Header="SF1" >

[2017-09-08 09:34] punker76 commented on #3043
@ShannonZ I think this is a problem of `SoftFluent.Windows`. If I put a NUD in a Tab all is fine.

![2017-09-08_11h33_25](https://user-images.githubusercontent.com/658431/30205638-b3dc7a7a-9489-11e7-85c5-f9edc405f5c8.png)

[2017-09-08 09:39] punker76 commented on #3043
@ShannonZ If I replace the NUD with a TextBox then I get the same result.

[2017-09-08 11:30] predlona opened #3044 "TextBox validation problem"
Hello, I want to validate a textbox but i always failed. I didn't find any tutorial for MahApps. Can some one help me about this please ?

Thank you.

[2017-09-08 11:33] punker76 commented on #3044
@predlona This is out of scope of MahApps, please take a look e.g. [here}(https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/how-to-implement-binding-validation). Thx

[2017-09-08 11:33] #3044 closed

[2017-09-08 12:01] programatix opened #3045 "Clicking on the "X" button added by TextBoxHelper.ClearTextButton does not clear the databinding target"
## What steps will reproduce this issue?

1. Click on Textbox1
2. Enter some string, eg "123"
3. Press TAB or click on other textboxes
4. The string, "123" will be shown in Textbox2 (due to data binding)
5. Click the "X" button on Textbox1
6. The string on Textbox2 is not cleared

I noted that for the "X" button to clear the databinding target,
1) The textbox where the "X" is going to be clicked o

[2017-09-08 12:24] punker76 commented on #3045
@programatix This is by WPF, cause the default of `UpdateSourceTrigger` for Text() is LostFocus, so if you change this to `UpdateSourceTrigger=PropertyChanged` all should work as expected.

[code]

https://msdn.microsoft.com/en-us/library/system.windows.data.binding.updatesourcetrigger(v=vs.110).aspx

[2017-09-08 12:33] amkuchta commented on #2384
This is going to be so tedious :no_mouth: :no_mouth:

[2017-09-08 12:37] punker76 commented on #2384
@amkuchta v2.0 will be a great release -:-D

[2017-09-08 12:51] programatix commented on #3045
Ok, got it working. Weird that I previously did change UpdateSourceTrigger to PropertyChanged before logging this issue but I doesn't seem to work.

However changing the UpdateSourceTrigger to PropertyChanged would degrade the performance a little as it now caused the textbox to update the datasource on every single key input, where the original task is to just cause the "X" button to clear the st

[2017-09-08 12:53] punker76 commented on #3045
@programatix If you use WPF 4.5+ you can use Delay binding

[2017-09-08 12:57] programatix commented on #3045
How about executing the following code on clearing of the textbox value by the `TextBoxHelper`?
[code]

[2017-09-08 12:59] punker76 commented on #3045
@thoemmi what do you think?

[2017-09-08 13:12] programatix commented on #3045
I tried updating TextBoxHelper.cs (line 837) to,
[code]

and it seems to work. However, I'm not sure that Property it is for PasswordBox. I wonder whether I should put this into a Pull Request?

[2017-09-08 13:34] Nuklon opened #3047 "Issues with the ControlzEx dependency"
Thanks for this library, I like it. However, I've some issues with the latest changes.
I pulled the latest alpha from NuGet but I'm rolling back to the 009. Besides the extra dependency (which currently doesn't pull the correct version (it's missing some class and you need to update to 3.xx)) it's resizing MUCH slower (2-3 times) and the glow border on the window is about twice as big and a lot da

[2017-09-08 13:35] Nuklon commented on #3041
Please keep it, it's the only .NET available on XP. There's hardly a need to drop it as long as it's working as-is.

[2017-09-08 13:37] punker76 commented on #3047
@Nuklon Make sure that you get the highest dependency by NuGet packager manager

![2017-08-31_19h58_48](https://user-images.githubusercontent.com/658431/30214109-8a88db60-94ab-11e7-9c76-51e3bb72cbbb.png)

[2017-09-08 13:37] punker76 commented on #3047
@Nuklon Latest version for ControlzEx is 3.0.1.66

[2017-09-08 13:38] Nuklon commented on #3047
Yes, when updating manually to it it's working, but when you pull the latest alpha of MahApps.Metro it's downloading the 2.0xx build of it.

[2017-09-08 13:45] Nuklon commented on #3047
Only alpha-010 has the dependency correctly (> 3.0.1), the newer alphas have > 2.0, but 2.0 doesn't work. So the NuGet package dependency version should be increased as it was on alpha-010.

[2017-09-08 13:47] punker76 commented on #3047
@Nuklon I'll look for this fu... NuGet stuff, normally > should mean greater and not greater equal...

[2017-09-08 13:51] punker76 commented on #3047
@Nuklon  so `(2.0,4.0)` should be `2.0 < x < 4.0 Exact range, exclusive`

[2017-09-08 13:59] punker76 commented on #3047
@Nuklon 🙈  so yeah mmh, it should be `(2.2,4.0)`

[2017-09-08 14:03] Nuklon commented on #3047
Yes, that should work I think. 2.0 won't work as there's 2.1 and 2.2, so I'd expect (2.2, 4.0) to work.

[2017-09-08 14:05] Nuklon commented on #3047
(besides the nuget issues there's also the other two issues btw, not sure if you want those separately or not)

[2017-09-08 14:07] punker76 commented on #3047
@Nuklon

I don't see this with the main demo :-(

[2017-09-08 14:21] Nuklon commented on #3047
The resize is very easy to check with the demo, 1.5.0 resizes a ton faster than 1.6.0 demo. Since this ControlzEx has been added the resizing is extremely jerky.
You can check it here:
https://i.imgur.com/1MPsds4.gifv
(left one is 1.5.0, right one is the latest 1.6.0 build).

If you need the original video:
[170908_16-1559.zip](https://github.com/MahApps/MahApps.Metro/files/1288143/170908_16-1559.

[2017-09-08 14:24] punker76 commented on #3047
@Nuklon Can you check Release compiled?

[2017-09-08 14:26] Nuklon commented on #3047
It doesn't matter if you use debug or release build, both are as very slow in resize.

[2017-09-08 14:29] Nuklon commented on #3047
The other issue I think comes when you set BorderThickness="0" in the MainWindow. I think the cutoff of the glow is 1-2px further away.

[2017-09-08 14:33] #3029 closed

[2017-09-08 14:33] #3037 closed

[2017-09-08 14:55] punker76 commented on #3047
@Nuklon 1.6.0-alpha014 is out

[2017-09-08 15:59] punker76 commented on #3047
@Nuklon I cannot confirm your behavior and the difference between 1.5.0 and 1.6.0 (by updating to 1.6). I find that 1.6.0 works even better (subjectively speaking). These test is debug compiled and uses the latest source and ControlzEx 3.0.1.66.

### 1.5

![mahapps_1 5](https://user-images.githubusercontent.com/658431/30220314-451ff554-94bf-11e7-9fa4-3ed8d467c06e.gif)

### 1.6

![mahapps_1 6](http

[2017-09-08 22:40] #3025 closed

[2017-09-08 22:42] punker76 commented on #3025
@JerryJian It's now possible to change the popup border thickness and padding for `ComboBox`. So there are 3 new resource keys added. (available in 1.6.0)
  + `ComboBoxBorderThemeThickness` (default 1)
  + `ComboBoxPopupBorderThemeThickness` (default 1)
  + `ComboBoxPopupBorderThemePadding` (default 1)

[2017-09-08 23:52] punker76 commented on #3041
@Nuklon I'll tag/branch this after 1.6.0 with last dotNet4, but I'll not update this branch any further.

[2017-09-09 00:01] punker76 commented on #2915
@Marco-MUC He, can you try it agian with 1.6.0-alpha015? there are some changes under the hood. thx

[2017-09-09 00:04] #2807 closed

[2017-09-09 02:34] ShannonZ commented on #3043
@punker76  In SoftFluent.Windows, the width of the second column of DataGrid was simply set to be "*". (<DataGridTemplateColumn Header="Value" Width="*">   in PropertyGrid.xaml #line 219) . Nothing else was done~

[2017-09-09 06:21] punker76 commented on #3043
The problem is maybe, that the second one isn't visible on start. But all this happens also without MahApps.

[2017-09-09 06:28] ShannonZ commented on #3043
@punker76  I think you should using an NUD in DataGrid to reproduce this issue. And in my machine, when putting NUD in the last column of a DataGrid cell, the width seems to be not fixed.

[Demo(I used SF)](https://github.com/ShannonZ/playground.git)
Click more than one times of the "change" button, you will see the same code produce different results.
![capture-9](https://user-images.githubuserco

[2017-09-09 07:06] punker76 commented on #3043
@ShannonZ If I deactivate the Expander MahApps style the issue is gone, so I will investigate what's going wrong with this.

[2017-09-09 07:10] ShannonZ commented on #3043
@punker76  Thanks for your kindness work! And the great MahApps will become more perfect.

[2017-09-09 07:23] ShannonZ commented on #3044
@predlona  you can refer the textbox demo of MahApp Samples. There is an "IntegerGreater10Property" textbox using IDataErrorInfo to implement validation.[xaml](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro.Samples/MahApps.Metro.Demo/MahApps.Metro.Demo.Shared/ExampleViews/TextExamples.xaml)

Generally, you can implement input validation through at least 4 ways:
- IDataErro

[2017-09-09 09:13] Nuklon commented on #3041
There's no code specific to .NET 4.0 as far as I can find? It'd be a shame to drop support for it if that means we'd have to compile it to .NET 4.0 ourselves. Especially when you can just keep it as-is.

[2017-09-09 09:22] punker76 commented on #3041
@Nuklon All async stuff is special handled, there is also a NET4 compiler directive. ControlzEx handles .NET 4 too. Virtualization in styles is special handled and makes it difficult to handle for net 4.5+ I don't think that this would be a shame...

[2017-09-09 09:23] punker76 commented on #3040
@bplatypus I'll changes this in v2.0

[2017-09-09 09:52] punker76 commented on #3011
@Krzychu87 I figured it out that this is caused by the Expander style. I'll fix this.

[2017-09-09 09:56] punker76 commented on #3011
@Krzychu87 Can you popst your Xml in here? or provide a zip file with your sample?

[2017-09-09 09:57] #3043 closed

[2017-09-09 09:58] punker76 commented on #3043
@ShannonZ Found it. A fix will be available with 1.6.0-alpha016

[2017-09-09 10:06] ShannonZ commented on #3043
great work! Can't thank you enough~~~

[2017-09-09 10:17] Nuklon commented on #3041
Still, .NET 4.0 is the only thing supported on XP (yes, there are people still using it). I know that it's not much cared for anymore but certain markets still use it quite a lot (Asia for example).

[2017-09-09 11:14] batzen commented on #3041
XP also isn't supported anymore.
Supporting libs on unsupported OS/Framework requires time and does not make a lot of sense IMHO.
If anyone needs it they can vote here to keep it.

[2017-09-09 11:53] thoemmi commented on #3045
Looking at PR #3046, I think it makes sense. :+1:

[2017-09-09 14:01] thoemmi commented on #3041
MahApps.Metro doesn't support Windows XP anymore for quite some time.

[2017-09-09 18:37] punker76 commented on #3011
@Krzychu87 It looks like this is caused by the group style itself...

[2017-09-09 21:48] toddburnside opened #3049 "TimePicker fails to parse times with an AM/PM."
## What steps will reproduce this issue?

- Have a TimePicker with the culture set to one that uses AM/PM, such as en-US.
- Edit the time in the TimePicker textbox.
- Textbox will be cleared when it loses focus because the time failed to parse.

The cause of this is that "12:23:17 AM" is valid as part of a DateTime, but it is NOT valid as a TimeSpan.

### Expected outcome

Times with an AM/PM pars

[2017-09-10 11:14] Nuklon commented on #3041
It's working on XP here :)

[2017-09-10 12:25] thoemmi commented on #3041
@Nuklon It *may* work for you, but it's not supported. There are [several issues reported related to Windows XP](https://github.com/MahApps/MahApps.Metro/issues?utf8=%E2%9C%93&q=label%3A%22XP%20is%20dead...%22), but they won't get fixed.

Anyway, the discussion is not about Windows XP but .NET 4.

[2017-09-10 21:12] #3045 closed

[2017-09-10 21:13] punker76 commented on #3045
@programatix thx 👍

[2017-09-11 07:32] ghord commented on #2825
+1 Dialog animation feels too long. I guess having some setting to control duration in `MetroDialogSettings` would be ideal.

[2017-09-11 08:46] xxMUROxx commented on #2825
Yes, a global configuration would be cool 👍

[2017-09-11 14:35] e200 opened #3051 "Can we have the glow as component?"
Can we have the **MahApps Window Glow** as a decoupled component (or control), so we can use only the glow and custom our windows without bring with us all MahApps library?

[2017-09-11 14:39] JerryJian commented on #3025
Thanks very much! @punker76

[2017-09-11 16:39] batzen commented on #3047
@Nuklon  In the video you started one version using the debugger and one version without the debugger, maybe that's the problem?

[2017-09-11 17:12] Nuklon commented on #3047
No, I already said it doesn't matter how you run it.
________________________________
From: Bastian Schmidt
Sent: Mon Sep 11 18:40:16 GMT+02:00 2017
To: "MahApps/MahApps.Metro"
Cc: Nuklon , Mention
Subject: Re: [MahApps/MahApps.Metro] Issues with the ControlzEx dependency (#3047)

@Nuklon<https://github.com/nuklon> In the video you started one version using the debugger and one version without the

[2017-09-11 18:28] batzen commented on #3047
@Nuklon Could you create a new video without the debugger attached? Which version/build of windows 10 are you running on? Are you using the latest graphics card drivers?

Could you try to force software rendering on the window and see if that changes something?

In Window constructor:
[code]

[code]

Could you comment out the line saying `new BorderlessWindowBehavior()` in `InitializeStylizedBehav

[2017-09-11 20:11] #3049 closed

[2017-09-12 07:24] Nuklon commented on #3047
I'm running the latest W10 build (all up-to-date), including the drivers (one with AMD and the other is using NVIDIA).
I've been experimenting with it a little and debugger on/off matters _some_ (it's a bit better without the debugger attached but not perfect yet).  software rendering doesn't help. However, what I noticed is that if I disable the window glow everything is fast (regardless if a deb

[2017-09-12 08:24] predlona commented on #1599
how can we add a homepage button if possible ? btw sorry for dump.

[2017-09-13 08:09] predlona opened #3052 "MetroNavigationWindow HomePage Button ?"
Hello guys, i am using MetroNavigationWindow for my project's navigations. But there is just Back and Forward buttons. How can i add a HomePage button ?

Thank you for your helping.

[2017-09-13 10:32] batzen commented on #3047
@Nuklon Could you run the performance profiler in visual studio, profile resizing and attach the results to this issue?

[2017-09-13 17:20] iamwyza opened #3053 "Enhancement Request: Add Links in Sample App To Implemented Item"
The Sample app is great, but it'd be awesome to have it such that you could click something on the app then select an element and have that link back to the source for that example.  For example, if I'm looking at the Buttons Tab and look at the Mail button.  Something where i could click on an icon which would then set me in a mode where if I click the mail button, it links to

https://github.com

[2017-09-13 17:24] punker76 commented on #3053
thoughts about this and a new demo are in my head...

[2017-09-14 19:14] punker76 opened #3054 "WindowsSettingBehaviour broken after using ControlzEx"
The `WindowsSettingBehaviour` doesn't work after using the `ControlzEx` lib. So setting the `SaveWindowPosition` to true on `MetroWindow` has no effect. (Reported by@mostafa901)
### Environment

- MahApps.Metro __v1.6.0-alpha016__
- Windows OS __Win 10__
- Visual Studio __2015-2017__
- .NET Framework __4.5__

[2017-09-14 21:21] #3054 closed

[2017-09-14 21:41] #3028 closed

[2017-09-15 12:17] MurariAlex commented on #3011
It´s tricky, because we can have multiple levels of grouping (right?):

--00000
---11111
----22222

So the column header on the top will never really match all groups of items.
Some paid frameworks includes an header for each level of grouping

![image](https://user-images.githubusercontent.com/11204378/30481655-410be1da-99f6-11e7-9dcb-b89363b95480.png)

I this scenario I can´t really think of ano

[2017-09-15 21:15] alexeygritsenko commented on #3041
Hi, this is a very stupid thing! Please do not remove .Net 4.0 support. My program must necessarily work with Windows XP. If you delete something I can not get updates this is bad

[2017-09-15 21:17] jenokizm commented on #3041
Please do not delete it!

[2017-09-15 21:21] punker76 commented on #3041
@alexeygritsenko @jenokizm Nothing will be delete. The v1.6.0 will be the last version with .Net 4, after this there will be a branch alive which has this in, but it will not be update from me. Feel free to do this and create a PR for this with the latest changes from the upcoming 2.0+

[2017-09-17 19:15] YounesseSoft opened #3055 "ButtonCommand is disabled when the textbox is read only"
Hi everyone , I do not want the button to be disabled , when the text read only this is my code please help me .

[code]

[2017-09-17 21:56] #3023 closed

[2017-09-18 05:38] captainst opened #3056 "Setting DisplayDate property of DateTimePicker does not change the displayed date"
I suppose that it is an issue which could be easily reproduced. Just add a DateTimePicker to the window.
In the code behind, set the DisplayDate property. But the DateTimePicker control remains empty with the default hint text.

I was thinking that the term "DisplayDate" should be the date/time actually displayed in the box. While it seems that DisplayDate value gets updated when SelectedDate chan

[2017-09-18 09:46] punker76 commented on #3056
@captainst This is not related to MahApps (same result with default style)

https://msdn.microsoft.com/en-us/library/system.windows.controls.datepicker.displaydate(v=vs.110).aspx#United States (English)

[2017-09-18 09:46] #3056 closed

[2017-09-18 12:23] punker76 commented on #3055
@YounesseSoft This should be already fixed, try using latest v1.5.0. If you set `IsReadOnly="True"` and the `TextBoxHelper.ButtonCommand` is set then it should be clickable.

[2017-09-18 12:23] #3055 closed

[2017-09-18 12:25] YounesseSoft commented on #3055
thank you  brother it helps me really , very nice.........

[2017-09-18 21:32] punker76 commented on #3016
@khspace Can you provide a sample app for this (on GitHub)?

[2017-09-19 05:44] captainst commented on #3056
@punker76 Thank you. I mis-interpreted the meaning of DisplayDate.

[2017-09-19 05:47] captainst opened #3057 "Does DateTimePicker has "text" dependency property or equivalent ?"
Does DateTimePicker has "text" dependency property or equivalent to directly display the text datetime string inside the textbox of DateTimePicker? (not using SelectedDate or SelectedTime)

Many thanks

### Environment

- MahApps.Metro __v1.4.3__
- Windows OS __win7__
- Visual Studio __2013__
- .NET Framework __4.5__

[2017-09-19 20:56] punker76 commented on #3016
@khspace I'm little confused cause the Owner can only be a Window and not a WindowForms...

![image](https://user-images.githubusercontent.com/658431/30615013-c08cdfd2-9d8d-11e7-8164-2558389823a7.png)

[2017-09-19 21:28] punker76 commented on #3016
@khspace The only way to set a WinForms owner is this one

[code]

and this seems to work.

![mahapps_winforms](https://user-images.githubusercontent.com/658431/30616367-4a9d14ae-9d92-11e7-81ba-3cf3152015eb.gif)

[2017-09-19 21:29] #3016 closed

[2017-09-19 21:31] #3011 closed

[2017-09-20 09:56] SylwesterZarebski opened #3058 "Feature request: Allow to use VisibilityHelper for DataGridColumn (and possibly other)"
### Current state
Now VisibilityHelper allow to simpler use without converters for every element which is a child of FrameworkElement. But there are classes which are not descendants of FrameworkElement like DataGridColumn, but have Visibility property and VisibilityHelper do not work for them.

### Expected
VisibilityHelper should work also for DataGridColumn and possibly other WPF elements which

[2017-09-20 16:21] PreciousTrainer opened #3059 "Help I don't know why this is happening why the button looks like that."
Help Please The button looks soo bad I don't know what is I have wrote bad here the bad icon:

![5ckjzb0ttomxptuztgcj0a](https://user-images.githubusercontent.com/658431/30986531-0ba99c8c-a494-11e7-892d-32a70a44c4c1.png)

and here I used that:

[code]

[2017-09-21 12:01] amkuchta commented on #3053
I wish I had the time to jump back into re-organizing the demo...

[2017-09-22 19:57] wiki1980 commented on #2990
I am seeing this issue, as well.

I have textbox using TextBoxHelper.IsWaitingForData="true". If the app is minimized, the memory footprint will increase every second until either the app is restored or the system hangs.

[2017-09-22 20:02] punker76 commented on #2990
@wiki1980 thx for your report, now I see it too...

[2017-09-25 20:16] n00bje commented on #3059
You didn't read the Quick Start which opens when you install the Nuget package.

Add this to your app.xaml:
[code]

[2017-09-25 21:14] #2990 closed

[2017-09-26 16:13] amkuchta opened #3061 "Unable to build the solution"
## What steps will reproduce this issue?

_Using the latest `develop` branch, attempted to build the demo projects.  Though Paket is installed and the `paket.dependencies` file has been installed, I am still getting errors at build time:_

`Error during cleaning of C:\Users\amkuc\Source\Repos\MahApps.Metro\src\packages\Fody`

### Expected outcome

_Projects should build so that controls and change

[2017-09-26 16:30] ORRNY66 opened #3062 "The idea to expand the ListBox with expand wrappanel"
Hello,
I really like your work. I like to use MahApps.

I got an interesting idea to extend the style of the ListBox.
see picture:

![ListBox with ElasticWrapPanel](https://i.stack.imgur.com/6Uyep.gif)

Items in the ListBox would be sorted into [ElasticWrapPanel .](https://gist.github.com/ORRNY66/8062491cd37c5cbf713cd87da6ad12d1)
When selecting an item from the ListBox, the item details appear.

[2017-09-27 06:37] seb30 commented on #3039
Are there any updates here?

[2017-09-28 19:27] punker76 commented on #3061
@amkuchta Seems like Fody is still running/hanging from a previous run. I don't know what this caused.

[2017-09-28 20:01] amkuchta commented on #3061
@punker76, any thoughts on how to fix it? maybe delete the local repo and clone again?

[2017-09-28 20:07] Insire commented on #3061
are you building in parallel? try disabling that, then close any open msbuild instances

[2017-09-28 20:11] thoemmi commented on #3061
Fody includes a MsBuild task. Once the project is loaded, Visual Studio blocks the assembly file.

[2017-09-28 20:48] amkuchta commented on #3061
@thoemmi any insight on how to fix visual studio blocking the file?

[2017-09-28 22:05] thoemmi commented on #3061
@amkuchta yes: close Visual Studio :wink:

[2017-09-28 23:08] amkuchta commented on #3061
@thoemmi no joy (P.S. I tried that first 😝 )

Screenshot to demonstrate:
![image](https://user-images.githubusercontent.com/6255186/30994116-4ed80124-a480-11e7-877d-f98094698554.png)

[2017-09-28 23:28] amkuchta commented on #3061
Ok, got the issue resolved.  Steps to fix:

1. Close Visual Studio
2. Open a command prompt, navigate to the .NET directory:
  - `cd C:\Windows\Microsoft.NET\Framework\v4*`
3. Run MSBuild.exe to compile the solution:
  - msbuild "%PathToMahApps%\MahApps.Metro.sln" /t:Rebuild /p:Configuration=Debug /p:Platform="Any CPU"
4. Re-Open Visual Studio
5. Clean the solution (for some reason, I got an issue

[2017-09-28 23:29] #3061 closed

[2017-09-29 08:25] #3017 closed

[2017-09-29 08:25] punker76 commented on #3017
@alexeygritsenko This fix will be available in 1.6.0

[2017-09-29 08:52] #2977 closed

[2017-09-29 08:53] punker76 commented on #2977
@xxMUROxx I've added your changes from your branch. thx! 👍  I only renamed the brush to `MahApps.Metro.Brushes.Badged.DisabledBackgroundBrush`

[2017-09-29 21:50] punker76 commented on #3047
@Nuklon Any updates for this? Yes, using the GlowWindowBehavior influences the ui/gpu/cpu performance, cause there are 4 fake windows for this glow effect (there will be maybe an update to this in the future). I will close this for now. I tested also a little bit with different machnies, os, virtual machines and I can see on each that the performance is better then before. If you have some reports

[2017-09-29 21:50] #3047 closed

[2017-09-30 02:53] Chickenbrother commented on #3018
I I have the same problem and expect someone else to help

[2017-09-30 07:33] Nuklon commented on #3047
Currently on holidays, will look into it when I get back.
On Sep 29, 2017, at 23:51, Jan Karger <notifications@github.com<mailto:notifications@github.com>> wrote:

@Nuklon<https://github.com/nuklon> Any updates for this? Yes, using the GlowWindowBehavior influences the ui/gpu/cpu performance, cause there are 4 fake windows for this glow effect (there will be maybe an update to this in the future).

[2017-10-01 21:14] helmerm opened #3063 "TabControl blocks UI thread when Item is added dynamically"
## What steps will reproduce this issue?

Given a TabControl with TabStripPlacement=Left
When a TabItem with Header="ServiceRegistry" is added dynamically
Then UI Thread is blocked

I guess this has to do with the recalculation of the column width.
It does not occure if the text is changed. I assume that I found a magic key word which causes this 😄

### Expected outcome

No blocking UI Thread

###

[2017-10-01 21:53] punker76 commented on #3063
@helmerm I could not found an issue here. Tested on win 10 vs 2015, normal DPI. Is there anything else what can cause this?

![mahapps_tab_performance](https://user-images.githubusercontent.com/658431/31059505-9b16c9be-a703-11e7-927a-36eac56259cb.gif)

[2017-10-01 22:00] helmerm commented on #3063
@punker76 It only occures with the exact word "ServiceRegistry" on my machine. Maybe this issue depends on the resolution (mine is 3840x2160). What is yours?

I will try to reproduce it with different resolutions and try to figure out the text width which causes the issue.

[2017-10-02 11:31] punker76 commented on #3063
@helmerm tested on 1920x1080 DPI 100% Intel HD-Graphics 530

[2017-10-02 11:33] punker76 commented on #3063
@helmerm same result with 125% DPI

[2017-10-02 14:12] n00bje commented on #2937
@punker76 Adding `SnapsToDevicePixels="{TemplateBinding SnapsToDevicePixels}"` to the Border in the SquareMetroButton-style and adding `<Setter Property="SnapsToDevicePixels" Value="True" />` fixes this.
(line 990 in Controls.Buttons.xaml)

[2017-10-02 20:15] helmerm commented on #3063
@punker76 I can reproduce this on my machine with different settings. I tried within and without Visual Studio, Release/Debug build, different resolutions and DPI settings.

However, it is not blocking the thread, but seems like causing some never ending recursion, which causes the UI thread to use 100% of its core. If I pause with the debugger, you can see the call stack bellow.

![image](https:/

[2017-10-02 20:23] punker76 commented on #3063
@helmerm wow... Can you try this with .NET Framework 4.6.2 or lower and maybe without MahApps...

[2017-10-02 20:39] helmerm commented on #3063
@punker76 It only happens with 4.7, works with 4.6.1 or lower (I do not have 4.6.2 installed).

I am not sure, how I can reproduce it without MahApps. This seems to be related to the resize of the HeaderedPanelGrid Column (when the MetroTabItem is added) which depends on the control template...

[2017-10-05 04:38] heerheer opened #3065 "Only can change app style one time"
ThemeManager.ChangeAppStyle(Application.Current, ThemeManager.GetAccent(Name), ThemeManager.GetAppTheme("BaseLight"));

but if i change 2 times,it will error

[2017-10-05 07:09] punker76 commented on #3065
@heerheer Please provide a better bug report! What error occurs? What do you mean with change 2 times? Do you have an example?

[2017-10-05 11:28] punker76 commented on #3063
@helmerm I have no idea what's going wrong on your machine. I've tested with my [forked ](https://github.com/punker76/MahAppTabControlIssue) repo and can't reproduce your issue. I've tested this on 2 different machines with different DPI and monitor size. Also with .Net framwork 4.6 - 4.7

So can you maybe test this also on a different machine? Is maybe your 4.7 not correct installed (maybe corrup

[2017-10-05 11:30] xmedeko commented on #2618
Is this bug still valid? Cannot reproduce it with the latest Markdown-Edit and Win10 1703.

[2017-10-05 12:05] punker76 commented on #3062
@ORRNY66 Nice idea 👍  but I think this is too specific to add this to MahApps.

/cc @thoemmi

[2017-10-05 12:05] #3062 closed

[2017-10-05 12:06] punker76 commented on #3059
@PreciousTrainer It looks like you did not add the MahApps resource dictionaries as @n00bje already commented.

[2017-10-05 12:06] #3059 closed

[2017-10-05 21:02] thoemmi commented on #3062
Yeah, @punker76 knows I'm always reluctant to add features which are out of scope of MahApps.Metro 😉
Nevertheless, nice work @ORRNY66.

[2017-10-06 03:59] heerheer commented on #3065
I can change the style only once。
If i change it again,it will crash。and throw System.NullReferenceException

[2017-10-06 04:00] heerheer commented on #3065
发生了 System.NullReferenceException
  HResult=0x80004003
  Message=未将对象引用设置到对象的实例。
  Source=<无法计算异常源>
  StackTrace:
   在 MahApps.Metro.ThemeManager.ChangeAppStyle(ResourceDictionary resources, Tuple`2 oldThemeInfo, Accent newAccent, AppTheme newTheme) 在 d:\projects\git\MahApps.Metro\src\MahApps.Metro\MahApps.Metro.Shared\ThemeManager\ThemeManager.cs 中: 第 371 行
   在 MahApps.Metro.ThemeManager.ChangeA

[2017-10-06 12:48] #2937 closed

[2017-10-06 22:21] punker76 opened #3067 "Right aligned floating Watermark goes behind clear button"
The floating Watermark goes behind the clear button if these controls uses right aligned content

- ComboBox
- DatePicker / DateTimePicker / TimePicker
- PasswordBox
- TextBox

[2017-10-06 22:25] punker76 opened #3068 "AutoWatermark attached property has no effect on HotKeyBox"
The AutoWatermark attached property has no effect on HotKeyBox.

[2017-10-06 22:39] #2884 closed

[2017-10-06 22:39] #2889 closed

[2017-10-06 22:39] #3067 closed

[2017-10-06 22:39] #3068 closed

[2017-10-07 09:20] punker76 opened #3070 "VS GroupBox style"
There is no GroupBox style for the VS theme.

[2017-10-07 09:28] igorushi commented on #2618
@xmedeko , a problem described by @adeniltonbs in 1703 is still there since the "fix" was to push window in front of taskbar ... so far a best approach is 'don't hold it that way'

[2017-10-07 09:30] #3070 closed

[2017-10-07 21:44] #957 closed

[2017-10-07 23:41] #1841 closed

[2017-10-07 23:48] #2017 closed

[2017-10-07 23:55] #2198 closed

[2017-10-07 23:57] #2483 closed

[2017-10-07 23:58] #2521 closed

[2017-10-08 00:00] #2654 closed

[2017-10-08 00:02] #2696 closed

[2017-10-08 00:07] #2912 closed

[2017-10-08 00:08] #2913 closed

[2017-10-08 00:09] #2915 closed

[2017-10-08 00:09] #2955 closed

[2017-10-08 00:12] punker76 commented on #3051
@e200  I will not decouple the glow window behavior.

[2017-10-08 00:12] #3051 closed

[2017-10-08 19:41] thoemmi commented on #2955
There's a nice markdown control available, [Markdig.wpf](https://github.com/Kryptos-FR/markdig.wpf).

I created a demo app using the MahApps's Quick Start guide and added following lines to `MainWindow.xaml`:
[code]
Here's the result:
![demo](https://user-images.githubusercontent.com/73690/31320235-685a29da-ac71-11e7-8b11-d2af7c194903.gif)

[2017-10-08 21:33] #1731 closed

[2017-10-08 21:47] punker76 commented on #3065
@heerheer Can you provide a short sample which produces your issue? thx.

[2017-10-08 21:47] #3063 closed

[2017-10-09 07:44] xmedeko commented on #2618
Sill cannot reproduce it, even with MahAppsMetroFullScreen. I have remove all the code from MahAppsMetroFullScreen, I do not change `UseNoneWindowStyle` to have window chrome visible always. The taskbar is always hidden when the window is in the maximized state, even if I mimize it and then restore it.

[2017-10-09 12:16] igorushi commented on #2618
The initial issue is fixed.

[2017-10-09 12:16] #2618 closed

[2017-10-10 11:39] punker76 commented on #3065
@heerheer Seems like you forgot to add the MahApps resources to the App.xaml, cause `ThemeManager.GetAppTheme("BaseLight")` gets only a null pointer which is passed to the `ChangeAppStyle` method. A quick start guide is [here](https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start) available.

[2017-10-10 11:39] #3065 closed

[2017-10-10 13:41] thoemmi commented on #2955
Thanks, but the credits go to [Nicolas Musset](https://github.com/Kryptos-FR), the author of [Markdig.wpf](https://github.com/Kryptos-FR/markdig.wpf). 😉

[2017-10-11 12:16] #3009 closed

[2017-10-11 12:24] #650 closed

[2017-10-11 19:02] Gohico commented on #2848
Hi,

I started using the hamburger menu and works nicely so far. But (warning - new to WPF) I have problems understanding the ItemCommandParamter for the menu.

So my xaml looks like this right now:
`
<Controls:HamburgerMenu x:Name="HamburgerMenuControl"
   Foreground="#f3f3f7"
   PaneBackground="#00437b"
   IsPaneOpen="False"
   ItemTemplate="{StaticResource MenuItemTemplate}"
   OptionsItemTempl

[2017-10-12 08:16] punker76 commented on #3058
@SylwesterZarebski You can use a `BindingProxy` for these elements which doesn't inherit the DataContext through the visual tree.

[[WPF] HOW TO BIND TO DATA WHEN THE DATACONTEXT IS NOT INHERITED](https://www.thomaslevesque.com/2011/03/21/wpf-how-to-bind-to-data-when-the-datacontext-is-not-inherited/)

[2017-10-12 08:16] #3058 closed

[2017-10-12 08:26] punker76 commented on #2934
follow up #3018

[2017-10-12 08:26] #2934 closed

[2017-10-12 08:48] SylwesterZarebski commented on #3058
Yes, i know - i do this similar way now, but this request is not for context binding, but using VisibilityHelper instead of converters for elements which are not descendant of FrameworkElement.

[2017-10-12 22:38] amkuchta opened #3078 "Not All "Grey" Values Are Set in BaseLight/BaseDark"
Although it seems redundant, having all of the grey Values set in the `BaseDark` and `BaseLight` ResourceDictionaries is an imperative for those who want to include custom themes in their apps. If the values are modified by a custom themes, they are never set back to the proper value if an included theme (`BaseLight`/`BaseDark`) is selected.

I'm willing to submit a PR to correct this, if it is ap

[2017-10-13 08:29] #3078 closed

[2017-10-13 10:56] xmedeko commented on #2618
Well, I got a rare use case, when the taskbar appears. The taskbar autohiding is **off**. Chage Windows DPI (Settings -> Change the size of text, apps, and other items) to 125%. Open some apps to have icons on the toolbar. Open the `MahAppsMetroFullScreen` then go with a mouse to the last bottom (or where the toolbar is) pixel line of the screen, to the (horizontal) position, where the apps icons

[2017-10-13 11:15] punker76 commented on #2618
@xmedeko I can't reproduce this with the latest pre-release of MahApps (I just updated the code samples).

[2017-10-13 15:06] xmedeko commented on #2618
Still happening with the `1.6.0-alpha0176`. Also, I have 1680x1050 screen. When you change the DPI, then you may have just a few icons left on the taskbar, since they are in "pages". So, you have to move your mouse on the bottom left part. Also, it does not happen in the space among the icons. So I move a bit and wait, then move i bit and wait, ... all in the last bottom line.

[2017-10-13 15:27] punker76 commented on #2618
@xmedeko I don't get it. Is your Taskbar auto-hidden or fixed? Can you create a screencast?

[2017-10-13 15:55] MarioGK commented on #3065
I am getting the same error, the first time it changes the color perfectly fine, but the second time it gives a null exception, example code https://i.imgur.com/pk44uqN.png,

Exception:
10-13 12:55 |ERROR| (MainViewModel.LoaderThemeManager_OnThemeChange) Failed to change the theme color
===============================================================
Entropy.Loader :: Error in: LoaderThemeManager_O

[2017-10-13 16:03] punker76 commented on #3065
@MarioGK do you put all necessary MahApps resource dictionaries to the App.xaml? what contains your PrimaryColor property?

[2017-10-13 16:06] DiegoGFritz opened #3080 "Controls not visibles in design mode"
## What steps will reproduce this issue?

I follow Quick Start Guide and the controls are visible only in runtime but not in design mode.

### Expected outcome

Controls should be viewed in design mode

### Repo

No repo.

### Environment

- MahApps.Metro v1.5.0.23
- Windows OS 10 Version 1703 (OS Build 15063.674) x64
- Visual Studio 2017 Enterprise
- .NET Framework 4.5

[2017-10-13 16:20] punker76 commented on #3080
@DiegoGFritz Which controls?

[2017-10-13 16:28] DiegoGFritz commented on #3080
Sorry. MetroWindow

[2017-10-13 16:31] punker76 commented on #3080
@DiegoGFritz A window style will not be shown by a VS designer. Sorry, but this is a limitation by the VS designer.

[2017-10-13 16:31] #3080 closed

[2017-10-15 11:50] #2966 closed

[2017-10-15 17:58] MurariAlex commented on #2966
@punker76 The selection is still broken. After you reveal and edit the password just like you did in the gif in the PR, if you try to select all text, with ctrl+a or double clicking the box, only part of the text can be selected. Using latest version from appveyor nuget feed (PR 3082).

[2017-10-15 18:10] punker76 commented on #2966
@MurariAlex I'll look for this next days

[2017-10-15 19:45] xmedeko commented on #2618
The taskbar autohiding is **off**.  Fixed on or off, does not matter. DPI 125%.

Screencast is simple, I have a the taskbar on the right, (but the same problem is when I move it down,) see https://www.dropbox.com/s/r91wyz0n9wvot4i/MahApps2681.mp4 I've just moved a mouse a bit on the most right position, and the preview windows have poped up. The taskbar pops up the taskbar sometimes too, and then

[2017-10-16 08:40] punker76 commented on #2966
@MurariAlex Should be fixed now

[2017-10-17 00:15] JVimes opened #3083 "Dialog unaffected by dark-theme when using local copy of Blue.xaml"
## What steps will reproduce this issue?

1. In App.xaml:
    * Merge BaseDark.xaml to set dark theme
    * Merge a *local* copy of Blue.xaml
2. Show a CustomDialog similarly to how it's done [in the demo app](https://github.com/MahApps/MahApps.Metro/blob/1.5.0/src/MahApps.Metro.Samples/MahApps.Metro.Demo/MahApps.Metro.Demo.Shared/MainWindow.xaml#L78).

![image](https://user-images.githubuserconte

[2017-10-17 10:14] Speuline opened #3084 "MetroAnimatedSingleRowTabControl Scrollbar issue"
Hello,

Is it normal that the MetroAnimatedSingleRowTabControl header can't be scrolled with the mousewheel?
It's a bit annoying.

Thanks in advance

[2017-10-17 11:30] Stakhmi4 opened #3085 "HamburgerMenu PanePlacement="Right""
By default HamburgerMenu looks like
![ham1](https://user-images.githubusercontent.com/10836966/31662224-36d47434-b346-11e7-93f7-7ade57a97425.jpg)

`<mah:HamburgerMenu PaneBackground="#FF444444"
                           PanePlacement="Left"
                           DisplayMode="CompactOverlay"
                           ItemTemplate="{StaticResource HamburgerMenuItemTemplate}"

[2017-10-17 22:06] punker76 commented on #3083
@JVimes You must add customized accent or theme resources to the ThemeManager. Only adding it to the App.xaml is not enough. You can do this at the App startup for example

[code]

![2017-10-18_00h06_33](https://user-images.githubusercontent.com/658431/31691979-35a37388-b398-11e7-8d66-832f578703fa.png)

[2017-10-17 22:26] JVimes commented on #3083
Thanks! Sorry I overlooked [the doc page on that](http://mahapps.com/guides/styles.html#custom).

[2017-10-17 22:26] #3083 closed

[2017-10-17 22:27] punker76 commented on #3083
@JVimes np

[2017-10-17 23:57] NoelDMJ opened #3086 "NumericUpDown CornerRadius Border issue."
Hi, I managed to create a rounded NumericUpDown with the code below.

[code]

But the white sharp corners are still there.

-  I am using Mahapps version 1.5.0
-  Windows 10 Operating System.
- Visual Studio 2015
- .Net Framework 4.5

For reference below.

![gpjisha](https://user-images.githubusercontent.com/658431/31707417-8e3af80a-b3ec-11e7-8f83-ffb49b34b824.png)

[2017-10-18 11:07] MurariAlex commented on #2966
@punker76 It´s fixed. Ty.

[2017-10-18 13:32] punker76 commented on #3084
@Speuline Hi, this is limited to the `ScrollViewer` itself, cause it doesn't handle this

[code]

I will add a new attached property `IsHorizontalScrollWheelEnabled` in 1.6.0

[2017-10-18 18:50] #3084 closed

[2017-10-18 19:45] tloltman commented on #1920
You can also use the [Extended WPF Toolkit](https://github.com/xceedsoftware/wpftoolkit) [MaskedTextBox](https://github.com/xceedsoftware/wpftoolkit/wiki/MaskedTextBox) and simply apply the MetroTextBox Style to it. You just add the MahApps.Metro TextBox resource dictionary to your App.xaml MargedDictionaries and then you can add a Style "BasedOn" MetroTextBox with the MaskedTextBox TargetType as

[2017-10-18 20:45] punker76 commented on #1920
It's also possible to do this with a behavior like [TextBoxInputMaskBehavior](https://github.com/punker76/TextBoxInputMaskBehavior)

[2017-10-19 14:21] punker76 commented on #2716
@robertmuehsig  Oh man, sorry, one year is long ( 😔 ) ...

So here are my baby steps for this

- add simple MUI Styles and Brushes for official WPF Controls without any additional MahApps feature like ClearTextButton etc.
- Make sure the MUI Brushes which interact with MUI AccentColor works with MahApps AccentColor
- [opt.] additional Features from MahApps like ClearTextButton or other Helpers
- [

[2017-10-19 14:51] punker76 opened #3088 "[MUI_P1] Add MUI Styles and Brushes for official WPF Controls"
First part for adding [ModernUI (MUI)](https://github.com/firstfloorsoftware/mui) styles to MahApps

- [ ] Add MUI Styles and Brushes for official WPF Controls without any additional MahApps feature like ClearTextButton etc.
- [ ] Make sure the MUI Brushes which interact with MUI AccentColor works with MahApps AccentColor

Linked to #2716

[2017-10-20 15:47] OrihuelaConde opened #3089 "Setting HamburgerMenu.SelectedIndex or Item cause the lost of its content"
It could be my error but I need assistance.

## What steps will reproduce this issue?

When I set HamburgerMenu.SelectedIndex it lost its content.

### Expected outcome

I want to open the app and select the first item in the menu.

### Environment

- MahApps.Metro 1.5.0
- Windows 10 1703
- Visual Studio 2017 14.4
- .NET Framework 4.6.1

### Code

C#

public MainWindow()
        {
            Init

[2017-10-20 16:00] JobaDiniz commented on #2911
and all the required styles added to `App.xaml`

[2017-10-20 20:05] dchaib commented on #3089
I believe that's the same issue as the one here: https://stackoverflow.com/questions/45878823/conducting-mahapps-metro-hamburgermenu-with-caliburn-micro/. @punker76 is looking into it.

[2017-10-21 12:27] #3086 closed

[2017-10-21 12:47] NoelDMJ commented on #3086
Thanks @punker76 .

[2017-10-22 19:13] #3010 closed

[2017-10-22 19:17] punker76 commented on #3010
@BittyGitty The `Focusable` property has no effect for tabbing. If I set the `IsHitTestVisible` to false then I can't click on any inner control of the HamburgerMenu, so it work. If you want to disable tab function you could set `IsTabStop` to false which is now fixed.

[2017-10-23 09:06] BittyGitty commented on #3010
Focusable does effect tabbing, as only the focused element can receive keyboard input. This works the same with all other controls and can be used to temporarily disable user access to the menu (which is not the same as disabling tab stop).

Jan Karger wrote:

@BittyGitty <https://github.com/bittygitty> The |Focusable| property
has no effect for tabbing. If I set the |IsHitTestVisible| to false
th

[2017-10-24 13:32] peererror opened #3092 "Use custom time difference between selecting minutes of Datetimepicker"
Hi All
I am using DateTimepicker in my application .  I want to change the difference between minutes when selecting time currently it is using 1 minutes difference .I have seen the code I can see there is FiveMinuteKeys .But I don't know where to set it  in xaml

[2017-10-24 13:48] punker76 commented on #3092
@peererror There are 3 different lists which you can use for the properties `SourceHours`, `SourceMinutes` and `SourceSeconds` like

[code]

or `IntervalOf10` and `IntervalOf15`. They all type of `IEnumerable<int>`.

[2017-10-24 13:48] #3092 closed

[2017-10-24 19:41] peererror opened #3093 "open DateTimePicker when user clicks on DateTimeTextBox"
Hi All,
Is there a way to open dateTimepicker when user  clicks on  DateTimeTextBox  or when it gets keyboard focus .I have try to use many events but nothing works like mousedown ,mouseup,GotFocus and etc  . .. but previewMouseDown and previewMouseUp works but they are not ideal  and cause some issues .

[2017-10-25 02:12] DrakeOlson opened #3094 "Namespace/Assembly Not Found when File Name is different after a Git Clone"
## What steps will reproduce this issue?

The problem is that I have a folder named "Test Name". When I push that to a remote repository (Visual Studio Online) and clone that into a different folder. You get a file named "Test%20Name". When you launch the cloned project and build you get a few errors saying can't find Assembly/Namespace for MahApps.Metro.

It seems that the package is looking for

[2017-10-25 14:39] punker76 commented on #3094
@DrakeOlson I think this is not related to MahApps. It seems like it's more a problem from VS and msbuild

https://github.com/Microsoft/msbuild/issues/2178

[2017-10-25 14:39] #3094 closed

[2017-10-27 08:39] Stakhmi4 opened #3095 "SplitView: Cannot set properties in datatrigger"
Cannot set properties in datatrigger.
<Setter Property="Margin" Value="20"/> - work correct. Another setters doesnot work.

     <ListBox ItemsSource="{Binding Path=Players}">
            <ListBox.ItemTemplate>
                <DataTemplate DataType="{x:Type ListBoxItem}">
                    <Grid>
                        <mah:SplitView x:Name="SplitView1" DisplayMode="Inline" IsPaneOpen="True"

[2017-11-04 23:55] CADbloke commented on #2254
just leaving this here ... https://marketplace.visualstudio.com/items?itemName=Johan20D.KilltheWPFDesigner#overview

[2017-11-06 05:29] Lumani123 opened #3096 "Hyperlink in Metro.Controls.Dialogs"
Hi there,

I've been trying to add a hyperlink (in message parameter) into a simple message show dialog `await this.ShowMessageAsync("This is the title", "Some message");` however, unable to, it keeps on returning a string.
I've tried hyperlink, button, uri, adding html tags in string, etc to get a hyperlink, but couldn't.
Is there a way for the message dialog to contain hyperlink? if not, is ther

[2017-11-06 07:09] AliBayatGH opened #3097 "Change date format from gregorian to jalali"
Is it possible to show Persian date in DateTimepicker?

[2017-11-06 08:00] punker76 commented on #3096
@Lumani123 The message dialog uses only a simple `TextBlock` to show the given string

https://github.com/MahApps/MahApps.Metro/blob/94d476bf498e5e34cb2f37e511a12993fb1d4134/src/MahApps.Metro/MahApps.Metro/Themes/Dialogs/MessageDialog.xaml#L18-L23

You can create your own message dialog. Here is a simple sample for a custom dialog https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.M

[2017-11-06 08:03] punker76 commented on #3097
@AliBayatGH You can change the CultureInfo with the `Culture` property.

![2017-11-06_09h01_57](https://user-images.githubusercontent.com/658431/32430845-533258a4-c2d1-11e7-9a4c-15eb86f563ff.png)

[2017-11-06 10:15] forgacsbert opened #3098 "MetroCircleButtonStyle IsEnabled no effect"
When adding a button with the style MetroCircleButtonStyle, the IsEnabled property doesn't change the appearance of the button (it only can't be pressed), see code:

[code]

[2017-11-06 21:43] LiptonOlolo opened #3099 "TabControl & Scroll"
Hello!
There's been a problem that there's no Scroll in TabControl.
To appear in the normal TabControl, you must write the following:
[code]
But he's not going to appear for Metrotabcontrol, etc.
Pls Fix it.

### Environment

- MahApps.Metro __v1.5.0.23__
- Windows OS __7__
- Visual Studio __2017__
- .NET Framework __4.6__

_Sorry for my bad English, I'm from Russia_

[2017-11-07 00:57] Lumani123 commented on #3096
Thanks problem solved! :)

[2017-11-07 00:57] #3096 closed

[2017-11-07 09:57] #3097 closed

[2017-11-10 07:15] pfattisc opened #3100 "HorizontalAlignment of BaseMetroDialog content"
## What steps will reproduce this issue?
**The original dialog** (note: the content is 'spread', i.e. the space between the left corner of the  dialog's title and the buttons in the right bottom corner):
![spreadcontent](https://user-images.githubusercontent.com/11867529/32645437-88b87a26-c5e7-11e7-8098-8304e2719ff5.png)

The problem is that the "stripe", where dialogs are presented in, is separat

[2017-11-10 14:06] Desomph opened #3101 "MetroCircleButtonStyle not fading inner icon when button is disabled"
## What steps will reproduce this issue?

_I could be doing something wrong,_
_but when the button with MetroCircleButtonStyle is disabled (through the Command CanExecute), inner icon
is not faded, while the button border is._

### Expected outcome

_I think that inner icon should also fade along with the border._

### Repo

[code]

These are the 3 buttons, first is enabled and 2nd and 3rd are dis

[2017-11-10 14:12] punker76 commented on #3098
Duplicate of #3101

[2017-11-10 14:12] #3098 closed

[2017-11-10 15:47] BornToBeRoot opened #3102 "ContextMenu - TemplateBinding BorderBrush for SubMenu?"
Would be great to inherit the BorderBrush for the subitem...

![image](https://user-images.githubusercontent.com/16019165/32666077-a2347654-c636-11e7-968a-8f8173eaeebf.png)

To
![image](https://user-images.githubusercontent.com/16019165/32666002-623417f8-c636-11e7-8caa-08c596979e64.png)

https://github.com/MahApps/MahApps.Metro/blob/cc75ce8e10075abffdfc5c6a62ff79eb24508954/src/MahApps.Metro/MahApp

[2017-11-13 20:55] Zebody opened #3103 "Treeview Default Style and Binding IsExpanded"
Hello,

I'm Using Mahapps for a while.
I'm starting a new project with only a treeview.
I'm using a Hierarchical Datatemplace.
No trouble to bind my observable collection and display it in the treeview.

The trouble is : My model have a property Expanded (bool) and i can't bind it in hierarchicalDatatemplate (logical it's for display data, not for setup / interact with the treeview) .

_Example :_

[2017-11-14 10:31] punker76 commented on #3103
@Zebody Hi, it looks like you forgot to inherit the base MahApps style for the `TreeViewItem`

[code]

[2017-11-14 10:48] punker76 commented on #3099
@LiptonOlolo Yes, this is by design. The `MetroAnimatedSingleRowTabControl` has a different style to the one which is in `Controls.AnimatedSingleRowTabControl.xaml`.

![2017-11-14_11h48_23](https://user-images.githubusercontent.com/658431/32776088-c3cb7b5c-c931-11e7-9c65-d3450822e8a9.png)

![2017-11-14_11h48_32](https://user-images.githubusercontent.com/658431/32776089-c3e908b6-c931-11e7-991e-f905

[2017-11-14 19:53] Zebody commented on #3103
You're my god.. you save my life.
I'm not good enough in Xaml... i  didn't know the BaseOn..
I try and it works. Thx you very much for your Help. and thx for all your works.

[2017-11-14 19:55] #3103 closed

[2017-11-16 16:36] thanoue commented on #2093
how to use a CustomValidationPopup?

[2017-11-17 08:33] waleswood opened #3104 "SplitView doesn't work with Caliburn.Micro ActivateItem(xxx)"
## What steps will reproduce this issue?
[code]
[code]
like this,

![image](https://user-images.githubusercontent.com/3008502/32937375-30b614ec-cbb3-11e7-9ad0-287d6f6d3d7f.png)

### Expected outcome
Did not show anything

### Environment

- MahApps.Metro __v1.5.0__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.0__

[2017-11-17 08:40] punker76 commented on #3104
Duplicate of #3089

[2017-11-17 08:43] punker76 commented on #3095
@Stakhmi4 I don't understand what you try to do. Why do you use a SplitView for every ListBoxItem inside a ListBox?

[2017-11-17 11:41] gigios opened #3105 "[Enhancement] Allow to change the Reveal Icon in the PasswordBox"
I searched in the repository if was present a solution on my problem.
I want to change the 'default' Reveal icon used in the PasswordBox with the 'standard' icon used in Windows 10.
From: ![immagine](https://user-images.githubusercontent.com/8749627/32945402-856fcd40-cb93-11e7-80ba-452db03cb113.png)
To: ![immagine](https://user-images.githubusercontent.com/8749627/32945648-866ebcfa-cb94-11e7-8cf9-

[2017-11-17 11:54] punker76 commented on #3105
@gigios I will changed this

https://github.com/MahApps/MahApps.Metro/blob/94d476bf498e5e34cb2f37e511a12993fb1d4134/src/MahApps.Metro/MahApps.Metro/Styles/Controls.PasswordBox.xaml#L775

to `DynamicResource`, then you can override it with your own style.

https://github.com/MahApps/MahApps.Metro/blob/94d476bf498e5e34cb2f37e511a12993fb1d4134/src/MahApps.Metro/MahApps.Metro/Styles/Controls.PasswordB

[2017-11-17 12:01] gigios commented on #3105
Ok! Thanks
In this way it's possible override a small portion of the 'original' style.

[2017-11-19 17:13] netsrotr opened #3106 "HamburgerMenu control: still just a demo?"
Examining the source code of HamburgerMenu.cs really made my day, after look for many hours for a solution to just provide a simple content without using the contenttemplate (that makes data binding within "real" content views a hassle and could not get tit work in my case).
It has assigned (and re-assigned again within OnApplyTemplate() every time) a event handler to the Loaded event of the contr

[2017-11-20 12:57] Nuklon opened #3107 "Object reference not set to an instance of an object."
On Windows 10 latest build (not the preview), latest MahApps NuGet release. If I'm closing my application, this is sometimes thrown. The stacktrace is this:

[code]

[2017-11-20 13:10] punker76 commented on #3107
@Nuklon The latest stable or pre-release of MahApps? Can you post the version?

[2017-11-20 14:57] gerthermans opened #3108 "Taskbar shown when child window closed when IgnoreTaskbarOnMaximize=true"
This zip file contains a simple c# project presenting the issue.
Steps to reproduce:
1. Start the project
2. Notice task bar is hidden (IgnoreTaskbarOnMaximize = true and WindowState=Maximized)
3. Click show window button to open child window
4. Close child window with close button
Expected result: Task bar is still hidden
Actual result: Taskbar is shown
[FullScreenMahAppsIssueCSharp.zip](https://

[2017-11-20 15:10] Nuklon commented on #3107
Sorry, missed it, 1.6.0.184.

[2017-11-20 17:21] punker76 commented on #3107
@Nuklon Do you have other closed or closing events? Or maybe some overrides for OnClosing or OnClosed? Seems like the closed event in the behavior is called twice or with a delay.

[2017-11-20 17:44] punker76 commented on #3108
@gerthermans Thx for the sample. Just tested it on my home pc and can't reproduce it with Win10 1709. Seems like the main bug is fixed on the OS itself. I get your issue with 1607 and 1703 too.

[2017-11-21 07:08] feinstein opened #3109 "NullReferenceException When using Flyout With Theme"
I had MahApps.Metro version `1.4.1` and I just upgraded to version `1.5.0` I made a clean rebuild after the update and now my `Flyouts` are crashing.

Before, on version `1.4.1` everything was fine, but right now on version `1.5.0` if I define the `Flyout` with the `Theme="Accent"` I get a `NullReferenceException` with the following stack trace:

Removing the `Theme` attribute, or setting any othe

[2017-11-21 07:26] punker76 commented on #3109
@feinstein Do you have a custom accent resource dictionary? It seems that the `AccentBaseColor` could not be find.I will fix and catch this in v1.6.0.

[2017-11-21 07:36] feinstein commented on #3109
Yes, I do have a custom accent. It's defined as:

	protected override void OnStartup(StartupEventArgs e)
	{
		// add custom accent and theme resource dictionaries
		ThemeManager.AddAccent("NavyBlueAccent", new Uri("pack://application:,,,/3M;component/Resources/NavyBlueAccent.xaml"));

		// get the theme from the current application
		var theme = ThemeManager.DetectAppStyle(Application.Current);

[2017-11-21 12:07] Nuklon commented on #3107
No, nothing, there's Caliburn's OnDeactivate in the main view model, but that's it (which only gets called once, I checked).

[2017-11-27 11:44] #3099 closed

[2017-11-27 11:54] LiptonOlolo opened #3111 "TextBox ValidationRules & Flyout"
Hello!
The whole of the bug is visible in the image.
How can this be remedied?

![](https://pp.userapi.com/c840438/v840438106/290f4/NtLDiBmZhVY.jpg)

### Environment

- MahApps.Metro __v1.6.0__
- Windows OS __7__
- Visual Studio __2017__
- .NET Framework __4.6.1__

[2017-11-27 12:12] #3111 closed

[2017-11-29 12:07] Raghava56 opened #3112 "DateTimePicker selectedDate throws exception when selected date is null"
Hi,
Initially am initializing a **CustomValue** to null for showing **Watermark** then it is throwing exception i.e
**String was not recognized as a valid date**(converter failed to convert value)

[code]

How to handle these exception or initially how to show watermark ?

Thanks,
Raghav

[2017-11-30 04:42] bshemanth opened #3113 "In DateTimePicker we cant select previous date"
# PLEASE READ BEFORE POSTING AN ISSUE

This is a place for issues for MahApps itself. Questions are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

### Seriously consider creating and linking to a test repo which takes absolutely minimal setup to illustrate how reproduce the problem.

My tim

[2017-11-30 04:49] bshemanth commented on #3113
i have used DateTimePicker in one of the application, but i cant select previous date from calendar. here i tried to select novemeber 15 date but i am unable to do that.  How to achieve that
![datetimepicker](https://user-images.githubusercontent.com/5047071/33413458-9f85bb4e-d5b7-11e7-8a82-476cfab7dc17.PNG)

[2017-11-30 06:41] Kumar2Harsh commented on #2744
when we make IsPinned =false or true
there is no effect in flyout

[2017-11-30 08:29] punker76 commented on #3113
@bshemanth In this sample is a behavior attached which sets the selected date time every second. If you use this control in your app then it should work as expected.

[2017-11-30 08:29] #3113 closed

[2017-11-30 08:31] punker76 commented on #3112
@Raghava56 Can you provide the stacktrace? What type is the CustomValue? Which version of MahApps are you use?

[2017-11-30 09:14] Raghava56 commented on #3112
Hi,
datatype of custom value is string and the version is 1.5.0 stable.
Here is the stacktrace
Activated	Event	Time	Duration	Thread
	Program Output: 'SystemConvertConverter' converter failed to convert value '<null>' (type '<null>'); fallback value will be used, if available. BindingExpression:Path=CustomValue; DataItem='Properties' (HashCode=58427303); target element is 'DateTimePicker' (Name='')

[2017-11-30 09:33] punker76 commented on #3112
@Raghava56 The SelectedDate property is a nullable DateTime ([link](https://msdn.microsoft.com/en-us/library/system.windows.controls.datepicker.selecteddate(v=vs.110).aspx)), so if you want to bind to a nullable string, you must use a converter which returns a valid value for SelectedDate.

[2017-11-30 10:50] Raghava56 commented on #3112
@punker76  Then why it is throwing exception. if SelectedDate is a nullable type then it should accept null value.

[2017-11-30 11:07] punker76 commented on #3112
@Raghava56 It's a nullable DateTime: `public Nullable<DateTime> SelectedDate { get; set; }`

[2017-12-01 12:01] stefanobenedetti88 opened #3114 "Progress ring in async Thread problem"
I want to open in async thread a wpf window (Window1.xaml) with ProgressRing.
When the window constructor is called the exception appears: "the calling thread cannot access this object because a different thread owns it".

The windows:

[code]

The thread is run by the class Attesa:

[code]

When I use the class in my project:

[code]

the exception appears: "the calling thread cannot access this

[2017-12-02 18:26] Merenia commented on #3114
Hey,
You can use this code to manipulate UI elements from a background thread :

`Private Async sub Test
Await Dispatcher.BeginInvoke(Windows.Threading.DispatcherPriority.ApplicationIdle, New Action(Sub()
                                                                                                          'your code here

[2017-12-04 05:44] ShannonZ commented on #1861
Any tutorial about this issue?

[2017-12-04 08:03] thoemmi commented on #1861
@ShannonZ http://mahapps.com/controls/dialogs.html

[2017-12-04 13:10] TobiasKoller commented on #1166
Is there another way to get this working? My TextBox is based on a style which is based on "Control" and not TextBox (because this style is used by multiple different controls).

like:
`<Style TargetType="Control" x:Key="DefaultInputStyle">
        <Setter Property="BorderBrush" Value="Red"></Setter>
        ...
    </Style>`

`<Style TargetType="{x:Type TextBox}" x:Key="TextBoxStyle"  BasedOn="{S

[2017-12-05 04:43] lostmsu commented on #1828
@ckpearson why is this issue closed? There's no way to solve the problem from MapApps side?

[2017-12-05 08:18] #3112 closed

[2017-12-06 00:33] Symbai opened #3115 "Wait until dialog is shown"
Hi,

is there a way to check if the progress dialog is fully shown? I call the ShowProgressAsync method before running code which will freeze the UI and all I get is the black hide out screen but the dialog itself shows up if my code has finished.

[code]

[2017-12-07 00:25] lostmsu opened #3116 "Suggestion: Hassle-free support for Windows 10 system accent color"
Problem is: default theme is basically blue, while in Windows 10 it would make sense to use user-chosen accent color.

Steps: pick any sample, check out titlebar color

Expected: titlebar color should be user's selected accent color (see Groove for example)
Actual: titlebar color is blue (or whatever theme's color used).

- MahApps.Metro 1.5.0
- Windows 10 Fall Creators
- .NET Framework 4.7

[2017-12-07 10:57] sergeypyrkin opened #3117 "iconpack bug?"
Don't show icon in VS constructor. When programm run icon work right!

xml constructor write: property "KIND" already reserved by "ControlzEx_PackIcon_1_0_208"

![xaml](https://user-images.githubusercontent.com/25052795/33711851-7b350d0e-db56-11e7-9516-2b10d2021f71.png)

[2017-12-07 12:10] punker76 commented on #3117
@sergeypyrkin It's a known issue with the VS Designer and the MarkupExtensions. This will be fixed with https://github.com/MahApps/MahApps.Metro.IconPacks/pull/60

[2017-12-07 12:10] #3117 closed

[2017-12-07 19:07] JVimes commented on #2882
Disabling the close button would be a step in the right direction. Non-modal dialogs can allow it, but I don't know if there's a way to specify non-modal.

[2017-12-09 01:34] JVimes opened #3118 "Fix for dark theme flat button FocusVisualStyle"
For `MetroFlatButton` and `MetroFlatToggleButton` in the **dark theme**, the keyboard focus rectangle is light-on-light, so it's really hard to see. I suggest a fix, below.

Repro in MahApps.Metro.NET45:

![image](https://user-images.githubusercontent.com/6148201/33790964-a4ee2206-dc42-11e7-9526-f814ddb73261.png)

### My suggested fix

I have a fix, as long as you know how to apply this to only th

[2017-12-09 13:52] #3118 closed

[2017-12-09 17:05] #3109 closed

[2017-12-10 01:44] AzZureman commented on #3101
Fading isn't working, because you setting button's BorderBrush property and icon's Foreground property to resource brush.
But, when you disable button, then only button's BorderBrush property is fading. (not resource brush)
To enable fading at both, you could try to bind icon's Foreground property to button's BorderBrush property. Something like that:
[code]

[2017-12-11 08:48] xe7485 commented on #1828
For anyone that would like to go with my crappy code, here is a version that works for me and is XAML compatible.
Essentially a rewrite of existing XAML to code.

[NavigationWindow.cs.txt](https://github.com/MahApps/MahApps.Metro/files/1547093/NavigationWindow.cs.txt)

[2017-12-11 11:34] xe7485 commented on #3052
Hi. I saw this request and modified my code from #1828 with a simple implementation.

[NavigationWindowWithHome.cs.txt](https://github.com/MahApps/MahApps.Metro/files/1547605/NavigationWindowWithHome.cs.txt)

[2017-12-11 13:00] #3101 closed

[2017-12-11 13:03] punker76 commented on #3101
@Desomph There was a little bug inside the Style which is fixed now and will be available in 1.6.0. But you should read my [blog post](http://jkarger.de/2017/12/10/disabled-button-foreground/) about the problem with the disabled Foreground...

[2017-12-11 13:08] Desomph commented on #3101
@punker76 Thanks for the fix, and for the write-up!

[2017-12-11 22:24] #3105 closed

[2017-12-12 00:19] MurariAlex opened #3123 "MetroCircleButton not fading inner content on button disabled after recent update"
After the latest changes, the inner content of the Metro Circle Button is not fading on button disabled, I know it's related to an issue closed recently, but it was working like a charm in my case.

The XAML code for the button

[code]

### Environment

- MahApps.Metro __v1.6.0 PR3122__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.7__

[2017-12-12 10:25] punker76 commented on #3123
@MurariAlex For the correct behavior bind the `Textelement.Foreground` of the `ContentPresenter`. You can read my [blog post](http://jkarger.de/2017/12/10/disabled-button-foreground/) about this issue and why I changed it (to the way like the default button styles works).

[code]

[2017-12-12 10:25] #3123 closed

[2017-12-13 06:30] OKCLi opened #3124 "WPF：A subset of element binding values can not be tied up"
How to bind textBox2 and textBox3?
public partial class MainWindow : Window
    {
        List<Country> countryList = new List<Country>()
        {
            new Country()
            {
                Name ="China",
                ProvinceList =new List<Province>()
                {
                    new Province()
                    {
                        Name="广东",

[2017-12-14 06:46] fcwindpass opened #3125 "The canvas cover the metrowindow title"
I have a project that is a picture view,allow user to drag the picture in window, but there's a problem to this.

When the picture in a cavas was dragged to the top, it can be cover on the title,I don't kwnow how to soled, please help!!!

[code]

[code]

[2017-12-14 06:48] fcwindpass commented on #3125
app run :
https://i.stack.imgur.com/ZjuQN.jpg

cover title problem:
https://i.stack.imgur.com/zz9Iz.jpg

[2017-12-14 08:06] punker76 commented on #3125
@fcwindpass Put your `Canvas` inside a `Grid` and set their `ClipToBounds` property to `true`.

[code]

[2017-12-14 08:06] #3125 closed

[2017-12-14 10:25] fcwindpass commented on #3125
Thank's a lot,my problem solved!

[2017-12-15 10:47] Malavos commented on #2808
What kind of effect are you looking for? (I know this is old, but...)

[With a little bit of help from some effects](https://www.codeproject.com/Articles/15231/WPF-tutorial-use-reflections-shadows-and-rotations), some effects can be done. But we need to understand what kind of effects we want to recreate. If it's just depth, you can do it following the link I've provided.

[2017-12-18 17:44] amkuchta opened #3127 "[Assistance Request] Override Styles"
Is there a way to override a MA.M style?  (Not create a new one based on a current style)

Example syntax for what I am looking for / suggesting (stolen from [this issue](https://github.com/Kryptos-FR/markdig.wpf/issues/10) on the [MarkDig.WPF](https://github.com/Kryptos-FR/markdig.wpf) repo:

[code]

[2017-12-18 19:12] avechuche opened #3128 "TimePicker issues"
Hello, I found two problems in the TimePicker control
1) It is possible to put in the TimePicker, the "IsReadOnly" mode, but let me select the time, but not write it?

I try with this (not work)
[code]
and  (not work)
[code]
The latter causes the clock (icon) to disappear in order to select the time

and 2 - The number 12 is first in the list
![1](https://user-images.githubusercontent.com/11781418

[2017-12-18 20:14] punker76 commented on #3127
@amkuchta You can get the original styles before the MahApps styles are defined. Here e.g. with the button style:

![image](https://user-images.githubusercontent.com/658431/34125981-55f10b0c-e438-11e7-8d10-1e933e10f8d3.png)

[code]

[code]

[2017-12-18 20:14] #3127 closed

[2017-12-18 20:47] punker76 commented on #3128
@avechuche Select a time or date in read only mode makes IMO no sense. The second one is a feature for the 12 am/pm hours selection:

https://github.com/MahApps/MahApps.Metro/blob/478b5e28d3bd53a2bdad2ba204290032d60c64fe/src/MahApps.Metro/MahApps.Metro.Shared/Controls/Helper/AmPmComparer.cs#L5-L13

[2017-12-18 20:47] #3128 closed

[2017-12-18 20:52] punker76 commented on #3124
@OKCLi Here are some links for you where you can learn something about binding:

http://www.wpf-tutorial.com/data-binding/introduction/
https://www.codeproject.com/Articles/29054/WPF-Data-Binding-Part
https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/data-binding-wpf
https://wpftutorial.net/Databinding.html
https://www.wpftutorial.net/DataBindingOverview.html

[2017-12-18 20:52] #3124 closed

[2017-12-19 13:04] Dimigergo opened #3129 "Override MetroTabItem controltemplate with close button"
Hello!

When I override the MetroTabItem controltemplate the close button doesn't works.

I have the following code:
[code]
In Mahapps.Metro 1.2.4 it works well, the PART_CloseButton closes the tab.
In the 1.5.0 the close "X" button stops working. When I see the mahapps code I realized, that there is an InternalCloseCommand (internal), which closes the tab.
When I try to bound a new command handle

[2017-12-20 13:33] barishamil commented on #2882
I don't want my modal to prevent user from exiting the application

[2017-12-20 14:42] JVimes commented on #2882
If close is allowed, then it's not strictly *modal*, I think. But we need that ability, too. We could add a `Modal="true/false"` setting. Maybe even make false the default. When true, close is either disabled, or closes the modal dialog. Thoughts?

[2017-12-21 12:20] frankschierle commented on #2400
There is a problem with access keys (mnemonics), too. Pressing an access key that is assigned to a control in the MetroWindow will switch keyboard focus to the MetroWindow, while a dialog is shown.

Furthermore the access keys of the dialog buttons are not working if the same access keys are used for a control inside the MetroWindow.

I created a small repository to reproduce the error (press ALT+

[2017-12-21 20:46] MajedDH opened #3130 "TextBox clear text button font family being inherited."
In my project I changed the default font of the project by setting:
[code]
and in text box style:
[code]
but the latter style has no effect and still so I'm getting the letter 'r' instead of the X on the clear text button

Is this the expected behavior? Or I am the one doing it wrong?

[2017-12-22 13:23] xmedeko opened #3131 "WindowSettings.SaveWindowState ConfigurationErrorsException"
We have rare error logs from our users, that saving of the window state crashes the whole application.

[code]

We do not have defined any `MahApps` section in our `App.config`. The section `MahApps.Metro.Controls...` is added at runtime. It has `allowExeDefinition="MachineToLocalUser"` on my computer and I guess on most other users has the same. I guess some users must have configured their syste

[2017-12-25 10:47] mowmoth opened #3132 "Strange behaviour when calling ChangeAppStyle() with unregistered accents"
- MahApps.Metro v1.6.0-alpha
- .NET Framework 4.5

Calling `ChangeAppStyle()` with an accent (haven't tested for themes) that is not registered in the App.xaml works fine the first time. The second time however you get a NullRefException on the old accent's `Accent.Resources.Source` as the property wasn't set since it's not registered in the App.xaml. Took me quiet a while to figure this out, sinc

[2017-12-27 07:59] punker76 commented on #3132
@mowmoth Isn't the explanation at the [main documentation](http://mahapps.com/guides/quick-start.html#using-built-in-styles) enought? If you want to change the Accent color or the theme then it's necessary to add it at the App.xaml.

[2017-12-27 07:59] #3132 closed

[2017-12-27 21:19] HaloEleven commented on #3065
Backing up what the OP said, if I implement the following code and call it multiple times (while handling a checkbox event), I get and "Object reference not set to an instance of an object" exception:

            if (nightMode)
            {
                ThemeManager.ChangeAppStyle(Application.Current,
                                        ThemeManager.GetAccent("Indigo"),

[2017-12-27 22:28] HaloEleven commented on #3065
OP: I got a similar exception when I added the Theme in the App.xaml AND subsequently called ThemeManager.ChangeAppStyle in code-behind. You can only do one or the other.

[2017-12-31 10:01] kwcoffee1 opened #3135 "Please ignore this bug report. The bug is with the WebBrowser Control."
GitHub repository:
[my page](https://github.com/kwcoffee1/MahApps-WebBrowser)

## What steps will reproduce this issue?
Compile and run the project. Note the sample website text formatting.

Most common web browsers will display the text as the developer intended. I notice this miss-formatting on other web pages too. I would like for my app to display third-party websites.

### Expected outcome
Go

[2017-12-31 10:23] #3135 closed

[2017-12-31 10:24] #3095 closed

[2017-12-31 10:25] #3114 closed

[2017-12-31 18:33] Symbai opened #3136 "Checkbox colors on dark theme arent good"
Below is a screenshot of the demo showing the default white theme and dark puple. As you can see the checkbox on white theme is okay but on dark theme hardly seeable because the purple color is too dark. Same problem with lots of other colors on dark theme. I don't think this issue needs a sample as you can reproduce this in a second on the demo app.

![theme](https://user-images.githubusercontent

[2018-01-02 12:09] fcwindpass opened #3137 "Slider and RangeSlider 's thumb height"
I want to change the thumb's size(height) of the slider and rangeslider,but I don't know how to do,please help!!!

![image](https://user-images.githubusercontent.com/20333391/34483307-9c3d563a-eff8-11e7-90a7-d71c47e06cd7.png)

[code]

[code]

[2018-01-02 14:18] sergeypyrkin opened #3138 "listview / datagrid speed"
Hi
I testing speed of updatting datagrid;
for
1) pure wpf
2) metro
3) metro + clearstyles
-------------------------

**wht is clearstyles**
<ListView    Style="{StaticResource clearListView} ......

where clearListView is empty style

**My control**
`        <ListView
                x:Name="dataGridView1"
                Grid.Row="1"
                Grid.Column="0"
                Margin="3"

[2018-01-02 14:31] punker76 commented on #3138
@sergeypyrkin It would be nice if you can add a link to your test application. You also forgot to say which MahApps version you tested.

[2018-01-02 14:33] punker76 commented on #3137
@fcwindpass You can change thid by overriding these values

https://github.com/MahApps/MahApps.Metro/blob/040ba4ea0129d34e1832c2e81422138d77e08cb1/src/MahApps.Metro/MahApps.Metro/Styles/Controls.Slider.xaml#L7-L10

[2018-01-02 14:33] #3137 closed

[2018-01-02 14:50] sergeypyrkin commented on #3138
https://github.com/sergeypyrkin/gridtest

[2018-01-02 14:51] sergeypyrkin commented on #3138
1.5.0 it last

[2018-01-02 15:06] punker76 commented on #3138
@sergeypyrkin

1) Compile and run your application gives me many BindingExpression warnings at the output window in VS.

[code]
2) Your work routine to create these random stuff blocks the UI

[2018-01-02 15:17] sergeypyrkin commented on #3138
1. i copy this grid from enather project and forget clear styletrigger, you can delete in xaml all. it's not change result
2. i think you launck this 2000 items or more. change to 100, 200 , 500
i change data (1 create item, 1 delete, 2 update) whith method called shuffleData then
stopwatch.start
dataGridView1.ItemsSource = items.OrderBy(o => o.A1).ThenBy(o => o.A2).ThenBy(o => o.A3).ThenBy(o => o

[2018-01-02 15:20] sergeypyrkin commented on #3138
yes , i think you right
but add clearstyles <ListView Style="{StaticResource clearListView} .
and you see how fast it's will be

[2018-01-02 15:30] punker76 commented on #3138
@sergeypyrkin Ok, found the reason. The default ListView style doesn't use virtualizing. So changing to `Style="{StaticResource VirtualisedMetroListView}"` fixes this.

[2018-01-02 15:33] sergeypyrkin commented on #3138
yes) i test just now - it work

[2018-01-02 15:40] #3138 closed

[2018-01-03 12:58] gerthermans commented on #3108
The issue still occurs with Win10 1709 when the child window is maximized and also has IgnoreTaskbarOnMaximize = true.
I've added an adjusted sample to show the issue.
Also in this sample I did add some code in comment in the closed eventhandler of childwindow.xaml.cs which can be used for a fix for now, but would be good if this issue could be fixed more generally in the next version.
[FullScreen

[2018-01-04 10:56] andrew-stephens opened #3139 "Can System.Windows.Interactivity.dll be a package dependency?"
The MahApps NuGet package includes System.Windows.Interactivity.dll (v4.5.0.0), but I reference another NuGet package (Prism v4.1) that also includes S.W.I.dll, but v4.0.0.0. In my solution I have several projects that reference both packages, and noticed that some projects reference S.W.I.dll from the MahApps package while others reference the one from the Prism package. (I assume this inconsiste

[2018-01-04 11:39] thoemmi commented on #3139
That's the exact problem: there is no **official** NuGet package for *System.Windows.Interactivity*. Just [search of it in the NuGet Gallery](https://www.nuget.org/packages?q=System.Windows.Interactivity), and you will find lots of packages, but none of those is official.

[2018-01-04 15:48] kamilaLurzynska opened #3140 "System.InvalidOperationException: Ten element Visual nie jest połączony z PresentationSource."
i have this exception, when i reloaded data on datagrid. My dataGrid have AutoGeneratedColumn = true property.

System.InvalidOperationException: Ten element Visual nie jest połączony z PresentationSource.
   w System.Windows.Media.Visual.PointToScreen(Point point)
   w MahApps.Metro.Controls.MetroThumbContentControl.OnMouseLeftButtonDown(MouseButtonEventArgs e) w d:\projects\git\MahApps.Metro\src

[2018-01-05 12:37] #3139 closed

[2018-01-05 12:41] punker76 commented on #3136
@Symbai Yes, the modern Win 10 checkbox and radiobox styles invert the brushes. I must agree it looks with some accent brushes not so good. But I think we can not do this in 1.6 cause it's a bigger visual breaking change.

![2018-01-05_13h39_27](https://user-images.githubusercontent.com/658431/34609728-211b5ee8-f21e-11e7-9ed0-faa9c1300796.png)
![2018-01-05_13h39_33](https://user-images.githubuserc

[2018-01-05 16:51] MycroftHolmes1989 opened #3141 "Using HamburgerMenu to house Buttons in WPF with Caliburn.Micro"
I am trying to put buttons in Hamburger menu without modifying its look. I have finally decided to use Interaction Triggers to fire a method when `MouseLeftButtonUp` occurs. Please note that I am working with Caliburn.Micro and the bindings occur implicitly. The problem is that, now, when I click an item in the HamburgerMenu, the pane doesn't automatically collapse as it normally does. Is there an

[2018-01-05 20:48] punker76 commented on #3141
@MycroftHolmes1989 Can you create a complete (short) sample with this code on GitHub? thx

[2018-01-05 21:20] thoemmi commented on #3136
I agree with @punker76 . As far as I can see 1.6 is almost finished.

[2018-01-06 12:20] MycroftHolmes1989 commented on #3141
This is my first upload to GitHub, so I hope I didn't muck it up. Here it is: https://github.com/MycroftHolmes1989/HamburgerTest/tree/master/HamburgerTest

[2018-01-08 19:05] #2931 closed

[2018-01-08 19:05] #2979 closed

[2018-01-10 19:46] Pekshev opened #3143 "Flyout's header not binding to XmlProvider"
I'm use XmlProvider for localization of my app. All good but flyout's header not binding:

![screenshot_1](https://user-images.githubusercontent.com/12638819/34792043-e5b0e236-f657-11e7-8265-d4a8d9db92fb.png)
and result:

![image](https://user-images.githubusercontent.com/12638819/34792119-17258358-f658-11e7-947d-786caad7db94.png)

[2018-01-10 20:30] punker76 commented on #3143
@Pekshev What version of MahApps do you use?

[2018-01-10 20:31] Pekshev commented on #3143
1.5.0.23

[2018-01-10 20:32] Pekshev commented on #3143
I found the solution - I set the header in the code when the window is loaded. But I would like to do this in the xaml

[2018-01-10 20:42] punker76 commented on #3143
@Pekshev Can you create a short sample on GitHub? With one Flyout and such a XmlProvider?

[2018-01-11 07:01] ShannonZ opened #3144 "How to make a InputDialog with three input textboxs?"
How to make a InputDialog with three input textboxs?
Or how to make a custom dialog?

[2018-01-11 07:24] Pekshev commented on #3143
Yes =)
https://github.com/Pekshev/MahappsFlyoutHeaderProblem

[2018-01-11 09:06] punker76 commented on #3143
@Pekshev Thank you for this sample! 👏  It helps me to find the bug :-D

![image](https://user-images.githubusercontent.com/658431/34817012-fae54ed0-f6b6-11e7-87ba-9248496f5204.png)

This fix will be available in 1.6.0 (and next pre-release)

[2018-01-11 09:23] Pekshev commented on #3143
I will not create a new issue.
There is also a bug - when binding is not set the upper case for text in many controls. The simplest example is the groupBox.

![screenshot_9](https://user-images.githubusercontent.com/12638819/34817859-30aa94b8-f6ca-11e7-8ebe-d2fa4c35352e.png)

I updated the demo project

[2018-01-11 10:53] punker76 commented on #3143
@Pekshev the same happens at the Buttons (these captions should be also upper cased). The problem here is, that the ToUpper (and ToLower) converters gets a XmlNode and not a string through the binding (Header or Content).

https://github.com/MahApps/MahApps.Metro/blob/1f052fd898d1ba7c692b78913525863ff096c69f/src/MahApps.Metro/MahApps.Metro.Shared/Converters/ToUpperConverter.cs#L26-L27

You can cre

[2018-01-11 17:48] mongeon commented on #2994
Did anyone find a solution for this. I'm facing the same issue as @Blinxar

[2018-01-11 23:00] #2813 closed

[2018-01-12 13:14] #3143 closed

[2018-01-12 21:37] Symbai commented on #3144
Take a look at the demo source code:

[code]

[2018-01-13 12:49] #3107 closed

[2018-01-13 13:01] punker76 commented on #3131
@xmedeko The `WindowSettings` is marked as obsolete in 1.6.0 and will not be used anymore. It's now all at the `WindowsSettingBehaviour`. The Save method is enclosed in a try catch.

https://github.com/MahApps/MahApps.Metro/blob/1e9fabfdf79c274971bfe9e2754e009442ee6eea/src/MahApps.Metro/MahApps.Metro.Shared/Behaviours/WindowsSettingBehaviour.cs#L171-L178

[2018-01-13 13:01] #3131 closed

[2018-01-13 13:57] #2619 closed

[2018-01-14 09:18] #2412 closed

[2018-01-14 09:21] punker76 commented on #2319
Since .Net 4.5 it's possible to get DPI aware on application level. https://github.com/Microsoft/WPF-Samples/tree/master/PerMonitorDPI

[2018-01-14 09:21] #2319 closed

[2018-01-14 11:43] #3104 closed

[2018-01-14 13:29] #3089 closed

[2018-01-14 13:29] #3106 closed

[2018-01-14 14:30] punker76 commented on #3141
@MycroftHolmes1989 Thx for the sample. After some testing I came to this solution (notice, I'm not a fan of Caliburn.Micro)

You can add a property to your `MainViewModel`

[code]

and bind to it

[code]

[2018-01-14 14:30] #3141 closed

[2018-01-14 20:54] #2527 closed

[2018-01-14 20:56] punker76 commented on #2527
@anshumittal47 @akshithrajesh290 There are now AutomationPeer support for Dialogs and Flyouts, available in v.1.6.0

![2018-01-14_19h58_48](https://user-images.githubusercontent.com/658431/34920625-cc1a56b0-f975-11e7-92d2-9b13c3efb172.png)

[2018-01-14 21:52] punker76 commented on #2500
@smlacombe With v1.6.0 it will be easier to change the styles of the buttons or the style/template of dialogs.

e.g. Changing the button styles for the message dialog:

[code]

![image](https://user-images.githubusercontent.com/658431/34921019-80b3b048-f97c-11e7-8263-973e5c340581.png)

So, it's not necessary to use the `CustomResourceDictionary` which can be set at the settings class for each dial

[2018-01-14 21:52] #2500 closed

[2018-01-14 23:00] #3100 closed

[2018-01-14 23:09] punker76 commented on #3115
@Symbai It would be nice if you can create a sample (on GitHub) which shows this issue. Thx.

[2018-01-14 23:22] punker76 commented on #2986
@MurariAlex Can you create a short sample (on Github)? Thx.

I can't reproduce this one

[2018-01-14 23:27] punker76 commented on #2944
@lasikye Do you use teh async/await key words? Can you try this with v1.5.0.x? If you still need help, then please create a short sample for this issue. Thx.

[2018-01-14 23:27] #2944 closed

[2018-01-15 07:57] #2806 closed

[2018-01-15 07:58] #2719 closed

[2018-01-15 08:43] punker76 commented on #2745
This should work in v1.6.0 since the Dialog and Flyout controls try to find the current theme. So a custom theme or accent wont be override anymore.

[2018-01-15 08:43] #2745 closed

[2018-01-15 08:46] punker76 commented on #2468
This should work now in upcoming v1.6.0 since the Dialog and Flyout controls try to find the current theme. So a custom theme or accent wont be override anymore.

![2018-01-15_09h44_35](https://user-images.githubusercontent.com/658431/34933933-fde2c7be-f9d8-11e7-92e4-86141d87a73d.png)
![2018-01-15_09h44_45](https://user-images.githubusercontent.com/658431/34933934-fdf99bf6-f9d8-11e7-9249-3205b2c9f

[2018-01-15 08:46] #2468 closed

[2018-01-15 17:10] #3129 closed

[2018-01-16 10:05] Pekshev opened #3154 "Additional colors"
There are very lacking additional colors (brushes) that would be used as "Warning", "Success", "Error" and at the same time harmoniously combined with themes and accent colors. Well, at least with the themes

[2018-01-16 10:08] Jan18101997 opened #3155 "GridViewColumnHeader uses twice the padding"
If you create a GridViewColumnHeader and change it's padding the padding will end up taking twice the space.
[code]
(src/MahApps.Metro/MahApps.Metro/Styles/Controls.ListView.xaml line 302->306)

This will apply the padding "twice" and it will take up more space then it should.

 I know how to Fix it but i don't know how to create a Pull request.

[2018-01-16 12:29] punker76 commented on #3154
@Pekshev I think the exisiting brushes (accents and theme) are enough as base starting point. If you need more brushes then you can create your own brushes. It's also possible to create own accent and theme resources which contains your custom brushes...

[2018-01-16 12:29] #3154 closed

[2018-01-16 12:35] punker76 commented on #3155
@Jan18101997 Hi, thx for finifng this one. Removing `Padding="{TemplateBinding Padding}"` from the border should fix this.

Creating a PR is not so complicated...

1) fork this repo
2) create a branch on your forked repo with a name which contains the issue number
3) make your changes
4) push these changes on your branch
5) create a PR from your branch on this develop branch

here ate some links w

[2018-01-16 12:49] punker76 commented on #2882
Finally changes for this issue

- New `OwnerCanCloseWithDialog` property at `MetroDialogSettings` which can be used to handle how the owner of the dialog can be closed.
- New `IsCloseButtonEnabledWithDialog` property at `MetroWindow` which indicates if the close button should be enabled or not if a dialog is shown.

The `OwnerCanCloseWithDialog` is by default false.

The `IsCloseButtonEnabledWithD

[2018-01-16 16:19] AlexBolotsin opened #3157 "MetroWindow in NVIDIA surround mode corrupted"
Good day,

I've noticed a bug with the Demo application which leads to view corruption in major way.

Steps:
1. Setup Surround mode with at least 2 monitors connected to the machine.
2. Run demo application.

After doing so - you will see that the window tried to maximize to 2 monitors and got only a half visible.

I expected that the window to have MS window behavior - maximize to one or another

[2018-01-16 16:23] punker76 commented on #3157
@AlexBolotsin Can you try it again with `develop` version (pre-1.6.0)? thx

[2018-01-16 16:43] AlexBolotsin commented on #3157
For some reason basic WPF window doesn't have that behavior. I was wondering if you could have an idea or two on this topic.
That would help a lot if you would be able to give it a look.
In any case - thank you for lightning fast response 👍

[2018-01-17 09:27] punker76 commented on #3130
@MajedDH Setting a style for TextBlock in App.xaml which affects all of these is NOT recommended. You will always get such nasty side effects.

https://github.com/MahApps/MahApps.Metro/blob/9071379b5e17f05a3b41262998858497990b258f/src/MahApps.Metro/MahApps.Metro/Styles/Controls.TextBlock.xaml#L4-L6

FontSize, FontFamily, etc. should always be set only on the base controls which uses TextBlocks ins

[2018-01-17 09:27] #3130 closed

[2018-01-17 12:09] #2810 closed

[2018-01-17 14:16] punker76 commented on #3039
- using the MouseWheel works as expected (tested on my machine™ and the current source)
- parsing the value while the user types a number isn't a nice solution (and also complicated to solve), cause every input parses the value and changes the text...

[2018-01-17 14:41] punker76 commented on #2496
Duplicate of #2422

[2018-01-17 14:41] #2496 closed

[2018-01-17 19:32] Pekshev commented on #2929
This is my code to change borders:
`public static void ChangeWindowBordes(string borderType, MetroWindow window)
        {
            try
            {
                if (borderType.Equals("AccentBorder"))
                {
                    window.BorderThickness = new Thickness(1);
                    window.SetResourceReference(Control.BorderBrushProperty, "AccentColorBrush");

[2018-01-17 19:36] Pekshev commented on #2929
![borders](https://user-images.githubusercontent.com/12638819/35062796-51dc147a-fbd6-11e7-958c-0f58bbc55b13.gif)

[2018-01-17 22:17] #2249 closed

[2018-01-17 22:19] #2422 closed

[2018-01-17 23:14] punker76 commented on #2189
Long time ago... ok. Yes, I think this could be possible using a nullable type and the `Controls:TextBoxHelper.Watermark` property. So, if the value is `null` the watermark will be displayed.

![2018-01-18_00h12_54](https://user-images.githubusercontent.com/658431/35072327-6079d572-fbe4-11e7-8c78-b0bcb77c487e.png)
![2018-01-18_00h13_03](https://user-images.githubusercontent.com/658431/35072328-609

[2018-01-17 23:14] #2189 closed

[2018-01-18 00:18] #3140 closed

[2018-01-18 00:20] punker76 commented on #3140
@kamilaLurzynska I catched the possible exception now and trace it out. But it would be nice if you can create a short sample application (here on GitHub) which shows this issue. Thx

[2018-01-18 00:28] #2974 closed

[2018-01-18 10:45] #3042 closed

[2018-01-18 13:32] punker76 commented on #3085
@Stakhmi4 The `PanePlacement` handling will be improved in v1.6. But for the MenuItem templates you must handle this by yourself, like

[code]

[2018-01-18 13:32] #3085 closed

[2018-01-18 14:03] #3007 closed

[2018-01-18 14:07] punker76 commented on #3005
@amkuchta I will leave it as it is, cause the UWP HamburgerControl pendant does the same.

[2018-01-18 14:07] #3005 closed

[2018-01-18 14:09] punker76 commented on #2988
Duplicate of #2994

[2018-01-18 14:09] #2988 closed

[2018-01-18 14:29] #2753 closed

[2018-01-19 15:21] PalavaNet opened #3163 "NumericUpDown to mirror the TextBox TextBoxHelper.ButtonCommand"
I'd like to add a custom clear text command to a numeric up down.

Should be as simple as adding

Controls:TextBoxHelper.ButtonCommand="{TemplateBinding Controls:TextBoxHelper.ButtonCommand}"

around line 64 of NumericUpDown.xaml.

[2018-01-19 15:52] PalavaNet commented on #3163
I expect that there's some workaround for this but I'm still new to WPF so it may take me some time to find it. I'll post it if I do.

[2018-01-20 22:56] #2825 closed

[2018-01-20 22:56] #3022 closed

[2018-01-20 23:37] punker76 commented on #2993
Duplicate of #2625

[2018-01-20 23:37] #2993 closed

[2018-01-21 00:00] #2408 closed

[2018-01-21 00:01] #2285 closed

[2018-01-21 18:41] adragoner opened #3164 "Enhancement request - TextBox to support Button and Clear Button"
Currently, TextBox supports one Clear Button that can be customized. It would be nice to have a dedicated customizable Button template with an option to add Clear button next to it.

Use case:
Read only folder picker based on TextBox with button to select a folder and Clear button to clear text.

[2018-01-22 12:52] ikeas68 opened #3166 "Bug On NumericUpDown"
i have discover a bug in numericUpDown
if i have a string format like this
StringFormat="0.###"
and set a value to 0.33333333333
the vaue is truncat to 0.333

if i want to preserv initial value it's not possible

[2018-01-22 12:54] punker76 commented on #3166
@ikeas68 Can you create a short sample? thx!

[2018-01-22 12:56] ikeas68 commented on #3166
a complete project ?

[2018-01-22 12:58] punker76 commented on #3166
@ikeas68 Yes. Short and simple as possible.

[2018-01-22 12:58] ikeas68 commented on #3166
ok tomorrow morning

[2018-01-22 13:19] Nuklon opened #3167 "ComboBox item alignment"
A minor issue, currently the combobox child items are not aligned according to their selected 'parent'. It'd be nice if these could have the same margin at the left side. This looks better and is easier to read for very wide characters (as they currently run almost against the side line).

![image](https://user-images.githubusercontent.com/7643972/35222642-e3001fb8-ff7e-11e7-88e6-ffcda31494c6.png)

[2018-01-22 13:49] punker76 commented on #3167
@Nuklon I think this is more a subjective perceive and can be solved by the users itself. e.g.

[code]

[2018-01-22 13:49] #3167 closed

[2018-01-22 13:51] Nuklon commented on #3167
Great, thank you, I wasn't sure what was needed for this, I'll test that out.

[2018-01-22 14:35] skelvir opened #3168 "NumericUpDown.StringFormat not working via Code behind"
## What steps will reproduce this issue?

NumericUpDown.StringFormat is working fine if declared in XAML, but if you try to change it via Code behind, it will cause an exception.

### Expected outcome

Changing StringFormat should update the content while preserving the Value

### Repo

https://github.com/skelvir/Wpf_NumericUDissue.git

### Environment

- MahApps.Metro 1.5.0.23
- Windows 7 64-bit

[2018-01-22 14:56] punker76 commented on #3168
@skelvir Thank you for the sample! 👍  This issue is already fixed and will be available in v1.6 (or via appveyor nightly build).

PS: Why do you want to change the format on any value change?

[2018-01-22 14:56] #3168 closed

[2018-01-22 14:58] skelvir commented on #3168
@punker76 I do not intend to change on any value change, I just used that as a quick sample.
In reality I only need to change once during initialization.

[2018-01-22 23:05] punker76 commented on #2633
@bigworld12 @AndrzejKl I'm with @QuantumDeveloper and would say that this is not an issue with the UI or an inaccuracy. The `RangeSlider` works different to a Slider cause it has a Range which must be displayed and calculated. So if I set the `LowerValue` and `UpperValue` to the same value it can not be displayed like a normal Slider.

![2018-01-22_23h57_52](https://user-images.githubusercontent.c

[2018-01-22 23:05] #2633 closed

[2018-01-23 02:26] amkuchta opened #3169 "HamburgerMenuIconItem ToolTip"
Currently, there is no way to utilize a `ToolTip` with a `HamburgerMenuIconItem`.  I think that this should be an out-of-the-box feature, as it would be nice for users to simply be able to get an icon's name by hovering as opposed to having to open the `HamburgerMenu`

### Environment

- MahApps.Metro __v1.6.0.231__
- Windows OS __10__
- Visual Studio __2017__
- .NET Framework __4.5.2__

[2018-01-23 05:33] ikeas68 commented on #3166
i check with version 1.4.1 and 1.5 and in the sample i have no problem
i check directly in my software

[2018-01-23 06:12] ikeas68 commented on #3166
it's seem to be a problem with lost focus
the binded value is updated with string format when focus lost
see my project
- set value in numeric up down to 5.33333333333
- click on bbutton

[2018-01-23 06:15] ikeas68 commented on #3166
set value in numeric up down to 5.33333333333
click on bbutton
click on button
set the cursor on numeric up down
click on button

[2018-01-23 06:16] ikeas68 commented on #3166
[MAHapp numeric.zip](https://github.com/MahApps/MahApps.Metro/files/1654763/MAHapp.numeric.zip)

[2018-01-23 07:08] ikeas68 commented on #3166
after discuss whith my friend the better solution is to re-set the original value in numeric updow when the component get focus

[2018-01-23 08:48] barishamil commented on #1620
Flyouts should appear in MainWindow in visual tree regardless of where you put them like Popups

[2018-01-23 09:50] punker76 commented on #3169
@amkuchta This is already possible with minor code change.
I don't know if there is a benefit to add this `ToolTip` property to the base class, cause the user must still implement their own `DataTemplate` for the MenuItem, with or without the extra property.

[code]

[code]

https://github.com/punker76/code-samples/blob/687dca0055fb4d26275ce11c881fd3167e542132/MahAppsMetroHamburgerMenu/HamburgerMe

[2018-01-23 11:33] ikeas68 commented on #3166
thanks

[2018-01-23 16:55] amkuchta commented on #3169
@punker76 wouldn't it make more sense to have `ToolTip` be offered directly under `HamburgerMenuIconItem` as opposed to having users roll their own class on top of it?  I understand having to implement their own `DataTemplate`, but this seems like an easy offering to throw in that can be a solid (optional) feature, should users decide to utilize it.

[2018-01-23 22:06] #3166 closed

[2018-01-24 16:21] AgentFire opened #3173 "Enhancement request? - Disable the MetroWindow while a Dialog mode is active."
When a "Delete something" button is pressed, simply calling the:

    if (await this.ShowMessageAsync("Delete?", $"You sure to delete // etc.

is enough only if it is clicked by mouse.

If I select a button and press Enter twice, then TWO dialogs will be opened - one after another.
The dialog mode (`ShowMessageAsync` etc) are supposed to disable input while active, so I propose setting `IsEnabled=

[2018-01-24 20:12] matmiranda opened #3174 "How to set the masquerade in "ShowInputAsync"?"
Example:

[code]

Is it possible to set the mask in the textbox?

[2018-01-24 21:31] JVimes opened #3175 "Window contents cut off by 1px"
It seems the contents of a MetroWindow are covered or cut off by 1px on all sides except for top.

### Repro
1. Add a 1px red border around everything in the demo app main window.

Actual: Red border shows on top, only.
Expected: Red border shows on all four sides.

![image](https://user-images.githubusercontent.com/6148201/35358095-c3af77ae-0112-11e8-93de-bd8c53c1a382.png)

### Environment

- Mah

[2018-01-24 22:14] #3175 closed

[2018-01-25 14:37] Lerosbeef commented on #2979
Liking the materiel design ripple effet, we managed a more fluent design by bluring the entire panel.

[2018-01-25 14:42] #3169 closed

[2018-01-25 17:43] amkuchta opened #3179 "[Enhancement] Selected TabItem Underline Width"
A tiny and purely stylistic enhancement, but would there be any interest in updating the `Underline` of the selected `TabItem` so that it was the width of the Header text, not the width of the entire tab?  It's a small change, but one that makes the application look more modern.  If interested, I can complete a quick PR - I have already modified the template on my end to make the update, as seen b

[2018-01-25 18:15] amkuchta commented on #3136
@punker76 @Symbai @thoemmi this might also be a good time to adjust how the various accent colors are produced.  Currently, it looks like the same color is utilized, but the alpha is adjusted to let the background bleed through.  I think that a better way to handle this would be to utilize a tool like [Coolors.co](https://coolors.co) to define a base color, then get alternative shades for it.

[2018-01-25 18:51] amkuchta opened #3180 "[v2.0.0] [Enhancement] Define Styles Using ComponentResourceKey"
This would be a massive change, and most definitely a breaking one, but it would allow for the most flexibility with regards to modifying MA.M styles.  A working example can be found at [Markdig.WPF](https://github.com/Kryptos-FR/markdig.wpf)

Utilizing `ComponentResourceKey`, we can define all style keys for the library (see `/src/Markdig.WPF/Styles.cs` in the above example):

[code]

These keys

[2018-01-25 19:51] punker76 commented on #3180
@amkuchta IMHO I don't see a benefit here to create an extra class to provide the style keys when I get the same with the default WPF way. I can now also inherit a style with the base style key and override some properties. And in v2.0 the styles will be changed to 'MahApps.Metro.Styles.XYZ' like some of currently existing keys. I think that helps to find the correct (available) keys in the MahApp

[2018-01-25 21:50] amkuchta commented on #3180
@punker76 the benefit that I see is that users would no longer have to define their own styles using `BasedOn`, then utilize that style key for each iteration of that control in their application. Instead, I could simply override `MetroCheckbox` (for example), and  all of my checkbox controls would automatically utilize that style.

[2018-01-25 22:18] punker76 commented on #3180
@amkuchta This is **not correct**! It's necessary to use `BasedOn` too! If not, you always override the defined style before!

e.g.

**Base style**

[code]

**Now what you say**

[code]

You will get a button with a red background but without previous defined properties in the base style.

[2018-01-25 22:31] amkuchta commented on #3180
@punker76 I could have sworn that my the original styles were maintained when I utilized that with Markdig.WPF... however, if what you are saying is the case, go ahead and close this, because it was the only reason I thought it would be useful!

Is there a branch that 2.0.0 is being worked on that I can check out?

[2018-01-26 14:18] amkuchta commented on #3179
After looking, this breaks the style for `TabPanel` - I'll go ahead and close this.

[2018-01-26 14:18] #3179 closed

[2018-01-27 00:15] #3180 closed

[2018-01-27 00:30] #3115 closed

[2018-01-27 00:31] #2986 closed

[2018-01-28 19:06] Bykiev commented on #3041
@punker76, I think you should continue to support a .NET 4.0 version: no more new features but still fix the bugs

[2018-01-28 19:21] batzen commented on #3041
@Bykiev he will create a tag in git. But i don't think he will fix bugs there. IMHO he shouldn't fix bugs there. Would you fix bugs in software you don't use and don't get paid to work on?

[2018-01-28 19:25] Bykiev commented on #3041
@batzen, of course, no need to support a dead software, but .NET 4.0 isn't dead, at work, we continue support our software because there is some Windows XP PCs still working even Microsoft dropped it's support.

[2018-01-28 19:50] batzen commented on #3041
@Bykiev .NET 4.0 and Windows XP are dead and shouldn't be used anymore. Still running Windows XP today is kinda insane from a security point of view.

And you didn't answer my question...

[2018-01-28 20:16] feinstein commented on #3041
@batsen, the whole point of open source software is to support the community, not being paid or only fixing what you use.

I agree that supporting windows XP is insane on a technological standpoint, but there are lots of industries still using it and not supporting those clients is insane in a financial standpoint.

[2018-01-28 20:37] batzen commented on #3041
@feinstein Everyone in the world of OSS is free to only fix what he/she likes to fix. That's OSS.

If you demand someone to fix/maintain something for you because it would be insane in a financial standpoint then you obviously should bring some of that financial standpoint to the table, or even better contribute and fix it yourself.

[2018-01-28 20:50] feinstein commented on #3041
@batzen, I think you misunderstood my point, I was speaking about 2 separate things.

I personally don't think we should continue to support .NET 4.0 here, but your statement of only supporting thing that we use and care about its not my personal opinion on software quality. This can easily lead to code that looks like Swiss cheese, lots of good cheeses and still lots of holes.

My comments on Win

[2018-01-28 21:00] batzen commented on #3041
@feinstein My initial question to the other guy was like "would you deliver what you demand from others?". Getting no answer to that is enough of an answer.

So you maintain an OSS project where you showcase your opinion about software quality and swiss cheese?

[2018-01-28 21:30] feinstein commented on #3041
@batsen I don't understand your question.

Anyway, anyone interested in the whole .NET 4.0 debate should read the beginning of this thread, where it's clear it won't be supported anymore and only have a tag.

No need to further discuss philosophies here, cluttering people's emails.

[2018-01-29 02:57] mudebug77 opened #3182 "Chinese language"
我使用 vs2017 使用MahApps.Metro button控件 checkbox 使用中文会变成乱码

![qq 20180129105635](https://user-images.githubusercontent.com/34656102/35491709-28deda9c-04e3-11e8-865a-e4eb17341147.png)

[2018-01-29 04:13] mudebug77 commented on #3182
<FontFamily x:Key="DefaultFont">SimSun</FontFamily>
    <FontFamily x:Key="HeaderFontFamily">SimSun</FontFamily>
    <FontFamily x:Key="ContentFontFamily">SimSun</FontFamily>

修改这个正常了，VS2017 获取默认字体可能有问题。

[2018-01-29 04:13] #3182 closed

[2018-01-29 05:50] Bykiev commented on #3041
@batzen, sorry for a long delay, I'm in a different time zone....
I don't understand your question too. Of course, at work I'll not support software which isn't used by anyone. But it's an open source framework, and if community is using it there is no any reasone to not fixing bugs.
I agree with @feinstein, if @punker76 decided to not suppport it on .NET 4.0 we can't do anything except to make ow

[2018-01-29 06:19] jogibear9988 commented on #3041
I don‘t see the Problem here. I don‘t think there are many bugs, or no one of you had used it. So, droppibg support doesn‘t mean to delete it.
As there are no changes in Net 4.0 any more (cause Ms droppef support), your app using this lib will work as before, and you lived with bugs of the lib (if there were any) since months, so why shouldn‘t work for months again.
And if it will not because the

[2018-01-29 07:14] jenokizm commented on #3041
Hi guys. Perhaps in some kind of fictional magic world, Windows XP are obsolete and no longer use, but in reality they are often found in other areas. You can look at this question on the other hand, the support of .Net 4.0 allows you to run the application on computers with Windows 7 because this version is on the system by default, and some users are lazy to update .Net.

[2018-01-30 12:25] Malavos commented on #3041
@jenokizm  that's just my opinion, but if you're making a app for someone with XP, you better off using classic WF. You will have some troubles with wpf beyond MahApps on XP. Not to mention the poor perfomance of some libraries and other content.

While I don't *personally* agree that we should drop 4.0, the *commercial* and *logical* standpoint is that we drop it. If Microsoft dropped it, we shou

[2018-01-30 16:56] khaeroup opened #3183 "Can't apply style to Async Messages"
Hello,

I'm trying to make a small exe i'm coding customizable via .ini file.
This is the part of the code involving the ThemeManager from the application.

This applies both accent and background to the application (in the ini file i'm using, i've set "Orange" and "BaseDark"). And that's exactly what i wanted.

Problem is that async messages are shown in BaseLight and Cyan accent (instead of Base

[2018-01-30 17:23] ahmedflix25 opened #3184 "Problems when FlowDirection is RightToLeft"
**Environment**

- MahApps.Metro 1.6.2
- Windows OS 10 April Update 64bit
- Visual Studio 2017 Community 15.7.1
- .NET Framework 4.7.1

Using "Controls:TextBoxHelper.Watermark" with "NumericUpDown" the Watermark doesn't follow the HorizontalContentAlignment for the controller

![0xuux5i - imgur](https://user-images.githubusercontent.com/658431/45844276-39bc9c80-bd22-11e8-99d9-49f21dcbc39a.png)

![

[2018-01-31 07:56] khaeroup commented on #3183
Self fixed.

You have to add 2 basic themes in the App.xaml, then the rest will be automatically changed.

Closed! :)

[2018-01-31 07:56] #3183 closed

[2018-01-31 15:30] dan-garkusha commented on #2302
So, the way I understand it,  there is no way to prevent the closing of a tab via **MetroTabItem**.CloseTabCommand without the use of TabItemClosingEvent in code-behind? Any chance of adding that as an option in the future versions of this control?

[2018-02-01 07:15] seb30 commented on #3039
Regarding the MouseWheel issue: I've downloaded the sources yesterday and bound the Value property of the NUD to the TestValue. Minus button is disabled, because we're at the Minimum. So far, so good. But if I use the MouseWheel, the TestValue gets decremented to -1 and my ViewModel has the wrong value. The NUD still shows 0.

![nud_1](https://user-images.githubusercontent.com/28293949/35665481-ba

[2018-02-01 07:39] seb30 commented on #3039
A deeper look into the code shows me that NUD.ChangeValueBy is called first, then my TestValue setter and finally the NUD.CoerceValue, where the value is limited to the Minimum.

[2018-02-02 09:27] #2879 closed

[2018-02-02 09:27] #2953 closed

[2018-02-02 14:28] #3039 closed

[2018-02-02 14:43] punker76 commented on #2451
@ericBG I know, it's a long time ago, but IMHO I would say, changing the value in these events makes no sense, cause the value is already coerced by using the Up/Down keys, the Inc./Dec.-Buttons, the mousewheel or tabbing out the control. So why changing again? I will close this for now. Feel free to reopen this issue if there is any critical reason to do this (changing the value). Thx.

[2018-02-02 14:43] #2451 closed

[2018-02-02 15:16] punker76 commented on #2929
@Pekshev Just got it.

It's currently not possible to change the GlowBrush at runtime if it's not set before that, e.g. in Xaml.

To solve this, you can

- set a dummy brush to the GlowBrush property in Xaml on your MetroWindow
- or call your code once at the ctor

[code]

![mahapps_border_change](https://user-images.githubusercontent.com/658431/35740191-50b4d5c2-0834-11e8-8791-03712cb4b785.gif)

[2018-02-02 15:16] #2929 closed

[2018-02-02 20:42] punker76 commented on #1920
-> https://github.com/ControlzEx/ControlzEx/issues/45

[2018-02-02 20:42] #1920 closed

[2018-02-02 21:04] punker76 commented on #1533
Maybe combinable with https://github.com/ControlzEx/ControlzEx/issues/45 (TextBoxInputMaskBehavior)

[2018-02-02 21:04] #1533 closed

[2018-02-02 22:09] #1678 closed

[2018-02-05 22:30] #3013 closed

[2018-02-06 18:10] Pekshev commented on #2929
Set BorderBrush and GlowBrush in xaml - not help =(
Tested on 1.5 version

[2018-02-06 19:25] punker76 commented on #2929
@Pekshev You must use the latest source or the NuGet package from the nightly build (1.6.0-alpha.345) https://ci.appveyor.com/nuget/mahapps.metr

[2018-02-06 19:33] Pekshev commented on #2929
@punker76 thanks for the answer. But, unfortunately, I'll have to wait for the official release of version 1.6, since I need to update more than 50 projects. I will refrain while from the alpha version.
Have you decided yet when you will make an official release? At least roughly

[2018-02-08 06:50] Daniel-Cong commented on #3174
Also it will be great if we can put default value inside the Input Box.
Currently, we can only display a title, a prompt, and an empty Input Box.

[2018-02-09 02:17] ShannonZ opened #3187 "MouseOver Rotation (customized style) cannot be triggered"
## A MouseOver rotation was made in ButtonStyle.xaml  BUT NEVER Triggered.

_The style xaml was produced by blend._

### Repo

_https://github.com/ShannonZ/playground_

### Environment

- MahApps.Metro __v1.6__
- Windows OS __7 x64__
- Visual Studio __2017__
- .NET Framework __4.7__

[2018-02-09 08:29] punker76 commented on #3187
@ShannonZ This is not related to MahApps. It's more an issue with your defined visual states. Here is a sample which should work. Please note, you must define the `Normal` state too, cause without the `MouseOver` is only triggered once.

[code]

![visualstate_mouseover](https://user-images.githubusercontent.com/658431/36018294-86c59b28-0d7b-11e8-9b3c-bef0bfa49b41.gif)

[2018-02-09 08:29] #3187 closed

[2018-02-09 09:28] ShannonZ commented on #3187
The code for style( including VisualStates) was generated using VS Blend 2017. So I think there exist some conflicts between Mahapps.Metro and the customized style.

[2018-02-11 02:04] ShannonZ commented on #3187
It's wired that the mouse over animation works well in preview mode of VS blend 2017, but not works after compiling.

[2018-02-11 15:01] pfigueiredo opened #3188 "modal Flyout not pinned allow controls in the backgroud to receive MouseUp event"
I have a Flyout with IsModal="True" IsPinned="False" when I click outside the flyout to close it the controls in the background receive the MouseUp Event.

- MahApps.Metro 1.5.0
- Windows OS 10
- Visual Studio 2017 Community Edition
- .NET Framework 4.5.2

[2018-02-11 15:51] punker76 commented on #3188
@pfigueiredo I can't reproduce this with the current source. So can you please create a short sample which shows your issue with that? Thx!

[2018-02-13 07:13] pfattisc commented on #3173
I encountered the same issue,
I came up with an extension method that prevents command execution while a command's execute method is running.

[code]

[2018-02-15 07:11] skelvir opened #3189 "NumericUpDown Input Issues"
## What steps will reproduce this issue?
_________________________
Issue 1

Example: NumericUpDown with StringFormat="{}{0:N2} cm"
Initial Value be "100.00 cm".
Input "200.00 cm" -> working fine
Input "200.00cm" (Without space) -> value is not accepted, gets back to "100.00 cm"
Input "200.00" -> working fine, goes to "200.00 cm"
Input "200.00m" -> not accepted, gets back to "100.00 cm"

Makes it v

[2018-02-16 14:12] JobaDiniz opened #3191 "Support for TextBoxHelper.ButtonCommand in ComboBox"
ComboBox [style](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/MahApps.Metro/Styles/Controls.ComboBox.xaml#L266) does not support `TextBoxHelper.ButtonCommand`.

In order to support it, two things have to happen:
- `PART_EditableTextBox` have to bind to _ButtonCommand_: `Controls:TextBoxHelper.ButtonCommand="{TemplateBinding Controls:TextBoxHelper.ButtonCommand}"`
- `PART

[2018-02-16 14:15] punker76 commented on #3191
@JobaDiniz I set this to `on hold`, cause I plan to re-write this with a `TriggerAction` which can be used then for TextBox, ComboBox, PasswordBox, etc...

[2018-02-16 16:37] JobaDiniz commented on #3020
@NourZohdy I've opened [this issue](https://github.com/MahApps/MahApps.Metro/issues/3191).
As a workaround, I've copied all the `ComboBox` style and added the steps I mentioned in the issue, and it works.

[2018-02-16 20:54] n0ix commented on #3040
I got a similar issue using Listview...virtualization  does not work when i am using a collectionview aka grouping.

I tried to adapt bplatypus override but somehow it is not really working.

[code]

[code]

[code]

Any idea?

[2018-02-17 19:29] whentotrade opened #3192 "Wrong behavior with ShowTitleBar="False" in XAML control metrowindow settings"
Setting ShowTitleBar to "False" in the controls metrowindow xaml results in the still shown title bar in the window. The dynamic binding in the demo works, but if it is set to "false" in the xaml control definition, the title bar is still there.

## What steps will reproduce this issue?
You can check by replacing the MahApps.Metro.Demo.NET45

_from_
[code]

_to_
[code]

### Expected outcome

Title

[2018-02-20 03:04] MurariAlex commented on #3123
@punker76 The solution you posted works fine for buttons inside a MetroWindow, the same button, with the same XAML you posted doesn't work inside an flyout, the content doesn't fade on button disabled. Any ideas?

[2018-02-20 21:24] Pekshev commented on #3192
I did a demo project and bound **ShowTitleBar** to the ViewModel property. As in your demo project. However, it also does not work - the titlebar does not collapse, but hides
[code]
ViewModel:
[code]
![screenshot_3](https://user-images.githubusercontent.com/12638819/36449950-78492684-169d-11e8-87e7-e927643e1c5e.png)
![screenshot_4](https://user-images.githubusercontent.com/12638819/36449959-7bb797