[2018-02-21 07:46] punker76 commented on #3192
@whentotrade @Pekshev I'm working on this...

[2018-02-21 07:51] Pekshev commented on #3192
Suddenly it will help: in your demo project, if you first use item **Toggle Fillscreen (no taskbar, window style = none)**, then the titlebar also stops disabling

[2018-02-21 08:29] Pekshev opened #3194 "WindowTitleBrush set in WindowBackgroundBrush in BaseLight theme problem"
At first I thought that it should be so, until I tried the dark theme.

I make a simple window:

![screenshot_1](https://user-images.githubusercontent.com/12638819/36469921-052ef86a-16fa-11e8-98d1-4cb6694ebbc0.png)

Next - set the value **WindowTitleBrush="{DynamicResource WindowBackgroundBrush}"** and get this result:

![screenshot_2](https://user-images.githubusercontent.com/12638819/36469966-33

[2018-02-21 08:33] dayDragon commented on #3040
Hi, suddenly found that if u make grouping in xaml on DataGrid, then Virtualisation enables by just setting ScrollViewer.CanContentScroll ="True" in DataGrid

[2018-02-21 08:56] punker76 commented on #3194
@Pekshev The `TitleForeground` is set to `IdealForegroundColorBrush` by default. So if you want the correct foreground, then set the `TitleForeGround` to `{x:Null}` or whatever you want. The `IdealForegroundColorBrush` is also set as Foreground for `WindowButtonCommands` and the `WindowCommands`.

I will look for a better way and fix this...

[2018-02-21 08:59] Pekshev commented on #3194
The problem is that the **IdealForegroundColor** always set to **White**

[2018-02-21 09:00] punker76 commented on #3194
@Pekshev It's not always white, only for the accent colors where white is the best (e.g. for yellow it's black)

[2018-02-21 09:02] Pekshev commented on #3194
@punker76
except for the white color =))

[2018-02-21 09:04] punker76 commented on #3194
@Pekshev the `IdealForegroundColorBrush` is related to the accent color! So the bug itself is not there is more at the `WindowButtonCommands` and `WindowCommands` style. I will fix this there.

[2018-02-21 09:20] Pekshev commented on #3194
So far I solved the problem so
[code]

[2018-02-21 09:28] Pekshev commented on #3194
Unfortunately, when i change the theme through them manager, the brushes change. I'll wait for the bugfix

[2018-02-22 20:16] JobaDiniz opened #3195 "BorderlessWindowBehavior turning Window Topmost when minimized and restored"
[Rolling your own window](http://mahapps.com/guides/advanced-guide.html) doesn't work anymore because of the `BorderlessWindowBehavior`.

When we override `MetroWindow` behaviors like so:

[code]

When we minimize the window, and then restore it, it becomes *Topmost* window. If we remove `BorderlessWindowBehavior`, the window behavior works just fine, that is, it doesn't become topmost window.

##

[2018-02-23 09:09] AhmadMustafaa commented on #1697
Guys did you find any solution of icon in watermark ?

[2018-02-23 23:50] maggarwal commented on #3029
This is really annoying. I have been using this library for years and all our products are signed. Now I have dilemma that should I continue to use this or look for alternatives. Hack you suggest to sign it is not ideal as it does not work in lots of scenarios. What I don't understand is what is the harm having it signed? Also, if there is an issue why not have both versions available so that you

[2018-02-24 04:03] sbrian26 commented on #3041
Drop

[2018-02-25 08:43] pwrp4j1 commented on #3103
Thanks for the help on posting this fix. Took a day to get to this thread :)

[2018-02-26 07:56] Pekshev opened #3196 "ThemeManager.ChangeAppStyle don't work when open window in thread"
Perhaps this is not a bug, but I just do not know how to do it right in this case.
When the window is initialized, I change the window theme:
[code]
But if I start the window from the thread, I get an error: **The calling thread can not access this object, since the owner of this object is another thread**
[code]

Test project I attach: https://github.com/Pekshev/MyMetroWindowThreadThemeTest

###

[2018-02-26 08:05] punker76 commented on #3196
@Pekshev The exception which you got is correct. If you create a window in a different thread, then all nested respurce dictionaries must add in the same thread. Otherwise you will get this exception. You can read a little bit bout here [`Create new MahApps window in separate thread`](http://jkarger.de/2016/01/22/create-new-mahapps-window-in-separate-thread/).

[2018-02-26 08:05] #3196 closed

[2018-02-26 08:10] Pekshev commented on #3196
I'm find better way) Just change:
[code]
to
[code]

[2018-02-28 11:03] deadmoz5er opened #3197 "How to change color of pressed button?"
How to change color of pressed button?

![default](https://user-images.githubusercontent.com/35180807/36784325-a93405ee-1c87-11e8-89bc-2a1e8e547a0d.png)

[2018-02-28 11:40] punker76 commented on #3197
@deadmoz5er You can override the different button styles at the `WindowButtonCommands`

[code]

https://github.com/punker76/code-samples/blob/117d6070e354eba504b2a1de573914ff591c2c01/MahAppsMetroWindowButtonCommands/MahAppsMetroWindowButtonCommands/MainWindow.xaml#L102-L113

[Full sample](https://github.com/punker76/code-samples#mahappsmetro-custom-windowbuttoncommands)

[2018-02-28 11:40] #3197 closed

[2018-03-02 10:37] kyelisavenko commented on #2651
Current bug is still reproduced at version 1.6.0
Environment
Windows Windows 10 64bit
Visual Studio VS2017
.NET Framework 4.6.1

[2018-03-02 13:46] MikeAtETI commented on #3116
I've found this gets you close:

`  public static class ThemeHelper
    {
        public enum ThemeChoices
        {
            Light = 0,
            Dark = 1
        }

        private static ThemeChoices GetCurrentTheme()
        {
            using (RegistryKey rv = Registry.CurrentUser.OpenSubKey("Software\\Microsoft\\Windows\\CurrentVersion\\Themes\\Personalize"))
            {

[2018-03-02 20:29] giorgiozoppi commented on #3018
How can we helo with this? a data template can be useful?

[2018-03-04 01:20] Atulin opened #3198 "Possible conflict with CefSharp.WPF and/or Newtonsoft.Json on .NET 4.5"
## What steps will reproduce this issue?

1. Create a MahApps.Metro application
2. Install MahApps.Metro.Icons NuGet
3. Install Newtonsoft.Json NuGet and its dependencies (WindowsAPICodePack-Core and -Shell)
4. Create x64 and x86 solution platforms
5. Install CefSharp.Wpf and its dependencies
6. Exit VS and open it again, open the solution

### Expected outcome

`The name MetroWindow does not exis

[2018-03-04 20:50] batzen commented on #3195
You should not use the behavior outside the constructor.
If you use it outside the constructor it will cause performance issues, early fired loaded events and other issues.

Guess the guide should be updated to reflect this.

[2018-03-05 11:33] peererror opened #3199 "Will MahApps works with Silverlight?"
I want to port my application to silverlight the application currently using MahApps .I want to ask will maha works with silverlight as it is or there any workaround.
cheers

[2018-03-05 12:20] thoemmi commented on #3199
Do you know that Silverlight is dead already? It's not supported by any major browser anymore, see [Wikipedia](https://en.wikipedia.org/wiki/Microsoft_Silverlight#Supported_platforms) and [Microsoft's list of compatible OS and browsers](https://www.microsoft.com/getsilverlight/locale/en-us/html/installation-win-SL5.html).

And back to your question: No, MahApps.Metro does not support Silverlight.

[2018-03-05 12:20] #3199 closed

[2018-03-06 03:02] HuKyle99 opened #3200 "Title bar is not collapsed when set ShowTitlebar=False on Latest Release 1.6.0"
When I setup the WPF MetroWindow, the Title bar is not collapsed when set ShowTitlebar=False on Latest Release 1.6.0
But is works on release 1.6.0-alpha0184

Here is the result of test window, release 1.6.0
![1 6 0](https://user-images.githubusercontent.com/29476900/37011990-6f182106-212d-11e8-8aa4-cc6b37905a9f.jpg)

Here is the result of test window, release 1.6.0-alpha0184
![1 6 0_alpha0184](htt

[2018-03-08 09:50] bbougot commented on #3200
Seems linked to https://github.com/MahApps/MahApps.Metro/issues/3192
@punker76 Any ETA for a fix?

[2018-03-09 12:52] gruendpk opened #3201 "NuGet Package 1.6.0 Lacks of StrongName"
Hi there,
the current available nuget package version 1.6.0 lacks of strong name. Is there any good reason why not signing it?
The same issue targets the new dependency ControlsEx.

Exception on application start:
`Additional information: Could not load file or assembly 'MahApps.Metro, Version=1.6.0.362, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is

[2018-03-09 13:35] thoemmi commented on #3201
Please see the [release notes for v1.6](https://github.com/MahApps/MahApps.Metro/releases/tag/1.6.0):

[2018-03-10 12:25] #3201 closed

[2018-03-10 12:28] punker76 commented on #3198
@Atulin This is caused by a VS designer issue. If you choose the x64 as the target, then the designer will not work correctly.

[2018-03-12 13:01] Unlockedluca commented on #2994
did anyone found a workaround for this issue?

[2018-03-13 12:12] uknickwilliams opened #3202 "NU1602 Build Warning in 1.6.0"
After updating to version 1.6.0 I am getting build warnings when building using Visual Studio 15.6.

**NU1602**
`MahApps.Metro 1.6.0 does not provide an inclusive lower bound for dependency ControlzEx (> 3.0.2 && < 4.0.0). An approximate best match of ControlzEx 3.0.2.4 was resolved.`

## What steps will reproduce this issue?

Create a new WPF application. Install MahApps.Metro 1.6.0. Build. Warni

[2018-03-13 13:31] alovegit commented on #3200
Not ideal, but as a workaround you can set TitlebarHeight="0".

[2018-03-13 19:35] gmbeas commented on #2560
complete solution pls =(

[2018-03-13 19:45] tokm opened #3203 "Missing System.Windows.Interactivity in nuget package"
System.Windows.Interactivity used to be included in the nuget package.  In version 1.5 it is included, but 1.6 does not.  Since I make use of this for behaviors my build does not compile when I updated to v1.6 via nuget.

If you download and open the nuget package for v1.6 here and open it in 7-zip you can see the dll is no longer included.
https://www.nuget.org/api/v2/package/MahApps.Metro/1.6.0

[2018-03-13 19:56] punker76 commented on #3203
@tokm It comes now with the [ControlzEx](https://github.com/ControlzEx/ControlzEx) package which is a dependency since 1.6

[2018-03-13 19:56] #3203 closed

[2018-03-13 19:58] tokm commented on #3203
So if it's a dependency wouldn't it install when I upgraded the nuget package from 1.5 to 1.6?  After the upgraded nuget package the reference for System.Windows.Interactivity disappears from my project.

[2018-03-13 20:40] thoemmi commented on #3203
Please try to add [ControlzEx](https://www.nuget.org/packages/ControlzEx) as an explicit dependency to your project.

[2018-03-13 20:44] tokm commented on #3203
I think the problem is the dependency install order.  I see the controlez package but no system.windows.interactive.dll in my references. Maybe it gets updated when controlez is installed but removed when mahapps.metro 1.5 is uninstalled.

________________________________
From: Thomas Freudenberg <notifications@github.com>
Sent: Tuesday, March 13, 2018 4:41:10 PM
To: MahApps/MahApps.Metro
Cc: tokm

[2018-03-13 21:54] #3202 closed

[2018-03-13 21:55] #3188 closed

[2018-03-15 09:18] scccboom opened #3205 "NumericUpDown watermark align not working"
[code]
This control in flyout, and flyout position property is left.
Open flyout, NumericUpDown watermark align is right.

### Environment

- MahApps.Metro __v1.6.0.150
- Windows OS 8.1 64bit
- Visual Studio __2015
- .NET Framework 4.6

[2018-03-15 09:44] punker76 commented on #3205
@scccboom You must set `HorizontalContentAlignment="Stretch"` to get what you want, cause the styling default is `Right`.

[2018-03-15 09:44] #3205 closed

[2018-03-16 09:26] feO2x commented on #2625
I would like to add some thoughts on this topic as I find it not to be trivial: I think there should be two controls instead of just one, serving different scenarios:

1. In the first case the context is to select a single item from a collection of items (e.g. some sort of ID). The user can start to type and a popup shows up narrowing down the items shown based on some search / filter algorithm. T

[2018-03-17 17:10] remiX- opened #3206 "ShowTitleBar hides title but space is still being occupied"
Hey, so this is had me for the past day until I finally figured out the issue was from upgrading to 1.6.0+

It works fine on 1.5.0
![v1 5 0](https://user-images.githubusercontent.com/2831747/37558058-c516d808-2a16-11e8-9f10-6007386e262e.png)

But not on 1.6.0/1
![v1 6 1](https://user-images.githubusercontent.com/2831747/37558059-cb75a314-2a16-11e8-860d-dc49b4f57599.png)

The text should be centere

[2018-03-19 07:33] Pekshev commented on #3206
It's the same issue - https://github.com/MahApps/MahApps.Metro/issues/3192

[2018-03-19 07:37] punker76 commented on #3200
Duplicate of #3192

[2018-03-19 07:37] #3200 closed

[2018-03-19 07:37] punker76 commented on #3206
Duplicate of #3192

[2018-03-19 07:37] #3206 closed

[2018-03-20 21:08] Malavos commented on #3198
@Atulin  I also tried to check over if Newtonsoft could cause any crashes related to the one reported by you, but I didn't see anything coming up. I guess what punker answered is precise. Can we close this up?

[2018-03-20 21:56] Atulin commented on #3198
Since it cannot be reproduced otherwise, I'd say so.

[2018-03-20 21:56] #3198 closed

[2018-03-21 20:22] wojtpl2 commented on #3192
There is a workaround?

[2018-03-22 07:42] scccboom opened #3207 "How to set fix watermark ?"
When text is empty, like this

| Watermark            |
|--------------------|
| Waiting for input   |

[2018-03-22 08:02] punker76 commented on #3207
@scccboom You can set a watermark by using the `TextBoxHelper` helper class

[code]

with `xmlns:Controls="http://metro.mahapps.com/winfx/xaml/controls"`.

[2018-03-22 08:02] #3207 closed

[2018-03-22 08:18] scccboom commented on #3207
@punker76 un! I want the watermark to float when there is no input.

[2018-03-22 08:27] punker76 commented on #3207
@scccboom Then you can use `Controls:TextBoxHelper.UseFloatingWatermark="True"`

[2018-03-22 08:46] scccboom commented on #3207
@punker76 I hope like this
![textbox](https://user-images.githubusercontent.com/12345850/37759996-52b11b9c-2df0-11e8-9d93-ee8c8054b561.jpg)

[2018-03-22 08:49] punker76 commented on #3207
@scccboom that's not possible.

[2018-03-22 17:06] AndrzejKl commented on #2625
In my case I use it only as an pop up - it means that it suggest but without obligation to select it (like textbox, but with validation - is empty or not). Filtering combinations are important. I use it also for an objects (DisplayMemberPath) together with validation (item is an object or not).
So what I missing in wpfToolkit AutoCompleteBox is MahApps features (watermarks, etc.). That's why I was

[2018-03-24 22:40] strican commented on #2319
Why was this closed? The DPI helpers were added in [.NET 4.6.2](https://msdn.microsoft.com/en-us/library/system.windows.media.visualtreehelper.getdpi(v=vs.110).aspx). .NET 4.5 apps still need to do this manually.

[2018-03-24 22:51] Insire commented on #2319
because you can add DPI awarenes via an app.manifest file. @punker76 linked a repo containing a sample for that.

[2018-03-25 09:30] Pekshev opened #3209 "TextBox IsEnabled windows 10 style"
Hey. This is not a problem - this is an offer. In windows 10 for TextBox, this style is used if it is not available:
![image](https://user-images.githubusercontent.com/12638819/37873582-4353036a-3028-11e8-8022-a47d2bd51228.png)

Perhaps it's worth adding this feature to TextBoxHelper

[2018-03-26 03:37] Pirajew opened #3210 "Question: Will The Official Website & NuGet Be Updated With 1.6.0"
Just wondering, because it's been on 1.5.0 for a year now, but on GitHub it says you've entered version 1.6.0

[2018-03-26 11:44] Pekshev opened #3211 "Different Header height in DataGrid without columns"
If i create two DataGrids - first with columns and second without columns - header size will be different:

![screenshot_22](https://user-images.githubusercontent.com/12638819/37904328-1ed07efa-3104-11e8-88af-153c17f65440.png)

[2018-03-26 13:11] lagwagon667 opened #3212 "ProgressRing does not collapse if IsActive="False""
I recently updated my project from MahApps 1.5 to 1.6.1 and discovered that the `ProgressRing ` control does not collapse anymore, when its  `IsActive`property is set to `False`.

Since I position this control on top of other controls, I cannot interact with the underlying controls anymore, or at least not with the parts that are covered by the progress ring.

I think this behavior change is a bug

[2018-03-26 13:12] lagwagon667 commented on #3192
Maybe #3212 is related

[2018-03-26 15:16] Deadpikle commented on #3210
Can't answer about the website, but NuGet is already set to 1.6.1. See [here](https://www.nuget.org/packages/MahApps.Metro/).

[2018-03-26 15:28] thoemmi commented on #3210
I guess @Pirajew refers to http://mahapps.com/news/

[2018-03-27 02:16] Pirajew commented on #3210
@thoemmi Yes, that is what I was referring to.

[2018-03-27 05:33] ahmedflix25 commented on #3210
also the documentation there is very old very weak very basic

[2018-03-28 06:16] punker76 commented on #3210
@Pirajew 1.6.0 and 1.6.1 release notes now added http://mahapps.com/news/
@ahmedflix25 I know and I'm working on it.

[2018-03-28 06:16] #3210 closed

[2018-03-28 07:15] Desomph commented on #3101
Thanks a lot for the fix, for anyone stumbling upon this here's a complete example (**with 1.6.1**) extending on @punker76 [blog post](http://jkarger.de/2017/12/10/disabled-button-foreground/) and [these changes](https://github.com/MahApps/MahApps.Metro/commit/12efeaa0705ec48d5562a85c94f5c0aa68e6f60c)  by using global styles:

[code]
On the left side is the enabled button, on the right side are 3

[2018-04-03 09:10] Suplanus commented on #1694
Here is a solution (thanks to Jan). Padding is neccessary for the corners of the button:
[code]

[2018-04-03 17:41] Retik opened #3214 "ShowMessageAsync throws when cancelled"
## Description

I am unable to cancel a dialog created using DialogCoordinator.Instance.ShowMessageAsync() without getting an exception with the message "The calling thread cannot access this object because a different thread owns it." I've tried with and without using Dispatcher.Invoke.

## What steps will reproduce this issue?

1. Create an instance of MetroDialogSettings with CancellationToken

[2018-04-05 11:01] ahmedflix25 commented on #3184
?!!!!!!!!!!!!!!

[2018-04-11 15:37] Symbai opened #3215 "[Feature request] NumericUpDown - Hexdecimal input mode"
I would like an option to allow hexdecimal input in the NumericUpDown control besides of numerics and decimals. I haven't filled out the issue template since this is not a bug report, hope that's okay.

//edit: The reason I'm asking for is that with stringformat we can format the value as hex but there is no option to allow hexdecimal input. For example the user cannot enter "1A" himself.

[2018-04-12 06:08] SkinnySackboy opened #3216 "1px to the left of the LeftWindowCommands"
Hi,

On the latest version (this definitely wasn't an issue in the past) there is a 1px margin to the left of the LeftWindowCommands which appears even if no icon is specified. Would it be possible to revert to the old behaviour and not have this 1px margin?

Cheers!

[2018-04-12 07:37] punker76 commented on #3216
@SkinnySackboy This is caused by the inner `Margin` of the `WindowCommandsItem`. This exists since 1.5.0, before it was a 8 pixel gap.

https://github.com/MahApps/MahApps.Metro/blob/040ba4ea0129d34e1832c2e81422138d77e08cb1/src/MahApps.Metro/MahApps.Metro/Themes/WindowCommands.xaml#L122

The difference now is, that the Border of the Window is now correct interpreted (this was wrong in 1.5). So in 1

[2018-04-12 09:32] SkinnySackboy commented on #3216
Thanks, so you mean in the future I should be able to set the margin directly and it should work?

`<mahAppsControls:WindowCommands Margin="0">`

[2018-04-15 18:41] batzen commented on #3192
@bbougot This is open source. If you need a fix ASAP, fix it yourself and create a pull request.

[2018-04-15 18:42] bbougot commented on #3192
@batzen Am I supposed to know how to fix it?

[2018-04-15 18:43] batzen commented on #3192
@bbougot Is anyone supposed to fix it for you if you need it ASAP?

[2018-04-15 18:49] bbougot commented on #3192
No, I am only highlighting this is a very handicapping issue and, regarding the impacted users and the fact it has been living for a long time (release > 1.5),  it should be considered as highly prioritized. No more less.

[2018-04-15 18:58] batzen commented on #3192
Then add your reaction through the reaction function.
This project is maintained in the peoples spare time, so don't add pressure on them by saying "Really need to see a fix and a NuGet release".

If you think it takes too long to fix the issue then jump in and fix the issue.

Regarding priority, it impacts you but by far not everyone else. It only impacts people using this particular feature.

[2018-04-17 17:51] dkhughes opened #3217 "NumericUpDown Parses Decimal Value Incorrectly"
The NumericUpDown control is improperly parsing a decimal value that is entered with no leading zero in the en-US culture. For example, .1 becomes 1.0, 0.105 becomes 105, etc.

## What steps will reproduce this issue?

This is a really easy issue to reproduce. An entire working example showing the failure is:
[code]

### Expected outcome

We expect the parsed value to match the value that double.P

[2018-04-17 18:35] shon3322 opened #3218 "Enhancement Request: HamburgerMenu customization"
It turned out a handy control, but it does not have enough customization.
![screenshot_1](https://user-images.githubusercontent.com/19240430/38900441-2563dd14-42a4-11e8-8eea-97a0bc37c6be.png)
Here best to add a basic customization as Style of HamburgerMenuItem for each item, it would be nice to inherit HamburgerMenu from TabControl and HamburgerMenuItem from TabItem or something like that.

[2018-04-18 13:12] yeasin90 opened #3219 "RangeSlider with more than two thumbs"
Hi,

Is it possible to have a vertical RangeSlider with more than two thumbs?

[2018-04-18 14:30] yeasin90 opened #3220 "Change orientation of Slider"
Is it possible to transform the orientation of a Vertical Slider. Which means,

from this (default) :
![slider2](https://user-images.githubusercontent.com/8789577/38938414-467afda4-4347-11e8-832c-a06ac1d60b19.JPG)
to this :
![slider1](https://user-images.githubusercontent.com/8789577/38938424-4c60904e-4347-11e8-87d3-d006d2f75bb6.JPG)

[2018-04-18 14:35] #3220 closed

[2018-04-18 14:53] QuantumDeveloper commented on #3219
RangeSlider is not designed for this now

[2018-04-21 15:24] Symbai opened #3223 "IsAnyDialogOpen not working for Childwindows"
IsAnyDialogOpen property is set to false although a child window is shown using the ShowChildWindowAsync by the MahApps.Metro.SimpleChildWindow extension

## What steps will reproduce this issue?

[code]

### Expected outcome

Property should return TRUE if there is a child window shown. Otherwise there should be another property for it.

### Environment

- MahApps.Metro 1.6.1
- MahApps.Metro.Simp

[2018-04-21 20:13] #3223 closed

[2018-04-21 20:13] punker76 commented on #3223
@Symbai moved this issue to https://github.com/punker76/MahApps.Metro.SimpleChildWindow/issues/73

[2018-04-24 11:26] Symbai opened #3224 "NumericUpDown ignores value change with stringformat if only the number is selected"
Select value and enter text by hand will be completely ignored if stringformat is used and the user only selects the value but not everything.

Example:
`StringFormat=" {0} mb "`

If user not selects 'mb' as well, the value will be ignored. This is problematically since the focus on double click is automatically set only to the value.

## What steps will reproduce this issue?

Attached example pro

[2018-04-25 10:33] Kumar2Harsh commented on #2752
var metroDialogButton = new MetroDialogSettings()
            {
              DefaultButtonFocus=MessageDialogResult.Affirmative
            };

[2018-04-25 14:25] Fanny-x opened #3226 "框选"
请问有模拟window操作系统进行框选的操作吗
请问有模拟window操作系统进行框选的操作吗

[2018-04-25 14:34] #3226 closed

[2018-04-25 15:06] neilt6 opened #3227 "ThemeManager: dynamic accents only work once"
I'm trying to use `ThemeManager` to set dynamically-generated accents like so:

[code]

This works the first time, but the second time I get a null reference exception from line 372 in ThemeManager.cs:

[code]

The line fails since the dynamically-generated resource dictionary has a null `Source` property.

[2018-04-25 15:10] punker76 commented on #3227
@neilt6 You must add your custom accent to the `ThemeManager`, so then it is known by them.

[code]

[2018-04-25 15:13] neilt6 commented on #3227
@punker76 The accent is using a dynamically-generated resource dictionary, so it has no Uri.

For what it's worth, my goal here is to automatically adopt the Windows 10 accent color.

[2018-04-25 16:46] neilt6 commented on #3227
@punker76 I'm aware of that sample, and in fact my code is based on it. However, I don't think we should be required to save a dynamically-generated resource dictionary to disk and reload it just to sidestep what's clearly a bug.

[2018-04-25 18:23] avechuche opened #3228 "Feature request - Change visibility in expander toogle button"
Hello, is it possible to add an option that can change the "Visibility" property in the toogle button of an expander? something like **Controls: ExpanderHelper.ToogleButtonVisibility="Collapse"**
Of course, it can be expanded by clicking on the row. Thx

[2018-04-25 19:55] #3192 closed

[2018-04-26 10:26] RegisLaine opened #3229 "TransitioningcontentControl animation and DataValidation"
## What steps will reproduce this issue?

_When I use transitioningContentControl in my wizardApp the validation and especially Error Template appears before the end of the animation played by transition which is unsightly._

The following URL is an animated GIf to expose the problem :

![Issue](http://blogdeployment.fr/wp-content/uploads/2018/04/Mahapps_Transition_ErrorTemplate.gif)

### Expected

[2018-04-26 10:46] punker76 commented on #3229
@RegisLaine Try to put your content inside an `AdornerDecorator`

[code]

[2018-04-26 11:56] RegisLaine commented on #3229
It works like a charm :-)
Thanks a lot !

[2018-04-26 11:56] #3229 closed

[2018-04-26 16:29] neilt6 commented on #3116
This should get you what you want, provided you're ok with [bringing in some UWP dependencies](https://docs.microsoft.com/en-us/windows/uwp/porting/desktop-to-uwp-enhance):

[code]
`UISettings` even has a convenient `ColorValuesChanged` event that's fired when the accent color changes. However, setting the accent this way will only work once right now due to the way `ThemeManager` handles runtime-

[2018-04-26 16:50] lostmsu commented on #3116
BTW, thank you guys for providing code samples. The most important idea of this bug though is that this should be the default behavior.

[2018-04-30 20:58] #3227 closed

[2018-05-03 05:38] raytangRT opened #3236 "DataGrid with groupstyle shows errors"
## What steps will reproduce this issue?

DataGrid with groupstyle shows the following errors

Related Issue #2356

[code]
### Expected outcome

No error shown

### Repo

[repo](https://github.com/raytangRT/MahApps.Metro.DataGridGroupStyleError)

### Environment

- MahApps.Metro __v1.6.1__
- Windows OS __Windows 7__
- Visual Studio __2013__
- .NET Framework __4.5__

[2018-05-03 17:01] JVimes opened #3237 "Apply MahApps styling to control from non-MahApps library"
## What steps will reproduce this issue?

I'm using a control from a library. The library doesn't use MahApps.Metro. The library applies a style `BasedOn="{StaticResource {x:Type GroupBox}}"`, which seems to circumvent MahApps styling for GroupBoxes in the library's controls. Is there a way to get the Metro styling for GroupBoxes in the library? This might be a WPF limitation, but wanted confirmat

[2018-05-04 13:07] hudec117 opened #3238 "FlatSlider height not working"
## What steps will reproduce this issue?

Setting the `Height` property on a `Slider` with the `FlatSlider` style changes the height of the control but not of the slider itself.

In the following example, I set the `Height` to 30. As you can see the slider keeps the same height, but the designer shows that the control has grown to 30 pixels in height.

![1.6.2 example](https://raw.githubuserconten

[2018-05-04 22:37] simpert commented on #3029
What a bummer. I too have been using MahApps for a few years now and the projects I am working on, COM Addin, require all assemblies to be signed. Putting things in GAC to prevent from needed to simply sign assemblies is not ideal for me. I am in the team of what's the harm. It takes 2.5 seconds in Visual Studio to sign the source and if you think that it is ideal to offer assemblies up through nu

[2018-05-05 07:07] NZSmartie opened #3239 "Customising HamburgerMenu"
The HamburgerMenu is designed for Windows Metro theme. But lacks the ability to customise (i guess themes it up) for MaterialDesign.

For example, [MaterialDesign's Navigation Drawer](https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior) uses a separate colour for the hamburger menu button and the menu items
![image](https://user-images.githubusercontent.com/10

[2018-05-05 13:08] hudec117 commented on #3238
I don't know if it's intentional but the height of the track is set to the minimum height of the slider here:
https://github.com/MahApps/MahApps.Metro/blob/47c34962fc96b465092ae1a5b31e201c7a5fe530/src/MahApps.Metro/Styles/FlatSlider.xaml#L87

Given this, a work-around can be achieved by setting both the `MinHeight` and `Height` properties on the `Slider` to the same value. This will produce the sa

[2018-05-05 18:23] touyets opened #3241 "Setting a HamburgerMenu.Content is giving a nullexception error"
Sometimes, if i click too fast between the menus on a hamburgermenu, this section of the code behind launches a nullexception error:

[code]

I have looked at outputs and clicking the menus is delivering the correct outputs with the code below:
[code]

but the _OnNavigated part marked above will give a null error without me being able to find out why.

UPDATE: It is now happening now every time I

[2018-05-07 19:56] avechuche opened #3242 "Frozen DataGrid row"
Hello, is it possible to add to mahapps the option to freeze the last row of a datagrid? To show results of the sum of the elements, for example. Thx

https://msdnshared.blob.core.windows.net/media/MSDNBlogsFS/prod.evol.blogs.msdn.com/CommunityServer.Components.PostAttachments/00/09/02/72/84/DataGrid_V1_FrozenRowSample.zip

[2018-05-08 15:30] Vincentore opened #3243 "DataGridColumnHeader IsReadOnly Style"
Hello,

the DataGrid columns dont show that the column is readonly.
It would be nice to see that the user can not edit a specific column/values.

It should use the theme colors (Like Blue on changeable columns and grey on readonly columns)

[2018-05-08 19:04] bbougot opened #3244 "RightWindowCommands no more visible when ShowTitleBar is False"
Starting from MahApps 1.6.2, setting **ShowTitleBar** to _False_ along with **RightWindowCommands** does not work anymore. The RightWindowCommands is not shown whereas it should be.

### Expected outcome

The RightWindowCommands should always be visible, like it was before and behave the same than WindowButtonCommands.

### Environment

- MahApps.Metro __v1.6.2__
- Windows OS __16299__
- Visual St

[2018-05-10 15:38] #3238 closed

[2018-05-10 23:28] JVimes opened #3245 "Debugging fresh clone gives "RunCommand property is not defined""
I can successfully build the latest develop branch [commit](https://github.com/MahApps/MahApps.Metro/commit/d99b032a82cc5c52ae48642c6f110ac74ae48062), but when I try to debug I get the following error (manually running `.paket\paket restore` made no difference).

![image](https://user-images.githubusercontent.com/6148201/39898686-17b30536-5475-11e8-851a-786b7eab378b.png)

## What steps will reprod

[2018-05-11 10:40] punker76 commented on #3244
@bbougot It's more a combination with a feature and a bug (which I fixed now). Normally if you set the `ShowTitleBar` to false then all window commands except the button window commands should be collapsed. If you don't want this, then you can set then `LeftWindowCommandsOverlayBehavior` and `RightWindowCommandsOverlayBehavior` to `HiddenTitleBar` or `Always` to force it to shown.

[2018-05-11 10:40] #3244 closed

[2018-05-11 20:59] punker76 commented on #3245
@JVimes This sounds like a bug with the new msbuild sdk together with VS and WPF projects...

[2018-05-14 10:46] punker76 commented on #3238
@seb30 uups

[2018-05-14 10:47] punker76 opened #3248 "Thumb in FlatSlider is gone"
Thumb in FlatSlider is gone

1.6.2.
![mahapps metro 1 6 2_thumb](https://user-images.githubusercontent.com/28293949/39991996-a11d77bc-5771-11e8-8a69-6d8a8ea46a14.png)

1.6.3
![mahapps metro 1 6 3_thumb](https://user-images.githubusercontent.com/28293949/39992000-a3cc3796-5771-11e8-8097-03425c129efc.png)

[2018-05-14 11:46] ahmedflix25 commented on #3184
updated

[2018-05-14 16:59] JVimes commented on #3245
Okay, if I get a minute, I'll see if I can narrow it down.

[2018-05-14 20:40] #3248 closed

[2018-05-16 07:15] programatix commented on #3244
In version 1.6.4, if I set ```ShowTitleBar``` to false, and ```RightWindowCommandsOverlayBehavior``` to ```Always```, then a white background title bar would appear. Previously, in older version, the commands overlay blend into the window.

[2018-05-16 07:17] Nova669 opened #3252 "Close Dialog with Alt + F4"
When we use MetroWindow.ShowMessageAsync(...) we want to close the dialog when the user presses Alt+F4.
In other programs (for example Word/Excel etc.) this behaviour is implemented and we want to get the same in our application.

Maybe it should be possible to pass a keyhandler to the ShowMessageAsync().

### Expected outcome

Dialog closes with same result as ESC.

### Environment

- MahApps.Met

[2018-05-16 11:15] kszabolcs commented on #3241
I have experienced the same. And one more thing: _ItemInvoked and _ItemClick will always raise, if I change the selection index with buttons. For example: I set the focus with Tab button to the MenuItems and change the selection with arrow buttons (up and down), then the _ItemInvoked and _ItemClick events will always raised, however I didn't clicked on the button. I think it's a problem too.

[2018-05-16 12:02] kszabolcs commented on #3241
I think, the selection and the click event have to be two different event. For example let's say I don't have a mouse (ok, I know this is very extreme, but it's a possible case) and I want to click on the third menu item. Firstly I need to set the focus to the MenuItems with Tab button, then set the selection to the third button with the arrow buttons and when it will be selected then possible to

[2018-05-18 08:02] seb30 commented on #3238
Did you plan to change this? Or is this more a feature than a bug?

[2018-05-18 08:34] punker76 commented on #3238
@seb30 oh, it's already fixed #3248 and released in [v1.6.4](https://github.com/MahApps/MahApps.Metro/releases/tag/1.6.4)

[2018-05-18 08:36] seb30 commented on #3238
@punker76 Thank you!

[2018-05-19 12:44] ahmedflix25 commented on #3184
updated

[2018-05-20 06:51] GreatFireWall commented on #510
need this feature too.

[2018-05-23 20:19] Malavos commented on #510
I would plan this out, but it's not a urgent issue.  There are [some bugs](https://github.com/MahApps/MahApps.Metro/issues?q=is%3Aopen+is%3Aissue+label%3ABug) we need to check first. I will continue contribuing soon, but my backlog [is this issue here](https://github.com/MahApps/MahApps.Metro/issues/2808).

[2018-05-24 16:55] fjlaga opened #3253 "Theme names and Accent names not localized"
**Description**
My app uses the ThemeManager to allow the user to specify the colors. My app also supports localization. After setting the Windows display language to a non-English language (Spanish, German, Chinese, etc...) the Theme and Accent names are not localized.

This is because the names are hard-coded in ThemeManager.cs:

` var colors = new[] {
                                       "Red

[2018-05-29 19:05] sleman opened #3255 "MetroWindow Invisible with Windows 10 April 2018 Creator's Update 1803"
**Describe the bug**
My app's main window is invisible after upgrading to win 10 april 2018 creator's update 1803.

**To Reproduce**
Set MainWindow.xaml to

`<controls:MetroWindow x:Class="a.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:mc="http://schemas.openxmlformats.org/ma

[2018-05-29 20:45] punker76 commented on #3255
@sleman Can you try update your app to use MahApps v1.6.4 (the latest)?

[2018-05-29 22:47] sleman commented on #3255
Just did. Updated from nuget. Same issue.

[2018-05-29 22:54] punker76 commented on #3255
@sleman mh, I have no problems with 1803 on my machine ™️ Do you do something special in code behind or Xaml of the main window or the application?

[2018-05-30 13:41] sleman commented on #3255
It's very strange. I only see the issue on one machine and not on another. Trying to figure out what's different.

[2018-05-30 14:59] lagwagon667 opened #3257 "ScrollBar-Buttons of AnimatedSingleRowTabControl possibly too small"
**Problem description**
The style for the `TabControl` from the `Controls.AnimatedSingleRowTabControl.xaml` possibly has a flaw concerning the `RepeatButtons` used to initiate a scroll action. As highlighted in the screenshot attached, the width of the `ScrollBar` and thus the `RepeatButtons` included is very limited therefore its hard for users to initiate a scroll action in my opinion.

This beh

[2018-05-30 16:44] Antonyo commented on #3255
We have also some users reporting similar issue after Windows 10 April update. In our case the border of the window is still shown, maybe because we use a glowindow border.

One user reported fixing it by forcing software rendering:

`RenderOptions.ProcessRenderMode = Global.Settings.ForceSoftwareRendering`

Our configuration is:

- MahApps.Metro v1.2.4.0
- .Net Framework 4.5.2
- 64bit application

[2018-05-30 21:35] punker76 commented on #3255
@Antonyo Please try with the latest version 1.6.4 again. What window properties did you set in Xaml and code behind? Any other special stuff like setting `AllowsTransparency` to true or something else? Can you create a short simple App with latest MahApps version and test it on the failing machine?

[2018-05-31 21:14] sleman commented on #3255
Updated machine's graphics card drivers from Intel's website and window appears fine now.

[2018-05-31 21:15] #3255 closed

[2018-06-01 09:11] ferstljo opened #3258 "[Question] Always keep Metro Dialog in front of screen in WPF application"
Hello there,

I'm pretty new to WPF and the Metro styling and I ran into the following problem:

I open all my message dialogs from the main window of my application by calling ShowMessageAsync()., even when the actual caller is another window (e.g. a settings window). Now when for example this settings window is open and wants to show a message that the settings have been saved, the dialog appear

[2018-06-03 15:07] deadmoz5er opened #3259 "Styling context menu"
How to style menu item context menu?

This code don`t work
[code]

[2018-06-03 19:09] #3259 closed

[2018-06-04 12:53] jean309 commented on #3253
I agree; it's also a problem for me

[2018-06-04 12:59] punker76 commented on #3253
I think this is not an assignement for this lib. These names are also the keys for the resource dictionaries.

[2018-06-04 16:47] tiagolimabastos opened #3260 "MahApps.Metro custom dialog"
When I click on a row in a Datagrid I would like to open a simple dialog with its content, a text box do edit and a button.
I also want to add a method by clicking the button in that Dialog.

Many thanks

[2018-06-05 07:55] Stephen-Ross commented on #3215
I've created a PR which covers this in #3256 as this is something that I also require.

[2018-06-05 10:37] #3253 closed

[2018-06-07 14:36] JobaDiniz opened #3261 "BadgeControl does not respect size properties"
**Describe the bug**
No matter what I set in width, height, max-height, max-width, the badged always stays the same size... Even when I set `FontSize` of the content within the bagde, the bagded does not "shrink" to its content.
Maybe the constraint that cannot be changed is in [these lines](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Themes/Badged.xaml#L46-L47)

**Expe

[2018-06-07 21:03] #3215 closed

[2018-06-07 23:33] makingbloke opened #3262 "DropDownButton/SplitButton mouse over still works despite CanExecute of a Command returns false"
Hi,

I have the following XAML:

`
<DropDownButton Width="55" Height="45" ToolTip="Save Attachments" Command="{Binding AttachmentsCommand}" ItemsSource="{Binding AttachmentsMenu}" />
`

AttachmentsCommand is a RelayCommand (I'm using MVVM Light). If the CanExecuteAttachmentsCommand function returns false then the button part of the DropDownButton is disabled, but the DropDown arrow still changes c

[2018-06-08 20:34] MikelThief commented on #3260
Too lazy?

https://mahapps.com/controls/dialogs.html

[2018-06-11 09:13] andy294 opened #3263 "Possible NullReferenceException in GlowWindowBehavior"
Missing cleanup in MahApps.Metro.Behaviours.GlowWindowBehavior leads to possible NullReferenceExceptions.

**To Reproduce**
1. Add code for reproducing the issue:
a. Open MetroDemo.MainWindow.MenuWindowWithGlowOnClick in VS
b. Add `StylizedBehaviors.SetBehaviors(w, null);` before `w.Show();`
2. Start the demo application
3. Go to "Window" => "Window with glow" => NullReferenceException in GlowWind

[2018-06-11 09:16] punker76 commented on #3263
@andy294 There will be a re-write of the GlowWindow in [ControlzEx](https://github.com/ControlzEx/ControlzEx/pull/46), so I will close this here.

[2018-06-11 09:16] #3263 closed

[2018-06-11 10:00] xxMUROxx opened #3265 "MetroDialogSettings is not settable within a style"
**Describe the bug**

It is not possible anymore to set the metrodialogsettings within a style. Up to 1.5.0 it was possible

**To Reproduce**
Steps to reproduce the behavior:

    <Style x:Key="MyWindowsStyle" TargetType="{x:Type mahapps:MetroWindow}">
      <Style.Setters>
        <Setter Property="MetroDialogOptions">
          <Setter.Value>
            <dialogs:MetroDialogSettings ColorScheme=

[2018-06-11 13:01] fredericoregateiro opened #3266 "Add InterceptMouseWheel to DataGridNumericUpDownColumn"
**Is your feature request related to a problem? Please describe.**
The DataGridNumericUpDownColumn control does not expose the InterceptMouseWheel property, it's always true

**Describe the solution you'd like**
The DataGridNumericUpDownColumn control should have the InterceptMouseWheel, and the InterceptArrowKeys and Speedup properties for binding.

**Additional context**

**Closed Issues**

[2018-06-13 00:43] oriolmortem opened #3267 "Datagridnumericupdown: change default currency per row, based on a currency cell, via MMV"
**Is your feature request related to a problem? Please describe.**
I want to ask you how to change the default currency showed in a datagridnumericupdown cell, based on the currency setted in a cell of the same datagrid.
Thank you

[2018-06-14 20:30] #3189 closed

[2018-06-14 20:30] #3217 closed

[2018-06-14 20:30] #3224 closed

[2018-06-14 20:48] punker76 commented on #3245
@JVimes Is this still an issue for you?

[2018-06-14 21:38] AmirGaraje commented on #349
Thanks

[2018-06-14 22:46] JVimes commented on #3245
@punker76 It's still an issue. Unfortunately I haven't had time to investigate. I'm up to v15.7.3 of Visual Studio. Let me know if there's anything you'd like me to try.

[2018-06-15 01:36] Motorcure opened #3269 "how to reset the window position when used SaveWindowPosition"
I am having an issue where having SaveWindowPosition="True" and causes layout issues. Is there a way to reset the window position?

BTW,where is the settings saved?

[2018-06-15 12:21] PorreKaj commented on #3018
Having subitems to hamburgermenus would be a great feature, it would save me from doing a custom tabcontrol on most pages..

like a 2 level treeview

[2018-06-15 12:41] midium81 commented on #3244
As programatix say, even with that overlay behavior set, the buttons didn't overlay into the window like it happens for the WindowButtonCommands, they actually restore the entire title bar that was supposed to be hidden having set ShowTitleBar to false.

[2018-06-15 12:51] midium commented on #3244
I confirm what programatix say, the behavior didn't work as expected, when the behavior is set the title bar is simply show even if the ShowTitleBar is set to false

[2018-06-16 00:35] matmiranda opened #3270 "Bug - Method "ShowMessageAsync " showing 2 times"
Follow code:

[code]

The problem is in this code below (showing dialog 2 times):

[code]

I need to change the value of the textbox, without triggering event Textbox_TextChanged.

[2018-06-16 15:19] #3270 closed

[2018-06-19 13:54] jammerxd opened #3271 "DataGridCheckBoxColumn databinding and Style Ref #2675"
When using the DataGridCheckBoxColumn or DataGridTemplateColumn with a checkbox the expected behavior was that clicking on the checkbox regardless of whether or not the row is selected, would check or uncheck the box and update the property binding accordingly. However, we found that when we apply the MetroDataGridCheckBox style either via `Style="{DynamicResource MetroDataGridCheckBox}"` or via `

[2018-06-19 13:58] punker76 commented on #3271
@jammerxd You can use the `DataGridHelper.EnableCellEditAssist` attached property to allow a single click on the checkbox.

[2018-06-19 13:58] #3271 closed

[2018-06-19 19:12] punker76 opened #3272 "Wrong FileVersion and AssemblyVersion for v1.6.4"
**Describe the bug**
The latest MahApps release v1.6.4 contains wrong versioned assembly files (dll's).

**To Reproduce**
Run the following powershell script at command line

[code]

and extraxt the generated NuGet package file inside the `Publish` folder. After that look to the file infos which shows us the wrong version 1.6.0.

The version should be v1.6.4

**Environment(please complete the foll

[2018-06-19 19:35] #3272 closed

[2018-06-20 07:25] auxua opened #3273 "[Build] Not building "CustomValidationPopup does not exist""
Building the MahApps.Metro project (commit cb92648) results in error

`"CustomValidationPopup" does not exist in namespace "http://metro.mahapps.com/winfx/xaml/controls`

The  error was reproduced on multiple machines with

Windows 10 Build 16299
Visual Studio 2017 Professional (15.7.4)
.Net Framework SDKs for 4.6.1, 4.6.2, 4.7, 4.7.1

We tried on three different machines with the same software se

[2018-06-20 07:28] punker76 commented on #3273
@auxua Appveyor and local build works, so what are you exactly doing? Building MahApps inside your app? Or standalone?

[2018-06-20 07:34] auxua commented on #3273
Standalone, clean clone from this repo using the Visual Studio build pipeline

[2018-06-20 08:33] punker76 commented on #3273
@auxua Does this also happen if you run `powershell .\build.ps1` inside the `src` folder? (Can you also try to clone the rep again before you build it?)

[2018-06-20 08:54] auxua commented on #3273
When using the ps1 script I get an error durcing the Restore chapter  naming, that the target restore is not existing in the project (MSB4057)

[2018-06-20 11:09] alvpickmans opened #3274 "No components found on dll when adding to Toolbox"
**Describe the bug**
MahApps Controls not found when loading to Toolbox panel on Visual Studio 2017.

**To Reproduce**
Steps to reproduce the behavior:
1. Install MahApps 1.6.5 from Nuget.
2. Once installed, open Visual Studio's Toolbox, right click and select *Choose Items*
3. On `WPF Components` tab, click on *Browse*
4. Select dll from ../*{projectFolder}*/packages/MahApps.Metro.1.x.x\lib\net4x

[2018-06-20 12:05] punker76 commented on #3274
@alvpickmans MahApps has a dependency to ControlzEx, so you must add the ControlzEx.dll too. Put both dlls inside a single folder for easier selection.

![2018-06-20_14h03_23](https://user-images.githubusercontent.com/658431/41657190-dac38342-7492-11e8-9f5f-e41b8968a0d6.png)

[2018-06-20 12:05] #3274 closed

[2018-06-20 12:28] seb30 opened #3275 "TransitioningContentControl vs. ContentControl"
- MahApps.Metro version 1.6.4
 - OS: Win10 1803
 - Visual Studio 2017 15.7.4
 - .NET Framework 4.7.2

The DataContext of the (Transitioning)ContentControl is bound to a class with a Enum property CardTypeValue which fires INotifyPropertyChanged. The ContentTemplate is set via DataTriggers (one for each Enum value). The default ContentControl recognizes the notification and changes its ContentTempl

[2018-06-20 12:30] seb30 commented on #3275
Additional info:

![01](https://user-images.githubusercontent.com/28293949/41658371-714c55a2-7496-11e8-89a5-fc4668fd1c7b.png)

[2018-06-20 19:21] alvpickmans commented on #3274
@punker76 it worked like a charm. Thanks!

[2018-06-21 07:12] Motorcure commented on #3269
resolved by myself

[2018-06-21 07:12] #3269 closed

[2018-06-21 08:10] punker76 commented on #3269
@Motorcure Maybe you can post your solution?

[2018-06-21 08:17] Motorcure commented on #3269
the window placement information is saved in %LOCALAPPDATA%\MetroWFPTest
so, if deleted the corresponding directory, the window position can be restore to initial state

Please forgive me, so bad English:(

[2018-06-21 23:17] lostmsu opened #3276 "Default ToggleSwitch behavior for initial IsChecked=null is weird"
**Describe the bug**
`ToggleSwitch.IsChecked ` property is of type `bool?`, hence can have 3 states, one being `null`.
The problem is - by default its visual behavior is unintuitive when the bound value is `null`:
1. It shows no On or Off label
2. Apart from 1., there's no visual indication, that it is `null`.
3. There's no Unset label to set.
4. Its looks Off by default (which might be OK default

[2018-06-22 17:09] wjkhappy14 opened #3277 "ToastNotification is required!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[https://github.com/raflop/ToastNotifications](https://github.com/raflop/ToastNotifications)

Toast Notify  may be  much better  when finish some   command actions !
**Describe the solution you'd like**
A clear and concise description of w

[2018-06-23 08:45] punker76 commented on #3277
@wjkhappy14 I don't understand what do you want/need? This library can be used in any WPF app together or without MahApps.

[2018-06-23 08:45] #3277 closed

[2018-06-26 15:04] seti247 opened #3278 "Memory leak by using Mahapps with WindowsFormsIntegration"
Hello,

I use the MahApps-Design in WPF-DLL.
One Control of this DLL ist used in a Windows-Forms application within a HostElement control.

After more times creating an object of this control, opening a window from this control and relogin in windows the system ist total busy in cpu and ram.

The visualtree is ok and the application isn't blocked, but you can't see the elements.

Here is a simple

[2018-06-27 09:07] n00bje commented on #3278
You forgot to dispose your ElementHost.
Add this line in removeCtr():
`host?.Dispose()`

[2018-06-27 10:48] seti247 commented on #3278
You are absolutely right, very special thanks for the quick help.

[2018-06-27 10:48] #3278 closed

[2018-06-27 12:34] olegsavelos opened #3279 "NumericUpdown StringFormat custom currency symbol"
If you set custom currency symbol in regional settings it is not used by numeric updown when using   StringFormat="C"
Is there any workarounds ?

[2018-06-27 12:37] punker76 commented on #3279
@olegsavelos  ?

**Environment(please complete the following information):**
 - MahApps.Metro version [e.g. v1.6.4]

[2018-06-27 12:40] olegsavelos commented on #3279
Its 1.6.5 sorry for not reporting.

[2018-06-27 12:43] punker76 commented on #3279
@olegsavelos I changed some with the StringFormat here https://github.com/MahApps/MahApps.Metro/pull/3268. So you can try to get the NuGet package from here https://ci.appveyor.com/project/punker76/mahapps-metro/build/2.0.0-PullRequest3268.23.build.293/artifacts. Or via the appveyor feed `https://ci.appveyor.com/nuget/mahapps.metro`

[2018-06-27 21:54] Zazzmatazz opened #3280 "NumericUpDown doesn't handle percentages correctly"
When using NumericUpDown with StringFormats of P0, P1, P, {}{0:P0} or any other combination, entering a textual value of "x%" and unfocusing the control will always revert to 100%.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new NumericUpDown with StringFormat=P0 and a floating point backing property.
2. Launch the application, and enter 25% into the NumericUpDown using your key

[2018-07-02 14:16] griphi opened #3281 "MetroTabItem does not change the background color and does not highlight the selected Tab"
Hi, i am new at MahApps and I have a problem with the Tab control.
If I want to change the Tabs, the tabs do not change the color. Even the highlight of a tab does not change.

Here the XAML:

[code]

![image](https://user-images.githubusercontent.com/9660547/42168883-7bc9defc-7e12-11e8-98a0-48cf7ed66eff.png)

Thanks!

[2018-07-02 14:41] punker76 commented on #3281
@griphi Can you post your complete TabControl Xaml code? It looks like that the style isn't working. Why do you set the `<homecontrol:home/>` to the header? Isn't his the content for the whole TabIte?

[2018-07-02 15:05] Jeuf155 commented on #3164
Yes. Yes. A thousand times YES. I would love this so much. Or anyone that has programmed this manually :+1:

[2018-07-02 15:45] griphi commented on #3281
Yes, thats a User content for the Home Window. Hmm should I seperate the Home Icon with the homecontrol: content?

[2018-07-02 20:37] griphi commented on #3281
@punker76  here the code:

[code]

[2018-07-04 09:40] RegisLaine opened #3282 "Override ListViewItem Style"
Hello,

I'm working on Overriding ListViewItem Style.
So I created a copy of ListViewItem Style with Blend.
I Successfully obtain a style.
I Updated the first line as above :
`<Style x:Key="ListViewItemStyle1" TargetType="{x:Type ListViewItem}" BasedOn="{StaticResource MetroListViewItem}">`

When I Apply this Style to en existing ListViewItem it is applied but with DataBinding Errors especially co

[2018-07-04 10:14] punker76 commented on #3282
@RegisLaine It could be that Blend doesn't work well with custom helper classes on custom styles. But if you want to know the default style of MahApps for ListViewItem then you can take a look at the source here:

https://github.com/MahApps/MahApps.Metro/blob/0dffed2b9a98ed928d3ac0b5c8d5c7708f1aa413/src/MahApps.Metro/Styles/Controls.ListView.xaml#L147-L240

[2018-07-04 10:14] #3282 closed

[2018-07-04 12:03] hampoelz opened #3283 "Windows 10 close, minimize and maximize button"
I have put the code

[code]
in my App.xaml under

[code]

But when I start the application I get this error:
[code]

[2018-07-04 12:19] punker76 commented on #3283
@hampoelz Can you write which MahApps version do you use? Did you add the complete MahApps resources?

[2018-07-04 12:30] hampoelz commented on #3283
Hello,

Have just looked into the NuGet package manager and have noticed that I have installed the version 1.2.4 of MahApps.Metro ... XD - Have it updated and now it works

Thanks for your help

[2018-07-04 12:31] #3283 closed

[2018-07-04 12:36] punker76 commented on #3281
@griphi The header for a TabItem is, as the name sounds, only for something like an icon or text and not for the complete content. If you want that the icon should change their color then you should use the `HeaderTemplate` property. e.g.

<TabItem.HeaderTemplate>
  <DataTemplate>

    <dashboardcontrol:dashboard />
  </DataTemplate>
</TabItem.HeaderTemplate>

[2018-07-04 12:36] #3281 closed

[2018-07-04 13:46] Ghislain1 commented on #2106
From the  Properties Window of VS remove the Custom Tool Value or replace it!

[2018-07-04 14:17] punker76 commented on #3280
@Zazzmatazz A fix will be available with v2.0.0 (8bf0b24)

[2018-07-04 14:17] #3280 closed

[2018-07-05 15:02] timotei commented on #1689
I know this is pretty old, but FYI IL Repack has support for WPF apps merging: https://github.com/gluck/il-repack

[2018-07-06 11:15] realivanjx opened #3284 "Gap between menu items and hamburger icon"
Is there any ways to remove this gap?

![screenshot_1](https://user-images.githubusercontent.com/12814796/42376204-8147a588-8148-11e8-9d17-ada563e2171c.png)

Im using:
- MahApps.Metro version v1.6.5
- OS: Win10 1803
- .NET Framework 4.5

[2018-07-11 08:42] ChriRosi commented on #510
I would also need this feature.

[2018-07-11 10:26] lightwalker01 opened #3286 "DateTimePicker: Calendar.SelectedDate not always updated and consistent"
**Describe the bug**
The Calendar part of the DateTimePicker component shows an inconsistent date if the user edit the date writing in the textbox.

**To Reproduce**
Steps to reproduce the behavior:
1. Select _01/01/2018_ (european format) via the calendar popup
2. Close the calendar popup
3. Edit the selected date writing in the DateTimePicker textbox: _02/01/2018_
4. Open the calendar popup
5. T

[2018-07-12 17:48] MairwunNx opened #3287 "Cannot programmatically maximize window."
**Describe the bug**
This mistake was sort of decided, but I still have to this day. Why the window can not open to maximum without `ResizeMode = ResizeMode.NoResize;` This is not the best workaround.

In xaml, I have SaveWindowPosition = "True", and when the user extends the window to the maximum and exits the application the next time application can't start, more precisely the program is launch

[2018-07-13 00:13] mmashwani opened #3288 "Hide() method on window with GlowBrush applied leaves behind outline of artifact on screen"
1) Using latest v1.6.5.
2) Create a window with a GlowBrush applied to it.
3) Use Hide() method to hide the window.
4) You will notice an outline of an artifact on the screen until you exit the program.

[2018-07-18 09:52] interwanderer opened #3289 "tabtip on demand is not working with mahapps"
**Describe the bug**
"tabtip on demand" is a tool that scrolls textboxes in to view for any application when the windows 10 keyboard appears. This tool works fine when using on regular wpf applications but after installing mahapps in my wpf application and applying the minimum to have my main window inherit from metrowindow... my wpf window no longer moves out of the way when the touch keyboard ap

[2018-07-18 10:22] interwanderer commented on #3289
I notice that there may be more steps to reproduce so I'm closing this issue for now.

[2018-07-18 10:22] #3289 closed

[2018-07-20 09:51] realivanjx commented on #3284
can anyone explain?

[2018-07-21 11:54] BestOwl commented on #2068
It doesn't seem to work for MahApps.Metro 1.6.5, there is no any properties like ForceAllowsTransparency in BorderlessWindowBehavior

[2018-07-24 02:46] willtk0113 opened #3290 "Metro based Window doesn't show properly after windows 10 updated."
Hi-
i have wpf app using latest version mahapps(v1.6.5) running perfectly until I updated windows 10 recently. It seems that a Mahapps based metro window creates a frame but doesn't show any within it. other than that, app runs okay(no pending, etc).

I repaired .net framework using repair tool offered by Microsoft, but still have same issue.

If anyone got same issue and resolved, please help me

[2018-07-24 09:16] punker76 commented on #3290
@willtk0113 Can you write exactly which OS version you are now running on? Did you any special stuff inside your app using MahApps.Metro (like setting AllowsTransparany or something else)?

[2018-07-25 09:27] MajedDH opened #3291 "metro window keeps glow on top of owned window on restored"
**Describe the bug**
When you show a `MetroWindow` and show another one with the first one as an owner and you minimize the main one, it's glow is still visible above the owned one.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MetroWindow and show it.
2. Inside it (on click or load) create another metro window and set it's owner to the first one.
3. now maximize the main window
4

[2018-07-26 20:56] batzen commented on #3291
This issue will be fixed in ControlzEx as MahApps.Metro will depend on the GlowWindow etc. from there in the future.
If it's a small fix i might port it back to the current version of MahApps.

[2018-07-26 21:01] batzen commented on #3288
Could you try to reproduce this using the GlowWindowBehavior from https://github.com/ControlzEx/ControlzEx?
You either have to use the latest sources from the develop branch there or use the nuget from the appveyor nuget feed at https://ci.appveyor.com/nuget/controlzex.
The Glow in MahApps will be replaced with the one from ControlzEx in the future and i can't reproduce your issue there.
If you ca

[2018-07-27 17:16] PhilPJL opened #3292 "MahApps.Metro.Demo Build issue"
MapApps.Metro.Demo won't build due to package issues with .NET4

Using VS 2017 l5.7.5
Clone MahApps.Metro develop

**Expected behavior**
builds ok

**Screenshots**

![image](https://user-images.githubusercontent.com/271656/43336187-6900ab42-91c8-11e8-8e53-535b1ad4fbce.png)

![image](https://user-images.githubusercontent.com/271656/43336500-0622e502-91c9-11e8-88d3-3dcd8e275026.png)

**Environment(p

[2018-07-27 17:18] batzen commented on #3291
Fixed in the ControlzEx version of the behavior now.

[2018-07-27 19:16] igorquintaes opened #3293 "IsEnabled does not work properly on HamburgerMenuItem"
**Bug Description**
Is not possible to enable or disable a _HamburgerMenuItem_ inside a .xaml file.
If a *HamburgerMenuItem* contains an _IsEnabled_ attribute, does not matter if it is True or False, binded value or not - it always shows as disabled.

**To Reproduce**
Based on [punker76/code-samples](https://github.com/punker76/code-samples):
1. Open HamburgerMenuApp.V2
2. Find a _HamburgerMenuGly

[2018-07-31 11:46] realivanjx commented on #3293
same here. i changed IsEnabled via C# code but if i disabled a menuitem then i cant enable it again using IsEnabled = True :(

[2018-08-01 12:02] Torchok19081986 opened #3294 "How to use mahapps.metro window usercontrol"
Hallo. Im new in WPF. I created a managementconsole in wpf with some help. Console is with listviewitem and icons. Now i wanted open new mahapps.metro window if i clicked one of listviewitem. But to show it , new window item should be a usercontrol. Is there some posibility to create usercontrol with mahapps.metro or some workaround for it ?

[2018-08-02 15:30] JVimes commented on #3237
@haftado3 In situations like this, always post the error message.

[2018-08-03 19:20] NeomMob opened #3295 "Fluent/Acrylic transparent MetroWindow"
## The bug
Using the `SetWindowCompositionAttribute` and setting `AllowsTransparency = true;` make the window totally unusable. Instead of having only a tranparent background, the foregroud as well is transparent.

**Expected behavior**
![acrylic_app-pattern_vertical](https://user-images.githubusercontent.com/326762/43661562-075aeab0-9763-11e8-910c-1f98f790f492.png)

**Environment**
 - MahApps.Met

[2018-08-04 15:32] batzen commented on #3295
Could you post a full repro?
As this seems to be part of the code from https://github.com/bbougot/AcrylicWPF you either forgot to copy all parts of it or you are doing something different tan they do in that project.

[2018-08-04 16:53] NeomMob commented on #3295
Thanks for your feedback.
While creating an test project, I upfated to the lastest version of Mahapps and it solves the issue. For the ones who want to do a similar effct: https://github.com/NeomMob/MetroFluentWindow

[2018-08-06 14:23] xlp100 opened #3297 "how to set Header and closeButton position in flyout?"
**Is your feature request related to a problem? Please describe.**
how do i set Header and closeButton position in flyout?

**Describe the solution you'd like**
i want to  set closebutton and Header horizon position with parameters

**Additional context**

**Closed Issues**

[2018-08-07 01:18] J0S39H-MC opened #3298 "cannot locate resource themes/underline.xaml"
i upgraded my mahapps version via nuget and upgraded from .NET45 to .NET461 now i am getting cannot locate resource themes/underline.xaml. i checked the github source and the resource exists i even tried adding it to my project but it still doesnt compile. i did this while trying to use the hamburger menu control. is there anything i could be missing?

[2018-08-07 14:51] Grizz7778 opened #3299 "Cornerradius for AccentedSquareButtonStyle?"
If I just use Button.Resources and set CornerRadius to TargetType "Border" it rounds the corners but obviously - I guess you know this already - I get the Accented Background drawn over the corners. Could you implement a solution for this issue or tell me wht I need to use to override (Accented)SquareButtonStyle without destroying the the whole style?

(Buttonstyle I've looked at: https://github.c

[2018-08-07 14:52] #3298 closed

[2018-08-07 16:22] Nuklon opened #3300 "Odd HamburgerMenu padding/margin"
**Describe the bug**
Since a while the padding/margin of the hamburger menu isn't the same anymore as previous versions.

This is happening at the top (as shown in the screenshot), as well as at the bottom of the hamburgermenu.

**Expected behavior**
Have the menu items lined up correctly again.

**Screenshots**
![img](https://i.imgur.com/Wf6Ej1K.png)

**Environment(please complete the following i

[2018-08-08 09:10] Araym87 opened #3301 "Arithmetic operation resulted in an overflow."
Hi all, i am reporting an issue, which happens rarely for few of my users. I am using MahApps.Metro version 1.6.0.0

I was googling and found a few very similar topics, but with different stack trace, so i think it is another place, which can cause this error. Could you please check it? Thank you

StackTrace:
Exception:
System.OverflowException: Arithmetic operation resulted in an overflow.
at Mic

[2018-08-08 15:29] J0S39H-MC commented on #3018
is the submenu feature not going to be added?

[2018-08-08 16:28] batzen commented on #3295
@NeomMob As you found a solution it would be nice if you could close this issue. ;-)

[2018-08-08 17:23] J0S39H-MC opened #3302 "Hamburger menu with submenus"
Hamburger menu with submenu similar to what devexpress provides. i am using the mahapps metro window and dont want to have to switch to using the devexpress controls for this.

[2018-08-08 19:15] NeomMob commented on #3295
done, sorry, was not aware I could close it.

[2018-08-08 19:15] #3295 closed

[2018-08-09 05:40] ikeas68 opened #3303 "[ComBoxItem] style 1.6.5.1"
hello
i have this code
` <Style TargetType="{x:Type comp:EnumFilterComboControl}">
        <Style.Resources>
            <Style TargetType="{x:Type ComboBoxItem}"
                   BasedOn="{StaticResource {x:Type ComboBoxItem}}">
                <Setter Property="OverridesDefaultStyle"
                        Value="true" />
                <Setter Property="HorizontalContentAlignment"

[2018-08-09 05:45] ikeas68 opened #3304 "[1.6.5.1] ComboBoxItem Style"
hello
i have this code

[code]

without mahapps i have comboboxitem strech
like this

![image](https://user-images.githubusercontent.com/18679297/43880083-3160672a-9ba7-11e8-845c-6e8eaec3e743.png)

but when i use mahapp style

[code]

i have

![image](https://user-images.githubusercontent.com/18679297/43880142-6f5b6070-9ba7-11e8-9d45-770c8eaba455.png)

sorry i have an error in first code .... with

[2018-08-09 06:58] ikeas68 opened #3305 "[1.6.5.1] white window on startup"
if you have a window
 SaveWindowPosition="true"
1-run it and maximze
2-close
3-restart
during a few second (1 or 2) a blank screen is showed

[2018-08-12 15:37] batzen commented on #3288
@mmashwani ping

[2018-08-12 19:33] almas3s opened #3306 "Shadow Flyout"
hi. how i can set Shadow for Flyout ??
[like this:](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/tree/master/MahMaterialDragablzMashUp)

![14245345](https://user-images.githubusercontent.com/40490538/44005642-cc6cce66-9e8b-11e8-9bb4-3a0265c386b5.PNG)

I copy and paste all this code in my program but Flyout There is no shadow

[2018-08-14 17:27] JVimes opened #3307 "ListView default border only on top"
**Describe the bug**
By default, the ListView has only a top border. It seems like it should either have none, or uniform all around.

**To Reproduce**

If you remove `BorderThickness="0"` from the ListView in the demo app, you can see.

**Expected behavior**
It seems like it should either have no border, or have uniform border all around by default.

**Screenshots**
![image](https://user-images.g

[2018-08-16 03:46] Dragoneel009 commented on #510
This feature would much appreciated and very useful to us

[2018-08-16 14:06] Malavos commented on #510
How that would work? I am wondering that, if we have too many items selected, the combo box text will not appear to the user. I think multi-select combo box control needs a different design to handle this.

[2018-08-16 14:30] Evangelink commented on #510
I have the feeling such control doesn't provide users with a good UX and can often be replaced by some other controls or be split into a multi step dialog.

[2018-08-16 14:35] Malavos commented on #510
@Evangelink  take a look at the one I've referenced. Our UX and designer here approved to use this specific component for another project. I think it's a great solution, all things considered.

[2018-08-17 10:27] seb30 opened #3308 "TabItem HeaderFontSize change leads to freeze"
Hello,

I encountered in a problem on some PCs by using the **_MetroTabItem_** and try to resize the **_HeaderFontSize_** with **_ControlsHelper.HeaderFontSize_**. This works on most of the user PCs, but some users notified me about a freeze of the application. I tried then to reproduce the issue and my Microsoft Surface 3 Pro behaves in the same way.

The next screen capture shows a sample applic

[2018-08-17 20:27] Anapher commented on #3308
I just downloaded your application and tested it on my PC and I cannot reproduce this behavior (it starts normally, Debug aswell as Release). Does that also occure when starting from VS? Anyways, can you try to attach a debugger to see what's happening?

[2018-08-17 20:29] Anapher commented on #3307
Ideally, a ListView has a GridView/Headers, and then a top border makes sense because else the column separators just look stupid (IMO). If you want to use the ListView like that, just use a ListBox (which doesn't have this border).

[2018-08-17 20:45] Anapher commented on #3306
Here you can find the [Style](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/98c42e80c44fe0a613805abe1b8c584ad78ab782/MaterialDesignThemes.MahApps/Themes/MaterialDesignTheme.MahApps.Flyout.xaml#L237) for the Flyout. As you can see [here](https://github.com/MaterialDesignInXAML/MaterialDesignInXamlToolkit/blob/98c42e80c44fe0a613805abe1b8c584ad78ab782/MaterialDesignThemes.M

[2018-08-17 20:46] seb30 commented on #3308
Hey Anapher,

The behavior also didn't occur on my development PC, but at my Surface and some other (mobile) devices. The attached debugger shows nothing special, only a high CPU load like the task manager.

[2018-08-17 20:52] Anapher commented on #3305
I was not able to reproduce your issue. Did you try to isolate it in a completely new and clean project? How many screens do you have?

[2018-08-17 20:57] Anapher commented on #3297
Sadly this is hard coded in the [Flyout HeaderTemplate](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Themes/Flyout.xaml#L54). You may have to write a custom HeaderTemplate in order to change the position.

[2018-08-17 21:00] Anapher commented on #3294
That is called Shell Window creation. It is actually pretty easy, create a new `Window` called `MetroShellWindow` with no content at all. Now, you can just execute this code to show the user control in a window:
[code]

[2018-08-17 21:33] Anapher commented on #3293
I don't think that this is solved as I just cloned the current develop branch and the problem is still there. I'm pretty sure that the problem is caused [by this line](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Controls/HamburgerMenu/MenuItems/HamburgerMenuItem.cs#L261). In this [void](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Controls/Ham

[2018-08-18 02:51] JVimes commented on #3307
I haven't used it much, but it doesn't sound right that ListView would have styling to support just one of it's possible views. Views other than GridView can be used, and they might not have headers (or their headers won't require a line). Let me know if I'm missing something.

[2018-08-18 09:39] ikeas68 commented on #3305
ok i made a sample software for shoing this probleme
i have two screen

Le ven. 17 août 2018 à 22:52, Vincent <notifications@github.com> a écrit :

[2018-08-18 17:37] batzen commented on #3301
@Araym87 Could you try to reproduce this using the latest version of MahApps.Metro?

[2018-08-21 16:02] JVimes commented on #3307
It's a valid report of a design flaw. It's not top priority, but that's what backlogs are for.

[2018-08-22 08:26] pfattisc commented on #3100
@punker76 Unfortunately the changes produce not the expected outcome. The problem is that the content is aligned but the title isn't.
Either the title should be aligned the same way (template binding) as the content or there should be an extra property to set the title alignment.
Right now, if I change the HorizontalAlignment to "Center" the content is aligned as expected but the title stays on th

[2018-08-22 14:40] pfattisc opened #3310 "Styling of buttons within a BaseMetroDialog should be facilitated"
**Is your feature request related to a problem? Please describe.**
With MahApps 1.6.0 (Fix Dialogs Resource handling #3142) it is possible to easily customize the BaseMetroDialog Style.
But to restyle the buttons within a dialog (MessageDialog, etc) it is still necessary to use the MetroDialogSettings.CustomResourceDictionary.

**Describe the solution you'd like**
I think the button styles **Accen

[2018-08-23 08:30] savaged opened #3311 "Hamburger button icon missing"
**Describe the bug**
The hamburger 'icon' is not showing

**To Reproduce**
Steps to reproduce the behavior:
Used NuGet package manager to add MahApps
Simply run WPF app (see repo below)

**Expected behavior**
The three white lines hamburger 'icon' should always show

**Screenshots**
![image](https://user-images.githubusercontent.com/112491/44513843-6abf9800-a6b6-11e8-8864-652f94dd84b0.png)

**Envi

[2018-08-23 08:53] punker76 commented on #3311
@savaged Hi, you forgot some necessary steps to use MahApps.Metro. I created a [PR](https://github.com/savaged/SixNations/pull/2) on your repo. By the way, thx for the repo :-D Hope my PR helps you a little bit.

![image](https://user-images.githubusercontent.com/658431/44515399-c55ef100-a6c2-11e8-8032-db0fa7c6df9a.png)

[2018-08-23 08:53] #3311 closed

[2018-08-25 07:49] AndrzejKl opened #3312 "[Question] Show Dialog from library class"
Vanila Solution to download with explanation: https://1drv.ms/u/s!Ah3HeDSZXp_FhcMvbycQiR1_LIBUeg

I use IDialogCoordinator on ViewModel and everything works fine.

But if in viewmodel i have instance of other class, it doesn't work. I try to pass dialogCoordinator in constructor, but I've got a message "Context is not registered".

How to achieve that?

Viewmodel:

[code]
IndexUpdater:

[code]
In

[2018-08-26 10:53] s0ciopa7h opened #3313 "VS 15.8.1 update causes "Package is not compatible""
After upgrading to VS 15.8.1  "Package is not compatible"
    MahApps.Metro version v1.6.5
    OS: Win10 1803
    Visual Studio 2017 15.8.1
    .NET Framework : net40

![2018-08-26_115254](https://user-images.githubusercontent.com/42713227/44627477-a1034e80-a926-11e8-9926-598e60a314d0.png)

[2018-08-28 10:51] RikenChoksi commented on #1488
can change font color of Message box ?

[2018-08-28 21:11] #3293 closed

[2018-08-29 06:04] AndreasReitberger opened #3314 "DataGrid show row errors"
Hi,
that's not really bug, more a question.
Is it possible to show that the row has an error or is not valid? Like shown on the image below?

![nvjlh](https://user-images.githubusercontent.com/658431/44769372-b4036200-ab64-11e8-9204-527afa694897.png)

I have a DataTable binded to a datagrid. The datatable has primary keys. When there is a violation, the new row cannot be added, what's fine. Howeve

[2018-08-29 06:26] punker76 commented on #3314
@AndreasReitberger Yes, this is possible and you can see it in action at the main demo.

https://github.com/MahApps/MahApps.Metro/blob/cb9264828def32d2c55ec32dc0426c8a72aa793d/src/MahApps.Metro.Samples/MahApps.Metro.Demo/ExampleViews/DataGridExamples.xaml#L207-L209

![image](https://user-images.githubusercontent.com/658431/44769407-cc737c80-ab64-11e8-95b4-29e14c526c15.png)

[2018-08-29 06:26] #3314 closed

[2018-08-29 11:02] AndreasReitberger commented on #3314
Perfect, that's what I was looking for.
Can you show me where I can activate the first column with the <!>,
which is showing the error message?
I couldn't find it in the example code...
thanks a lot!

[2018-08-29 11:05] AndreasReitberger commented on #3314
Never mind, got it! Thanks!

[2018-08-29 14:34] MajedDH commented on #3288
Same problem I'm having.
@batzen  When will MahApps.Metro will be updated with this fix?

[2018-08-29 15:10] batzen commented on #3288
@MajedDH I guess you will have to wait for version 2.0 of MahApps.Metro or you could try to backport the fix made in ControlzEx to fix this issue. I don't remember which changes were made to fix this particular issue.

[2018-08-29 15:48] QuantumDeveloper opened #3315 "FlipView Back/Forward buttons not visible"
FlipView arrow buttons is missing with latest binaries (1.6.5). I can make placeholders visible by changing Panel.ZIndex of this buttons to any value, but content of the buttons still not visible.
You can see details on attached image

![image](https://user-images.githubusercontent.com/6085009/44799089-cb216e80-abbb-11e8-8679-7c5982d653d4.png)

[code]

[2018-08-29 15:48] QuantumDeveloper commented on #3313
Its not 15.8.1. I have 15.7.5 and see the same issue.

[2018-08-29 22:05] #3313 closed

[2018-08-29 22:45] QuantumDeveloper commented on #3315
Just forgot to add Metro resources to App.xaml
Thanks to @punker76 for help.

[2018-08-29 22:45] #3315 closed

[2018-08-30 07:14] xitech-kms opened #3316 "In HambergerMenu, pane is expressed as abnormal."
Hi! Thank you.

In HambergerMenu, pane is expressed as abnormal.
Even if I look for other codes, I think I'm the only one to have this problem.

![image](https://user-images.githubusercontent.com/18713723/44835576-95d65880-ac6f-11e8-9d7c-57164e56ab3f.png)

[code]

Top M3, ... The mark is still visible. It's the same weird thing to describe FontFamili as "Sego MDL2 Assets."

I want to solve this pr

[2018-08-30 07:31] punker76 commented on #3316
@xitech-kms Please, can you publish a short sample app which shows this error? Are you using all necessary MahApps resources in your app? Here is a short [Quick-Start](https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start)

[2018-08-30 07:45] xitech-kms commented on #3316
@punker76
Omg... I refer to other content, and I can not check the contents of the link. I'm so sorry to have taken your time. Thanks.

[2018-08-30 07:45] #3316 closed

[2018-09-02 20:00] #3174 closed

[2018-09-02 21:56] #2989 closed

[2018-09-02 21:56] #3041 closed

[2018-09-03 14:17] punker76 commented on #3308
@seb30 I can reproduce this with targeting .Net 4.7.1 and 4.7.2. If I use 4.6.x and 4.5.x the all works fine. That's crazy...

/cc @batzen do you have any suggestion on this issue?

[2018-09-03 16:57] batzen commented on #3308
Will have a look at this.

[2018-09-03 17:11] seb30 commented on #3308
@batzen Please let me know if I can support you.

Btw, it also happens with HeaderFontSize set to 17 or 19 (can't try now).

[2018-09-03 17:36] batzen commented on #3308
Tried to reproduce, but can't.
@punker76 were you able to repro this on your dev machine? I only have my dev machine at hand...

[2018-09-04 11:55] punker76 commented on #3302
Duplicate of #3018

[2018-09-04 11:55] #3302 closed

[2018-09-04 11:58] punker76 commented on #3292
Closed by #3317

[2018-09-04 11:58] #3292 closed

[2018-09-04 12:00] #3294 closed

[2018-09-04 12:02] punker76 commented on #3300
Duplicate of #3284

[2018-09-04 12:02] #3300 closed

[2018-09-04 12:04] punker76 commented on #3273
@auxua Any chance to try again with the latest dev source?

[2018-09-04 12:06] punker76 commented on #3245
@JVimes Any chance to test it again with the latest dev source and these hints https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution ?

[2018-09-04 12:10] punker76 commented on #2844
The visuals in this package (MahApps.Metro.Resources) are no longer maintained and now are obsolete. So I will close this for now. If you have any question on using the new Icons (MahApps.Metro.Iconpacks) then let me know.

[2018-09-04 12:10] #2844 closed

[2018-09-04 15:58] JVimes commented on #3245
Thanks, @punker76, I got it working. I was missing the .NET Core SDK and the .NET Framework 4.7 SDK.

Also, some order of operations lead it to link v3.1.0 of Costura.Fody, which gave build error, "Method not found Fody.TypeSystem Fody.BaseModuleWeaver.get_TypeSystem()". I cleared my NuGet caches and now it links Costura.Fody v2.0.0 and builds.

I ran into other quirks (errors when running .paket\

[2018-09-04 15:58] #3245 closed

[2018-09-05 11:34] punker76 commented on #3308
@seb30 Got it #3319

/cc @batzen

[2018-09-05 11:39] #3308 closed

[2018-09-05 11:53] seb30 commented on #3308
@punker76 Good work! But why this doesn't affect the FrameworkElement if HeaderFontSize is set to 15?

[2018-09-05 12:10] punker76 commented on #3308
@seb30 I really don't know :-(

[2018-09-05 21:47] punker76 commented on #3307
Closed by 0024f32

[2018-09-05 21:47] #3307 closed

[2018-09-05 21:49] #3303 closed

[2018-09-06 07:51] punker76 commented on #3304
@ikeas68  The MahApps ComboBox style sets the MahApps ComboBoxItem style as ItemContainerStyle:

[code]

So currently, if you want to override this, then you must do something like that:

[code]

 Hope that helps you.

[2018-09-06 07:51] #3304 closed

[2018-09-06 08:02] punker76 commented on #3297
@xlp100 A possible solution would be to create your own header template by modifying the original one https://github.com/MahApps/MahApps.Metro/blob/0024f3282e9fd6cb780fc18c08637be44b51696c/src/MahApps.Metro/Themes/Flyout.xaml#L13-L72

[2018-09-06 08:02] #3297 closed

[2018-09-06 08:03] punker76 commented on #3290
@willtk0113 ping

[2018-09-06 09:31] riebrieb opened #3320 "Validation.Error Tooltip showing on the wrong side of textbox"
I encounter the problem, that the validation tooltip is showing on the left side of the textbox.

This occours only on one machine running windows 10. I cannot reproduce the issue on several other machines running the same code.

I tried to rewrite the whole controltemplate for the errortooltip. I can adjust the position with property "placement" on any machine except the windows 10 one not workin

[2018-09-06 09:50] punker76 commented on #3320
@riebrieb Maybe this pc has a wrong settings for Tablet: https://stackoverflow.com/a/42057716/920384

![2018-09-06_11h49_33](https://user-images.githubusercontent.com/658431/45149977-1a265f80-b1cb-11e8-9a85-829709f42bd4.png)

[2018-09-06 12:43] riebrieb commented on #3320
You are a f**** genius!

I knew it was not an error in my code.

That worked! Thank you so much. <3

[2018-09-06 12:55] #3320 closed

[2018-09-07 21:30] punker76 commented on #3275
@seb30 I think I know what's the problem is, but it would be nice if you can separate this one in a simple app.

[2018-09-07 21:55] seb30 commented on #3275
I'm out of office for a week. I will do this after my vacation.

[2018-09-09 18:56] afreeman2 opened #3321 "work with Flyout ?"
I had flyout on my windows

 <mah:Flyout Header="" ExternalCloseButton="Left"  IsPinned="False"  Position="Bottom"  Theme="Accent" Height="238" x:Name="config_Discont"  Background="White" Margin="292,0,276,251" Width="470" BorderThickness="2" BorderBrush="{DynamicResource AccentColorBrush}">
                <Grid /Grid >
                    <Button x:Name="Button_add" Content="حفظ" /Button >

[2018-09-10 09:32] #3321 closed

[2018-09-10 11:17] afreeman2 commented on #3321
thanx it's help me alot

[2018-09-10 15:00] #3275 closed

[2018-09-10 15:03] punker76 commented on #3275
@seb30 It would be nice if you can test the latest changes against your app after your vacation :-D

The latest v2.0 alpha NuGet package can be found [her](https://ci.appveyor.com/nuget/mahapps.metro)

[2018-09-10 19:40] punker76 opened #3323 "CloseTabItemAction works only with MetroTabControl"
**Describe the bug**
The `CloseTabItemAction` and `TabItemClosingEvent` works only with `MetroTabControl` instead with the `BaseMetroTabControl`.

**To Reproduce**
Use a `MetroAnimatedSingleRowTabControl` or `MetroAnimatedTabControl` together with the `MetroTabItem` and you will see that the event will not be fired.

**Expected behavior**
The `TabItemClosingEvent` should also be fired with the der

[2018-09-10 20:43] punker76 commented on #3323
Closed by 1866a35

[2018-09-10 20:43] #3323 closed

[2018-09-12 12:30] punker76 commented on #3218
@shon3322 The `HamburgerMenuItem` class and their derived classes are only helper classes to hold the content for each "Page". If you want to change the template for each item you can use the properties `ItemTemplate` and `OptionsItemTemplate`. It's also possible to change the style with `ItemContainerStyle` and `OptionsItemContainerStyle` (default style is `HamburgerMenuItemStyle`).

[2018-09-12 12:30] #3218 closed

[2018-09-13 11:50] Nuklon opened #3325 "MyGet / NuGet prerelease"
It would be nice to have a MyGet feed (or have the prerelease on NuGet updated) so we could take advantage of the latest changes (such as the hamburger menu one).

[2018-09-13 11:53] Nuklon opened #3326 "Make Windows 10 styles the default"
Currently, some of the components are shipped with an optional Windows 10 style (toggleswitch/slider). Given that the majority now runs Windows 10, I think it would make sense to use these as default (and perhaps the older styles as a 'legacy' style).

[2018-09-13 11:53] punker76 commented on #3325
@Nuklon You can get always the latest via this appveyor feed https://ci.appveyor.com/nuget/mahapps.metro

[2018-09-13 11:53] #3325 closed

[2018-09-13 11:58] Nuklon commented on #3325
Cool, didn't know appveyor had that, thanks @punker76 (maybe this could be added to readme somewhere).

[2018-09-13 12:20] Nuklon opened #3328 "Some additional Windows 10 styles"
Like this (hope it helps):

Most changes would be a slightly thicker border / different arrow.

[x] Flat button:
![img](https://i.imgur.com/rnvksI9.gif)

[x] Radio button:

![img](https://i.imgur.com/3fwTwAS.gif)

[x] Checkbox:

![img](https://i.imgur.com/g8Jwi7J.gif)

Combobox:

![img](https://i.imgur.com/h058g2k.gif)

Textbox:

![img](https://i.imgur.com/vGN8CMf.gif)

Scrollbar:

![img](https://

[2018-09-13 15:47] Razzile opened #3329 "Windows 10 Maximize icon is slightly broken on high res displays"
**Describe the bug**
The windows 10 style maximize icon doesn't render correctly on high res displays. Tested on a monitor with resolution 3440x1440 at 150% scaling and 4K at 200% scaling. All other window buttons render correctly, including the restore icon

![image](https://user-images.githubusercontent.com/5256381/45499365-33538100-b774-11e8-9ae7-fb21002dee93.png)

**To Reproduce**
Add ` <Style

[2018-09-14 12:41] bogdanstefanh opened #3331 "How to change background color of button within MessageDialog?"
How to change the background color of a button within MessageDialog, without using Accent color? I am especially interested in doing so for the "IsPressed" state.

[2018-09-14 15:19] #3329 closed

[2018-09-15 20:51] amirhoseynfatemi commented on #656
Hi, I downloaded mahapps and extracted it on my computer. An error occurs when running. Which says error in loading project files

[2018-09-17 19:33] punker76 opened #3332 "TransitioningContentControl defines a CornerRadius of 2 inside style"
**Describe the bug**
The `TransitioningContentControl` defines a hard coded `CornerRadius` of 2 inside the style.

**To Reproduce**
Set a Background for the `TransitioningContentControl` and the corners will be see.

**Expected behavior**
No `CornerRadius` or even better, changable from outside with the `CornerRadius` attached property of the `ControlsHelper`.

**Environment(please complete the fo

[2018-09-17 19:39] #3332 closed

[2018-09-18 18:51] #3290 closed

[2018-09-19 07:16] buba4ko commented on #2491
test

[2018-09-19 08:27] egalley opened #3333 "TimePicker"
When I clear the value of a TimePicker field, SelectedTime is not set to null.
The field is empty but does not become a required field.

Thanks for help.

[2018-09-19 08:36] buba4ko commented on #2491
I did this by workaround - set green foreground to the TextBox when the Text value is empty, which actually sets the foreground of the watermark :)
But I would be glad if there is a official solution.
Here is my code, in case someone needs it:

        <Style x:Key="MahApps.Metro.Styles.MetroWatermarkTextBlock" BasedOn="{StaticResource MetroTextBlock}" TargetType="{x:Type TextBlock}">

[2018-09-19 12:14] punker76 commented on #3333
@egalley Which MahApps version are you using? How are you bind to the property?

[2018-09-19 13:16] egalley commented on #3333
I use the lastest version available for nugets : 1.6.5.1

I added this to the DateExamples.xaml of the Demo

                <Controls:TimePicker Width="200"
                            Margin="0 10 0 0"
                            HorizontalAlignment="Center"
                            Controls:TextBoxHelper.AutoWatermark="True"
                            IsClockVisible="False" PickerVisibility

[2018-09-19 14:35] #3333 closed

[2018-09-20 12:12] #3305 closed

[2018-09-20 12:19] #3273 closed

[2018-09-20 12:39] punker76 commented on #3108
/cc @batzen This is still an issue also with the latest ControlzEx v4.0 alpha

[2018-09-20 12:40] #3291 closed

[2018-09-20 12:40] #3301 closed

[2018-09-20 12:40] #2706 closed

[2018-09-20 12:40] #3288 closed

[2018-09-20 13:50] batzen commented on #3108
Will have a look at this in ControlzEx.

[2018-09-20 14:53] batzen commented on #3108
Fixed in ControlzEx.

[2018-09-20 18:18] EMostafaAli opened #3335 "NumericInputMode for DataGridNumericUpDownColumn"
**Is your feature request related to a problem? Please describe.**
Whenever I use DataGridNumericUpDownColumn which binding to integer, I would like to set the mode to numeric (to disallow using decimal points).

**Describe the solution you'd like**
As NumericUpDownColumn, DataGridNumericUpDownColumn should have a way to disable decimal point.

[2018-09-21 22:13] frynio opened #3336 "Metro controls do not appear in Toolbox"
**Describe the bug**
Basically, the metro controls (style manager) etc., are not present in visual studio toolbox

**To Reproduce**
Steps to reproduce the behavior:
1. Toolbox doesn't have those controls (mahapps.metro installed, I already have a working app)
2. Tools -> Choose toolbox items -> WPF Compontents -> Browse
3. Browsed into packages -> Mahapps.Metro... -> lib -> net46 (project is also

[2018-09-22 12:33] AndrzejKl commented on #3312
One month and no one?

[2018-09-22 16:41] punker76 commented on #3336
@frynio You must add the ControlzEx.dll too.

[2018-09-22 16:41] #3336 closed

[2018-09-23 08:57] vaheedxp opened #3337 "Can not open Demo application source code in vs 2015 or 2017"
I downloaded the source code for MahApps Metro demo application but in **vs 2015** and **vs 2017** the projects are unavailable. I cloned the source code directly from the GitHub but it does not work.
Please help me.

![sshot-2](https://user-images.githubusercontent.com/34465387/45926116-4ca6bb00-bf34-11e8-9dba-42e53e9fa40e.png)

[2018-09-23 14:54] vaheedxp commented on #3337
Thanks for your reply. I will try the steps in the link.

[2018-09-24 07:41] #3108 closed

[2018-09-24 07:43] punker76 commented on #3337
@vaheedxp Were you able to compile the project now without errors?

[2018-09-24 13:04] tomanye opened #3338 "Dynamic HamburgerMenu"
I can't  to build a dynamic  HamburgerMenu in my application by Populating  Menu Items or Option Items From MenuList Collection of  repository.

       public  class MenuList
       {
        public string MenuHeader { get; set; }
        public byte[] Icon { get; set; }

        }

[2018-09-25 00:05] vaheedxp commented on #3337
@punker76 Not yet completely. I updated my vs and installed the core sdk. This time i can load the project but i build the project or restore the packages, it unloads the project. I think i have problems with .paket.

[2018-09-25 00:13] vaheedxp commented on #3337
@punker76 It can't restore the .NETFramework 47 dependency.

[2018-09-25 00:27] vaheedxp commented on #3337
@punker76 Finaly i did it. I installed the .netframework 4.7 devpack and now everything is ok. Thanks @punker76.

[2018-09-25 06:16] #3337 closed

[2018-09-25 16:52] LaurelJay commented on #3029
And why you listen to their post? Signed assembly is compatible with all project whether it is signed or not. While not signed give headache to all signed obfuscated assemblies. Pls. sign the MahApps again. thanks..

[2018-09-25 19:25] Jehoel opened #3339 "StrongName signed assembly? Hey, it's 2018..."
The NuGet package binaries were signed before version 1.6, where the decision was made to stop signing the project because of the (then) realities of the .NET Core ecosystem:

...but now it's 2018 and things have changed again! The author of the (in)famous "Still strong naming your assemblies?" blog article has now done an about-face and now advocates strong-naming your assemblies again in an upda

[2018-09-25 22:19] #3339 closed

[2018-09-26 03:53] yousufctec opened #3340 "Build fail when running the demo application "MahApps.Metro.Demo" - Could not load file or assembly ControlzEx"
Build fail when running the demo application.
![image](https://user-images.githubusercontent.com/12121901/46056316-9b499480-c182-11e8-8bd8-70df4437d330.png)

[2018-09-26 05:28] punker76 commented on #3340
@yousufctec Please, provide more information like: which MahApps version.

[2018-09-26 05:34] yousufctec commented on #3340
Just downloaded the project this morning and ran it. Just same as git
version.

On Wed, 26 Sep 2018, 13:29 Jan Karger, <notifications@github.com> wrote:

[2018-09-26 06:17] punker76 commented on #3340
@yousufctec Which project? If you use the latest dev branch or the latest MahApps alpha then you need a newer [ControlzEx](https://www.nuget.org/packages/ControlzEx/4.0.0-alpha0176) version now. It seems like that NuGet doesn't update the dependency correctly.

[2018-09-26 06:34] punker76 commented on #3340
@yousufctec The MahApps v1.6.5 is pointed to ControlzEx v3.0.2.4

[2018-09-26 06:49] yousufctec commented on #3340
@punker76 Can you please download the current version from git and give it a try to run the project "MahApps.Metro.Demo"? Thanks!

[2018-09-26 07:36] kblohm commented on #3308
This might be related to https://github.com/Microsoft/dotnet/issues/604. Setting
[code]
fixed the issue for us.

[2018-09-26 12:04] jhasenfuss commented on #3340
Hello, ive downloaded the latest version as a zip file from github and i get the exact same error as @yousufctec
The message is in german, but the error is the same.
![image](https://user-images.githubusercontent.com/15813447/46078647-0dc37000-c195-11e8-9cc3-3639274c11ac.png)

[2018-09-26 12:14] punker76 commented on #3340
@jhasenfuss It's the missing strong-name IconPacks dll. An updated package is coming soon...

[2018-09-28 11:33] mgnslndh opened #3342 "TextBoxHelper.SelectAllOnFocus does not work for every mouse click"
Every mouse click on a `TextBox` should select all text when using `TextBoxHelper.SelectAllOnFocus="True"` but it does not. It alternates from selecting all text to selecting all text, but then resetting the caret position to where you clicked on the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Start MahApps Demo App and navigate to the "text" tab.
2. Click on 'Select' text in the t

[2018-09-29 13:15] JacobLiou opened #3343 "Cannot Compile project while directly opening"
I opened the sln project in visual studio 2015 community, but the vs failed to load

[2018-09-29 16:53] Pekshev opened #3344 "Validation disappear on tab item change"
All in gif
![validation](https://user-images.githubusercontent.com/12638819/46248383-4a0b0080-c421-11e8-8129-8817976913a1.gif)

[2018-09-29 17:15] Pekshev commented on #3344
I'm found how to fix it in my project - http://www.andyfrench.info/2014/03/validation-adorners-not-displaying-in.html
Maybe somehow it will be possible to apply this solution in the library itself?

[2018-09-30 04:13] EMostafaAli opened #3345 "NumericUpDown for values less than 1"
**Describe the bug**
I noticed that entering values less than 1 behaves unexpectedly. If I enter 0.4 it works fine but If I tried .4 (without leading zero), the value changed to 4 (decimal point removed) even if numeric input mode set to All.

**To Reproduce**
Steps to reproduce the behavior:
1. a numericupdown that binds to double property
2. Try to enter value less than 1 without leading zero (e

[2018-09-30 16:49] Pekshev opened #3346 "Glow size like win10"
Glow looks bad.
![screenshot_3](https://user-images.githubusercontent.com/12638819/46260048-e3054e80-c4e9-11e8-897b-71140bb663e9.png)
How can i change it?

[2018-10-01 10:27] nilssol opened #3347 "PowerShell and MahApps assambly 1.6.5.0, only Net4.0 versjon works."
Getting this message when trying to use MahApps assembly for Net 4.5, 4.6 or 4,7.

Computer has Net 4.7 installed.

Exception calling "Load" with "1" argument(s): "The invocation of the constructor on type 'MahApps.Metro.Controls.MetroWindow' that matches the specified binding constraints threw an exception."

[2018-10-01 14:34] punker76 commented on #3345
@EMostafaAli This is fixed in the latest dev source and will be published with v2.0

[2018-10-01 14:34] #3345 closed

[2018-10-01 18:54] StefanK1 commented on #2924
Is it possible to animate the TitlebarHeight from 0 to 30 and from 30 to 0 (for example) ?
Thanks

[2018-10-03 22:18] #3340 closed

[2018-10-05 06:39] nilssol commented on #3347
Solved the issue.
There was som incorrect .Net version of the ControlzEx assambly loaded into the script.

[2018-10-05 06:39] #3347 closed

[2018-10-09 13:43] technolas opened #3349 "ToggleButton IsEnable=false is not working."
Since version 1.6  **ToggleButton** _IsEnable=false_ is not working properly anymore. Disabled style is applied only to button's border but not for the content.

1.6
IsEnabled=true  -  IsEnable=false
![1 6 x](https://user-images.githubusercontent.com/6229904/46672289-51779a00-cbd7-11e8-8704-fd410b0d1261.png)

1.5
IsEnabled=true  -  IsEnable=false
![1 5](https://user-images.githubusercontent.com/62

[2018-10-13 23:13] eiadxp opened #3352 "Create Binding to the accent and theme elements so they can change at runtime."
**Is your feature request related to a problem? Please describe.**
I want one of my controls background to have the Accent brush. If I used the static resource way, the control will not change its background color if I changed the application accent at runtime. We need a way to create Binding to the color I need.

**Describe the solution you'd like**
First step of solution is to create a helper cl

[2018-10-16 03:36] yuzifu opened #3353 "How to change button font size in dialog?"
I use DialogCoordinator.Instance.ShowMessageAsync() show a dialog, I can change title/message font size of dialog with MetroDialogSettings, but I can't find a way to change button font size。
Is there any way to do this?

[2018-10-16 04:10] ironhide91 opened #3354 "MetroWindow as a pure Window Style"
**Is your feature request related to a problem? Please describe.**
I want to use Mahapps.Metro for styling my app.
This is unique situation where, the app is composed of vairous WPF User Control class libraries.
Our firm uses a custom bootstrapper to launch these components.
It automatically creates a shell window for the app and host's the views inside it.
I cannot touch the bootstrapper in anywa

[2018-10-17 20:46] caltrevizam opened #3355 "Validation - Error Popup stay in wrong position after scroll"
https://1drv.ms/u/s!Ag-tH_x-r9zBga5uA6rppp05-YLLMg

[2018-10-18 12:12] JobaDiniz opened #3356 "Validation popup is shown in the wrong place when control is inside ScrollViewer"
**Describe the bug**
Validation error template ([ValidationErrorTemplate.xaml](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Styles/ValidationErrorTemplate.xaml)) shows the error popup in the wrong place.
When the control is inside a ScrollViewer, the [CustomValidationPopup](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Controls/CustomValidationP

[2018-10-18 12:40] #3355 closed

[2018-10-21 08:08] zeroyjk commented on #723
I have some question.. in contextmenu how to make the flyout open when it click
`                          <ContextMenu>
                                 <MenuItem Header="Action1">
                                        <MenuItem Header="Sub-Action1" Click="SubAction1_Click"  />
                                          <MenuItem Header="Aub-Action2" Click="SubAction2_Click" />

[2018-10-24 13:29] zinar opened #3357 "NRE in Metro window"
(Very rarely) when my machine resumes from sleep if a metro windows is open and in focus it would crash with the following stack trace:

   at MahApps.Metro.Behaviours.BorderlessWindowBehavior.<OnAttached>b__10_0()
   at System.EventHandler.Invoke(Object sender, EventArgs e)
   at System.Windows.Window.OnDeactivated(EventArgs e)
   at System.Windows.Window.HandleActivate(Boolean windowActivated)

[2018-10-24 13:36] punker76 commented on #2347
@Ahmetcanb The `TitleCaps` property is obsolete. You should use the `TitleCharacterCasing` instead.

If you put this key in your `App.xaml`

[code]

you can use then this key on your windows like

[code]

Hope this helps!

[2018-10-24 13:37] punker76 commented on #3357
@zinar I mean that this one is fixed in later version like v1.6.5

[2018-10-24 14:32] #3357 closed

[2018-10-24 14:42] Ahmetcanb commented on #2347
Thanks a lot!

[2018-10-25 04:00] EMostafaAli opened #3358 "DataGrid with rowheader"
**Describe the bug**
It looks like there is a problem with the Datagrid style, I was unable to show row header with the following code:

[code]
The result is as shown in this picture
![image 002](https://user-images.githubusercontent.com/11354102/47475136-84c14800-d7d7-11e8-9e26-689bd9e02450.png)

However, by removing the following line,
`                <ResourceDictionary Source="pack://applicat

[2018-10-25 07:47] punker76 commented on #3358
@EMostafaAli The MahApps default style for `DataGrid` sets the `HeadersVisibility` to `Column` and doesn't set the `RowHeaderWidth`. If you want to see the row headers then change these properties on your `DataGrid` like

[code]

[2018-10-25 07:47] #3358 closed

[2018-10-31 15:21] Suplanus commented on #1689
ILRepack have also problems with MahApps ressources:
https://github.com/gluck/il-repack/issues/170

[2018-11-02 05:46] jackylinwh opened #3359 "Numbericupdown data binding error"
**Describe the bug**
When the keyboard is used to change the value, the Numbericupdown control produces a data binding error.

**To Reproduce**
1. My xaml use NumericUpDown control like below:

<Controls:NumericUpDown Minimum="1" Maximum="8" TextAlignment="Left" Value="{Binding Path=SignalWave, Mode=TwoWay}"  UpDownButtonsWidth="32" >

Note: The Maximum is 8.

2. And my the binding source property

[2018-11-02 06:50] yuzifu commented on #3353
I use follow code to change font size of dialog's button:
[code]

[2018-11-02 06:50] #3353 closed

[2018-11-03 00:33] vipulvishnoi94 opened #3360 "Slider Value exceeds Minimum and Maximum bounds on MouseWheel"
**How to Reproduce:**
XAML
[code]

During runtime, **drag** the Slider to max position and then use the Mousewheel to increment again. The Slider value updates to Maximum + TickFrequency which causes invalid property change.

I think this is related to the issue here:
[(https://github.com/MahApps/MahApps.Metro/issues/3039)]

Please let me know if you need more info

**Environment**
Mahapps  - Vers

[2018-11-05 15:59] FinlayDaG33k opened #3361 "An error occurred while finding the resource dictionary"
**Describe the bug**
I have tried installing the package using `Install-Package MahApps.Metro -Pre`, this installs version `2.0.0-alpha0104`(version `1.6.5` throws all kinds of errors in my face).

When going through the quickstart, I get to the step where I have to add my ResourceDictionaries.
This is what my `App.xaml` looks like:
[code]

This, however throws the following errors:

Removing the

[2018-11-05 16:47] punker76 commented on #3361
@FinlayDaG33k This was a breaking change for v2.0 (#3296, #3350) which is not yet official documented. For now I changed the wiki [quick start ](https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start). The detailed documentation will be published soon.

[2018-11-05 19:42] hannachojnicka commented on #3144
Is it possible with custom dialog?

[2018-11-05 21:20] FinlayDaG33k commented on #3361
Thanks, this solved the issue for me :)

[2018-11-05 21:20] #3361 closed

[2018-11-06 01:29] 306room opened #3362 "Window jitters"
**Describe the bug**
When
After the window is maximized, hold down the mouse and drag in the title bar, and the window will be abnormal, when **enabled: Prevent windows from being automatically arranged when moved to the edge of the screen** on Control Panel (Control Panel, navigate to Ease of Access Center → Change how your mouse works)

**To Reproduce**
Steps to reproduce the behavior:
1. from c

[2018-11-06 13:31] punker76 commented on #3362
@306room mh, I don't have a Win7, so maybe I can not investigate this issue. I tested it under Win10 and can not see such issue (as far as I understand your described issue)

[2018-11-06 17:03] CarterAAelect opened #3363 "TextBoxHelper.ButtonCommand not firing"
Hi All,
I'm having a problem getting the Textbox Helper button command to work.

XAML
[code]

Class
[code]

ICommand
[code]

using the above, when the textbox button is press, nothing executes.
I'm sure I'm missing something stupid, but I'm just not seeing it.
Thanks

[2018-11-07 10:04] Zeleksonob opened #3364 "Range slider, won't response to left or right thumb drag when the range is close to min\max"
As Described in the title ,when the values are both close to the min max values , ranger silder won't response to value dragging both from the left and right thumb.

you could repreduce it also with draging only the left value to the max slider value and vice versa

![capture](https://user-images.githubusercontent.com/7282333/48124485-1c697080-e285-11e8-84f4-fd2bdc98281d.PNG)

**Environment(please

[2018-11-07 11:15] batzen commented on #3352
Why are you using `StaticResource` instead of `DynamicResource` if you want dynamic changes?

[2018-11-07 14:05] realivanjx opened #3365 "Wrong foreground/text color with dark theme under frame"
**Describe the bug**
When im using this library's dark theme (BaseDark), i noticed that text color is not converted/applied properly if the control is under a Frame (currently only textblock faced this issue). Please fix this.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply base dark theme.
2. Add a frame under mainwindow.
3. Add a new page.
4. Add a textblock on that newly created pag

[2018-11-07 21:17] pedritin91 commented on #3339
What did you do @Jehoel?

[2018-11-09 02:15] MostHated opened #3366 "MetroTabItem not calling method in ViewModel (using Caliburn) to display View in ContentContainer."
I am having an issue with trying to get a tab item to display a View into a ContentControl box (using Caliburn.Micro). The ContentControl was originally in a separate grid but from what I understand, that should be just fine. To test I moved it over and put it into the tabs code as seen below but that didn't do anything differently: (Note that I set "Name" both as Name= and x:Name= and it didn't s

[2018-11-09 02:39] #3366 closed

[2018-11-09 12:29] VeronicaGeek commented on #2740
Hey - I'm trying to use the 'MetroButtonRevealedPasswordBox' and can insert it no problem. However, when clicking on the eye to reveal, the _"stars"_ are still showing...

![revealpwdbox_charatersissue](https://user-images.githubusercontent.com/25181757/48262485-90894d00-e41a-11e8-9279-49e1880bbe7c.png)

Tried on 2 diff computers but same issue.
Nothing special in my XAML code, just 'Watermarks' a

[2018-11-09 14:38] VeronicaGeek commented on #2740
@punker76 I'm using MahApps 1.6.5 and my project is on .NET Framework 4.5.2

[2018-11-09 15:03] punker76 commented on #2740
@VeronicaGeek Can you show me your Xaml code for the password box? I tested it with the following lines and doesn't see this issue:

[code]

![2018-11-09_16h03_11](https://user-images.githubusercontent.com/658431/48269917-056b7f80-e439-11e8-88ad-2b72a842fa40.png)

![2018-11-09_16h03_30](https://user-images.githubusercontent.com/658431/48269923-08667000-e439-11e8-9158-bf4e2f3d70ac.png)

[2018-11-09 15:11] VeronicaGeek commented on #2740
@punker76  Sure
`<PasswordBox x:Name="AdminPwdTextbox" HorizontalAlignment="Left" Margin="1505,50,-1435,0" VerticalAlignment="Top" Width="230"  Controls:TextBoxHelper.Watermark="Enter your Global Admin password" Controls:TextBoxHelper.ClearTextButton="True" Style="{StaticResource MetroButtonRevealedPasswordBox}" Height="21" PasswordChar="*"/>`

[2018-11-11 12:13] damusthe opened #3367 "HamburgerMenu doesn't handle DataContext inheritance for Menu items"
I'm trying tu use HamburgerMenu with custom UserControls as items.
Unfortunately, the Datacontext link is not propagated to the items usercontrol.

[code]

I added in code behind the following event

[code]

This solve the problem, but not for the first time. Indeed when the application starts, the event is not invoked.
Adding this kind of XAML code doesn't work also.
[code]

Any idea ?
Thank you

[2018-11-13 08:58] AndreasReitberger opened #3368 "MetroWindow.ShowMessageAsync overlapped by frame content"
**Describe the bug**
I'm using the "Frame" object to load a html file located in the project folder. Moreover I have implemented the "OnCloseMessage" from your template.

Now, if I click the close button of the main form, the dialog asking to quit is overlapped by the content in the Frame object.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MetroWindow form
2. add the HamburgerMe

[2018-11-13 09:48] punker76 commented on #3368
@AndreasReitberger The Dialogs are always shown above the whole window. It's currently not possible to show it on a different "container" position.

[2018-11-13 10:20] AndreasReitberger commented on #3368
@punker76
Yes, that would be fine when the dialog is shown above the whole window. However the frame, which should be shown underneath the dialog, is shown above.

Here is a screenshot of the window when the Message is not shown.
Here you can see the "EULA" in a Frame object.
![image](https://user-images.githubusercontent.com/2952443/48406917-f4bb5200-e735-11e8-95af-64aa46ce331e.png)

And here is

[2018-11-13 11:02] AndreasReitberger commented on #3368
@punker76
I checked the FAQ, but I did not set the "AllowsTransparency " to true.

Does this solution still work for me? Thanks a lot!

[2018-11-13 11:19] punker76 commented on #3368
@AndreasReitberger In your case it's this one

[2018-11-13 13:45] AndreasReitberger commented on #3368
@punker76
Thanks, when I implement the fix it's working at runtime, however the XAML Designer in VS 2017 crashes once I open the specific XAML file.
I guess I rather work arround the Frame instead of using the provided fix.

Thanks for helping. I'll close the issue.

[2018-11-13 13:45] #3368 closed

[2018-11-14 15:25] AndreasReitberger opened #3369 "HamburgerMenu Localization issue"
**Describe the bug**
I'm using the Hamburger Menu and I wanted to localise the labels next to the icons.
This is one menu item for instance:

[code]

I'm using this extension to handle the localisation.
https://github.com/rhyous/WPFSharp.Globalizer
While the rest of the MainWindow is updating fine on language change, the MenuItems stay untranslated.
Only after a restart (I save the current languag

[2018-11-16 00:52] GanZhiXiong opened #3371 "I want the title bar, status bar, and border style of the form to remain unchanged after the form activation state becomes inactive"
Active state
![image](https://user-images.githubusercontent.com/27394631/48590913-65ec4680-e97c-11e8-8ec8-c08c5513657f.png)

State when inactive（I want and maintain the activation style）
![image](https://user-images.githubusercontent.com/27394631/48590921-6e448180-e97c-11e8-8139-f64606b60ce8.png)

My English is not very good, if you do not understand it please ask, I am looking forward to your ans

[2018-11-16 12:53] punker76 commented on #3371
@GanZhiXiong You can change these properties to prevent this behavior

[code]
or
[code]

[2018-11-16 12:53] #3371 closed

[2018-11-16 13:26] Raghava56 opened #3373 "SelectedDate showing incorrect in editor in DateTimePicker"
Hi,

am using mvvm the actual **selectedDate** is **7/3/2018 4:07:35 PM** but in the control showing wrong date. See below image.
![image](https://user-images.githubusercontent.com/25173908/48623086-bab8ad00-e9ce-11e8-88ed-4a608bcad6ec.png)

But in the popup it is showing correct.

![datetimepicker](https://user-images.githubusercontent.com/25173908/48623004-7a592f00-e9ce-11e8-8011-f09531bb23a4.PN

[2018-11-16 13:42] rollibolly commented on #3018
It is some progress on this?

[2018-11-16 14:00] punker76 commented on #3373
@Raghava56 Can you post the MahApps version? thx

[2018-11-16 14:09] GanZhiXiong commented on #3371
@punker76   Thank you so much for solving my problem!👍👍👍

[2018-11-16 21:14] eiadxp commented on #3352
You are right in that point.... `DynamicResource`  will solve the problem.....

However, the binding way can give auto complete in xaml editor.... If you are working on that in another way it would be not necessary also.

Best Regards

[2018-11-16 23:48] tymorrow commented on #3286
I've also seen an issue similar to this when loading the same data template with a DateTimePicker with different Data Contexts.  The time selections in the picker get set properly with the new data context, and the date displayed in the box is correct, but the selected date in the calendar is the last selection I made for a different data context.

[2018-11-19 07:00] Raghava56 commented on #3373
@punker76 MahApps versions is V1.5.0

[2018-11-19 08:10] punker76 commented on #3373
@Raghava56 Ok, please, try v1.6.5

[2018-11-19 20:16] punker76 commented on #3369
@AndreasReitberger Can you maybe create a short sample together with this library? Thx

[2018-11-19 21:29] punker76 commented on #3364
@Zeleksonob I can't reproduce this issue, so please, can you create a short sample which shows this issue? Thx.

[2018-11-20 09:31] ecxdev commented on #2848
Hi,

I have a similar problem like @Gohico
How I can to set content after execute my Command?
My CommanAction looks like this:
[code]
This code work, but not, as expected, because **DataTemplate HamburgerMenuItem** is completely replaced.
How do I get an object from **ClickedItem** property of **ItemClickEventArgs e** parameter into ViewModel?

[2018-11-20 11:07] Gohico commented on #2848
Not sure if this is of any help as I haven't touched this since... Last year...
But I ended up doing this (sort of work around):

[code]

Then in my UiBlabla.xaml.cs (so NOT the datamodel but the code behind the UI) I have the eventhandler
as

`private void HamburgerMenuControl_OnItemClick(object sender, ItemClickEventArgs e)`

So the views are loaded based on the '`Controls:HamburgerMenuItemColle

[2018-11-21 12:58] marcosgerene opened #3374 "[DateTimePicker] - Focus and BorderBrush"
Hello my friends,

1. How do I do to set focus to a DateTimePicker control (into textbox)?
I tried myControl.Focus(), Keyboard Focus... but its not work!

2. How do I do to change borderbrush to another color?

My code:

![image](https://user-images.githubusercontent.com/15945003/48842599-ce239980-ed7b-11e8-9811-c5bb43282ba9.png)

![image](https://user-images.githubusercontent.com/15945003/4884251

[2018-11-21 15:08] jfquarto opened #3375 "Command binding not working on FlipView next item"
My FlipView in Xaml:
[code]
MyTabs is an ObservableCollection of class Tab.
Class Tab has a property Buttons which is a Grid with Button controls on it.
Each button has a Command binding (MyTabs is created in the viewmodel constructor):
[code]
Now all works fine on the first FlipView item selected via SelectedIndex. If I click on a button the Command is executed. But when I navigate to next item t

[2018-11-22 19:42] SteffanDonal opened #3376 "NumericUpDown StringFormat doesn't handle percentages correctly."
There's strange behaviour happening with `NumericUpDown`'s `StringFormat` property, particularly around percentages.

First it looks like the `P`, `%` & `‰` format specifiers are being ignored, but when adding those same symbols outside of a format item, the numbers appear to be divided by 100 or 1000.

I do remember more frustrating issues before however - particularly with editing values. Previo

[2018-11-23 09:22] monoludic opened #3377 "NumericUpDown SnapToMultipleOfInterval property does not work with decimal increments"
Using a NumericUpDown control with a decimal interval (eg 0.01) and SnapToMultipleOfInterval=True, incrementing using buttons produces values not rounded as expected.

IMHO, Value should be rounded to the nearest interval on each increment, otherwise errors are cumulated.
(0.01 + 0.01 + 0.01 + 0.01 + 0.01 + 0.01) == (0.01 * 6) is false on my computer.

![2018-11-23_10-04-32](https://user-images.gi

[2018-11-23 13:18] Logic-Bits commented on #3340
current Fix: after installing MetroWindow manually downgrade ControlzEx to last stable Version!

[2018-11-23 14:16] #3377 closed

[2018-11-23 14:20] punker76 commented on #3340
@Logic-Bits or use the latest alpha version of MahApps.IconPacks which is now also strong named and doesn't has the ControlzEx dependency

[2018-11-23 15:51] oeksymz opened #3378 "Application start theme color problem"
Hello friends,
My application start theme color problem. Theme change procedure.

![2018-11-23-17-56-14](https://user-images.githubusercontent.com/45292151/48950814-805e8b00-ef4d-11e8-810c-634843552c81.png)

![2018-11-23-17-57-02](https://user-images.githubusercontent.com/45292151/48950766-586f2780-ef4d-11e8-828b-4f7279fa6291.png)

![2018-11-23-18-31-45](https://user-images.githubusercontent.com/4

[2018-11-23 18:36] punker76 commented on #3378
@oeksymz Hi, are you saving these 2 values? It seems so if I look to the screenshots. If you start without any saved value and use the Theme manager to get the current values for accent and rheme then it's recommend to leave a default accent and theme at the App.xaml.

[2018-11-24 00:21] punker76 opened #3379 "ShowProgressAsync extends autosized window content"
**Describe the bug**
from @mostafa901

[2018-11-24 00:22] #3379 closed, assigned to nobody

[2018-11-24 02:15] s0ciopa7h opened #3380 "Unable to open the project in VS2017"
Hi Sir
OS: [Win10 1803]
Visual Studio [2017 15.9.2]
![2018-11-24_031427](https://user-images.githubusercontent.com/42713227/48963639-1ff43b80-ef97-11e8-9d52-eecbd163193a.png)

[2018-11-24 10:13] punker76 commented on #3380
@s0ciopa7h You need to install the .Net Core 3.0 preview to use the latest source. I will update the wiki to show this information.

[2018-11-24 10:13] #3380 closed

[2018-11-24 10:16] punker76 commented on #3359
@jackylinwh Why do you inc and dec in code behind? The NUD do this for you.

[2018-11-24 10:17] punker76 commented on #3374
@marcosgerene I'll look to it.

[2018-11-24 11:40] marcosgerene commented on #3374
@punker76 thanks

[2018-11-24 11:54] s0ciopa7h commented on #3380
Please Download Link Sir

[2018-11-24 17:32] oeksymz commented on #3378
Thank you @punker76.
My problem fixed.

![2018-11-24-19-55-36](https://user-images.githubusercontent.com/45292151/48970920-0d741380-f024-11e8-8345-c61be8308311.png)

Application start theme color problem fixed. But different problem.

Application start no problem

![2018-11-24-20-01-46](https://user-images.githubusercontent.com/45292151/48971008-7e67fb00-f025-11e8-97e3-ed2804066b9e.png)

Theme col

[2018-11-24 18:30] punker76 commented on #3378
@oeksymz Can you provide the source of this app?

[2018-11-24 19:59] punker76 commented on #3380
@s0ciopa7h https://github.com/dotnet/core-sdk

[2018-11-25 06:07] oeksymz commented on #3378
Hi @punker76
App source code

https://mega.nz/#!UZZiGKAT!n_EGEzOM-pmOJGiu1mjU7FMEL2Hi1eCRcgoGJbpigXE

[2018-11-25 16:23] s0ciopa7h opened #3381 "Problem With Build Project"
OS: [Win10 PRO 1803]
Visual Studio [2017 15.9.2]
![2018-11-25_172200](https://user-images.githubusercontent.com/42713227/48981528-db6fb980-f0d6-11e8-8ed2-2d60d36486c8.png)
![2018-11-25_172218](https://user-images.githubusercontent.com/42713227/48981529-dc085000-f0d6-11e8-8632-3a931fc3cb8b.png)

[2018-11-25 16:48] punker76 commented on #3381
https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2018-11-25 16:48] #3381 closed

[2018-11-25 17:19] s0ciopa7h commented on #3381
i try like this and same problem

[2018-11-26 07:28] hektorpc opened #3382 "GlowBrush low performance"
When using the glowbrush on a metro window the startup time for the window is really high and the shadow pops up with a delay.

Can I somehow have a shadow effect on the window without affecting the startup time and have it ready when the window shows up?

Thank you.

[2018-11-26 08:43] punker76 commented on #3382
@hektorpc I don't know what pc configuration you have or which MahApps version are you using. I never saw such "is really high" behavior. But in v2.0 alpha this one was moved from here to ControlzEx with some re-implementation and should be now a little bit faster.

Yes, don't use the GlowBrush instead use the BorderBrush and no glow will be shown.

[2018-11-26 08:43] #3382 closed

[2018-11-26 09:02] punker76 commented on #3378
@oeksymz Hi, you set the app style at startup to app current and in your settings to main window. You should set it also to app current then it works.

[code]

but in App.xaml.cs
[code]

so with this it works
[code]

[2018-11-26 09:02] #3378 closed

[2018-11-26 10:10] oeksymz commented on #3378
Thank you @punker76

[2018-11-26 14:56] Lelyuss opened #3383 "CustomDialog height can not be changed..."
Hello,
I am using the normal MessageDialog (with ShowMessageAsync from MetroWindow class) to show Infos/Warnings/etc, but there are some situations where the Dialog does not looks nice. For example:
 - Show a very short text in the Dialog with the main window maximized. There is a lot of non used space.

![grafik](https://user-images.githubusercontent.com/45175478/49020916-d15ec100-f191-11e8-8e08-

[2018-11-29 02:13] Linkzd opened #3384 "not support the xp"
not support the xp

========================================
Time:2018-11-29 09:55:31:837
Message:UI线程崩溃
Exception:System.EntryPointNotFoundException: Unable to find an entry point named 'GetPhysicalCursorPos' in DLL 'user32.dll'.
   at ControlzEx.Standard.NativeMethods._GetPhysicalCursorPos(POINT& lpPoint)
   at ControlzEx.Standard.NativeMethods.TryGetPhysicalCursorPos(POINT& pt)
   at MahApps.Me

[2018-11-29 02:35] Nephalem-ZH opened #3385 "business use"
If I want to use this control library and apply it to the business, what kind of content do I need to add to my distribution software to use your authorization?

[2018-11-29 07:35] punker76 commented on #3384
@Linkzd XP is no longer supported.

[2018-11-29 07:35] #3384 closed

[2018-11-29 07:38] punker76 commented on #3385
@Nephalem-ZH This lib is under [MIT license](https://github.com/MahApps/MahApps.Metro/blob/develop/LICENSE). You can use it for your business (commercial use) without any authorization.

[2018-11-29 07:38] #3385 closed

[2018-11-29 16:57] kfreezen commented on #3022
Not sure whether the bug I'm experiencing is this one or #2753 but I'm still having a problem with the MahAppsRace sample on 1.6.5.

Related bug: cloudveiltech/Filter-Windows#183

This is a very intermittent bug. It might exhibit itself 2-3 times out of 100. This also happens on ShowMetroDialogAsync, but it's more noticeable with HideMetroDialogAsync.

[2018-11-30 09:58] fehdem opened #3386 "Compiling issue"
Hi!

I cloned the master this morning and I'm struggling with the VS2017 compiler since then.
The error message I get is:  _The reference assemblies for framework ".NETFramework,Version=v4.7" were not found._
The target framework selection is grayed out so I can't change anything. However, I've v4.7 installed, as well as 4.7.1 and 4.7.2.

I've no idea what's going wrong here. The MahApps solution

[2018-11-30 10:40] punker76 commented on #3386
@fehdem Did you also install the v4.7.x SDK?

[2018-11-30 11:14] fehdem commented on #3386
We're talking about the thing Microsoft named "Developer Pack" - right? Contrary to the sole Runtime.
If so - yes, I did. I reinstalled them this morgning, too.

[2018-11-30 11:47] fehdem commented on #3386
Installing .Net Core SDK 2.1 did it. THANK YOU!
VS didn't give any hint regarding a missing .net Core SDK and I wasn't aware of this dependency.

I'm sorry for bothering you with this...

-Marcus

[2018-11-30 12:07] #3386 closed

[2018-11-30 14:02] willerhreis opened #3387 "Checkbox in datagrid selecting others that not was selected"
**Describe the bug**
In a datagrid, I have many rows with check buttons. When I select some rows and scroll down the datagrid, other rows are selected automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dataGrid
2. Click on checkbox and select many rows
3. Scroll down and you can see that others rows was selected

**Expected behavior**
Only selected rows should be marked.

*

[2018-12-03 19:49] DavidXanatos opened #3388 "Build fail when running the demo application "MahApps.Metro.Demo" - Could not load file or assembly ControlzEx"
I have this issue: https://github.com/MahApps/MahApps.Metro/issues/3340
but i cant manage to fix it, any advise?

Cheers
David X.

[2018-12-04 07:46] punker76 commented on #3387
@willerhreis ping

[2018-12-04 07:48] punker76 commented on #3388
@DavidXanatos What VS? Which libs? Any additional debug output? Did you follow these [notes](https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution)?

[2018-12-04 08:00] punker76 commented on #3383
@Lelyuss How looks your own message dialog using CustomDialog?

[2018-12-04 08:05] punker76 commented on #3373
@Raghava56 ping

[2018-12-04 08:56] punker76 commented on #3374
@marcosgerene
1) I tried it at the main demo like the following code and it just works as expected
[code]
2) This was a bug and is now fixed in current source (v2.0 alpha)

Note: I tested this all with the latest source

[2018-12-04 08:56] #3374 closed

[2018-12-04 09:48] punker76 commented on #3365
@realivanjx To fix this issue just add the style to the page `Style="{DynamicResource MetroPage}"`. This is the same WPF issue like if you want to use a default style for a Window. I can fix this only by adding the style explicit to the Page or I create a derived class like `MetroPage` which get's the style with the DefaultStyle key.

[2018-12-04 09:48] #3365 closed

[2018-12-04 09:49] punker76 commented on #3362
@306room Is it possible you record this issue to see it in action?

[2018-12-04 10:14] marcosgerene commented on #3374
@punker76 great!! I'll update my references. =)

Thank you

[2018-12-04 10:17] punker76 commented on #3346
@Pekshev Yes, it's different to the Windows OS shadow. It's a glow with a color. In v2.0 you can change this by setting the ResizeBorderThickness.

[2018-12-04 10:17] #3346 closed

[2018-12-04 10:30] realivanjx commented on #3365
Is `MetroPage` style available on version `1.6.5`? I tried but vs2017 seems to not detecting it

[2018-12-04 10:34] punker76 commented on #3365
@realivanjx Yes, it's added via Controls.xaml.

[2018-12-04 10:42] realivanjx commented on #3365
Is it under this? I use this for `MetroWindow` but idk for `MetroPage`:

[code]

[2018-12-04 10:49] punker76 commented on #3365
@realivanjx It's a style not a Control.

[2018-12-04 11:01] realivanjx commented on #3365
Thanks. It runs successfully and fixes the issue but vs2017 somehow throws an error:
[code]

Is that normal?

[2018-12-04 11:59] punker76 commented on #3365
@realivanjx I don't know, this is related to which VS you use and/or which SDK...

[2018-12-04 13:23] TraxXavier opened #3389 "How o make buttons smaller?"
When i try to make a small button for example height of 20 the it fails, and stays at something like 28
when i change the property MinHeight than the text inside the button is cut,
how can i create a small button that shots the content properly?

[2018-12-04 13:29] #3389 closed, assigned to nobody

[2018-12-04 13:54] TraxXavier commented on #3389
great thanks :+1:

[2018-12-04 13:56] #3360 closed

[2018-12-04 15:42] punker76 commented on #3388
@FastChen This is not very helpful!

[2018-12-04 16:26] TraxXavier opened #3390 "Massive performance impact when adding/removing controlls"
I noticed that when I add

[code]

to my App.xaml
my code that adds and removes children (custom user controls) to a grid control needs 10x as long as it normally needs.

it is in the order of 5000 ms to remove 130 controls form the grid.

The user Control contains just a label, two combo boxes and 3 buttons.

Leaving only 1 combobox still needs about 1300ms

Is that large performance impact of th

[2018-12-04 20:34] DavidXanatos opened #3391 "ItemContainerStyleSelector on ComboBox does not work with MahApps"
I was using ItemContainerStyleSelector on a ComboBox, in order to make some entries not selectable.
after adding MahApps styling, the ItemContainerStyleSelector stopped working.

How can I make some ComboBox entries not selectable using MahApps ?

[2018-12-05 11:44] #2820 closed

[2018-12-05 13:47] abdulraooof opened #3392 "Nuget Warning"
Warning NU1602 MahApps.Metro 1.6.0 does not provide an inclusive lower bound for dependency ControlzEx (> 3.0.2 && < 4.0.0). An approximate best match of ControlzEx 3.0.2.4 was resolved.

[2018-12-05 13:49] punker76 commented on #3392
@abdulraooof I think this is fixed in later versions > 1.6.0

[2018-12-05 13:49] #3392 closed

[2018-12-05 13:55] abdulraooof commented on #3392
Oh sorry, It was installed as and WPF material design dependency. Now I have install it seperately and issue gone away.

Thanks!

[2018-12-06 12:59] #3391 closed

[2018-12-06 13:04] punker76 commented on #3390
@TraxXavier Have you tried to using the virtualized ComboBox style? Because it's not the default.

https://github.com/MahApps/MahApps.Metro/blob/c70a970b52780e57cdf22af9eb9a395cca878e18/src/MahApps.Metro/Styles/Controls.ComboBox.xaml#L611

I know that there are some tweeks to increase the performance when using the styles, I'm working on it...

[2018-12-06 13:06] punker76 commented on #3388
@DavidXanatos Have you looked to the [notes](https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution)? Is this still an issue for you?

[2018-12-06 13:07] #3387 closed

[2018-12-06 13:07] #3373 closed

[2018-12-06 13:38] punker76 commented on #3344
The AdornerDecorator must be placed close to the content. Placing around the ContentPresenter of e.g. the TabItem doesn't work.

[2018-12-06 13:38] #3344 closed

[2018-12-07 11:31] Lelyuss commented on #3383
@punker76 here my dialog using CustomDialog:
![grafik](https://user-images.githubusercontent.com/45175478/49645286-9f641f00-fa1b-11e8-9608-26a229b6a1db.png)

I have set everything in the middle but I would like to reduce the space between title, message and button....

[2018-12-07 11:38] punker76 commented on #3383
@Lelyuss Can you please add the Xaml code too?

[2018-12-07 12:05] #3286 closed

[2018-12-07 12:38] #3257 closed

[2018-12-07 13:04] #3211 closed

[2018-12-07 13:15] punker76 commented on #3363
@CarterAAelect Did you set the `DataContext` of the view to the class which has the `TextBoxButtonCmd`?

[2018-12-07 13:35] punker76 commented on #2334
Fixed with 3d9605d37f5ee9848da17b5ea2e5457993e58be7

[2018-12-07 13:35] #2334 closed

[2018-12-07 15:08] CarterAAelect commented on #3363
I Don't believe so, could you elaborate on how to do that?
thanks for the help

[2018-12-07 15:12] punker76 commented on #3363
@CarterAAelect For example:

https://github.com/MahApps/MahApps.Metro/blob/c3ff665c873cec5ffadbf03a73a58bf5bcfbe39b/src/MahApps.Metro.Samples/MahApps.Metro.Demo/MainWindow.xaml.cs#L20-L21

[2018-12-07 15:52] CarterAAelect commented on #3363
AH! that makes sense...
thank you for the help

[2018-12-07 15:52] #3363 closed

[2018-12-07 19:38] #3338 closed

[2018-12-07 19:42] punker76 commented on #3267
@oriolmortem Can you describe that in more detail? I don't understand what you are mean with "default currency". Maybe a small example will help to show this.

[2018-12-08 11:32] s0ndos commented on #2302
@bboxstart can you share your solution? You seem to be the only person on the internet who attempted this 😋

[2018-12-09 00:05] #3388 closed

[2018-12-09 00:06] #3364 closed

[2018-12-09 21:00] codirx opened #3393 "Make View Code Feature For Demo App"
I don't understand how can I use this special controls on my project so I need help. Can you update demo application like Material Design Demo please. I want to see XAML codes for every controls in mahapps demo.
![screenshot_1](https://user-images.githubusercontent.com/40802899/49702848-78ba0a00-fc0e-11e8-9fca-2a98bc094d9c.png)

[2018-12-09 23:40] punker76 opened #3394 "Introduce a property to change the overlay brush for modal Flyouts"
Currently it's not possible to change the overlay brush for modal Flyouts.

So it would be nice to change this with a new property.

[2018-12-09 23:41] #3394 closed

[2018-12-10 22:44] punker76 opened #3396 "Remove obsolete Styles and Templates"
Remove obsolete Styles and Templates

[2018-12-11 01:46] hamerstandr opened #3397 "error : One or more errors occurred."
MahApps.Metro\MahApps.Metro.csproj : error  : One or more errors occurred.

[2018-12-11 05:43] punker76 commented on #3397
@hamerstandr https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2018-12-11 05:43] #3397 closed

[2018-12-11 08:43] Lelyuss commented on #3383
[TestCustomDialogMahApps.zip](https://github.com/MahApps/MahApps.Metro/files/2666667/TestCustomDialogMahApps.zip)
Hello,
here is an small project with the code.
thanks!

[2018-12-11 13:28] hamerstandr opened #3398 "Unable to locate repository containing directory '...\MahApps.Metro-develop\src\MahApps.Metro'. MahApps.Metro ...\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta-63127-02\build\Microsoft.Build.Tasks.Git.targets 20"
Error :
Unable to locate repository containing directory '...\MahApps.Metro-develop\src\MahApps.Metro'.	MahApps.Metro	...\.nuget\packages\microsoft.build.tasks.git\1.0.0-beta-63127-02\build\Microsoft.Build.Tasks.Git.targets	20

[2018-12-11 13:31] punker76 commented on #3398
https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2018-12-11 13:31] #3398 closed

[2018-12-11 13:54] hamerstandr opened #3399 "Error GitVersion: Process returned an error (exit code 1)."
run build.ps1 error :
Cake.exe : Error: One or more errors occurred.
At line:1 char:1
+ & "C:\Intel\Progect\MahApps.Metro-develop new\tools\Cake\Cake.exe" "b ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Error: One or more errors occurred.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

GitVers

[2018-12-11 13:58] hamerstandr commented on #3398
@punker76  Thank you for the answer

[2018-12-11 19:07] punker76 commented on #3399
@hamerstandr Please provide more information about your issue with compiling the source! Which VS are you using? Did you install the .NET Core preview? Where did you run the build.ps1? At commandline `powershell .\build.ps1` or in powershell bash?

[2018-12-11 19:32] #3396 closed

[2018-12-11 21:03] punker76 opened #3400 "Use Microsoft.Xaml.Behaviors.Wpf instead the System.Windows.Interactivity"
Use Microsoft.Xaml.Behaviors.Wpf as dependency from NuGet instead the System.Windows.Interactivity.dll

This will remove the reference to System.Windows.Interactivity.dll which is sometimes bad for other projects which are also use this dll.

With this change it's necessary to change the namespace too, so this is a breaking change for all others too.

https://blogs.msdn.microsoft.com/dotnet/2018/1

[2018-12-11 22:08] thoemmi commented on #3399
@hamerstandr Have you cloned the repository or downloaded the sources?

[2018-12-11 23:14] #3400 closed

[2018-12-12 00:40] hamerstandr commented on #3399
installed the .NET Core preview!
and run powershell .\build.ps1

[2018-12-12 00:42] hamerstandr commented on #3399
Yes!

[2018-12-12 08:14] punker76 commented on #3399
@hamerstandr The cake script works only with a cloned repository.

[code]

[2018-12-12 11:15] jfquarto commented on #3375
Do you need more information ?

[2018-12-12 16:32] hamerstandr commented on #3399
how cloned repository

[2018-12-12 16:32] hamerstandr commented on #3399
how cloned repository

[2018-12-12 16:32] #3399 closed

[2018-12-12 21:50] punker76 commented on #3383
@Lelyuss So, in your case , you must add these lines in your `CustomDialogAffirmative`

[code]

The reason is by design, because MahApps calculates always the same MinHeight for all Dialogs to get a harmonic UI.

https://github.com/MahApps/MahApps.Metro/blob/72f69b37de10231e55e9eaa9838faf32a8355998/src/MahApps.Metro/Controls/Dialogs/DialogManager.cs#L479-L480

Hope this helps!

[2018-12-12 21:50] #3383 closed

[2018-12-13 02:13] li-zheng-hao opened #3403 "Build the lasted MahApps.Metro solution failed(2018.12.12)"
I followed the Quick Start for developers list,here is my steps:
1 Download the latest  .net core 3.0.x and only have the lasted version in my computer.
2 my VS2017 version is 15.9.x and I have enabled Use previews of the .Net Core SDK
3 Clone the repository
4 clean the solution and rebuild
5  build failed

here are more information:
![.net core sdk](https://user-images.githubusercontent.com/22129

[2018-12-13 02:51] li-zheng-hao commented on #3403
![image](https://user-images.githubusercontent.com/22129824/49912387-f60ea480-fec4-11e8-8cc8-825095855d76.png)
I try the command in project folder:
`.paket\paket restore`
But it doesn't work.

[2018-12-13 05:56] li-zheng-hao commented on #3403
Here are some information in output window :
[code]
[code]
[code]

And when I write the command  `.paket\paket restore` ,it occurs some errors:
![image](https://user-images.githubusercontent.com/22129824/49918638-da17fc80-fede-11e8-9823-5101a798953f.png)

[2018-12-13 08:21] Lelyuss commented on #3383
Thank you! It worked :)

[2018-12-13 19:30] punker76 opened #3406 "Custom ContextMenu on NumericUpDown will not show on text input"
**Describe the bug**
A custom ContextMenu will not shown on the text input for
- NumericUpDown
- HotKeyBox
- DateTimePicker, TimePicker
- DatePicker

**To Reproduce**
Create a ContextMenu and set it to one of these controls.

**Expected behavior**
The ContextMenu should be shown at the text input.

**Environment(please complete the following information):**
 - MahApps.Metro version >= v1.6.5

**Ad

[2018-12-13 20:13] #3406 closed

[2018-12-13 21:32] punker76 commented on #3375
@jfquarto Which MahApps version are you using?

[2018-12-13 21:37] punker76 commented on #3375
@jfquarto I think this is fixed in the current dev branch b83db30511fed40eda672c0e302abc8f92348d39

[2018-12-14 04:04] hamerstandr opened #3407 "error run build.ps1"
PS C:\Intel\Progect\MahApps.Metro-develop new> C:\Intel\Progect\MahApps.Metro-develop new\build.ps1
Preparing to run build script...
Running build script...
Analyzing build script...
Processing build script...
Installing tools...
The 'tool' directive is attempting to install the 'GitVersion.CommandLine' package
without specifying a package version number.
More information on this can be found at h

[2018-12-14 06:41] thoemmi commented on #3407
@hamerstandr The same question as in #3399: did you clone the repository or just download the sources?

[2018-12-14 07:53] SR84 commented on #3406
Super, danke.

[2018-12-14 08:10] punker76 commented on #3407
@hamerstandr You must clone the repository. Here are some helpful links.

- [Cloning a repository](https://help.github.com/articles/cloning-a-repository/)
- [Git Basics - Getting a Git Repository](https://git-scm.com/book/en/v2/Git-Basics-Getting-a-Git-Repository)
- [Git download](https://git-scm.com/downloads)

So your commandline will be

[code]

[2018-12-14 08:10] #3407 closed

[2018-12-14 10:40] jfquarto commented on #3375
Build MahApps from the current dev branch and used it in my project.
But it didn't solve my problem.

[2018-12-14 10:59] punker76 commented on #3375
@jfquarto It would be nice if you can create a short sample and separate this.

[2018-12-14 12:16] jfquarto commented on #3375
Here's the sample;
[FlipViewTest.zip](https://github.com/MahApps/MahApps.Metro/files/2680002/FlipViewTest.zip)

[2018-12-14 16:04] punker76 commented on #3375
@jfquarto The problem here is, that you are mixing MVVm with creating visuals in code behind. It works for the first tab, because there is a existing visual tree and for the other tabs it doesn't exists. In your case you can do this at the KeyboardCreator:

[code]

[2018-12-14 18:07] #3375 closed

[2018-12-14 21:53] #3359 closed

[2018-12-14 21:55] punker76 commented on #3354
@ironhide91 This is currently not possible. The MetroWindow does many code behind action which is not possible to do only with a style.

[2018-12-14 21:58] #3354 closed

[2018-12-14 22:12] punker76 commented on #3228
@avechuche An expander control should always shown it's state to make it different to a GroupBox. If you don't need this difference then please make your own style for the header template.

[2018-12-14 22:12] #3228 closed

[2018-12-15 03:05] li-zheng-hao opened #3408 "In InputDialog,The button is partially invisible."
My Metro Version is 1.6.5.
![bug1](https://user-images.githubusercontent.com/22129824/50038309-816c6f00-0058-11e9-8a4a-3e5600c05424.png)
![bug2](https://user-images.githubusercontent.com/22129824/50038310-816c6f00-0058-11e9-94f2-70430a665e40.png)

I tried to resize my window width to smaller than a certain number, this problem happened, but when the window width is big enough, it will not happen.(

[2018-12-16 00:32] #3342 closed

[2018-12-17 19:56] rhinterndorfer opened #3409 "Crash when changing screen resolution"
WPF application using MahApp MetroWindow crashes with unhandled exception when reducing screen resolution and the window width and height properties are defined.

Problem occurs on remote desktop environments when connecting with different clients (screen resolutions) to terminal servers.

### Steps to reproduce the behavior:
Following simple xaml has been used to reproduce the behavior:
[code]

1

[2018-12-17 20:35] hamerstandr opened #3410 "TrayIcon"
Add TrayIcon style windows 10
![image](https://user-images.githubusercontent.com/16276736/50113656-d0342780-0257-11e9-86a6-558aaf3e4520.png)
or
![image](https://user-images.githubusercontent.com/16276736/50113714-01acf300-0258-11e9-9460-36e6b5e16a0d.png)
simple
https://github.com/File-New-Project/EarTrumpet/tree/master/EarTrumpet/UI/Controls
and
https://github.com/File-New-Project/EarTrumpet/tree/

[2018-12-18 09:20] punker76 commented on #3409
@rhinterndorfer Is it possible for you to test the latest alpha version 2.0.0-alpha0170 (on Nuget)?

[2018-12-18 09:21] rabejens opened #3411 "How to reference resources like AccentColorBrush in the 2.0 prerelease?"
I am using MahApps.Metro prerelease 2.0.0-alpha0170 but cannot figure out the namespace / path of things like `AccentColorBrush`.

Where is it?

[2018-12-18 09:21] punker76 commented on #3410
@hamerstandr ?

[2018-12-18 09:24] punker76 commented on #3411
@rabejens The accent and theme brushes will be now generated on every build. It's a breakin gchange, because they are now located at a different place. The [Wiki](https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start#add-the-resources-in-appxaml-in-v20-breaking-change) is updated, documentation will come.

[2018-12-18 09:24] #3411 closed

[2018-12-18 09:28] rabejens commented on #3411
I just see adding `Background="{DynamicResource AccentColorBrush}"` to e.g. a label works, it compiles and runs but I get a blue squiggly in the WPF designer. How do I make that go away?

[2018-12-18 09:49] rhinterndorfer commented on #3409
Same problem with 2.0.0-alpha0170.
![crash_alpha0170_settings](https://user-images.githubusercontent.com/15844038/50145706-73b22600-02b2-11e9-9d40-ac8215ce8618.PNG)
![crash_alpha0170_lowres](https://user-images.githubusercontent.com/15844038/50145729-7f9de800-02b2-11e9-8f70-76cdb9f53bf7.PNG)

[2018-12-18 09:56] rhinterndorfer commented on #3409
We currently use a workaround that detects the screen resolution change and sets window state to normal and immediately to maximized afterwards if the app is maximized in code behind file "MainWindow.xaml.cs".

[code]

[2018-12-18 09:59] hamerstandr commented on #3410
add style to TrayIcon System Color and Acont Color

[2018-12-18 10:03] punker76 commented on #3410
@hamerstandr I don't see why we should do this. TrayIcon is an external source at EarTrumpet.

[2018-12-18 12:46] pfattisc opened #3412 "BaseMetroDialog DialogBottom: CommandBinding doesn't work"
**Describe the bug**
I have a [demo](https://github.com/pfattisc/DialogBottomBug) with a custom dialog. Within the custom dialog's DialogBottom there are two buttons OK and Cancel (to accept resp. cancel).
The button's commands are bound to the CloseCommand of the dialog. This is a relative source binding.
Quite often this binding doesn't work while the same binding of a button within the dialog's

[2018-12-18 21:58] thoemmi commented on #3410
@hamerstandr a tray icon is out of scope of MahApps.Metro. However, I can recommend [Hardcodet.NotifyIcon.Wpf](https://www.nuget.org/packages/Hardcodet.NotifyIcon.Wpf/) which I have used in a project or two. It works great with MahApps.Metro.

[2018-12-18 21:58] #3410 closed

[2018-12-19 21:22] #3412 closed

[2018-12-19 21:23] punker76 commented on #3412
@pfattisc Thx for the repo 👍  and this is fixed now

[2018-12-21 06:00] caidt3 commented on #3403
Did you solved the problem? I have encounted the same problem.

[2018-12-21 06:06] li-zheng-hao commented on #3403
not yet. I download 1.6.0 version and it works well. So maybe you can git an older version and try again

[2018-12-21 06:11] li-zheng-hao commented on #3403
you can get it from here ：
[https://github.com/MahApps/MahApps.Metro/releases](url)

[2018-12-21 06:15] caidt3 commented on #3403
thank you, I tried  the older version 1.6.0 before, it works well.

[2018-12-21 22:41] punker76 commented on #3403
Since dotnet core 3.0 sdk 009831 it no longer works with Visual Studio 2017 https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2018-12-21 22:41] #3403 closed

[2018-12-21 22:42] #3362 closed

[2018-12-21 22:42] #3267 closed

[2018-12-21 22:43] #3260 closed

[2018-12-25 16:29] WeaponizedMeme opened #3414 "Which Version Is The Latest Version Of Hamburger Menu"
I downloaded the [code samples](https://github.com/punker76/code-samples) for the hamburger menu, and the solution includes 4 different examples! All of them are significantly different, and I'm not sure which one I should be using. For example one is using "glyphs" for the button icons, which I can't find a list of anywhere, and another is using icon packs. Is one of these deprecated? Which shoul

[2018-12-26 08:06] larryhwang opened #3415 "A Stupid question"
um, may this is a stupid  issus, but I  am very upset  cause I  can'nt  open and Excute and debug This Project ， files download on this  https://github.com/MahApps/MahApps.Metro/archive/develop.zip
I just wanna Some Samples
It‘s  doubtless ThatMahApps is a awesome UIKit ， But i can't  debug its offical samples ,make me
 very depressed ,pool me
Anyone may help me  ？
![image](https://user-images.git

[2018-12-26 08:59] punker76 commented on #3415
@larryhwang If you installed the latest .Net Core 3.0 then you need also the VS 2019 preview.

https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2018-12-26 08:59] #3415 closed

[2018-12-28 09:35] larryhwang commented on #3415
It works !  Thank your advises ,  so kind of  My  friends  : ）

[2018-12-29 21:57] #3310 closed

[2018-12-29 22:02] punker76 commented on #3414
@WeaponizedMeme You can use one of these samples. There is no deprecated or prefered one. The glyphs items can be used for font icons.

[2018-12-29 22:02] #3414 closed

[2019-01-02 22:18] punker76 commented on #3367
@damusthe Can you create a short sample which shows your issue? Thx!

[2019-01-07 11:01] realivanjx opened #3419 "Add SetResourceReference() to all mahapps controls"
**Is your feature request related to a problem? Please describe.**
Yes, my app is a multi language app. Seems my case is only with `HamburgerMenuIconItem` for now. What im trying to do is to assign a `DynamicResource` value to its `Label` property. Currently it is only possible to assign `DynamicResource` from the XAML code (e.g. `Label={DynamicResource home}`). From [this](https://weblogs.asp.net

[2019-01-07 15:42] realivanjx commented on #3419
Any ideas for my case here? I need to generate menu items from c# code

[2019-01-07 15:49] realivanjx commented on #3419
Here is my menu item template:
[code]

[2019-01-08 02:04] realivanjx commented on #3419
I have solved my case to use my own `UserControl` instead of `TextBlock` in the menu item template. Thanks for the help.

[2019-01-08 02:04] #3419 closed

[2019-01-08 09:32] punker76 commented on #3367
@damusthe ping

[2019-01-09 12:06] Laurnz commented on #3367
I have the exact same Problem. I need some views in the HamburgerMenu to bind to the same ViewModel als to control the code is in, but setting the DataContext is doing nothing in the XAML code.

Currently the code looks something like this:
`
<controls:HamburgerMenu x:Name="createProject_hamburgerMenuMain"
        ItemTemplate="{DynamicResource Global_Template_HamburgerMenuItem}"
        OptionsIt

[2019-01-09 15:50] Laurnz commented on #3367
I found the "problem" in this StackOverflow thread: [https://stackoverflow.com/questions/15494226/cannot-find-source-for-binding-with-reference-relativesource-findancestor](url)

According to the awnser is the HamburgerMenuGlyphItem is not be part of the visual or logical tree, there is no binding ancestor for the DataContext. i.e. the binding has no source to bind to. So to work around this you h

[2019-01-10 08:58] TZM-svat opened #3420 "NumericUpDown Undo/Redo Value-Binding not updated"
**Description**
Using Undo/Redo (Ctrl+Z / Ctrl+Y) works correctly while NumericUpDown has the initial focus. After losing focus once and refocusing the control, Undo/Redo only changes the displayed value but the binded property is never updated. After losing focus again the displayed value returns to the unchanged binded property value.

**To Reproduce**
MainWindow:
[code]

ViewModel:
[code]

Step

[2019-01-11 03:04] Nephalem-ZH opened #3421 "VS2015 Can't compile with VS2015"
VS2015 Can't compile with VS2015

[2019-01-11 08:23] zeroyjk opened #3422 "I dont understand the demo of the binding method"
[code]

How it binding to

`MahApps.Metro.Demo > folder (ExampleViews) > ButtonsExample.xaml`

[2019-01-11 08:30] punker76 commented on #3422
@zeroyjk The DataContext of the ButtonsExample binds to the DataContext of the main window -> `DataContext="{Binding}" `

[2019-01-11 09:46] zeroyjk commented on #3422
I have google and bing it, but i dont understand it MVVM you using..

[2019-01-11 10:01] punker76 commented on #3422
Here are some help about that

- https://www.tutorialspoint.com/mvvm/mvvm_wpf_data_bindings.htm
- https://youtu.be/WYBoTT2ce8c?t=1096
- https://docs.microsoft.com/en-us/dotnet/framework/wpf/data/data-binding-overview

[2019-01-11 10:01] #3422 closed

[2019-01-11 19:32] Symbai commented on #3136
Downloaded the latest demo but it looks like there hasn't been any progress on this?

[2019-01-13 10:33] NeomMob opened #3423 "sluggishness of MetroWindow on 144Hz monitor"
Sluggishness of MetroWindow on 144Hz monitor

**To Reproduce**
Standard MetroWindow with
	WindowTransitionsEnabled="False"
	AllowsTransparency="True"
	Background="Transparent"
	WindowStyle="None"

**Expected behavior**
A smooth and high performance behavior

**Environment(please complete the following information):**
 - MahApps.Metro version .1.6..51
 - OS: Win10
 - Visual Studio 2017
 - .NET Fram

[2019-01-13 10:39] NeomMob opened #3424 "Maximize icon drawn incorrect"
The maximize icon has unwanted shadow.

**To Reproduce**
Using the Win10 buttonsCommands on a HiDPI screen with custom scale

	<Controls:MetroWindow.WindowButtonCommands>
		<Controls:WindowButtonCommands Style="{DynamicResource MahApps.Metro.Styles.WindowButtonCommands.Win10}" />
	</Controls:MetroWindow.WindowButtonCommands>

**Expected behavior**
A clear and concise description of what you expect

[2019-01-13 11:43] punker76 commented on #3424
This is already fixed by https://github.com/MahApps/MahApps.Metro/commit/fc6b529b945d902b2211080dcf765490ba242d05#diff-75ed7bf48da87bab8adfd142701009d8
Duplicates to #3329

[2019-01-13 11:43] #3424 closed

[2019-01-13 11:50] punker76 commented on #3423
AllowsTransparency="True" will not be supported by MahApps, because of these sluggishness (you can set it, but with these consequences). It's an issue of WPF. The other issue will be that you lost all ClearType for every control which shows text.

[2019-01-13 11:50] #3423 closed

[2019-01-13 16:19] NeomMob commented on #3423
@punker76 , How then can you achieve windows like this one (having the transluscent part)
https://user-images.githubusercontent.com/326762/43661562-075aeab0-9763-11e8-910c-1f98f790f492.png

[2019-01-14 10:50] chodi150 opened #3426 "DateTimePicker - two-digit number in input textbox"
Hello,
is there any possibility to make the number in the input textbox two-digit?

![image](https://user-images.githubusercontent.com/24375881/51108334-2a41f180-17f2-11e9-8afa-2d8388fb44e4.png)

I analysed _DateTimePicker.xaml_ file and seemingly these numbers are hard-coded.

Is there any way to overcome this issue?

[2019-01-14 11:47] b-mi commented on #3276
Still not solved. Missing something like NullLabel="xxxx"

[2019-01-14 17:15] NeomMob opened #3427 "Ho to get a bigger drop shadow on MetroWindow?"
Using glow brush make the drop shadow smaller than expected. How can we increase its size?

Thansk for your help,

[2019-01-16 00:36] bradley-dotnet commented on #2882
In 1.6.5 this behavior seems to be broken again. The `Closing` event still fires on the window, and you can call `Application.Current.Shutdown()` to get around it

[2019-01-16 15:46] Laurnz opened #3430 "Hamburger menu selected index binding problem"
Is there a way to easy bind the displayed content of a hamburger menu using MVVM style?
For example with the selected index...

Changing the selected index updates the panel of the hamburger menu but not the content inside. (Can even be observed in the demo app)

Using MahApps.Metro 2.0.0 alpha 186

[2019-01-18 11:31] punker76 commented on #2845
@JobaDiniz Yes, it will be available

[2019-01-18 11:36] JobaDiniz commented on #2845
It will be real hard because we customized several aspects of styles, and the foundation was MahApps styles and its keys... I saw that you changed a lot of thing in styles...

[2019-01-18 17:35] MosiXMosiX opened #3431 "Project file is incomplete. Expected imports are missing."
Project file is incomplete. Expected imports are missing.

[2019-01-18 19:25] Kabennsky commented on #1495
How does this IgnoreTaskBarOnMaximize works? Is it possible to do something like this on a normal Window? Its a ugly problem when working with Borderless windows. Already looked for usage in code, but it seems not to be used.

[2019-01-19 09:33] teekay opened #3432 "Choppy / jerky animation using Storyboard and DoubleAnimation in a MetroWindow"
## Issue description
I have a simple animation that I create programmatically. Say it's a vertical line moving along the X axis.

Using a "normal" WPF Window, it does so smoothly.

Using a MetroWindow, the animation is choppy - the line moves a pixel, stops for a few ms., then moves again.

## Code sample
### Window.xaml
[code]

### Window.xaml.cs
[code]

## Environment
 - MahApps.Metro version 1.

[2019-01-19 20:37] darxis commented on #3236
I am also experiencing the following binding error:
`Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.Controls.DataGrid', AncestorLevel='1''. BindingExpression:Path=SelectionUnit; DataItem=null; target element is 'DataGridRow' (Name=''); target property is 'SelectionUnit' (type 'DataGridSelectionUnit')`

when binding the `Visible` property of

[2019-01-20 20:41] punker76 commented on #3432
@teekay We set the `UseLayoutRounding` for the inner `ContentPresenter` to false for better results, so to bring back the same as without MahApps just set this to true for your StackPanel (I got the same result as without MahApps)

[code]

[2019-01-20 20:41] #3432 closed

[2019-01-20 22:43] #3426 closed

[2019-01-21 20:52] #3420 closed

[2019-01-23 13:18] Moerty opened #3433 "Styles not found in 2.0.0-alpha0212"
**Describe the bug**
Some styles are not found in the pre-release, like:
[code]

I also tried to change "Accents" to "Themes", like in the sample, but that didn't work.

**To Reproduce**
1. Clone repo github.com/punker76/MahApps.Metro.netcoreapp30
2. Goto app.xaml, add following lines:
[code]
3. Remove:
`<ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Themes/Light

[2019-01-23 13:29] alexsigmund opened #3434 "HamburgerMenu Separator"
Is there a possibility to add a seperator to the HamburgerMenuItems.
The seperator can be a line or just a margin at the top or bottom of an item.
The advantage should be that the Items can be grouped visually.

Something like this: (between "Draft" and "All Mails")
![grafik](https://user-images.githubusercontent.com/2656551/51609736-2f521f80-1f1b-11e9-8f41-d5a4c27218bd.png)

[2019-01-24 08:13] FGallotti opened #3435 "Solution load failed"
I downloaded the zip from develop brunch, when I go in the subfolder src, I try to open the solution MahApps.Metro.sln

when visual studio load the solution fails to opend the projects MahApps.Metro, MahApps.Metro.Caliburn.Demo, MahApps.Metro.Demo, MahApps.Metro.Tests

Output Windows show me this description:
C:\Users\SOFTWARE2\Desktop\MahApps.Metro-develop\src\MahApps.Metro\MahApps.Metro.csproj :

[2019-01-24 08:19] punker76 commented on #3435
@FGallotti Sorry for the inconvenience, but you need at least the VS 2019 Preview Community Edition.

https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution#quick-started-for-developers

[2019-01-24 08:19] #3435 closed

[2019-01-24 08:34] FGallotti commented on #3435
Sorry, I did not read the quick start because I am using this framework from 1 year, at home I have an old version of the example project and still works there, In the office I changed the machine and I thought simply to download it.
Thank you very much for the quick answer.

[2019-01-24 15:37] furqansafdar opened #3436 "HamburgerMenu ItemInvoked doesn't fire automatically"
**Problem**
I have found a small glitch or bug you may say in `HamburgerMenu` when using it with PRISM library to load dynamic modules.

I have a navigation pane on left and content pane on right (as shown in the screenshot below). Every module is loaded with navigation item and upon clicking the item, the corresponding content is loaded in the right pane. I have set the HamburgerMenu's SelectedIn

[2019-01-24 20:17] GreatFireWall opened #3437 "Any docs of HambugerMenu(items) ?"

[2019-01-24 20:20] Moerty opened #3438 "Togglebutton background not changing"
**Describe the bug**
Maybe I'm missing something, but the color of the background when the button "IsChecked" can't be changed?

**To Reproduce**
[code]

**Expected behavior**
When 'IsChecked' = true, I want to see the background of the button white.

[2019-01-25 08:34] zeroyjk commented on #3435
@FGallotti can you share the link for old version example project.. i really need it..

[2019-01-26 08:00] GreatFireWall commented on #3437
well thanks.

[2019-01-26 16:31] FGallotti commented on #3435
try this one.
[MahApps.Metro.Demo.zip](https://github.com/MahApps/MahApps.Metro/files/2799210/MahApps.Metro.Demo.zip)

[2019-01-26 16:51] GreatFireWall opened #3439 "Left padding of icon in MenuItem is too less"
![image](https://user-images.githubusercontent.com/4510984/51790257-8da62900-21cd-11e9-8ff4-09e037ef7b6e.png)

[2019-01-27 18:02] #2615 closed

[2019-01-27 18:06] punker76 commented on #3439
@GreatFireWall Please, post more informations when you open an issue! https://github.com/MahApps/MahApps.Metro/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md

[2019-01-27 18:09] GreatFireWall commented on #3439
@punker76 sorry, it may not be a bug ? just the left side edge too less, seems like no edges between Icon and menu item left edge.

![image](https://user-images.githubusercontent.com/4510984/51804927-c0215600-22a1-11e9-80ee-750b7484064a.png)

[2019-01-27 18:13] GreatFireWall commented on #3439
![image](https://user-images.githubusercontent.com/4510984/51804961-40e05200-22a2-11e9-9d42-0a1ce8450bbd.png)

[2019-01-27 18:34] GreatFireWall commented on #3439
@punker76 Well, Solved ! Thank You !

[2019-01-27 18:34] #3439 closed

[2019-01-27 18:39] GreatFireWall commented on #3439
By the way, Can I use style for {iconPacks:Modern xxx} to make it effect all instance, because I want to keep my code as short as possible.

[2019-01-27 21:03] punker76 commented on #3439
@GreatFireWall Yes, you can define a global style at the App.xaml or at the main window where you use the IconPacks.

[code]

[2019-01-27 21:04] GreatFireWall commented on #3439
@punker76 ok, thanks your guide !

[2019-01-28 13:46] timunie commented on #3438
Hello Moerty,

please try to add the BasedOn Property to your style (Like the lines below):

[code]

I've tried this out and it worked for me.

Best regards,

Tim

[2019-01-28 14:55] GreatFireWall opened #3442 "Why the icon color not grayed which inside a disabled Circle Button"
![image](https://user-images.githubusercontent.com/4510984/51843958-11d3ea00-234f-11e9-8066-60fef6030fbb.png)

The first one is enabled, second one is disabled.

I'm using `BaseLight` theme and `Steel` accent, my code:

![image](https://user-images.githubusercontent.com/4510984/51844279-cff77380-234f-11e9-87d3-473ff3ce060f.png)

[2019-01-28 15:11] Moerty commented on #3438
Tried this too, but didn't work.
I end up using this:
`BasedOn="{StaticResource MahApps.Metro.Styles.MetroToggleButton}"`

Found here: https://github.com/MahApps/MahApps.Metro/blob/5200e9e57755f30134a58a46d26ca473e781b9ea/src/MahApps.Metro/Styles/Controls.Buttons.xaml#L674

[2019-01-28 15:12] #3438 closed

[2019-01-28 15:27] punker76 commented on #3442
@GreatFireWall This is not a problem of MahApps itself. Look at [this](https://github.com/MahApps/MahApps.Metro/issues/3101#issuecomment-376786019) and my [blog post](https://jkarger.de/2017/12/10/disabled-button-foreground/).

[2019-01-28 15:27] #3442 closed

[2019-01-28 22:13] punker76 commented on #3436
@furqansafdar Can you create for this issue a sample? Thx

[2019-01-29 10:55] punker76 commented on #3436
@furqansafdar Or did you mean, that the OnItemInvoked will not be fired for the first time load of the control?

[2019-01-29 11:08] furqansafdar commented on #3436
@punker76 Yes, i think OnItemInvoked should fire after loading because essentially it hold the logic to load the corresponding content.

[2019-01-29 20:34] GreatFireWall opened #3443 "How can I open flyout in an UserControl 2019 ?"

[2019-01-29 22:08] #3241 closed

[2019-01-29 22:08] #3430 closed

[2019-01-29 22:08] #3436 closed

[2019-01-29 22:15] punker76 commented on #3241
@kszabolcs

This HamburgerMenu uses the normal WPF ListBox which directly selects a ListBoxItem if you use the up/down/left/right keys. If you find a better solution or know a better control then let me know or create a PR to change this behavior.

I know the UWP version for this (now the NavigationView) works different, but until there will be a better control or solution, the current selection/f

[2019-01-29 22:18] punker76 commented on #3443
@GreatFireWall You can bind to the `IsOpen` property of a Flyout to any property of a ModelView class.

[2019-01-29 22:18] #3443 closed

[2019-01-29 22:19] GreatFireWall commented on #3443
But it only avaliable in MetroWindow.

[2019-01-29 22:25] #3390 closed, assigned to nobody

[2019-01-29 22:35] punker76 commented on #3195
This usage of the `Behaviours:BorderlessWindowBehavior ` is obsolete and will be deleted at the official documenattion site.

[2019-01-29 22:35] #3195 closed

[2019-01-30 17:41] GreatFireWall opened #3445 "Where is the MetroWindow.ShowMetroDialogAsync definition ?"
I have not install .net core 3, so I open MahApps.Metro as a folder (not a solution) and search it global but not found.

![image](https://user-images.githubusercontent.com/4510984/52000868-10debc00-24f9-11e9-9b54-922371909350.png)

[2019-01-31 19:29] GF-Huang opened #3446 "A MVVM way to show and hide CustomDialog"
**Is your feature request related to a problem? Please describe.**
I'm using MahApps.Metro 1.6.5 now.
To show a CustomDialog in VM I must call
`dialogCoordinator.ShowMetroDialogAsync(..., BaseMetroDialog dialog, ...)` at the VM code,
but `BaseMetroDialog` is an UI element, so I think this will breaking MVVM.

More detail information please read this answer and comments: https://stackoverflow.com/a

[2019-02-01 15:57] GreatFireWall opened #3447 "How can I use a Menu in the window's titlebar ?"
I want to put a `Menu` (because I need a single selection feature) into `RightWindowCommands` which has appearance like a `default button` inside `RightWindowCommands`.

I had try `DropdownButton`, `MenuItem`, `Menu with MenuItem`, but their appearance will be incompatible.

![image](https://user-images.githubusercontent.com/4510984/52133514-71e2cd00-267c-11e9-9756-c13cd2756196.png)

![image](http

[2019-02-02 00:51] GreatFireWall commented on #3447
Solution left to those in need:

`App.xaml`:
[code]

`MainWindow.xaml`:
[code]

Effect:

mouse not over
![image](https://user-images.githubusercontent.com/4510984/52157117-9b751600-26c7-11e9-8745-c470dc265c6e.png)

mouse over
![image](https://user-images.githubusercontent.com/4510984/52157123-a3cd5100-26c7-11e9-851b-27b1cd2fca27.png)

[2019-02-03 06:59] GreatFireWall opened #3448 "Demo Selection tab crash"
**Describe the bug**
![image](https://user-images.githubusercontent.com/4510984/52173656-74037380-27c3-11e9-8de6-c00c091540b6.png)

**To Reproduce**
Steps to reproduce the behavior:
Just click `Selections` tab.

**Environment(please complete the following information):**
 - MahApps.Metro.Demo-v1.6.5-rc0001.zip **net47** version
 - OS: Win10 1809
 - .NET Framework 4.7.1

[2019-02-03 12:53] GreatFireWall commented on #3448
i'm outside now, i will try it later.

[2019-02-04 07:02] GreatFireWall commented on #3448
Attached but stacktrace is empty, it's keep running.

![image](https://user-images.githubusercontent.com/4510984/52194179-c0b38100-288d-11e9-8b6a-904301edfbc3.png)

![image](https://user-images.githubusercontent.com/4510984/52194203-d4f77e00-288d-11e9-9729-679833781eb2.png)

[2019-02-04 07:13] evilbaschdi commented on #2163
What's the current state her? With the latest preview version I still can change the former "accent" color to everything I want, but I'm not able to switch between "Light" and "Dark" anymore.

[2019-02-04 07:13] evilbaschdi commented on #3116
What's the current state her? With the latest preview version I still can change the former "accent" color to everything I want, but I'm not able to switch between "Light" and "Dark" anymore.

[2019-02-04 12:31] JobaDiniz commented on #2864
@punker76 why this was closed?
The repo is simple, in the `VSDemo.xaml`, add a static `ContetMenu` and you'll see the style.

[2019-02-04 12:40] JobaDiniz commented on #2864
Video of the error happening in the MahApps demo app:
![context-menu](https://user-images.githubusercontent.com/165290/52208807-0578f100-2869-11e9-8771-75394eab5412.gif)

**VSDemo.xaml** modified:
[code]

[2019-02-04 15:33] kantzy commented on #3347
I am facing the same issue. Would you be able to guide me how to fix it?
Also i have been using System.Windows.Interactivity.dll and not ControlzEx.dll. I have tried loading both the dll files but still get the same error.

[2019-02-05 17:49] nilssol commented on #3347
Hi

ControlzEx.dll 4.0 is a dependency of MahApps 1.6.5, you need to make sure you have the right version of the assembly's.

[2019-02-06 07:22] punker76 commented on #3347
@kantzy @nilssol MahApps v1.6.5 depends on ControlzEx (>= 3.0.2.4 && < 4.0.0) It doesn't includes 4.xx

![image](https://user-images.githubusercontent.com/658431/52326238-3af81880-29e8-11e9-85ff-7e78def4b48a.png)

[2019-02-06 08:31] #3448 closed

[2019-02-06 17:48] batzen commented on #3116
What do you mean exactly and what have you tried?

[2019-02-06 18:35] evilbaschdi commented on #3116
I've created a new dark theme - hopefully. (https://github.com/evilbaschdi/EvilBaschdi.CoreExtended/blob/feature/mahapps2/EvilBaschdi.TestUi.New/ThemeManagerHelper.cs)
switching the application to that theme the application stays "Light" (theme with white background).
In case of switching to "Dark.Cyan" everything works like expected. So the difference defining a new theme as "Light theme" and "Da

[2019-02-06 20:29] batzen commented on #3116
Your theme generating code omits most of what's needed for a theme. Just calling your theme Dark or Light while omitting resource present in the shipped themes won't work.
I will discuss possible solutions for a built in theme generator with punker76 as soon as i have some free time to solve the request made by the issue reporter and to meet the need for an easy way to generate custom themes durin

[2019-02-12 22:42] Rod-in-NM opened #3449 "Do I have to install the package before starting a WPF app?"
I've used another quick start WPF suite, but found problems with it. I'd like to give MahApps.Metro a try. Do I run the PowerShell command to install MahApps.Metro before I start a new WPF app? Or do I start a WPF app and then run the Install-Package command?

[2019-02-13 12:34] punker76 commented on #3449
@Rod-in-NM For only usage: you start a WPF app and then install the MahApps [NuGet package](https://www.nuget.org/packages/MahApps.Metro) and follow the [quick start guide](https://github.com/MahApps/MahApps.Metro/wiki/Quick-Start).

[2019-02-13 12:34] #3449 closed

[2019-02-13 17:17] GreatFireWall opened #3450 "How can I disable DefaultButtonFocus ?"
In other words, do not show any focus dashed at any buttons.

[2019-02-13 19:35] punker76 commented on #3450
@GreatFireWall You can set the `FocusVisualStyle` via style

[code]

or at the control itself

[code]

[2019-02-13 19:35] #3450 closed

[2019-02-13 20:39] GreatFireWall commented on #3450
@punker76  I'm sorry I didn't make it clear.
I means the `MetroDialogSettings.DefaultButtonFocus` when I calling `DialogCoordinator.ShowMessageAsync`.

[2019-02-14 07:44] GreatFireWall opened #3451 "The provided dialog is not visible in the specified window."
**Describe the bug**
Calling `DialogCoordinator.Instance.HideMetroDialogAsync` cause this exception after change window's theme or accent.

**To Reproduce**
Steps to reproduce the behavior:
1. Calling `DialogCoordinator.Instance.ShowMetroDialogAsync` to show a custom dialog.
2. Change theme or accent of the window that showing custom dialog.
3. Calling `DialogCoordinator.Instance.HideMetroDialogAs

[2019-02-14 14:59] esride-mag commented on #2560
Could we please have a DropDownButton style for WindowCommands? I would appriciate.

[2019-02-14 18:35] Rod-in-NM opened #3452 "Why isn't this in the VS Marketplace?"
Wondering why this isn't in the Visual Studio Marketplace?

[2019-02-15 01:30] ShannonZ opened #3453 "How to disable System Menu On Left Click at the Icon of a MetroWindow"
When setting `ShowSystemMenuOnRightClick="False"` ，the System Menu could be disabled. But if you click the icon of the MetroWindow using left button, the System Menu shows up again. How to disable this? Anything like `SystemMenuOnLeftClick` available?

[2019-02-15 08:47] punker76 commented on #3452
@Rod-in-NM It is: https://marketplace.visualstudio.com/items?itemName=Janpunker76.MahAppsMetro#overview

[2019-02-15 08:47] #3452 closed

[2019-02-15 09:31] lorinkundert commented on #3447
Good fix for a fixed theme, but not so good for customers that demand personalized themes.

[2019-02-15 09:34] GreatFireWall commented on #3447
@lorinkundert For all the build-in themes, it doesn't seem to be a problem. 😄

[2019-02-16 03:58] JVimes opened #3454 "Move window resize border to the usual location"
**Is your feature request related to a problem? Please describe.**

Clicking window resize borders behaves unexpectedly with MetroWindow because the resize border isn't at the same location as with most apps in Windows 10. Most apps place it outside the visible window, with the exception that some place the top edge inside (not sure why).

Apps I tried: File Explorer, Settings, Visual Studio, Word

[2019-02-17 13:40] swdriessen commented on #3454
I agree. It usually takes a number of tries to resize the metro window using touch or pen.

[2019-02-18 08:41] punker76 commented on #3454
@JVimes This is by design of normal `BorderBrush` usage in MahApps (and the borderless stuff). If you use the `GlowBrush` then you will get a better resize border behavior.

[2019-02-18 08:41] #3454 closed

[2019-02-18 16:41] JVimes commented on #3454
@punker76 That's just a description of current implementation, not a reason to keep the UX this way. No?

[2019-02-20 05:46] kronic opened #3455 "DateTimePicker System.IndexOutOfRangeException"
1) DateTimePicker selected date
2) Cleanup DateTimePickerTexbox
3) Chage Focus
![default](https://user-images.githubusercontent.com/483422/53069140-f5f5db00-34eb-11e9-9462-dff4e29edffe.png)

[2019-02-20 14:33] jenokizm opened #3457 "HamburgerMenu ItemClick how cancel click?"
subject. please help
[code]

[2019-02-21 21:02] DomasM opened #3458 "ToggleSwitch and ToggleSwitchButton works differently depending whether user clicked on it or dragged it"
**ToggleSwitch and ToggleSwitchButton works differently depending whether user clicked on it or dragged it**

**To Reproduce**
xaml:
[code]

view model (PropertyChanged is injected by Fody.PropertyChanged)
[code]

**Expected behavior**
I expect state of the control to change depending whether MaybeSetA() decides to accept new value or not. This is so if user clicks on ToggleSwitch/ToggleSwitchButt

[2019-02-22 02:00] #3144 closed

[2019-02-22 05:43] GreatFireWall opened #3459 "Is it possible to put a ToggleSwitch in HamburgerMenu as an item ?"
Like this

![image](https://user-images.githubusercontent.com/4510984/53222216-c5f33700-36a7-11e9-9e27-ab8ddec9a730.png)

[2019-02-22 06:16] punker76 commented on #3144
@ShannonZ You found a solution? It would be nice you can post this here for all others too. Thx

[2019-02-22 06:22] ShannonZ commented on #3144
I just call a customized window to mimic this presentation.

[2019-02-22 07:05] GreatFireWall opened #3460 "How can I check DataGridCheckBoxColumn without click twice ?"
As the gif you see, either check or uncheck, you must select row first then do it.

Is it possible do this in only one click ?

![](https://i.imgur.com/nA1rVrV.gif)

[2019-02-22 07:14] punker76 commented on #3460
@GreatFireWall You can set the attached property `controls:DataGridHelper.EnableCellEditAssist` to true.

[2019-02-22 07:14] #3460 closed

[2019-02-22 07:46] #3455 closed

[2019-02-22 10:33] DomasM commented on #3458
Additionally, in case of ToggleSwitch, on label and off label are shown correctly (i.e. bound to property).

[2019-02-22 12:45] #3458 closed

[2019-02-22 14:21] Nuklon commented on #3459
I don't think so, not really out of the box I think. A few more options in HamburgerMenu would be greatly appreciated, such as the ability to add the "badge" as well (to right side for example), can be used to show a number for example.

[2019-02-22 21:00] AlBannaTechno opened #3462 "Can't Load Solution With VS2017"
### Hi
I just clone the repo from GitHub and try to open the solution with visual studio 2017 `15.9.7`
But the solution does not load the projects `marked as (unavailable)`
And when I try to reload any project I get this message

[code]

here `https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution`

say: need 2019 version: so is there any built version of a demo to downl

[2019-02-23 11:13] MV10 opened #3463 "Propogate accent color changes to linear gradients? (1.6.5)"
Edit: I changed the title to be specific to the linear gradient; as luck would have it, that was the first place I tried to use a MahApps accent, but it works as expected literally everywhere else in the app.

I can't seem to figure out how to propogate an accent-change to user controls that are styled with MahApps accent and theme colors. I am using `DynamicResource` and the change event, and I'v

[2019-02-23 12:29] MV10 commented on #3463
Perhaps this problem is specific to the `LinearGradientBrush` or maybe how I reference the accent color there? I added a `Border` with an accent-dependent style and that works as expected. I don't even need the event, `DynamicResource` is enough.

[code]

![image](https://user-images.githubusercontent.com/794270/53286430-7874d980-373c-11e9-85cc-b800d3017652.png)

[2019-02-25 08:53] punker76 commented on #3462
@AlBannaTechno Because you need VS 2019 to build the current dev branch https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2019-02-25 08:53] #3462 closed

[2019-02-27 12:30] Torchok19081986 opened #3464 "Question: How to set window icon from iconpack"
Hallo, i am new in WPF and i tried to set icon on mainwindow with iconpacks. But unfortenally, vs says it not from type image. Is it possible to set anyway or do i need custom image? i would gladly use icons from iconpacks modern or classic.

[2019-02-27 19:48] punker76 commented on #3464
@Torchok19081986 You can use the `IconTemplate` property to set a custom Icon at the title bar.

https://github.com/MahApps/MahApps.Metro/blob/d1b8eadfa1880d7dafac128f29cb67b61019e777/src/MahApps.Metro.Samples/MahApps.Metro.Demo/ExampleWindows/FlyoutDemo.xaml#L42-L50

[2019-02-27 19:48] #3464 closed

[2019-02-28 08:33] GhostDevil opened #3465 "无法加载项目，所有项目均显示已卸载 ，无法重新加载到开发工具"
无法加载项目，所有项目均显示已卸载 ，无法重新加载到开发工具。最近的版本一直如此，不明白什么原因？
![image](https://user-images.githubusercontent.com/19898700/53552512-6c42af00-3b76-11e9-9fd9-3f10f32c9e4f.png)

[2019-02-28 08:52] punker76 commented on #3465
@GhostDevil You need VS 2019 Preview (or now RC) to build the latest source from the dev branch https://github.com/MahApps/MahApps.Metro/wiki/Building-the-MahApps.Metro-solution

[2019-02-28 08:52] #3465 closed

[2019-02-28 09:26] GhostDevil commented on #3465
谢谢！ 查看回复后得知需要独立安装core3.0，vs2019本身安装没有core3.0选项，已经可以打开！

发送自 Windows 10 版邮件应用

发件人: Jan Karger
发送时间: 2019年2月28日 16:53
收件人: MahApps/MahApps.Metro
抄送: GhostDevil; Mention
主题: Re: [MahApps/MahApps.Metro] 无法加载项目，所有项目均显示已卸载 ，无法重新加载到开发工具 (#3465)

Closed #3465.
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-28 15:25] garnbleiche opened #3466 "TabControl navigation with keyboard doesn't work"
I can't navigate through the tabitems with the keyboard.

Expected:
keyboard navigation like the standard wpf tabcontrol

[2019-02-28 16:17] punker76 commented on #3466
@garnbleiche I can no reproduce this with the latest demo. Can you provide more infos? Maybe create a short app?

[2019-02-28 19:34] garnbleiche commented on #3466
okay, I made a simple app with three tabitems. I can't select the tabitems with the keyboard, same with the demo.

[mahappsTab.zip](https://github.com/MahApps/MahApps.Metro/files/2916590/mahappsTab.zip)

[2019-03-01 13:50] Torchok19081986 opened #3467 "Question: How to keep WindowTitleBrush Background Color after loosing focus"
Hallo i have a question. Is it possible to keep WindowTitleBrush Background Color after loosing focus ?
i have project a window, where i can show new metrowindow, but if i show new Metrowindow mainwindow looses WindowTitleBrush Background Color and switch it to system color. Current i set color ot Titlebrush WindowTitleBrush="#1BBC9B" like that, but after looses it going to be gray or current wind

[2019-03-01 14:04] punker76 commented on #3467
@Torchok19081986 You can set the `NonActiveWindowTitleBrush` property to the same brush

https://github.com/MahApps/MahApps.Metro/blob/b7348bd42bf34a34a52e1613e62a486b6b54850f/src/MahApps.Metro/Controls/MetroWindow.cs#L101

[2019-03-01 14:04] #3467 closed

[2019-03-01 15:30] lwqwag opened #3468 "SaveWindowPOS"
**Describe the bug**
A clear and concise description of what the bug is. Questions about usage are better asked in the [Gitter](https://gitter.im/MahApps/MahApps.Metro) room or at [stackoverflow](http://stackoverflow.com/questions/tagged/mahapps.metro).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

[2019-03-01 15:36] #3468 closed

[2019-03-01 15:44] lwqwag opened #3469 "SaveWindowPosition"
When the power is off the application would not close nomal. I found occasionally the window will not load
nomal,I wonder if the user.config is not full caused the application did not load.thank you!

[2019-03-04 10:12] emodel commented on #1476
In App.xaml replace Application.Resources node with this (it worked for me):

    <Application.Resources>
        <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>
                <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Controls.xaml" />
                <ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles

[2019-03-06 09:04] timunie commented on #3466
Hello @garnbleiche,

I downloaded your sample and tried to switch the Tabs with Keyboard. You have to make sure that the keyboard focus is within your window. Then you can use [Ctrl] + [Tab] to switch the tabs. Which keyboard shortcut did you use?

Best regards

[2019-03-06 09:09] timunie commented on #3463
I have the same problem. If i save my accentcolor and reopen my app the brush works as expected. As a work around i put all my styles and brushes into a new resourcedictionary and reload the dictionary everytime i change the accentcolor.

Is there a better way?

@punker76  How do you update the dynamic resources when you change the Theme? Is there any trick?

[2019-03-07 14:27] pavelkocich opened #3470 "DataGridNumericUpDownColumn - Vertical alignment"
I want to make NumericUpDown in DataGrid column to be aligned to top, like my other columns. I have tried to set VerticalAlignment and VerticalContentAlignment to Top in ElementStyle and EditingElmentStyle, but without success.

[code]

![mahhappsdatagridnumericupdowncolumn](https://user-images.githubusercontent.com/9057103/53964169-da9bea00-40ff-11e9-9d4f-584eb38eda83.PNG)

[2019-03-08 16:29] garnbleiche commented on #3466
Hello @timunie ,

switch the tab with [Ctrl] + [Tab] works. I tried the right/left arrow keys which doesn't work!
On the standard wpf tabcontrol i can use the arrow keys. I did not know the [Ctrl] + [Tab] shortcut.

[2019-03-11 18:03] evilbaschdi opened #3471 "Windows does not show GlowBrush on Resize="NoResize""
**Describe the bug**
I recently figured out that my about windows does not have a glow effect. I took a look inside the code and played around with it a little bit. Since I switched to Resize="CanMinimize" the glow effect is back and running.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1897807/54146117-9413fb80-44

[2019-03-12 02:57] LuanPham97 opened #3473 "Minimize button in system menu still appear"
**Describe the bug**
I want to hide minimize button so I use property `ShowMinButton="False"` to hide, minimize button on `MainWindow` is hidden but when I Right-click on titlebar, System Menu show up and Minimize Button stilll appear

**Expected behavior**
Minimize button in System menu is hidden (or disabled)

**Screenshots**
![image](https://user-images.githubusercontent.com/24811783/54171458-f

[2019-03-13 08:24] ckaeser-lsi commented on #3376
I have an issue in the same direction. We use Numerics string format to display inline units for inputs.

Having a string format containing a "p" or "P" results in a display of percentage
e.g StringFormat="{}{0:G3} mPa·s" input "0.986" displays as "0.00986 mPa·s"

[2019-03-13 08:52] nighthound commented on #3394
This commit added the FlyoutOverlayBrush property but in the MetroWindow xaml definition, the FlyoutOverlayBrush property setter defines a SolidColorBrush which does not have Freeze="True" set. This causes issues when trying to create windows in separate threads.

[2019-03-13 20:01] punker76 commented on #3471
@evilbaschdi Do you have a branch with the latest changes to the MahApps.Metro alpha version? The current develop of your repo is for v1.6.5. Thx

[2019-03-13 20:06] evilbaschdi commented on #3471
what exactly do you mean? "develop" is referencing 2.0.0-alpha0262.

[2019-03-13 20:08] punker76 commented on #3471
@evilbaschdi My fault, I didn't update the source 🙈

[2019-03-13 20:18] punker76 commented on #3471
@evilbaschdi Seems like it's fixed with latest ControlzEx v4.0.0-alpha0249 (from appveyor). I compiled your source as Release and doesn't see this issue (only as Debug with attached VS debugger it can be that the glow is showing a little bit late)

[2019-03-13 20:27] evilbaschdi commented on #3471
I know about the delay, yes. Current code ResizeMode set to "CanMinimize". If you switch to "NoResize" you might see the issue. Otherwise I'll try the ControlzEx update once it is released.

[2019-03-13 21:05] punker76 commented on #3471
@evilbaschdi Got it

[2019-03-14 22:14] #3469 closed

[2019-03-18 11:35] faint220 opened #3474 "Theme Light.Blue.xaml no longer exists"
Hello,

I've followed the '[Quick start](https://mahapps.com/guides/quick-start.html)' and Rider underlined a line /Styles/**Themes/Light.Blue.xaml**" as not existing in the metro .dll. anymore. I couldn't find this theme in a different location. I'm writing this because I wanted to inform you that it doesn't work anymore and may discourage some developers from using this awesome .dll.

Cheers!

[2019-03-18 11:37] punker76 commented on #3474
@faint220 Did you install the correct (alpha) version via NuGet?

[2019-03-18 12:35] faint220 commented on #3474
I did not... I have just upgraded to the latest alpha right now and it works as in 'quick start' section. Sorry for bothering you:(

[2019-03-18 13:28] punker76 commented on #3474
@faint220 NP

[2019-03-18 13:28] #3474 closed

[2019-03-19 17:02] jorgechoypernia opened #3476 "A Dialog not dependant of MetroWindow for PlugIn developments"
Can we pop-up MahApps.Metro Dialog from a "class library project" without having MetroWindows screen?

It would be nice to have a Dialog control that is not dependant on MetroWindow. So it can be executed independent of its extension ShowMessageAsync.

Scenario:

 I developed a nice launcher application that executes actions or business logic from external plugIn or dlls. Developed plugIns can hav

[2019-03-20 22:10] woodlandhunter opened #3477 "Removing black border from button"
I am attempting to remove the black border shown here (it appears to be focus related). I have tried:
-  #1675 (`FocusVisualStyle="{x:Null}"`)
- Setting `BorderBrush="Transparent"` in a Style trigger using `IsFocused` and `IsKeyboardFocused`
- Setting `BorderThickness="0"` directly on the button
- Looking at `ControlsHelper.FocusBorderBrush` which doesn't appear to be used for buttons

And none of

[2019-03-24 16:41] PharazFadaei opened #3478 "Splitview Animation"
**Describe the bug**
I checked the source of SplitView, there are animations in there. But when I use it (through HamburgerMenu) or inside the demo app, it just disappears. Is it supposed to support sliding animations?

**Expected behavior**
A sliding animation upon opening and closing

**Environment:**
 - MahApps.Metro version 1.6.4 and 2 demo
 - OS: Win10 1803
 - Visual Studio 2017 15.9.9
 - .NE

[2019-03-31 20:16] SkinnySackboy commented on #3367
I have just come across precisely the same issue, same symptoms as OP. The bizarre thing is that if I use Snoop and hit the control suddenly the DataContext gets set correctly. I’ve tried the binding proxy trick, it works but like the OP said not the first time, unless I use Snoop to “prod” it into action.

[2019-04-01 14:32] punker76 commented on #3478
@PharazFadaei Thanks for raising this issue and looking in to this. The animations should be shown with the `Overlay` display modes (the inline doesn't habe animations). But I introduced a bug after improving the demos which kills these animations. I will fix this.

[2019-04-01 14:42] #3478 closed

[2019-04-03 19:00] Symbai opened #3479 "Make a new release"
The latest release is rather old and over 190 commits have been done meanwhile. Would be nice to get a new release including a recent demo application.

[2019-04-04 12:15] timunie commented on #3276
I modified the template and the code behind to enable null-values. Unfortunatally i am not familar with changing the code here and make a pull-request. But if someone wants to implement this feature i can post the code here.

I also implemented a contentpresenter which you can use to have a custom content shown based on the state of the switch.

![image](https://user-images.githubusercontent.com/4

[2019-04-06 08:54] punker76 commented on #3479
@Symbai A new final release needs still some time, but you can look at the [appveyor build ci](https://ci.appveyor.com/project/punker76/mahapps-metro/history) to get the latest (hot) pre-release and the main demo.

[2019-04-07 04:17] ryuuc opened #3481 "Multiline for InputDialog"
in MetroDialogSettings, i did like
 ` CustomResourceDictionary =
                        new ResourceDictionary
                        {
                            {"TextWrapping", "Wrap"},
                            {"AcceptsReturn", "True"}
                        }`
but not work

[2019-04-08 12:06] punker76 commented on #3481
@ryuuc The ´InputDialog` already accepts `Return` as commit and the inner TextBox wraps the Text if it's too long.

[2019-04-08 12:57] ryuuc commented on #3481
thanks

[2019-04-08 12:58] #3481 closed

[2019-04-08 15:23] #3479 closed

[2019-04-09 20:46] #3453 closed

[2019-04-09 23:02] #3040 closed

[2019-04-15 21:09] #3036 closed

[2019-04-15 21:09] #3262 closed

[2019-04-16 13:21] gnewtzie opened #3484 "Ability to set the gutter on CustomDialog"
**Is your feature request related to a problem? Please describe.**
When showing a CustomDialog, I would like the ability to change the default gutter on the left and right of the content, so that i can show more content.
The existing implementation uses a fixed 25* grid column definition, hard coded in the CustomDialog template.
[code]

**Describe the solution you'd like**
I'd like to be able to s

[2019-04-16 21:30] #3470 closed

[2019-04-17 09:15] #3266 closed

[2019-04-17 09:15] #3335 closed

[2019-04-17 12:36] #3477 closed

[2019-04-17 13:44] punker76 commented on #3459
@GreatFireWall Yes, this is possible. Here is a simple sample to show a ToggleSwitch on a option item:

You can use the HamburgerMenuIconItem to show an icon and a custom content.
[code]

Here is the DataTemplate for the specific view of the HamburgerMenuIconItem.
[code]

![2019-04-17_15h37_57](https://user-images.githubusercontent.com/658431/56292497-969cfb80-6127-11e9-9e68-e69d1d6706f3.png)

[2019-04-17 13:44] #3459 closed

[2019-04-18 02:59] GreatFireWall commented on #3459
@punker76 Thanks your sample, it's great.
But is it possible place the `switch` at left side instead of the `icon` even the `HamburgerMenu` is **Not** open ?

![image](https://user-images.githubusercontent.com/4510984/56333977-0b744200-61c9-11e9-8901-8766b8920e4b.png)

[2019-04-18 07:59] punker76 commented on #3459
@GreatFireWall simply change the DataTemplate.

[2019-04-19 09:12] GreatFireWall commented on #3459
@punker76 But it will cause a new page, I only want to put a switch here without page. Is it possible ?

[2019-04-28 08:04] waleswood opened #3488 "Can support changing the global font size ?"

[2019-04-28 20:55] punker76 commented on #3488
@waleswood All fonts are defined [here](https://github.com/MahApps/MahApps.Metro/blob/develop/src/MahApps.Metro/Styles/Fonts.xaml). You can override these keys at the App.xaml.

[2019-04-28 20:55] #3488 closed

[2019-04-29 07:03] whentotrade opened #3489 "Upgrade .net to 4.7.x can result in infinite loops / application window will not appear"
_For the benefit of people working with mahapps with similar problems who get to this issue, here's a summary and workaround when your application window does not appear after the .net framework upgrade._

**Problem**
After a basic upgrade of the .NET framework from 4.6.2. to 4.7.2 the application main window was never shown and was hang in an infinite loop. The mainwindow.show() function never re

[2019-04-29 22:29] punker76 commented on #3367
There are 3 options to solve this "known" problem:

System.Windows.Data Error: 2 : Cannot find governing FrameworkElement or FrameworkContentElement for target element. BindingExpression:Path=SomeProperty; DataItem=null; target element is ‘SomeElement’ (HashCode=123456789); target property is ‘AProperty’ (type ‘TypeOfTheProperty’)

This could be solved...

- by using a [BindingProxy](https://thoma

[2019-04-29 22:29] #3367 closed

[2019-04-30 16:00] Indigo744 commented on #2560
I have the same issue as @esride-mag, I am sadly not able to set the hover background.
I tried with some `IsMouseOver` custom triggers, but to no avail. If somebody could help...?

Thanks.

[2019-05-02 05:37] #3457 closed

[2019-05-02 10:35] punker76 commented on #3489
@whentotrade Thx for sharing this tipp! 👍  I moved this to [this wiki page](../wiki/How-to-avoid-infinite-loops-%28application-window-will-not-appear%29-after-upgrading-to-.Net-to-4.7.x).

[2019-05-02 10:35] #3489 closed

[2019-05-03 12:20] #3434 closed

[2019-05-06 20:15] #3466 closed

[2019-05-07 05:09] KennanChan opened #3492 "Compatibility issue in a plugin system"
**Describe the bug**
In a plugin system, different plugins may use different versions of a library. We notice that MahApps.Metro fails to run correctly in this circumstance. More precisely, the plugin referencing the higher version lib fails to locate the embedded resource like "underline.xaml" maybe because the lower version is used

**To Reproduce**
I built a simple plugin project to demonstrate

[2019-05-08 02:25] waleswood commented on #3488
for example, As the font gets larger, the button will also become larger. Adaptive UI interface

[2019-05-08 08:12] punker76 commented on #3488
@waleswood This was not yout intial question, and it's already there...

The first button has a larger Font size, the rest the default font size.

[code]

![2019-05-08_10h11_37](https://user-images.githubusercontent.com/658431/57360189-cdd85880-7179-11e9-9bbb-263d06528471.png)

[2019-05-08 09:06] realivanjx opened #3493 "Avalonia Support?"
Does this library supports [Avalonia](https://github.com/AvaloniaUI/Avalonia)? If so, is there any documentation on the implementation with avalonia? Thanks in advance.

[2019-05-08 09:10] waleswood commented on #3488
thanks

[2019-05-08 14:32] punker76 commented on #3493
@realivanjx Sorry, there is no support for Avalonia.

[2019-05-08 14:32] #3493 closed

[2019-05-08 14:55] Nuklon opened #3494 "HandleUserPreferenceChanged should handle ArgumentNullException"
**Describe the bug**
DetectTheme is throwing a ANE when there is no app or window. This sounds like a good idea, but there's no way to catch these exceptions as HandleUserPreferenceChanged is private. So it causes the application to crash. This doesn't happen frequently but during closing it shouldn't cause a crash as other stuff might still require a dispose or save.

**Environment:**
 - MahApps.

[2019-05-09 09:28] Torchok19081986 opened #3495 "Question: How to do something during ShowProgressAsync show"
Hallo , i work currently on some project and have some difficulty to start task during messagebox / progress MessageBox in wpf c#.
 i want to search for some itemsi in newtork and function is already here, but cant execute it.
my code looks like this:
.... <-- here is button / event from wpf window
var controller = await this.ShowProgressAsync(this, "Header", "Message") as ProgressDialogController

[2019-05-09 09:52] seba30 commented on #3495
I've already used the ProgressDialogController successfully:

[code]

[2019-05-09 11:04] Torchok19081986 commented on #3495
Thanks for quick answer, @seba30. Just testet it. Works great. That mean in can execute it always during progress show, if i have to something data investigate ?

[2019-05-09 11:16] seba30 commented on #3495
@Torchok19081986 You're welcome. I don't understand your last question.

[2019-05-09 11:17] #3494 closed

[2019-05-09 11:20] punker76 commented on #3494
@Nuklon this has now been fixed, and it will be released in the next version of MahApps.Metro v2.0

[2019-05-09 11:21] Nuklon commented on #3494
Fantastic work, thank you!