[2015-06-26 13:34] thoemmi commented on #1974
You'll need another grid behind the overlay control. `metroDialogContainer` must contain the topmost dialog only, all other dialogs must be put into a "`metroInactiveDialogContainer`".

[2015-06-27 00:09] Dreamcooled opened #2008 "WindowCommands not working properly when starting minimized."
I have a MetroWindow with a WindowCommand:

    <controls:MetroWindow.RightWindowCommands>
        <controls:WindowCommands>
            <Button Command="{Binding SettingsCommand, ElementName=Window}">
                <Rectangle Width="20" Height="20"
                   Fill="{Binding RelativeSource={RelativeSource AncestorType=Button}, Path=Foreground}">
                    <Rectangle.OpacityMask

[2015-06-29 12:14] punker76 commented on #1871
@bigworld12 @Dimigergo i can't reproduce this with the main demo. can you give us any repro instructions? is there maybe a custom style or something else?

[2015-06-29 15:07] bigworld12 commented on #1871
Create a datagrid with many columns until you can see horizontal scroll bar then drag it any where and u get the error

[2015-06-29 15:09] punker76 commented on #1871
@bigworld12 how many columns? i don't get this error :-(

[2015-06-29 15:11] punker76 commented on #1871
@bigworld12 can you try without MahApps, cause at this place there is the style taken from microsoft

[2015-06-29 15:16] bigworld12 commented on #1871
it's fixed somehow in the new alpha versions ...it's solved now

[2015-06-29 15:19] #1871 closed

[2015-06-30 04:58] deepak-rathi commented on #2000
@crclayton  You can do something like this:

private void DoSomething_Click(object sender, RoutedEventArgs e)
    {
      //Make Progress Ring Visible/active
      Wait.IsActive = true;

      BackgroundWorker worker = new BackgroundWorker();
      worker.DoWork += worker_DoWork;
      worker.RunWorkerCompleted += new         RunWorkerCompletedEventHandler(worker_RunWorkerCompleted);
      worker.

[2015-06-30 06:48] itijain91 opened #2011 "Can't see minimize icon for ResizeMode="NoResize" in MetroWindow"
I want my Window to be No Resizeable so I set  ResizeMode="NoResize", But I can't see minimize icon  now.

[2015-06-30 06:53] punker76 commented on #2011
@itijain91 that's right, because it's the default behavior for normal windows too.
![image](https://cloud.githubusercontent.com/assets/658431/8425372/6e64fdec-1f05-11e5-843f-d2c990ba448d.png)

[2015-06-30 06:53] #2011 closed

[2015-06-30 06:56] #1974 closed

[2015-06-30 07:13] #1243 closed

[2015-06-30 07:13] #1492 closed

[2015-06-30 07:13] #1876 closed

[2015-06-30 07:13] #809 closed

[2015-06-30 07:13] #1878 closed

[2015-06-30 07:13] #1930 closed

[2015-06-30 11:31] punker76 commented on #979
this is solved by https://github.com/MahApps/MahApps.Metro/pull/2009

[2015-06-30 11:31] #979 closed

[2015-06-30 11:32] punker76 commented on #1983
same as here https://github.com/MahApps/MahApps.Metro/issues/650

[2015-06-30 11:32] #1983 closed

[2015-06-30 18:04] crclayton commented on #2000
Thanks @deepak-rathi , you nailed it. Works perfectly.

[2015-06-30 18:04] #2000 closed

[2015-06-30 18:10] #1978 closed

[2015-07-01 08:51] maratoss opened #2014 "NumericUpDown and Windows XP"
WinXP SP3
.net 4.0-client profile
MahApps.Metro version="1.1.2.0" targetFramework="net40-Client"
_____________________

I have a strange NumericUpDown behavior under Windows XP. NumericUpDown is shaking.
I created empty project, installed mahapps and added in MainWindows.xaml NumericUpDown control.
This behavior you can see on screenshot.

Do you have idea why it happens?

![ezgif-1854912465](http

[2015-07-01 08:59] #1702 closed

[2015-07-01 12:34] deepak-rathi commented on #1986
@avechuche  You can load data in Jugadas using a async background worker.

see https://github.com/MahApps/MahApps.Metro/issues/2000
for background worker code.

[2015-07-01 12:49] deepak-rathi commented on #1967
@mulky5858  look into https://github.com/ButchersBoy/Dragablz  Repository for nice drag feature, like in browsers. Might be of some use.

![image](https://cloud.githubusercontent.com/assets/5453503/8454794/a3b1a464-201d-11e5-8de8-f1fac002dc24.png)

[2015-07-01 12:51] punker76 commented on #1967
@deepak-rathi What does that have to do with this issue?

[2015-07-01 16:03] thoemmi commented on #2008
@Dreamcooled I tried your code. During start-up a warning is generated when the window is hidden:

I.e. the binding fails when the window is not visible. I don't think that this is a MahApps.Metro issue.

I got your code working locally by moving the `SettingsCommand` to `MainWindowViewModel`. Even if the window is not visible, its `DataContext` still works.

[2015-07-01 21:39] Dreamcooled commented on #2008
@thoemmi
Thanks for looking into it and for your response. I appreciate it.
You're probably right, it's not a MahApps.Metro Issue.  I overlooked that error.

But why is this error even generated in the first place? I thought that binding expressions would be evaluated on the logical tree, so it shouldn't matter whether or not the Window is actually visible or not. Am I missing something?

Moving t

[2015-07-02 00:53] bigworld12 commented on #2014
yes , windows xp .

[2015-07-02 12:54] maratoss commented on #2014
Hah, what is wrong with XP? :)

[2015-07-02 17:02] maratoss commented on #2014
Downloaded your repository and take MahApps.Metro.dll from there. Now it works.

[2015-07-04 06:46] pleasega opened #2015 "New MahApps vb.net Application stopped working after opening it"
I made a New vb.net WPF application, I installed MahApps package and the resource package. I have this code in the Mainwindow.xaml

        <Controls:MetroWindow x:Class="MainWindow"
        xmlns:Controls="clr-namespace:MahApps.Metro.Controls;assembly=MahApps.Metro"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/x

[2015-07-04 08:36] pleasega opened #2016 "Place DLL dependencies elsewhere"
As the program need MahApps.Metro and the system.windows.interactivity DLLs, how I do put them in a folder like bin folder but still make the program work? I tried and it stopped working, please help!

[2015-07-04 11:15] bigworld12 commented on #2016
I created a tutorial on stack over flow to merge dlls into exe but i am not on computer now

[2015-07-04 11:22] pleasega commented on #2016
oh if i could see that, it would be great

[2015-07-04 11:27] bigworld12 commented on #2016
http://stackoverflow.com/questions/27891550/embedding-dlls-inside-of-a-wpf-application-with-pictures-visual-basic/27891551#27891551

[2015-07-04 11:46] pleasega commented on #2016
hi bigworld, I tried but I cant find file properties, only reference properties. Please assist me, im still new to this wpf. thank you!

[2015-07-04 11:57] punker76 commented on #2015
@pleasega its nececarry to ship `MahApps.Metro.dll` and `System.Windows.Interactivity.dll` with your exe (-> https://github.com/MahApps/MahApps.Metro/issues/2016)

[2015-07-04 11:57] #2015 closed

[2015-07-04 12:44] pleasega commented on #2016
how do i set the resource file type to binary? please help me!

[2015-07-04 13:02] pleasega commented on #2016
thank you so much!!! worked like a charm!!! THANK YOU

[2015-07-04 13:02] #2016 closed

[2015-07-04 14:50] wrjcs opened #2017 "summary row for datagrid"
Hello,
Is it possible to add the function of summary for datagrid.

[2015-07-04 19:27] bigworld12 opened #2018 "ShowMessageAsync won't return any thing when using HideMetroDialogAsync while it's opened"
how to produce :
create a timer with 5 seconds interval or what ever but don't start it
in the timer call back add this code
[code]
now in the main code start the timer first then call ShowMessageAsync
you will see that it will never return a value and the method calling it will never end
i think there is an easy solution by adding a "None" value to the MessageDialogResult Enum
and changing
 this

[2015-07-05 03:34] QuantumPhi opened #2020 "NumericUpDown Text Color"
Selecting the `NumericUpDown` column of the last element after selecting any other elements makes the text color of the `NumericUpDown` elements in the previously selected elements white, making them invisible on a white background.

VS2013, .NET4.5

[2015-07-05 06:51] rhalf opened #2021 "Flyout shows at the back."
Hi sir good day, I am new to wpf and want to use MahApps.Metro for my first project. Flyouts is working fine here
![flyout1](https://cloud.githubusercontent.com/assets/4572641/8510606/feeea126-22fa-11e5-9c5c-29bed56d8914.png)

But when I add webbrowser or other controls like button, flyout shows at the back of webbrowser(controls). Panel.Zindex doesnt work here.

![flyout2](https://cloud.githubuse

[2015-07-05 11:26] bigworld12 commented on #2021
It's a bug with just the web browser
On Jul 5, 2015 8:51 AM, "Rhalf Wendel David Caacbay" <
notifications@github.com> wrote:

[2015-07-05 14:06] thoemmi commented on #2021
See the [FAQ](https://github.com/MahApps/MahApps.Metro/wiki/FAQ), it's an airspace issue with WPF. Classic Win32 controls such as the web browser control don't work well with the composition engine of WPF.

[2015-07-06 05:06] rhalf commented on #2021
hi bigworld12 and thoemmi  thank you for your immediate and informative response to this bug.

[2015-07-06 08:13] #2021 closed

[2015-07-07 21:54] crclayton commented on #1771
Might want to update the last paragraph of this: http://mahapps.com/controls/flyouts.html

[2015-07-08 18:22] QuantumDeveloper opened #2025 "ScrollBarHelper.VerticalScrollBarOnLeftSide brake horizontal scrollbar"
Using this line of code in TreeView
[code]
leads to broken horizontal scrollbar like on the screenshot below
![broken scrollviewer](https://cloud.githubusercontent.com/assets/6085009/8578383/37f9bc30-25b7-11e5-95a8-11b438009dfa.png)

When deleting this code, everything works correctly:
![image](https://cloud.githubusercontent.com/assets/6085009/8578431/7571fcf8-25b7-11e5-8583-9d9b2d09bc12.png)

[2015-07-08 20:13] punker76 commented on #2020
@QuantumPhi which mahapps version?

[2015-07-08 20:20] #2018 closed

[2015-07-08 20:35] #2014 closed

[2015-07-08 20:36] #1986 closed

[2015-07-08 21:01] punker76 commented on #1970
@hannespreishuber any news?

[2015-07-09 00:12] Delacroxpp opened #2026 "Helpers not aply in a Custom TexBox"
I created a custom textbox by default TextBox heritage, why do I need some changes related to masks, but TextBoxHelpers not work that Custom texbox, any tips?

Note: Congratulations for Framework, very good !!

[2015-07-09 08:00] punker76 commented on #2026
@Delacroxpp Can you provide some code? which version of MahApps do you use? what do you mean with masks?

[2015-07-09 09:08] punker76 commented on #1990
@erangatennakoon you can try call `Reload()` method after setting your visibilities

[2015-07-09 15:49] DaqingFeng opened #2027 "Dear Master . Mahapps's DataGrid innser button can't display when lost focus ."
Dear Master,
        I found mahapps solution is pretty good.
       But  when i using Datagrid ,I find  some issues.  I make a   customize  cell  datatemplate.  Datagrid  can't  display  when I the cell lost focus .How can i fixed the issue  .The picture like below

1. When I selected row and click the cell. the control can display.
![1](https://cloud.githubusercontent.com/assets/10512467/8599743

[2015-07-09 16:06] jimbobsmith commented on #2027
Hi.   You'll need to define a CellTemplate too, where you bind your date value to a control, like textblock, to make it visible when not editing that cell

e.g.
<DataGridTemplateColumn.CellTemplate>  <DataTemplate> <TextBlock Text={Binding NextNotifyTime, stringFormat={}{0:d}}"/> </DataTemplate></DataGridTEmplateColumn.CellTemplate>

please note i wrote this code in this editor...

[2015-07-09 18:25] maiconschuetz opened #2028 "How change de color of the row selected in a datagrid by view?"
Hello, I need help about this stupid problem!

I have this view :

![image](https://cloud.githubusercontent.com/assets/13259720/8603000/bd9351be-264b-11e5-8bc4-95713f001593.png)

I don't need a color highlight in this interface, so I am trying change the color of the rowselected to transparent. I followed some instructions found on stackoverflor, but did not work.

This is my code:

![image](https

[2015-07-09 19:44] punker76 commented on #2028
@maiconschuetz you can do this with the latest alpha. there are some new brush keys for this

[code]

all new available colors
[code]

[2015-07-09 20:09] #1990 closed

[2015-07-09 20:32] punker76 commented on #2025
fixed with c0c94fb39cc4d8892f260af462d026655042fb01

[2015-07-09 20:32] #2025 closed

[2015-07-09 20:34] maiconschuetz commented on #2028
Thanks @punker76!

I am using the version 1.1.2 (latest stable) then I found this solution:

[code]

I belive that it is not the better pratice, but works on this version.
Thank you again!

[2015-07-09 20:34] #2028 closed

[2015-07-09 20:43] #2008 closed

[2015-07-09 21:45] dcuccia commented on #148
I had the same issue. Deleted the "UserControl.Resources" section bringing in the MahApps.Metro styles, and things propagated correctly.

[2015-07-10 00:43] DaqingFeng commented on #2027
Hi  jmbobosmith, Thank you very much ,It's working!

[2015-07-10 00:43] #2027 closed

[2015-07-10 06:26] punker76 commented on #1961
@jammerxd i think that's not possible

[2015-07-10 06:26] #1961 closed

[2015-07-10 06:47] #1954 closed

[2015-07-10 06:48] #1935 closed

[2015-07-10 06:49] #1899 closed

[2015-07-10 07:11] punker76 commented on #1921
@jmecosta that's not possible without creating some stuff

maybe this can help you

http://www.broculos.net/2014/04/wpf-autocompletebox-autocomplete-text.html

[2015-07-10 07:11] #1921 closed

[2015-07-10 07:13] punker76 commented on #1918
@spprtmechanic sometimes it's necessary to clean yout `obj` and `bin` folders and restart visual studio.

[2015-07-10 07:13] #1918 closed

[2015-07-10 07:14] #1839 closed

[2015-07-10 07:18] punker76 commented on #1854
what is not correct? which mahapps version? any stack trace? can you provide screenshots or sample code?

[2015-07-10 07:18] #1854 closed

[2015-07-10 07:35] punker76 commented on #1842
@JobaDiniz if you use `MetroTabItem` you must use `TargetType="{x:Type MetroTabItem}"` for the style

[2015-07-10 07:35] #1842 closed

[2015-07-10 07:42] punker76 commented on #1838
seems to work (just using the latest alpha)

![2015-07-10 09h43_15](https://cloud.githubusercontent.com/assets/658431/8614232/e9520330-26e7-11e5-9d05-bcc97ae79bec.gif)

[2015-07-10 07:42] #1838 closed

[2015-07-10 08:01] punker76 commented on #1836
@ppradeepk sorry it's not possible for now

[2015-07-10 08:01] #1836 closed

[2015-07-10 08:44] punker76 commented on #1406
@l1pton17 you can specify the `Culture` with the latest alpha

[2015-07-10 08:44] #1406 closed

[2015-07-10 11:22] xmedeko opened #2029 "ProgressRing.IsActive should be true by default"
`ProgressRing.IsActive` is driven by the `Visibility`, so when I change `Visibility`, then it always is set `IsActive == Visibility.Visible`. It's ok, just by default when I make
[code]
Then is `Visibility == Visible` and `IsActive == False`. To be consistent with the VisibilityChanged callback, it should be `IsActive == True` by default.

[2015-07-10 16:31] bigworld12 commented on #1899
I had the same problem
1 - are you sure your dlls are with the exe
2 - are you sure the program is running in a read / write folder (not read
only)

[2015-07-10 19:42] bigworld12 opened #2031 "using TextBoxHelper.ClearTextButton on a NumericUpDown won't rise its value changed event"
`<Controls:NumericUpDown Controls:TextBoxHelper.ClearTextButton="True"/>`
this won't raise the "ValueChanged" event of the numeric up down when pressing the button and clearing the text

[2015-07-10 21:48] #1861 closed

[2015-07-10 21:59] #1566 closed

[2015-07-10 22:03] #2029 closed

[2015-07-10 22:05] #1149 closed

[2015-07-11 18:22] LokizFenrir commented on #1899
Difinitely in a read write directory, and all the dll's have been included, based on the nuget package, also double checked it.

[2015-07-12 15:09] punker76 commented on #2031
fixed with dc6fed50330a2d3d6e3c6b45195d2a57f193c6ae

[2015-07-12 15:09] #2031 closed

[2015-07-12 18:58] punker76 commented on #1573
fixed with 1de3304d40cb7425c346e06ff0d65be954e88836

[2015-07-12 18:58] #1573 closed

[2015-07-13 01:47] QuantumPhi commented on #2020
Version 1.1.3-ALPHA122

From: Jan Karger
Sent: ‎Wednesday‎, ‎July‎ ‎8‎, ‎2015 ‎13‎:‎13
To: MahApps/MahApps.Metro
Cc: Tarik

@QuantumPhi which mahapps version?

—
Reply to this email directly or view it on GitHub.

[2015-07-13 14:58] incrediblink opened #2033 "Simplified Chinese is not supported fully"
When I text Simplified Chinese "确认登录", the word will be displayed wrongly.
What it should be:
![qq 20150713224753](https://cloud.githubusercontent.com/assets/7604366/8652479/77495ef6-29b1-11e5-9f76-872b4b77d458.png)
How it actually acts.
![qq 20150713224740](https://cloud.githubusercontent.com/assets/7604366/8652425/39574e28-29b1-11e5-861b-4f593364ad07.png)

In fact, it's a general problem for Win

[2015-07-14 01:09] QuantumPhi commented on #2020
Version `1.1.3-ALPHA122`

Also tested on `v1.1.3-ALPHA099`, `v1.1.2`; same issue present.
- - -
Some clarification on the issue: when an element is selected, it is usually set with a white text color. After an element (except for the last one) has its `NumericUpDown` element triggered, selection of that element no longer sets the text color in the `NumericUpDown` column to white.
- - -
Before the

[2015-07-14 01:32] bigworld12 commented on #2033
Well i am not a Chinese professional but they pretty much look the same for me except for the letter on the right which is a little bit different

[2015-07-14 11:12] punker76 commented on #2020
@QuantumPhi thx for the clarification. one another question, do you use the `NumericUpDown` in a `ListBox` or something else?

[2015-07-14 11:13] punker76 commented on #2020
@QuantumPhi and what do you mean with `triggered`

[2015-07-14 14:52] SkyZH commented on #2033
= = This bug is caused by Windows itself. The default font for windows 8 Metro Applications is Segoe UI and if you are using characters outside this font, windows will use another font. This method is called "Font fallback". In Windows 8, if you set the fallback in regedit correctly, unfortunately, windows will still not fallback to your selected font. In windows 10 this bug has been fixed with th

[2015-07-14 14:54] #2033 closed

[2015-07-16 09:08] DCMBhoy opened #2035 "No Title Bar in Mvx Composite WPF Application"
Using MahApps Metro 1.1.2.0 in a .net 4.5 WPF MvvmCross (HotTuna 3.5.0) composite application, developing on Windows 7 and running on Windows 7 and 8.1.

Have followed the quick start guide but when I run the app I see no title bar on the window.

The resources are added to the host application and I am not seeing System.Windows.ResourceDictionary Warnings, e.g. 9 : Resource not found; ResourceKey

[2015-07-16 09:12] QuantumDeveloper opened #2036 "Avalondock Anchorables could not be dragged inside MetroWindow"
HI. I noticed that when Iam  using MetroWindow with avalondock, I cannot drag AnchorableGroup out of the WIndow. It just moves th whole window itself. But with standart WPF window, everything working correct.

Could this issue be fixed somehow?

For me its critical, because it affect features of docking control.

[2015-07-16 13:01] amkuchta opened #2037 "Static Code Analysis"
I don't think this is the best place for this, but I can't think of a better one.  I have access to HP Fortify, a static code analysis tool, and was able to run a scan of the Mahapps.Metro library.   I would like to provide the results to the developers to give a road map for code cleanup, but am not sure how to get it to you.  Any takers?

[2015-07-16 13:01] punker76 commented on #2035
@DCMBhoy can you provide some code (mayber where your resources are located, etc)? thx

[2015-07-16 13:31] DCMBhoy commented on #2035
The MainHost has no resources other than those added to application as per the quick start guide.

A module (.dll) is loaded with User Controls (derived from mvvm cross controls) and that module has it's own resources which are held in Xaml / ResourceDictionary files in the dll - these are then included on the controls as needed.

I tried adding Mahapps.Metro to the module as well and also adding

[2015-07-16 17:25] QuantumPhi commented on #2020
I use `NumericUpDown` in a `DataGrid`. (I guess I should say I use a `DataGridNumericUpDownColumn`)

What I mean by `triggered` is when the `NumericUpDown` column is double clicked to show the `+` and `-` elements.
- - -
![baz](https://cloud.githubusercontent.com/assets/5723421/8730343/fd16989c-2ba4-11e5-8799-af4f6948c04b.png)
`triggered`

[2015-07-16 19:53] punker76 commented on #2036
it would be nice if you create a small test application, to demonstrate the issue

[2015-07-16 20:06] QuantumDeveloper commented on #2036
here is the link on 2 apps demostrating the issue.
https://onedrive.live.com/?id=650F345C1F75A314%217115&cid=650F345C1F75A314&group=0

[2015-07-17 09:29] pothmann opened #2038 "Databound TreeviewItem does not respond to changes when inside Mahapps window. (Sample Project attached)"
Hello,

i have a TreeView control which has TreeviewItems bound to a viewmodel. In a standard Window the tree reflects changes to IsVisible, IsExpanded and IsSelected properties. But this does not work as soon as tree is in a mahapps window.

![sample](https://cloud.githubusercontent.com/assets/1508765/8744343/c8ac863e-2c76-11e5-977c-175154ff3215.PNG)

I created a solution that directly shows the

[2015-07-17 15:09] spasas opened #2039 "Ignore taskbar on maximize and the taskbar"
If there are any windows [partially] behind the taskbar (e.g. Visual Studio in screenshot #1) before clicking the "Ignore taskbar on maximize" Window option, they will be displayed in front of the taskbar after either clicking "Ignore taskbar on maximize" again (e.g. Visual Studio in screenshot #2) or by restoring MahApps' original size before it was maximized (e.g. Visual Studio & MahApps in scre

[2015-07-17 16:13] punker76 commented on #2039
@spasas maybe its an issue by running the demo from vs with debugging.

[2015-07-17 17:04] spasas commented on #2039
We can reproduce in release also. Only on Windows 7 though. Windows 8.1 seems to work fine.

[2015-07-18 13:18] punker76 commented on #2038
@pothmann there are 2 points in this issue:
1. MahApps should not set the `MetroTreeViewItem` style as the `ItemContainerStyle`, this is fixed with 6cc298ba49d3b39a95769d6ca3b9d5ba3c4386ec
2. you should inherit the `TreeViewItem` style

[code]

![image](https://cloud.githubusercontent.com/assets/658431/8761719/494dd9c0-2d60-11e5-8ce6-c0d92fd988d0.png)

![image](https://cloud.githubusercontent.com/

[2015-07-18 13:18] #2038 closed

[2015-07-18 13:24] punker76 commented on #2020
@QuantumPhi Can you provide a short simple example to demonstrate this? Cause I still don't understand this...

[2015-07-19 17:05] elendil-softwares commented on #1005
Hi,

I tried to apply the solution that remcoros gave. But a get the error : Cannot find the static member 'ButtonCommand' on the type 'TextBoxHelper'

I took exactly the same RoutedEventTrigger class and in the XAML I put:

<TextBox controls:TextBoxHelper.Watermark="Search..."
               Style="{DynamicResource SearchMetroTextBox}">
        <i:Interaction.Triggers>
                <events:Rou

[2015-07-21 04:19] planetarian opened #2042 "Looks like Win10, resizes like Win8"
In Windows 10 (and Visual Studio even in prior versions), Microsoft has dropped the visible window border down to a single pixel wide as part of the new metro-inspired window chrome theme. The resize handles are actually the same size as before, though, but they are invisible and located outside the window itself.

Meanwhile, apps created with MahApps.Metro bear a significant resemblance to Visual

[2015-07-21 13:55] Acaspita opened #2043 "Not being able to change Title in a Caliburn.Micro Conductor View"
I'm doing like so:

    <Controls:MetroWindow x:Class="BS.Expert.Client.App.Views.ShellView"
        xmlns:Controls="clr-namespace:MahApps.Metro.Controls;assembly=MahApps.Metro"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        ShowTitleBar="True"
        Title="My Title">

The thing is that this it at t

[2015-07-21 14:09] #1896 closed

[2015-07-21 14:37] bloritsch opened #2044 "Documentation: Style Guide for new controls and Color/Brush selection"
When we create/extend controls I'm constantly looking up what color names are available and make the most sense for what we want.

It would be awesome if you had a documentation page for styling information on the screen.  It would help when we have special charting stuff that needs appropriate headers, etc.

[2015-07-21 14:47] bloritsch opened #2045 "Mahapps Metro Command Strip"
The command strip described in the Windows 8.1 user experience guidelines is a great tool: https://msdn.microsoft.com/en-us/library/windows/apps/hh465302.aspx

Unfortunately, the class that implements that is Windows Store app specific.  If MahApps.Metro had one, it would make my life a lot easier not having to reinvent the wheel for every app.

[2015-07-21 17:29] bloritsch opened #2046 "Adopt Windows 10 Text Style Names"
See the online documentation for full reference: https://msdn.microsoft.com/en-us/library/windows/apps/Hh700394.aspx

What MahApps currently has using separate keys for font families, font sizes etc. Microsoft has packaged up into preset styles you can simply use.  The link I provided shows the table with the style name, font family, font size, line size, font weight, etc.

That can get rid of the

[2015-07-21 18:11] punker76 commented on #2046
@bloritsch that's all fine, but it's for UWP apps...

[2015-07-21 18:21] bloritsch commented on #2046
Doesn't Mahapps get us a lot closer to being able to do those apps on Windows 7 boxes?

I like the concept of the style names I can just use and it does everything consistently.  If we adopt names that will be used when I can graduate to programming UWP it just means less relearning later on.  I'm not set on the sizes, etc.  I just like the convenience of not having to replicate four settings on e

[2015-07-22 00:08] mos8580 opened #2047 "Missing method exception using 1.1.3-Alpha"
Hi,

I've set up a sample project to try the new DialogCoordinator functionality of the next version of mahapps.metro. It works very well on my virtual machine that has windows 8.1 and VS 2013 community.

On my work machine, it compiles fine, but throws a runtime error during the initialization of the main window. I will include the stacktrace below, although I apologize my work machine is localiz

[2015-07-22 11:09] bigworld12 commented on #2047
3 of my customers had the same problem they fixed it by upgrading to netframework  4.6
Error :
http://i.imgur.com/A9fhxdc.png

[2015-07-22 11:45] mos8580 commented on #2047
Thank you for your input,

At least I'm not alone with this problem. I hope there is another solution because I won't be able to install new versions on the framework in my corporate environment.

I wonder what change in the source since the last stable release could cause this?

[2015-07-22 13:37] tomato3107 commented on #2047
I was able to fix a similar problem (NET4 application would crash on NET4 machines with XamlParseException but work fine on NET 4.5.2 machines) by compiling the NET4 MahApps.Metro.dll myself instead of using the official Nuget one.

[2015-07-22 13:59] mos8580 commented on #2047
I really wish I understood why, but this workaround actually worked, thanks.

[2015-07-23 02:41] QuantumPhi commented on #2020
I wrote a minimal working example [here](https://github.com/QuantumPhi/FooProject) that you can use to easily replicate the error yourself (I hope).
- - -
Start the program, and highlight all of the lines as a baseline
![pre_action](https://cloud.githubusercontent.com/assets/5723421/8841906/8824b0f6-30a8-11e5-9526-c6a9b483d998.PNG)
Double click on any number except for the very last one to bring u

[2015-07-23 07:36] Iamguy84 opened #2050 "MessageDialogResult with Null or Empty"
Hi,
How to MessageDialogResult  with empty string or null?
E.g:
MessageDialogResult result = null;

Any Idea?
Thanks

[2015-07-23 08:57] Iworb opened #2051 "DropDownButton and SplitButton doesn't works"
Today I've installed MathApps.Metro and trie dto add DropDownButton into a new MetroWindow, but nothing happend. I mean, there is a new control on window, but some properties doesn't work: background always same color (even if I changed it), DropDownList is empty even if it contains some items.

Here how it looks

![image](https://cloud.githubusercontent.com/assets/658431/16686393/17f2eaee-4512-11

[2015-07-23 09:04] punker76 commented on #2051
you should give your controls some content, what do you expect with empty contents?

[2015-07-23 09:12] Iworb commented on #2051
Content just a text or whatever else to display, but I want to change Background for a whole DropDownButton.
Thats what I've talked about: http://s27.postimg.org/x3gqnycqr/image.png
XAML: http://pastebin.com/zg6pq8Vi
Even with Content in DropDownButton and internal Buttons nothing happend - Background wasn't change and list is empty.

[2015-07-23 09:16] punker76 commented on #2051
setting the background should be fixed in the latest alpha

[2015-07-23 09:17] Iworb commented on #2051
Should I use -Pre version?

[2015-07-23 09:17] punker76 commented on #2051
yepp, try it
Am 23.07.2015 11:17 schrieb "Alexander" <notifications@github.com>:

[2015-07-23 10:13] Iworb commented on #2051
Background was fixed, but dropdownlisp still empty =(

[2015-07-23 12:58] arnezami opened #2052 "How to change the foreground in RightWindowCommands?"
Hello everyone!

Thanks for your library, I realy like it.

I have a issue about the RightWindowCommands: I can't to change the fore color on the buttons.
The version of MahApps.Metro: 0.13.1.0

This code doesn't work:

[code]

Any ideas?

![image](https://cloud.githubusercontent.com/assets/3115768/8850796/9f125222-3153-11e5-98c4-70c3a078fca2.png)

[2015-07-23 14:14] mojo-chan commented on #138
I'm using 1.1.2.0 and WindowTitle only has a get method, no way to set it.

[2015-07-23 17:28] punker76 commented on #2047
@mos8580 @tomato3107 @bigworld12 with which version of target framework is this happen? .net 4 or .net 4.5? or hopefully not with both?

[2015-07-23 17:31] mos8580 commented on #2047
The whole solution is targeting 4.5.

I can make a test sln with .net 4 if it helps.

[2015-07-23 17:32] tomato3107 commented on #2047
My application targets .NET4 Client profile.

[2015-07-23 17:32] bigworld12 commented on #2047
Personally i target 4.5

[2015-07-23 18:11] punker76 commented on #2047
@mos8580 @tomato3107 @bigworld12 it would be nice to test out MahApps.Metro 1.1.3-ALPHA127
so it would be really great to create 2 simple apps, one for .net 4, the other for .net 4.5 and test for the missing method exception. a stack trace and some informations about the target os (and framework) would be really nice.

[2015-07-23 19:53] mos8580 commented on #2047
Hi Jan,

I did two sample projects that target .Net 4 and 4.5, here are my findings:

On .Net 4.5, I got a vhost32.exe crash. I went to build settings and unchecked "Prefer 32 bits" and it worked well.

On .net 4, I got the same exception as before for which the stacktrace is in first post. On this project, the "prefer 32 bit" setting is grayed out (and unchecked). I forced the "Target platform" t

[2015-07-23 19:57] punker76 commented on #2047
@mos8580 can you post this two samples? what is your OS and what .net framework is installed?

[2015-07-23 21:35] mos8580 commented on #2047
@punker76
- OS is Windows 7 Enterprise 64 bit localized in french.
- .Net Framework installed: 4.5, 4.5 Multi-Targeting Pack, 4.5 SDK, 4.5 SDK - French language module
- Visual Studio 2012 Professional (french also)

The projects are just empty WPF projects from VS2012 with mahapps installed and MainWindow changed to a MetroWindow. Maybe I can send via email?

[2015-07-24 07:36] maratoss commented on #1975
Did you find a solution of this problem?

[2015-07-24 07:43] olegsavelos commented on #1975
Nope :(

[2015-07-24 07:43] maratoss commented on #1975
Huh, i found :)
[code]

[2015-07-24 07:54] olegsavelos commented on #1975
Will try that out.
Thanks.

[2015-07-25 20:00] punker76 commented on #2047
@mos8580 punkerat76 [ at ] gmail [ dot ] com

[2015-07-25 20:15] punker76 commented on #2042
@planetarian can you give us more specific informations with your problems and win 10? i just installed win 10 preview in vmware and can't see a problem with the borders and resizing the window.

[2015-07-25 20:39] planetarian commented on #2042
![GIF demonstration of resizing differences](https://piro.blob.core.windows.net/shotweb/6bd950367b47243d333b9de28e4d9f.gif)

^ as shown here, the VS window's handles (much like the handles of all apps in win10) are actually invisible and outside the app's outer edge. If one attempts to try to use a MahApps.Metro app the same way, you'd click straight through to whatever's behind it, since its hand

[2015-07-25 20:50] punker76 commented on #2042
ok, now i understand, but this has nothing to do with win 10, mabe we can fix/change this win 1.x.x or 2.x.x

[2015-07-26 09:37] jonyadamit opened #2053 "Setting FlowDirection = RightToLeft on MetroWindow kills Maximize functionaliy"
When `FlowDirection` is set to `RightToLeft`, while `BorderlessWindowBehavior` is applied, the following happens when the window is maximized:

* Window appears the same size, only aligned to the top left
* Window becomes 'unclickable'. Every click brings background windows to the front. If there are not background windows, the click interacts with the desktop.
* The window is completely unusable

[2015-07-26 09:40] punker76 commented on #2053
this is fixed in the latest alpha version. look at #1927 #1924

[2015-07-26 09:40] #2053 closed

[2015-07-26 13:57] balkarov commented on #1531
I have exactly the same problem! Has anyone found a solution?

[2015-07-26 14:00] bigworld12 commented on #1531
Upgrade to .net 4.6 check if this fixes

[2015-07-26 16:39] knob2001 opened #2054 "Dialogs explained. (Help)"
Hi.

I would like to know how to use Dialogs (Messages) on Metro. The async method is a little too much for newbies like me, and the examples in the Demo are all related to clicking buttons. So, the question is: How could i show a custom text Message Box from anywhere in my app (programmatically, without clicks?

Sorry for this basic level question, but i can't find info about it anywhere...

[2015-07-26 18:56] bigworld12 commented on #2054
to make my life easier i made a simple syntax to summon a dialog when ever i need
before i begin note that :
1 - dialogs can only be summoned INSIDE a window or EXTERNALLY (outside the window)
2 - dialogs are not perfect so sometimes you will need to implement extra code for some scenarios

here is what i use in vb.net (language converters can't convert async functions yet so sorry if you use c#)

[2015-07-27 14:50] thoemmi commented on #2047
There seems to be a major issue in .NET 4.6, see [Why you should wait on upgrading to .Net 4.6](http://nickcraver.com/blog/2015/07/27/why-you-should-wait-on-dotnet-46/):

[2015-07-27 15:03] OfekA opened #2055 "Binding Closing paramater (of MetroWindow) with a method on the ViewModel with Caliburn.micro"
I cannot understand how to bind this parameter with a method on the ViewModel with caliburn.micro, any help?

[2015-07-27 18:10] melance opened #2056 "ToggleButton foreground color when selected"
The foreground color of the standard toggle button is hard to read when selected:

![image](https://cloud.githubusercontent.com/assets/8439866/8913781/c5359a94-3460-11e5-8963-9c9e4d6434d0.png)

Although it seems like less of an issue in the dark theme:

![image](https://cloud.githubusercontent.com/assets/8439866/8913793/db873a96-3460-11e5-95d6-e36c76f8e2e7.png)

It would be nice to see the foregro

[2015-07-27 19:34] punker76 commented on #2047
@mos8580 @tomato3107 @bigworld12 next test candidate MahApps.Metro 1.1.3-ALPHA138

[2015-07-27 20:12] mos8580 commented on #2047
@punker76

unfortunately, the issues persist.

[2015-07-27 20:15] punker76 commented on #2047
@mos8580 I have a feeling that this is not a problem of MahApps :-(

[2015-07-27 20:20] mos8580 commented on #2047
@punker76

That's entirely possible. It could be anything, really. Fortunately people affected can use the workarounds.

Thanks for investigating.

[2015-07-28 07:54] Rajivhost opened #2057 "Percentage Box"
Hi,
That will be great if we can have a percentage box just like VIBlend does.

http://www.viblend.com/products/net/wpf/controls/free-wpf-controls.aspx

![image](https://cloud.githubusercontent.com/assets/3539984/8926234/281ffc58-3506-11e5-9fd3-a27826db27e8.png)

[2015-07-28 08:50] bigworld12 commented on #2057
Or you can just have a property in a numeric up down box to make it a
percentage box

[2015-07-28 09:48] xxMUROxx commented on #2057
@Rajivhost use `NumericUpDown` and set `StringFormat` to `p`. To change the value by one percent you have to set the `Interval` property to 0.01.

[code]
If your backing field rapresents not a value between 0 and 1 but from 0 to 100 you have to customize the StringFormat to `"{}{0:##0} %"`. then everything should work.

[2015-07-28 10:32] Rajivhost commented on #2057
Ok, I will test it and feedback.

[2015-07-28 12:39] mos8580 commented on #2047
@punker76
This morning I noticed that the debug window of my project was flooded with:

First chance exception [...] MissingMethodException in MahApps.Metro.dll

Sure enough, the app crashes if I run the .exe directly.

I reverted the nuget package from Alpha-138 to Alpha-127 and did not experience this problem.

[2015-07-28 13:22] Dotnetifier commented on #1815
I noticed that the MetroWindow frame doesn't blink either, whereas the sound *does* play. After hooking into the window message loop for a normal WPF window I got the following table:

|msg|wParam|lParam|
|---|---|---|
|134|0|0|
|134|1|0|
|127|1|0|
|127|2|0|
|127|0|0|
|127|1|0|
|127|2|0|
|127|0|0|
|134|0|0|
|134|1|0|
with the last two rows repeating themselves six times, making fourteen `134` mess

[2015-07-28 13:26] punker76 commented on #2047
@mos8580 can you post your source? any another stack trace?

[2015-07-28 13:33] Dotnetifier commented on #1973
This is a Flyout with its Position property set to top, therefore the Header and the close button are centered vertically. You may want to set the `CloseButtonVisibility` property to `Collapsed` and set the Header property to an empty string, and build your own close button and header in a Grid so that they are positioned above the tiles.

[2015-07-28 13:37] #2026 closed

[2015-07-28 13:39] #1991 closed

[2015-07-28 13:46] mos8580 commented on #2047
@punker76

It looks like the debugger is handling the exceptions as the app continues to run in debug mode. Just dragging the MetroWindow around generates a bunch of exceptions in the debug window.

The missing method is the same as before:

System.Runtime.InteropService.Marshal.StructureToPtr(!!0, IntPtr, Boolean)
Source=MahApps.Metro
StackTrace:
At Microsoft.Windows.Shell.WindowChromeWorker._Han

[2015-07-28 13:56] punker76 commented on #2047
@mos8580 so give the MahApps.Metro 1.1.3-ALPHA139 a chance

[2015-07-28 14:02] mos8580 commented on #2047
@punker76

Same thing happens :(

As before stack trace says this happens at line 478 of WindowChromeWorker.cs

[2015-07-28 14:03] punker76 commented on #2047
@mos8580 another question: do you use a vm?

[2015-07-28 14:04] mos8580 commented on #2047
@punker 76

I'm not, running on metal.

[2015-07-28 14:08] punker76 commented on #2047
@mos8580 that's really annoying, i have tested with 2 machines and 1 vm and don't get this. one with win 7 64 bit, than with win 8.1 64 bit and a vm with win 10 preview 64 bit.

[2015-07-28 14:09] punker76 commented on #2047
@mos8580 I give up! If there is someone who can fix this, please do it. for me and my machines ™ all works fine.

[2015-07-28 14:21] mos8580 commented on #2047
@punker76

I understand. The regression from Alpha-138 compared to Alpha-127 puzzles me though.

The actual missing method is marked obsolete in 4.5 according to MSDN.

Thanks a lot for trying!

[2015-07-28 14:45] #1469 closed

[2015-07-28 15:08] bigworld12 commented on #2047
@punker76
Did you change iny thing in app / window constructor ?

[2015-07-28 15:17] punker76 commented on #2047
@bigworld12 sorry, i don't understand what do you mean.

[2015-07-28 15:20] bigworld12 commented on #2047
In the MetroWinow constructor did you change any thing ?

[2015-07-28 15:23] punker76 commented on #2047
@bigworld12 -> private chat on gitter

[2015-07-28 16:11] punker76 commented on #1957
@xmedeko i think that's a good solution for it

[2015-07-28 16:11] #1957 closed

[2015-07-28 16:14] punker76 commented on #1926
fixed and enabled with ba6cf29eeed3079ebd92c6313a4eddf55aeb12c0

[2015-07-28 16:14] #1926 closed

[2015-07-28 20:56] #1059 closed

[2015-07-28 20:57] punker76 commented on #1059
changed/fixed with badef24e1dbc6bb75e96e30bb2a7f5fe24e77e56

[2015-07-28 21:05] #1970 closed

[2015-07-28 21:05] #1967 closed

[2015-07-28 21:22] #1906 closed

[2015-07-28 21:22] punker76 commented on #1906
background of the checkbox now changable 9e90d4e2991b5884620f1be1625c95165b8c55bd

[2015-07-28 21:42] punker76 commented on #1888
mh the two styles are not similar and the MahApps.Metro.Resources are not part of MahApps itself

[2015-07-28 21:42] #1888 closed

[2015-07-28 21:45] punker76 commented on #1583
the pdb files are now included

[2015-07-28 21:45] #1583 closed

[2015-07-28 21:51] #1820 closed

[2015-07-28 23:03] feinstein opened #2059 "NumericUpDown Integer only"
Well I guess the title says it all, but I want to be able to only show integers in the NumericUpDown, so if the user types, 2.1 it will be automatically converted to 2.

[2015-07-29 00:06] bigworld12 commented on #2059
You can use the value changed event to set the value to the intger part only

[2015-07-29 00:11] feinstein commented on #2059
Yeah, and I can user the FormatString "#" which helps most of the time, but having something like `IsIntger="True"` would help a lot.

[2015-07-29 07:42] thoemmi commented on #2059
IMHO this requirement is too particular to add it to this library.

[2015-07-29 09:41] xxMUROxx commented on #2059
You could work with `Behaviors` to implement such a feature.
See [How do I get a TextBox to only accept numeric input in WPF?](http://stackoverflow.com/a/8015485/2964291)

[2015-07-29 12:49] feinstein commented on #2059
WPF Extended Toolkit has it

http://wpftoolkit.codeplex.com/wikipage?title=IntegerUpDown&referringTitle=Home

And I use it, that's why I am asking for it.

[2015-07-29 15:19] feinstein commented on #2059
@xxMUROxx the same Stackoverflow link you posted have an answer about the Extented WPF Toolkit.

[2015-07-29 18:47] m5112638 opened #2060 "SplitButton usage question"
I am trying to use SplitButton in an application and would like the following behaviors:

1. The content of the button (PART_Button) doesn't change when popup item from PART_Popup is changed.

2. The appearance of the SplitButton is similar to other types of buttons (e.g. DefaultButton) so they can be used together.

Can the current implementation of the split button do that with some customizatio

[2015-07-29 20:07] #1968 closed

[2015-07-30 05:48] xxMUROxx commented on #2059
The implementaion of Extendet WPF Toolkit is way different then that one I have implemented. My implementation is a single class where Xceed's implementation have different classes for each int/double/short.
I use the control a lot, for that I have implemented it, and have no problems with binding smaller datatypes than double. Just provide a Min/Max range.

----- Ursprüngliche Nachricht -----
Von

[2015-07-30 06:51] ifourdharmesh opened #2062 "Red Border remains on textbox even after data is exists"
I have added Required validation on TextBox. Issue is that Red Border remains on textbox always even after data is exists when I open filled window with data in edit mode,

I have added below code to get validation on textbox.

TextBox:
[code]

Property:

[code]

Style:

[code]

Please help me to resolve this issue

![bug](https://cloud.githubusercontent.com/assets/13567092/8977300/72932da4-36b5-1

[2015-07-30 07:16] feinstein commented on #2059
I know it doesn't have a problem binding to int, I am using it binded to an integer, but the user can input "2.3", the integer will become "2" and that's probably what the user wants (even if the user will see "2.3"),  but I think that limiting this in the control will be a more "clean" solution and the implementation shouldn't be hard to do. I will look into it on my spare time I guess and see if

[2015-07-30 15:04] punker76 commented on #2047
@mos8580 @bigworld12 @tomato3107 #1.1.3.149 is waiting for you (the teamcity build server has possible produced wrong assemblies)

[2015-07-30 15:16] mos8580 commented on #2047
@punker76
I confirm Alpha 149 fixes the issue for both .Net 4 and .Net 4.5.

Logical conclusion considering our previous exchange on Gitter :)

Thank you very much for all the effort spent researching this issue!

[2015-07-30 15:16] #2047 closed

[2015-07-30 15:21] punker76 commented on #2047
http://gifs.joelglovier.com/big-lebowski/dancing.gif

[2015-07-30 15:23] punker76 commented on #2047
![dancing](https://cloud.githubusercontent.com/assets/658431/8987112/ad0149a6-36df-11e5-9d22-a15cc62f95d1.gif)

[2015-07-30 21:16] andrewghet opened #2064 "RangeSlider memory leak"
Hi,

I seem to be getting a memory leak when using the RangeSlider. First noticed it in VS2015 diagnostic tools, then checked with JetBrains dotMemory which confirmed a "Dependency Property Leak". This appears to be a result of calling AddValueChanged in the RangeSlider constructor and not having a matching RemoveValueChanged

[code]

Described here: http://o.oz-code.com/top-3-memory-leak-inducing

[2015-07-30 21:31] feinstein commented on #1920
I would love this feature too!

[2015-07-31 07:03] thoemmi commented on #2059
@feinstein, I'm convinced that your requirement is totally comprehensible. However, what's when the next developer requires float only? Or scientific notation (6.022E17)? Should dependency properties such as `IsFloat` or `IsScientific` too? All of these are totally reasonable, but from the library perspective I think it's overkill. @xxMUROxx linked to a simple way how to achieve it with simple beh

[2015-07-31 07:07] bigworld12 commented on #2059
The problem is not adding new functions it's that everyone wants his own
function so it's better to leave it like that and let everyone customize it
as they wish

[2015-07-31 07:12] feinstein commented on #2059
@thoemmi `NumericUpDown` currently supports scientific notation, if you type `1e10` it will convert it to `10` once the control loses focus.

It's not about the type...int, float, it's about having decimal separators or not...I can change the name to "HasDecimalSeparator" or whatever, I didn't change the type in my PR, it's still a `double?`, I just removed the ',' or '.', depending on the `Cultur

[2015-07-31 07:21] feinstein commented on #2059
@bigworld12 well I agree when it's something that will just pollute the library and if you are sure this is the case, so feel free to dismiss my PR. But as far I can see, I think it's a nice feature to have, specially for people moving from the Extented WPF Toolkit.

[2015-07-31 18:35] feinstein commented on #2059
I changed the property name to `HasDecimals` so it won't make the users think there is actually an `int` on it.

[2015-08-03 07:34] QuantumDeveloper commented on #2036
@punker76 are there any updates to this issue?

[2015-08-04 10:25] digimezzo opened #2066 "On Windows 8 a window with height 23px resizes to 39px after dragging"
I've bumped into a peculiar issue. I've written a small application which demonstrates it: https://www.dropbox.com/s/jndzb2f5ctf8ulf/Mahapps_WindowHeight_Issue.zip?dl=0

This demo application is using MetroWindow (Mahapps Metro 1.1.2) and has a window height=23px when it starts. If you reposition the window by dragging with the mouse, the window height jumps to 39px by itself.
This issue doesn't h

[2015-08-04 20:46] bbougot opened #2067 "MetroProgressBar issue when binding Visibility property"
I encountered an issue when using the MetroProgressBar with IsIndeterminate = True property.
The code is pretty simple:

< controls:MetroProgressBar
EllipseDiameter="5"
Width="{Binding RelativeSource={RelativeSource FindAncestor, AncestorType=Grid}, Path=ActualWidth, Mode=OneWay}"
Foreground="{DynamicResource AccentColorBrush}"
IsIndeterminate="True"
Visibility="{Binding IsMovieLoading, Converter=

[2015-08-05 10:31] maratoss opened #2068 "[Question] Transparent background of MetroWindow"
Hi!
Can i make transparent background of MetroWindow?
I tried to do it as it is in the stackoverflow [sample](http://stackoverflow.com/questions/21461017/wpf-window-with-transparent-background-containing-opaque-controls), but for MetroWindow it's not working.

[code]

[2015-08-05 10:49] OussemaBelhadj opened #2069 "Rehosted WorkflowDesigner issue with Mahapps Metro"
Hello,

I'm working on a wpf application to re-host a workflow designer using Windows Workflow Foundation 4. Everything is working perfectly until i tried to apply metro style on my application.
The style itself is applied perfectly on my application but i can no more drag my activities from the toolbox and drop them in the designer view.
I have to notice too that the toolbox i'm using is taken fr

[2015-08-06 11:03] MrSquirrely commented on #2068
You need to make sure your program is using MetroWindow
It has:
[code]

It should be:
[code]

This should work.
Remember to read this to get started:
http://mahapps.com/guides/quick-start.html

[2015-08-06 18:04] maratoss commented on #2068
Yes, right right.
i did following, but it doesn't work:
[code]

if you try to set AllowTransparency property via CodeBehind, this window will appear invisible:
[code]

Your sample doesn't work as well

[2015-08-07 02:52] MrSquirrely commented on #2068
Quick question, what exactly are you trying to accomplish? Do you want the screen to be slightly opaque with no user controls or with one?

[2015-08-07 10:12] Iworb commented on #2051
Any changes? DropDown items isn't empty, but shown list is.

[2015-08-09 09:15] Biegal commented on #2062
I'm fighting exactly same problem right now :/
What I've noticed is, that if I remove whole text from textbox, and start typing again it starts to work fine.

[2015-08-10 05:42] maratoss commented on #2068
I just want to have the window with the transparent background and non transparent controls inside this window.

I downloaded mahapps repository and tried to make window with transparent background in the demo project and this is working there, i'll try to find out what is wrong.

i'm using 1.1.2.0 version and .net 4

[2015-08-10 08:14] punker76 commented on #2062
@ifourdharmesh With which version get you this issue?

[2015-08-10 08:17] punker76 commented on #2067
@bbougot  With which version get you this issue?

[2015-08-10 08:48] maratoss commented on #2068
I seems found the problem, i'll try to explain it :)
you can reproduce it in MetroDemo propject from MahApps.Metro repository:

if you set AllowTransparency = true (after InitializeComponent()) and WindowState="Normal", you can't maximize your window (it just moves window in top-left corner of the screen and  this window doesn't react on any action). In this case you can set Opacity=0.5 for backgr

[2015-08-10 09:39] punker76 commented on #2068
@maratoss cause that's all, MahApps set the `AllowsTransparency` explicit to `false`. cause `true` hase some bad implicit issues that we don't want. to solve your issue (and for people who want the true) we can add a dp to the BorderlessWindowBehavior to force this value, like `ForceAllowsTransparency`. All other will not be implemented...

[2015-08-10 11:08] bbougot commented on #2067
I'm using the lastest version, the one from the 29th July. I can't test anymore because I found a workaround regarding my use case, having a Storyboard and a DataTrigger which manually set the correct Visibility property. The issue is quiet uncommon, as the MetroProgressBar seems to ignore the IsIndeterminate DependencyProperty as soon as Visibility is bound to something.

[2015-08-10 11:12] bbougot commented on #2067
I found my screenshots to illustrate the issue :

When Visibility binding is not set (Visibility="Visible") :
![88b96424-3afa-11e5-8c3d-fba34c481938](https://cloud.githubusercontent.com/assets/8962802/9170233/660dbbee-3f61-11e5-8161-f73d571f8083.jpg)

When Visibility is bound :
![7de7aaf6-3afa-11e5-96db-aec34c1078b0](https://cloud.githubusercontent.com/assets/8962802/9170241/71f0a57a-3f61-11e5-992

[2015-08-10 11:13] punker76 commented on #2067
@bbougot can you try it anyway with latest after fa6cd6d27014bef67bdc03ec8430f2d1769b5678?

[2015-08-10 11:13] bbougot commented on #2067
Ok, I'll check this soon.

[2015-08-11 06:38] epsi1on opened #2070 "A simple way to show a dialog to get two values from user"
Hi,
Is there a simple way to create a dialog for gettings two values (numeric values) from user in MahApp?

[2015-08-11 06:57] bigworld12 commented on #2070
Yes use custom dialog and make your own

[2015-08-11 06:59] epsi1on commented on #2070
thanks,
you mean inherit a new one from CustomDialog?

[2015-08-11 07:00] bigworld12 commented on #2070
Yes

[2015-08-11 07:03] epsi1on commented on #2070
is there a tutorial for this? Its system is a little complex to inherit from

[2015-08-11 07:45] epsi1on commented on #2070
I need to create a new dialog with custom content but with button with same style as other dialogs, how can i implement that?
Thanks

[2015-08-11 07:59] bigworld12 commented on #2070
create a new user control in xaml
add these
 xmlns:Dialog="clr-namespace:MahApps.Metro.Controls.Dialogs;assembly=MahApps.Metro"
 xmlns:Controls="http://metro.mahapps.com/winfx/xaml/controls"

then change <UserControl to this
<Dialog:CustomDialog
in code behind it should be changed automatically , (btw you don't need to inherit from custom dialog , just create a new instance of it and modify it)

[2015-08-11 10:21] RiderOfTheli opened #2071 "Show icon as a header for TabItem with styling"
Hi,

I would like to ask you, if it's possible to set an icon as a header for TabItem in MetroAnimatedTabControl but to keep all the styling that standard header has? (GrayNormalBrush, GrayHoverBrush etc.)

Previously, there was an MetroImage, now I use rectangle to set an icon.

Thank you for any advice.

[2015-08-11 11:05] maratoss commented on #2068
I thought it was a bug.

As you wish, i solved my issue.

[2015-08-11 11:05] #2068 closed

[2015-08-11 19:57] di48l069 opened #2072 "GlowWindow Question"
hi, i downloaded the latest pre-release and im getting this back when i debug.

see image below

![glow](https://cloud.githubusercontent.com/assets/7794777/9208398/90ff5b1a-4073-11e5-8497-99c2ffd55157.PNG)

Am i using it incorrectly?

[code]

Or did something change?

[2015-08-11 21:21] RiderOfTheli commented on #2072
@di48l069 Try to add it just like that:

<Controls:MetroWindow x:Class="MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
        xmlns:Controls="clr-nam

[2015-08-11 21:26] RiderOfTheli commented on #2072
@di48l069 Try to add it just like that:

    <Controls:MetroWindow x:Class="MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
        xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
        xmlns:Controls="clr

[2015-08-12 07:32] di48l069 commented on #2072
Hi @RiderOfTheli I have tried that please see https://github.com/di48l069/7DTD-SMP in the Mainwindow i have applied what you said above and still showing me same error.

[2015-08-12 07:50] punker76 commented on #2072
@di48l069 I can build and start your app, the only error is this (I use VS 2013):

[code]

![image](https://cloud.githubusercontent.com/assets/658431/9218976/92076d54-40d7-11e5-93e2-af0541c7b87f.png)

![image](https://cloud.githubusercontent.com/assets/658431/9218977/9591eb3e-40d7-11e5-806a-6182a2bb536d.png)

[2015-08-12 12:51] ifourdharmesh commented on #2062
I am using latest Metro UI version for .net framework 4.5. I have downloded from nuget also tried from Git.

[2015-08-12 18:25] di48l069 commented on #2072
@punker76  Drop a break point in MainWindow.cs

line:84

[code]

once app closes you will see this below

![glow](https://cloud.githubusercontent.com/assets/7794777/9232837/32c8db4e-4130-11e5-851a-fe367e8aa631.PNG)

[2015-08-13 21:42] nicoco007 opened #2073 "Theme (BaseLight/BaseDark) doesn't change half the time and can't be set at startup"
When I use either

[code]

or

`ThemeManager.ChangeAppTheme(Application.Current, "BaseDark")`

the theme of my application doesn't change. I have to duplicate the line for it to work, even though when I use `ThemeManager.DetectAppStyle`, it says the theme changed.

It also doesn't work when the application is started up (in the Window.Loaded sub). The startup theme seems to be influenced only by t

[2015-08-14 03:00] feinstein opened #2074 "How to increase the spacing between Tab Items?"
Well, I guess the title says it all but...

I have a `TabControl` with several `TabItems`, but the `Header` of the `TabItems` are too close to each other. Is it there a way to increase their spacing? I tried `Margin` but this separates the `Underline` too.

Right now I am making it as `Header="  Text  "`, it works but it's a hack.

[2015-08-14 09:15] wwarby opened #2075 "Can't Change Checkbox Border Style"
Hi,

I'm trying override the BorderBrush style of the CheckBox control, and having little success (I suspect because I'm doing something wrong rather than the problem being a bug). Specifically what I want to achieve is to make the checkbox control have no border when it is disabled (I haven't put the trigger in yet, for now I just wanted to try to make it have no border at any time).

I've read t

[2015-08-14 23:05] nicoco007 commented on #2073
Nevermind, found out it was an issue with other styles I had in Application.xaml. Sorry for the bother.

[2015-08-14 23:06] #2073 closed

[2015-08-17 07:48] moser96 opened #2076 "[RFC] Show Progress in TaskbarItemInfo if Window has a ProgressDialog overlay"
I think it would be nice if the progress of the ProgressDialog is also shown in the taskbar automatically.
Something like that:

![GitHub Logo](http://www.codeproject.com/KB/winsdk/Win7NewFeatures/ProgressBar3.png)

[2015-08-17 10:33] crumbl3d commented on #2052
I can confirm this. Having the same bug (you can see it on Gitter). I tried everything but nothing works. I will try to edit this in MetroWindow.xaml itself but I don't think it will work.

[2015-08-17 12:15] MuhKuh7 commented on #1849
I have the same problem. Would be great if it could be fixed.

[2015-08-18 03:39] heyixiaoran opened #2077 "MetroWindow can not update Top value after run storyboard"
When I changed the location by mouse . The Top value can not changed. If I use window. It's OK.
But if set the Top value in codebehind. It‘ OK.

Version ：1.1.2.0

update the Top value like this.But It's failed. If I set  SaveWindowPosition="True" .It will show the window at the last time position. I don't want to show it at the position.
Who can tell me how to update the Top value?

Buy the way. I

[2015-08-19 11:29] Iworb opened #2078 "Fill DropDownButton items without Binding"
Is there a way to create DropDownButton without Binding? I've trired to add Buttons into "Items" property or create ContextMenu, but all the same - DropDown part always empty, instead of Binding way.
I just wanna create some DropDownButton menu with hierarchy like that:
    Add:
    - To 1st list
    - To 2nd list

[2015-08-19 13:06] QuantumDeveloper commented on #2078
Yeah, this is my fault. This control was designed only for MVVM, but I think I could modify it to use items without binding

[2015-08-19 13:10] Iworb commented on #2078
It should be great if this control can hold Buttons like DropDownButtons in other packs, because I have no idea how this one could be used, because he has no SelectedItem property... Looks like Button with tooltip of what items we have.

[2015-08-19 14:12] superlloyd opened #2081 "BackgroundToForegroundConverter and AccentColor"
Somewhere that is using a BackgroundToForegroundConverter to find the text color I am using an AccentColorBrush4 for the background.

Unfortunately AccentColor is dark but brush 4 is very transparent.
It ends up with white text on whitish color

Shouldn't BackgroundToForegroundConverter consider the Backround's .Alpha value to calculate the foreground color?!

[2015-08-19 19:08] mkb137 opened #2082 "If a TextBox has a Button, keying Enter should (optionally) invoke a button click"
If a text box has a button via `TextBoxHelper.ButtonCommand`, typing text then keying Enter (while still in the text box) should (optionally) cause the button to be clicked.  Alternatively, there should be some way to set the button as the default.

For example, imagine a text box with a search button.  A user would typically type in the search query and then hit "Enter".  If the search button is

[2015-08-20 17:55] rojasc opened #2084 "Glowborder does not disappear cleanly when running in 64 bit."
If your platform target is x64 or if you use "Any CPU" without "Prefer 32-bin" checked on a 64 bit machine, when closing a window with glow, the glow will not disappear cleanly. It seems disappear edge by edge and it will remain visible after the window disappears for about a second.

[2015-08-21 08:55] arnezami commented on #2052
I updated the version of library to version 1.1.3.0 and problem is fixed. Thanks a lot.

[2015-08-21 08:55] #2052 closed

[2015-08-21 09:59] crumbl3d commented on #2052
@arnezami I updated as well but it isn't fixed for me. Can you please explain how you made it work?

[2015-08-22 09:18] bksharma13 opened #2085 "Tooltip for metro window maximize button"
Hi,
I am using the metro window control in my appilcation. While testing I found out that he tooltip for maximize button is incorrect when it is already maximized. It always shows restore down irrespective of the window state.
I was not able to upload the screenshot for now, due to upload error. But will do when possible.

Can you help me understand whether this bug is at my end or the library lev

[2015-08-22 12:51] crumbl3d opened #2086 "Nasty bug when using OverrideDefaultWindowCommandsBrush"
After messing around with custom **MetroWindow** and **WindowCommands** styles I found a bug that disables Foreground property change for every **WindowCommands' buttons** and therefore keeps me from applying my *custom style*. If I have a style defined like this:
[code]
And when I change **Foreground** property of **WindowCommands' buttons** like this:
[code]
**nothing changes** and the buttons s

[2015-08-23 13:29] bbougot opened #2088 "Issue on MouseOver of a ListBoxItem (e.g RadioButton)"
The commit https://github.com/MahApps/MahApps.Metro/commit/788f1aa0151423d463e23544862f415e58f441da cause an issue when using RadioButton as a ListBoxItem. On mouseover, the accent color takes all of the place on the right of the control, as shown below:

![sans-titre-2](https://cloud.githubusercontent.com/assets/8962802/9428353/9a99f036-49ab-11e5-8436-b9caf57ccce6.jpg)

Which should normally be:

[2015-08-24 18:46] FOCUSWEB opened #2089 "DisplayMemberPath property of CheckListBox("Extended WPF ToolKit") can not work correctly in MahApps.Metro"
It may be a bug, When I use MahApps.Metro in the Application. DisplayMemberPath of CheckListBox can not work currectly. The original object will be display in the UI.

image:
![](http://chuantu.biz/t2/13/1440441878x-1566638177.png)

[2015-08-25 00:18] jyrka98 commented on #2085
I believe this was already fixed. Use a newer version.

[2015-08-25 06:39] di48l069 opened #2090 "VS TabItem"
Hi,

Sorry but how do i get this VS TabItem to close i have tried the following:

[code]

[code]

But its not showing vs style and if i don't use Controls i cant use CloseTabCommand

[2015-08-25 12:06] Narzum opened #2091 "WrapPanel border"
When using WrapPanel in MetroWindow it has redunant border 1px height at the bottom. With regular window everything seems fine.
![2015-08-25 15_05_01-mainwindow](https://cloud.githubusercontent.com/assets/11868819/9466101/d6eaaac2-4b3a-11e5-9a41-1164929ba1ae.png)

[2015-08-26 02:08] #2077 closed

[2015-08-26 09:25] punker76 commented on #2091
@Narzum which MahApps version? can you provide some xaml code? your screenshot looks like that you are not using MahApps right.

[2015-08-26 09:40] punker76 commented on #2090
@di48l069 the closing stuff is not really implemented in the VS style (but should be in the next time)

[2015-08-26 09:40] punker76 commented on #2085
@bksharma13 this is already fixed (try the alpha version instead)

[2015-08-26 09:40] #2085 closed

[2015-08-26 09:42] punker76 commented on #2089
@FOCUSWEB MahApps has no style for the CheckListBox, so its not a MahApps related bug.

[2015-08-26 09:44] punker76 commented on #2088
@bbougot the listbox items style uses now
[code]
and the listbox itself set this to
[code]

[2015-08-26 09:46] punker76 commented on #2084
@rojasc with which MahApps version are you get this issue? i don't see such issue with my machines™.

[2015-08-26 09:48] punker76 commented on #1849
@Evangelink just set `ShowSystemMenuOnRightClick` to `false`

[2015-08-26 09:48] bbougot commented on #2088
Yes this is perfectly working now, thanks @punker76

[2015-08-26 09:48] #2088 closed

[2015-08-26 09:50] punker76 commented on #2075
@wwarby just set `BorderThickness` to `0`

[2015-08-26 09:50] punker76 commented on #2088
@bbougot :+1:

[2015-08-26 10:33] MuhKuh7 commented on #1849
@punker76 yes, this is a workaround as @Evangelink has already mentioned in the initial post, but there is still a bug in MahApps.Metro

[2015-08-26 11:01] Narzum commented on #2091
It's 1.1.2 from NuGet. I excluded all the styles trying to eliminate this side effect, but nothing helped.  Here\s the code:

<met:MetroWindow x:Class="WpfApplication1.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:met="http://metro.mahapps.com/winfx/xaml/controls"
        Title="Mai

[2015-08-26 11:07] punker76 commented on #2091
@Narzum ah ok, just use the latest alpha, it's a bug with UseLayoutRounding, should be fixed now

[2015-08-26 11:10] punker76 commented on #2074
@feinstein you can change the `Padding` instead the `Margin`

[2015-08-26 11:42] QuantumDeveloper commented on #1849
@punker76 maybe this is because somehow window title is streched to the whole window?
Maybe the same issue is for #2036

[2015-08-26 11:44] Narzum commented on #2091
Thanks for help. Hope to see new release soon.

[2015-08-26 11:44] #2091 closed

[2015-08-26 12:20] fpawel opened #2092 "Multi-column Tree-View (Tree-List-View)"
What is te best way to make the control like this in MahApps.Metro?

(f.e. https://www.devexpress.com/products/net/controls/wpf/tree_list/)

Thanks!

[2015-08-26 13:25] bigworld12 commented on #2092
Simply copy all the styles from mahapps to the control,that's the only way
i could think of

[2015-08-26 13:35] rojasc commented on #2084
I'm using 1.1.2 also, if it matters running on Win8.1. If you would like, I could provide some screen captures or a video.

[2015-08-26 13:44] punker76 commented on #2084
@rojasc can you try the latest alpha from nuget?

[2015-08-26 13:46] rojasc commented on #2084
Just tried and no change in behavior. I'm installing a screen recorder right now so you can see what is happening.

[2015-08-26 14:13] rojasc commented on #2084
Here is a video of the issue in my app: https://youtu.be/TLN4ZQ_rgfo
Here is a video of it happening in the demo app: https://youtu.be/ha1fF68cAFo

[2015-08-26 14:20] wwarby commented on #2075
@punker76 I've tried that too - doesn't seem to make a difference, the border persists.

[2015-08-26 14:21] punker76 commented on #2075
@wwarby try the latest alpha

[2015-08-26 15:13] niemeyerd commented on #1022
Thank you so much!

[2015-08-26 16:48] fredericoregateiro commented on #1929
I've made a small sample to show this issue.
The problem is that the CellEditEnding event is not called if the datagridcheckbox column has the styles applyed.
The sample is here: http://1drv.ms/1Udo4IW

Thanks,
Frederico

[2015-08-26 17:30] bigworld12 commented on #1022
It's because you don't prevent it from closing ,
Add this
e.Cancel=true;
And then show the message

[2015-08-26 18:47] feinstein commented on #2074
Have you tried it? Padding doesn't make a difference for me, if it does for you, please let me know so I can see what's wrong with my system.

[2015-08-26 19:07] Malavos commented on #2074
@feinstein  Please post your Window Xaml code! :pray:

[2015-08-26 19:24] feinstein commented on #2074
It's quite big...the tab part it's just:

	<mahapps:MetroTabItem mahapps:ControlsHelper.HeaderFontSize="{StaticResource TabFontSize}"
						  Header="  My Header Text  " >
	</mahapps:MetroTabItem>

And my Tab Control is:

	<mahapps:MetroTabControl mahapps:TabControlHelper.IsUnderlined="True" >
		<TabControl.Resources>
			<clr:Double x:Key="TabFontSize">18</clr:Double>
		</TabControl.Resources>

My

[2015-08-26 19:29] Malavos commented on #2074
@feinstein Don't you have any other window property that's interfering with the tab disposition? Like responsive windows/etc?

[2015-08-26 19:31] punker76 commented on #2074
@feinstein it's a bug with the `MetroTabItem`, i'll fix this now

[2015-08-26 19:38] feinstein commented on #2074
Thanks!
Em 26/08/2015 16:31, "Jan Karger" <notifications@github.com> escreveu:

[2015-08-26 19:41] feinstein commented on #2074
@punker76 Why should I use a `MetroTabItem` instead of a `TabItem`? What do I get from it? Same question for `MetroTabControl`.

[2015-08-26 19:43] punker76 commented on #2074
@feinstein the difference is that you can have a close button with `CloseButtonEnabled="True"`

[2015-08-26 19:44] feinstein commented on #2074
@punker76 and what about `MetroTabControl`?

[2015-08-26 19:52] punker76 commented on #2074
@feinstein
- it generates by default `MetroTabControl`s if you bind a collection to `ItemsSource`
- you can define a `CloseTabCommand` which will also execute if you close a `MetroTabItem`
- you can define `TabStripMargin` for the tab item panel

[2015-08-26 19:57] punker76 commented on #2074
@feinstein @Malavos the `Padding` issue with the `MetroTabItem` should be fixed with b67193def4b8d57b5aa8362d920bf37ab54e27ea (latest alpha 154)

[2015-08-26 19:57] #2074 closed

[2015-08-26 19:57] feinstein commented on #2074
@punker76 Great! Last question:

Can I make the MetroTabControl expand the tabs evenly to take all the available size?

For example:

![Demo Screen](https://cloud.githubusercontent.com/assets/8120472/9504504/57bc13ce-4c13-11e5-8adc-66d8c878bba5.jpg)

[2015-08-26 19:58] feinstein commented on #2074
@punker76 do you have any expected release date to have a Nuget Package for this release?

[2015-08-26 20:01] Malavos commented on #2074
@feinstein  alpha 154.. https://www.nuget.org/packages/MahApps.Metro/1.1.3-ALPHA154

[2015-08-26 20:01] punker76 commented on #2074
@feinstein you can try create your own `TabPanel` and override the `MeasureOverride` and `ArrangeOverride` methods to fill the entire space.

[2015-08-26 20:02] feinstein commented on #2074
@Malavos I meant a proper release, I don't like to use Alphas and Betas.

[2015-08-26 20:03] Malavos commented on #2074
@feinstein  oh yes, sorry about that.

[2015-08-26 20:03] punker76 commented on #2074
@feinstein sorry No due date yet

[2015-08-26 20:43] feinstein opened #2093 "Change the Validation Error Position"
The Validation Error Popup is blocking the Description of my Texbox since it's on the **right** side by default. Is it there a way to change it to the **left**?

Here's my situation:

![captura_de_tela_082615_053528_pm](https://cloud.githubusercontent.com/assets/8120472/9505519/51a9d77c-4c19-11e5-9bae-676786c6a2dd.jpg)

And this is the original Form:

![captura_de_tela_082615_053554_pm](https://cl

[2015-08-27 07:18] punker76 commented on #2084
@rojasc i can't reproduce this with the settings and the latest source on my machine™ with win 10 64 bit professional...

[2015-08-27 11:09] di48l069 commented on #2090
@punker76 Thanks would this be available in next release.

[2015-08-27 13:03] rojasc commented on #2084
I'm using Win8.1 Enterprise. Do you believe its something to do with the library? or something actually with the OS or a video driver? I just find it very strange that it only happens when I build it for x64.

[2015-08-27 14:00] rojasc commented on #2084
I also just noticed that it does not happen on a Release build.

[2015-08-27 16:02] furiousbuilder opened #2096 "Open Flyout from another UserControl"
Hi,

I'm doing an application with MahApps. I need to make a Flyout appear using code from my UserControl but the Flyout is in my MainWindow.

Here is my application :
![screenshot 29](https://cloud.githubusercontent.com/assets/10899984/9525407/492fb79e-4ce4-11e5-85ef-aedf42f2e559.png)

All controls you see here, are a UserControl, when a click the icon at the top left (4 bars) to open the Flyout,

[2015-08-27 16:44] bigworld12 commented on #2096
this is a basic instancing problem, i will try to make it easy
your application consists of 1 window that contains some user controls
what you want here is to pass the main window instance that had been already created by the program when you start debugging to the user controls.
one easy way i use in my code is to add a shared "Instance" in my main window

check this :
[code]
and in the construct

[2015-08-27 17:31] furiousbuilder commented on #2096
Ahhh thank you :) It worked !

[2015-08-27 19:36] #1519 closed

[2015-08-28 06:07] ShrewdSpirit opened #2098 "appbar icons won't show up when changing TransitioningContentControl's content"
Hi
I've an issue with changing TransitioningContentControl content. I've four user controls that have different appbar icons in a rectangle same as here http://mahapps.com/guides/icons-and-resources.html
When I change TransitioningContentControl's content to any of these user controls in any other event, their icons won't show up. But when I do it in constructor, I have the icons.
Sorry for my bad

[2015-08-28 10:56] NickP13 opened #2099 "ComboBox not displaying correctly in Windows 10?"
I have an app with a ComboBox that was working fine in Windows 7, it looked like this -
![mahapps1](https://cloud.githubusercontent.com/assets/12263462/9544604/300936f2-4d50-11e5-9787-1ed7d242d2a7.png)

But now in Windows 10 this is what I get -
![mahapps2](https://cloud.githubusercontent.com/assets/12263462/9544609/3b75ed50-4d50-11e5-9cd6-5bdd9677a5cc.png)
![mahapps3](https://cloud.githubusercont

[2015-08-28 16:53] furiousbuilder commented on #2096
Another thing, now, I need to do the same thing but the control is in a SetupChildWindow named "MainSetup". Inside the code of the ChildWindow, I need to use something like this at loading :
m_instance = Me
Of course "Me" isn't correct, how can I do ? Sorry, I don't have a lot of experience in WPF...

[2015-08-28 22:36] #2096 closed

[2015-08-28 22:37] punker76 commented on #2099
@NickP13 can you provide a short xaml code from your combobox? it looks like your combobox does not get the mahapps style. i checked the main demo under win 10 and all works fine...

[2015-08-29 12:02] NickP13 commented on #2099
@punker76  Here are the relevant parts from the xaml. Let me know if there's anything else you'd need to see, I'm still pretty new at WPF. Thanks.

<Controls:MetroWindow x:Name="Main_window" x:Class="BOM_v2.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
        xmlns:Controls="clr-namespace:MahApp

[2015-08-29 15:29] jmecosta opened #2100 "How to change the style of the header in a flyout?"
Hi

Trying to change the size of the header, possible also reducing the size of the arrow. Any examples that I can use?

Thanks

Jorge Costa

[2015-08-29 20:00] punker76 commented on #2099
@NickP13 happens this only in the designer?

[2015-08-30 13:43] NickP13 commented on #2099
No, in the designer it looks correct until you open the drop down list, then it changes to the default Windows 10 ComboBox like in the 3rd picture.

When i build and run the app it shows the Windows 10 ComboBox as soon as the app starts.

[2015-08-30 18:49] punker76 commented on #2084
@rojasc so this is only happen with attached debugger? if so, then i will close this issue.

[2015-08-31 06:50] punker76 commented on #2100
@jmecosta you can create your own `HeaderTemplate` https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/Flyout.xaml#L270-L271
just look in to the default template https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/Flyout.xaml#L12-L109

[2015-08-31 06:51] #2100 closed

[2015-08-31 06:51] jmecosta commented on #2100
Yep, I've reverted to that yes. Thanks

On Mon, Aug 31, 2015, 09:50 Jan Karger <notifications@github.com> wrote:

[2015-08-31 08:20] prateekmaheshwari opened #2101 "Window buttons(minimize, maximize, close) are always shown on top"
![issue](https://cloud.githubusercontent.com/assets/13113989/9574668/7fdff330-4fe6-11e5-9d0b-2fc75d395650.png)

While using MahApps Metro window for my application, I am facing an issue, as the Window buttons i.e. the Minimize, Maximize and Close buttons are always on top. I even  gave the floating grid a Z-Index = 1 but it didn't help. Is there a way to keep floating grid on top of the window but

[2015-08-31 10:41] kanaksony commented on #2101
I am also seeing this issue in my application :(

[2015-08-31 13:22] tasc18 opened #2102 "Flyouts exception in designer"
so, when i opened visual studio after saving my application, the designer is not working. I found that the flyout is bugging it, and i cannot edit it in the designer any more. Here is the exception:

ArgumentException: Cannot add instance of type 'SetFlyoutOpenAction' to a collection of type 'TriggerActionCollection'. Only items of type 'T' are allowed.

StackTrace
 at System.Windows.FreezableColl

[2015-08-31 13:25] punker76 commented on #2102
@tasc18 which MahApps version? any other special thing with your flyouts?

[2015-08-31 13:32] tasc18 commented on #2102
@punker76 I'm working with the 1.1.2
my flyouts work just right when i add it, this excpetion only happen when i close and reopen the visual studio. I've found some workaround, like cut the flyout xaml code and saving the project, and restarting the visual studio, and then pasting the code again. When i do this the designer go back to normal with all of my flyout content. But i'm not sure this wor

[2015-08-31 13:34] punker76 commented on #2102
@tasc18 if you want then try the latest alpha, there is something fixed wirth flyouts and the designer.

[2015-08-31 13:43] tasc18 commented on #2102
For some reason the latest alpha wasn't accepting the xaml modification to use MahApps. But now it's working. The designer now is working perfectly with the flyouts and everything every time i reopen the VS. I'll post again if this happens again. Sorry my english btw. And thank you @punker76 =D

[2015-08-31 13:44] #2102 closed

[2015-08-31 17:34] thoemmi commented on #2101
The window buttons have `Panel.ZIndex="1"`, so try `2`.

[2015-08-31 18:48] moser96 opened #2103 "Fix MetroWindow dialog behavior"
If you have a MetroWindow and want to display this from an other window by using:
[code]
There is one issues with the dialog behavior:
If you click on the parent window it doesn't react as spectated, but you **shouldn't be able to switch back to the parent window by using the Taskswitcher.**

[2015-08-31 21:00] bigworld12 commented on #2103
Do you mean it doesn't review focus ?

[2015-09-01 04:04] ubx-caloca opened #2104 "Strange Freezzing issue when combining the MahApps MetroWindow and some Infragistics WPF components"
I'm seeing a long application (10 seconds) freeze when using the MahApps (version 1.1.2)  in combination with the XamDockManager and XamNetworkNode Infragistics WPF components. Can you please help me out in coming out with a fix?.

To reproduce the issue one must install the latest Infragistics WPF components trial version, run the attachment visual studio project and zoom in (a lot) in the graph

[2015-09-01 04:51] prateekmaheshwari commented on #2101
I have tried Panel.ZIndex="2" for floating grid also, still the same issue :(

[2015-09-01 08:03] moser96 commented on #2103
It does receive the focus, but you can switch to the parent window by using Alt + TAB and that's not the dialog behavior I expect.

[2015-09-01 09:04] punker76 commented on #2103
@moser96 maybe you forgot to set the `Owner` property

[2015-09-01 09:46] QuantumDeveloper opened #2105 "text inside TextBox is moving right/left when enter/delete it"
I think issue could be in layout rounding optiona enabled.

[2015-09-01 09:49] gigios opened #2106 "VS Designer warning: A value of type 'MetroAnimatedSingleRowTabControl' cannot be added to a collection or dictionary of type 'UIElementCollection'"
Often, in my Visual Studio editor (2013 and 2015) I have a warning (the editor underline code) with this message:

A value of type 'MetroAnimatedSingleRowTabControl' cannot be added to a collection or dictionary of type 'UIElementCollection'

This problem happen when I have a MetroAnimatedSingleRowTabControl inside a grid.
I have attached a screenshot of the error also in the MetroDemo application

[2015-09-01 11:58] bigworld12 commented on #2103
This is the actual behavior , try messagebox.show
And it will also have the same behavior
If you want your behavior you can do windowinstance.Show()
And implement your own functions to get the result

[2015-09-01 12:00] moser96 commented on #2103
@punker76  THX, I totally forgot it! Now it works as expected :smile:

[2015-09-01 12:00] #2103 closed

[2015-09-01 15:47] moser96 commented on #2101
I think I found the solution for your problem in the **[docs](http://mahapps.com/controls/flyouts.html)**
at the bottom of the page you can see there exists a property **ShowWindowCommandsOnTop** with the **default value True**. I haven't tried it but it should work if you set this property to false :wink:

[2015-09-01 17:24] bigworld12 commented on #2106
Replace TabControl with
Controls: MetroAnimatedSingleRowTabControl

[2015-09-01 20:53] gigios commented on #2106
Sorry but it is not clear for me.
I'm using the Controls:MetroAnimatedSingleRowTabControl!
The screenshot is related the sample 'MetroDemo' present in this repository.

[2015-09-01 21:16] bigworld12 commented on #2106
You have
<TabControl.Resources>
Replace it with
< Controls:MetroAnimatedSingleRowTabControl>

[2015-09-02 07:35] gigios commented on #2106
Ok, this for the 'sample' but in my application I don't have any 'resources' section for the TabControl.
I'm not sure that the problem is related to the MahApps because, after a new build, the warning disappear, but if I close and reopen the Visual Studio the warning reappear.

[2015-09-02 11:39] prateekmaheshwari commented on #2101
ShowWindowCommandsOnTop, this property is not available in version 1.1.2 (which I am using currently) and not even in version 0.9.0.0 (which I was using earlier).
Please provide a correct solution. :(

[2015-09-02 11:58] punker76 commented on #2101
@prateekmaheshwari since 0.9 we changed something.

to avoid overlapping the right commands and window button commands you should set these properties at the MetroWindow tag:

[code]

or if you use Flyouts

[code]

[2015-09-02 12:23] prateekmaheshwari commented on #2101
@punker76 my actual problem is not the overlapping of right commands and window button commands.
The issue I am actually facing is that when I take my floating grid over over the title bar, then the items of title bar are coming on top of the floating grid, which is not desired. Please refer to the attached file.

Here, I have a textblock with text="World" and when I take the floating grid over th

[2015-09-02 12:43] punker76 commented on #2101
@prateekmaheshwari ok, so this is not possible. maybe only with a custom flyout with margin. but what do you want do?

[2015-09-02 12:47] prateekmaheshwari commented on #2101
@punker76  I only want that when I drag my Floating Grid over the Title bar, then the items on the title bar (Left/Right Buttons or Window Buttons) should not come over the grid as it is happening (refer the above screenshot).

[2015-09-02 12:47] punker76 commented on #2101
@prateekmaheshwari that's not possible

[2015-09-02 13:27] rojasc commented on #2084
It only happens when built in Debug mode. It still happens if its a Debug build and the debugger is not attached. It only doesn't happen on Release builds.

[2015-09-02 20:40] bigworld12 commented on #2101
did you try something like ZIndex=99 ?

[2015-09-03 09:56] eggapauli opened #2107 "Complex TabItem Header loses style"
(Might be a duplicate of #2071, but since nobody responded I'll try it again)

I have a `TabItemControl` with `TabItem`s that have a more complex header than just a string.

E.g. this XAML code

[code]
produces this layout:
![image](https://cloud.githubusercontent.com/assets/237707/9655618/bd660fd4-5232-11e5-9008-b5e66e13eef7.png)

Is it possible to apply the standard style to tab items with compl

[2015-09-03 10:01] punker76 commented on #2107
@eggapauli for such 'complex' header you should better use the `HeaderTemplate`.

[2015-09-03 10:11] eggapauli commented on #2107
Ahh, didn't know about that. Works like a charm. Thanks for the amazingly quick response.

[2015-09-03 10:11] #2107 closed

[2015-09-03 10:25] punker76 commented on #2071
@RiderOfTheli you can use the `HeaderTemplate` for such usage, see also #2107

[2015-09-03 14:34] Nadeem1989 opened #2108 "Is it Possible to create Flyout on sacrollable window?"
Hi I am new on MahApps.Metro, I have used this few days back and Now wish to add Flyout on scrollable window on bottom like fix menu bar. Is it possible?

[2015-09-03 20:38] punker76 commented on #1973
@MedoElkamaly do you mean the vertical alignment of the flyout button and title 'Options'?

[2015-09-03 20:44] punker76 commented on #1987
@anthony1969 the `Tile` control is internally a `Button`, so use the `Click` event or the `Preview` mouse events.

[2015-09-03 20:44] #1987 closed

[2015-09-03 21:06] punker76 commented on #1360
@warffen i think this is outdated. we removed the panorama a long time ago (too many bugs or so).
but i have now updated the `Tile` to get some similar usage.

![image](https://cloud.githubusercontent.com/assets/658431/9671043/552765a4-5290-11e5-8fbe-5f9892646a63.png)

![image](https://cloud.githubusercontent.com/assets/658431/9671047/5bb4748e-5290-11e5-9cf3-d8c63e4afa4b.png)

[2015-09-03 21:06] #1360 closed

[2015-09-04 10:29] punker76 commented on #2105
@QuantumDeveloper can you more specify what is going wrong? i don't really know what do you mean?

[2015-09-04 10:31] punker76 commented on #2108
@Nadeem1989 yes of course, set the `Position` property to `Bottom`

[2015-09-04 10:31] #2108 closed

[2015-09-04 10:33] punker76 commented on #2106
@gigios the visual studio designer is not perfect. this is not MahApps related.

[2015-09-04 10:33] #2106 closed

[2015-09-04 10:36] Nadeem1989 commented on #2108
Thanks for reply sir, I have set Positio to Bottom, But the problem is when I scroll up on the screen it gets inside the bottom no-viewable area and when I again scroll down then only I am able to watch the Flyout

[2015-09-04 10:37] punker76 commented on #2108
@Nadeem1989 so show us the xaml of your window...

[2015-09-04 10:38] Nadeem1989 commented on #2108
<Controls:FlyoutsControl>
            <Controls:Flyout Header="Actions" Name="TestFlyout" VerticalAlignment="Bottom" Position="Top" Width="990" Theme="Adapt">
                <Grid>
                    <Grid.ColumnDefinitions>
                        <ColumnDefinition Width="20*"></ColumnDefinition>
                        <ColumnDefinition Width="20*"></ColumnDefinition>
                    </Gri

[2015-09-04 10:41] Nadeem1989 commented on #2108
Unable to sahre complete code here, Dont know why, watch below link for code snippent:
http://stackoverflow.com/questions/32391077/wpf-is-it-possible-to-create-flyout-on-scrollable-window-using-mahapps-metro

[2015-09-04 10:46] QuantumDeveloper commented on #2105
I mean that when you enter text inside textbox, text moves to one/two pixels from rigth to left and back. And it seems that it happens because in template enabled layout rounding option.

[2015-09-04 10:51] punker76 commented on #2108
@Nadeem1989 maybe you forgot to put your flyout in the flyouts. and use `Position="Bottom"` not `VerticalAlignment="Bottom"`

[code]

[2015-09-04 10:52] punker76 commented on #2105
@QuantumDeveloper i don't see this in latest source

[2015-09-04 10:55] QuantumDeveloper commented on #2105
Please, try this inside datagrid column

[2015-09-04 10:58] punker76 commented on #2105
@QuantumDeveloper works fine in the demo, so create a short sample and/or make a creencast...

[2015-09-04 11:09] Nadeem1989 commented on #2108
Getting This Error I Trid your code on WPF Page (I am using WPF Page Not Window)
-->The member "Flyouts" is not recognized or is not accessible.

[2015-09-04 11:11] punker76 commented on #2108
@Nadeem1989 yeah that's right, it's only available for `MetroWindow`, so please post your complete page xaml.

[2015-09-04 11:12] Nadeem1989 commented on #2108
<Page x:Class="WPFNavigation.Pages.NewSIMIssue"
      xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
      xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
      xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006"
      xmlns:d="http://schemas.microsoft.com/expression/blend/2008"
      xmlns:Controls="clr-namespace:MahApps.Metro.Controls;assembly=MahApps

[2015-09-04 11:18] punker76 commented on #2108
@Nadeem1989 put your flyout over the scrolviewer

[code]

[2015-09-04 11:27] Nadeem1989 commented on #2108
Thanks Alot Sir

[2015-09-04 11:48] KlioHome opened #2109 "Size of MahApps Dialog background.."
Hi! Can you help me?
Here is a regular MahApps Dialog.
![1](https://cloud.githubusercontent.com/assets/13899351/9682928/dd745f6a-5313-11e5-80c0-ca953c745750.png)
I wonder whether you can make the dialog did not close the title?
Somthing like this...
![2](https://cloud.githubusercontent.com/assets/13899351/9682933/e1ff1656-5313-11e5-8784-a2fbab439513.png)
Thank oyu for your help!

[2015-09-04 13:45] punker76 commented on #2104
@ubx-caloca i have test your app with the latest source and updated app.xaml and it seems that it is fixed now

[code]

[2015-09-04 15:34] gigios commented on #1029
I'm trying to use some icons in my application.
For the normal usage all works fine but if I try to change the theme the icons does not changes the color.
I have tried also to move the icon resource in the windows but without success. Only if I put the icon resource directly in my usercontrol the icon change the color when the user change the theme.
Seems that the only way to apply the new colors

[2015-09-04 17:15] alexiej opened #2113 "Expander in DataGrid shows VerticalScrollBar"
Hi,

I have below DataGrid with Expander.

[code]

And Columns with dataGrid with one column with width="*".

[code]

In this situation this should take left space.
This works fine without expander. But with epxander it always set size for the column too wide. I need to manualy change size for each column in DataGrid.

![2015-09-04_19-09-30](https://cloud.githubusercontent.com/assets/12593751/9689

[2015-09-04 21:53] punker76 commented on #2113
@alexiej possible you must change the margin of the expander...

[2015-09-06 12:49] Dotnetifier commented on #2098
So you're using the MahApps.Metro.Resources icon pack, correct? And you have some icons that show up one one UserControl, but when you try to show those same icons on another UserControl they don't appear. Is that correct?

[2015-09-06 21:11] ShrewdSpirit commented on #2098
Yeah, thats right. The first UserControl's icon in a TransitioningContentControl is visible, but other UserControls in same TransitioningContentControl wont have any icons.

[2015-09-06 22:34] Dotnetifier commented on #2098
Had that problem too. The icons in the resource dictionaries are controls. They're also shared, meaning the resource system returns the same instance on every request. A control, however can only occur once in WPF's visual tree, so, the second time it tries to fit in the icon control it will fail because it is already present in the visual tree.

Add the [x:Shared="False"](https://msdn.microsoft.c

[2015-09-07 06:17] ShrewdSpirit commented on #2098
That worked! Thank you so much. I had to forget about putting icons on UserControls, but now I can use them

[2015-09-07 07:47] gigios opened #2114 "Icon color not changing on theme change (as #1029)"
I'm trying to use some icons in my application.
For the normal usage all works fine but if I try to change the theme the visualized icons does not changes the color.
I have tried also to move the icon resource in the windows but without success. Only if I put the icon resource directly in my usercontrol the icon change the color when the user change the theme.
Seems that the only way to apply the

[2015-09-07 08:07] Dotnetifier commented on #2098
You're welcome.

@punker76 You may close this one.

[2015-09-07 09:03] #2098 closed

[2015-09-07 14:23] fubar-coder opened #2115 "ProgressDialog not showing when not using Task.Delay()"
It seems that the ```ProgressDialog``` doesn't show up when ```Task.Delay(1)``` isn't used. The window gets dark, but the message (and the progress bar) doesn't show up (or update) when no ```Task.Delay(1)``` isn't used.

You can easily replicate this behavior, when you replace all ```Task.Delay``` with ```Thread.Sleep``` in the demo application in ```MainWindow.ShowProgressDialog```.

[2015-09-07 21:43] ubx-caloca commented on #2104
Hi again,

Yep, the issue is gone with the latest source. Thanks for your time, the issue was giving me some headaches. Keep up the great work!!

[2015-09-07 21:44] #2104 closed

[2015-09-08 08:51] spirosi opened #2117 "TreeView style when using HierarchicalDataTemplate"
I can't get default MetroTreeView style when im using HierarchicalDataTemplate. Im receivind frames with same color as selected item and with length of the longest item.
<Grid.ColumnDefinitions>
            <ColumnDefinition Width="199*"/>
            <ColumnDefinition Width="244*"/>
        </Grid.ColumnDefinitions>

        <TreeView BorderBrush="{StaticResource AccentColorBrush}" BorderThicknes

[2015-09-08 08:58] punker76 commented on #2117
@spirosi what version of MahApps are you using?

[2015-09-08 09:01] spirosi commented on #2117
I'm using 1.1.2.0

[2015-09-08 09:02] punker76 commented on #2117
@spirosi can you try the latest alpha? so maybe this is solved their.

[2015-09-08 09:13] spirosi commented on #2117
Almost solved.
![2](https://cloud.githubusercontent.com/assets/8955003/9730966/2c8317b2-562b-11e5-9279-02cebc38b943.jpg)

[2015-09-08 09:18] thoemmi commented on #2115
Calling `Thread.Sleep` blocks the UI thread. Of course the progress dialog can't update, as any other UI component as well.

[2015-09-08 09:22] punker76 commented on #2117
@spirosi :+1:

[2015-09-08 09:22] #2117 closed

[2015-09-08 09:59] tgjones opened #2118 "Glow border is missing the corners"
It's a little bit subtle, but you can see in this screenshot that there's no glow border at the corner (and the same is true for the other 3 corners). Is that as-designed, or a bug? It looks pretty odd, and isn't what the "standard" Windows glow looks like.

![mahapps-glow](https://cloud.githubusercontent.com/assets/102049/9731991/076aa1c0-5653-11e5-9212-fba501518f3e.png)

[2015-09-08 10:21] punker76 commented on #2118
@tgjones it's now as-designed, maybe changed in 2.x.x

[2015-09-09 02:51] ThomasWeiss opened #2119 "Showing a dialog throws NullReferenceException (but not in latest source)"
I'm trying to display dialogs from my `MetroWindow` class:
[code]
but this throws a `NullReferenceException`.

So I downloaded the source and referenced the project in order to step into the call and see where the NRE is thrown but... it works fine from the source. So I guess that there was some issue that got recently fixed, which leads me to the question: is there a new release scheduled soon?

[2015-09-09 08:02] #2105 closed

[2015-09-09 10:48] gigios opened #2120 "PasswordBoxHelper enhancement to support Password binding"
One big problem of the PasswordBox control is that it is not possible to bind directly the Password property.
My suggestion is to enhance the PasswordBoxHelper with an additional property 'Password' (for example) that allow to bind a ViewModel property directly to the Password property of the control.

[2015-09-09 13:45] thoemmi commented on #2120
There's already `PasswordBoxBindingBehavior`. See its usage in the [`LoginDialog`](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/Dialogs/LoginDialog.xaml#L34).

[2015-09-09 13:49] gigios commented on #2120
Sorry :(
I have checked only the PasswordBoxHelper and PasswordBox styles withoud check the examples.

Thanks for the answer.

[2015-09-09 13:49] #2120 closed

[2015-09-09 14:04] thoemmi commented on #2120
You're welcome :relaxed:

[2015-09-09 14:20] valentinhuber opened #2121 "Window is flickering while resizing"
![resizebug](https://cloud.githubusercontent.com/assets/11440294/9764069/36f2ab08-570d-11e5-8fd6-211c132e12a1.gif)

It seems that there is a resize issue at the MetroWindow. When the window is resized at the left side, the right edge flickers. The same issue appears on the top edge, in that case the bottom edge flickers.
However, resizing from the bottom and the right edge works perfectly fine.

[2015-09-09 15:02] punker76 commented on #2121
@valentinhuber which version of MahApps? this should be better in the latest alpha.

[2015-09-09 17:53] chenliu0831 commented on #1431
@HugzM Is this resolved? Can I close this?

[2015-09-10 07:42] punker76 commented on #2093
@feinstein Which version of MahApps are you using?

[2015-09-10 07:54] feinstein commented on #2093
1.1.2, the latest stable version.

[2015-09-10 07:59] punker76 commented on #2093
@feinstein so, please try the latest alpha. there was something changed. you can now inherit from a base style for the `CustomValidationPopup`.

[code]

[2015-09-10 09:18] luciusli opened #2122 "Use behavior/attached property to control window dragging"
I have a `MetroWindow` with custom title bar by setting `ShowTitleBar="False"` and `IsWindowDraggle="False"`, but I also want this custom title bar to be draggable. It would be nice if there is a helper behavior that once attached, mouse down on the associated object would start dragging the window as this approach is more flexible and reusable. What do you think?

[2015-09-10 10:00] valentinhuber commented on #2121
Version 1.1.2.
Thanks for your reply, I'm going to test it later on and will provide you with feedback.

[2015-09-10 11:39] valentinhuber commented on #2121
![resizebug](https://cloud.githubusercontent.com/assets/11440294/9787168/8dedbeda-57c0-11e5-9229-768021dd7b95.gif)

Tried the latest alpha (Version 1.1.3-ALPHA 170), you were right, it looks much better now, even though the flickering is not gone yet.

[2015-09-10 11:41] punker76 commented on #2121
@valentinhuber it's not possible to fix this completely. if you compare with a normal window, then you can see that the inner content also flickers. so out content flickers too, but a little bit better.

[2015-09-10 11:41] #2121 closed

[2015-09-10 11:59] bigworld12 commented on #2121
Would also point that top left is the measure point for all content so it's
normal to flicker when changing this point

[2015-09-10 12:19] QuantumDeveloper commented on #2121
When you resize window, the whole device with swapchain must be recteated (this is relevant for DX 9, on which WPF is working) So, recteating device + swapchain causing this small flickering effect.

[2015-09-10 18:18] punker76 commented on #2093
@feinstein any news for this?

[2015-09-10 18:19] punker76 commented on #2119
@ThomasWeiss you can download the pre nuget version which is the latest source. it should be work like a stable version ;-P

[2015-09-10 18:19] #2119 closed

[2015-09-10 18:20] punker76 commented on #2113
@alexiej any news for this?

[2015-09-10 18:24] #2075 closed

[2015-09-10 18:24] #2092 closed

[2015-09-10 18:25] #2089 closed

[2015-09-10 18:25] #2067 closed

[2015-09-10 18:33] feinstein commented on #2093
@punker76 I will let you know as soon as I get to the office.

[2015-09-10 19:01] feinstein commented on #2093
@punker76 I have good and bad news....

I used your code, and changed it to `Left`. It works, but on the first interaction with the new Window I have the validation adorner get's shifted to the left. After I click or change the `TextBox` I am in or any other thing I do, it goes to the correct position.

Here's an image of what happens, I tested it with `Right` and `Left`, and it's a before and aft

[2015-09-10 19:05] punker76 commented on #2093
@feinstein it would be really nice if this could be separated in a single short app to demonstrate/reproduce this (for debugging...).

[2015-09-10 19:08] feinstein commented on #2093
@punker76 ok, let me see if I can make one for you quickly.

[2015-09-10 20:12] feinstein commented on #2093
@punker76 it appears to be an issue with a `Window` with no width and heigh and this properties:

	GlowBrush="{DynamicResource AccentColorBrush}"
	NonActiveGlowBrush="DarkGray"
	SizeToContent="WidthAndHeight"
	ResizeMode="NoResize"
	WindowStartupLocation="CenterOwner"

How do you prefer for me to send you the demo app's files?

[2015-09-10 20:16] punker76 commented on #2093
@feinstein just come to gitter and send me a zip via private chat

[2015-09-11 02:15] tgjones commented on #2118
@punker76 Okay, thanks. I'm guessing there were good technical reasons for the change (in 1.0.0 it used the standard Windows glow / shadow, right?) Looking through the issues list here, I notice a number related to this area, but I couldn't find one detailing why the change was made.

[2015-09-11 06:03] wwarby commented on #2075
Apologies for the delayed response - just to confirm that yes, this does work in the latest alpha, thanks!

[2015-09-11 11:17] MasoudRahmani opened #2123 "Maximize MetroWindow crash"
Hello.

When i set `FlowDirection = "RightToLeft"` and try to *maximize window* it breaks apart

[code]

![untitled](https://cloud.githubusercontent.com/assets/5321268/9813542/9c687d7a-589b-11e5-8f1e-e027abe65edb.jpg)

![untitled1](https://cloud.githubusercontent.com/assets/5321268/9813550/bc9a8692-589b-11e5-80fc-2999b1a145a7.jpg)

**Spec**
* .Net 4.0 Full
* Mahapps.Metro 1.1.2.0

Thanks for Great

[2015-09-11 11:26] punker76 commented on #2123
@MasoudRahmani this should already be fixed in the latest alpha (also available on nuget)

[2015-09-11 13:00] MasoudRahmani commented on #2123
oh Thanks.
it was bugging me for several days ,i couldn't find a search result .
Great work .

just a question , is the alpha 1.1.3-ALPHA170 good enough to use on a enterprise application ?
or should i use the one before and use a workaround for the problem ?

[2015-09-11 15:26] jdogg172 opened #2124 "WindowCommand buttons"
Is it possible to remove the | to the right of all the buttons in the title bar? I am trying too animate one of them and the | is animating with the button image.

[2015-09-11 21:23] #1818 closed

[2015-09-11 21:23] punker76 commented on #1818
fixed with ada9f1bd6d38e16f1ab7d05bb530686e3ac5a255

[2015-09-11 21:50] punker76 commented on #1683
@ankushrayabhari the content of the `NumericUpDown` is already changable by `TextAlignment` but now also by `HorizontalContentAlignment`. Fixed also Horizontal-/VerticalContenAlignment.
-> d68ca7e299332a19a12303beb7a0ad9c73d7cfa5

[2015-09-11 21:50] #1683 closed

[2015-09-11 21:53] punker76 commented on #2124
@jdogg172 set `ShowSeparators` to false at `WindowCommands` (latest alpha version)

[2015-09-11 21:53] #2124 closed

[2015-09-11 21:55] punker76 commented on #2123
@MasoudRahmani the latest alpha should be usable as is....

[2015-09-11 21:55] #2123 closed

[2015-09-11 22:15] #2113 closed

[2015-09-11 23:50] D4n7e commented on #1365
Grettings.

I use this aproach to fill a ComboBox with the accents list:

[code]

It's possible to add the color preview to the list?

And i use this code for changing the accent and theme color but when its changing  only change in the Windows but not in the Flyout or it's inner controls:

[code]

![style issue](https://cloud.githubusercontent.com/assets/14242700/9828618/92f02cc4-58b5-11e5-99ca-5

[2015-09-12 04:47] MasoudRahmani commented on #2123
thanks

[2015-09-12 08:54] moser96 commented on #2084
I'm also faced the same issue. As @rojasc said it only doesn't happen on Release builds.
I'm using Windows 10 Home.

[2015-09-12 13:00] ErdnussFlipS opened #2125 "release demo application with every new build"
use appveyor for auto deployment to github

[2015-09-12 13:53] iscum commented on #1026
Why color dont update after (ThemeManager.ChangeAppStyle(Application.Current....) in controls:flyout...(Background="{DynamicResource AccentColorBrush}")

[2015-09-12 22:59] yamadaInDevR opened #2126 "FlipView.HideControlButtons() does not disable arrow keys."
Calling HideControlButtons() removes the arrow button from the view, but pressing the right and left arrow keys on the keyboard still causes the view to move to the previous/next item.

The underlying problem that I'm trying to resolve is that I have a TextBox within the FlipView. When I'm editing in the text box, the arrow keys are taken by the FlipView and move to the next item, rather than movi

[2015-09-14 09:20] p76984275 opened #2127 "Disabled style (IsEnabled=False) for SplitButton"
Hi,
I'm wondering if there is any **default disabled style for SplitButton**?

Currently there is no default style when **IsEnabled=False** for SplitButton:
https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/SplitButton.xaml

I just simply lower opacity like this right now:
[code]
It looks acceptable for dark theme.

But is there any chance that **SplitButton & DropDownButto

[2015-09-15 10:44] gigios opened #2128 "[Suggestion] Add the possibility to set an empty header in the GroupBox"
I know that it is very easy to use a Border with the AccentColor to simulate my suggestion but if in future the GroupBox style change I need to replicate these changes also in my border style (ok, it is a small problem :)).
My sugestion is to add, in the trigger section of the style, the following lines, in this way the 'Header' border where normally there is the 'header' content, could be 'collap

[2015-09-15 13:21] Evangelink opened #2129 "TabItem header size and default style for TextBlock"
Hi all,

I am having a weird behavior with the ControlsHelper.HeaderFontSize attached property and a default style and I was wondering if one of you would have any idea on how to fix it.

I have a WPF application with a default style for the textblock (mainly to set the size) that is merged into the app.xaml. On my window I have a TabControl (same problem with MetroTabControl and MetroAnimatedTabC

[2015-09-15 13:56] ueoueoueo opened #2130 "Child Window Minimize Event Minimizes Owner Window Two"
* With normal WPF windows,
Main Window creates a new Window and shows it with ShowDialog(). When the dialog window is minimized, Main Window stays in Normal state.

* With Metro Window,
Main MetroWindow creates a new MetroWindow and shows it with ShowDialog(). When the dialog window is minimized, Main MetroWindow is minimized too.

[2015-09-15 13:59] punker76 commented on #2130
@ueoueoueo Which MahApps version? Have you tried the latest alpha?

[2015-09-15 15:02] ueoueoueo commented on #2130
Hi, I've used the version 1.1.3.174.

[2015-09-15 20:34] punker76 commented on #2130
@ueoueoueo here is my example with this notice `ShowDialog(); // Minimizing a modal window will also minimize its parent.`

[code]

[2015-09-15 20:34] punker76 commented on #2130
@ueoueoueo so i doesn't see a bug with MahApps

[2015-09-16 05:41] aryaei opened #2132 "Unable to cast object of type 'Microsoft.VisualStudio.DesignTools.Markup.DocumentModel.DocumentCompositeNode' to type 'System.Windows.Style'."
i am using latest mahapps.metro in my project and when i add a list box to my window it throws this exception in my designer. when i run project it works just fine but designer doesn't work anymore.

i think it's a problem with mahapps metro styles dictionery which causes this.also i have put resource dictionery in app.xaml as mentioned in tutorial.

[2015-09-16 08:19] punker76 commented on #2132
@aryaei i don't think this is MahApps related problem. https://connect.microsoft.com/VisualStudio/feedback/details/772730/xaml-designer-broken-when-adding-resource-dictionaries-to-data-or-control-templates It seems VS has some problem with resource dictionaries.

[2015-09-16 08:24] punker76 commented on #2129
@Evangelink there are also something other issues with global TextBlock styles, so it's not recommend to have a global TextBlock style.

[code]

[2015-09-16 11:28] ueoueoueo commented on #2130
Oh, I made the same test but I can see now that I've missed something. Sorry for that and thanks for your support.

[2015-09-16 11:28] #2130 closed

[2015-09-16 12:42] JacBal opened #2133 "Not an Issue, just a feed back!"
All lot of great work have been done since version 1.1.2.
One of my desktop app, originally built with version 1.1.3 ALPHA 143, is used by 3 persons on different OS (W10, W8.1 .net 4.6, W7 .net 4.6).
Build with VS 2015 and targeting .Net 4.6, this touch enabled app intensively make use of dynamic Flyouts, custom Dialogs, NumericUpDown ..., plus EF6, System.Data.Sqlite and my own MVVM layer.
I keep

[2015-09-16 12:43] aryaei commented on #2132
The topic u mentioned is from 2012 and i think since then they should have fixed it.it's a crippling bug and makes it impossible to develop app.there should be a workaround for it.

[2015-09-16 12:50] punker76 commented on #2132
...I won't fix Visual Studio bugs...

[2015-09-16 12:51] thoemmi commented on #2133
Thanks @JacBal, your feedback is very much appreciated :blush:

[2015-09-16 12:54] thoemmi commented on #2132
Not to mention that the reported bug in Connect has the status "Closed, won't fix"...

[2015-09-16 13:05] punker76 commented on #2133
Thanks @JacBal !

\cc @Amrykid @shiftkey @flagbug

![leo-toast](https://cloud.githubusercontent.com/assets/658431/9905259/40c3418e-5c84-11e5-8cc2-f672b0932498.gif)

![gazelle-popcorn](https://cloud.githubusercontent.com/assets/658431/9905264/454c8c74-5c84-11e5-8107-40291417e729.gif)

[2015-09-16 13:32] JacBal commented on #2133
I love the Gerenuk :).
Also love the Internet that allowed me to find out that it was not a 'hear-tattooed hornless deer' but the tallest of the antelope also know as giraffe-necked antelope : https://en.wikipedia.org/wiki/Gerenuk
After more than 20 years of using it, the Internet keep blowing my mind !

[2015-09-16 18:27] void22 opened #2134 "Blurry text during transition"
Hi,

In 1.1.3-ALPHA texts are blurred during transition. This issue exist in lates 1.1.3-ALPHA174, but it happens in the past beta versions as well.
Some sample images from the demo application:
![blurrytext001](https://cloud.githubusercontent.com/assets/2505467/9914014/20c53d70-5cb0-11e5-885b-f324637d9bd0.gif)

![blurrytext002](https://cloud.githubusercontent.com/assets/2505467/9914022/273983f0-5

[2015-09-16 18:53] thoemmi commented on #2134
I guess the blurriness during animation is caused by `TextOptions.TextFormattingMode="Display"`, but that was introduced almost 2 years ago (see dd57d33), For more information about `TextOptions.TextFormattingMode` see [this SO thread](http://stackoverflow.com/questions/190344/wpf-blurry-fonts-issue-solutions).

[2015-09-16 19:33] void22 commented on #2134
Changing to `TextOptions.TextFormattingMode="Ideal"` was my first idea, but texts remain blurry. I suspect RenderTransform causing this.

[2015-09-17 09:46] Evangelink commented on #2129
@punker76 Thank you for your feedback, I should have paid attention to that comment...
Is there a problem merging for Labels and TextBox?

I had a look to the other related issues and haven't found any recommendation about how to change the default font family and font size? Do you merge the style in every views? Do you define font name and font size with the same name as mahApps ones so the Dynam

[2015-09-17 10:26] thoemmi commented on #2129
If you want to have the same font size for all controls and you're using MahApps.Metro, you're able to override them. See [**Fonts.xaml**](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Styles/Fonts.xaml) for reference.

[2015-09-17 10:44] #2129 closed

[2015-09-17 10:57] aryaei commented on #2132
changed target framework from 4.5.2 to 4.5 and reinstalled mahapps metro from nuget and it's solved...thanks anyay

[2015-09-17 10:57] #2132 closed

[2015-09-17 17:32] itechy21 opened #2135 "Cannot await in the body of a catch caluse"
So there is no way the default `await this.ShowMessageAsync("Error!", "Message" + ex.Message);` code can be used in a catch clause. Is there a way around this?

[2015-09-17 19:25] bigworld12 commented on #2135
Try using dispatcher.invoke and put the code inside it

[2015-09-18 13:09] GAMP opened #2136 "DataGridNumericUpDownColumn null value"
DataGridNumericUpDownColumn seem not to support null values.
Due to that its also impossible to have TextBoxHelper.Watermark set if value equals to null.

[2015-09-20 17:49] jyrka98 commented on #2135
It's possible with C# 6.
If you can't use it then you can try do something like this: http://stackoverflow.com/a/8869589/3515415

[2015-09-21 06:51] zazkapulsk opened #2137 "Right-to-Left Dialogs - Poisition of controls and text flow direction"
Hi

Is there a way to set all the suit of MahApps dialogs to RTL?
Thanks

[2015-09-21 12:54] punker76 commented on #2137
@zazkapulsk set window property `FlowDirection="RightToLeft"`

[2015-09-21 12:54] #2137 closed

[2015-09-21 12:55] #2135 closed

[2015-09-21 13:11] zazkapulsk commented on #2137
Hi @punker76
I am assuming you are referring to the window in the call "this". I don't want to set the entire windows to RTL, since MahApps windows acts weird in RTL.
Is there a way to just set the dialogue to RTL?
Thanks

[2015-09-21 13:14] punker76 commented on #2137
@zazkapulsk "...MahApps windows acts weird in RTL." this is fixed in latest alpha version. to set dialog only you must create your own dialog style and override the default one.

[2015-09-21 13:15] zazkapulsk commented on #2137
@punker76  - Thanks. Got it.
I'd appreciate a link to the said alpha version. I am downloading and installing MahApps in offline via NuGet.

[2015-09-21 13:21] punker76 commented on #2137
@zazkapulsk in pm console `Install-Package MahApps.Metro -Pre` from [nuget](https://www.nuget.org/packages/MahApps.Metro/1.1.3-ALPHA174)

[2015-09-21 13:21] zazkapulsk commented on #2137
Thanks!

[2015-09-21 13:53] llinyu opened #2138 "DynamicResource error occurs on multithread UI"
I create a SplashWindow on seperate thread, and create a MainWindow on another thread.

SplashWindow has a ProgressBar and MainWindow has a MetroButton style Button,
error occurs on startup.

* If only MainWindow, no error.
* If remove ProgressBar or set its style to null in SplashWindow.xaml file, no error.
* If TextBoxBorderBrush to static resource in Colors.xaml file, no error.
`
    <SolidColo

[2015-09-22 09:11] punker76 commented on #2128
@gigios I think using a `Border` is simple enought, why do you need a special thing with `GroupBox`?

[2015-09-22 09:11] #2128 closed

[2015-09-22 09:18] gigios commented on #2128
Yes, it's true, with the border is more easy but if I change the style of the border I need to rewrite also the style of the border used as a groupbox to have the same style. This was the reason :)

[2015-09-22 14:03] itechy21 commented on #2135
Thanks for the link with a code example I'll report back later...

[2015-09-22 15:28] xlyashuk opened #2140 "Change link colour of button in Left/Right WindowCommands"
Hi,

I want to change link button color in WindowCommands, but I don't want to disable the title bar (as suggested in docs).
My title bar background color is white and link color is also white, so it's not seen.
Is there any way to change the color, maybe even in library sources?

From documentation:
The foreground (link) colour of (Left-/Right-) WindowCommands will always be white, unless the tit

[2015-09-22 22:54] eliezeralmeida opened #2141 "Marketing"
I can market a software that uses the Ms-PL license. But specifically you use this project?

Thanks in advance

[2015-09-25 06:28] punker76 commented on #1311
it's possible to customize the glow brush (and border) and drop shadow (since we use the glow shadow for it), all testable in the latest alpha.

[2015-09-25 06:28] #1311 closed

[2015-09-25 06:31] #2118 closed

[2015-09-25 07:33] #2133 closed

[2015-09-26 00:48] tkzaum10 commented on #2140
Hi xlyashuk, actually you can setup your windowCommands the way you like. Punker releases a prism/mahapps application that you can rely to get your problems solved.

Check this,
https://github.com/steve600/PrismMahAppsSample

tkzaum10

[2015-09-26 13:00] quark-zju commented on #2033
@SkyZH Do you know more details about Windows 10 and fallback fonts? I see Chinese commas (`，`) display incorrectly after upgrading to Windows 10:

![comma](https://cloud.githubusercontent.com/assets/445459/10117659/20923eaa-6491-11e5-91de-870aad9ce556.png)

[2015-09-26 13:21] SkyZH commented on #2033
Probably you need to specify the font as "Microsoft Yahei". Maybe this font is Meriyo, the default font of Japanese.

[2015-09-26 13:37] quark-zju commented on #2033
It looks like "Microsoft JhengHei", which is the default UI font for traditional Chinese, or "Arial Unicode MS". These fonts should support Chinese comma anyway. The project (https://github.com/Epix37/Hearthstone-Deck-Tracker/) has more English users therefore it's probably not a good idea to hardcode a Chinese font.

I'd like to find a way that only modifies system settings (the registry) to let

[2015-09-26 13:42] SkyZH commented on #2033
Sometime the font callback defined in Font Link doesn't make sense. Also you may restart your computer to see if Font Link is actually modified successfully.

[2015-09-26 13:45] SkyZH commented on #2033
The best way is to use tools such as MacType to change the default behavior of rendering font. With MacType, you can easily alias Segoe UI as Microsoft Yahei.
Some Fonts you may need to change:
Microsoft JhengHei
Arial
Segoe UI
Meiryo

[2015-09-26 14:00] quark-zju commented on #2033
I just found it's a Windows issue not related to MahApps.Metro. Visual Studio appearly has the same issue if Windows display language is English.

![vscomma](https://cloud.githubusercontent.com/assets/445459/10117876/336b9b9a-6499-11e5-9165-3405297facb7.png)

I will try to find a decent solution elsewhere. MacType may destabilize the system. It's a risk I'd like to avoid.

[2015-09-26 15:18] quark-zju commented on #2033
It seems replacing all "Segoe UI" to "Microsoft YaHei UI" in  [HKEY_CURRENT_USER\Control Panel\Desktop\WindowMetrics] solves my problem.

[2015-09-28 08:16] #2050 closed

[2015-09-28 13:03] pikaupet opened #2145 "DialogCoordinator doesn't pass DataContext"
Hey guys,

ran into this problem with DialogCoordinator. When I try to show a dialog from my PatientVM view-model the provided DataContext is not available for the dialog's content
[code]
Using the code above, AddWeight doesn't have the passed PatientVM as DataContext, rather just the MainWindow's DataContext

[code]
Assigning DataContext manually works as expected. Is there an issue with DialogCo

[2015-09-28 13:20] punker76 commented on #2145
@pikaupet what is AddWeight in
[code]
i think the DataContext in AddWeight has nothing to do with the DataContext of the Dialog itself
[code]

[2015-09-28 13:54] pikaupet commented on #2145
Shouldn't the user control (AddWeight) inherit dialog's context? As it's dialog's content?

[2015-09-29 17:57] venomAA opened #2147 "Message Dialog not working correctly under SourceUpdated command when UpdateSourceTrigger is set to Lostfocus"
I'm showing a message dialog from metro showing when the bind source of a textbox inside a grid is updated. The updatesourcetrigger is set to on LostFocus since i only want to evaluate the value after the user has captured the full value in the textbox.

The problem is that once the message dialog is shown it looses its modal functionality. The grey background is lost and the user can use the cont

[2015-09-29 18:48] widgetqueen opened #2148 "MetroProgressBar orientation does not work"
Good afternoon!

The Orientation field on the MetroProgressBar control does not seem to work - I tried the workaround suggested here: https://github.com/MahApps/MahApps.Metro/issues/1465 but it does not work for my purposes. Rotating the progress bar creates issues within my grid/viewbox structure that I don't have when simply using a vertically oriented progress bar.

[2015-09-30 15:20] fredericoregateiro opened #2149 "NumericUpDown Culture problem"
Hello,

I'm using the NumericUpDown control in a app with the culture pt-PT, in this culture the decimal point is ',' and using a numeric key pad the decimal key is ignored.

When the user press the decimal key, even when the decimal point is not the dot, the text entered should be the given culture decimal separator, like System.Globalization.CultureInfo.CurrentCulture.NumberFormat.NumberDecimalS

[2015-10-01 08:15] gigios commented on #1964
I have the same exception (happen randomly).
In my case I have tried to use the reflection to check if the window is disposed in this way and seems working in a correct way.

        private bool IsDisposed
        {
            get
            {
                if (this.closing)
                    return true;

                var propertyInfo = typeof(Window).GetProperty("IsDisposed", System.Re

[2015-10-01 19:58] punker76 commented on #2084
@rojasc can you test your app with the latest alpha (>=181)? thx for the effort!

[2015-10-01 20:50] punker76 commented on #2042
@planetarian i fixed this issue in 3c90b1ebd1c9c4ebdeeb7d7993a61cb66ca88b78 (available via nuget pre) for the `Glow` behavior. for now it's not possible for the `Border` only behavior. if this ok for you so let me know it.

[2015-10-02 21:33] punker76 commented on #2064
fixed by e1db78e6ee7bc599f73ad3a3aa7cb3ba6bdef2b4

[2015-10-02 21:33] #2064 closed

[2015-10-02 21:59] #1176 closed

[2015-10-02 22:00] #1188 closed

[2015-10-02 22:04] punker76 commented on #1272
i close this, cause #2109 is the same and will be fixed soon...

[2015-10-02 22:04] #1272 closed

[2015-10-02 22:35] #1431 closed

[2015-10-02 22:35] #1663 closed

[2015-10-02 22:38] #1741 closed

[2015-10-02 22:41] #1778 closed

[2015-10-02 22:42] #1779 closed

[2015-10-02 22:43] #1813 closed

[2015-10-02 22:49] #1909 closed

[2015-10-02 22:50] #2037 closed

[2015-10-02 22:50] #2042 closed

[2015-10-02 22:51] punker76 commented on #2044
-> http://mahapps.com

[2015-10-02 22:51] #2044 closed

[2015-10-02 22:52] #2046 closed

[2015-10-02 22:55] #2057 closed

[2015-10-02 22:56] #2101 closed

[2015-10-02 22:56] #2115 closed

[2015-10-02 22:57] #2141 closed

[2015-10-03 00:25] amkuchta commented on #2037
@punker76 I never got a response to this?  Should I assume that there is no interest in the scan results? I would offer to fork and provide some cleanup myself, but I absolutely zero time to do so.

[2015-10-03 07:45] bigworld12 commented on #2037
send it to me and i will create PRs with performance improvements

[2015-10-03 09:36] punker76 commented on #2037
@amkuchta I closed this cause I don't have this HP Fortify tool to review the analysis, which propably show us some code cleanup...

[2015-10-03 10:25] punker76 commented on #1544
@thalelinh is still present with the latest alpha?

[2015-10-03 11:18] punker76 commented on #1701
fixed with 10b684c2680999eb1beae5a590e3b20f9f9af45d
you can now set `Controls:ControlsHelper.ContentCharacterCasing="Upper"` on yout `DropDownButton`s.

[2015-10-03 11:18] #1701 closed

[2015-10-03 11:23] punker76 commented on #1846
@Dimigergo you can also use a custom dialog and style it like the internal message. hope that helps you.

[2015-10-03 11:23] #1846 closed

[2015-10-03 12:57] amkuchta commented on #2037
@bigworld12 will do, can you send an email to amkuchta@gmail.com so I know where to send it?  @punker76 the results are in a PDF format, so anyone can use them (who can view a PDF, anyway)

[2015-10-05 10:37] punker76 commented on #2099
ok, this seems to be another visual studio designer bug.

[2015-10-05 10:37] #2099 closed

[2015-10-05 12:33] crumbl3d commented on #2086
Fixed with the merged pull request #2152.

[2015-10-05 12:33] #2086 closed

[2015-10-05 13:37] #1278 closed

[2015-10-05 13:40] punker76 commented on #1278
@andySF @oloopy
To override default style for the `MetroTabItem` control it's necessary to inherit from `{StaticResource {x:Type controls:MetroTabItem}}`

[code]

[2015-10-05 13:47] punker76 commented on #1767
@di48l069 No plan for such feature. Maybe a way for you, create a custom borderless window that looks like a flyout and set it's location at bottom or where do you want.

[2015-10-05 13:47] #1767 closed

[2015-10-05 13:50] #1856 closed

[2015-10-05 13:57] punker76 commented on #1984
@amkuchta You can override the `MetroFlatButton` style with the focused trigger and set the Background to what you want.

[2015-10-05 13:57] #1984 closed

[2015-10-05 14:15] punker76 commented on #2039
@spasas I would like to close this issue, cause first, the menu point was created to demonstrate the possibility of ignoring the taskbar (not really at runtime, only used for the demo), and second, maybe a Windows function is causing this.

[2015-10-05 14:15] #2039 closed

[2015-10-05 14:19] punker76 commented on #2056
@thoemmi wdyt?

[2015-10-05 14:20] spasas commented on #2039
That's fine with me.

[2015-10-05 14:20] #2071 closed

[2015-10-05 14:21] punker76 commented on #2039
@spasas :+1:

[2015-10-05 14:27] punker76 commented on #2140
@tkzaum10 the samples are from @steve600
@xlyashuk the `WindowCommands` now easier to change, take a look in to https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/WindowCommands.xaml#L178-L183 (documentation will be changed soon)

[2015-10-05 14:27] #2140 closed

[2015-10-05 14:28] punker76 commented on #2134
@void22 This is not MahApps related stuff, it's WPF.... :-(

[2015-10-05 14:28] #2134 closed

[2015-10-05 14:32] QuantumDeveloper commented on #2060
@m5112638  this is more like dropdown button and not split button behavior.

[2015-10-05 20:54] punker76 commented on #1946
@avechuche you can override the `MetroGridViewScrollViewerStyle` and set the Margin for the `GridViewHeaderRowPresenter`

[2015-10-05 20:54] #1946 closed

[2015-10-06 11:30] zazkapulsk opened #2153 "Manually invoke main window blurring"
I'm calling another MahApps window from the main MahApps window using ShowModal. I'd like to simulate the blurring/fading the calling window gets when one uses the built-in dialogs, like in http://mahapps.com/controls/dialogs.html.

Thanks!

[2015-10-06 11:37] punker76 commented on #2153
@zazkapulsk you can call the overlay methods by yourself

[code]

[2015-10-06 11:41] zazkapulsk commented on #2153
Great! Thanks!
What a fast support.

[2015-10-06 11:41] #2153 closed

[2015-10-06 20:07] NeomMob opened #2154 "Metro window titlebar splitted in different parts"
Hello,

I am looking a way to get the titlebar of metrowindow splitted in different parts, aligned to the window content. Something like this

![s1](https://cloud.githubusercontent.com/assets/658431/14575072/cee1bc7a-035f-11e6-9ca0-921e7982aa8a.jpg)

(It is a mac app but the concept is there)

different panes from the title bar to the status bar. Any idea to achieve this?

[2015-10-08 06:49] jmaheadt opened #2155 "WPF Open new window/usercontrol in MainPage"

[2015-10-08 07:34] #2155 closed

[2015-10-08 20:12] virious opened #2156 "Changing theme doesn't affect FrameworkElement children"
I'm using latest version of MahApps (which is great!). Let's say I have this TestElement class.
[code]
This is my **App.xaml**:
[code]
This is my **MainWindow.xaml**:
[code]

And this is the code I use to switch theme:
[code]
After toggling theme everything changes excpept my TestElement control. It stays with startup theme which was specified in App.xaml. What am I missing? What should I add so m

[2015-10-09 09:16] TheMask88 commented on #246
I am experience the same issue in designer in  year  of 2015.

[2015-10-09 11:16] fredericoregateiro commented on #2156
In xaml the controls should have the properties binding to the dynamic resouces provided by mahapps, like:
[code]

[2015-10-09 12:29] virious commented on #2156
That doesn't make sense because if I put that controls in xaml, the style is propagated through all of the controls without adding additional DynamicResource bindings. The problem must be somewhere else.

[2015-10-09 15:30] fredericoregateiro commented on #2156
Yes, but if the control TestElement is added by code, you could set the style also Programmatically

[2015-10-09 19:24] virious commented on #2156
So how comes that if I change `TestElement` class to this:
[code]
it's working fine without setting style programmatically?

[2015-10-09 20:49] fredericoregateiro commented on #2156
I don't know if FrameworkElement is the base class that you should use, you can see on the msdn docs that the support for styles is more limited, and the use of Control or ContentControl is preferred.

https://msdn.microsoft.com/en-us/library/system.windows.frameworkelement%28v=vs.110%29.aspx

[2015-10-11 19:51] yoyokits opened #2157 "GlowBrush Effect Layout Bug"
<img width="120" alt="mahappsbug" src="https://cloud.githubusercontent.com/assets/15078875/10418632/06bd349a-7061-11e5-9b99-335cb1502f07.png">

<controls:MetroWindow
    x:Class="MainWindow"
   ...
    BorderBrush="{DynamicResource AccentColorBrush}"
    BorderThickness="1"
    GlowBrush="{DynamicResource AccentColorBrush}"
 ...

I use Windows 10, .Net 4.5, MahApps.Metro 1.1.2.0, and Wpf Toolkit w

[2015-10-11 21:48] punker76 commented on #2157
@yoyokits you should test it with the latest alpha, cause this should be fixed.

[2015-10-12 20:55] kai33 opened #2158 "ShowMetroDialogAsync for CustomDialog fails to show and throws null ref exception"
using MahApps.Metro.1.1.3-ALPHA196

stacktrace:
   at MahApps.Metro.Controls.Dialogs.BaseMetroDialog.HandleTheme() in c:\TeamCity\buildAgent\work\b90af7509433a217\MahApps.Metro\Controls\Dialogs\BaseMetroDialog.cs:line 138
   at MahApps.Metro.Controls.Dialogs.BaseMetroDialog.<Initialize>b__4(Object sender, RoutedEventArgs args) in c:\TeamCity\buildAgent\work\b90af7509433a217\MahApps.Metro\Controls\

[2015-10-13 01:24] biless opened #2159 "Can't Use ContextBoundObject With Binding In MahApps"

[2015-10-13 07:50] punker76 commented on #2149
@fredericoregateiro it seems you must set the Culture explicit https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/NumericUpDown.cs#L294
cause NumericUpDown uses `Language.GetSpecificCulture();` by default https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/NumericUpDown.cs#L442
NumericUpDown check and use `NumberDecimalSeparator` already
https://git

[2015-10-13 07:52] punker76 commented on #2159
@biless you should giv us more information about this issue!

[2015-10-13 07:52] #2159 closed

[2015-10-13 07:57] punker76 commented on #2158
@kai33 i don't really know how your add in could work....

but the DialogManager provides this method which only works with an 'owner' `Window`

[code]

https://github.com/MahApps/MahApps.Metro/blob/39d9a9a19a53ce6014ef2bbbde1ab916bfc75818/MahApps.Metro/Controls/Dialogs/DialogManager.cs#L317

https://github.com/MahApps/MahApps.Metro/blob/39d9a9a19a53ce6014ef2bbbde1ab916bfc75818/MahApps.Metro/Contr

[2015-10-13 07:58] #2157 closed

[2015-10-13 08:00] punker76 commented on #2156
@virious can i close this? cause i think it's not mahapps related stuff.

[2015-10-13 08:00] #2060 closed

[2015-10-13 08:21] biless commented on #2159
@punker76 If I define the NotifyPropertyChanged inheritance ContextBoundObject and bind to the interface, it will be a mistake.
Exception information is as follows:
未处理System.Windows.Markup.XamlParseException
  HResult=-2146233087
  LineNumber=5
  LinePosition=23
  Message=“对类型“selfServiceClient.View.MainWindow”的构造函数执行符合指定的绑定约束的调用时引发了异常。”，行号为“5”，行位置为“23”。
  Source=PresentationFramework
  StackTrac

[2015-10-13 08:25] punker76 commented on #2159
@biless it would be nice if you can create a short app where this exception can be reproduced.

[2015-10-13 08:47] kai33 commented on #2158
hi I just call the method like this:

(in a MetroWindow, which is created and managed by the add-in)

this.ShowMetroDialogAsync(new CustomDIalog{ TItle = "Hello World" });

then it'll throw the null ref exception, and the dialog fails to show up.
I've to set dialog's OwningWindow to this MetroWindow in order to make it work

[2015-10-13 09:34] virious commented on #2156
@fredericoregateiro thank you for clarification now I understand this issue :).
@punker76 yes, we can close it.

[2015-10-13 09:34] punker76 commented on #2156
@virious :+1:

[2015-10-13 09:34] #2156 closed

[2015-10-13 09:38] amellini commented on #1813
Should be dead, there's a lot of pc running Xp, but I understand you, keep going i love your code (but I've to use the older version of the library).

[2015-10-13 14:28] TravyDale opened #2160 "Flyouts sometimes will not close"
I'm sorry in advance. I know it is never a fun issue when it happens randomly. I cannot narrow down what is causing this to happen. I will try my best to explain what's happening.

I have a flyout that has its IsOpen property bound to a boolean property in my ViewModel. My flyout let's the user enter in information to search my database. Once the user hits the button to search the database, I disa

[2015-10-13 14:41] punker76 commented on #2160
@TravyDale Which version are you using?

[2015-10-13 14:58] TravyDale commented on #2160
1.1.2.0

[2015-10-13 16:21] TravyDale commented on #2160
I will add this. I hope it helps.

I noticed that the process of the flyout closing is to remove the gray background from the window the flyout is covering. Then slide out of view. When my flyout freaks out, imagine that it removes the gray background but it doesn't slide out of view. It will look exactly like that. I am just unable to close the flyout in this situation.

[2015-10-13 17:16] fredericoregateiro commented on #2149
@punker76 i have the culture set on the control also
Culture="pt-PT"
With this culture, the decimal point on my keypad doesn't work, only the comma on the qwerty keyboard sets the decimal point correctly. The decimal key works only with the culture set like "en-US" or similar.

Using the pt-PT culture, the users expect that the decimal point on the keypads set the comma ',' and start to fill the d

[2015-10-14 07:08] clodewyks opened #2161 "Window Commands Separators"
I am receiving an issue after updating to ALPHA192 where a  lot of un-necessary separators are being added to my RightWindowCommands, where it seems (and I might be wrong) that a separator is being added for every UIElement, even it is children.

See how my commands used to look:

![image](https://cloud.githubusercontent.com/assets/5906783/10476988/d4acf9c4-7252-11e5-900d-0a68c4f14ecd.png)

And af

[2015-10-14 13:47] punker76 commented on #2161
@crumbl3d this issue is a result of https://github.com/MahApps/MahApps.Metro/pull/2152
it's a breaking change... now all added stuff in WindowCommands are transformed to WindowCommandsItem... @crumbl3d can you look at this?

[2015-10-14 14:45] ahmedflix25 opened #2162 "FlowDirection and WindowState"
if i make the form flow direction from right to left with windows state set to normal every thing work as expected but if i maximize it or set the windows state to maximized the form still there but every thing disapper even the form it self

[2015-10-14 14:47] punker76 commented on #2162
@ahmedflix25 this is already fixed, you can use the alpha version if you need this now.

[2015-10-14 14:47] #2162 closed

[2015-10-14 21:48] crumbl3d commented on #2161
- Okay, so I see you use `Panels` here? There is no reason to use them since the `WindowCommands` control is an `ItemsControl` - a `Panel`. These panels cause troubles.
- The way separators worked previously is that a style was applied to every child that is a `Button` or `ToggleButton`. In the style a `ControlTemplate` was used to add a separator.
- Now I changed this so that every *item* is **wr

[2015-10-15 07:09] clodewyks commented on #2161
Morning @crumbl3d ,

Please see updated code & screenshot.

Not sure if you are referring to the `StackPanels`, I have removed all but one which is required as I do not want the `MetroProgressBar` and `TextBlock` separated. The rest are all `Buttons` and one `Popup`. Am I misunderstanding you?

[2015-10-15 12:34] crumbl3d commented on #2161
Great work @clodewyks! As I've said you just had to remove the unnecessary `StackPanels`. The basic principle is:
<p align="center"><b>1 Child = 1 Item (1 Separator)</b></p>
Only the _**main children**_ have their **separators**. **Items** can be built **however you want** but if you want them **separated** then keep them **out of** `Panels`.
I see you removed the **triggers** and the *extra separ

[2015-10-15 13:00] clodewyks commented on #2161
@crumbl3d it would be brilliant if you could ignore the ones where the items are invisible as that seems to be the only issue I still have. Great work on Mahapps by the way. Thank you and I will be looking forward to the next update.

[2015-10-15 13:00] #2161 closed

[2015-10-15 21:29] usagirei opened #2163 "DWM Colored Theme/Accent"
Would be nice to have an Accent/Theme that Matches the current Aero Color on Windows 7/8/10

Working Implementation: https://gist.github.com/usagirei/a2cfe768e4cf5fb34694

The implementation above will also change colors when using Automatic Accents and Rotating wallpapers on windows 10.

I may have missed something, since Scrollbars and DataGrid are still blue even with the Accent Applied, Probab

[2015-10-16 07:28] LeeMinWoo81 opened #2164 "Full screen or normal screen bug when screen is switched from the broken window 10."
Full screen or normal screen bug when screen is switched from the broken window 10.
Is it a bug in Windows 10? Or is it a bug in the MahApps?

[2015-10-16 07:37] punker76 commented on #2164
@LeeMinWoo81 what do you mean with "Full screen or normal screen bug" ? can you tell us your MahApps version?

[2015-10-16 07:46] LeeMinWoo81 commented on #2164
![screencrash](https://cloud.githubusercontent.com/assets/10267498/10536361/5bf01136-7425-11e5-90a1-caff0710cae7.png)

[2015-10-16 07:51] LeeMinWoo81 commented on #2164
@punker76  2015-10-05 latest version.

[2015-10-16 08:46] punker76 commented on #2164
@LeeMinWoo81 please re-try 1.1.3-ALPHA197, thx!

[2015-10-16 09:41] punker76 commented on #2149
@fredericoregateiro how is your os keyboard configured?

[2015-10-16 11:57] fredericoregateiro commented on #2149
Is this picture enough?

![settings](https://cloud.githubusercontent.com/assets/6304701/10540914/75173296-7404-11e5-9776-cadcf67da561.jpg)

The keypad i'm using is the numeric keypad, the most used to enter numeric values. Like this one:

![asus_n550_15](https://cloud.githubusercontent.com/assets/6304701/10540993/52188938-7405-11e5-950f-5b65a19523c3.jpg)

[2015-10-16 12:21] punker76 commented on #2149
question is, what comes in `OnPreviewTextInput` if you hit the numeric delete key?

[code]

[2015-10-16 13:55] fredericoregateiro commented on #2149
Pressing the decimal key on the keyboard:
e.Text: "."
numberFormatInfo.NumberDecimalSeparator: ","

On the OnTextBoxKeyDown event the keypad decimal key returns: e.Key: Decimal System.Windows.Input.Key
and the period key on the normal keyboard returns: e.Key: OemPeriod System.Windows.Input.Key

I've used the MahApps sample app to test this, and set the culture to portuguese:

![mahapps_test](https

[2015-10-16 13:57] punker76 commented on #2149
So how do we should solve this? Cause this is what the TextBox us give.

[2015-10-16 13:58] punker76 commented on #2149
@fredericoregateiro but maybe this one could the answer: http://stackoverflow.com/a/3879284/920384

[code]

[2015-10-16 14:07] punker76 commented on #2149
@fredericoregateiro if i do this, then it works for me ™

[code]

[2015-10-16 14:19] fredericoregateiro commented on #2149
Strange, i still get the same result, the e.Text="." and the numberFormatInfo.NumberDecimalSeparator=","

I would suggest that the "." could be treated like the decimalSeparator all the time, and so the comma or the decimal key would give the same result, start to edit the decimal part of the number.
Or some property that allow us to give the decimal key this behavior, even if the numberFormatInfo

[2015-10-16 14:23] punker76 commented on #2149
@fredericoregateiro maybe you must set the CurrentUICulture too. I think this is not MahApps related stuff here and I don't want any other hack in the control.

[2015-10-16 14:38] fredericoregateiro commented on #2149
Yes, i really don't like hacks too :smile:

Setting the CurrentUICulture don't fix this.
And given the decimal key the behavior of the decimal point, i don't think it's a hack.

Fot example, on the devexpress control
https://demos.devexpress.com/MVCxDataEditorsDemos/Editors/SpinEdit
pressing de decimal key or the comma on the keyboard, gives the same result, starts to edit the decimal digits of th

[2015-10-16 17:47] fredericoregateiro commented on #2149
Another example is the windows calculator, the decimal key or the comma key is allways translated to the NumberDecimalSeparator, "," in my case.
One example of handling the decimal separator:
https://www.devexpress.com/Support/Center/Question/Details/Q94237

[2015-10-16 18:43] jublin opened #2166 "Controls Do not get distinct automation ID's"
When using controls such as NumericUpDown, I am unable to get a unique automationID from the control. They all show up as this: The name is being set in the Xaml. Unfortunately I cannot really give a code snippet.
![mahappsautiomationid](https://cloud.githubusercontent.com/assets/1799126/10550290/ff9cdd08-73fa-11e5-9a29-f81ab6103251.png)

The problem is my group is trying to test a window with mul

[2015-10-17 08:47] punker76 commented on #2164
@LeeMinWoo81 any news?

[2015-10-19 05:29] LeeMinWoo81 commented on #2164
@punker76
Again this is the same .
" Window-> Toggle FullScreen (no taskbar, window style = null) from the menu and select" menu , when the window is changed to the original size , the screen will be corrupted .
However , it has been lost focus in the window, and re- acquired , the screen will be normal .

[2015-10-19 05:34] punker76 commented on #2164
@LeeMinWoo81 mh, yeah, don't know what's going wrong on your machine. it's Wirkung for me, so it's nice if any developer see this too and have a solution, sorry.

[2015-10-19 05:39] punker76 commented on #2164
@LeeMinWoo81 and by the way, this menu action was only added to show the possibility of a maximized taskbar free window...

[2015-10-19 07:51] Memphizzz opened #2168 "Button Text Capitalization"
Is there a way to make the text of buttons not all lower case? I was hoping for something like "TitleCaps" but for buttons...

[2015-10-19 07:54] punker76 commented on #2168
@Memphizzz If you use the latest alpha, there is a new attached property `ContentCharacterCasing` in `ControlsHelper` to handle this https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/Helper/ControlsHelper.cs#L39

[2015-10-19 08:14] LeeMinWoo81 commented on #2164
@punker76
I tried to change the order in which to apply the  WPF property in Windows10.
Screen cracking did not occur ... I do not know the exact cause ...

MainWindow code line is 52...

Changed code -
                   -Original
                    //metroWindow.UseNoneWindowStyle = true;
                    //metroWindow.IgnoreTaskbarOnMaximize = true;
                    //metroWindow.WindowS

[2015-10-19 08:23] Memphizzz commented on #2168
@punker76 Thanks for the quick reply. I'm currently using the package from NuGet. I guess Ill just wait for this to get merged into the next release :)

[2015-10-19 08:23] #2168 closed

[2015-10-19 10:08] myrnazhou opened #2169 "How to get WindowChrome"
Hi guys,
I want to manipulate some property inside WindowChrome, but whenever I tried to get the value from my Window I always got null, below is the snippet:
[code]
Is there anything wrong in my code?

[2015-10-19 10:58] Memphizzz opened #2170 "NullReferenceException if Theme set via ThemeManager"
As I want my application to be as customizable as possible I'm using the ThemeManager approach to select the theme in the App.xaml's "OnStartUp" event.
Unfortunately though I just encountered an error which looks like is related to this approach.
If I only add "Controls.xaml", "Fonts.xaml" and "Colors.xaml" to the App.xaml ResourceDictionary and try to call `this.ShowProgressAsync("Please wait..."

[2015-10-19 11:01] punker76 commented on #2170
@Memphizzz it's recommended to add  an accent and theme resource too!

[2015-10-19 11:03] Memphizzz commented on #2170
@punker76 So If I have a settings FlyOut where the user can choose any theme or accent I have to add all of them to the App.xaml for the Dialogs to work? Because of course I want to have the dialog themed like the theme that is currently selected by the user...

[2015-10-19 11:21] Memphizzz commented on #2170
I figured it out. I just need to add BaseLight and BaseDark to the App.xaml, accents are not needed.

[2015-10-19 11:21] #2170 closed

[2015-10-22 06:56] surendrakandira93 commented on #1779
Hello everyone I have one problem in win form using wpf controls
![mouse scroll issue 1](https://cloud.githubusercontent.com/assets/10044538/10658796/dbed4192-78b7-11e5-9e97-6c1c082f9d94.JPG) this is issue in wpf control

![right](https://cloud.githubusercontent.com/assets/10044538/10658803/f3d6cc42-78b7-11e5-8f91-ecd057b972db.PNG) This is right image

Please help me and give me suggestion

[2015-10-22 12:53] thoemmi opened #2173 "Background color of StatusBar"
Currently the background color of `StatusBar` is fixed (except when [it's disabled](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Styles/Controls.StatusBar.xaml#L84-L89)). However; i prefer it to match the title bar, i.e. when the window is not active, not only the title's background should change, but the status bar's too.

To achieve that, I added an additional trigger in my

[2015-10-22 12:57] punker76 commented on #2173
@thoemmi  +1 from me

[2015-10-22 13:07] thoemmi commented on #2173
Ok, I'll prepare a PR. Currently `StatusBar`'s background is set to [`AccentColorBrush`](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Styles/Controls.StatusBar.xaml#L60-L61). I would change that to `WindowTitleColorBrush` too, ok?

[2015-10-22 13:11] thoemmi commented on #2173
May it would even be better to use
`{Binding Path=WindowTitleBrush, Mode=OneWay, RelativeSource={RelativeSource FindAncestor, AncestorType={x:Type controls:MetroWindow}}}`

[2015-10-22 16:08] fredericoregateiro commented on #2149
So, i've been testing the changes that i was talking before, and the change should be done in the OnTextBoxKeyDown

[code]
@punker76 do you think this should integrate the control code?

[2015-10-23 06:55] thoemmi commented on #2173
Since #2174 was merged, I close this issue.

[2015-10-23 06:55] #2173 closed

[2015-10-23 12:41] thoemmi commented on #2169
Is your window derived from `MetroWindow`? The WindowChrome property is initialized by `BorderlessWindowBehavior`, which is set in `MetroWindow`'s style.

[2015-10-23 19:23] #1155 closed

[2015-10-23 19:31] punker76 commented on #2160
@TravyDale Can you try the alpha release (latest source)? it's also available through NuGet.

[2015-10-23 19:36] punker76 commented on #2169
@myrnazhou any news here?

[2015-10-23 19:39] punker76 commented on #2166
@jublin it seems you should give your controls a `x:Name="xyz123"` for the automatic tester...

[2015-10-23 19:45] punker76 commented on #2163
@usagirei nice idea, i will take it to the feature list...

[2015-10-23 20:29] jublin commented on #2166
@punker76 I have done that.

[code]

With Name being defined as x:Name= or Name=, I get

![image](https://cloud.githubusercontent.com/assets/1799126/10704127/7dd4952e-7989-11e5-9170-aea605d8a310.png)

The updown buttons also have no name. The overall control does not appear as a focus element.

[2015-10-23 20:54] punker76 commented on #2166
@jublin what automatic tool is this?

[2015-10-23 21:03] jublin commented on #2166
@punker76 This is the "VisualUIAVerify" tool from the windows SDK

[2015-10-23 21:10] punker76 commented on #2166
@jublin ok, thx, i will take a look after releasing v1.2.0

[2015-10-23 21:42] TravyDale commented on #2160
I will. I will report back in a week or so if things improve.

[2015-10-23 21:45] punker76 commented on #2160
@TravyDale :+1:

[2015-10-23 22:14] #1544 closed

[2015-10-23 22:15] punker76 commented on #2045
Command Strip <=> ToolBar

[2015-10-23 22:16] #2084 closed

[2015-10-23 22:19] punker76 commented on #2148
@widgetqueen what should be happen if `IsIndeterminate="True"`? should it be come from down to up o from up to down?

[2015-10-23 22:34] #2072 closed

[2015-10-23 22:39] #1982 closed

[2015-10-23 22:40] #1844 closed

[2015-10-24 00:29] neeooh opened #2177 "MetroWindow and MetroNavigationWindow don't inherit Page properties like WindowTitle, WindowHeight and WindowWidth."
Normally, Window and NavigationWindow inherit properties of Page, which allows me to dynamically set e.g. Window Title to whatever Page(or View) I am using.

I create **MetroWindow** which **contains a frame** hosting a page:

[code]

**Or MetroNavigationWindow**

[code]

Then the LoginView **Page**:

[code]

Any idea how to fix this?

[2015-10-25 11:19] #1698 closed

[2015-10-25 11:31] furqansafdar commented on #1020
Please find the solution on this link:
http://stackoverflow.com/questions/30474146/flyout-regionadapter-doesnt-use-slide-effect-for-the-first-time/33329178#33329178

[2015-10-25 14:13] laurencee opened #2179 "Selectable or copyable dialog text"
Hello,

Is there a way to allow the text in the MahApps.Metro dialog to be selectable?

For an error message I was wanting to provide some helpful references but that's not so great if the user has to type them manually to look them up.

[2015-10-26 08:11] myrnazhou commented on #2169
Thanks @thoemmi,  yes it's derived from ```MetroWindow```, I think the problem is because ```WindowChrome``` class is defined inside mahapps solution not the one from ```Windows.Shell.WindowChrome```, so I still can't get it.

[2015-10-26 08:53] punker76 commented on #2169
@myrnazhou you should use the `Microsoft.Windows.Shell.WindowChrome` namespace

[code]

[2015-10-26 10:59] myrnazhou commented on #2169
I've tried that as well, I got ```'WindowChrome' is inaccessible due to its protection level```. Then I tried to use ```Microsoft.Windows.Shell``` from the ```nuget```, but then it's different type than the one that is added from ```BorderlessWindowBehavior```, so it returns ```null```.

[2015-10-26 11:35] thoemmi commented on #2169
I can't reproduce your issue. `WindowChrome` is a public type.

I just added this working code to the c'tor of `MainWindow` in MetroDemo:
[code]
and it works:
![image](https://cloud.githubusercontent.com/assets/73690/10727933/f0b4d490-7bdd-11e5-8518-59c5266ebe95.png)

[2015-10-26 11:42] myrnazhou commented on #2169
I think that's the problem, I can get the ```object``` when using the demo but not when in my own project. I added ```MahApps``` from ```nuget```.

[2015-10-26 11:50] thoemmi commented on #2169
Maybe you're using an additional NuGet package coming with its own copy of Microsoft.Windows.Shell?

[2015-10-26 11:55] myrnazhou commented on #2169
Yes I've mentioned it in my prev comment, I'm using ```Microsoft.Windows.Shell``` from ```nuget```, since it won't compile without it. With just including MahApps, I got ```'WindowChrome' is inaccessible due to its protection level.```

[2015-10-26 12:12] thoemmi commented on #2169
Sorry, I didn't notice you rcomment. In fact, `WindowChrome` was internal, but was changed to public with commit 82aca23c.
Can you please try the latest pre-release?

[2015-10-26 12:16] myrnazhou commented on #2169
Ah ok, thanks, it works now. Never realized there was pre-release build. :)

[2015-10-26 12:16] #2169 closed

[2015-10-26 13:52] TravyDale opened #2180 "1.1.3.0 - ProgressBar ignoring 'IsIndeterminate' value"
You had me switch to the Alpha version 1.1.3.0 for testing another issue ( #2160). While testing this version, I noticed my ProgressBar ignores the IsIndeterminate value only when I use a Visibility binding. If I were to take the Visibility logic out of the XAML, it works fine. What makes this goofy is that my other window has the exact same logic (uses a different boolean to control Visibility) a

[2015-10-26 15:47] jublin commented on #2166
This also applies to the Back/down buttons on MetroWindow Flyouts. The automation ID is seen as "nav" for each one. Getting a back button by automationID in testing may not return the intended button for the flyout.

[2015-10-26 15:54] GAMP opened #2181 "DropdownButton ItemSource change"
Hi i have this xaml where DropDownButton is bound to observable collection of items

            <ma:DropDownButton ButtonStyle="{StaticResource ChromelessButtonStyle}"
                                       x:Name="_host_groups"
                                       ArrowVisibility="Collapsed"
                                       BorderThickness="0"
                                       Items

[2015-10-26 21:09] TayebJa3ba opened #2182 "MessageDialog not inheriting dynamically assigned accent"
Hi,
When I use `MetroWindow.ShowMessageAsync` with a statically loaded ressource dict (red for example) it works great and inherits the accent from parent window. When loading it programatically, e.g parsing it from settings or giving user choice to change accents, it gives this all the time (note the different accents: blue in the dialog, and green in the form)

![untitled](https://cloud.githubus

[2015-10-27 06:21] MrNorth35 opened #2183 "Textbox validator tooltip and scrollviewer"
Hi!

I have noticed that if I place a textbox in a scrollviewer and validate the textbox, causing the red tooltip/adorner to appear, and then start scrolling or move the window, the tooltip doesn't follow the textbox, but is rather stuck at where it was created.

Am I doing something wrong, or is this a bug?

/H

[2015-10-27 09:25] GAMP commented on #2181
Ok i found the problem. It seems that some of the styles was affecting the behavior. Not sure which one context menu or menu but without styles being referenced it works as it should.

[2015-10-27 09:25] #2181 closed

[2015-10-27 14:21] #2180 closed

[2015-10-27 16:13] johnsimmons commented on #1850
I apologize if this is the incorrect place to post a question, but I didn't want another duplicate of this problem (I'll remove it and ask somewhere else if needed).

I'm having this same problem with the newest version of MahApps.Metro.  The mentioned code fix is in place but my problem is identical to the original post by marcpiechura.

I added a ```UserControl (WPF)``` and added this code to my

[2015-10-28 07:23] marcpiechura commented on #1850
@johnsimmons
You need to upgrade to the latest 1.1.3 alpha, it's not included in 1.1.2.

@punker76
Maybe you could change the milestone to 1.1.3 for clarification ?

Regards

[2015-10-28 11:08] Interforce opened #2185 "SplitButton IsPressed trigger won't change Foreground"
I am trying to get the PART_Button of SplitButton to behave like a normal button would do. I created a custom ButtonDropDownStyle and added a trigger to IsPressed-property to change the Fontcolor to white as long as said button is pressed but this somehow only changes the Background

    <Trigger Property="IsPressed" Value="True">
        <Setter TargetName="Border" Property="Background" Value="{D

[2015-10-28 11:30] punker76 commented on #2185
@Interforce Which version? Please try latest alpha.

[2015-10-28 13:45] johnsimmons commented on #1850
Awesome, thanks for the response.  I'm glad it was just a misunderstanding on my part.

[2015-10-28 15:03] Interforce commented on #2185
Master from 22.10, compiled with VS2015.
Ok I tested the latest ALPHA216 directly from nuget.
Background changes fine, Foreground doesn't.

[2015-10-28 20:16] TayebJa3ba commented on #2182
I've figured it out on my own, found a workaround. I had to call ChangeAppStyle like this:
`ThemeManager.ChangeAppStyle(Application.Current.Resources, ThemeManager.GetAccent(_col), ThemeManager.GetAppTheme(color));`

It didn't work, so I had to add the accent and the theme to the app.xaml.
`
<ResourceDictionary Source="pack://application:,,,/MahApps.Metro;component/Styles/Accents/Cobalt.xaml" />
<

[2015-10-28 20:16] #2182 closed

[2015-10-28 20:19] punker76 commented on #2182
@TayebJa3ba

in the readme and the doku is described how to use the resource dictionaries, and this is a must!

[2015-10-28 22:41] widgetqueen commented on #2148
I'm not sure I understand your question. When I set IsIndeterminate="True", the progress bar disappears. Currently, when I set IsIndeterminate to false and the orientation to vertical, the progress bar does not fill in correctly according to its value. The progress bar itself appears to be vertical, but when the fill is applied, it still appears to fill in horizontally.

[2015-10-29 08:39] aryaei opened #2186 "ribbon doesn't works"
i want to work on metro style ribbon but it doesn't work i commented out the codes about running ribbon demo but it throws many exceptions

can somemone help me work it out?

[2015-10-29 08:44] punker76 commented on #2186
@aryaei the ribbon is outdated in MahApps. i suggest you to use [Fluent.Ribbon](https://github.com/fluentribbon/Fluent.Ribbon). it also supports MahApps.

[2015-10-29 08:44] #2186 closed

[2015-10-30 00:11] avechuche opened #2187 "Flyout allways on top"
Hello! I have a question, is it possible that this above other controls?

[2015-10-30 14:07] punker76 commented on #2187
@avechuche it should be already over other controls.

[2015-10-30 14:18] avechuche commented on #2187
@punker76 Yes, it is my mistake, I was wrong implementing

[2015-10-30 14:18] #2187 closed

[2015-10-30 15:34] MrMitch opened #2188 "WindowCommands.ShowSeparators=False is ignored"
When adding a set of commands to the MetroWindow, the separator are always visible even with the `ShowSeparators` attribute set to false.

I have created a basic project demonstrating this here : https://github.com/MrMitch/MahAppsSeparatorsError

Tested with version `MahApps.Metro.1.1.3-ALPHA217`

![image](https://cloud.githubusercontent.com/assets/576772/10849977/9c234116-7f23-11e5-8e3c-10ee8286a

[2015-10-30 15:43] punker76 commented on #2188
@MrMitch that's not good :-D will look into

[2015-10-30 15:45] jacbz opened #2189 "Option to make NumericUpDown empty until value entered"
By default, the NumericUpDown will always display a value. I'm mostly using the StringFormat "N3", which adds thousand separators and three decimal places. When entering a value, the default "0.000" is more a hindrance than anything; you'd have to delete the text before entering a value.

Is there a way to set an empty default text? I've tried setting the StringFormat to "", but that works only fo

[2015-10-30 21:56] remygrandin opened #2190 "Image button become invisible if margin positionement is applied"
Hi,

I'm stating to use MahApps.Metro but i have some trouble with positionnin an image button as I would like. Here is my xaml :

	<sesmInstallerV2:MasterUserControl x:Class="SESMInstallerV2.Pages.P1_Mode"
		  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
		  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
		  xmlns:mc="http://schemas.openxmlformats.org/markup-compatibi

[2015-11-01 21:51] feinstein commented on #2059
Well I confess I am a bit surprised this got merged in #2065 after all the opinions here. Thank you for all the feedback and hope the community enjoy it!

[2015-11-01 21:51] #2059 closed

[2015-11-02 10:25] punker76 commented on #2190
@remygrandin seems to be a visual studio designer issue... works on my machine™ and visual studio 2013.

![image](https://cloud.githubusercontent.com/assets/658431/10879457/64b387e4-8154-11e5-87a3-721816b04149.png)

[2015-11-02 14:24] bloritsch commented on #401
The ribbon style has some issues:

* It only works for "BaseLight" theme, and doesn't update for "BaseDark"
* Something happens with "BaseDark" where we see gradients on the control where they weren't there for "BaseLight".

Unfortunately, my modifications are on a private network where it's a lot harder to get things off than they are to put on.  The basic coloring issues can be made to work for

[2015-11-02 15:39] barryBithead opened #2191 "Styling ShowInputAsync ?"
Is there a way to customize the styling of the dialog window(s) ? In particular the background color of the buttons, font size etc.

My app uses a color scheme from a config file, and I've managed to wire it to the rest of my Metro implementation where I need it, by doing this (for buttons):

Style x:Key="CustomButtonStyle" TargetType="{x:Type Button}" BasedOn="{StaticResource MetroWindowButtonSty

[2015-11-03 16:59] dsaf opened #2192 "For ComboBox the TextBoxHelper.Watermark only works when IsEditable"
Also when I set ```IsEditable``` to ```True``` then it will select the text on selecting item. So it is not ideal.

[2015-11-03 17:27] dsaf opened #2193 "The TextBoxHelper.ClearTextButton does not work on DatePicker"

[2015-11-03 20:39] punker76 commented on #2192
that's fixed in upcoming v1.2.0 (alpha version)
-> Watermark on ComboBox where IsEditable="False" #1958 #1953

[2015-11-03 20:39] #2192 closed

[2015-11-03 20:42] punker76 commented on #2193
it's available in upcoming v1.2.0 (or now in alpha version)

[2015-11-03 20:42] #2193 closed

[2015-11-03 21:48] dsaf commented on #2193
Understood, thank you.

[2015-11-03 21:49] dsaf commented on #2192
Understood, thank you.

[2015-11-04 14:14] girija45701 opened #2194 "Dynamically changing Themes not working on content control"
Hi all,
Somehow not able to get this working. I have a single MetroWindow which loads with default Color. I have an option for user to change the style. In the window I use a Content control to set the user control dynamically from code behind when initializing this window (This window is initialized from another application so there is no app.xaml and I use the resources in the window itself). Th

[2015-11-04 14:19] girija45701 opened #2196 "Icons not working"
Hi all,

I have installed the MahApps.Metro from nugget. After that I installed the MahApps.Metro.Resources as well. This created a folder called resources in my project. I use the icons.xaml file in my window resources. I used some icons in the buttons of my usercontrol (embedded in main window within a content control). But when I run the icons do not appear. only the gray circle is visible.

I

[2015-11-04 14:20] #2188 closed

[2015-11-04 14:41] punker76 commented on #2196
@girija45701 In the main demo is a short usage for circle button and icons. [here]https://github.com/MahApps/MahApps.Metro/blob/master/samples/MetroDemo/ExampleViews/ButtonsExample.xaml#L141-L152

It's also descriped [here](http://mahapps.com/guides/icons-and-resources.html)

[2015-11-04 14:41] #2196 closed

[2015-11-04 15:20] girija45701 commented on #2196
Hi,
I did see the demo project before I posted the question. I again just now uninstalled the MahApps.Metro.Resources and installed it again and used:

<ResourceDictionary Source="pack://application:,,,/MahApps.Metro.Resources;component/Icons.xaml" />

But while running the application I get this error..

Could not load file or assembly 'MahApps.Metro.Resources.

- Girija

[2015-11-04 15:27] kois opened #2197 "Missing ToggleButton ContentCharacterCasing property"
ToggleButton does not represent ControlsHelper.ContentCharacterCasing property. I think it is important, because the default Button style represent it and the default value is Upper. Buttons' and ToggleButtons' appearance is different. I can only set Button PreserveTextCase property to false, but I'd like to set the ToggleButton Content to UpperCase.

[2015-11-04 16:25] girija45701 commented on #2196
Hi @punker76

I did see the samples and the link and that did not work for me. I just now have tried uninstalling the MahApps.Metro.Resources and then installing it again and referring it in my usercontrol (within the window) as well as with a  test button on my window but still I see only the gray circle and no icon.
I referenced by using the below code

<Window.Resources>
        <ResourceDictio

[2015-11-04 16:29] punker76 commented on #2196
@girija45701 to point out whats going wrong, create a short app sample. so it's easier to find out...

[2015-11-04 16:55] girija45701 commented on #2196
Hi @punker76 ,

I tried creating a sample. I added nugget Mahapps.metro and Mahapps.metro.resources I created a window, refrenced all MahApps.Metro xaml with the resources xaml. Then I added a User control in the project with same responses. In the user control I added a button and I added a button in the window as well. When I run the sample I donot see any of the icons (in window direct as well

[2015-11-04 20:03] bloritsch opened #2198 "ThemeManager doesn't completely switch the theme for adorners"
I had to create a custom implementation of ThemeManager for my application to address a couple corner cases.  (C# 4.0 if that makes a difference).

To fully change the theme for my app which uses the AdornerLayer, I had to apply the theme to both the Window's resources and the AdornerLayer's resources.

My code looks like this:

[code]

The ApplyToResourceDictionary simply removes all accent/appth

[2015-11-05 13:57] chri55w opened #2200 "Expander Style - Toggle Icon colour"
I'm currently using Version 1.1.2 so forgive me if this has since been fixed but I haven't found any reference to it.

The Icon for the expander (Ellipse and Arrow) appear to be bound to the foreground colour rather than the IdealForegroundColour. This causes some inconsistency when using the Lime, Pink and Amber themes show the Icon in Black while the IdealForegroundColour is White.

[2015-11-05 17:48] TravyDale commented on #2160
Version 1.1.3.0 does not fix the issue. Just had it happen today where the flyout did not close.

[2015-11-05 19:03] bloritsch opened #2201 "Mahapps Metro themes overwrite Label foreground colors even when explicitly set"
I had some labels that were not respecting the colors I explicitly set with code that looked like this:

[code]
After applying the themes, those labels were set to all Black when the BaseLight theme was applied and all white when the BaseDark theme was applied.

I would expect them to change colors if I left the Foreground property alone, but not when I explicitly set the colors.  I had to change

[2015-11-05 20:34] punker76 commented on #2201
@bloritsch I tested your 3 Labels in the main demo and it works...

![2015-11-05_21h32_54](https://cloud.githubusercontent.com/assets/658431/10980926/e274ac50-8404-11e5-9387-dd24db90ef4f.png)

Which version of MahApps do you use?
Is there any special style in your app that possible override some stuff?

[2015-11-05 20:43] bloritsch commented on #2201
According to the details property it's Mahapps.Metro 1.1.2

There's no style that blanket applies to all Labels (there's a lot of XAML
so I may have missed something in my last comb through to enable "night
mode").

On Thu, Nov 5, 2015 at 3:34 PM, Jan Karger <notifications@github.com> wrote:

[2015-11-05 20:53] punker76 commented on #2201
@bloritsch ok, so please try the latest alpha. thx

[2015-11-05 20:53] punker76 commented on #2196
You have 2 options to solve your problem.

First option is to use `StaticResource` instead `DynamicResource`.

    <VisualBrush Stretch="Fill" Visual="{StaticResource appbar_city}" />

Second option is to put your resources to the `App.xaml`, so you can still use `DynamicResource`.

    <Application.Resources>
        <ResourceDictionary>
            <ResourceDictionary.MergedDictionaries>

[2015-11-05 20:57] bloritsch commented on #2201
Do I just grab the source and build it to get the latest alpha?

On Thu, Nov 5, 2015 at 3:53 PM, Jan Karger <notifications@github.com> wrote:

[2015-11-05 20:59] punker76 commented on #2201
@bloritsch no, the alpha is also available via NuGet

`Install-Package MahApps.Metro -Pre`

or via NuGet ui...

[2015-11-05 21:37] #2197 closed

[2015-11-06 14:03] dsaf commented on #2200
I have noticed some weirdness either - the color of the header text doesn't match the color of the button when changing the background color.

[2015-11-06 14:31] chri55w commented on #2200
From what I've seen the Header's Text colour does match the colour of the button however neither match the colour of the writing in the titlebar etc. I dont know if this is related to the changes made for #1748 but seems possible?

[2015-11-06 14:40] punker76 commented on #2200
@chri55w @dsaf this should be already fixed in the alphs version!

![2015-11-06_15h38_53](https://cloud.githubusercontent.com/assets/658431/10999508/ad8f69d8-849c-11e5-9677-8e6e3d283101.png)
![2015-11-06_15h39_18](https://cloud.githubusercontent.com/assets/658431/10999512/b36ea526-849c-11e5-9a0f-1a64ad1b130d.png)
![2015-11-06_15h39_27](https://cloud.githubusercontent.com/assets/658431/10999514/b72

[2015-11-06 14:42] dsaf commented on #2200
@punker76 can't wait for release :). BTW what is the best way to get a nice dictionary of "Metro" colors? System colors are not ideal.

[2015-11-06 14:58] chri55w commented on #2200
So I've upgraded to 1.1.3-ALPHA225 via NuGet and im still seeing the same issue
![image](https://cloud.githubusercontent.com/assets/10941226/10999913/a1a42178-8496-11e5-9a82-4458b2cdc34d.png)

As you can tell the Header Template is changed so it is irrelevant. However you can see the colour of the expander icon is different to the colour of the window title?

[2015-11-06 15:11] dsaf commented on #2200
@chri55w if you want a quick fix:

[code]

[2015-11-06 15:12] punker76 commented on #2200
Ok, that's right, `Expander` and `GroupBox` doesn't use the `IdealForegroundColorBrush`, `MetroWindow`does. So you can do it by

[code]

[2015-11-06 15:16] chri55w commented on #2200
@punker76 Ah, Yes that worked, Thank you!

[2015-11-06 15:26] #2200 closed

[2015-11-06 15:32] punker76 commented on #2191
@barryBithead You can use your custom styles via [`MetroDialogSettings.CustomResourceDictionary`](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/Dialogs/BaseMetroDialog.cs#L409)

[2015-11-06 16:34] barryBithead commented on #2191
For some reason I'm not getting CustomResourceDictionary as a property of MetroDialogSettings ?

[2015-11-06 16:41] punker76 commented on #2191
yeah, sorry for that, it's available in the alpha version.

[2015-11-06 16:42] barryBithead commented on #2191
So I'm toast ? :-)

[2015-11-06 21:36] sous2817 opened #2202 "UseFloatingWatermark with the NumericUpDown"
Is there a way to get the UseFloatingWatermark property to work with the NumericUpDown?

When I add that property to my app (or the demo app) the floating watermark doesn't appear.

[code]

[2015-11-06 21:38] punker76 commented on #2202
@sous2817 This is not implemented yet for the NumericUpDown...

[2015-11-06 21:40] sous2817 commented on #2202
AH, well that explains it, thanks!

[2015-11-06 21:40] #2202 closed

[2015-11-07 13:08] mertkokusen commented on #397
Hello,

It seems this solution doesn't work anymore. I checked the control template for TabItem and the label is changed to a contentpresenter. Therefore the binding expression can't find an ancestor. After I changed the binding expression for content presenter everything seems fine until i click the tabItem to select, when clicked the text and the image disappeares. Here is what i wrote inside th

[2015-11-07 13:14] mertkokusen opened #2203 "Adding images,icons..vs to TabItemHeader"
Hello,

There is already a thread about this topic but it's closed so i am posting another one.

It seems  [this solution] (https://github.com/MahApps/MahApps.Metro/issues/397) doesn't work anymore. I checked the control template for TabItem and the label is changed to a contentpresenter. Therefore the binding expression can't find an ancestor. After I changed the binding expression for content pr

[2015-11-07 13:16] punker76 commented on #397
I think you should try the HeaderTemplate instead Header.

[2015-11-07 16:26] mertkokusen commented on #397
Thanks a lot header template works. For future visitors:

[code]

[2015-11-07 16:26] mertkokusen commented on #2203
[Solution is here] (https://github.com/MahApps/MahApps.Metro/issues/397)

[2015-11-07 16:27] #2203 closed

[2015-11-09 09:15] punker76 commented on #2201
@bloritsch have you tried the latest alpha?

[2015-11-09 09:30] punker76 commented on #2194
@girija45701 same answer as [here](http://stackoverflow.com/a/33606001/920384)

I think you have 2 options to solve this.

- Create your `Test.UCDemo` as DataTemplate for the `VMDemo` type and pass the `VMDemo` for this template to the `Content`, so your `ContentControl` will automatically do the magic for you (it's just only a suggestion, i don't tested it)
- Put the resources in your `Test.UCDem

[2015-11-09 09:33] #1950 closed

[2015-11-09 09:34] #1975 closed

[2015-11-09 09:36] punker76 commented on #1885
@xxMUROxx can you look at this? thx

[2015-11-09 09:40] punker76 commented on #1694
@JobaDiniz that's templating WPF issue, take a look at the main demo, the same was happened and fixed with the accent menu. thx

[2015-11-09 09:40] #1694 closed

[2015-11-09 09:41] punker76 commented on #1375
@xxMUROxx maybe another issue for you ;-) thx

[2015-11-09 10:07] xxMUROxx commented on #1885
@punker76 yes

[2015-11-09 10:07] xxMUROxx commented on #1375
@punker76 yes

[2015-11-09 14:11] bloritsch commented on #2201
I haven't had the opportunity yet.

On Mon, Nov 9, 2015 at 4:16 AM, Jan Karger <notifications@github.com> wrote:

[2015-11-09 14:58] dsaf opened #2204 "Progress ring dot scaling seems to be wrong (1.1.2)?"
Microsoft [UX guidelines](https://msdn.microsoft.com/en-gb/library/windows/apps/hh465469.aspx):

![image](https://cloud.githubusercontent.com/assets/3845650/11036166/b6e480dc-86ee-11e5-9389-58806ed8e6a2.png)

MahApps.Metro Demo App:
![image](https://cloud.githubusercontent.com/assets/3845650/11036179/cf62e40a-86ee-11e5-810e-245b5cb41b14.png)

If you compare them, the standard version has five dots

[2015-11-09 19:43] thoemmi commented on #1375
Don't say I didn't warn you in [#2059](https://github.com/MahApps/MahApps.Metro/issues/2059#issuecomment-126588019) :wink:

[2015-11-09 20:53] barryBithead commented on #2191
Allo ?...:-)

[2015-11-09 21:16] xxMUROxx commented on #1375
#2059 was about adding a new property, this issue is about StringFormat.

Furthermore I dont’t know why #2065 was actually merged, because the discussion was in my opinion clear not to.

From: Thomas Freudenberg
Sent: ‎Monday‎, ‎November‎ ‎9‎, ‎2015 ‎8‎:‎44‎ ‎PM
To: MahApps/MahApps.Metro
Cc: michael.mairegger@yahoo.de

Don't say I didn't warn you in #2059  :wink:

—
Reply to this email directly or

[2015-11-09 22:26] Memphizzz opened #2205 "DataGridNumericUpDownColumn FontSize"
How do I set the FontSize of a DataGridNumericUpDownColumn?

[2015-11-10 16:13] suhan3z opened #2206 "Problem with bitmap effect in window inner border"
Hi, i try to use BorderlessWindowBehavior on window but see this black border instead of bitmap effect http://screencast.com/t/K14knJ7cIIX
[code]

	and this is Border style:
[code]

Is it bug, or i do something wrong?

[2015-11-10 19:19] barryBithead opened #2207 "Ronded corners on MetroComboBox ?"
Is there a way to get rounded corners on a MetroComboBox ?

Barry

[2015-11-10 19:43] punker76 commented on #2207
@barryBithead Not in a simple way yet, you must create your own style for a workaround until it's implemented...

[2015-11-10 22:03] barryBithead commented on #2207
HERE'S ONE TAKE ON IT:

            <ControlTemplate TargetType="ToggleButton" x:Key="ComboBoxToggleButtonTemplate">
                <Grid>
                    <Grid.ColumnDefinitions>
                        <ColumnDefinition />
                        <ColumnDefinition Width="16" />
                    </Grid.ColumnDefinitions>
                    <Border
          BorderBrush="DarkGray"

[2015-11-11 12:11] suhan3z commented on #2206
Looks like its going on because of this code in BorderlessWindowBehavior
[code]
So this mean i can't use window with allowed transparency?

[2015-11-11 15:09] barryBithead commented on #2207
HOW TO COLOR THE SELECTED ITEMS THE WAY YOU WANT (inline style override):

                <ComboBox Style="{StaticResource CustomComboBoxStyle}" HorizontalAlignment="Left" Width="125" Height="25" SelectedItem="{Binding SelectedBrowser, Mode=TwoWay}" ItemsSource="{Binding InstalledBrowsers}" Margin="-164,304,0,0" x:Name="UrlBrowserPrefDropDown" VerticalAlignment="Top" IsEnabled="False">

[2015-11-11 22:10] TravyDale opened #2208 "Textbox w/ ToggleSwitch + LostFocus"
Here is the issue I am running into. I have a textbox where I need to do the UpdateSourceTrigger as LostFocus (I am converting values to fractions). I have a MahApps.ToggleSwitch tied to this TextBox. Basically, the ToggleSwitch is being used as a "signoff" for the texbox if it has a valid value. My ToggleSwitch has its UpdateSourceTrigger as PropertyChanged.

What is happening is that the Binding

[2015-11-12 13:03] navhaxs commented on #1462
I can reproduce this on MahApps.Metro (1.1.2 from nuget) as long as GlowBrush is set on the MetroWindow, for example:

    GlowBrush="Red"

[2015-11-12 14:26] NitwitTwerp opened #2209 "ContentCharacterCasing for TabItem"
Hi ContentCharacterCasing doesn't seem to work with HeaderedContentControl such as TabItems. Will this be supported? Thank you! =)

MahApps.Metro v1.1.3-ALPHA225

**Update**
I looked into the source and add the markup below to MetroTabItem style seems okay :)
I also set the default ContentCharacterCasing style to Normal.
[code]

[2015-11-12 17:39] ant-fx commented on #101
I know this report is old but I get the same thing with v1.1.2.0.

With a WebBrowser in a Grid cell the `WebBrowser` has a gap beside it. If I resize the window or even hover over the max/min buttons the gap goes away.

Setting `WindowTransitionsEnabled` to `false` fixes the problem.

Example XAML

[code]

[2015-11-12 17:54] kfpulver opened #2210 "Combobox watermark padding changes with IsEditable"
The watermark padding on Comboboxes differs with the IsEditable setting.  A much larger than necessary padding is applied for non-editable Comboboxes.

![capture](https://cloud.githubusercontent.com/assets/15821076/11126204/7adb3800-8933-11e5-8226-6ea3ab0a3194.PNG)

First Combobox IsEditable=true; next two Comboboxes IsEditable=false.  Asterisks have been added to show the difference in watermark

[2015-11-13 15:10] TravyDale commented on #2208
I also posted on SO (http://stackoverflow.com/questions/33661385/mahapps-metro-toggleswitch-focus-issues?noredirect=1#comment55147668_33661385) and problem seems resolved using latest Alpha (1.1.3)

[2015-11-13 15:10] #2208 closed

[2015-11-14 15:25] #2210 closed

[2015-11-14 15:25] punker76 commented on #2210
is fixed now

![image](https://cloud.githubusercontent.com/assets/658431/11164297/56fe57b8-8aec-11e5-8643-997322ebf6ad.png)

[2015-11-14 15:48] #2207 closed

[2015-11-14 19:05] #2205 closed

[2015-11-14 19:06] punker76 commented on #2207
![image](https://cloud.githubusercontent.com/assets/658431/11165283/1f3ba42e-8b0b-11e5-95fb-64b64b452bfc.png)

[2015-11-15 09:39] WELL-E opened #2212 "How to show customdialog on the webbrowser control"
How to show customdialog on the webbrowser control.

[2015-11-15 09:43] WELL-E commented on #2212
The webbrowser control block the dialog.

[2015-11-15 11:46] punker76 commented on #2212
@WELL-E That's a problem of the WebBrowser control itself. You should use [CefSharp](https://github.com/cefsharp/CefSharp) or the [AirspaceDecorator](https://microsoftdwayneneed.codeplex.com/)

[2015-11-15 11:46] #2212 closed

[2015-11-15 13:55] ErdnussFlipS commented on #2125
why closed?

[2015-11-15 14:26] punker76 commented on #2125
where should appveyor put the executable?

[2015-11-15 17:55] ErdnussFlipS commented on #2125
As asset for the release. See in my repo https://github.com/ErdnussFlipS/WindowsFirewallDashboard/blob/dev/appveyor.yml#L110 the artifacts section and deploy section.

[2015-11-15 19:31] punker76 commented on #2125
ok, i will take a look after i get the appveyor config and the v1.2.0 is released

[2015-11-15 20:09] #2209 closed

[2015-11-16 01:57] WELL-E commented on #2212
Jan Karger, thank you very much!

[2015-11-16 07:47] thoemmi commented on #2125
@ErdnussFlipS What would be the benefit? I don't think it's worth to upload a sample app for every CI build. The screenshots (esp the animated gif @punker76 added a few weeks ago) give a very good first impression, and those who want to have a closer look will download the sources or clone the repository. I guess there's only a handful of people who will download a sample app.

[2015-11-16 16:16] punker76 commented on #2190
@remygrandin any news? is this still an issue for you?

[2015-11-16 23:38] ErdnussFlipS commented on #2125
@thoemmi it could also be only on release builds (should be better, you are right), not on every single commit.
Those who want to use this library, like me, use nuget for dependency management and don't want to clone the repo and make an own build. So I think.

And it's not the world to add an command to appveyor build config.

@punker76 I'd like to do it for you and do a pull request but you don'

[2015-11-17 06:05] ye4241 commented on #2132
same problem came, and i sloved by reinstalling mahapps metro from nuget rather than adding reference of the project.

[2015-11-17 08:18] fpawel opened #2213 "DataGrid binding error when scrolled horizontally"
Subject:

[code]

The error occurs when HeadersVisibility="Column", and does not when HeadersVisibility="All".
I think the problem is in Controls.DataGrid.xaml in

[code]

[2015-11-17 20:17] #1773 closed

[2015-11-17 21:28] adragoner opened #2214 "Is there a way to control the "PART_GlowBorder" thickness in FlipView?"
Related to #1402.
There is always a 4px border around the main FlipView content. I'd like to be able to control the thickness of this border as it affects the visual appearance especially on the contrast background.

[2015-11-17 22:02] bloritsch opened #2215 "SplitButton does not respect GroupStyle"
SplitButton extents ItemsCollection, which allows me to specify a GroupStyle (useful in configurations where I want to supply a set of standard static colors and a set of theme colors).

The "PART_ListBox" needs to bind the "GroupStyle" collection in SplitButton to the ListBox.GroupStyle collection.  The short term work around was to subclass the SplitButton and override the OnApplyTemplate() call

[2015-11-17 22:23] bloritsch commented on #2215
Addendum, I also had to bind the ItemsPanel property:

    BindingOperations.SetBinding(listBox, ItemsPanelProperty, new Binding
    {
        Source = this,
        Path = new PropertyPath(ItemsPanelProperty)
    });

[2015-11-18 13:13] spasas commented on #2163
This is exactly what we asked in the chat a while ago. We are looking forward for this feature to be added in a future release :)

[2015-11-19 01:38] #2179 closed

[2015-11-19 01:45] kurtisnet opened #2216 "Flyout with a margin does not slide out properly"
I have a Flyout control with position set to left. I have a vertical long panel with buttons that activates the flyouts. In order not to cover the long panel, I have set the Flyout margin to "25 0 0 0". The sliding in part of the flyout is perfectly fine. When the flyout is sliding back out towards the left, it will not disappear perfectly but the rightmost portion of it will remain for a split se

[2015-11-19 02:00] SuicSoft opened #2217 "Problem with right windows commands"
I'm having this problem when using right windows commands with the latest prerelease nuget package.

![image](https://files.gitter.im/MahApps/MahApps.Metro/RK6c/MahApps-Metro-RightWindowCommands.png)

I'm doing a download animation (which i created in blend) to show updates availibe for my application, but as you can see the rightwindowcommands download icon is extending into the window content.

[2015-11-19 06:27] AndrewNoyes commented on #1848
Here's a hacky approach using code behind for the OnValueIncrement/Decrement events.
[code]
[code]

[2015-11-19 07:38] thoemmi commented on #2217
The canvas element has a `TranslateTransform` applied which moves it 25 pixels down. I guess that's causing your issue.

[2015-11-19 13:20] MurariAlex opened #2218 "IDialogCoordinator ShowMessageAsync followed by ShowProgressAsync bug"
Consider this piece of code:

[code]

In this code, the dialog is sucessfully displayed and when clicking the "affirmative" button, instead of displaying the progress dialog, the screen is only "grayed" but the white dialog with the progress is not displayed.

Putting the "ShowProgressAsync" method before the "If" block, it works normally, the progress is displayed like expected...
.
Maybe in miss

[2015-11-19 13:58] SuicSoft commented on #2217
@thoemmi Yes I understand it , but what other ways get I make a download animation then.

Thanks for info about the new UI

[2015-11-19 15:16] thoemmi commented on #2217
Actually it's easy. Just add `ClipToBounds="True"` to the `WindowCommands` control:
[code]
This prevents the arrow from painting outside of the control.

[2015-11-19 15:23] xmedeko opened #2219 "MetroAnimatedTabControl style should not ClipToBounds"
`MetroAnimatedTabControl.xaml` style defines the control template `<Grid ClipToBounds="true" ...>`, but the WPF TabControl does not ClipToBounds by default. May you remove it please or bind it:
[code]

Thanks

[2015-11-19 19:45] bloritsch commented on #2201
I finally tracked down the problem, and it was in our app.  So one of the most surprising things for me was that we had a code block like this before we were able to go hog wild with Mahapps.Metro:

    <Style TargetType="{x:Type TextBlock}">
        <Setter Property="FontWeight" Value="Bold"/>
        <Setter Property="FontFamily" Value="{StaticResource ContentFontFamily}"/>
        <Setter Prope

[2015-11-19 19:45] #2201 closed

[2015-11-20 01:35] SuicSoft commented on #2217
@thoemmi Thanks for the tip :smile:.

[2015-11-20 01:35] #2217 closed

[2015-11-20 15:18] gigios opened #2220 "Why in the MetroButtonTextBox the visibility of PART_ClearText is not managed as the MetroTextBox?"
I want to manage the MetroButtonTextBox Visibility behavior in the same way of the MetroTextBox (when there is Text in the TextBox the button should be visible, otherwise collapsed).
I have checked the style and I have seed that the PART_ClearText dows not have any binding in the Visibility property.
Is it a missing binding or there are a different way to hide the button?

[2015-11-20 17:40] bloritsch opened #2221 "Generate cursor from Mahapps.Resources icons?"
Based on a StackOverflow issue there is a way to generate a cursor from a BitmapSource: http://stackoverflow.com/questions/2835502/rotating-cursor-according-to-rotated-textbox/2836904#2836904

And I figured out a way to generate a DrawingGeometry from the Canvas icons listed here: http://mahapps.com/guides/icons-and-resources.html

That should make custom zoom tool cursors and such like a lot easi

[2015-11-20 22:10] bloritsch commented on #2221
I've got a working routine that depends on the ExtractFrozenGeometry() method above.  The code could use some cleanup, but here goes:

    const int CursorSize = 24; // technically it's usually 32, but the modern icons look cartoonish then

    public static Cursor VectorIconToCursor(Canvas icon, Brush color, double hotSpotX, double hotSPotY)
    {
        Debug.Assert(hotSpotX >= 0 && hotSPotX <=

[2015-11-20 22:26] bloritsch commented on #2221
The only change to add a black outline is to replace the section of code with the drawing context:

    Rect rect = new new Rect(new Point(), new Size(CursorSize,CursorSize));
    using (DrawingContext context = visual.RenderOpen())
    {
        Geometry insideGeometry = ExtractFrozenGeometry(icon);
        GeometryDrawing drawing = new GeometryDrawing(color, new Pen(Brushes.Black, 1), insideGeom

[2015-11-21 20:21] x000000 opened #2224 "DropDownButton uses ItemTemplate template binding twice"
In the [DropDownButton.xaml](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/DropDownButton.xaml#L265) {TemplateBinding ItemTemplate} used twice on [PART_ButtonContent](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/DropDownButton.xaml#L272) and [PART_Menu](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/DropDownButton.

[2015-11-22 12:29] #2190 closed

[2015-11-22 13:02] #2219 closed

[2015-11-23 17:41] VeegaP opened #2225 "Binding Watermark to a dynamic property and using UseFloatingWatermark="True" prevents the TextBox from resizing when Text property is empty"
See pull request #1510

[2015-11-23 17:41] VeegaP commented on #2225
See pull request #1510

[2015-11-23 19:18] JobaDiniz commented on #1842
Hi @punker76
`TargetType="{x:Type MetroTabItem}"` does not work.

It throws compilation error: *MetroTabItem is not supported in WPF project*

[2015-11-25 18:37] JobaDiniz commented on #1694
Is this the main demo: https://github.com/MahApps/MahApps.Metro/tree/master/samples/MetroDemo

I couldn't find the fix, can you please show me?

[2015-11-26 12:31] mgnslndh opened #2229 "Hide username from LoginDialog"
I want to be able to ask for just a password. The `LoginDialogSettings` could be extended with a property `UsernameVisibility` that controls the visibility of the Username `TextBox`. Default value would be `Visible`.

[2015-11-26 23:46] Dotnetifier commented on #2225
My apologies, that was a case I did not test. It probably has something to do with the triggers in the TextBox template. I'll look into it soon.

[2015-11-27 06:59] akshithrajesh commented on #1488
How to Call Async Show Dialog Method in Usercontrol

(When I tried to call from Usercontrol I am getting Error )

So How can I call Async await Show Dialog Methods in Usercontrol in wpf

[2015-11-27 07:00] akshithrajesh opened #2231 "Call ASync MessageDialog Box in User control"
How to Call Async Show Dialog Method in Usercontrol

(When I tried to call from Usercontrol I am getting Error )

So How can I call Async await Show Dialog Methods in Usercontrol in wpf

[2015-11-27 07:25] thoemmi commented on #2231
`ShowMessageAsync` is an extension method for `MetroWindow`, so this code should work:
[code]

[2015-11-27 07:37] akshithrajesh commented on #2231
Outstanding You rock

[2015-11-27 07:42] akshithrajesh commented on #2231
How to call ShowMessageDialog in user control

  public async void ShowMessageDialog(object sender, RoutedEventArgs e)
        {
            // This demo runs on .Net 4.0, but we're using the Microsoft.Bcl.Async package so we have async/await support
            // The package is only used by the demo and not a dependency of the library!
            var mySettings = new MetroDialogSettings()

[2015-11-27 07:52] akshithrajesh opened #2232 "How to call ShowMessageDialog in user control"
How to call ShowMessageDialog in user control

[code]

[2015-11-27 08:00] punker76 commented on #2232
@akshithrajesh -> https://github.com/MahApps/MahApps.Metro/issues/2231#issuecomment-160058314

[2015-11-27 08:00] #2232 closed

[2015-11-27 10:59] akshithrajesh opened #2233 "How to Change user controls Dynamically on Buttonclick"
Change view Dynamically on Button click in MahApps  I had created custom Usercontrols for my Application Now I need to change the usercontrols on Button click Event

[2015-11-27 12:12] thoemmi commented on #2233
I don't think that this is an issue of **MahApps.Metro**.

[2015-11-27 12:24] akshithrajesh commented on #2233
How can I achieve or call it

[2015-11-27 12:28] paulwallas commented on #2163
@spasas Please can I ask what chat? I'm new to github and wpf and I'm looking for some help with mahapps. Not sure where to ask

[2015-11-27 12:29] Andyi19 opened #2234 "[Help] Different colors for data validation"
I'm trying to get 3 different colors for data validation, for example:
Red (already exists): Error
Orange: Warning
Green: OK

The colors are all in .../Styles/Colors.xaml. I have added my colors and created a ValidationWarningTemplate.xaml und ValidationConfirmTemplate.xaml (just colors changed from ValidationErrorTemplate.xaml). The problem is, that the templates are hard-coded in the controls, e

[2015-11-27 12:43] punker76 commented on #2234
@Andyi19 you can change it to what you want, it's not "hardcoded".

change it in style

[code]

and it's also changable by your own triggers.

[2015-11-27 13:01] akshithrajesh commented on #2233
Could you please let me know how Can I achieve it I wasted huge time just because of it.

[2015-11-27 13:05] thoemmi commented on #2233
This is not a general support forum for learning WPF. Buy a book, google for it, or ask at [Stackoverflow](https://stackoverflow.com).

[2015-11-27 13:07] thoemmi commented on #2163
@paulwallas  it's [Gitter](https://gitter.im/MahApps/MahApps.Metro)

[2015-11-27 13:15] #2233 closed

[2015-11-27 16:07] amghw opened #2235 "UseFloatingWatermark is not working on ComboBox"
[code]

Thanks for the wonderful toolkit!

[2015-11-28 14:50] spasas commented on #2163
@paulwallas like @thoemmi said.

[2015-11-30 16:56] jseger opened #2237 "ControlsHelper design time error on Button"
I'm getting a design time error on a button.  ControlsHelper does not have a public property named ContentCharacterCasing.

Version 1.1.3.234

<Button Content="Help" Command="{Binding NavigateCommand}" CommandParameter="Help"/>

[2015-11-30 17:43] gigios opened #2238 "[Enhancement] Allow to change the Min/Max/Close command Window Icon"
Actually the icon used for the buttons Min/Max/Restore/Close window are fixed in the Theme.
My suggestion is to allow to change these icons, for example to apply the new icons used in "Windows 10".

![image](https://cloud.githubusercontent.com/assets/8749627/11479487/8cc33cc6-9792-11e5-9860-f1f2a4913790.png)

Thanks
(I have checked the guides but I haven't found the possibility to customize these

[2015-12-01 00:56] einsteinsci opened #2239 "[Enhancement] Additional styles for ToggleButtons"
`Button` has several different styles besides the default "rounded" style, including several square styles. However, `ToggleButton` only has the default "rounded" style and a circular icon style.

[2015-12-01 07:31] ThomasWeiss opened #2240 "Error messages in Console output"
My project is a Console app that creates a `MetroWindow` (for some reasons, this app has to be a Console app).
Some error sometimes pops up in the Console; it seems pretty random and the one I'm getting a lot these days is:
[code]
which happens when I call `ShowDialog()` on an `OpenFileDialog`.

It doesn't seem to be a serious issue though as the app continues to work normally, but I'd like to kno

[2015-12-01 16:00] galead opened #2241 "DialogParticipation.Register holds references to views"
We using MahApps + ReactiveUI combo and we have many views which are constantly disposing. If we using DialogParticipation.Register then it holds hard references to registered views and GC can't free them. Perhaps you can use weak references inside DialogParticipation class to avoid this issue.

[2015-12-01 19:24] Andyi19 commented on #2234
Thanks, working now

[2015-12-01 19:24] #2234 closed

[2015-12-01 19:30] punker76 commented on #2234
:+1:

[2015-12-01 21:24] bloritsch opened #2242 "Add padding to window icons"
The MetroWindow title bar is not a standard size for icons.  We had an icon that looked sharp with normal windows because it would select the 16x16 icon and add space around the image so it was centered.  The MetroWindow instead scales the image to fit the full square edge to edge, but the title bar isn't big enough to trigger the more detailed 32x32 image that's part of the icon.

As a temporary

[2015-12-01 21:35] punker76 commented on #2242
@bloritsch have you seen the `IconTemplate` property? it's maybe what you need... (also used in the main demo)

[2015-12-01 21:45] punker76 opened #2243 "Not an issue, just a..."
He,

I just realized, that MahApps.Metro is maybe used more than once (e.g. [Xamarin Inspector](https://blog.xamarin.com/inspect-visualize-and-debug-your-app-live/)).
It can be also used with other awesome third party libs (e.g. [Material Design In XAML Toolkit](https://github.com/ButchersBoy/MaterialDesignInXamlToolkit)) as well...

So, give us some feedback...

What I mean: give us a short descr

[2015-12-01 21:50] bloritsch commented on #2242
So with the IconTemplate I can stick the ImageSource in a Grid and let that do the centering....  Hmmm.

I didn't see that as part of the API or as part of the writeup on the MetroWindow (quick guide or Controls/MetroWindow).  Some generated API docs would be awesome.  I find myself constantly opening up the GitHub link to examine code and check for the names of resources.