[2015-12-01 22:43] thoemmi commented on #2242
The [default `IconTemplate`](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Themes/MetroWindow.xaml#L607-L617) uses the [`MultiFrameImage`](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/MultiFrameImage.cs) control, which is expected to select the [best matching size](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/MultiF

[2015-12-01 22:50] bloritsch commented on #2242
It's stretching the icon rather than centering it if the best match is between sizes.  The behavior is different than with the stock Window control, which I think sets the icon image area to only 16x16.

[2015-12-01 22:57] thoemmi commented on #2242
Well, I could add a property to `MultiFrameImage` to not stretch the icon but use the original sizes. But I don't want to add another property to MetroWindow, you would have to specify a custom `IconTemplate` for that option.

@punker76 What do you think?

[2015-12-01 23:01] jammerxd opened #2244 "Context Menu Theme not Getting Updated"
Hello,
I have a commandwindow button that has the appbar_settings icon on it and it has a contextmenu bound to it and with the help of a helper, it is bound to the  left mouse button. this button on the window changes the theme and accents. The only downside is that the context menu only updates themes when right clicked after a changed theme. If I continue to left click, the old theme is still vi

[2015-12-02 03:00] bloritsch commented on #2242
Sounds OK.  It might just be me, but it seems to be stretching to the first non-transparent pixel in the icon.  I'll see if I can get some screenshots together so you can see what I mean.

[2015-12-02 10:29] ProIcons opened #2246 "Visual Studio 2015 - Flyout - XAML Designer Not working."
Well i get a strange error while i'm opening my XAML Designer on VS2015

__Cannot add instance of type 'SetFlyoutOpenAction' to a collection of type 'TriggerActionCollection'. Only items of type 'T' are allowed__

I Get this error, but i'm able to Compile and run the programm without a problem. Everything works like a charm on compiling, but i cannot design anything while i have Flyout on my xaml.

[2015-12-02 10:30] ProIcons commented on #2246
<Controls:Flyout IsOpen="True" IsPinned="True" CloseButtonVisibility="Collapsed">
                <Grid Margin="5,0,0,0">
                    <Grid Margin="0,-71,0,0" Height="204" VerticalAlignment="Top">
                        <Image Height="120" VerticalAlignment="Bottom" Margin="0,0,0,84" Source="Resources/header_logo_el.png"/>
                        <TextBlock Text="Νικόλαος Μαυρόπουλος" Fon

[2015-12-02 10:33] #2149 closed

[2015-12-02 10:48] xxMUROxx commented on #1885
@ghost can you try following PR if this exception is present also there?
https://github.com/MahApps/MahApps.Metro/pull/2245

[2015-12-02 11:44] Pekshev opened #2247 "Show window without effects"
Hi. I'm using metrowindow to show my own message box. What should be done to show a window without openning effect?

[2015-12-02 11:47] punker76 commented on #2247
@Pekshev so what opening effect do you mean?

[2015-12-02 11:52] Pekshev commented on #2247
Forgive me if I write it is not clear - I use Google translator
I am referring to the effect of the appearance of the window. Sliding Apparently it. I think that because of the effect of the window opens a little longer (a few miilisekund, but it is noticeable). And I need a window to appear quickly (as standrat messagebox)

[2015-12-02 11:55] punker76 commented on #2247
@Pekshev You can turn off the sliding effect by setting `WindowTransitionsEnabled="False"` on the MetroWindow.

https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/MetroWindow.cs#L65

[2015-12-02 12:06] Pekshev commented on #2247
Thanks. That's what I need

[2015-12-02 12:15] punker76 commented on #2247
:+1:

[2015-12-02 12:15] #2247 closed

[2015-12-03 15:31] EyalYasovsky opened #2248 "MetroWindow does not load properly when executed from a non WPF application"
I am trying to launch a MetroWindow from a Console application.
I'm doing it with a thread:
Thread t = new Thread(new ThreadStart(() =>
            {
                MainWindow ui = new MainWindow();

                ui.Show();
                System.Windows.Threading.Dispatcher.Run();

            }
            ));
            t.SetApartmentState(ApartmentState.STA);
            t.IsBackground =

[2015-12-03 17:09] thoemmi commented on #2242
With the current implementation `MultiFrameImage` uses the smallest frame from the icon that is larger or equal to the available space and shrinks it to the available space.

For demonstration purposes I created this icon (all following images are in their original size and zoomed to 400%):
![image](https://cloud.githubusercontent.com/assets/73690/11567465/75f9092e-99e7-11e5-991a-2eb7fbb447c8.png)

[2015-12-04 14:52] xxMUROxx commented on #2248
I think the problem is because if you create a MetroWindow from Console, or any non WPF project the resources meeded from MahApps are not loaded. Therefore you need to be sure that you load the resources that are least needed

[code]

The resources needed are listed there: https://github.com/MahApps/MahApps.Metro#a-short-how-to

[2015-12-04 15:14] bloritsch commented on #2242
I wonder if the true problem is the algorithm used for scaling the icon.
I'm working on an application on an unconnected network so there's issues
with getting proper screenshots or blessed code snippets.  I have a couple
other utilities to support a website on the internet where I'm using
MahApps.Metro and the icon issue boils down to how sharp it looks.

With the stock window, the icon is stretc

[2015-12-04 17:48] bloritsch commented on #2244
I've had issues with the stock ThemeManager.  The basic approach that it takes is that it will load merged dictionaries for the theme/accent you pick, but only if the application is set up the right way.  It first checks the current window, then the current application.

If you include your BaseLight/BaseDark and accent color resources in your App.xaml or Window definition, the ThemeManager can't

[2015-12-04 17:54] fredericoregateiro opened #2249 "NumericUpDown PreviewMouseDown event"
Hello,

Is there a way to handle the click event on the NumericUpDown control, only on the textbox, and ignore the up dand down buttons?
I need to show a custom popup, only when the user clicks on the textbox, and if i handle the PreviewMouseDown event, it's also fired when the user clicks on the up and down buttons.

Thanks,
Frederico

[2015-12-05 07:42] naveen4942 opened #2250 "Validate Controls on Button Not on Form Load"
I tried to validate using IdataError Info. Controls gets validated at the Time of form load

Need to Validate on Buttonclick Event

[2015-12-05 10:54] akshithrajesh290 opened #2251 "Validation Errors Showing after formload Event. I need to show Error Message after Button CLick"
Sample MainwindowViewModel Code

   DateTime? _datePickerDate;
        public DateTime? DatePickerDate
        {
            get { return this._datePickerDate; }
            set
            {
                if (Equals(value, _datePickerDate))
                {
                    return;
                }

                _datePickerDate = value;
                RaisePropertyChanged("DatePickerDa

[2015-12-05 15:26] #2225 closed

[2015-12-05 15:33] punker76 commented on #2235
fixed with https://github.com/MahApps/MahApps.Metro/pull/2236

[2015-12-05 15:33] #2235 closed

[2015-12-05 16:17] #2229 closed

[2015-12-06 05:56] taori opened #2252 "UseFloatingWatermark bug in TextBoxHelper"
my app.xaml has the following configuration:

[code]

xaml setup which renders as expected:

[code]

xaml which breaks watermark rendering if content is empty:

[code]

This should be working shouldn't it?

error state. label where watermark is rendered if there is content inside the textbox does not collapse

![error](https://cloud.githubusercontent.com/assets/5545184/11611971/79c6a8b2-9be6-11e5-

[2015-12-06 06:49] EyalYasovsky commented on #2248
Thanks, you saved the day !!!
I was so desperate I started to implement my UI in a separated process :)
You saved me some time and headaches.

[2015-12-06 07:41] #2248 closed

[2015-12-06 07:45] punker76 commented on #2252
@taori With which version does this happen? If it's not the latest I would suggest you to do this...

[2015-12-06 15:06] PMasta opened #2253 "Error At "MetroWindow""
I've done everything and saved it. But whenever I type MetroWindow instead of Window like this ;

[code]

It gives me this error ;

    Partial declarations of 'MainWindow' must not specify different base classes

[2015-12-06 15:24] taori commented on #2252
- happened in 1.1.2,
- resolved with https://www.nuget.org/packages/MahApps.Metro/1.1.3-ALPHA240.

Now i'm getting some designer errors with that one though. Since it is fixed with 1.1.3-ALPHA240 i will close this ticket and see if the there is a designer issue open yet

Thanks you.

[2015-12-06 15:24] #2252 closed

[2015-12-06 16:00] taori opened #2254 "Resource with the name {x} cannot be found"
I'm getting this error in design time for my static resources.

Markup:
[code]

The errors are reported for "AccentColorBrush" and "TextBrush"

- If i replace StaticResource with DynamicResource for those 2 keys, the errors disappear but the rendered result is incorrect.
- It does render just fine when the project is running with both dynamic and static resource for the 2.

design time with Dynami

[2015-12-06 16:16] PMasta commented on #2253
It looks like I forgot to change Window to Controls:MetroWindow....

[2015-12-06 16:16] #2253 closed

[2015-12-06 16:47] amghw commented on #2235
Thanks!

[2015-12-07 07:18] xxMUROxx commented on #2254
Don't bother with design time issues. In my case during design time sometimes the colors are displayed with correct background sometimes not. Seems to be a VS issue.
Furthermore I suggest you to use *DynamicResources* this gives you the possibility to change theme during runtime.

[2015-12-07 07:43] taori commented on #2254
*"Don't bother"* is not how issues are resolved. it works perfectly fine with 1.1.2. It does not with 1.1.3 alpha 240. So its obviously NOT a VS issue.

I also mentioned that i did try DynamicResources, which results in incorrect rendering as you can see in the 2 screenshots i provided

[2015-12-07 09:04] webwarrior06 opened #2255 "GroupBox header content alignment problem"
Hello MahApps community!
With the advent of ContentControlEx for Groupbox's Header Site ([35f98ae](https://github.com/MahApps/MahApps.Metro/commit/35f98ae88ad8cf52f6b926f3445dbaf9b58cdab1)), I cannot align my header content properly. Here is my code to provide custom content for header;
[code]
**Output:**
![grp](https://cloud.githubusercontent.com/assets/3088750/11622777/e2390c6a-9cd0-11e5-9860-8f

[2015-12-07 10:00] #2255 closed

[2015-12-07 10:01] punker76 commented on #2255
@webwarrior06 fixed with ec55eb71aeba828eddc63b4418cd4bf158a07d85

[2015-12-07 10:14] punker76 commented on #2254
@taori @xxMUROxx Please, not another VS designer discussion here...

@taori

- Where are your resources defines?
- After changing to new MahApps it's good to clear the VS designer cache.
- The VS designer always killing me :-D

[2015-12-07 10:17] punker76 commented on #2250
same as here #2251

[2015-12-07 10:17] #2250 closed

[2015-12-07 11:30] webwarrior06 commented on #2255
Thank you @punker76

[2015-12-07 11:52] punker76 commented on #2251
-> http://stackoverflow.com/q/34103675/920384

[2015-12-07 11:52] #2251 closed

[2015-12-07 12:33] taori commented on #2254
@punker76

- They are defined in the App.xaml file pretty much exactly like suggested in the "get started" docus.
- VS designer cache can be cleared seperately? I've only used clean solution. that usually resolved designer issues for me
- solution cleared
- Yup, i remember back in 2012 it was even more of a pain than now. Back then restarting VS fixed issues but clearing the solution didn't always

[2015-12-08 13:24] punker76 commented on #2122
@luciusli Setting `IsWindowDraggle="False"` and `also want this custom title bar to be draggable` makes no sense... I would suggest if you want this then you should implement it by yourself.
but after #2226 it should be possible what you want if you leave `IsWindowDraggle` to true and set your custom title bar to `TitleBarHeight`...

[2015-12-08 13:37] #1635 closed

[2015-12-08 13:38] #1849 closed

[2015-12-08 13:38] #2036 closed

[2015-12-08 13:38] #2122 closed

[2015-12-08 20:26] punker76 commented on #2243
@/all really? no one? ...mh... :disappointed:

[2015-12-08 20:26] #2243 closed

[2015-12-08 20:32] thoemmi commented on #2243
Well, I use MahApps.Metro in several small applications but most of them are for internal use only. The only public application I wrote using MA.M is [Solutionizer](https://github.com/thoemmi/Solutionizer).

Additionally I wrote another small MVVM library, [TinyLittleMvvm](https://github.com/thoemmi/TinyLittleMvvm). I was sick writing the same boilerplate code again and again :laughing:

[2015-12-09 06:29] Allann commented on #2043
I am having the same issue, nothing to do with caliburn though.  Straight use of MetroWindow in simple WPF application.

[2015-12-09 08:35] punker76 commented on #2043
@Acaspita @Allann MahApps uses for the Caliburn demo version 2.0.0.6 and uses this

[code]

which works fine.

![2015-12-09_09h34_36](https://cloud.githubusercontent.com/assets/658431/11680378/18dcb072-9e58-11e5-8e74-2c3f13167374.png)

[2015-12-09 11:54] Allann commented on #2043
Thanks for the quick response, will test it in the morning when I'm back at work.

[2015-12-09 18:53] ImaBrokeDude opened #2257 "SpellCheck ContextMenuItems not appearing"
Because SpellCheck Context MenuItems cannot be styled, I wonder if they are not being added. I know there is a simple workaround: Override ContextMenuOpening and add them ourselves using the functions and properties available in SpellCheck. Could we add this as a behavior?

[2015-12-09 20:07] acidmath opened #2258 "Change font color of TabItem header"
After trying what was suggested in issue #195, I have been unable to alter the font color of a Tab Item Header, and would appreciate any help provided.

[2015-12-09 20:25] punker76 commented on #2257
@ImaBrokeDude this is already available https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/Helper/TextBoxHelper.cs#L42

[2015-12-09 20:25] #2257 closed

[2015-12-09 22:10] Allann commented on #2043
This does fix the initial issue.  So I suppose this question can be closed.  It does indeed work when using Caliburn Screen types (the owner of DisplayName).

Do you want me to raise a new bug for the standard MetroWindow?  Can't change the Title of that using the standard WPF window title property.

[2015-12-09 22:37] punker76 commented on #2043
@Allann Yeah, you can open a new issue, but maybe I can't help you, cause I'm not really firm with Caliburn.Micro...

[2015-12-09 22:37] #2043 closed

[2015-12-10 08:25] Grunzfort opened #2260 "WPF MVVM mahapps can't close Custom Dialog"
Well, I've been following the mahapps metro demo application and I saw the Custom Dialog via MVVM and yeah, its working fine.

[code]
The above code works perfectly. Accessing the MainViewModel is no problem, I can do something like:
[code]

Then call it from my XAML:
[code]

Now the problem here is that for some unknown reason, the Command to close the dialog won't fire (which is the MainViewMode

[2015-12-10 08:37] punker76 commented on #2260
@Grunzfort Hi, is `DataContext` your `MainViewModel`? How is your is your `ActionCommand` implemented? I think it's necessary to give us more code. Thx

[2015-12-10 09:12] ZhiCeYang opened #2261 "ComboBox context menu."
Hi, thanks to develop such a useful tool for WPF developers! Now I got a situation is that I have a combo box, it allows people to edit, but I don't really want the context menu which prompt when I right click the input box. It is not work to set it's context menu property to null, I checked the code, the context menu is from the text box named "PART_EditableTextBox", so how can I remove it ? than

[2015-12-10 09:28] Grunzfort commented on #2260
Oh sorry bruh, I'm calling from a different View and ViewModel.

Here's the MainWindow:
[code]

here's the code from the DataContext of the MainViewModel:
[code]

Here is where I call it (The UserControl View):
[code]
I don't really have a code for this View Model to close the Dialog as I was expecting to close it via the command inside the MainViewModel.

Here's my Action Command (It works though

[2015-12-10 14:07] bloritsch opened #2262 "Controls:Tile can't tell if enabled or not"
I have some tiles bound to a command, and sometimes the command can't be executed (for example, can't continue to edit a project if the user never started one to begin with).  All tiles look like they can be clicked until the user attempts to do so.  I would expect a disabled tile to be grayed out, or have a semitransparent layer over top to make it look unclickable.

(Release version, Mahapps.Met

[2015-12-10 14:22] bloritsch commented on #2206
You are aware that BitmapEffects are deprecated in WPF now, right?  They have some rendering issues associated with them, and are replaced by shader effects like the new DropShadowEffect.

It's worth trying it out:

     <Style x:Key="BorderDialogWindowStyle" TargetType="Border">
        <Setter Property="BorderThickness" Value="20" />
        <Setter Property="CornerRadius" Value="{StaticResource

[2015-12-10 14:49] suhan3z commented on #2206
Thanks for reply. I changed this effect on glow effect from metro window, it looks better. So i close this issue

[2015-12-10 14:49] #2206 closed

[2015-12-10 16:10] xxMUROxx commented on #2249
That is not the desired behavior of any WPF-control.
All base-controls fire the *PreviewMouseDown*Event with the control itself as *sender*. If you try to subscribe to the event on a *DatePicker* you will see that there is no difference whether you click on a *date* or *month* button.

[2015-12-10 20:01] bloritsch commented on #2260
If the dialog box is displayed in the AdornerLayer, then you might be running into the same issue that you can get with context menus in DataGrids.  Basically, your visual tree in an adorner layer stops at the adorner layer and never gets to the ancestor type {x:Type views:MainWindow}.

To work around this issue, you'll have to have a proxy element defined in a higher context as described here: ht

[2015-12-10 21:10] #2262 closed

[2015-12-10 22:34] taori commented on #2254
@punker76 Jump in = pull requests accepted? I'm willing to do it if you can give me a brief description of how to detect such design time issues (Haven't done it before).

My guess is i have to launch devenv with debugger attached and just listen to every exception?

[2015-12-11 16:22] ButchersBoy commented on #2241
@galead I think the most effective way is to un-register in your window (maybe in the Closing/Unloaded) event.  This will also ensure that ```DialogParticipation.ContextRegistrationIndex``` doesn't grow:

```DialogParticipation.SetRegister(this, null);```

I'll try and update demo to reflect this.

[2015-12-11 20:35] punker76 opened #2268 "Getting more done in GitHub with ZenHub"
Hola! @punker76 has created a [ZenHub](http://www.zenhub.io) account for the **MahApps** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account. On

[2015-12-11 22:39] taori commented on #2254
@punker76 alright... clean solution != delete bin/obj. sorry then

[2015-12-11 22:39] #2254 closed

[2015-12-11 22:50] fredericoregateiro commented on #2249
Yes i know, i was just wondering if there was a way to tell the difference.
I'm using these control on a app that should respond to click events differently if the user click on the textbox or the up/down buttons.
If the the user click on the textbox i could open a custom keypad popup.
The app is going to run on a POS machine, and the user doesn't always have a physical keyboard.

Thanks,
Frederic

[2015-12-11 22:54] #2241 closed

[2015-12-12 16:24] VeegaP opened #2269 "Make Controls:TextBoxHelper.UseFloatingWatermark="True" work for DatePicker"
It would be cool if the option in TextBoxHelper.UseFloatingWatermark worked on DatePicker. Any way to make it work in case you don't plan to make it a functionality?
![floatingwatermark](https://cloud.githubusercontent.com/assets/8075379/11763097/a53eb5d6-a0fd-11e5-88ed-11cb985b8213.png)

As a temporary workaround I created a simple style to achieve what I'd like:
[code]
![result](https://cloud.gi

[2015-12-12 17:25] VeegaP commented on #2269
![floatingwatermark](https://cloud.githubusercontent.com/assets/8075379/11763097/a53eb5d6-a0fd-11e5-88ed-11cb985b8213.png)

[2015-12-14 10:02] #2268 closed

[2015-12-14 10:09] xxMUROxx opened #2270 "Code Style (ReSharper)"
Does anybody uses ReSharper?

I think it would be interesting to modify the existing [MahApps.Metro.sln.DotSettings](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro.sln.DotSettings) to have a neat way to cleanup the code using ReSharper. This will provide a code style that is overarching the complete project.

Until now I have seen following code style issues:
* private modifier

[2015-12-14 10:11] punker76 commented on #2270
@xxMUROxx it's already on my todo list...

[2015-12-14 10:11] punker76 commented on #2270
@xxMUROxx also the XAML style...

[2015-12-14 10:22] xxMUROxx commented on #2270
Below you see my current *.DotSettings* file that I use as global style for my projects.
[Settings.DotSettings.txt](https://github.com/MahApps/MahApps.Metro/files/61051/Settings.DotSettings.txt)

[2015-12-15 05:40] Grunzfort commented on #2260
@bloritsch dude, I've tried but sadly it ain't working, maybe because I have a different way on how to do it. Now, I accidentally saw a tutorial on how to do these stuff using a DialogService class instead of using a DialogCoordinator. It's working the only problem is to how can I display a CustomDialog. I'll research a bit more.

[2015-12-15 15:42] punker76 commented on #2237
@jseger please try cleaning up obj/bin folders and maybe clear the visual studio designer cache, after that make a rebuild.

[2015-12-15 15:52] jseger commented on #2237
I'm now using 1.1.2.  But I think I know what might have caused it.  I am separating the project into modules and I wasn't loading the resource dictionaries in the project.  I was only loading them in the main project.  That's why I could still run it without error.

[2015-12-16 02:16] sous2817 opened #2271 "AnimationException was unhandled"
Hello,

Over the last few alpha builds, I've been getting an AnimationException was unhanded error when trying to open a CustomDialog.  It doesn't happen on all CustomDialogs, but everything worked fine back in MahApps.Metro 1.1.3-ALPHA229.  I upgraded to ALPHA254 and started getting the error (and still there in ALPHA257).

I'm not sure which version the error gets introduced.  I'll see about goi

[2015-12-16 05:28] Grunzfort commented on #2260
So I've got everything working now sorry to bother you guys. I saw @Amrykid's post on changing the UserControl to BaseMetroDialog and got everything working flawlessly.

[2015-12-16 05:30] #2260 closed

[2015-12-16 07:42] Allann opened #2273 "Question: Road map"
Hi, this is more of a question than an issue.  Is there a road map on release dates for the project?  e.g. when do you expect to release v1.1.3 and what is left to put it it?

[2015-12-16 07:45] Allann opened #2274 "Unable to change Title on Shell Window"
I have found no way to change the Shell Window Title once the application is running.  I can set the initial value but can not bind or otherwise change it once set.

[2015-12-16 08:26] punker76 commented on #2273
@Allann Hi, yeah... road map... mh, sorry there is no official road map, but maby v1.2.0 is coming before or on or after christmas ... stay tuned

[2015-12-16 08:26] #2273 closed

[2015-12-16 09:14] punker76 commented on #2271
@sous2817 dou you have any custom styles for e.g. TextBox? cause there was a inner style change with https://github.com/MahApps/MahApps.Metro/commit/1919458bce35ba5c5815e2c9982721836263cdb2

[2015-12-16 10:42] dsaf commented on #2243
We have used it in two financial applications internally and they look good, but the company is strict and I am afraid to share any screenshots. It's very pleasant to use WPF after having to deal with Angular and HTML.

[2015-12-16 10:50] dsaf opened #2275 "Embed Material Design Icons (in addition to Modern UI Icons)?"
It seems that Templarian's interest shifted to Material Design and since the latter was inspired by Metro the icons are mostly usable in Metro-style applications as well. It seems that the XAML is/could be available. Not sure about licence.

https://materialdesignicons.com

https://github.com/templarian/MaterialDesign

[2015-12-16 13:55] sous2817 commented on #2271
@punker76 Here is the view that is throwing up the error.  Don't think it's anything too complicated, anything grab you as being problematic?

    <dialogs:CustomDialog x:Class="DataIntegrationTool.MainProgram.Dialogs.OpenFile.OpenFileDialogView"
                      xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
                      xmlns:x="http://schemas.microsoft.com/winfx

[2015-12-16 14:33] sous2817 commented on #2271
@punker76  Bah!  Clearly something I did.  I was getting a resource error so I took the style out of the source code and added it to my project and referenced that, which got rid of the error.  But since I didn't update the style w/ the changes you made in subsequent releases, it was getting angry.  If I get the latest alpha build, don't use my style but use yours, all seems to be working fine.

N

[2015-12-16 14:39] punker76 commented on #2271
@sous2817 I think the problem is the name of your Grid in the template, it should not named `contentPresenter`...

[2015-12-16 14:42] punker76 commented on #2271
@sous2817 I will change the inner names to `PART_ContentPresenter` soon, hopefully without breaking anything...

[2015-12-16 14:52] sous2817 commented on #2271
@punker  Changed the grid names and still getting error.

For what it's worth, using the most recent version and setting the style to:

    Style="{DynamicResource MetroButtonTextBox}"

it works fine.  I'm not married to how I set the style, I did it the way I outlined above to get a "folder" image for the button using a Path.  I'm going to try the approach outlined here (https://github.com/MahApp

[2015-12-16 15:01] sous2817 commented on #2271
Ok, this worked for me using the latest ALPHA build.  Sorry for taking up your time:

    <TextBox Margin="0,0,0,2.5"
                 DockPanel.Dock="Top"
                 Style="{DynamicResource MetroButtonTextBox}"
                 Text="{Binding Path=FileName,
                                Mode=TwoWay,
                                UpdateSourceTrigger=PropertyChanged}"
                 met

[2015-12-16 15:05] punker76 commented on #2271
@sous2817 no worries

[2015-12-16 15:05] #2271 closed

[2015-12-16 22:31] kjeremy commented on #963
@100GPing100 How did you change the colors for avalondock?  I would like to do something similar so that it matches the MahApps theme.

[2015-12-17 04:01] MarkIvanDev opened #2277 "Create an accent resource dictionary dynamically"
"It is also possible to create an accent resource dictionary dynamically by using a specific color."

I saw this on http://mahapps.com/guides/styles.html#custom, could you explain how to do this? There are no documentation that explains how to do this.

[2015-12-19 05:27] theznerd opened #2279 "Corner resize issues with GlowBrush enabled"
This issue was previously reported (https://github.com/MahApps/MahApps.Metro/issues/1462), but was marked closed until a better bug report was produced.  Not sure if opening a new issue is the preferred method, so feel free to close this and reopen the other issue if that is preferred.

Using: .NET 4.6.1, Windows 10, MahApps.Metro 1.1.2

When attempting to corner resize a MetroWindow with a GlowBr

[2015-12-19 15:14] Cologler opened #2280 "TextBoxHelper.ClearTextButton show error"
if I add this as resource in App.xaml, `TextBoxHelper.ClearTextButton` will display wrong.

[code]

[2015-12-20 13:24] moser96 commented on #2243
I'm using Mahapps for my school project which calls James. It's currently under construction, but you can use my screenshots if you like them ;).

James can help you browsing your files and you can make your ohne workflows for it. Basically something like https://www.alfredapp.com/ for windows ;)
![01](https://cloud.githubusercontent.com/assets/13469452/11918132/09dc652e-a725-11e5-91b7-eccaacc6fef

[2015-12-21 13:48] AndreasSchmid1 commented on #2109
any news on this issue?

[2015-12-21 14:33] xxMUROxx opened #2281 "[Feature Request] DateTimePicker?"
Dear Community: I have created a DateTimePicker-control with MahApps style. Is there any interest in adding this control to MahApps?

![datepickersample](https://cloud.githubusercontent.com/assets/4341039/11932696/993e32ec-a7f7-11e5-8645-a023e434706c.png)

[2015-12-21 22:49] punker76 commented on #2279
@theznerd please try this with the latest alpha version, which is also available via nuget, cause the issue should be fixed in there...

[2015-12-21 22:52] punker76 commented on #2280
@Cologler it's not recommended to make a default TextBlock syle for the hole application, this have some bad side effect e.g. to TabItems...

[2015-12-21 22:52] #2280 closed

[2015-12-22 00:01] Allann commented on #2281
looks good.  looking forward to trying it out.  well done and thanks.

[2015-12-22 04:00] Cologler commented on #2280
Could you specify the font for `TextBoxHelper.ClearTextButton`?

[2015-12-22 07:08] theznerd commented on #2279
@punker76 Still seems to be an issue in 1.1.3-ALPHA257

[2015-12-22 15:48] #1885 closed

[2015-12-22 15:48] #1375 closed

[2015-12-22 15:48] #2020 closed

[2015-12-22 15:50] #2127 closed

[2015-12-23 14:13] punker76 commented on #2279
@theznerd Do you use a higher DPI setting?

[2015-12-23 14:16] #2237 closed

[2015-12-23 15:46] theznerd commented on #2279
Yes I do now actually - didn't even think to mention that, but it makes sense why I didn't notice it in my old development machine.

[2015-12-24 22:27] #2164 closed

[2015-12-25 01:59] p76984275 commented on #2281
:+1: A promising and practical feature. Hope MahApps can have this in the future.

[2015-12-28 23:27] Elite182 commented on #2070
Hi I open again this subject because I can't display my CustomDialog.

I create my custom like bigworld said, and I call it like this :

    MyCustom Dialog = new MyCustom(Results);
    await App.CurrentWindow.ShowMetroDialogAsync(Dialog);

the popup appair but no content are display ... just an empty dialog...

Have you an idea ?
Thx in advance !

[2015-12-29 21:53] taori opened #2283 "Is there a way to style the buttons inside a MessageDialog without replacing the ControlTemplate?"
Basically i think the default focus visualization is too subtle and i'm wondering if there's a more convenient method of affecting the styling there.

[2015-12-30 12:37] AndrewNoyes commented on #2281
Dang, that looks sweet! Nice work

[2015-12-31 09:31] robert0814 opened #2284 "element is shaking when i drag it"
I am using ZoomControl which belongs to WPF Extensions.
when I drag the rectangle from the sample, the rectangle shakes. if i change the metrowindow to normal window, it goes fine.
I have no idea how it comes.
u  could download code from https://wpfextensions.codeplex.com/
and try zoomcontrol. Drag the rectangle slowly. u will see it.

[2015-12-31 12:03] punker76 commented on #2284
@robert0814 What do you mean with `shaking`? Can you try the latest Alpha version? Thx.

[2015-12-31 12:05] punker76 commented on #2283
@taori Yes, you can override it via the [CustomResourceDictionary](https://github.com/MahApps/MahApps.Metro/blob/master/MahApps.Metro/Controls/Dialogs/BaseMetroDialog.cs#L414) property.

[2015-12-31 13:05] taori commented on #2283
@punker76 ok, cool. looking forward to the documentation. right now intellisense is not picking it up yet because it's no dependency property. Hence documentation would indeed be useful.

[2015-12-31 15:47] taori opened #2285 "Validation Message does not display if window is maximized"
![image](https://cloud.githubusercontent.com/assets/5545184/12065665/81d373c4-afdb-11e5-8338-07d76ce10fe2.png)
![image](https://cloud.githubusercontent.com/assets/5545184/12065673/953646f8-afdb-11e5-8120-20db461034ae.png)
![image](https://cloud.githubusercontent.com/assets/5545184/12065679/adda6d60-afdb-11e5-8a2b-b009720b86c4.png)

As visible in the screenshots the placement adapts correctly to in

[2015-12-31 19:08] mike-ward opened #2286 "Titlebar tooltip no longer works in 1.2"
I set the title bar tooltip as follows:
[code]
This worked in 1.1.2

The values are not null so the property binding is set but there's no tooltip when I hover over the ttitle bar.

See https://github.com/mike-ward/Markdown-Edit (MainWindow.xaml.cs)

[2016-01-01 17:19] TyBarthel opened #2287 "IsWindowDraggable broke starting in 1.2"
Is this broke in 1.2 or did the behavior change?  I don't appear to be able to drag even a basic vanilla window by mouse clicking/dragging on any position except the title bar.

[2016-01-02 23:54] iskenxan commented on #2287
I just tested it out and it worked fine for me, if you check IsWindowDraggable property that you mentioned,  you will be able to drag and move the window , if you leave it unchecked , you can only resize it.

[2016-01-03 00:52] iskenxan commented on #2277
The process is pretty much explained in the manual, however I will try to explain in more details.
First you need to create a Resource Dictionary and add the XAML code from the guide(http://mahapps.com/guides/styles.html#custom) to it. Then you open the App.xaml.cs file in your project , it will be a child of App.xaml file and add the following code to it:
 protected override void OnStartup(Startu

[2016-01-03 15:48] Alkalinee commented on #2287
@iskenxan yes, when you drag using the titlebar, but in version 1.1.2 it meant dragging from everywhere (for example if ShowTitleBar is false).

[2016-01-03 16:11] Alkalinee opened #2288 "First 30 units of flyout aren't clickable"
Hey,
I just updated to the new MahApps.Metro version and noticed the the first 30 units of a flyout aren't clickable because there lays an invisible grid.
![FlyoutNotClickable](http://fs5.directupload.net/images/160103/4w5gya39.png)
(As you can see on the picture, even if the mouse is directly over the button, the hover style doesn't get applied)

First, I was sure that it was my fault and I forgo

[2016-01-03 17:39] Alkalinee commented on #2288
Okay, I figured out that this part in flyout.xaml causes the problem:
[code]

If I set the title bar height to 0, everything is awesome. I think that you've missed in the implementation that you can adjust the flyout height and that it doesn't have to overlay the title bar. I have no idea how I could solve this problem because I don't know why you need that.

[2016-01-03 19:50] zynthar opened #2290 "Setting WindowButtonCommands styles"
I'm currently changing the styles of the Min, Max and Close buttons with these properties: https://github.com/MahApps/MahApps.Metro/blob/develop/MahApps.Metro/Controls/MetroWindow.cs#L88-L93

However as they have been marked as `Obsolete` I wanted to update my code as requested in the obsolete messages. The problem is that there seems to be no other way of changing the `WindowButtonCommands` style

[2016-01-04 04:24] CADbloke commented on #2243
I'm going to use it for www.tvCAD.tv. Today is day zero so I have no bugs. Tomorrow is another day.

[2016-01-04 09:55] GAMP opened #2291 "Flyouts not working after upgrade to 4.6"
Hi.

I have upgraded my project to .NET 4.6 and since then whenever there is a fly-out to be opened an exception occurs with following error

Cannot add instance of type 'SetFlyoutOpenAction' to a collection of type 'TriggerActionCollection'. Only items of type 'T' are allowed.

I have made sure that the interactivity dll referenced is .NET 4.5 version but still was not able to make it work.

[2016-01-04 10:08] bigworld12 commented on #2291
delete bin, object folders and re build solution
On Jan 4, 2016 11:55 AM, "GIZMO APPLICATION MANAGMENT PLATFORM [GAMP]" <
notifications@github.com> wrote:

[2016-01-04 10:18] GAMP commented on #2291
Same problem :(

[2016-01-04 12:40] GAMP commented on #2291
Fixed. I had a different assembly loaded by some code that seem to have caused this error.

[2016-01-04 12:40] #2291 closed

[2016-01-04 13:10] punker76 commented on #2290
@zynthar Hi, based on @crumbl3d [changes](https://github.com/MahApps/MahApps.Metro/pull/2152), a short how to...

There are now two styles (Light, Dark) which will be used based on `OverrideDefaultWindowCommandsBrush` and it's lightness (default is the Light style).

So, put these at your `App.xaml`

[code]

Hope this helps.

[2016-01-04 13:59] happschinson opened #2292 "Tile not clickable?"
I am trying to use Metrotiles. They align fine within a WrapPanel, but none of them is clickable.
Neither the click Animation ("Shrink"-Effect?), nor the Click-Event work.
My XAML:

    <ScrollViewer HorizontalScrollBarVisibility="Disabled"
                  VerticalScrollBarVisibility="Auto">
            <Grid>
                <Grid.ColumnDefinitions>
                    <ColumnDefinition Width="

[2016-01-04 14:08] crumbl3d commented on #2290
I guess I should've written a how to when I posted the pull request. I couldn't have thought a way to do this easier without removing much of the available code. That said though I don't think this is hard since the only thing you need to do is make a style and bind it to `WindowsButtonCommands` like @punker76 posted above. If you have any problems feel free to post them here and tag me since I do

[2016-01-04 14:17] #2292 closed

[2016-01-04 14:23] happschinson opened #2293 "Align Tile Title"
How can I align the title of a Metro Tile to center?

[2016-01-04 15:21] evilbaschdi commented on #1848
I had to set the index to 2 to get this working in my case, but now it runs perfectly. thank you!

[2016-01-04 18:28] zynthar commented on #2290
Thanks guys! I'll try this out later today :)

[2016-01-05 01:53] TyBarthel commented on #2287
@Alkalinee Yep, exactly.  @iskenxan set ShowTitleBar to false and you won't be able to move the window anywhere because the title bar is the only place to grab.

[2016-01-05 12:36] robert0814 commented on #2284
the version is 1.1.2
when u move rectangle slowly, the rectangle will not move smoothly. it is
like the object moved from old position to a new position.
i hard to describe it, cos my english is very pool.
u could try wpfextensions from https://wpfextensions.codeplex.com/.

cheers
robert

On Thu, Dec 31, 2015 at 8:04 PM, Jan Karger <notifications@github.com>
wrote:

[2016-01-05 13:09] punker76 commented on #2293
@happschinson That's not possible for now, so you must create your own style based on this one https://github.com/MahApps/MahApps.Metro/blob/develop/MahApps.Metro/Themes/Tile.xaml#L6-L95

[2016-01-06 04:13] iskenxan commented on #2287
@Alkalinee Yeah , it only works for title bar , sorry about that

[2016-01-06 06:11] xiperware commented on #2287
Can replicate bug on win 10, create an empty MetroWindow with ShowTitleBar="False", run, can't drag window from anywhere, reverting to older version and it works fine.

[2016-01-06 06:31] elesh9 opened #2296 "Textbox control have hidden focus"
Test Project
Visual studio 2015
MahApps.Metro.1.2.0.0
.Net Framework - 4.6

MetroWindow.xaml

[code]

[code]

when put cursor in first textbox and press TAB key now cursor not show and cursor not shown.

[2016-01-06 12:57] #2290 closed

[2016-01-06 14:20] happschinson commented on #2293
thanks und grüße aus kölle! ;)

[2016-01-06 15:57] zynthar commented on #2238
I would also like to change the button content to match the Win10 style.

[2016-01-06 21:22] zynthar commented on #2238
I was able to do this by changing the template on the `WindowButtonCommands` control with the following XAML (place in a resource dictionary):
[code]

[2016-01-07 04:01] elesh9 commented on #2296
this bug occurred after   MahApps.Metro-1.1.3-ALPHA252   version

[2016-01-08 09:07] Memphizzz opened #2300 "ThemeManager.cs NullReferenceException"
I've just updated to 1.2.0. and found this NullReferenceException when changing the Applications Theme using the ThemeManager in code behind.

This line: `var key = oldAccent.Resources.Source.ToString().ToLower();` in ThemeManager.cs is causing it. It appears that the "Source" is null in this case.

HTH

[2016-01-08 12:30] laurencee opened #2301 "1 pixel border on metro window - 1.2"
After updating to 1.2 one of my app windows appears to have a 1 pixel border from "PART_Border".

My metro window view contains a Border control with a margin, I do this because I stack multiple windows vertically above each other and like to have some spacing between the windows.

Before 1.2 this worked fine but now it doesn't look right because of the PART_Border element having its own border.

[2016-01-08 12:54] punker76 commented on #2301
@laurencee Hi, there is a change in the BorderlessWindow behavior, sorry for that. But you can fix this by doing this

- set `BorderThickness="0"` for MetroWindow
- set `AllowsTransparency="True"`` in the Initialized event

[code]
![2016-01-08_13h53_30](https://cloud.githubusercontent.com/assets/658431/12198326/3a11bfde-b60f-11e5-9b7e-092029ef0972.png)

[2016-01-08 13:00] laurencee commented on #2301
Ah setting BorderThickness on the MetroWindow was the key, not sure why I didn't think to do that ;)

Cheers for the quick reply, looks all good now.

I actually set the transparency/other window parameters through caliburn micro so I never ran into the transparency issue until I ran a plain old WPF application for testing this bug out heh...

[2016-01-08 13:02] laurencee commented on #2301
By the way, the transparency thing might be more of an issue than the border for others if that's a new change in that it has to be applied after window initialization.

[2016-01-08 13:22] punker76 commented on #2301
@laurencee MahApps sets the AllowsTransparency always to false, cause true has some beast bugs...

[2016-01-08 14:22] #2301 closed

[2016-01-08 14:52] kmetic opened #2302 "Confirm before closing MetroTabItem"
I have a MetroTabControl with ItemsSource bound to ObservableCollection<MetroTabItem>. All MetroTabItems have CloseButtonEnabled set to true. Each MetroTabItem represents a document, which the user can edit.

I would like to show a modal dialog when the user presses the close button on the MetroTabItem with message 'are you sure?' and buttons 'yes' and 'no'. Any ideas how to do this?

PS - I am us

[2016-01-08 17:00] manekovskiy opened #2305 "Add a "Remember ..." checkbox to the LoginDialog"
It would be nice to have a checkbox on `LoginDialog`. From my experience there are a lot of cases when users want to save their username or both username and password.

![checkbox-on-login-dialog](https://cloud.githubusercontent.com/assets/873602/12203721/220bb97e-b639-11e5-9298-9fe6c4d25ff1.png)

The checkbox text and visibility should be configurable in the same way as for example `AffirmativeBu

[2016-01-08 17:19] bigworld12 commented on #2305
i agree this should be added

[2016-01-09 10:38] xxMUROxx commented on #2305
Agree :+1:

But then we have to store some information into the application settings. Each *logon dialog* must have an ID that identifies the dialogue, whether it should be opened or not---depending on the selection.

[2016-01-09 22:19] KRSogaard opened #2306 "Lagging when adding to a collection from a FlyOut"
I am not sure 100% where the problem is located. But i know it only occurs when a Fly out is involved. But when i add a new view model, to an observable collection that is bound to a TabControl, will my whole UI start lagging.

I have recorded an example here https://www.youtube.com/watch?v=dPjwpJzlv-M&feature=youtu.be (Sorry about the music, forgot to close spotify when i recorded it, so Youtube

[2016-01-10 05:24] KRSogaard commented on #2306
I have found that just opening at closing the flow out will cause the lagging, so i do not need to run a command from it for it to start lagging.

[2016-01-10 11:14] manekovskiy commented on #2305
@xxMUROxx When we need to access anything that requires authentication we typically have some abstractions like "Authenticator" and "CredentialsStore". Authenticator can either ask CredentialsStore for saved credentials or start the authentication process from the very beginning which involves collecting a username/password using the LoginDialog.
And CredentialsStore knows how to save/retrieve cre

[2016-01-10 16:41] thoemmi commented on #2305
@xxMUROxx why should the settings be stored by MahApps.Metro? Username and password aren't stored either. It's up to the application (or business logic respectively) to both provide the login dialog with a `LoginDialogSettings` instance and to process its returned `LoginDialogData`. MahApps.Metro is meant for the presentation layer only.

[2016-01-10 19:55] nicky112 opened #2309 "Sequence contains more than one element"
Hello,

I am using SimpleChildWindow. If I display one childwindow and make a call to the msgbox the msgbox is displayed as expected. However, if I create another childwindow from that already opened childwindow and make a call to show a msgbox, I get the following error:

Sequence contains more than one element.

**The error occurs on calling ShowMessageDialog("...");**

Basically ShowMessageDial

[2016-01-10 21:16] #2296 closed

[2016-01-11 07:37] gigios commented on #2238
Perfect!
Thanks zynthar, this is a perfect solution for me :)

[2016-01-11 07:37] #2238 closed

[2016-01-11 09:07] sachokFoX commented on #2270
for xaml code I am using https://visualstudiogallery.msdn.microsoft.com/3de2a3c6-def5-42c4-924d-cc13a29ff5b7 extension.

[2016-01-11 09:44] elesh9 commented on #2296
Thanks.

[2016-01-11 10:03] xxMUROxx commented on #2270
@sachokFoX same for me. Nice extension :+1:

[2016-01-11 15:22] Ashwani44 opened #2310 "Beginner tiles Doubt"
I am beginner in WPF. I am making one project using Mahapps.Metro.
On my main window i have made some tiles . i have 5 user controls . On click of my 1st tile i want to navigate to my 1st user control. how do i do that ??
Any help would be appreciated.
Thank you

[2016-01-12 11:48] bloritsch opened #2311 "ComboBox won't toggle closed in ribbon"
I understand it's not a common usage for the ComboBox, but I've extended the ComboBox to create a color picker for my app.  Thank's to Microsoft's cranky and redundant Ribbon API I either have to use a standard control in a Ribbon or have two controls.  Since the RibbonCategory doesn't have a style in Mahapps, and I hate duplicity because the freaking API writers got lazy, we opted for one control

[2016-01-12 14:06] akshithrajesh290 opened #2312 "Progress ring visibility"

[2016-01-12 14:20] punker76 commented on #2312
@akshithrajesh290 What's your problem with the `ProgressRing` visibilty?

[2016-01-12 14:55] N0ct3 commented on #2288
Same issue here.
I have to get this part by name and set its template to null to potentially make the whole flyout surface clickable.

[2016-01-12 16:12] JobaDiniz commented on #1694
If anyone stumble on this, the answer lies here: http://stackoverflow.com/questions/7250709/set-a-buttons-content-in-style

[code]

[2016-01-12 16:24] Memphizzz opened #2313 "Comparing the assembly name resulted in the mismatch: PUBLIC KEY TOKEN"
After upgrading to 1.2.1 all applications using MahApps.Metro show a "Set property 'System.Windows.ResourceDictionary.DeferrableContent' threw an exception." on start which is due to a mismatch of the public key token.

Any Idea how to fix this?

[2016-01-12 16:27] BrunoJuchli opened #2314 "After upgrading from MahApps.Metro.1.1.2.0 to MahApps.Metro.1.2.1.0, application fails to start with because it tries to load an unsigned version of MahApps.Metro"
Hi
I've got kind-of a strange problem here. After upgrading from MahApps.Metro.1.1.2.0 to MahApps.Metro.1.2.1.0, i've got a `FileLoadException` because it tries to load an unsigned version of MahApps.Metro.
Here's the FusionLog of the exception:

Running under executable  C:\development\current\03_Source\DesktopDispatchConsole\DesktopDispatchConsole\bin\Debug\Pmr.DesktopDispatchConsole.exe

 (Part

[2016-01-12 16:35] bigworld12 commented on #2314
try deleting obj and bin folder

[2016-01-12 16:36] BrunoJuchli commented on #2314
@bigworld12
been there, done that ;-)

[2016-01-12 16:53] BrunoJuchli commented on #2313
hmm.. guess we got the same issue: https://github.com/MahApps/MahApps.Metro/issues/2314 posted the issue just a few minutes apart, too ;-)

[2016-01-12 17:22] punker76 commented on #2313
-> #2314

[2016-01-12 17:22] #2313 closed

[2016-01-12 17:23] punker76 commented on #2314
@BrunoJuchli I'll fix this, it's the fu...g strong name signing stuff

[2016-01-12 19:22] punker76 commented on #2314
Fixed with v1.2.2

[2016-01-12 19:22] #2314 closed

[2016-01-12 22:26] bloritsch commented on #2311
I was not able to find anything in the style.  For my control, I added a property change callback on IsDropDownOpenProperty and forced it to the old value if the change was less than 1/10th of a second in the past.

[2016-01-12 22:28] vinaydwivedi opened #2315 "Remove Globalization Folders"
Hi, is there a way to remove the globalization folders automatically created in the build folder? Total size of those folders is 221 KB, don't need any other language support.

[2016-01-12 22:46] punker76 commented on #2315
@vinaydwivedi what "globalization folders" do you mean?

[2016-01-12 22:49] vinaydwivedi commented on #2315
Sorry localization folders - Just started using MahApps.Metro in my test build to evaluate, but upon building the solution - debug folder has multiple copies of System.Windows.Interactivity.resources.dll for each locale. Is there any way to disable that?

[2016-01-13 01:53] vinaydwivedi opened #2316 "How to close CustomDialog on Cancel Key press (Code attached)"
CustomDialog dialog = new CustomDialog() { Title = "About", Height = 150, Width = 300 };
            AboutVM aboutViewModel = new AboutVM(x => _dialogCoordinator.HideMetroDialogAsync(this, dialog));
            dialog.Content = aboutViewModel;
            await _dialogCoordinator.ShowMetroDialogAsync(this, dialog);

aboutViewModel has a OK button with Close command - Works good with Enter press (d

[2016-01-13 05:55] iskenxan commented on #2310
Can you be more specific,maybe send a screen shot? What exactly do you mean by navigate to 1st user control? You could try using NavigationService, you can read more on that here-http://paulstovell.com/blog/wpf-navigation

[2016-01-13 08:05] thoemmi commented on #2316
`Button`s have a property named [`IsCancel`](https://msdn.microsoft.com/en-us/library/system.windows.controls.button.iscancel(v=vs.110).aspx):

Just add something like this:
[code]

[2016-01-13 08:27] andrewcartwright1 opened #2317 "ShowInputAsync with one button instead of two?"
Hey, how do you go about removing a button from an ShowInputAsync dialog?
Currently this doesn't look possible via metro settings, many thanks

[2016-01-13 09:21] jonny123d opened #2318 "Message dialog overlay is not displayed"
Hello,
I some cases when the message dialog is shown using ShowMessageAsync() method the dark overlay is not displayed. In my own project it happens a lot of times, but is hard to reproduce all cases because I use a dll library, threads, ASP.NET Identity for login, large code file,... I have found a simple example when it happens, may be fixing this bug solves all cases.

This is my environment:
-

[2016-01-13 11:00] aaad opened #2319 "Is MetroWindow Per-Monitor DPI-Aware?"
Does MetroWindow use Per-Monitor DPI-Aware features provided by Windows 8.1+?

https://msdn.microsoft.com/en-us/library/windows/desktop/ee308410%28v=vs.85%29.aspx

If no: feature request :)

Thanks!

[2016-01-13 11:56] vinaydwivedi commented on #2316
Awesome, many thanks.

[2016-01-13 11:57] #2316 closed

[2016-01-13 11:59] punker76 commented on #2315
@vinaydwivedi this comes not from MahApps. Do you have another library that contains `System.Windows.Interactivity`?

[2016-01-13 12:06] vinaydwivedi commented on #2315
No I did not add an explicit reference to System.Windows.Interactivity (there is none in my project). Started seeing these folders after I added reference to MahApps.Metro.dll.

I just downloaded the code from GITHub. May be I am using a wrong build.

If you look at debug folder at path (Github code) - ..\..\..\..\MahApps.Metro-develop\MahApps.Metro-develop\samples\Caliburn.Metro.Demo\bin\Debug -

[2016-01-13 12:31] punker76 commented on #2315
@vinaydwivedi These comes with `Caliburn.Micro.Platform.dll`
![2016-01-13_13h30_53](https://cloud.githubusercontent.com/assets/658431/12294343/ed0dd7e2-b9f9-11e5-9d58-1a9dde128cbe.png)

[2016-01-13 13:32] beachwalker commented on #2287
Can replicate this, too.

ShowTitleBar="False" and you can't move the window bei drag the Titlebar.
Workaround: Set Title="". I use Style="{DynamicResource CleanWindowStyleKey}".

[2016-01-13 13:55] vinaydwivedi commented on #2315
MahApps.Metro project has reference to this dll as well.

![untitled](https://cloud.githubusercontent.com/assets/9931326/12296070/59126ce6-ba40-11e5-861d-0fa8400ca7ab.png)

Many thanks.

[2016-01-13 13:56] punker76 commented on #2315
@vinaydwivedi Yes, but to its own local lib folder.

[2016-01-13 14:04] vinaydwivedi commented on #2315
Ok - So I tried referencing to MahApps.Metro.dll "MahApps.Metro-develop\MahApps.Metro-develop\MahApps.Metro\bin\Debug\NET45" Which DLL should I refer to in my project?

Just tried a new WPF project, added refrence to MahApps.Metro.Dll - Build and these folders are back.

[2016-01-13 14:48] thoemmi commented on #2315
That's weird. These localization assemblies are neither included in the NuGet package nor is Interactivity referenced as dependency:
![image](https://cloud.githubusercontent.com/assets/73690/12297205/5102e334-ba0c-11e5-8208-915f56308210.png)

Do you use NuGet, or do you reference a local build?

[2016-01-13 14:51] simonmau opened #2320 "window cant be moved around using a touch screen"
if you use a touch device, a window cant be moved around like a normal wpf window, you have to use a mouse

[2016-01-13 15:04] vinaydwivedi commented on #2315
referencing from local build after getting the source from Git.

[2016-01-13 15:15] thoemmi commented on #2315
Then I guess because of Caliburn the localization DLLs are copied to the output folder (`bin\debug\`). When you reference the `MahApps.Metro.dll` from that folder, Visual Studio detects the dependency on `System.Windows.Interactivity` and copies it along with its localization assemblies.

Have you tried to use the NuGet package?

[2016-01-14 12:18] jonny123d opened #2321 "DialogManager throws InvalidOperationException when DialogMessage is shown in second time (Threads and SimpleChildWindow involved)"
Hello,
I have been being a problem with message dialogs when I'm using threads and child windows. Here is exception's information:

[code]

This is my environment:
- Windows 8.1 Pro (64 bits)
- Visual Studio Ultimate 2013 Update 4

I'm using Mahapps stable libraies:
- Mahapps.Metro 1.2.2.0
- Mahapps.Metro.SimpleChildWindow 1.2.0.0

I developed an application to show that:
http://1drv.ms/1PZTAu1

T

[2016-01-15 08:50] BrunoJuchli commented on #2314
@punker76 thanks for all the good work! :-)

[2016-01-15 10:19] GreenEyedAndy opened #2323 "ToggleSwitch doesn't show that little border"
Hi,
in your demo app that ToggleSwitches all have a little border around the SwitchOnBrush or the SwitchOffBrush.
If I try to use your control I don't get this border.
Is that an error or something that can be adjusted?
![image](https://cloud.githubusercontent.com/assets/2870571/12350786/82787a78-bb79-11e5-86b7-63977002a53e.png) yours
![image](https://cloud.githubusercontent.com/assets/2870571/123

[2016-01-15 10:32] punker76 commented on #2323
@GreenEyedAndy Can you just post some XAML code?

[2016-01-15 10:37] GreenEyedAndy commented on #2323
I use it just like in this line.
[code]

[2016-01-15 10:42] punker76 commented on #2323
@GreenEyedAndy Mh, just tested your code...

![image](https://cloud.githubusercontent.com/assets/658431/12351334/164d9e92-bb7d-11e5-954f-41c4a36eeb30.png)

...looks fine.

[2016-01-15 10:49] GreenEyedAndy commented on #2323
I made a little video - I have no Idea why it doesn't show that border.
[2016-01-15_1146.zip](https://github.com/MahApps/MahApps.Metro/files/91717/2016-01-15_1146.zip)

[2016-01-15 10:50] GreenEyedAndy commented on #2323
Maybe I must include some dynamic resources?

[2016-01-15 11:55] punker76 commented on #2323
@GreenEyedAndy Your video shows only the designer, so is this also an issue if you run your app? Do you put the resources on the right place (App.xaml)?

[2016-01-15 12:13] GreenEyedAndy commented on #2323
Ha, that's the problem! I didn't put the resources in the app.xaml.

Thanks for your help.

BTW: great components

[2016-01-15 12:25] punker76 commented on #2323
@GreenEyedAndy Thx

[2016-01-15 12:25] #2323 closed

[2016-01-15 16:02] thoemmi commented on #2321
@punker76 I guess that's an issue in SimpleChildWindow. Since a09542fa there must be only one child in the `PART_MetroActiveDialogContainer` container. Inside to MahAppsMetro this is managed by  `DialogManager.AddDialog`/`RemoveDialog`.
However the SimpleChildWindow library circumvents this and tries to access `PART_MetroActiveDialogContainer` [directly](https://github.com/punker76/MahApps.Metro.S

[2016-01-15 16:12] thoemmi commented on #2321
@punker76 I changed SimpleChildWindow to use `PART_Metro**Inactive**DialogsContainer` instead of `PART_Metro**Active**DialogContainer`. This way @jonny123d's projects runs all of his use cases without a flaw (though I didn't check if the `ChildWindow`s are still in the container after closing)

[2016-01-15 17:10] punker76 commented on #2321
@thoemmi So it's better you create a PR :-)

[2016-01-15 17:54] thoemmi commented on #2321
Here you go :grin:

[2016-01-16 14:32] jonny123d commented on #2321
Thank you @thoemmi for your time checking this issue, I hope this will fix the problem in my projects.

[2016-01-16 22:09] punker76 commented on #2320
fixed in v1.2.3

[2016-01-16 22:09] #2320 closed

[2016-01-16 22:23] #2305 closed

[2016-01-16 23:23] punker76 commented on #2321
should be fixed with MahApps.Metro.SimpleChildWindow v1.3.0 and MahApps.Metro v1.2.3

[2016-01-16 23:23] #2321 closed

[2016-01-16 23:23] punker76 commented on #2318
should be fixed with MahApps.Metro.SimpleChildWindow v1.3.0 and MahApps.Metro v1.2.3

[2016-01-16 23:23] #2318 closed

[2016-01-16 23:34] jonny123d commented on #2318
Thank you very much @punker76 I will try it on monday with my solution

[2016-01-17 15:28] vinaydwivedi commented on #2315
Yes, it works well with NuGet package. But I am thinking to modify the project a bit to suit my project theme. Why does project 'MahApps.Metro' reference System.Windows.Interactivity? Is there any real dependency?

[2016-01-17 17:06] Ashwani44 commented on #2310
can anybody tell how do i implement paging on my datagrid ???. i don't want
to use any 3rd party control .
Any alternative
Thank you

On Wed, Jan 13, 2016 at 11:26 AM, iskenxan <notifications@github.com> wrote:

[2016-01-17 19:13] thoemmi commented on #2315
Just search from `System.Windows.Interactivity` in the source code. MahApps.Metro uses and implements several triggers and behaviors.

[2016-01-18 06:31] robert0814 commented on #2284
thx @punker76 , the problem has been fixed. my project has been updated to version 1.2.3, no such issue comes out.
please close this bug.

[2016-01-18 06:35] #2284 closed

[2016-01-18 10:21] punker76 commented on #2315
So I think this is not an issue by MahApps...

[2016-01-18 10:48] thoemmi commented on #2315
Yeah, I think you can close this issue.

[2016-01-18 11:23] #2315 closed

[2016-01-18 12:03] punker76 commented on #1066
tested with 1.2.3 and it seems that this issue is solved

[2016-01-18 12:03] #1066 closed

[2016-01-18 12:09] punker76 commented on #1715
Default button for message dialog can now be set by the [new settings property](https://github.com/MahApps/MahApps.Metro/commit/da43741f4d7ebe16aa02974c6daa24a90c97abf9) `DefaultButtonFocus`, available in v1.2.3

[2016-01-18 12:09] #1715 closed

[2016-01-18 12:10] punker76 commented on #1738
should be fixed in v1.2.3

[2016-01-18 12:10] #1738 closed

[2016-01-18 12:18] punker76 commented on #1742
should be fixed in v1.2.3

[2016-01-18 12:18] #1742 closed

[2016-01-18 12:23] #2312 closed

[2016-01-18 12:43] jonny123d commented on #2309
@nicky112 Check if this issue is solved with MahApps.Metro.SimpleChildWindow v1.3.0 and MahApps.Metro v1.2.3

[2016-01-18 12:55] bigworld12 commented on #2312
maybe github problem but here is what he wrote

Need to show Progress ring for at least 5 seconds in My Application

I tried using Threads But I am getting exception Is there any way to show the progress ring for few seconds

—

[2016-01-18 12:56] punker76 commented on #2312
@bigworld12 It's more a SO question.

[2016-01-18 12:59] bigworld12 commented on #2312
oh ok xd

[2016-01-18 21:34] 100GPing100 commented on #963
@kjeremy I created styles for each of the components belonging to AvalonDock. AvalonDock has some styles already, you can base yourself on them.

[2016-01-19 13:27] dmex opened #2324 "DataGrid activated by Titlebar"
Hello,

I've found a weird issue where the DataGrid is activated when clicking the Titlebar of separate windows within the same application.

Requirements:
* 2 WPF windows with any MahApps theme.
- The first window containing only a DataGrid with say 100 items and 6 columns (each subitem also containing items).
- The second window containing nothing (but can contain anything).

The bug becomes ver

[2016-01-20 19:29] kjeremy commented on #963
@100GPing100 Can you share them in a gist?  I tried to figure it out but I find the styling REALLY complicated for AvalonDock.

[2016-01-21 11:25] punker76 commented on #2324
@dmex I've got it

[2016-01-21 14:03] punker76 commented on #2309
should be solved in 1.2.3

[2016-01-21 14:03] #2309 closed

[2016-01-21 14:25] punker76 commented on #2246
@ProIcons I tested your xaml code in my VS 2015 designer (in the MahApps main demo) and all works fine™. I just googled about it and found these two things, maybe its the same like yours
- https://social.msdn.microsoft.com/Forums/en-US/8caf3bcb-3e07-4d08-a86e-c7068e8e8305/upgrasded-to-net-45-and-now-get-cannot-add-instance-of-xxx-to-a-collection-of-type?forum=wpf
- http://stackoverflow.com/a/32492

[2016-01-21 16:23] Dotnetifier commented on #2240
I do not know what exactly your program is doing, but I don't think that this is a MahApps.Metro related issue. The OpenFileDialog is a standard Windows dialog, and the error on the console appears to be a Direct3D (`d3d`) error. I'm not certain if this is related to "wine" appearing in the path, because that would mean this is somehow virtualized in Wine.

[2016-01-21 21:56] #2288 closed

[2016-01-21 21:56] #2324 closed

[2016-01-21 23:42] Dotnetifier opened #2327 "Window resize stutters when TextBox is focused"
I resized a MetroWindow, and the bottom-right corner of the MetroWindow just lagged behind the cursor. This only occurs when a TextBox field was focused and does not occur in a non-MAM styled application.

This bug can be reproduced in the latest version of the `develop` branch (tested against 7cc74858f19cbe2497a09a244777cf569ea84f68) on a Windows 10 10586.63 x64 setup (I'm using an NVIDIA GeForce

[2016-01-22 10:26] punker76 commented on #2300
@Memphizzz Please, can you give us more information? How do you add the MahApps style resoureces? How do you set the default theme? Which version do you use?

[2016-01-22 10:29] #2287 closed

[2016-01-23 01:04] TyBarthel commented on #2287
I updated to 1.2.4, but still appear to not be able to drag a window outside of the title bar.

ShowTitleBar="False"
IsWindowDraggable="True"

[2016-01-23 14:06] punker76 commented on #2287
@TyBarthel If you have controls in your window which are hittest visible, so there is no chance to drag the window.

[2016-01-23 18:10] beachwalker commented on #2287
works for me now with 1.2.4

[2016-01-23 21:43] punker76 commented on #2310
@Ashwani44 Please try using [stackoverflow.com](http://stackoverflow.com/) for your beginner questions or try first learn more about WPF...

[2016-01-23 21:43] #2310 closed

[2016-01-23 21:46] #2281 closed

[2016-01-24 00:23] TyBarthel commented on #2320
@punker76 I think something else might possibly be going on where something else changed between 1.1.2 and 1.2.  While my app is on 1.1.2, I can drag move all over the place.  Once I upgrade to 1.2+ (including 1.2.4) I cannot.

I'll do some more investigating when I get a chance and see if I can narrow it down or provide a more concrete example to repro.

[2016-01-24 00:24] TyBarthel commented on #2287
@punker76 I think something else might possibly be going on where something else changed between 1.1.2 and 1.2. While my app is on 1.1.2, I can drag move all over the place. Once I upgrade to 1.2+ (including 1.2.4) I cannot.

I'll do some more investigating when I get a chance and see if I can narrow it down or provide a more concrete example to repro.

[2016-01-24 11:04] Ashwani44 commented on #2310
I am doing so. Thanks Jan 😃
On 24-Jan-2016 3:13 am, "Jan Karger" <notifications@github.com> wrote:

[2016-01-24 13:49] 100GPing100 commented on #963
@kjeremy Yes I sure can, I'll only be home either tonight or tomorrow though, so only then as I don't have those files here on my laptop.

[2016-01-24 23:48] TyBarthel commented on #2287
@punker76 I think I see what happened.  Prior to 1.2 you used to do drag/move by handling the window's MouseDown event, then in 1.2 you now do it with the PR that uses Thumb.  My case might be special, but I essentially have controls (i.e. tabs) all the way to the top of the window (i.e. Edge, Firefox, Chrome, etc.).  The old way works because it's based on just mouse down where the new Thumb way

[2016-01-25 04:45] ThomasWeiss commented on #2240
Thanks for your comment.
I know that the "core" issue doesn't come from MahApps (background: I run the app in VirtualBox with 3d acceleration enabled, so this is most probably some errors raised by the driver) but as I could not reproduce it without MahApps (a simple WPF app launched as a Console app), it thought the actual logging to the Console was done by MahApps.

I realise it's not a big deal

[2016-01-26 12:14] nicolausanne opened #2329 "Validation Message is displayed twice in ComboBox when setting TextBoxHelper.ClearTextButton to true"
![sicpa-net_chl0112367_20160126_130819_nthal_visa issuing system vis - embassy](https://cloud.githubusercontent.com/assets/2971680/12580323/caece25e-c42e-11e5-8808-98235f48e8a5.png)
![sicpa-net_chl0112367_20160126_130835_nthal_visa issuing system vis - embassy](https://cloud.githubusercontent.com/assets/2971680/12580324/caeee310-c42e-11e5-8009-3f3668cf69dd.png)

Using MahApps 1.2.4

Scenario to re

[2016-01-26 12:48] punker76 commented on #2329
@nicolausanne is this an editable combobox? can you show us the INotifyDataErrorInfo implementation?

[2016-01-26 13:05] nicolausanne commented on #2329
@punker76 This is not an editable combobox.

The XAML is the following:
![xaml](https://cloud.githubusercontent.com/assets/2971680/12581251/bd603dc8-c435-11e5-86c7-dac0d1f4bd71.png)

In the ViewModel, I just add only ONCE the message. I tried removing the <Style> in the XAML and the error message is displayed only one.
Unfortunately, I cannot show you the ViewModel implementation.

Let me know if

[2016-01-26 15:41] kjeremy commented on #963
@100GPing100 Great!  Please let me know when you have them up.

[2016-01-26 22:51] #2003 closed

[2016-01-26 22:51] #2114 closed

[2016-01-26 22:51] #2275 closed

[2016-01-27 22:19] punker76 commented on #1710
added with https://github.com/MahApps/MahApps.Metro/commit/8a77e75e0f095a46dfc8ae90430b7bfbe8311c45

[2016-01-27 22:19] #1710 closed

[2016-01-29 14:21] VOCCTQ opened #2331 "ShowMetroDialogAsync - Move main window"
Why it's not possible to move main windows while a dialog is shown with ShowMetroDialogAsync?
Can this be fixed in newer release or is it desired? If its's desired can it be set by an option?

Thanks

[2016-01-29 16:02] kjeremy commented on #1835
I see this too on Windows 7

[2016-01-30 00:38] bradley-dotnet opened #2332 "Calendar ignores IsTodayHighlighted property"
In version 1.2.4 (released) regardless of setting IsTodayHighlighted, today is highlighted. This makes it impossible to determine if it is currently selected. This code:

[code]

will reproduce the issue. Under my color scheme (done using overrides) it looks like this:
![error](https://cloud.githubusercontent.com/assets/13209721/12692009/5a633f40-c6a6-11e5-8edd-eb3a7c16292a.png)

Both the 29th and

[2016-01-30 18:43] berkay2578 opened #2333 "FlipView SelectedIndex resetting bug"
Update:
--
After a bit of tinkering I found out that whether FlipView.SelectedIndex is attached to a Binding, changing the active Tab will make it go back to Index 0. However, this will only happen once. If you change the Tab and then go back, FlipView will no longer reset back to Index 0 after you change tabs.

-----

I'm experiencing this bug in my own project, which you can access through https

[2016-01-31 14:47] dimio5 opened #2334 "DateTimePicker does not pick the Validation ErrorTemplate"
I know DateTimePicker is not released yet, but I was playing around with it and found out that if the user types an invalid date in the textbox, the validation popup is not shown although the border turns red.

I don't know the dev status of this control, so I am sorry if I shouldn't open an issue.
This can be easily replicated in the demo app by appending any letter in the textbox and tabbing out

[2016-01-31 22:04] jyrka98 commented on #2331
Well it's a dialog, so yes, it's meant to be like that.
Just add this to your windows constructor..

[2016-02-01 17:23] aaad opened #2336 "CustomDialog uses empty BaseMetroDialog constructor -> OwningWindow = null"
I use MahApps.Metro.Controls.Dialogs.CustomDialog in the context of a window which is not Application.Current.Window.

It's not possible to use CustomDialog with a set OwningWindow -> the base class BaseMetroDialog  trieds to do stuff on Application.Current.MainWindow.

Can you make OwningWindow writeable?

Thank you in advance :)

[2016-02-01 18:43] thoemmi commented on #2336
You can show the dialog in an external window. You have to call [`DialogManager.ShowModalDialogExternally`](https://github.com/MahApps/MahApps.Metro/blob/develop/MahApps.Metro/Controls/Dialogs/DialogManager.cs#L463). Does this help?

[2016-02-02 08:09] aaad commented on #2336
I would prefer to show it in my window, which is not Application.Current.MainWindow. Is there a reason to make OwningWindow read-only?

[2016-02-02 09:49] thoemmi commented on #2336
If you inherit from `BaseMetroDialog` it has a protected constructor where you can pass the owning window (which must be a `MetroWindow` though). Doesn't that help in your scenario?

[2016-02-02 10:42] dsaf commented on #2193
Hi @punker76 I have upgraded to 1.2.0 and then today to 1.2.4 and it seems to be reproducible.

This is the code I am using:

[code]

Removing the Watermark makes no difference.

Could you please re-open this issue (unless you cannot reproduce it)? It's not a must-have for me, but it would be nice to have it noted.

[2016-02-02 12:37] xxMUROxx commented on #2334
@dimio85 thank for the feedback. I will look into it

[2016-02-02 12:39] xxMUROxx commented on #2193
memo for me

[2016-02-02 19:11] barryBithead commented on #1378
The latest version of the code seems to have the same bug as well...

[2016-02-04 09:33] coussej opened #2337 "Flyout style from Accent to Light is not working"
In my code, I have a flyout called _modalFlyoutRight_ defined in my MainWindows.xaml, which I then use from child elements in the following form:

[code]

I use the same flyout for different content, and style it with both light and accent themes. When I go from Light -> Accent, all works, but from Accent to light the background remains in the Accent color. Maybe some properties are not explicitly

[2016-02-04 09:40] punker76 commented on #2337
@coussej changing the Flyout `Theme` on the fly is currently not fully supported

[2016-02-04 09:42] coussej commented on #2337
Can you think of a possible workarround to achieve what I'm trying here?

[2016-02-04 09:55] punker76 commented on #2337
@coussej maybe i found the cause why this happens, I'll look what I can do for a fix....

[2016-02-04 10:01] coussej commented on #2337
talk about service... :smile: thanks man!

[2016-02-04 18:16] gigios opened #2338 "Impossible to toggle the visibility of TitleBar with UseNoneWindowStyle!"
I have the necessity to start a window without border/control buttons/resize. To do this I have added some binding to the MetroWindow properies (UseNoneWindowStyle, IsWindowDraggable and ShowSystemMenuOnRightClick).
With this settings all works fine but when I change the property defined in the ViewModel (in binding with UseNoneWindowStyle), **the ShowTitleBar property stay False**!
I have checked

[2016-02-04 18:26] gigios opened #2339 "The Glow border does not follow the window is is used the UseNoneWindowStyle property!"
I'm playing to simulate the WindowStyle = None behavior, to do this I set some properties in the MetroWindow (UseNoneWindowStyle, IsWindowDraggable).
If my app start with the UseNoneWindowStyle set to false, I can see the TitleBar and I'm able to drag the window with the correct glow effect.
If I change in my ViewModel the UseNoneWindowStyle property (in binding with the Win property) the window h

[2016-02-05 20:40] kjeremy commented on #963
@100GPing100 any word?

[2016-02-06 11:02] ashishbhojani opened #2340 "How to change Datagrid Header Background using our custom style and based on MetroColumnHeader?"

[2016-02-07 15:12] bloritsch opened #2341 "Update Icon Guides"
Since Mahapps has the new PackIconMaterial and PackIconModern, the http://mahapps.com/guides/icons-and-resources.html guide is a bit out of date.  It would be really useful if we could have that updated with some generated HTML.

Have a quick guide for how to declare the icon in code, then a table with the "Kind" enum values under the icon image itself (this part would be generated from code).  Th

[2016-02-08 16:53] barryBithead opened #2342 "Flyout"
1) Is there a way to scale the close arrow (button) of an open Flyout ? It's a bit bigger than the Circle Button used to open it, and it would be nice to have them the same size. (i.e. the Flyout button needs to be smaller to match my circle button, not the other way around).

2) Is there a way to position a Flyout,  that opens on the rights side, and that is half the height of the parent window,

[2016-02-08 19:20] barryBithead commented on #2342
This fixed issue 2) https://github.com/MahApps/MahApps.Metro/issues/1280

[2016-02-09 15:35] thomasjoscht opened #2343 "Win8MetroPasswordBox Preview does not work with Tabcontrol (item > 1)"
Hey, it seems Preview functionality of Win8MetroPasswordBox Style will not work with TabControl. Placing a PasswordBox on first TabItem of TabControl the Preview will work normally. Placing a PasswordBox on second (or higher) TabItem the Preview will not be displayed. I've tested this also in MetroDemo MainTabControl of MainWindow.xaml.

[2016-02-09 19:13] smedasn commented on #2109
I also need this feature because I want to close the application during a dialog. If this is does not find a way into a stable build. Is there a workaround how to achieve it? Thank you in advance

[2016-02-09 22:17] di48l069 opened #2344 "TabControl"
Hi,

Was wondering has anyone accomplished to make TabControl/item look like image below aka github client

![tabcontrol-1](https://cloud.githubusercontent.com/assets/7794777/12932473/98da9028-cf8b-11e5-84a4-298ad5e82143.JPG)

If you have can you please help me out.

[2016-02-10 13:21] yoave23 opened #2345 "Can't edit TextBoxHelper.ClearTextButton properties"
Please give an option to edit the TextBoxHelper.ClearTextButton properties such as color and font size.

[2016-02-10 13:31] Andead commented on #321
Same error. I have a project of type Class Library with MahApps.Metro installed via NuGet (package version 1.2.4.0, .NET Framework 4.5).

I have created an XAML UserControl file, where I reference the ResourceDictionaries as usual:

![image](https://cloud.githubusercontent.com/assets/932798/12948437/4893c5ca-d013-11e5-943c-c5081c720452.png)

This is the designer content:

 at

The styles and contr

[2016-02-10 14:10] joco92 opened #2346 "TabControl with VS style"
Hi,

I have Custom user control which extends regular TabControl. Is it possible to apply VS style to it because when I run program Metro style is automatically applied.

Also is it possible to use CloseButton and VS style, I've lost whole day and still not figured it. When I use MetroTabItem metro style is also automatically applied.

Thanks

[2016-02-11 07:47] MoonStorm opened #2347 "How to switch to regular casing for all the UI elements"
I get some of the UI elements with their content in uppercase. I managed to set the normal casing for buttons with ``ControlsHelper.ContentCharacterCasing`` but I have yet to find a way for the metro window. To be honest I haven't seen too many apps in the wild that behave like this so I have no idea why this was chosen as the default for this toolkit. It looks distasteful.

Is there a way to have

[2016-02-11 09:23] KKauK opened #2348 "Thumb height of slider control"
Hello,

is there a way of changing the height of the slider thumb (Controls.Slider.xaml). This seems to be bound to the Track Height set to 18.
My current solution is to change this value to "Auto". Then I can change the height by setting HorizontalThumbHeight etc. in my code

[code]

I would prefer to change this setting by templating not by changing your source code.

Thanks in advance.

[2016-02-11 10:22] punker76 commented on #2347
@MoonStorm Use `TitleCaps` `true/false` for `MetroWindow` and you can change the default behavior for all other controls by yourself in the `App.xaml` by overriding this styles.

[2016-02-11 10:23] #2347 closed

[2016-02-11 17:18] MoonStorm commented on #2347
Yeah that did it. Thanks.

[2016-02-12 00:23] okatip1 commented on #1216
Hi,
@flagbug
@punker76
@xamlfactory

When do you implement this?
" ShowTitleBar="False" should ideally disable drag moving window behavior. **Also drag move should work only within the bounds of TitleBarHeight.**"

I need this? Please help!

[2016-02-12 00:58] okatip1 commented on #1216
I figured out the problem like this:

        private void MetroWindow_MouseDown(object sender, MouseButtonEventArgs e)
        {
            if (e.Source != null && e.Source.GetType() == typeof(MainWindow))
            {
                e.Handled = false;
            }
            else
            {
                e.Handled = true;
            }
        }

[2016-02-12 04:14] RejectKid commented on #2348
@punker76 i see you assigned this to yourself, tho i was looking into this a bit.  Figured it could be an easier one for me to get started with.

I've started stubbing out a thumb height depProp in the SliderHelper class.  Having trouble getting access to the thumb though as my typical

var track = slider.Template.FindName("PART_Track", slider) as Track;

isn't finding it?

tho if youve already st

[2016-02-12 17:28] chrisklepeis opened #2349 "Expander Expanded Content Background Issue"
I'm using an Expander with MahApps, and there appears to be a 10px margin around the expanded content. I want to set the background on the expanded content but due to the 10px margin around the content there's transparency between the drop down border and the content.

![capture](https://cloud.githubusercontent.com/assets/16291940/13014884/01bec5ce-d184-11e5-9a09-19701ef59e7b.PNG)

[code]

When I

[2016-02-12 22:27] punker76 commented on #2349
@chrisklepeis The `Expander` style set the `Padding` to 5, so simply change this to `0` will fix your issue.

[2016-02-12 22:27] #2349 closed

[2016-02-12 22:29] chrisklepeis commented on #2349
Awesome thanks.

[2016-02-13 17:00] punker76 opened #2350 "clean up, vs 2015, readme..."
- [x] style XAML with [XAML Magic](https://github.com/grochocki/XamlMagic) (only once, but config will be added)
- [x] [Paket](https://fsprojects.github.io/Paket/index.html) instead NuGet
  - [x] for restoring packages
- [x] some minor changes to icon packs
- [x] update readme
- [x] delete old stuff
- [ ] syle C# with R# (config will be added)
- [x] create new showcase gif

PRs
- #2330

**Note**
-

[2016-02-15 11:32] DJmRek opened #2351 "ThemeManager.ChangeAppStyle() has no effect if used with window parameter"
I'm having issues changing the style of an other window than MainWindow. If I change the style via xaml everthing works, but if I use `ThemeManager.ChangeAppStyle(Window w,...)`, it dosn't change the style. [In this project](https://github.com/DJmRek/MahAppsTest) I tried to show the issue.

Informations:

Win 8.1 Pro
Visual Studio 2013 Professional
.NET 4.5
MahApps V 1.2.4 via Nuget
MahApps  Resso

[2016-02-15 11:35] punker76 commented on #2351
@DJmRek
- https://github.com/MahApps/MahApps.Metro#contributing-to-this-project
- https://github.com/MahApps/MahApps.Metro/blob/develop/CONTRIBUTING.md

[2016-02-15 11:37] DJmRek commented on #2351
Sry first post was a failpost, I've updated it! Thx for your quick response!

[2016-02-15 11:59] DJmRek commented on #2351
@punker76 Ahhh crap found the solution in your blog:
Out of the mahapps.com documentation, I thought  I could change style of the window by using the Xaml approach **OR** the ThemeManager solution.  But we need the Xaml anytime, like you described in your blog! So this issue can be closed and maybe add a bit more clearer documentation on mahapps.com :)

[2016-02-15 12:00] #2351 closed

[2016-02-15 15:19] iSlaffko opened #2352 "Can't set ComboBox buttons width with ControlsHelper.ButtonWidth"
If you set a height of a ComboBox to a larger number than a default one, you may see, that buttons (two with editable ComboBox) take a lot of space comared to other similar controls. Here is an example of ridiculously tall ComboBox in demonstrational purpose (note: ClearTextButton is pressed):

![image](https://cloud.githubusercontent.com/assets/17061461/13052306/25729f94-d40f-11e5-8c79-984948bacb

[2016-02-15 15:26] punker76 commented on #2352
@iSlaffko just saw this on `TextBox` too and I'd also say that `ButtonWidth` should be respect...

[2016-02-15 20:06] GeertvanHorrik commented on #2300
![image](https://cloud.githubusercontent.com/assets/1246444/13059071/f1e0f8ec-d427-11e5-9f97-cba3d100f4a1.png)

[2016-02-15 20:09] GeertvanHorrik commented on #2300
I have exactly the same issue. I think it's better to change the code a bit:

[code]

But not sure if this causes other implications.

[2016-02-15 20:12] punker76 commented on #2300
@GeertvanHorrik seems ok for the first, but it could be interessted why the `Source` for the `oldAccent` is null

[2016-02-15 20:13] GeertvanHorrik commented on #2300
We use Runtime Access dictionaries in Orchestra for a few years now. I think I recently updated to 1.2.4. The old accent is also a runtime accent, so let me check if it's something we create at runtime as well.

[2016-02-15 20:16] GeertvanHorrik commented on #2300
It's awesome that we can step through MahApps code now, much easier to debug :+1:

[2016-02-15 20:16] punker76 commented on #2300
@GeertvanHorrik :-D

[2016-02-15 20:17] GeertvanHorrik commented on #2300
Does MahApps somehow create "Runtime accent" somewhere?

[2016-02-15 20:18] GeertvanHorrik commented on #2300
Yep, this is the cause:

https://github.com/MahApps/MahApps.Metro/blob/6b44cbd4952f978fda00991e7cd54b460a0a6ae0/MahApps.Metro/ThemeManager.cs#L206

[2016-02-15 20:19] punker76 commented on #2300
@GeertvanHorrik should be easy to fix with a test too

[2016-02-15 20:20] GeertvanHorrik commented on #2300
So what happens is I call ThemeManager.ChangeAppStyle, then it calls DetectAppStyle and creates the runtime dictionary.

[2016-02-15 20:56] GeertvanHorrik commented on #2300
Not sure if this is something I can fix on my side. Sent you a screenshot via Gitter.

[2016-02-15 21:19] Camuvingian commented on #2339
I also have this problem. The glow was working fine before I updated to the very latest version...

[2016-02-15 21:32] punker76 commented on #2339
@gigios @Camuvingian the glow is explicit ignored if the `UseNoneWindowStyle` is true or no `GlowBrush` is set

[2016-02-15 21:32] punker76 commented on #2339
don't know if this makes sense

[2016-02-15 21:34] punker76 commented on #2339
^ /cc @thoemmi what do you think? i think we can delete this check.

[2016-02-15 21:37] punker76 commented on #2270
@xxMUROxx just added, i close this, continued in #2350

[2016-02-15 21:37] #2270 closed

[2016-02-15 22:54] thoemmi commented on #2339
As far as I can see the problem is that `GlowWindowBehavior.IsGlowDisabled` is checked only right after the window is loaded/source is initialized. It was never meant to be changed at runtime, so if you change `UseNoneWindowStyle` or `GlowBrush` afterwards it is too late.

I guess removing the check in `GlowWindowBehavior.OnAttached` would be ok.

[2016-02-16 08:49] xxMUROxx commented on #2270
@punker76 thanks

[2016-02-16 09:01] dzaliznyak opened #2353 "ShowMetroDialogAsync is not modal"
When a child dialog is opened via ShowMetroDialogAsync it is looks like modal dialog but the parent dialog still can be controlled pressing Tab, Enter, Esc and Space buttons.

[2016-02-16 09:49] xmedeko opened #2354 "TextBoxHelper.ButtonClicked should pass ButtonCommandParameter to ButtonCommand.CanExecute"
`TextBoxHelper.ButtonClicked` call `ButtonCommand.Execute` and `ButtonCommand.CanExecute` with different parameters. If should use same parameter for both of them. I.e.

    command.CanExecute(commandParameter)

[2016-02-16 09:51] punker76 commented on #2354
@xmedeko you're right, i'll change this

[2016-02-16 09:55] #2354 closed

[2016-02-16 09:56] punker76 commented on #2354
@xmedeko done with https://github.com/MahApps/MahApps.Metro/commit/9672a56bd61963dbc02e98606f777a865366f4db

[2016-02-16 10:17] xmedeko commented on #1005
You can turn Commad to the custom event, see http://stackoverflow.com/a/29027266/254109
Or create a custom dependency property to do the magic http://stackoverflow.com/a/35429704/254109

[2016-02-16 10:20] xmedeko commented on #2354
Wow, fixed in 7 minutes!

[2016-02-16 11:58] CADbloke commented on #2350
If you're going the R# settings route you may want to consider [editorconfig](https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328) and/or [Rebracer](https://visualstudiogallery.msdn.microsoft.com/410e9b9f-65f3-4495-b68e-15567e543c58) for pricks like me who set tabs to 2 and do [stupid things with braces and code formatting when nobody is looking](https://github.com/

[2016-02-16 11:59] punker76 commented on #2350
@CADbloke `.editorconfig` is already added

[2016-02-16 12:02] CADbloke commented on #2350
Whups. I promise I'll get better at this ... eventually. :/

[2016-02-16 13:11] xmedeko commented on #2082
:+1:

[2016-02-16 14:28] punker76 commented on #2350
@CADbloke and by the way, this formatting will be done only this time for existing code.

[2016-02-17 08:40] xardison opened #2356 "DataGrid and GroupStyle Error Binding"
I have a simple MahApps.Metro DataGrid with 6 columns. I filled the DataGridwith about 500 rows of data and tried grouping by a column header. While the grouping works the computer cpu usage shoots up to 99% and i cant do much else other than close the app.

The output in VS

[code]

[code]

[code]

[2016-02-17 08:42] punker76 commented on #2356
@xardison which version? do you use .net 4.5 or 4.0? cause grouping breaks virtualization in 4.0.

[2016-02-17 08:42] xardison commented on #2356
4.5

[2016-02-17 08:45] xardison commented on #2356
version mahapps 1.2.4

[2016-02-17 08:46] punker76 commented on #2356
@xardison this doesn't help?
[code]

[2016-02-17 09:18] xardison commented on #2356
I got 3 errors instead of 1500.   already you can use

System.Windows.Data Error: 4
:Cannot find source for binding with reference 'RelativeSource FindAncestor, AncestorType='System.Windows.Control.Datagrid', AncestorLevel=1'".
 BindingExpression:Path=AreRowDetailsFrozen; Dataitem=null; target element is 'DataGridDetailsPresenter' (Name=");
target property is 'SelectiveScrollingOrientation' (type

[2016-02-17 11:44] iSlaffko opened #2357 "'Save as' or 'Save add' icon"
I've noticed a lack of different 'Save' icons.
There is only one actual 'Save' icon:

![image](https://cloud.githubusercontent.com/assets/17061461/13107296/ffdf8128-d57d-11e5-8634-cced32dbff16.png)

And a few of 'Disk' icons:

![image](https://cloud.githubusercontent.com/assets/17061461/13107303/0a77a08e-d57e-11e5-99fc-e3a6b9f2e3b7.png)

I think, that it would be nice to have at least 'SaveAs' and

[2016-02-17 12:42] CADbloke commented on #2357
In a lot of Windows Apps the "save as" icon is a floppy disk with a pencil. Have a look at Excel etc. Ditto with MS Paint. That's not to say I don't like your icon (it makes sense to me) but I'm just pointing out that Windows users are used to seeing the disk + pencil / pen. Seems to be the consensus with [Google image search](https://www.google.com.au/search?q=%22save+as%22+icon&tbm=isch) too.

S

[2016-02-17 12:53] thoemmi commented on #2357
@CADbloke is right, see Word's icon for _Save As_ in this screenshot (I only have a German version at hand currently)
![image](https://cloud.githubusercontent.com/assets/73690/13110049/c3d941dc-d57d-11e5-909b-b4f1d2a081c7.png)

[2016-02-17 13:13] iSlaffko commented on #2357
@CADbloke @thoemmi Yes, I'm aware of common icon and maybe it is better to call my version of it somewhat like 'SavePlus' and to create proper icons for 'SaveAs' and 'SaveAll'.

[2016-02-17 17:06] wima75 opened #2358 "ShowMessageAsync not shown in async mode"
Hi
With this code, the MessageBox will not be shown, when I click the button:
[code]
The window freezes, when I click the button.

[2016-02-18 01:54] 100GPing100 commented on #963
I'm really sorry for the delay, I have been away from my desktop, for a long time now, and have had a lot of stuff going on lately. I will try my best to get it up tomorrow, but I can't promise anything, I still have to look for the files, filter out what's not needed and upload them. Once again, I am sorry for the delay.

[2016-02-18 19:51] chrisklepeis opened #2360 "SplitButton Items"
[code]

It appears I need to create some dummy view models and bind to ItemsSource? Not sure why this wouldn't work. It runs but I see nothing in the drop down.

[2016-02-18 21:59] thoemmi commented on #2358
As far as I can see you're waiting for the result of `ShowMessageAsync`. Because this happens in the UI thread, it's all blocked.

[2016-02-18 22:43] #2343 closed

[2016-02-19 14:02] AndreasSchmid1 opened #2361 "Possible to add flyouts to simpleChildWindow?"
Hallo guys, is it possible to add flyout support to the mahapps childWindow?
I tried something like that without success.

`  <simpleChildWindow:ChildWindow.Flyouts>
        <controls:FlyoutsControl>
            <controls:Flyout  >
               //Content
            </controls:Flyout>
        </controls:FlyoutsControl>
    </simpleChildWindow:ChildWindow.Flyouts>`

[2016-02-19 14:42] punker76 commented on #2361
@AndreasSchmid1 First, SimpleChildWindow is not a MetroWindow, so this is not possible. Second, this is the wrong repo, you should go to https://github.com/punker76/MahApps.Metro.SimpleChildWindow

[2016-02-19 14:42] #2361 closed

[2016-02-21 20:56] kiwidoggie opened #2364 "Theme inheritance with children controls."
It seems a duplicate of https://github.com/MahApps/MahApps.Metro/issues/715 which I have looked and there is no InheritAccentColorsAndTheme in the current build of MahApps.Metro 1.2.4. Did this get deprecated? I currently am having the same exact issue. I would like some assistance to figure out how to re-enable that flag or if there is an error in my code.

I am currently using AvalonDock as well

[2016-02-22 16:44] SamOxyPlot opened #2366 "Custom TextBox : nested control in ContentControl"
Hi

I don't know if its possible to style my own set of framework controls.
I have a System.Windows.Controls.ContentControl object with a nested control inside of it. For example a normal TextBox. I call it a FwTextBox.

Currently I do have problems with styling the control. Because I can't use my own targettype...

**I use MahApps.Metro v1.1.2.**

This line doesn't work:
**Style="{DynamicResource

[2016-02-22 16:47] punker76 commented on #2366
@SamOxyPlot Hi, try inherit your `FwTextBox` from `MetroButtonTextBox` instead normal `TextBox` style.

[code]

[2016-02-22 16:53] SamOxyPlot commented on #2366
Hi Punker76.

Thanks for the fast reply!

I've tried this allready, but I'm stuck on it.

This is the error:

<code>
An exception of type 'System.InvalidOperationException' occurred in PresentationFramework.dll but was not handled in user code

Additional information: Can only base on a Style with target type that is base type 'FwTextBox'.
</code>

[2016-02-22 16:57] punker76 commented on #2366
@SamOxyPlot Seems like you have inherited the FwTextBox? Can you post the code behind and style? if so, then you must copy all the MahApps style to sytle your custom control/TextBox

[2016-02-22 21:58] #2352 closed

[2016-02-23 09:04] SamOxyPlot commented on #2366
Hi Punker76

Some more background information:

public class FwTextBox : FwFrameworkElement<TextBox>

public abstract class FwFrameworkElement<TNestedControl> : ContentControl

The content of the FwFrameworkElement instance is set to the NestedControl (in this case an TextBox)

So we don't inherit from a TextBox directly. Because in our framework we do some extra logic for 'our' own controls.

---

[2016-02-23 09:10] punker76 commented on #2366
@SamOxyPlot Thx for additional information. I think, if I understand right, that you only must set the inner TextBox (your content) style to `MetroButtonTextBox` (or your own custom one).

[2016-02-23 09:31] SamOxyPlot commented on #2366
@punker76

Thanks again for the fast reply!

Well it should be defined in the XAML, not in codebehind.

I have:

[code]

[code]

[code]

When I apply the style on my FwTextBox control:

[code]
Following error commes:

[code]

Is there a way to target the innercontrol (TextBox) of a FwTextBox?

[2016-02-23 09:35] punker76 commented on #2366
@SamOxyPlot You can make a Dependency Property (e.g. InnerControlStyle) on your FwTextBox/FwFrameworkElement. So you can set and use it in XAML.

[2016-02-23 11:03] SamOxyPlot commented on #2366
@punker76

Good propasal!

For now I tried with a nested style

[code]

[code]

I don't get errors when running, but the style isn't applied.

**Is there something that could overrule it?**

[2016-02-23 11:25] #2366 closed

[2016-02-23 11:39] punker76 commented on #2366
@SamOxyPlot :+1:

[2016-02-23 11:41] SamOxyPlot commented on #2366
@punker76

**Thanks for the quick support!**

[2016-02-23 13:05] mvaloriani opened #2368 "Open Dialog inside as new window"
I'd like to open a Dialog with the look of SimpleChildWindow but with a result value, some plan for this feature?

[2016-02-23 13:06] punker76 commented on #2368
yes, but wrong repo ;-)
Am 23.02.2016 2:05 nachm. schrieb "Matteo Valoriani" <
notifications@github.com>:

[2016-02-23 14:23] thomasjoscht opened #2369 "PasswordBoxBindingBehavior NullReferenceException during Detach"
Hey, I encounter a NullReferenceException in PasswordBoxBindingBehavior by navigating away from a page containing a PasswordBox with Style Win8MetroPasswordBox/MetroButtonRevealedPasswordBox and used PasswordBoxBindingBehavior :

System.NullReferenceException: Der Objektverweis wurde nicht auf eine Objektinstanz festgelegt.
   bei MahApps.Metro.Behaviours.PasswordBoxBindingBehavior.OnDetaching() i

[2016-02-23 14:41] #2369 closed

[2016-02-23 14:45] punker76 commented on #2369
@thomasjoscht Please retest it with MahApps.Metro 1.3.0-ALPHA039, thx!

[2016-02-23 14:51] thomasjoscht commented on #2369
@punker76 Thanks a lot! It works in my case.

[2016-02-24 13:35] michaelprewecki opened #2370 "Pasting over selection in NumericUpDown doesn't work"
In the NumericUpDown control when you attempt to paste a decimal over an existing decimal value nothing happens.

I would expect a clipboard value containing a decimal value to replace the existing decimal value.

--
### Environment

- MahApps.Metro v1.2.4.0
- Windows 10
- Visual Studio 2013
- .NET Framework 4.5

[2016-02-24 17:26] LucasRibeiroCarneiro opened #2372 "Messages dialog fired the ViewModel through the DialogCoordinator using MahApps.Metro and MVVM Light Toolkit"
I came across a problem working on a WPF project where I use "MVVM Light Toolkit" and "MahApps.Metro".

I'm trying to enjoy the feature "DialogCoordinator" provided by "MahApps.Metro" to trigger the dialog messages of my ViewModels. However, when performing the method "ShowMessageAsync" nothing is happening. The whole setup was performed according to the documentation and can not identify the reas

[2016-02-24 21:26] #2370 closed

[2016-02-25 10:30] punker76 commented on #2358
@wima75 so, I think, the `AwaitFeedback` stuff is not needed
[code]

[2016-02-25 10:30] #2358 closed

[2016-02-25 10:42] punker76 commented on #2082
@mkb137 I think you can get this by using the InputBindings of the TextBox itself. Don't know if MahApps should introduce a new property for this.

[code]

[2016-02-25 10:45] wima75 commented on #2358
I need the AwaitFeedback because of another scenario. I simplified the code to reproduce the problem. Please reopen this issue, because the problem still exists, thank you.

[2016-02-25 11:20] LucasRibeiroCarneiro commented on #2372
I identified the reason. It is so simple that it's silly.
This RelayCommand being shot in the Closing event of my MainWindow. Because the application be quite performative and the method is asynchronous, the event concluded in parallel operation before the message was triggered.

Anyway, thank you for your attention!

[2016-02-25 11:20] #2372 closed

[2016-02-25 11:27] MattBg opened #2373 "Flyout Background changes when i change Accent"
## What steps will reproduce this issue?

I created a method that sets the Accent in my application. When i open a flyout without change Accent, it's background it's the same as the Theme (BaseDark/Light), but if i change accent with my method, the Flyout Background will become like the selected Accent.

I'm using this VB code for change Accent and Theme

[code]
For now i fixed this issue simply b

[2016-02-25 11:58] punker76 commented on #2358
@wima75 ok, if you need this, then just use this one
[code]

[2016-02-25 12:03] punker76 commented on #2373
@MattBg Which `Theme` do you set on your `Flyout`?

Maybe this?

[code]

[2016-02-25 13:17] #2246 closed

[2016-02-25 13:20] punker76 commented on #2327
@Dotnetifier please try latest alpha, but sometimes WPF causes such issues...

[2016-02-25 13:20] #2327 closed

[2016-02-25 13:54] #2231 closed

[2016-02-25 15:15] wima75 commented on #2358
Thank you.

[2016-02-25 22:45] punker76 commented on #1901
@furiousbuilder Try to reproduce this but didn't get your result. I created a test for it, so hopefully this is gone... 7fae81e9de8de8f6ece3a7ad1ce502adb592805e

[2016-02-25 22:45] #1901 closed

[2016-02-26 08:10] MattBg commented on #2373
Thank you, the Theme property was set on Accent instead of Adapt, now the Flyouts behave as expected. Thank you again and sorry because i realized just now how my issue was trivial, i don't know how i could miss that.

[2016-02-26 08:29] punker76 commented on #2373
@MattBg np, happy coding :+1:

[2016-02-26 08:29] #2373 closed

[2016-02-26 08:39] xxMUROxx opened #2374 "SplitButton: Add SelectedValuePath and SelectedValue property"
As in **ComboBox**, **ListBox** there are **SelectedValuePath** and **SelectedValue** property but there are none in SplitButton. I would suggest to add those two properties to increase the benefit of using Bindings.

[2016-02-26 09:30] xxMUROxx commented on #2078
@QuantumDeveloper any news? It would be cool if I could write code like this:

[code]
otherwise I have to use the workaround with an Array:
[code]

[2016-02-26 10:28] QuantumDeveloper commented on #2078
Hi. The problem here is that actual Items property is to in corresponding with ContextMenu items property, which is actually displayed. Thats why there is an empty list.
Currently I have no idea how to fix that.

[2016-02-26 11:34] finesay opened #2375 "hotkey"
## What steps will reproduce this issue?

_Write problem description here_

### Expected outcome

_Write expected outcome here_

--
### Environment

- MahApps.Metro __v?.?.?__
- Windows __??__
- Visual Studio __20xx__
- .NET Framework __?.?__

[2016-02-26 11:35] #2375 closed

[2016-02-26 20:16] punker76 commented on #2311
@bloritsch Can you create a short example for this situation? Also testing the latest source (pre-release), cause I changed a little bit on the style, thx!

[2016-02-26 23:54] bloritsch commented on #2311
OK.  I'll try and git'er done soon.

[2016-02-27 12:18] #1439 closed

[2016-02-27 17:08] petvetbr commented on #2148
I'm taking a look at this issue.

[2016-02-27 21:45] punker76 commented on #1726
@stackia I think this should be done by the user itself. So other users can be confused if MahApps doesn't allow mouse down and key down in some situations.

[2016-02-27 21:45] #1726 closed

[2016-02-28 16:54] petvetbr commented on #1920
I'll start working on it.

[2016-02-28 17:04] punker76 commented on #1920
@petvetbr I have already a solution in pipeline, so please wait until i published is via PR, so you can just look if it's the solution you also think it's good

[2016-02-28 17:28] petvetbr commented on #1920
@punker76 sure, no problem, I'll wait. I was offering to belo because I saw the issue was not assigned. I'll look at another issue.

[2016-02-28 23:50] petvetbr commented on #1992
Tried adding a WPF DocumentViewer with a XPS file created in MS Office Word 2016 and the search highlight worked (below). Does this happen in any specific situation? Can you send a sample XPS/PDF where this happens?

![xpstest](https://cloud.githubusercontent.com/assets/778016/13382800/4ef02092-de5c-11e5-972c-810b510ec76a.PNG)

[2016-02-29 00:34] petvetbr commented on #2338
@punker76 If you want I can look at this. I took a look at the code and the fix initially seems simple.

[2016-02-29 16:15] petvetbr commented on #2166
@punker76 I'm working on a solution for this

[2016-02-29 16:21] Memphizzz opened #2380 "Missing FontSize Property for ProgressDialog/ShowProgressAsync"
## What steps will reproduce this issue?

Unable to set FontSize for ProgressDialog.

### Expected outcome

Being able to set FontSize either using ShowProgressAsync parameter or using MetroDialogSettings.

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.5__

[2016-02-29 23:15] #1972 closed

[2016-02-29 23:23] #2166 closed

[2016-02-29 23:23] #2204 closed

[2016-03-01 09:47] punker76 opened #2384 "MahApps.Metro consistent style and template names/keys"
MahApps.Metro styles and template keys are non consostent.
### Expected outcome

Consistent names/keys for all styles and templates.

e.g.

`Win10WindowButtonCommandsTemplate` -> `MahApps.Metro.Templates.WindowButtonCommands.Win10`
`MetroFlatButton` -> `MahApps.Metro.Styles.FlatButton`

etc

[2016-03-01 10:17] punker76 commented on #2238
@gigios @zynthar there is now a data template which also works under win 7 and 8 -> `MahApps.Metro.Templates.WindowButtonCommands.Win10`

e.g.

[code]

[2016-03-01 15:54] dsaf commented on #2204
Thank you.

[2016-03-01 18:02] GAMP opened #2385 "ButtonCommandMetroTextBox text displaid over icon."
![new bitmap image](https://cloud.githubusercontent.com/assets/4171664/13436463/08483854-dfe8-11e5-8da4-befd74873c2d.jpg)

- MahApps.Metro Nightly
- Windows 10
- Visual Studio 2015
- .NET Framework 4.6.1

[2016-03-01 18:05] punker76 commented on #2385
@GAMP thx, i'll look at this tonight

[2016-03-01 20:18] zynthar commented on #2238
Thank you for the update @punker76! I'll definitely check it out :+1:

[2016-03-01 21:03] #2380 closed

[2016-03-01 21:27] petvetbr commented on #2342
@barryBithead I´m not sure if I understood the first issue. Can you please provide an example/printscreens?

[2016-03-01 22:02] #2220 closed

[2016-03-01 22:02] #2385 closed

[2016-03-01 22:03] punker76 commented on #2385
@GAMP done by https://github.com/MahApps/MahApps.Metro/pull/2387

[2016-03-01 22:03] punker76 commented on #2220
@gigios it's now possible since https://github.com/MahApps/MahApps.Metro/pull/2387

[2016-03-01 22:15] punker76 commented on #2311
@bloritsch :+1:

[2016-03-01 22:25] punker76 commented on #2082
@mkb137 just added a sample in 55a0bfc049c13eed56edf516d34f3b79401a3801

[2016-03-01 22:25] #2082 closed

[2016-03-01 23:10] bloritsch commented on #2311
So the ribbon styles don't appear to be included in the Mahapps.Metro DLL even for .NET 4.5

I'll embed them directly based on what you have in Git

[2016-03-01 23:31] bloritsch commented on #2311
I've created a repository here: https://github.com/bloritsch/Mahapps.BadRibbon

Since the Ribbon styles are

1. Not included in any Mahapps.Metro
2. Don't do the job correctly
3. Don't use any of Mahapps.Metro styles (DynamicResources for theme colors) etc.
3. Microsoft's Ribbon control is FUBAR for any application

It might be worth just removing those files from the Mahapps repository.  In an ap

[2016-03-02 06:45] gigios commented on #2238
Thanks

[2016-03-02 06:46] gigios commented on #2220
Thank you!

[2016-03-02 09:24] punker76 commented on #2311
@bloritsch MahApps will not add a ribbon feature. -> see comment on https://github.com/MahApps/MahApps.Metro/pull/1202

I recommend to use [Fluent.Ribbon](https://github.com/fluentribbon/Fluent.Ribbon), maintained by @batzen
It supports also MahApps.

[2016-03-02 09:54] punker76 commented on #2311
@bloritsch But I found the reason for the click stuff -> d6d4e2bd1060581a2afc6c723b34dc334d073905

[2016-03-02 09:54] #2311 closed

[2016-03-02 11:44] bloritsch commented on #2311
Excellent!  And verified that it works.

[2016-03-02 11:48] bloritsch commented on #2311
I'll look into fluent ribbon, but you also should just take the unsupported files out of your solution.  It just makes it look like you support something that you don't.  While the styles are a good start for making the MS ribbon look close to right, they don't work for night theme and only hide the gradients embedded in the MS style.  I do recommend ripping the bandaid off.  MS Ribbon is a lost c

[2016-03-02 13:51] pfattisc commented on #2353
Can't reproduce the behaviour of @dzaliznyak  **BUT**:
When a dialog is shown (via ShowMetroDialogAsync) and you press _Ctrl + Tab_ the keyboard focus switches to the main window and then it receives keyboard inputs...
That makes ShowMetroDialogAsync not modal.

[2016-03-02 14:22] pfattisc opened #2388 "Win + Shift + Left/Right does not work in multimonitor setup with more than 2 monitors"
## What steps will reproduce this issue?

In a multimonitor setup with 3 monitors _win+shift+left/right_ moves the current metrowindow to the next (defined by left resp. right arrow key) monitor. Trying to move the window back to the primary monitor with _win+shift+left/right_ fails.
This issue is only present when the metrowindow is maximized.
### Expected outcome

_win+shift+left/right_ should m

[2016-03-02 14:27] arasfeld opened #2389 "Circular FlipView"
It would be nice when using the FlipView control, you could click the left arrow and it would take you to the last item in the list.

[2016-03-02 14:41] pfattisc opened #2390 "PasswordBox CapsLockIndicator is not refreshed when host window is inactive"
## What steps will reproduce this issue?

1. Set cursor to PassWordBox
2. activate CapsLock
3. CapsLockIndicator is shown
4. switch to any other window
5. deactivate CapsLock
6. switch back to metrowindow

=> CapsLockIndicator was not updated and is still visible....

### Expected outcome
CapsLockIndicator should be updated/refreshed correctly.

--
### Environment

- MahApps.Metro __v1.2.4__
- Win

[2016-03-02 14:46] punker76 commented on #2388
@pfattisc Any other special on your Window? I can't reproduce this with the MahApps main demo on my 2 monitor setup with win 7. Do you also tested it with the latest source (pre-release) and the main demo?

[2016-03-02 14:55] punker76 commented on #2388
@pfattisc Ok, tested on a 3 monitor station with latest source and all works fine... [Here](https://github.com/punker76/MaximizedMetroWindowTest) is my working sample.

[2016-03-02 15:28] pfattisc commented on #2388
Thx @punker76.
Tried your demo and still have the issue.
Not sure what it depends on but one difference is that I have .NET 4.5 installed and your demo asks for .NET 4.5.2.
Attached pics  of my monitor configuration
![multimonitor_2](https://cloud.githubusercontent.com/assets/11867529/13464774/fe4ddf4c-e092-11e5-9280-cc00be6a0944.png)
![multimonitor_3](https://cloud.githubusercontent.com/assets/11

[2016-03-02 15:47] punker76 commented on #2388
@pfattisc You are using classic design?  Can you try this with Aero (glass enabled) design?

[2016-03-02 15:52] pfattisc commented on #2388
@punker76 switched to Aero but it still remains...
Have you tested it with window in maximized state?

[2016-03-02 15:53] punker76 commented on #2388
@pfattisc my sample starts in maximized state and works on my machines™

[2016-03-02 22:06] punker76 opened #2393 "New style MahApps.Metro.Styles.ToggleSwitchButton.Win10"
Add a new style MahApps.Metro.Styles.ToggleSwitchButton.Win10

Preview

![2016-03-02_21h32_16](https://cloud.githubusercontent.com/assets/658431/13477168/54f79a4e-e0cb-11e5-9bb9-4c65f2a16da1.png)

[2016-03-03 10:12] gigios commented on #2350
I'm not sure if this is the correct location where post my problem, but it is related the latest release of sources and paket usage.
Probably the problem is related to my configuration, but I'm not sure.

After one month I have downloaded the new sources and installed the paket extension in the VS2015, open the solution and started the MetroDemo app (FW 4.0). No build error are present but at runt

[2016-03-03 12:31] xinlmain commented on #1844
Man... I used this library in my project. I thought it supports .Net 3.5. Then it turns out it only supports 4.0 higher. But my application need to support .Net 3.5... What should I do?

[2016-03-03 13:12] furqansafdar opened #2395 "MahApps.Metro resource icons cannot be used repeatedly"
The 'appbar_xxx' icons provided in the MahApps.Metro.Resources cannot be used repeatedly on the same Window or User Control, only one of them appears. They should be marked with x:Shared="False" so that the same resource can be referred multiple times.

e.g.
`<Canvas x:Key="appbar_add" Width="76" Height="76" Clip="F1 M 0,0L 76,0L 76,76L 0,76L 0,0" x:Shared="False">`

[2016-03-03 14:44] petvetbr commented on #2166
I´m working on a new implementation based on AutomationPeers. Should be available soon.

[2016-03-04 09:35] pfattisc opened #2396 "ShowMetroDialogAsync does not raise DialogManager.DialogOpened event"
## What steps will reproduce this issue?
Use current MahApps.MetroDemo.NET45 demo project.
In MainWindow code-behind:
Add an eventhandler for DialogManager.DialogOpened
Modify MainWindow.ShowAwaitCustomDialog as follows:
-  Remove the ShowMessageAsync call to avoid confusion...

Run project: **Dialogs** => **await custom dialog** => DialogOpened eventhandler is not called...

### Expected outcome

[2016-03-04 11:34] #2396 closed

[2016-03-04 11:38] punker76 opened #2398 "System.TypeLoadException with SpellCheck.IsEnabledProperty"
## What steps will reproduce this issue?

from @gigios

Probably the problem is related to my configuration, but I'm not sure.

The exception is raised in the TextBoxHelper at the line 74 (tb.SetValue(SpellCheck.IsEnabledProperty, true);) of the method UseSpellCheckContextMenuChanged.
If I start the 4.5 version of the demo all works fine.
For my project this is not a problem because I'm not using

[2016-03-04 11:38] punker76 commented on #2350
@gigios -> https://github.com/MahApps/MahApps.Metro/issues/2398

[2016-03-04 12:14] ittray opened #2399 "Can not be installed to VS2010？"
install have error...

[2016-03-04 12:47] #2399 closed

[2016-03-07 07:49] pfattisc opened #2400 "Modal dialogs can be bypassed with keyboard navigation"
## What steps will reproduce this issue?

While a modal dialog is shown (i.e. _MetroWindow.ShowMetroDialogAsync()_ )
it is possible to switch keyboard focus to the metro window by pressing _**Ctrl + Tab**_ or _**Ctrl + Shift + Tab**_
Furthermore all CommandBindings and InputBindings of the mainwindow are still working (e.g. _Ctrl + S_ for the Save command).
### Expected outcome

Keyboard navigatio

[2016-03-07 17:43] mavo1848 opened #2401 "Text blurry after Upgrading from V1.1.2 to V1.2.4"
## What steps will reproduce this issue?

Since upgrading MahApps.Metro in my Project from V1.1.2 to V1.2.4 some Text seems to be blurry.

Version 1.1.2:
![diag1](https://cloud.githubusercontent.com/assets/5233112/13577727/3f2dbc80-e494-11e5-99bd-152de80998ef.png)

Version 1.2.4:
![diag2](https://cloud.githubusercontent.com/assets/5233112/13577728/40c5df5a-e494-11e5-813b-76dbd7a593a0.png)

What ca

[2016-03-07 17:52] punker76 commented on #2401
@mavo1848 Please try the latest pre-release (also available on nuget). There was a wrong usage of text options in transition control. Also using an effect on a border with content makes the content always blurry, that's caused by WPF.

[2016-03-07 18:51] mavo1848 commented on #2401
Thank you very much! The latest pre-release solves this issue not but your hint with the Border was the solution.

[2016-03-07 18:51] #2401 closed

[2016-03-07 19:27] mtaulbee opened #2402 "Window Command ItemSource Binding"
## What steps will reproduce this issue?
When I use the following code in Version 1.2.0 and up, it does not create the LeftWindowCommands buttons like it used to.

    <controls:MetroWindow.Resources>
        <DataTemplate x:Key="ModuleCommandTemplate">
            <Button Content="{Binding ModuleDisplayName}"
                    Command="{x:Static cmd:ApplicationCommands.NavigateCommand}"

[2016-03-07 22:50] feinstein opened #2403 "NumericUpDown HasDecimals Is Broken."
## What steps will reproduce this issue?

After issue #2149 the `HasDecimals` property became broken.

### Expected outcome

The `HasDecimals = false` blocks the user from typing `,` or `.`

I already have a fix, and will send the pull request soon.

--
### Environment

- MahApps.Metro - Latest Master
- Windows __7x64__
- Visual Studio __2015__
- .NET Framework __4.5__

[2016-03-07 22:53] #2402 closed

[2016-03-07 22:54] punker76 commented on #2402
@mtaulbee should be fixed now

[2016-03-08 00:13] mtaulbee commented on #2402
Awesome, so this will be fixed with release 1.3.0 then?

[2016-03-08 08:29] #2403 closed

[2016-03-08 08:40] punker76 commented on #2402
@mtaulbee Yes and you can even test it with the latest pre-release

[2016-03-08 08:58] MattBg opened #2406 "How to change theme/accent in a WPF library class and affect UserControls inside it"
## What steps will reproduce this issue?

I created a wpf application that uses mahapps. It works great and all my usercontrols are able to change theme and accent only by using the ChangeAppStyle method.

The big problem was raised when i converted my application into a WPF Class Library, because i must insert this application inside a bigger project. I converted all, i crearted a custom resource

[2016-03-08 09:10] punker76 commented on #2406
@MattBg You can pass also a Window to the ChangeAppStyle method

[code]

or with

[code]

[2016-03-08 09:24] MattBg commented on #2406
Thank you, but i already tryed by creating a ResourceDictionary object with a source Uri to my ResDict but doesn't work, my application always keeps the default white & blue theme.

I'm totally clueless about how handle resources in this situation, i must pass the current ResiurceDictionay used by main window to the userControl methos, or i must create a global one?

And if i use a window, it affe

[2016-03-08 09:28] punker76 commented on #2406
@MattBg You must pass the resource dictionary (not the global one which you defined) of the Window or UserControl or whatever

[code]

[2016-03-08 09:31] punker76 commented on #2406
@MattBg If you want to notice about theme changes in your UserControl, you can use this event

[code]

[2016-03-08 10:04] MattBg commented on #2406
This works perfectly. I resolved by creating a method inside the UC that changes the theme with Me.Resourcer. Thank you very much, you saved my day (as usual :] ) !

[2016-03-08 10:05] punker76 commented on #2406
:+1:

[2016-03-08 10:09] #2406 closed

[2016-03-08 13:03] smygarn opened #2408 "A Flyout Open/Close combo button (tab button) enhancement"
## What steps will reproduce this issue?

This is more like a feature we need in our application and I really don't know why this is not the default behaviour in the flyout?
### Expected outcome
- Now, I have to make the flyout visible from start.
- I also have to translate the close button to get outside the flyout area..
- The close button is actually a open/close toggle button.
- It would be ni

[2016-03-08 16:41] pfattisc opened #2409 "MetroWindow can be closed while a modal dialog is shown"
## What steps will reproduce this issue?
While a modal dialog is shown the user can close the metrowindow using the contextmenu of the taskbar (right click on taskbar => close window).

### Expected outcome

While a modal dialog is shown the MetroWindow shouldn't close in any case.

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __7 x64__
- Visual Studio __2013__
- .NET Framework __4.5__

[2016-03-08 16:46] punker76 commented on #2409
@pfattisc this is by design, cause dialogs in mahapps not modal, they are async... i'll take a look

[2016-03-08 20:52] thoemmi commented on #2398
I experienced the same exception when running the .NET 4.0 sample app. I'm running the latest Windows 10 Insider Build 14279. The stacktrace looks like this:
[code]

[2016-03-08 20:58] punker76 commented on #2398
@thoemmi thx for the stacktrace, maybe it's since i changed the bcl nuget package (which includes the System.Runtime)

[2016-03-09 01:43] ramiroreal opened #2411 "ShowMessageAsync Exception"
## What steps will reproduce this issue?
On the constructor of the main window, there is a try catch block (development is on an early stage), inside the catch block there is an invocation to show a message (this.ShowMessageAsync("Warning",Issues were found....").
## _Write problem description here_
Exception details:
   at MahApps.Metro.Controls.Dialogs.DialogManager.HandleOverlayOnShow(MetroDial

[2016-03-09 03:39] jammerxd opened #2412 "Request for Accordion Control"
Hello, I would like to request an accordion style control that is animated and similar to the treeview but where you use an arrow and it rotates down as the content animates in. The animation would be similar to a tabcontrol and tabitem but I am unsure as to how to do this on my own.

EDIT: The control I am looking for is the expander...if you could add an animated template for it, similar to the

[2016-03-09 05:29] BenderRodriguez24 opened #2413 "Focusable (Selectable) Text in MessageDialog"
## What steps will reproduce this issue?

Start the MahApps Demo App and open a MessageDialog. The text within the Dialog can be focused/selected with "Alt" + Left Mouseclick.

### Expected outcome

The text in MessageDialogs should not be focusable/selectable. The text in the default Windows Dialogs are not Focusable (Selectable).

--
### Environment

- MahApps.Metro v1.2.4
- Windows 7 x64
- Visu

[2016-03-09 08:47] smygarn commented on #2408
Please let me know if I've missed some features already implemented in the MahApps framework.

[2016-03-09 08:50] punker76 commented on #2411
@ramiroreal maybe it's caused by that you try show something before the window itself is shown. you should try this in the loaded event or later

[2016-03-09 09:10] pfattisc commented on #2409
I think the overlay dialog is a modal dialog and therefore should prevent a close of the application.
The overlay does also prevent the user from using the window's control box (minimize, restore, close) so why should the user be able to circumvent this by using the taskbar?

[2016-03-09 09:46] pfattisc opened #2414 "Focus is lost after a dialog is closed"
## What steps will reproduce this issue?
After a dialog was shown the focus is lost.

### Expected outcome
The element that was focused before the dialog was shown should be focused again.

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __7 x64__
- Visual Studio __2013__
- .NET Framework __4.5__

[2016-03-09 10:00] N0ct3 commented on #1908
Actually, I think he was referring to the "Click" event handler. I just made the test, it was working in version 0.13.1, and it is no longer working since at least version 1.1.2 (haven't tried with every version).

[2016-03-09 10:15] N0ct3 opened #2415 "ToggleSwitch "Click" event not triggered"
Related to Issue [#1908](https://github.com/MahApps/MahApps.Metro/issues/1908) originally posted by @andyste1:
I have created a really simple application to illustrate the problem:
[code]
If you attach the debugger to "ToggleSwitch_OnClick" event handler, it will never break.
I made the test, it was working fine  in version 0.13.1, and it is no longer working since at least version 1.1.2 (haven't

[2016-03-09 10:38] MattBg opened #2416 "WPF inside WF, Cannot close Flyouts and FlyView doesn't select"
## What steps will reproduce this issue?

I successfully encapsulated my WPF application inside a DLL. I added the DLL inside another bigger WINDOWS FORM project, and i simply instantiate a new window in this way:
[code]

Now the windows it's correctly showed and it works but only partially, i have problems with Flyout and FlipView. I can open and interact with the Flyout but i can't close it, and

[2016-03-09 11:12] AbelToy opened #2417 "TransitioningContentControl makes content look aliased"
## What steps will reproduce this issue?

Create a UserControl that displays big text, something like

[code]
Display that UserControl inside a ContentControl and inside a TransitioningContentControl.

### Expected outcome

Both should look anti-aliased, but only ContentControl looks anti-aliased. The text on TransitioningContentControl looks aliased (as well as the shapes in it if you place some)

[2016-03-09 11:14] punker76 commented on #2417
@AbelToy please try latest pre-release, it should be already fixed

[2016-03-09 11:41] AbelToy commented on #2417
Yep, it works in the pre-release version! Thanks!

[2016-03-09 11:41] #2417 closed

[2016-03-09 11:44] punker76 commented on #2417
![giphy](https://cloud.githubusercontent.com/assets/658431/13634209/a268ea70-e5f4-11e5-882e-38a1bb14de99.gif)

[2016-03-09 12:08] #2344 closed

[2016-03-09 12:11] di48l069 opened #2418 "[Question] Datagrid"
Hi,

In Datagrid example how did you highlight the entire row a specific color for example your sample was `red`

[2016-03-09 14:16] pfattisc opened #2419 "DialogManager ShowMetroDialogAsync ignores MetroDialogSettings parameter"
## What steps will reproduce this issue?
DialogManager.ShowMetroDialogAsync() has an overload with MetroDialogSettings.
These settings are ignored.

### Expected outcome
ShowMetroDialogAsync should be aware of the settings parameter.

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __7 x64__
- Visual Studio __2013__
- .NET Framework __4.5__

[2016-03-09 14:20] punker76 commented on #2419
@pfattisc this is in dev branch fixed

[2016-03-09 14:20] #2419 closed

[2016-03-09 14:42] punker76 commented on #2418
@di48l069 Just take a look at the [sample](https://github.com/MahApps/MahApps.Metro/blob/develop/samples/MetroDemo/ExampleViews/DataGridExamples.xaml#L134-L181)

[2016-03-09 14:42] #2418 closed

[2016-03-09 14:44] di48l069 commented on #2418
@punker76 I see it thanks

[2016-03-09 16:03] MatthewKinsman opened #2420 "ShowmessageAsync Cancellation Exception"
## What steps will reproduce this issue?

I get a NullReference exception when using a cancellation token with a ShowMessageAsync Dialog

The following causes an exception

[code]

While this doesn't

[code]

It appears that if the dialog is canceled to soon after the creation you get a NullReference exception and the dialog freezes.
--
### Environment

- MahApps.Metro __v1.2.4.0__
- Windows __7__

[2016-03-09 16:05] punker76 commented on #2420
@MatthewKinsman Can you add a **full** stacktrace of this exception? thx

[2016-03-09 16:11] punker76 commented on #2420
@MatthewKinsman The dialogs have animations, maybe this is a problem with low delays.

[2016-03-09 16:16] MatthewKinsman commented on #2420
@punker76   Here is the stack trace.  The problem is my cancel is happening asyncronously and I have no way of gauranteeing the time between.  I tried using some locking mechanisms but I have nothing telling me its safe to cancel.

 	mscorlib.dll!System.Threading.CancellationToken.ActionToActionObjShunt(object obj)	Unknown
 	mscorlib.dll!System.Threading.CancellationTokenSource.InternalRegister(Sy

[2016-03-09 16:27] MattBg commented on #2416
I temporally walked around this issue by setting `CloseButtonVisibility = Collapsed` from the Flyout. I created my own circled arrow button (and placed int he top left corner) that closes the Flyout and for the FlyView i removed the selectors with `HideControlButtons()`.

This cheap trick works but if someone knows how to solve my issue please tell me.

Thank you!

[2016-03-09 16:33] #2415 closed

[2016-03-09 17:11] MatthewKinsman commented on #2420
I believe the problem is here.
`Action cleanUpHandlers = null;
var cancellationTokenRegistration = DialogSettings.CancellationToken.Register(() =>
            {
                cleanUpHandlers();
                tcs.TrySetResult(ButtonStyle == MessageDialogStyle.Affirmative ? MessageDialogResult.Affirmative : MessageDialogResult.Negative);
            });`

If its canceled before the register it c

[2016-03-10 03:04] feinstein opened #2422 "Added the habilitiy to block the use of the scientific notation 'e' on NumericUpDown."
This is not an issue, but a feature request.
I would like to block the user from using the scientific notation 'e' inside the `NumericUpDown`, so only numbers would be allowed.

I took the liberty to code it myself, so the PR is coming soon.
##
### Environment
- MahApps.Metro **dev branch**
- Windows **7x64**
- Visual Studio **2015**
- .NET Framework **4.5**

[2016-03-10 13:27] SamOxyPlot opened #2424 "ListViewItem styling"
Styling a listview row.

I want to style a row of a listview. The row contains just a textblock with a background color. I want to get rid of the 'padding'.

I've tried to overrule **MetroListViewItem**. But it didn't work.

![listview](https://cloud.githubusercontent.com/assets/8522340/13670725/ceb129f8-e6cb-11e5-9e07-16859fc81f87.png)

I hope somone can help me out.

### Environment

- MahApps.M

[2016-03-10 14:33] gigios commented on #2238
There is a simple way to set the opacity at 1.0 of the 'icons' also when the mouse is not over the button?

[2016-03-10 19:13] MatthewKinsman commented on #2420
I added a stack trace but I think I narrowed it down. Is there a reason that cancellationtokenregistration happens before cleanuphandlers assignment. It calls cleanup handlers which may still be null if cancellation happens too early. I believe they may need to be switched in execution order or an additional check.

Sent from my iPhone

[2016-03-11 02:16] p76984275 opened #2425 "Broken links in readme.md"
## What steps will reproduce this issue?
1. Use browser to view: https://github.com/MahApps/MahApps.Metro
2. Contributing section in read.me is not the same with
https://github.com/MahApps/MahApps.Metro/blob/develop/.github/CONTRIBUTING.md

![broken links](https://cloud.githubusercontent.com/assets/14271763/13691093/efea27a0-e770-11e5-94c5-1536883e0525.png)

--
### Environment

- MahApps.Metro  __

[2016-03-11 02:57] feinstein opened #2426 "NumericUpDown Validation Error Message."
## What steps will reproduce this issue?

_Place a `NumericUpDown` with a validation from MVVM, like:_

         <mahapps:NumericUpDown Value="{Binding MyInt, ValidatesOnDataErrors=True, UpdateSourceTrigger=PropertyChanged}" .................

And the Property being Binded as:

        [Range(1, int.MaxValue, ErrorMessage = "Value out of Range.")]
        public int MyInt
        {
            get

[2016-03-11 04:32] ramiroreal commented on #2411
Nice! Thanks for your help sir!

[2016-03-11 07:28] #2411 closed

[2016-03-11 08:21] #2425 closed

[2016-03-11 08:38] punker76 commented on #2426
@feinstein I think this is not a bug in MahApps it's more that you must handle this by yourself.

http://stackoverflow.com/q/6153302/920384
http://stackoverflow.com/q/28931250/920384
https://joshsmithonwpf.wordpress.com/2008/11/14/using-a-viewmodel-to-provide-meaningful-validation-error-messages/

[2016-03-11 08:40] punker76 commented on #2424
@SamOxyPlot Can you provide your XAML code?

[2016-03-11 08:58] SamOxyPlot commented on #2424
Hi @punker76 !

Okay, some background info.

I have a framework control called FwListView. It contains a regular System.Windows.Controls.ListView control.

In my XAML I define the columns.

Like this:

`        <fwviews:FwGridViewColumn Header="#">
            <fwviews:FwGridViewColumn.CellTemplate>
                <DataTemplate>
                    <fwcontrols:FwTextBlock BindingProperty="Row" />

[2016-03-11 09:03] punker76 commented on #2424
@SamOxyPlot that's the `ListView` itself, it adds a Margin of 6 in code behind on left and right of each cell, so you can prevent this by adding Margin="-6 0" to your CellTemplates

[2016-03-11 09:16] SamOxyPlot commented on #2424
@punker76

Do you mean by this?

`<Style TargetType="ListViewItem">
        <Setter Property="Margin" Value="-6 0" />
</Style>`

Didn't work yet.
How can I overrule the MahApp style?

[2016-03-11 09:18] punker76 commented on #2424
@SamOxyPlot No you must do this in each `CellTemplate`

[code]

[2016-03-11 09:35] SamOxyPlot commented on #2424
@punker76

Almost there: :+1:

![problem](https://cloud.githubusercontent.com/assets/8522340/13698515/c71d2558-e774-11e5-89b7-02b2413d47a4.png)

``        <fwviews:FwGridViewColumn Header="#">
            <fwviews:FwGridViewColumn.CellTemplate>
                <DataTemplate>
                    <Grid Margin="-6 0">
                        <fwcontrols:FwTextBlock BindingProperty="Row" />

[2016-03-11 09:45] punker76 commented on #2424
@SamOxyPlot try this

[code]

[2016-03-11 10:08] SamOxyPlot commented on #2424
@punker76
No succes yet with that change.

Is there something else that could add the space on top and buttom. MinHeight or something?

[2016-03-11 10:09] punker76 commented on #2424
@SamOxyPlot oh yeah MinHeight...

[code]

[2016-03-11 10:20] SamOxyPlot commented on #2424
@punker76

``
    <fwviews:FwListView.Resources>
        <Style TargetType="{x:Type ListViewItem}">
            <Setter Property="Padding" Value="0" />
            <Setter Property="MinHeight" Value="10" />
        </Style>
        <Style TargetType="fwcontrols:FwTextBlock">
            <Setter Property="Padding" Value="0" />
            <Setter Property="Margin" Value="0" />
        </Style>

[2016-03-11 16:31] p76984275 commented on #2425
:+1: Thanks!

[2016-03-11 19:11] di48l069 opened #2428 "MahApps Styling Help"
Hi guys this is not a bug or feature this is just me asking for help relating to MahApps and maybe someone is also looking for something awesome like this

Please see image below is what i need help with is in red and green is what i have please see source below of what i have.

![github client](https://cloud.githubusercontent.com/assets/7794777/13712604/459f380a-e7cd-11e5-904f-c91e40273622.JPG)
*

[2016-03-11 20:39] feinstein commented on #2426
@punker76 yes, I think you are right... I am sorry about this,  I am a little rust on validation... I guess it has been half a year since I had come around any validations from the the binding pipeline.

[2016-03-11 20:39] #2426 closed

[2016-03-11 20:51] thoemmi commented on #2428
I would guess that the green area are custom styled radio buttons, and the red one is a borderless button.

[2016-03-11 21:40] di48l069 commented on #2428
Keep in mind green area is done check below image of my application

![turtle](https://cloud.githubusercontent.com/assets/7794777/13716173/1d63f35c-e7e2-11e5-8917-84f442b2e50c.JPG)

As you can see tabs are working great even blue dot where im using this to make it work

[code]
My problem is red area i have no clue how to add that just like first image Just want to display `username | Cog (if user

[2016-03-11 21:58] thoemmi commented on #2428
I guess `username` is a `TextBlock`, and `Cog` is a `Button` with a context menu.

If you want to open that context menu on left-click, I suggest something like this:
[code]
with following behaviour which opens the context on left-click:
[code]

[2016-03-11 22:48] di48l069 commented on #2428
Thanks @thoemmi  but how would i get inline with tab control(items) exactly displayed in image?

[2016-03-11 23:01] punker76 commented on #2342
@barryBithead You must override the HeaderTemplate with your own style if you want a different button style.

[2016-03-11 23:01] #2342 closed

[2016-03-11 23:08] punker76 commented on #2416
@MattBg Please try the latest pre-release, I changed some for the Flyouts close button

[2016-03-11 23:10] punker76 commented on #2160
@TravyDale Please try the latest pre-release, I changed some for the Flyouts close button

[2016-03-12 10:49] #2413 closed

[2016-03-12 12:05] #2409 closed

[2016-03-12 12:09] punker76 commented on #2395
@furqansafdar I think MahApps should not do this as default.

[2016-03-12 12:09] #2368 closed

[2016-03-12 12:16] punker76 commented on #2317
@andrewcartwright1 You can create your own custom input dialog.

[2016-03-12 12:16] #2317 closed

[2016-03-12 12:24] punker76 commented on #2364
@kiwidoggie You should style the avalon `LayoutItem`, it's not a `TabItem`, it's a custom FrameworkElement from AvalonDock.

[2016-03-12 12:24] #2364 closed

[2016-03-12 12:26] punker76 commented on #2306
@KRSogaard Is this still an issue? (with the latest source/pre-release)

[2016-03-12 14:21] #2393 closed

[2016-03-12 16:34] thoemmi commented on #2395
@punker76 I agree with @furqansafdar. Without `x:Shared="false"` it's not possible to use same icon multiple times in the view. Microsoft's documentation says about the [`x:Shared` Attribute](https://msdn.microsoft.com/en-us/library/aa970778(v=vs.110).aspx):

Therefore I recommend adding `x:Shared="false"` to the icons.

[2016-03-12 22:01] #2348 closed

[2016-03-12 22:21] nadavten opened #2429 "please support hebrew"

[2016-03-12 22:21] #2429 closed

[2016-03-12 22:55] #2240 closed

[2016-03-12 22:57] #2258 closed

[2016-03-12 23:00] punker76 commented on #2283
@taori the custom dictionary can be set  in code behind on a custom settings which can be used for the message dialog

[2016-03-12 23:00] #2283 closed

[2016-03-12 23:01] #2191 closed

[2016-03-12 23:01] #2194 closed

[2016-03-12 23:02] #2239 closed

[2016-03-13 17:01] ThePenguinRocks opened #2430 "SquareButtonStyle Text Lowercase"
## What steps will reproduce this issue?

<Button Content="Save" Style="{DynamicResource SquareButtonStyle}"/>

Button Text = "save"
The Buttons Text is lowercase

### Expected outcome

Button Text = "Save"

### Environment

- MahApps.Metro __v1.2.4__
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.6.1__

[2016-03-13 17:05] punker76 commented on #2430
@ThePenguinRocks You can change this by set `ControlsHelper.ContentCharacterCasing` attached property.

[2016-03-13 17:05] #2430 closed

[2016-03-13 17:17] ThePenguinRocks commented on #2430
Thank You

[2016-03-13 19:35] punker76 commented on #2340
@ashishbhojani It's now available with the latest pre-release

[code]

[2016-03-13 19:35] #2340 closed

[2016-03-13 19:54] #2390 closed

[2016-03-13 19:57] #2336 closed

[2016-03-13 21:30] mtaulbee commented on #2274
@Allann
I can't reproduce this issue. It seems to bind just fine for me.

[2016-03-14 10:29] MattBg commented on #2416
@punker76 Just tested, in my situation (DLL inside FORM) the flyout's Close Button, in prerelease 1.3.0.76, works perfectly.

[2016-03-14 10:33] punker76 commented on #2416
@MattBg :cool:

[2016-03-14 10:33] #2416 closed

[2016-03-14 13:23] TravyDale commented on #2160
Will do. Thanks for the update.

[2016-03-15 09:21] aabhishrma opened #2431 "unable to give glowbrush property in code behind"
## var _objHomeWindow = new MetroWindow();
          _objHomeWindow.GlowBrush.SetValue(blah blah );

I am new to WPFand metro window  please help me to give glowbrush  in code behind

Windows

- MahApps.Metro 1.2.4.0
- Windows 10
- Visual Studio 2013
- .NET Framework 4.5

[2016-03-15 09:53] punker76 commented on #2431
@aabhishrma

[code]

If this doesn't help, then it's maybe necessary to to this in the loaded event

[code]

[2016-03-15 09:53] #2431 closed

[2016-03-15 10:00] #2274 closed

[2016-03-15 10:30] punker76 commented on #2424
@SamOxyPlot You must inherit from MetroListViewItem style

[code]

[2016-03-15 10:30] #2424 closed

[2016-03-15 15:33] BlythMeister opened #2432 "Modal Flyouts Window Not Dragable"
## What steps will reproduce this issue?

Open a modal flyout, try and move the window.
You have to click the title bar area inside the flyout to move the window.

### Expected outcome

Still be able to click the title bar on Modal flyouts

--
### Environment

- MahApps.Metro 1.2.4
- Windows 7, 8, 8.1 & 10
- Visual Studio 2015
- .NET Framework 4.6

[2016-03-15 17:51] chrisklepeis opened #2433 "Missing Icons? (appbar_control_skip_forward)"
I'm trying to use some icons from the sample project. For the most part they're working, but it can't find a few, specifically appbar_control_skip_forward.

I'm using the instructions here to get it setup http://mahapps.com/guides/icons-and-resources.html (again, other icons are working)

Works:
[code]

Does not work:

[code]

In my App.xaml (resources installed via nuget package):

[code]

[2016-03-15 21:56] punker76 commented on #2286
@mike-ward The problem is the thumb for the title dragging. It steals the hittest. I can bind a dependency property on the tooltip property of the thumb. only problem is, if it's used on the whole content.

[2016-03-15 23:11] mike-ward commented on #2286
OK, no worries. I'll add a icon or something...

[2016-03-15 23:11] #2286 closed

[2016-03-16 06:02] punker76 commented on #2286
@mike-ward can I help you with something other? what was the content of the tooltip? do you have maybe any other suggestion or solution?

[2016-03-16 12:46] mike-ward commented on #2286
I was using the hover to show the full document name. I'm thinking I'll just add it to the save button or maybe document stats when I add it. No worries.

[2016-03-16 12:49] punker76 commented on #2286
@mike-ward :+1:

[2016-03-16 18:21] GAMP opened #2434 "DataGridNumericUpDownColumn foreground color"
![new bitmap image](https://cloud.githubusercontent.com/assets/4171664/13823929/64f11e5e-ebb4-11e5-8afe-1d5dd1f7500a.jpg)

When selected font color is not changed as on other text elements.

[2016-03-16 21:12] #2432 closed

[2016-03-16 21:22] punker76 commented on #2433
@chrisklepeis The icons are `appbar_control_fastforward` or `appbar_control_fastforward_variant`

![2016-03-16_22h21_11](https://cloud.githubusercontent.com/assets/658431/13829122/906c40d4-ebc5-11e5-8127-3e6a53712208.png)

[2016-03-16 21:22] #2433 closed

[2016-03-16 21:30] chrisklepeis commented on #2433
So I should assume they were removed? It does show up in the demo project

![capture](https://cloud.githubusercontent.com/assets/16291940/13829326/ce3a0fd2-eb9c-11e5-85b2-99a455a3e5d4.PNG)

[2016-03-16 21:34] punker76 commented on #2433
@chrisklepeis oh, you're right, but then I don't know what's wrong with your code

![2016-03-16_22h32_59](https://cloud.githubusercontent.com/assets/658431/13829419/309af338-ebc7-11e5-8bd4-d030cd12b847.png)

[2016-03-16 21:37] punker76 commented on #2433
@chrisklepeis which MahApps version and which MahApps resources version are you using?

[2016-03-16 22:48] #2333 closed

[2016-03-17 07:19] xxMUROxx commented on #2434
Which version of *MahApps* do you use.
Can you show us the XAML code that reproduces the problem.

[2016-03-17 07:21] xxMUROxx commented on #2395
@thoemmi @furqansafdar  I agree with you too. `x:Shared="false"` is a **must**.

[2016-03-17 08:18] GAMP commented on #2434
`          <ma:DataGridNumericUpDownColumn
                            Header="{lex:Loc Key=QTY}"
                            Minimum="1"
                            Binding="{Binding Quantity,UpdateSourceTrigger=PropertyChanged,StringFormat=N2}"
                            HeaderStyle="{StaticResource _right_aligned_header}">
                            <ma:DataGridNumericUpDownColumn.CellStyle>

[2016-03-17 09:17] xxMUROxx commented on #2434
How is **_right_aligned_header** defined?

[2016-03-17 09:58] GAMP commented on #2434
`     <DataGrid.Resources>
                        <Style x:Key="_right_aligned_header" TargetType="DataGridColumnHeader" BasedOn="{StaticResource MetroDataGridColumnHeader}">
                            <Setter Property="HorizontalContentAlignment" Value="Right"/>
                        </Style>
                        <Style x:Key="_left_aligned_header" TargetType="DataGridColumnHeader" BasedOn

[2016-03-17 13:33] chrisklepeis commented on #2433
The latest

[code]

[2016-03-17 21:36] #2214 closed

[2016-03-17 22:28] #2126 closed

[2016-03-18 10:19] xxMUROxx commented on #2434
Ok, the error is in following code:

[code]

Just change `{StaticResource {x:Type DataGridCell}}` with `{StaticResource MetroDataGridCell}`

[2016-03-18 10:58] punker76 commented on #2395
@furqansafdar @thoemmi @xxMUROxx -> [MahApps.Metro.Resources 0.5.0](https://www.nuget.org/packages/MahApps.Metro.Resources/)

[2016-03-18 12:25] chrisklepeis commented on #2433
The recent nuget package update (0.5.0.0) fixed the issue.

Thanks.

[2016-03-18 13:07] webwarrior06 opened #2435 "BackgroundToForegroundConverter returning color may be changed in some accents?"
We are developing line of bussines application using MahApps with a small team. We compromised on BackgroundToForegroundConverter should return white color for good looking when lime and pink accent colors set. I made a graphic below about how GroupBox header looks in both cases. I want to get MahApps Community's opinion about this matter. Should this remain as it is or be replaced with the second

[2016-03-18 13:51] davidefu commented on #1823
hi everyone,
i think this issue is still open in version 1.2.4 (from nuget).
please check the attached project
thanks
Davide
[mahappsdemo.zip](https://github.com/MahApps/MahApps.Metro/files/179731/mahappsdemo.zip)

[2016-03-18 13:51] punker76 commented on #2395
@thoemmi fu... the ThemeManager breaks on changing accent or theme with `x:Shared="False"` (tested with the main demo) :-(
[code]

[2016-03-18 14:39] punker76 commented on #2395
@thoemmi This happens with such usage
[code]

so I recommend remove the `x:Shared="False"` and say to users you must do something like this!

[code]

[2016-03-18 17:15] jeromeMartinet opened #2436 "Remove space on top of the Flyouts"
How to remove the space on the top of the flyouts ?
I hide the close button and the title but it's not enough

Thxs
--
### Environment

- MahApps.Metro 1.2.4
- Windows 10
- Visual Studio 2015
- .NET Framework 4.5.2

[2016-03-18 21:03] thoemmi commented on #2395
Ok, I don't know a better solution :unamused:

[2016-03-19 08:09] xxMUROxx commented on #2395
I will search for a solution too. I have used this kind of notation a lot in my programs. Hope to find a better, shorter, solution. I will inform you about progress.

[2016-03-19 14:00] punker76 commented on #2395
@thoemmi @xxMUROxx I've created a [sample](https://github.com/punker76/WPFSharedTest)

[2016-03-19 22:53] #2389 closed

[2016-03-19 22:55] punker76 commented on #2436
@jeromeMartinet What do you really mean with `space`? do you mean the title bar height?

[2016-03-19 22:56] punker76 commented on #2160
@TravyDale Any news?

[2016-03-20 19:59] pvlgk opened #2437 "ShowTitleBar=False switches off left mouse event for all controls"
## What steps will reproduce this issue?
Create MetroWindow ShowTitleBar="False"

None of controls can get left mouse event anymore (eg. TextBox or Button).

--
### Environment

- MahApps.Metro __v1.3.0-ALPHA091
- Windows 8.1
- Visual Studio 2015
- .NET Framework 4.5

[2016-03-20 20:44] #2437 closed

[2016-03-20 21:45] punker76 commented on #2400
@pfattisc KeyboardNavigations are set to Cycle

[code]

CommandBindings and InputBindings still an issue

[2016-03-21 14:59] TheFlow0360 commented on #203
I also cannot override styles, in my case the flyout style. I tried to move everything in an own ResourceDictionary and used `<Style x:Key="DefaultFlyout" TargetType="controls:Flyout" BasedOn="{StaticResource {x:Type controls:Flyout}}">` like suggested by @kayone , but it always ends up to have only the last styles I applied....

I use it like this:
Controls.xaml:

    <ResourceDictionary xmlns="h

[2016-03-21 16:20] xxMUROxx opened #2440 "Resource interchange problem when using x:Shared="False""
I think the problem with x:Shared="False" is a .NET problem. I have reported the issue in [Microsoft Connect](https://connect.microsoft.com/VisualStudio/feedback/details/2497914/nullreferenceexception-when-calling-this-resources-mergeddictionaries-add)

This item is to not forget about the issue and have reference to Microsoft Connect site.

@punker76

See also: https://github.com/MahApps/MahApps.

[2016-03-21 20:36] punker76 commented on #2436
@jeromeMartinet ???

[2016-03-22 03:56] TravyDale commented on #2160
So far no issues. Let's call this closed and if I see it, I will let you know. Thanks!

[2016-03-22 03:56] #2160 closed

[2016-03-22 11:34] punker76 commented on #2395
-> #2440

[2016-03-22 11:34] #2395 closed

[2016-03-22 14:18] #1973 closed

[2016-03-22 14:18] #1992 closed

[2016-03-23 14:27] PavelLvou commented on #2288
I have the same proble in version 1.2.4 and in alpha 1.3.0

Here my xaml code
[code]
and relust
[
![part_windowtitlethumb](https://cloud.githubusercontent.com/assets/18031537/13988064/60c14090-f11b-11e5-85e3-0c91409ef0f5.png)
](url)

Button in title aren't clickable, because there lays an invisible grid

[2016-03-23 14:30] punker76 commented on #2288
@PavelLvou You should use `LeftWindowCommands` or `RightWindowCommands` for button stuff

[2016-03-23 17:50] zmakerss opened #2442 "Custom TitleTemplate no longer receives any mouse events, specifically double click"
## What steps will reproduce this issue?

_Write problem description here_

### Expected outcome

_Write expected outcome here_

--
### Environment

- MahApps.Metro __v?.?.?__
- Windows __??__
- Visual Studio __20xx__
- .NET Framework __?.?__

[2016-03-23 17:53] zmakerss commented on #2442
Custom TitleTemplate no longer receives any mouse events, specifically double click. Lets say I have a custom title bar, which I want to double click and capture this event, in the latest release the double click event is no longer passed from title bar to the items in title bar template.

[2016-03-23 18:13] punker76 commented on #2442
@zmakerss I understand that you want a custom titlebar with a custom template, but why do you need capture the double click event? The change is, that we use now a thumb to dragmove and max/restore the window.

[2016-03-23 18:19] zmakerss commented on #2442
Lets say you want to give user the ability to rename the window, which is my requirement. I created a custom title template which displays a textblock with the window name, then a user can double click the textblock, and in the double click event I hide the textblock and display a textbox, where a user can enter a new name, press enter, and save the changes. With the latest release, the double cli

[2016-03-23 19:38] Hikerakashiya opened #2443 "Flyout Background Is White"
## What steps will reproduce this issue?

I am using MahApps.Metro with Caliburn.Micro and implemented flyouts the same way they were implemented in the Caliburn.Metro.Demo project. I started noticing the issue after I updated the MahApp.Metro package to the latest version. Originally I had the theme of the flyout being set in the constructor of the flyout view model. I was using the Dark theme. I

[2016-03-23 19:56] Hikerakashiya commented on #2443
This is interesting ...

I failed to mention I had originally removed the Blue and BaseLight accents from the App.xaml because I was using my custom theme which was manually set in the App.xaml.cs. I figured I no longer need the Blue and BaseLight accent since my custom theme took care of this.

I removed this from the App.xaml Application.Resources:
[code]

I just tried readding these back to the

[2016-03-23 22:27] punker76 commented on #2443
@Hikerakashiya I've updated the `Caliburn.Micro` sample. There was a problem in `ViewLocator.GetOrCreateViewType`, it adds the resources to all created types, so for the Flyouts UserControls too. This UserControls are shown for each Flyout. But adding these resources to each UserControl was bad, cause the Flyout itself handles the `Theme` and adds the corresponding MahApps theme resource. So in th

[2016-03-23 22:27] #2443 closed

[2016-03-23 23:04] punker76 commented on #2056
@melance I've moved the ControlTemplate triggers to Style triggers, so you can now create your own Style where you only need to override the IsChecked trigger.

[code]

[2016-03-23 23:04] #2056 closed

[2016-03-24 07:18] #2436 closed

[2016-03-24 09:15] igorushi opened #2444 "WindowCommand.ItemsSource bindings issue"
## What steps will reproduce this issue?

in version 1.2.4 WindowCommand.ItemsSource bindings became broken. e.g.
[code]
[This commit](https://github.com/MahApps/MahApps.Metro/commit/d2d73649d3592b83d8abb73e5d77e86e8e1410e0) added cast of item to UIElement, it is not correct for MVVM scenarios and as result binded windows command items are always collapsed.

### Expected outcome
trivial
--
### Env

[2016-03-24 09:22] punker76 commented on #2444
@igorushi Can you try the pre-release? Cause I've changed something at this point https://github.com/MahApps/MahApps.Metro/commit/79f895ebf9d77b9047f33544d87bfe92c1b6a28b
Thx!

[2016-03-24 09:31] igorushi commented on #2444
in 1.3.0-alpha101 it doesn't reproduce, thanks.

[2016-03-24 09:31] #2444 closed

[2016-03-24 14:51] Deadpikle opened #2445 "Window title bar buttons (close, maximize, etc.) occasionally appear in "classic style""
## Problem
Sometimes, the window's minimize/maximize/close buttons look like old Windows XP classic style buttons until they are moused over. See the following image:
![badmenubuttonicons](https://cloud.githubusercontent.com/assets/5092399/14019362/c94bddfe-f1a8-11e5-8bc3-46695bb120b5.png)
Once you mouse over the buttons, they return to normal.

### Expected outcome

The window title bar buttons s

[2016-03-24 14:54] punker76 commented on #2445
@Deadpikle Can you test it with the pre-release? thx!

[2016-03-24 14:58] Deadpikle commented on #2445
@punker76  Tested it with the latest code available on the develop branch. Still has the same issue (although it took more tries to reproduce).

Here's the test case with the latest code:
[Test Case w latest dev code](https://github.com/MahApps/MahApps.Metro/files/188067/MahAppsBugFullscreen.zip)

[2016-03-24 15:13] punker76 commented on #2445
@Deadpikle I think the seuqence is important, I tried this and doesn't get the issue

[code]

[2016-03-24 15:32] Hikerakashiya commented on #2443
Can you explain what you mean by the custom accent is not up to date? I used the stock Blue.xaml accent as a reference.

[2016-03-24 15:44] ahumeniy opened #2446 "Style disables ListView UI virtualization"
## What steps will reproduce this issue?

Create an empty WPF project, with a ListView and bind it to a collection of several thousands items. With no style ListView uses UI virtualization as default. After aplying the styles of MahApps.Metro UI virtualization is disabled for ListView and the app hangs generating all of the List Items. It also defeats data virtualization since it won't stop asking

[2016-03-24 15:55] punker76 commented on #2446
@ahumeniy There is also a style forvirtualization

[code]

or you set the properties by youself on your ListView

[2016-03-24 16:11] ahumeniy commented on #2446
Thanks, that did it.

Is there a reason why isn't that the default style for ListView?

Also, it is not on the documentation either.

[2016-03-24 16:11] #2446 closed

[2016-03-24 16:46] Deadpikle commented on #2445
@punker76 Yes, I can confirm that the rearranging of the ResizeMode call fixes the issue.

Thanks for your assistance! I suppose I'll close this because it didn't end up being an actual bug.

[2016-03-24 16:46] #2445 closed

[2016-03-24 17:59] lamjar opened #2447 "how create a combobox just in last blank item in datagrid with MahApps ?"
## What steps will reproduce this issue?

_Write problem description here_

### Expected outcome

_Write expected outcome here_

--
### Environment

- Metro UI v1.3
- Windows 7
- Visual Studio __2013_
- .NET Framework 4.5

[2016-03-24 18:16] punker76 commented on #2447
@lamjar Can you please give us more specific informations? Do you mean combobox in a cell? thx

[2016-03-24 19:49] chrisklepeis commented on #1920
A recommendation to make it 100x easier than the WPF Toolkit maskedtextbox is to intelligently handle cursor position.

As an example, lets assume the mask if for a US phone number:  (___) ___-____
If the user didn't enter in any data, then the cursor should be placed immediately after the ( when the control gets focus.

If the control does have data, like this:   (345) 12_-____
and the user click

[2016-03-24 20:07] chrisklepeis commented on #2412
The accordion is in the WPF toolkit http://www.c-sharpcorner.com/uploadfile/dpatra/accordion-in-wpf-toolkit/

Just needs some metro lovin'

[2016-03-25 07:26] xxMUROxx commented on #2412
@chrisklepeis this would introduce a dependency on WPF toolkit to MahApps. I would not add to many 3rd party libraries as dependency to MahApps

[2016-03-25 10:06] PavelLvou commented on #2288
Thank you for help, but I still have a problem.
Gray rectangle appears if window lose focus
I try find this elements and find next
[
![fullversion](https://cloud.githubusercontent.com/assets/18031537/14042234/260cd332-f289-11e5-82f2-b0622bba2649.png)
](url)

Here xaml
[code]
All my elements have width 450
Why I have element with width more than my elements and how I can fix it?
And why I have this

[2016-03-25 10:37] chrisklepeis commented on #2412
Ya, thought about that after posting... Would have to be a custom control or just perhaps a control template over an existing control.

[2016-03-25 11:08] lamjar commented on #2447
i would create a combobox that a new rows in this datagrid ( blanck row)
![image_thumb 5](https://cloud.githubusercontent.com/assets/5993938/14043229/34503ae4-f282-11e5-8dba-dad0b9e76781.png)

[2016-03-25 11:09] lamjar commented on #2447
i would combobox contains a list of Campany , i use the "DataTrigger" to control the element to show ( combobox or others) but does not created

[2016-03-25 11:31] Pekshev opened #2448 ""System.MissingMethodException" after update 1.2.4"
## What steps will reproduce this issue?

_After update from 1.1.2 to 1.2.4 has exception MissingMethodException:
"Void MahApps.Metro.Controls.MetroWindow.set_GlowBrush(System.Windows.Media.SolidColorBrush)"_

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __10__
- Visual Studio __2015__
- .NET Framework __4.0__

[2016-03-25 11:33] punker76 commented on #2448
@Pekshev can you post the complete stacktrace?

[2016-03-25 11:40] Pekshev commented on #2448
When I was debugging it was not an error. The error is now - at work compile the application. I will try in the evening. Just thought a bug known

Translated by Google translate

[2016-03-25 11:55] PavelLvou opened #2449 "Visual bug while using RightWindowCommands"
## What steps will reproduce this issue?

Hello,
I have a problem.
Gray rectangle appears if window lose focus
I try find this elements and find next
[
![fullversion](https://cloud.githubusercontent.com/assets/18031537/14042234/260cd332-f289-11e5-82f2-b0622bba2649.png)
](url)

Here xaml
[code]

### Expected outcome

All my elements have width 450
Why I have element whose width more than my element

[2016-03-25 17:56] thoemmi commented on #2448
The type of the `GlowBrush` property was changed from `SolidColorBrush` to `Brush` in 5cfb3776. It will work after you have recompiled the calling code.

[2016-03-25 18:26] Pekshev commented on #2448
Now it is clear. Unfortunately have to go back to the old version, because I have a plugin application and need to rebuild more than 40 projects

[2016-03-25 21:45] punker76 commented on #1823
@davidefu Should be fixed now in latest pre-release. As a workaround (with latest stable 1.2.4) set the ResizeMode in loaded event

[code]

[2016-03-25 21:45] #1823 closed

[2016-03-25 22:10] punker76 commented on #2449
@PavelLvou So you customize the custom MahApps solution. Here some points which you should know (latest source)
- WindowStyle is already None
- MahApps doesn't support `AllowsTransparency="True"` cause it has some nasty side effects
- you must set `AllowsTransparency="True"` in the Initialized event
- set also `NonActiveWindowTitleBrush="Transparent"`
![2016-03-25_23h09_21](https://cloud.githubuse

[2016-03-25 22:10] #2449 closed

[2016-03-25 23:36] #2414 closed

[2016-03-26 08:15] davidefu commented on #1823
thanks

[2016-03-26 21:37] punker76 commented on #2332
@bradley-dotnet It's now better to see today as selected

![2016-03-26_22h35_11](https://cloud.githubusercontent.com/assets/658431/14062541/59a00488-f3a3-11e5-8ebb-db8d446ec09c.png)
![2016-03-26_22h35_19](https://cloud.githubusercontent.com/assets/658431/14062542/5b396f64-f3a3-11e5-9d1b-809a82665ff7.png)

[2016-03-27 14:09] bradley-dotnet commented on #2332
@punker76 That's great! It still looks like the code ignores the IsTodayHighlighted property though. Granted, this solves the "breakingness" of my original problem :)

[2016-03-27 14:55] punker76 commented on #2332
@bradley-dotnet I'll look for the IsTodayHighlighted problem too

[2016-03-27 14:58] bradley-dotnet commented on #2332
Thanks, I'll post my workaround/solution tomorrow sometime in case it helps :)

[2016-03-28 01:18] battleguard commented on #2446
This should really be switched to the default style it makes using listviews in mahapps completely worthless without your code added to the style.

[2016-03-28 12:37] PavelLvou commented on #2449
Thanks, but I still have problem
All my elements have width 450
Why I have element whose width more than my elements?
And still after lose focus window have gray border

[
![fullversionv2](https://cloud.githubusercontent.com/assets/18031537/14078040/f429ac18-f4fa-11e5-85c3-2fc719250ff5.png)
](url)

[2016-03-28 14:12] chrisklepeis opened #2450 "Multiline ComboBox DropdownButton Width"
Using the latest release version of Mahapps (1.2.4) on .Net 4.6.1 I have a ComboBox whose DisplayMemberPath is a string with line breaks in it. The drop down button gets too wide as the height of the ComboBox gets taller. Looking at the template, it looks like it should be honoring Controls:ControlsHelper.ButtonWidth but this is not the case. Seen below is a SplitButton followed by a ComboBox with

[2016-03-28 14:18] punker76 commented on #2450
@chrisklepeis This is fixed in the pre-release

[2016-03-28 14:18] #2450 closed

[2016-03-28 14:19] chrisklepeis commented on #2450
@punker76 Ok, thanks, I'll update my project to use that instead.

[2016-03-28 14:22] punker76 commented on #2450
@chrisklepeis v1.3.0 is coming very soon

[2016-03-29 13:43] chrisklepeis commented on #2346
Not sure if it will help, but I'm using Dragablz http://dragablz.net/ with a custom style.
![capture](https://cloud.githubusercontent.com/assets/16291940/14109889/33eb44fa-f592-11e5-9156-e18bd45ad6a4.PNG)

I had a similar issue. I wanted more of a classic tab control, but I didn't want the VS colors, etc.

In my App.xaml (after MahApps, and `<ResourceDictionary Source="pack://application:,,,/Draga

[2016-03-30 10:29] ericBG opened #2451 "Text not updated to new value when a NumericUpDown's value is changed in Maximum/MinimumReached"
## What steps will reproduce this issue?

Make a NumericUpDown which has an event on Maximum/MinimumReached, which changes its value.
### Expected outcome

The value that was set last (during the Maximum/MinimumReached) is displayed in the textbox. Instead, the other value that is reached is then used in the textbox, but as soon as the value is changed again the textbox fixes itself.

This is beca

[2016-03-30 16:42] beachwalker opened #2453 "Window close button symbol missing on mouseover since 1.2.4"
## What steps will reproduce this issue?

Start Window with Clean Design. Try to use the mouse to hover the close button on top right. x hides.
Functionality on click is still there but graphic while hovering is gone.

### Expected outcome

Should mark the close button red when hovered by mouse.

--
### Environment

- MahApps.Metro __v1.2.4__
- Windows __7__
- Visual Studio __2013__
- .NET Framewo

[2016-03-30 16:51] punker76 commented on #2453
@beachwalker Can you show the xaml source for the clean window usage? is this also present in the pre-release?

[2016-03-31 08:41] pfattisc commented on #2400
Should work for me.
I solved the CommandBindings & InputBindings issue by adding/removing them whenever the _DialogManager DialogOpened/DialogClosed Event_ occurs.

[2016-03-31 11:33] #2447 closed

[2016-04-01 09:14] #2420 closed

[2016-04-01 09:24] #2448 closed

[2016-04-01 10:58] beachwalker commented on #2453
This is the XAML for the Clean Window:

[code]

[2016-04-01 11:06] punker76 commented on #2453
@beachwalker

- you don't need set the `Behaviors`, it's already done by the style
- if you have a Flyout then RightWindowCommandsOverlayBehavior="Never" means that you never see the commands if the Flyout is open
- is this issue also present with the latest pre-release?

Jan

[2016-04-01 15:58] Hikerakashiya opened #2455 "Help - MetroAnimatedTabControl HeaderTemplate With Icons"
I am trying to define a HeaderTemplate for the MetroAnimatedTabControl but I am not having any luck with figuring it out.

Originally I was modifying the HeaderTemplate for each static TabItem in the MetroAnimatedTabControl as described in #397, however since I am now going to be binding view models to the MetroAnimatedTabControl I need to set the HeaderTemplate once in the ItemContainerStyle.

Th

[2016-04-01 18:35] Hikerakashiya commented on #2455
I figured it out, but I guess I am still confused about when to use ItemTemplate vs ItemContainerStyle.

Originally I was manually adding TabItems to the MetroAnimatedTabControl where I was setting TabItem.HeaderTemplate. However once I switched to binding view models to the MetroAnimatedTabControl, I had to set the ItemTempla instead.

[code]

Why does using the ItemContainerStyle and setting the

[2016-04-04 13:55] MrBramme opened #2456 "Textblock brush color in frames (pages)"
## What steps will reproduce this issue?

for some reason i cannot get the textblock to style properly when inside a frame. I was able to fix it by passing this parameter in the textblock xaml (Foreground="{DynamicResource TextBrush}"), i'm sure i'm doing something wrong.
My mainwindow is setup as instructed on the website wiki. so using a Controls:MetroWindow with xmlns:Controls="clr-namespace:Ma

[2016-04-04 14:50] pfattisc opened #2457 "Splitbutton Popup doesn't close"
## What steps will reproduce this issue?

Open Popup menu of a SplitButton in the MahApps demo -> click on the Button (PART_Button) ->
click somewhere else in the MainWindow. Popup remains open.
If the click on the Button is skipped, everything works as expected.

This seems to be an issue with Mouse.Capture in the SplitButton class:
 Adding _Mouse.Capture(this, CaptureMode.SubTree);_ to ButtonCli

[2016-04-05 21:51] punker76 commented on #2456
@MrBramme You forgot to set the style for the Page. It should be set to
[code]
like in the main demo
[code]

[2016-04-05 22:25] punker76 commented on #2293
@happschinson I added two new dependency properties for `Tile` control: `HorizontalTitleAlignment` and `VerticalTitleAlignment`

[2016-04-05 22:25] #2293 closed

[2016-04-06 00:04] feinstein opened #2458 "Change the Button Desgin"
## What steps will reproduce this issue?

_I added a `Save` and a `Cancel` `Button` to my project, my `Save` `Button` does nothing (for now), and when I click it, it shows a black stroke around it, but it keeps the black stroke after my click is done._

_I don't think it should stay there when it's on `Focus`, with my mouse hovering it. It should go back to what it was before, and not preserve a v

[2016-04-06 06:44] lagwagon667 opened #2459 "MetroDialogSettings not being propagated to ProgressDialog by DialogManager"
## What steps will reproduce this issue?

Call `DialogManagers` `ShowProgressAsync()` method to show a progress dialog and pass settings with `AnimateHide` and `AnimateShow` set to `false`.

### Expected outcome

The progress dialog shows up immediately without animation

### Actual outcome

The progress dialog shows up using an animation

### Reason

The aforementioned `ShowProgressAsync()` metho

[2016-04-06 15:29] MrBramme commented on #2456
Many thanks, I knew I was overlooking something simple. That fixed the issue!

[2016-04-06 15:29] #2456 closed

[2016-04-06 19:00] xavierblue opened #2461 "TextboxHelper property error"
Trying to create a textbox that shows the search button and the clear text button when there is text in the textbox.

![image](https://cloud.githubusercontent.com/assets/18314318/14329171/2912015a-fc08-11e5-8114-ab30ea1493d2.png)

Here is a pic of the error I'm receiving. Am I missing something here? I have Controls defined where it should be and haven't had an issue using it in other ways through

[2016-04-06 19:14] punker76 commented on #2461
@xavierblue Looks good for me. You can try clear bin/obj folders, reopen VS and rebuild complete solution. Make sure you are using the correct dlls (sometimes there are different dlls in bin folder than as reference)

[2016-04-06 19:24] xavierblue commented on #2461
I tried all of that already and just went back and tried everything you listed again and still no luck. I've been at this for a few hours and can't figure out what the issue would be.

[2016-04-06 19:35] xavierblue commented on #2461
I opened up several other projects I'm using MahApps in and am having the same issue.

[2016-04-06 19:47] xavierblue commented on #2461
I figured it out...this was my fault. I put TextboxHelper instead of TextBoxHelper. It's been a long day of coding...

Thanks for your help.

[2016-04-06 19:48] #2461 closed

[2016-04-06 20:19] punker76 commented on #2459
@lagwagon667 fixed now

[2016-04-06 20:19] #2459 closed

[2016-04-07 08:55] collegedude commented on #1512
Since the ValueIncremented and ValueDecremented events are raised before the Value property is changed, I would think the correct names should be ValueIncrementing and ValueDecrementing?

[2016-04-07 09:08] punker76 commented on #2158
@kai33 Is this still an issue for you (latest source or pre-release)? If not then feel free to close this one.

[2016-04-07 13:49] lagwagon667 opened #2462 "Should a click on a MetroTabItems close button really clear the buttons Command and CommandParameter properties?"
## What steps will reproduce this issue?

Use `MetroTabControl` and add `MetroTabItems` with `CloseButtonEnabled`set to `true` and `CloseTabCommand` (of the `MetroTabItem`) bound to a command that triggers a dialog (_"are you sure you want to close...blablabla?"_). When denied, the command does not remove the tab, but `closeButton_Click` in `MetroTabItem.cs` sets the `CloseTabCommand` and `CloseTa

[2016-04-07 13:56] punker76 commented on #2462
@lagwagon667 Just looked at this and think that we maybe doesn't need that. The fix should be checking the CanExecute to false and don't execute the code behind that.

[2016-04-07 14:11] lagwagon667 commented on #2462
I don't think checking `CanExecute` will be sufficient for above use case. If you want to ask the user whether she really wants to close the tab, you can only do this in the `Execute` method. Why do you remove the references to the command and its parameter anyway?

[2016-04-07 14:14] punker76 commented on #2462
@lagwagon667 I don't know, it's old code, must look at this...

[2016-04-07 15:01] SylvainBzh opened #2463 "[accessibility] Dialogs and screen reader"
Dialog control seems no accessible. I test with Jaws screen reader, my dialog is not read (message and title).

Does anyone have a workaround ?

Thanks.

[2016-04-07 19:38] punker76 commented on #2463
@SylvainBzh I don't really know how JAWS works and how it interacts with WPF applications. I'll download it and look how it works, but I can not say if MahApps will works with it...

[2016-04-08 02:43] HupHupscripts opened #2464 "When building my file i cant share it with other people"
## What steps will reproduce this issue?
create a wpf application and send it to a friend
_Write problem description here_
the program wont even open
### Expected outcome
the program wont even open
_Write expected outcome here_
the program wont even open

--
### Environment
C# wpf
- MahApps.Metro __latest__
- Windows __10__
- Visual Studio __2013__
- .NET Framework __4.5__

[2016-04-08 08:31] SylvainBzh commented on #2463
Thank you punker76,
I think the problem starts here : "Since the built-in WPF dialogs are unstyleable, we had to create our own implementation".

I don't know if it may help :
https://msdn.microsoft.com/en-us/windows/desktop/gg712258.aspx

[2016-04-09 20:36] punker76 commented on #2464
@HupHupscripts So do you send all necessary dlls to your friend? Any other infos? Stacktrace?

[2016-04-12 07:16] #2464 closed

[2016-04-12 07:17] punker76 commented on #2453
@beachwalker ?

[2016-04-12 13:23] sergey-tihon commented on #2449
@punker76 Could you please help to fix https://github.com/MahApps/MahApps.Metro/issues/2449#issuecomment-202369247

[2016-04-12 17:55] Hikerakashiya opened #2468 "DialogCoordinator.ShowMessageAsync Button Accent"
## What steps will reproduce this issue?

I am using the DialogCoordinator to display dialogs and I noticed when a dialog is displayed it does not use the colors of my custom theme. I tried setting the MetroDialogSettings and setting ColorScheme, but none of the choices for ColorScheme have an affect on the button colors of the dialog. No matter what I set for the ColorScheme, the OK button was al

[2016-04-12 20:38] punker76 commented on #2449
@sergey-tihon @PavelLvou Here is my testcase with the latest source and using the TitleTemplate instead the RightWindowCommands
[code]
[code]
![2016-04-12_22h04_16](https://cloud.githubusercontent.com/assets/658431/14474798/1a57515a-00ff-11e6-972a-cc9e59461e4d.png)

[2016-04-12 20:43] chris579 opened #2469 "Controls:PackIconMaterial Binding issue"
## What steps will reproduce this issue?

Binding to the Kind Property of Controls:PackIconMaterial doesn't works. The result looks like this:
![image](https://cloud.githubusercontent.com/assets/6552521/14474728/cee88fcc-00fe-11e6-8383-c684f6bb2adc.png)

The code looks like this:
[code]

When changing the property the icon is not changing/updating. This appears in window preview and in the running

[2016-04-12 21:50] thoemmi commented on #2469
The type of the `Icon` property in your view model is wrong. The type of `PackIconMaterial.Kind` is not `string` but `PackIconMaterialKind`.

[2016-04-13 10:35] beachwalker commented on #2453
Still alive... as well as the bug in the latest published pre-releases. ;-)

[2016-04-13 10:52] punker76 commented on #2453
@beachwalker ok, do you maybe mean the "clean window" sytel hover effect, which is shown in the main demo? so maybe you forgot to add the "clean" styles

[code]
![2016-04-13_12h51_47](https://cloud.githubusercontent.com/assets/658431/14491005/841c0b54-0176-11e6-937f-6544f434e4c5.png)

[2016-04-13 10:57] xmedeko opened #2470 "Olive theme looks gray on some notebooks"
## What steps will reproduce this issue?
Use a notebook screen. Start the sample app, switch to the Olive accent.

The theme color looks gray on 4 notebooks I have seen so far. On an external LCS screens it looks fine. It is hard to distinguish enabled/disabled switch, etc..

### Expected outcome
I would expect the Olive accent to have more contrast on the notebooks screens, too.

--
### Environme

[2016-04-13 11:00] punker76 commented on #2470
@xmedeko I don't  think this is MahApps related. You can create your own Olive accent with better contrast value.

[2016-04-13 11:33] xmedeko commented on #2470
It depends on the point of view. E.g. if MahApps would have some localizations and I would report a mistype in German localization. Would you just say create own German localization? I think it's better either to care about colors shipped with MahApps or to remove some accents if they do not look well on common hardware. I know the problems with color are more subjective problems than mistypes. So

[2016-04-13 14:04] punker76 commented on #2470
@xmedeko Don't know if this a good comparison of mistypes in localization and colors. i think colors are subjective, please do not misunderstand me, but if you change this, then another person creates another issue, where he says that the color of this accent is wrong... and yes, I'm also not  enough design skills to say what color is really good and what color is really bad...

[2016-04-13 14:37] xmedeko commented on #2470
Maybe someone with design skill may have shed a light about this? What about @xxMUROxx as the original author of the accent colors from Git history?

Anyway, as I have already said, I understand this is partly subjective problem. I have reported this issue to help the other users of MahApps. Personally, I am OK with switching to another accent. Feel free to close the issue if you like.

[2016-04-13 14:47] chris579 commented on #2469
Thanks for the hint. Now it works.

[2016-04-13 14:47] #2469 closed

[2016-04-13 14:49] xxMUROxx commented on #2470
@xmedeko The colors were not choosen by me. The HEX-code for the colors are the predefined accents for the [Windows Phone Platform].(https://msdn.microsoft.com/library/windows/apps/ff402557(v=vs.105).aspx#BKMK_Supportedthemes)

[2016-04-13 14:56] JinOptimist commented on #2449
@punker76
But here https://github.com/MahApps/MahApps.Metro/issues/2288#issuecomment-200367456
you say use another.
I have a problem, my button in title aren't clickable, because there lays an invisible grid

[2016-04-13 15:00] xmedeko commented on #2470
Interesting, that's a reason not to touch it.
I hope Windows Phones have better screens than my notebook :smiley:

[2016-04-13 15:35] beachwalker commented on #2453
When hovering with the mouse... ![image](https://cloud.githubusercontent.com/assets/2715897/14499312/0d82521e-019e-11e6-8eda-4093b3c6f7b1.png)

[2016-04-13 16:44] punker76 commented on #2453
@beachwalker Can you show us your App.xaml? Do you have some special styles?

[2016-04-13 20:04] #2470 closed

[2016-04-14 07:35] punker76 commented on #2468
@Hikerakashiya This is a little bit tricky and must be explained on main mahapps doku (tba)

The dialogs use there own button styles https://github.com/MahApps/MahApps.Metro/blob/develop/MahApps.Metro/Themes/Dialogs/BaseMetroDialog.xaml#L6-L24

So if you want to override this styles you must create your own res dictionary with the style overrides and put this on the `DialogSettings.CustomResourceD

[2016-04-14 07:37] #2158 closed

[2016-04-14 07:38] punker76 commented on #2434
@GAMP Is this still an issue for you?

[2016-04-14 12:56] Hikerakashiya commented on #2468
@punker76 Thanks for the response. Why can't the dialog inherit the styles from the main overall theme? It does not seem intuitive this way. Also how does the ColorScheme setting work for dialog settings?

[2016-04-14 13:28] punker76 commented on #2468
@Hikerakashiya You maybe totally right, so I'll look at this point. The ColorScheme setting handles e.g. background and foreground brushes...

[2016-04-14 20:27] GAMP commented on #2434
<Style BasedOn="{StaticResource MetroDataGridCell}" TargetType="DataGridCell">
                                    <Setter Property="ma:NumericUpDown.IsReadOnly" Value="{Binding IsBundleProduct}" />
                                </Style>
                            </ma:DataGridNumericUpDownColumn.CellStyle>
Did not resolve the problem. Foreground still remains black when row is selected.

[2016-04-14 20:50] punker76 commented on #2462
@lagwagon667 I fix clearing the commands (I understood now why we does it). But a note, the commands on the MetroTabItem itself are not a good place for doing this what you want. It's better you use the `TabItemClosingEvent` on the MetroTabControl. You can set the Cancel to true if you don't want closing the MetroTabItem.

Hope this helps!

[2016-04-14 20:50] #2462 closed

[2016-04-14 20:52] punker76 commented on #2462
@lagwagon667 I put a refactoring note on my todo list for v2.0, cause I don't like what we do with this command closing stuff.

[2016-04-15 05:15] Krustocious opened #2471 "Flyout from element instead of window"
Hi there,
Not really an issue, more of a question. Is it possible to have Mahapp flyouts come out of elements, such as an edge of a grid? I'm aiming to have a flyout emerge from the top of a grid when prompted, and then slide back down to the top of the grid. I'd like to have the grid visible throughout the whole process, hence why I'd like to fly out from the grid rather than the actual window.

[2016-04-15 09:41] punker76 commented on #2398
@gigios @thoemmi I've still no solution for this (except using try catch).

Maybe it's a Microsoft thing https://connect.microsoft.com/VisualStudio/feedback/details/2115807/windows-application-wpf-spellcheck-isenabled-throws-no-such-interface-supported

[2016-04-15 21:08] #2145 closed

[2016-04-15 21:12] punker76 commented on #2138
@llinyu It's necessary to add the MahApps resources to each window itself to work with multi threads correctly.

[2016-04-15 21:12] #2138 closed

[2016-04-15 21:16] punker76 commented on #2154
@NeomMob Apossible solution can be to remove the default MahApps TitleBar and create all by yourself. You can reuse e.g. the WindowButtonCommands for the min/max/close stuff

[2016-04-15 21:16] #2154 closed

[2016-04-15 21:39] punker76 commented on #2302
@kmetic You can use the [TabItemClosingEvent](https://github.com/MahApps/MahApps.Metro/blob/develop/MahApps.Metro/Controls/MetroTabControl.cs#L75-L81) for such scenarios, simply set the Cancel to true and the TabItem doesn't close.

[2016-04-15 21:39] #2302 closed

[2016-04-15 21:44] #2306 closed

[2016-04-15 22:25] KRSogaard commented on #2306
Sorry for not getting back sooner, yes updating to a newer version fixed the logging problems.

[2016-04-16 21:22] punker76 commented on #2345
@yoave23 There is now a new attached dependency property `TextBoxHelper.ButtonFontSize`. This should also be the last extra attached dp, all other can be changed via `TextBoxHelper.ButtonTemplate`.

[2016-04-16 21:22] #2345 closed

[2016-04-17 11:21] punker76 commented on #1771
@mike-ward @thoemmi So, should MahApps close all open Flyouts on the window closing event? Or should we block the closing like we now do it with open Dialogs?

[2016-04-17 13:34] mike-ward commented on #1771
I don't see value in holding up the close due to open flyouts.

[2016-04-17 15:20] thoemmi commented on #1771
IMHO flyouts are like tool windows or non-modal dialog and should not prevent the main window from closing. If a user of MahApps.Metro wants to suppress the closing he's still able to intercept the `Window.OnClosing` event.
Additionally flyouts shouldn't close automatically when the window is closed. In my feelings they just provide additional secondary space for information/controls. E.g. in Mark

[2016-04-17 18:57] punker76 commented on #1771
@mike-ward @thoemmi I agree with Thomas. Users can do this if they want, so I close this issue now. Regards, Jan

[2016-04-17 18:57] #1771 closed

[2016-04-18 01:41] capsicumDreams opened #2472 "NullReferenceException at MahApps.Metro.Controls.FlipView.FlipView_Loaded in designer"
## What steps will reproduce this issue?

Update to 1.2.4 from 1.2.3
VS Pro 2015 Update 2
Include the code:

    <Controls:FlipView IsBannerEnabled="False">
        <Controls:FlipView.Items>
            <Image Stretch="UniformToFill" Source="/programName;component/Images/DSC_0037.JPG"/>
            <Image Stretch="UniformToFill" Source="/programName;component/Images/qld.jpg"/>
        </Controls:F

[2016-04-18 07:01] xxMUROxx opened #2473 "Cannot use DialogCoordinator from background threads."
## What steps will reproduce this issue?

Call of any method in DialogCoordinator from a background thread does not work

### Expected outcome

Ability to show messages from background threads.

I will provide a PR when needed. In the meantime checkout branch: https://github.com/xxMUROxx/MahApps.Metro/tree/feature/Background-DialogCoordinator

[2016-04-18 09:05] ahmedflix25 opened #2474 "right to left DatePicker"
## What steps will reproduce this issue?
just add new right to left DatePicker
_Write problem description here_
when I make the datepicker flow direction right to left the the control image get flipped too
http://i.imgur.com/XU2o2Sm.png
### Expected outcome

_Write expected outcome here_
http://i.imgur.com/RBl7Fss.png
--
### Environment

- MahApps.Metro __v?.?.?__
1.2.4.0
- Windows __??__
windows

[2016-04-18 09:31] punker76 commented on #2474
@ahmedflix25 I fixed it in 721548b5b0eb55d7de6fe000b06f3d9bdaf08cfd

[2016-04-18 09:31] #2474 closed

[2016-04-18 09:38] punker76 commented on #2472
@capsicumDreams Can you check if this still hapens with the latest pre-release? Cause I've changed some FlipView code. Thx!

[2016-04-18 12:58] capsicumDreams commented on #2472
With **MahApps.Metro.1.3.0-ALPHA132**

It's all good!
Thanks a million @punker76.

[2016-04-18 12:58] #2472 closed

[2016-04-18 16:43] x000000 opened #2475 "Extending BaseLight/BaseDark theme"
I'm trying to extend standart themes, and everything seem good except dialogs' inputs.
When i change theme to the dark one TextBox in the standart input dialog still uses white background.

My test setup looks like that:

CustomLight.xaml (CustomDark.xaml)
[code]

Main window logic
[code]

Screenshots:
![mahlight](https://cloud.githubusercontent.com/assets/1010098/14612007/af3a86b4-059d-11e6-9339-

[2016-04-19 07:48] punker76 commented on #2475
@x000000 Can you try the latest pre-release? And can you show us your custom themes? Thx!

[2016-04-19 07:50] punker76 commented on #2455
@Hikerakashiya Is this still an issue for you?

[2016-04-19 08:53] gigios opened #2476 "MetroWindow OnClosing exception (.Net 4.0)"
It is not clear why but, when I close the main window of my application, I receive an exception because the variable metroActiveDialogContainer is null.
I have checked my code and for each MetroWindow loaded I have the same OnClosing event, but when it is closed the last window I receive an additional OnClosing event where the metroActiveDialogContainer is null.

I have applied this fix (MetroWind

[2016-04-19 09:13] punker76 commented on #2476
@gigios I've added this check in a96b15de47797fca4e9f3c959695fb973696cbd8. This could happen if the window is not loaded, so the metroActiveDialogContainer is at the closing event null.

[2016-04-19 09:13] #2476 closed

[2016-04-19 09:17] gigios commented on #2476
Very fast :)
Thanks

[2016-04-19 09:23] punker76 commented on #2221
@bloritsch Thx for publishing your code! You should maybe put this in a gist. I'll close this, cause I think it's non MahApps.

[2016-04-19 09:23] #2221 closed

[2016-04-19 09:39] punker76 commented on #2242
@thoemmi I'm with your second solution with an additional property on `MultiFrameImage`, cause we can...
- use
```xaml `IconBitmapScalingMode` and `IconEdgeMode` on `MetroWindow`
RenderOptions.BitmapScalingMode="{Binding IconBitmapScalingMode, Mode=OneWay, RelativeSource={RelativeSource FindAncestor, AncestorType={x:Type Controls:MetroWindow}}}"
RenderOptions.EdgeMode="{Binding IconEdgeMode, Mode=

[2016-04-19 11:01] bloritsch commented on #2242
Works for me.  Explicitly setting the height and width in the icon area affects the size of the icon in the task bar, but that's essentially what we ended up doing for the time being.

[2016-04-19 21:38] punker76 commented on #2339
@gigios The glow is now also available if `UseNoneWindowStyle` is set to true. 7ca466655ec705c70f44d1a7ef01b5da8f5bf4a7

[2016-04-19 21:38] #2339 closed

[2016-04-19 21:51] punker76 opened #2477 "Create a custom Thumb for the title DragMove"
## What steps will reproduce this issue?

Some users have some problems with the current drag move solution of MahApps which uses a normal Thumb. The problem is that the Thumb is consuming the mouse down events and don't allow other mouse actions like custom title bars with buttons...

### Expected outcome

This should be allowed! :-D So try create a custom Thumb that handles user mouse actions.

[2016-04-20 10:12] BMXerDan opened #2478 "DefaultButtonFocus"
## What steps will reproduce this issue?

_Write problem description here_

### Expected outcome

_Write expected outcome here_

--
### Environment

- MahApps.Metro __v?.?.?__
- Windows __??__
- Visual Studio __20xx__
- .NET Framework __?.?__

[2016-04-20 10:20] #2478 closed

[2016-04-20 10:30] BMXerDan opened #2479 "DefaultButtonFocus Not Working As Expected"
## What steps will reproduce this issue?

Creating a Metro dialog as below:

MetroDialogSettings mds2 = new MetroDialogSettings();
mds2.ColorScheme = MetroDialogColorScheme.Accented;
mds2.DefaultButtonFocus = MessageDialogResult.Negative;
mds2.AffirmativeButtonText = "Yes";
mds2.NegativeButtonText = "No";
MessageDialogStyle Style2 = MessageDialogStyle.AffirmativeAndNegative;

var result = await th

[2016-04-20 16:37] davidefu commented on #1823
hi,
strange issue in the last alpha version 1.3.0.134
if i create a window with style: none, resizemode: noresize, state: Maximized the window ignore the window taskbar and overlap.
but there is a way to resize the window with the shortcut windows + down arrow
if i force in the windowstatechanged event the maximized state, the window is not fully maximized.

By the way wich is the correct way to c

[2016-04-21 15:28] amoamare commented on #2388
This is working as intended on my setup with windows 10, later I will test windows 7 machine.
Across 2,3,6 monitors fine. Although windows 10 has snap features but it's working as intended.

[2016-04-21 15:32] amoamare opened #2480 "Windows 10 SplitView"
Would like to see new control similar to the windows 10 SplitView example here:
https://blogs.msdn.microsoft.com/quick_thoughts/2015/06/01/windows-10-splitview-build-your-first-hamburger-menu/

Would be great addition the controls already available.

[2016-04-21 20:14] x000000 commented on #2475
Latest pre-release acts the same way.
Custom theme is CustomLight.xaml / CustomDark.xaml listed above. It's literaly just "MergedDictionary" of original theme.

[2016-04-21 21:01] punker76 commented on #2475
@x000000 your custom resource dictionaries must contains all brushes and colors like in BaseLight or BaseDark.

[2016-04-21 21:03] punker76 commented on #2475
@x000000 here is a good sample solution https://github.com/punker76/code-samples/tree/master/MahAppsMetroThemesSample with this [custom theme](https://github.com/punker76/code-samples/blob/master/MahAppsMetroThemesSample/MahAppsMetroThemesSample/CustomAccents/CustomTheme.xaml)

[2016-04-21 21:13] x000000 commented on #2475
If i have to re-define all resources then it's not an extension of a theme, it's just new theme from a scratch. But if there is no other way then i'll do it as you suggest.

[2016-04-21 21:19] punker76 commented on #2475
@x000000 Yeah, you're right. Maybe this can be even made better, but for now it works since months... maybe for v2.0...

[2016-04-21 21:22] punker76 commented on #2479
It's time for using the [KeyboardNavigationHack](https://github.com/punker76/KeyboardNavigationHack) :smile:

[2016-04-22 11:51] PavelLvou commented on #2449
Hi, can you answer, is it possible avoid both of problems, please?
If I use TitleTemplate, than I can't use button into Title. Here [example](https://github.com/MahApps/MahApps.Metro/issues/2288#issuecomment-200367456)
If I use RightWindowCommands, than I have problem with layout.

[2016-04-22 14:38] aluran commented on #2093
Could you please paste the full code that is showing how we can position the valisation popup.
Is it possible to show it below the textbox.

[2016-04-22 20:19] djmiller9975 commented on #2068
AllowsTransparency="False" doesn't work with WindowsFormsHost.  I also tried the solution to role my own window with adding.
                      xmlns:i="http://schemas.microsoft.com/expression/2010/interactivity"
                      xmlns:Behaviours="clr-namespace:MahApps.Metro.Behaviours;assembly=MahApps.Metro"
and adding
 <i:Interaction.Behaviors>
        <Behaviours:BorderlessWindowBehavio

[2016-04-22 20:41] djmiller9975 commented on #727
I'm trying your solution above and VS tells me that AllowsTransparency is not recognized or inaccessible.  It doesn't let me pick anything after BorderlessWindowBehavior

[2016-04-23 11:29] dxdx347 opened #2482 "How To Darken Tile Background Color On Mouse Over?"
I want to obtain a tile highlighting effect (darken background color) on MouseOver by using a style. I have code that works only if I don't set the tile background color in designer, and I want it to work in this case also. See detailed description [here](http://stackoverflow.com/questions/36696359/how-to-lighten-darken-tile-background-color-on-mouse-over).

## What steps will reproduce this issue

[2016-04-24 16:59] RayMeOut opened #2483 "Window maximizing doesn't work when AllowsTransparency set to true"
I have experienced a bit a weird behavior of the MahApps Window when I set the `AllowsTransparency` to true. What I am doing is to set the Opacity of the whole window to 0.4 when the mouse leaves the window. When the mouse returns to the window area, the opacity is set back to a value of 1.0.

This works fine unless I want to maximize the MahApps window. It doesn't maximize, but makes a weird blue

[2016-04-24 19:26] punker76 commented on #2482
@dxdx347 I suggest you to override the style for the Tile and use your converter at the ControlTemplate triggers.

![tile](https://cloud.githubusercontent.com/assets/658431/14769852/8c25fcde-0a62-11e6-918a-f690de48c8ef.gif)

[code]

[2016-04-25 08:20] punker76 commented on #2483
@RayMeOut I tested this out with the latest source and can't reproduce this. So, please take the latest pre-release via NuGet, maybe this is fixed for you, thx!

![2016-04-25 10h17_21](https://cloud.githubusercontent.com/assets/658431/14777728/3e05ef92-0acf-11e6-9081-8bf12fa5a56c.gif)

[2016-04-25 11:04] i-yotov opened #2484 "Error messages for missing .cs files during debugging"
Hi, I'm having issues when debugging (stepping).

For example, if I call this.InitializeComponent() for a Page, this is shown:
![1](https://cloud.githubusercontent.com/assets/15329949/14781925/3fb82444-0aee-11e6-8ee2-37d8c0c95d18.jpg)
![2](https://cloud.githubusercontent.com/assets/15329949/14781927/431b01a6-0aee-11e6-8dcc-81f6539a0d3a.jpg)

plus a couple more error messages for other .cs files.

[2016-04-25 11:49] punker76 commented on #2484
@i-yotov MahApps uses [GitLink](https://github.com/GitTools/GitLink) for pdb files. But the 1.2.4 pdb files doesn't. So you have 2 options for debug settings
- check "Just my Code"
- or use the pre-release and enable "Enable source server support" and as an option uncheck "Just my Code"

[2016-04-25 12:32] dxdx347 commented on #2482
@punker76 Thank you! This solves my problem. However, I had to write `HorizontalAlignment` and `VerticalAlignment` instead of `HorizontalTitleAlignment` and `VerticalTitleAlignment`, because of "member not recognized or not accessible error". Also, I had to remove first MultiDataTrigger condition, because of "namespace prefix converters not defined" error.

[2016-04-25 12:36] punker76 commented on #2482
@dxdx347 Ok, yeah, I just copied this from the latest source (pre-release) of MahApps.

[2016-04-25 12:36] #2482 closed

[2016-04-25 15:31] RayMeOut commented on #2483
Hey @punker76
Thank you for your response. I've tried your suggestion and installed 1.3.0-ALPHA (136), but the behavior is still there... :/ I've also tried a new project but the result was the same.
But this miss-displaying only appears when i try to maximize the window, not when only using half of the screen (Did you try that as well to reproduce?).
And the new project i created only contains th

[2016-04-25 18:37] punker76 commented on #2483
@RayMeOut Is you Win 8.1 running inside a VM? or normal PC? Do you have a chance to test it on a different os?

[2016-04-25 18:42] punker76 commented on #2449
@PavelLvou @JinOptimist The problem is the introduced thumb for drag&move, it will be fixed with https://github.com/MahApps/MahApps.Metro/issues/2477

[2016-04-25 18:54] punker76 commented on #1823
@davidefu Is this a normal running Win10? or is it inside a VM?

You can use `IsWindowDraggable="False"` instead doing this

[code]

Here is the working xaml (without any code behind stuff) that works here on my win 7 prof 64 bit machine

[code]

[2016-04-25 19:04] punker76 commented on #1823
@davidefu by the way, the shortcut windows + down arrow is normal behavior in win 10, just tested it out with normal window instead MetroWindow.

And, I take your sample with my changes and run it inside VMWare with Win10... and it works :-(

![2016-04-25_21h03_06](https://cloud.githubusercontent.com/assets/658431/14795523/2b13639c-0b29-11e6-88c6-fa6891cfd142.png)

![2016-04-25_21h03_22](https://c

[2016-04-25 20:47] RayMeOut commented on #2483
@Punker76 My Win is running normal on a pc (not inside a vm). I've startet the .exe on another computer  (but also Win 8.1) and there was the same "error"

[2016-04-25 21:05] punker76 commented on #2483
@RayMeOut ok, thx. seems like a Win8.1 issue :-(

[2016-04-26 07:52] davidefu commented on #1823
hi,
i'm on a normal windows 10 on a surface pro 4 (so with 175% or 200% of zoom)
i tried with your code, but i don't understand how to make the window maximized without overlap the taskbar.
so is there a way to override the behavior of the windows + down arrow?
if i force (with the code you saw on statechanged event) the maximized state the window appears with the border around it.
same issue if i

[2016-04-26 09:01] punker76 commented on #1823
ok, i'll try on my VM and PC this setting with Win 10, but not with a surface, that's not my price class :-)

taskbar issue is (should be) fixed with MahApps.Metro 1.3.0-ALPHA137

i don't know, maybe you can prevent the keys in preview key events

setting the maximized state in the state event is not a good idea

yeah maybe this is an issue with your settings of the dpi zoom...

[2016-04-26 09:25] i-yotov commented on #2484
@punker76 Do you know if there's a way to fool VS's internet connection check? The "Enable source server support" option is not included in VS Express.

[2016-04-26 09:37] RayMeOut commented on #2483
@Punker76 ok, I will try this on a Win10 pc, but I need to wait until this evening, because I cannot access my code at my workplace. And neither I have VS.

[2016-04-26 09:38] punker76 commented on #2484
@i-yotov if the nuget package manager works then internet shoudl be work. Maybe the "Enable source server support" is available in VS Community 2015

[2016-04-26 10:16] davidefu commented on #1823
great. l'll be happy to test the next release

[2016-04-26 10:30] punker76 commented on #1823
@davidefu by the way `ResizeMode="NoResize"` and `WindowState="Maximized"` are not good friends! doesn't working with normal windows too!

[2016-04-26 15:28] davidefu commented on #1823
@punker76 now in the alpha 137 resizemode="NoResize" and WindowState="Maximized" seems to be good friends also with high dpi monitor. Thanks a lot for the support.
Extra chapter:
with this code i was able to override the windows + down arrow

`private const int WM_SYSCOMMAND = 0x0112;
        private const int SC_RESTORE = 0xF120;

        protected override void OnSourceInitialized(EventArgs e)

[2016-04-26 16:56] RayMeOut commented on #2483
Hey @Punker76, I tried the application on another PC with Win10 running and it was working without problems. You were right, it is at least a Win8.1 issue... :/ (But only with MahApps, a "normal" app with the default window was working normal) :/ Would it be possible to get this working in the (near) future (next releases)? Would be glad to use this feature also on Win8.1... :) Thanks and regards

[2016-04-26 20:38] DavidIQ opened #2485 "Hiding close button and title leaves blank space in top-positioned flyouts"
## What steps will reproduce this issue?

When setting TitleVisibility and CloseButtonVisibility so that they don't show the space where the two controls are supposed to show on the left of a top-positioned fly-out is still displayed on the flyout.  This is because dpHeader is still present and has a margin applied to it even though nothing is displaying inside of it:
![image](https://cloud.github